Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/config, area/guest, area/env, area/filesystem, area/build, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/api, area/cloud, area/lifecycle-management, area/frontend, area/ci, area/workflow

restore easter egg feature in diff command (#3388)
  pkg/buildah/diff.go
Labels: area/buildah, area/lifecycle-management

restore easter egg feature in diff command (#3388)
  pkg/buildah/diff.go
Labels: area/buildah, area/lifecycle-management

fisrt-code
  docs/4.0/docs/first-code/How to Run Your First Go Code on Sealos.md
  docs/4.0/docs/first-code/How to Run Your First Java Code on Sealos.md
  docs/4.0/docs/first-code/How to run your first Node.js code on Sealos.md
  docs/4.0/docs/first-code/images/java-example-10.png
  docs/4.0/docs/first-code/images/java-example-11.png
  docs/4.0/docs/first-code/images/java-example-3.png
  docs/4.0/docs/first-code/images/java-example-4.png
Labels: kind/documentation, area/cloud

docs(main): upgrade version for kubeadm
  .github/workflows/e2e_test_core.yml
  go.work.sum
  pkg/apply/gen.go
  pkg/checker/cluster_checker.go
  pkg/client-go/kubernetes/attribute.go
  pkg/client-go/kubernetes/expansion.go
  pkg/client-go/kubernetes/expansion_test.go
  pkg/guest/guest.go
  pkg/runtime/defaults/default_kubeadm_config.go
  pkg/runtime/defaults/v125/default_kubeadm_config.go
  pkg/runtime/defaults/v127/default_kubeadm_config.go
  pkg/runtime/kubeadm.go
  pkg/runtime/kubeadm_config.go
  pkg/runtime/kubeadm_config_test.go
  pkg/runtime/runtime.go
  pkg/runtime/runtime_getter.go
  pkg/runtime/update_cert.go
  pkg/runtime/upgrade.go
  pkg/runtime/utils.go
  pkg/utils/maps/maps.go
  test/e2e/apply_docker_test.go
  test/e2e/apply_other_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/images_buildrun_feature_test.go
  test/e2e/images_buildrun_test.go
  test/e2e/images_test.go
  test/e2e/run_docker_test.go
  test/e2e/run_other_test.go
  test/e2e/runtime_version_119_test.go
  test/e2e/runtime_version_120_test.go
  test/e2e/runtime_version_121_test.go
  test/e2e/runtime_version_122_test.go
  test/e2e/runtime_version_123_test.go
  test/e2e/runtime_version_124_test.go
  test/e2e/runtime_version_125_test.go
  test/e2e/runtime_version_126_test.go
  test/e2e/runtime_version_127_test.go
Labels: area/test, area/guest, area/apply, area/check, area/runtime, area/lifecycle-management, area/workflow

Update frontend deploy update strategy.
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/adminer/deploy/manifests/deploy.yaml
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/bytebase/deploy/manifests/deploy.yaml
  frontend/providers/costcenter/deploy/manifests/deploy.yaml
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/imagehub/deploy/manifests/deploy.yaml
  frontend/providers/terminal/deploy/manifests/deploy.yaml
  frontend/static-cdn/deploy/manifest.yaml
Labels: area/frontend

docs(main): upgrade version for kubeadm (#3371)
  .github/workflows/e2e_test_core.yml
  go.work.sum
  pkg/apply/gen.go
  pkg/checker/cluster_checker.go
  pkg/client-go/kubernetes/attribute.go
  pkg/client-go/kubernetes/expansion.go
  pkg/client-go/kubernetes/expansion_test.go
  pkg/guest/guest.go
  pkg/runtime/defaults/default_kubeadm_config.go
  pkg/runtime/defaults/v125/default_kubeadm_config.go
  pkg/runtime/defaults/v127/default_kubeadm_config.go
  pkg/runtime/kubeadm.go
  pkg/runtime/kubeadm_config.go
  pkg/runtime/kubeadm_config_test.go
  pkg/runtime/runtime.go
  pkg/runtime/runtime_getter.go
  pkg/runtime/update_cert.go
  pkg/runtime/upgrade.go
  pkg/runtime/utils.go
  pkg/utils/maps/maps.go
  test/e2e/apply_docker_test.go
  test/e2e/apply_other_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/images_buildrun_feature_test.go
  test/e2e/images_buildrun_test.go
  test/e2e/images_test.go
  test/e2e/run_docker_test.go
  test/e2e/run_other_test.go
  test/e2e/runtime_version_119_test.go
  test/e2e/runtime_version_120_test.go
  test/e2e/runtime_version_121_test.go
  test/e2e/runtime_version_122_test.go
  test/e2e/runtime_version_123_test.go
  test/e2e/runtime_version_124_test.go
  test/e2e/runtime_version_125_test.go
  test/e2e/runtime_version_126_test.go
  test/e2e/runtime_version_127_test.go
Labels: area/test, area/guest, area/apply, area/check, area/runtime, area/lifecycle-management, area/workflow

docs(main): upgrade version for kubeadm (#3371)
  .github/workflows/e2e_test_core.yml
  go.work.sum
  pkg/apply/gen.go
  pkg/checker/cluster_checker.go
  pkg/client-go/kubernetes/attribute.go
  pkg/client-go/kubernetes/expansion.go
  pkg/client-go/kubernetes/expansion_test.go
  pkg/guest/guest.go
  pkg/runtime/defaults/default_kubeadm_config.go
  pkg/runtime/defaults/v125/default_kubeadm_config.go
  pkg/runtime/defaults/v127/default_kubeadm_config.go
  pkg/runtime/kubeadm.go
  pkg/runtime/kubeadm_config.go
  pkg/runtime/kubeadm_config_test.go
  pkg/runtime/runtime.go
  pkg/runtime/runtime_getter.go
  pkg/runtime/update_cert.go
  pkg/runtime/upgrade.go
  pkg/runtime/utils.go
  pkg/utils/maps/maps.go
  test/e2e/apply_docker_test.go
  test/e2e/apply_other_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/images_buildrun_feature_test.go
  test/e2e/images_buildrun_test.go
  test/e2e/images_test.go
  test/e2e/run_docker_test.go
  test/e2e/run_other_test.go
  test/e2e/runtime_version_119_test.go
  test/e2e/runtime_version_120_test.go
  test/e2e/runtime_version_121_test.go
  test/e2e/runtime_version_122_test.go
  test/e2e/runtime_version_123_test.go
  test/e2e/runtime_version_124_test.go
  test/e2e/runtime_version_125_test.go
  test/e2e/runtime_version_126_test.go
  test/e2e/runtime_version_127_test.go
Labels: area/test, area/guest, area/apply, area/check, area/runtime, area/lifecycle-management, area/workflow

Add an example of how to fast deloy Gitea on Sealos (#3338)
  docs/4.0/docs/examples/gitea/install-gitea.md
  docs/4.0/docs/examples/images/gitea-0.png
  docs/4.0/docs/examples/images/gitea-1.png
  docs/4.0/docs/examples/images/gitea-10.png
  docs/4.0/docs/examples/images/gitea-11.png
  docs/4.0/docs/examples/images/gitea-12.png
  docs/4.0/docs/examples/images/gitea-13.png
  docs/4.0/docs/examples/images/gitea-14.png
  docs/4.0/docs/examples/images/gitea-15.png
  docs/4.0/docs/examples/images/gitea-16.png
  docs/4.0/docs/examples/images/gitea-17.png
  docs/4.0/docs/examples/images/gitea-2.png
  docs/4.0/docs/examples/images/gitea-3.png
  docs/4.0/docs/examples/images/gitea-4.png
  docs/4.0/docs/examples/images/gitea-5.png
  docs/4.0/docs/examples/images/gitea-6.png
  docs/4.0/docs/examples/images/gitea-7.png
  docs/4.0/docs/examples/images/gitea-8.png
  docs/4.0/docs/examples/images/gitea-9.png
  docs/4.0/i18n/zh-Hans/examples/gitea/install-gitea.md
  docs/4.0/i18n/zh-Hans/examples/images/gitea-0.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-1.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-10.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-11.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-12.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-13.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-14.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-15.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-16.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-17.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-2.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-3.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-4.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-5.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-6.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-7.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-8.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-9.png
Labels: kind/documentation, area/cloud

docs: add install example for tailchat
  README_zh.md
  docs/4.0/docs/examples/images/tailchat/0.png
  docs/4.0/docs/examples/images/tailchat/1.png
  docs/4.0/docs/examples/images/tailchat/10.png
  docs/4.0/docs/examples/images/tailchat/11.png
  docs/4.0/docs/examples/images/tailchat/12.png
  docs/4.0/docs/examples/images/tailchat/13.png
  docs/4.0/docs/examples/images/tailchat/14.png
  docs/4.0/docs/examples/images/tailchat/15.png
  docs/4.0/docs/examples/images/tailchat/16.png
  docs/4.0/docs/examples/images/tailchat/17.png
  docs/4.0/docs/examples/images/tailchat/2.png
  docs/4.0/docs/examples/images/tailchat/3.png
  docs/4.0/docs/examples/images/tailchat/4.png
  docs/4.0/docs/examples/images/tailchat/5.png
  docs/4.0/docs/examples/images/tailchat/6.png
  docs/4.0/docs/examples/images/tailchat/7.png
  docs/4.0/docs/examples/images/tailchat/8.png
  docs/4.0/docs/examples/images/tailchat/9.png
  docs/4.0/docs/examples/social-communication/install-tailchat.md
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/0.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/1.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/10.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/11.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/12.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/13.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/14.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/15.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/16.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/17.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/2.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/3.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/4.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/5.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/6.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/7.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/8.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/9.png
  docs/4.0/i18n/zh-Hans/examples/social-communication/install-tailchat.md
  docs/4.0/sidebar.json
Labels: kind/documentation, area/cloud

docs: add install example for tailchat (#3302)
  README_zh.md
  docs/4.0/docs/examples/images/tailchat/0.png
  docs/4.0/docs/examples/images/tailchat/1.png
  docs/4.0/docs/examples/images/tailchat/10.png
  docs/4.0/docs/examples/images/tailchat/11.png
  docs/4.0/docs/examples/images/tailchat/12.png
  docs/4.0/docs/examples/images/tailchat/13.png
  docs/4.0/docs/examples/images/tailchat/14.png
  docs/4.0/docs/examples/images/tailchat/15.png
  docs/4.0/docs/examples/images/tailchat/16.png
  docs/4.0/docs/examples/images/tailchat/17.png
  docs/4.0/docs/examples/images/tailchat/2.png
  docs/4.0/docs/examples/images/tailchat/3.png
  docs/4.0/docs/examples/images/tailchat/4.png
  docs/4.0/docs/examples/images/tailchat/5.png
  docs/4.0/docs/examples/images/tailchat/6.png
  docs/4.0/docs/examples/images/tailchat/7.png
  docs/4.0/docs/examples/images/tailchat/8.png
  docs/4.0/docs/examples/images/tailchat/9.png
  docs/4.0/docs/examples/social-communication/install-tailchat.md
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/0.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/1.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/10.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/11.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/12.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/13.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/14.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/15.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/16.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/17.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/2.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/3.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/4.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/5.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/6.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/7.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/8.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/9.png
  docs/4.0/i18n/zh-Hans/examples/social-communication/install-tailchat.md
  docs/4.0/sidebar.json
Labels: kind/documentation, area/cloud

build(main): auto renew issue and auto comment body
  .github/workflows/ci-patch-image.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/release.yml
  .github/workflows/services.yml
  scripts/ISSUE_RENEW.md
Labels: area/ci, area/workflow

build(main): auto renew issue and auto comment body (#3393)
  .github/workflows/ci-patch-image.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/release.yml
  .github/workflows/services.yml
  scripts/ISSUE_RENEW.md
Labels: area/ci, area/workflow

build(main): add test docker image
  .github/workflows/e2e_test_core.yml
  test/e2e/runtime_version_docker_119_test.go
  test/e2e/runtime_version_docker_120_test.go
  test/e2e/runtime_version_docker_121_test.go
  test/e2e/runtime_version_docker_122_test.go
  test/e2e/runtime_version_docker_123_test.go
  test/e2e/runtime_version_docker_124_test.go
  test/e2e/runtime_version_docker_125_test.go
  test/e2e/runtime_version_docker_126_test.go
  test/e2e/runtime_version_docker_127_test.go
Labels: area/test, area/workflow

build(main): add test docker image (#3395)
  .github/workflows/e2e_test_core.yml
  test/e2e/runtime_version_docker_119_test.go
  test/e2e/runtime_version_docker_120_test.go
  test/e2e/runtime_version_docker_121_test.go
  test/e2e/runtime_version_docker_122_test.go
  test/e2e/runtime_version_docker_123_test.go
  test/e2e/runtime_version_docker_124_test.go
  test/e2e/runtime_version_docker_125_test.go
  test/e2e/runtime_version_docker_126_test.go
  test/e2e/runtime_version_docker_127_test.go
Labels: area/test, area/workflow

Update frontend deploy update strategy. (#3390)
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/adminer/deploy/manifests/deploy.yaml
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/bytebase/deploy/manifests/deploy.yaml
  frontend/providers/costcenter/deploy/manifests/deploy.yaml
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/imagehub/deploy/manifests/deploy.yaml
  frontend/providers/terminal/deploy/manifests/deploy.yaml
  frontend/static-cdn/deploy/manifest.yaml
Labels: area/frontend

feat: backup
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/backup.ts
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/components/Icon/icons/appType.svg
  frontend/providers/dbprovider/src/components/Icon/icons/connection.svg
  frontend/providers/dbprovider/src/components/Icon/icons/delete.svg
  frontend/providers/dbprovider/src/components/Icon/icons/download.svg
  frontend/providers/dbprovider/src/components/Icon/icons/info.svg
  frontend/providers/dbprovider/src/components/Icon/icons/restore.svg
  frontend/providers/dbprovider/src/components/Icon/index.tsx
  frontend/providers/dbprovider/src/components/Select/index.tsx
  frontend/providers/dbprovider/src/components/Tip/index.tsx
  frontend/providers/dbprovider/src/constants/backup.ts
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/constants/editApp.ts
  frontend/providers/dbprovider/src/constants/theme.ts
  frontend/providers/dbprovider/src/hooks/useConfirm.tsx
  frontend/providers/dbprovider/src/pages/api/backup/create.ts
  frontend/providers/dbprovider/src/pages/api/backup/delBackup.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupTable.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Pods.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/RestoreModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/services/backend/kubernetes.ts
  frontend/providers/dbprovider/src/store/db.ts
  frontend/providers/dbprovider/src/types/backup.d.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/dbprovider/src/utils/tools.ts
Labels: area/frontend

feat: db pricebox
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/platform.ts
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/api/platform/resourcePrice.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/PriceBox.tsx
  frontend/providers/dbprovider/src/services/backend/auth.ts
  frontend/providers/dbprovider/src/store/static.ts
Labels: area/frontend

build(main): auto renew issue and auto comment body (#3393)
  .github/workflows/ci-patch-image.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/release.yml
  .github/workflows/services.yml
  scripts/ISSUE_RENEW.md
Labels: area/ci, area/workflow

unify secret name
  deploy/cloud/manifests/tls-secret.yaml
  deploy/cloud/scripts/init.sh
  frontend/providers/applaunchpad/deploy/Kubefile
  frontend/providers/applaunchpad/src/pages/api/platform/getEnv.ts
  frontend/providers/applaunchpad/src/store/static.ts
Labels: area/frontend, area/ci

unify secret name (#3399)
  deploy/cloud/manifests/tls-secret.yaml
  deploy/cloud/scripts/init.sh
  frontend/providers/applaunchpad/deploy/Kubefile
  frontend/providers/applaunchpad/src/pages/api/platform/getEnv.ts
  frontend/providers/applaunchpad/src/store/static.ts
Labels: area/frontend, area/ci

Update Intro
  docs/4.0/docs/Intro.md
  docs/4.0/docs/platform-components/bytebase/bytebase.md
  docs/4.0/i18n/zh-Hans/Intro.md
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/bytebase.md
Labels: kind/documentation, area/cloud

Update Intro (#3401)
  docs/4.0/docs/Intro.md
  docs/4.0/docs/platform-components/bytebase/bytebase.md
  docs/4.0/i18n/zh-Hans/Intro.md
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/bytebase.md
Labels: kind/documentation, area/cloud

build(main): add sync patch image
  .github/workflows/release.yml
Labels: area/workflow

build(main): add sync patch image (#3398)
  .github/workflows/release.yml
Labels: area/workflow

build(main): add sync patch image (#3398)
  .github/workflows/release.yml
Labels: area/workflow

perf: backup table
  frontend/READMD.md
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/api/backup/delBackup.ts
  frontend/providers/dbprovider/src/pages/api/backup/getBackupList.ts
  frontend/providers/dbprovider/src/pages/api/delDBByName.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupTable.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DelModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Pods.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
Labels: area/frontend

feat: db pod container status
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/components/MyTooltip/index.tsx
  frontend/providers/dbprovider/src/components/PodStatus/index.tsx
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupTable.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Pods.tsx
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
Labels: area/frontend

fix: ts
  frontend/providers/dbprovider/src/pages/db/detail/components/PodDetailModal.tsx
Labels: area/frontend

🤖 add release changelog using rebot.
  CHANGELOG/CHANGELOG-4.2.3.md
  CHANGELOG/CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG/CHANGELOG.md
Labels: none

docs: Automated Changelog Update for v4.2.3 (#3404)
  CHANGELOG/CHANGELOG-4.2.3.md
  CHANGELOG/CHANGELOG.md
Labels: none

refactor(main): delete node for check
  pkg/apply/processor/interface.go
  pkg/apply/processor/scale.go
  pkg/runtime/runtime_getter.go
  pkg/types/v1beta1/cluster_args.go
Labels: area/apply, area/runtime, area/api, area/lifecycle-management

feat(frontend/desktop):login by password
  frontend/desktop/.env
  frontend/desktop/public/images/lock.svg
  frontend/desktop/public/images/person.svg
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh-Hans/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/pages/api/auth/oauth/github/index.ts
  frontend/desktop/src/pages/api/auth/oauth/wechat/index.ts
  frontend/desktop/src/pages/api/auth/password/exist.ts
  frontend/desktop/src/pages/api/auth/password/index.ts
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/pages/api/auth/phone/verify.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/services/backend/db/user.ts
  frontend/desktop/src/services/backend/db/verifyCode.ts
  frontend/desktop/src/services/backend/oauth.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/stores/session.ts
  frontend/desktop/src/types/user.ts
  frontend/desktop/src/utils/crypto.ts
  frontend/desktop/src/utils/tools.ts
Labels: area/frontend

feat: user info metrics
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongodb.go
  metrics/Dockerfile
  metrics/Makefile
  metrics/deploy.yaml
  metrics/metrics-secret.yaml
  metrics/user.go
Labels: area/cloud

refactor(main): delete node for check (#3405)
  pkg/apply/processor/interface.go
  pkg/apply/processor/scale.go
  pkg/runtime/runtime_getter.go
  pkg/types/v1beta1/cluster_args.go
Labels: area/apply, area/runtime, area/api, area/lifecycle-management

refactor(main): delete node for check (#3405)
  pkg/apply/processor/interface.go
  pkg/apply/processor/scale.go
  pkg/runtime/runtime_getter.go
  pkg/types/v1beta1/cluster_args.go
Labels: area/apply, area/runtime, area/api, area/lifecycle-management

refactor(main): fix sa config token
  controllers/user/controllers/helper/kubeconfig/sa.go
Labels: area/cloud

refactor(main): remove usergroup and migrate data
  controllers/user/api/v1/groupversion_info.go
  controllers/user/api/v1/usergroup_webhook.go
  controllers/user/api/v1/usergroupbinding_webhook.go
  controllers/user/api/v1/webhook_suite_test.go
  controllers/user/config/rbac/role.yaml
  controllers/user/config/webhook/manifests.yaml
  controllers/user/controllers/helper/helper.go
  controllers/user/controllers/helper/kubeconfig.go
  controllers/user/controllers/helper/rbac.go
  controllers/user/controllers/migrate/migrate.go
  controllers/user/controllers/user_controller.go
  controllers/user/controllers/usergroup_controller.go
  controllers/user/controllers/usergroupbinding_controller.go
  controllers/user/controllers/usergroupnamespacebinding_controller.go
  controllers/user/controllers/usergroupuserbinding_controller.go
  controllers/user/deploy/Kubefile
  controllers/user/deploy/manifests/deploy.yaml
  controllers/user/main.go
Labels: area/test, area/cloud

refactor(main): fix update always
  controllers/user/.gitignore
  controllers/user/controllers/helper/helper.go
  controllers/user/controllers/namespace_controller.go
  controllers/user/controllers/user_controller.go
  controllers/user/user.env
Labels: area/cloud

refactor(main): add event user rbac
  controllers/user/deploy/manifests/deploy.yaml
Labels: area/cloud

.github/labeler.yml:

#Usage in github: https://github.com/actions/labeler

area/command:
  - any: [ 'cmd/**/*' ]

kind/documentation:
  - any: [ 'docs/**/*' ]

area/qa:
  - 'QA.md'

area/test:
  - '**/*_test.go'
  - 'test/**/*'

area/buildah:
  - any: [ 'pkg/buildah/**/*' ]

area/imageCRIShim:
  - any: [ 'staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
  - any: [ 'staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
  - any: [ 'pkg/bootstrap/**/*' ]

area/clusterfile:
  - any: [ 'pkg/clusterfile/**/*' ]

area/config:
  - any: [ 'pkg/config/**/*' ]
  - any: [ 'pkg/env/**/*' ]
  - any: [ 'pkg/template/**/*' ]

area/guest:
  - any: [ 'pkg/guest/**/*' ]

area/env:
  - any: [ 'pkg/system/**/*' ]

area/filesystem:
  - any: [ 'pkg/filesystem/**/*' ]

area/build:
  - any: [ 'pkg/buildimage/**/*' ]

area/apply:
  - any: [ 'pkg/apply/**/*' ]

area/check:
  - any: [ 'pkg/checker/**/*' ]

area/ipvs:
  - any: [ 'pkg/ipvs/**/*' ]

area/ssh:
  - any: [ 'pkg/ssh/**/*' ]
  - any: [ 'pkg/remote/**/*' ]

area/registry:
  - any: [ 'pkg/registry/**/*' ]

area/runtime:
  - any: [ 'pkg/runtime/**/*' ]

area/api:
  - any: [ 'pkg/types/**/*']
  - any: [ '**/*_types.go' ]

area/cloud:
  - any: [ 'controllers/**/*' ]
  - any: [ 'service/**/*' ]
  - any: ['docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**']
  - any: ['docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**']

area/lifecycle-management:
  - any: [ 'pkg/**/*' ]
  - any: [ 'staging/**/*' ]
  - any: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - any: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]


area/frontend:
  - any: [ 'frontend/**/*' ]

area/ci:
  - 'scripts/**/*'
  - 'docker/**/*'
  - 'deploy/**/*'
  - '.golangci.yml'
  - '.goreleaser.yml'
  - 'Makefile'

area/workflow:
  - any: [ '.github/**/*' ]
