Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/guest, area/env, area/filesystem, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/frontend, area/ci, area/workflow

support_pay_refund
  controllers/pkg/pay/alipay_payment.go
  controllers/pkg/pay/alipay_payment_test.go
  controllers/pkg/pay/interface.go
  controllers/pkg/pay/stripe.go
  controllers/pkg/pay/stripe_payment_test.go
  controllers/pkg/pay/wechat.go
  controllers/pkg/pay/wechat_payment_test.go
Labels: area/test

support_pay_refund
  controllers/pkg/pay/alipay_payment.go
  controllers/pkg/pay/alipay_payment_test.go
  controllers/pkg/pay/stripe.go
  controllers/pkg/pay/stripe_payment_test.go
  controllers/pkg/pay/wechat.go
  controllers/pkg/pay/wechat_payment_test.go
Labels: area/test

support_pay_refund
  controllers/pkg/pay/alipay_payment.go
  controllers/pkg/pay/alipay_payment_test.go
  controllers/pkg/pay/stripe.go
  controllers/pkg/pay/stripe_payment_test.go
  controllers/pkg/pay/wechat.go
  controllers/pkg/pay/wechat_payment_test.go
Labels: area/test

feat(desktop): new signin email design
  frontend/desktop/src/services/backend/sms.ts
Labels: area/frontend

chore: update env file
  frontend/providers/devbox/.env.template
  frontend/providers/devbox/deploy/manifests/deploy.yaml.tmpl
Labels: area/frontend

fix: coin logic bug
  frontend/packages/ui/src/components/icons/CurrencySymbol.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/PriceBox.tsx
  frontend/providers/devbox/public/images/coin.svg
Labels: area/frontend

fix: delete some unused ui
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Network.tsx
  frontend/providers/devbox/components/template/IsPublicField.tsx
Labels: area/frontend

feat(launchpad): use modern clipboard api for copying data
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: area/frontend

fix(launchpad): move hardcoded domain reg link to i18n file
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
Labels: area/frontend

support_pay_refund
  controllers/pkg/pay/alipay_payment.go
  controllers/pkg/pay/alipay_payment_test.go
  controllers/pkg/pay/wechat.go
  controllers/pkg/pay/wechat_payment_test.go
Labels: area/test

refactor(launchpad): use underscore in i18n keys
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/DomainNotBoundModal.tsx
Labels: area/frontend

Feat: support pay refund (#5705)
  controllers/pkg/pay/alipay_payment.go
  controllers/pkg/pay/alipay_payment_test.go
  controllers/pkg/pay/interface.go
  controllers/pkg/pay/stripe.go
  controllers/pkg/pay/stripe_payment_test.go
  controllers/pkg/pay/wechat.go
  controllers/pkg/pay/wechat_payment_test.go
Labels: area/test

fix: some no little bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/DevboxName.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Form.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Monitor.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Release.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/TemplateCard.tsx
  frontend/providers/devbox/app/api/deployDevbox/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/releases/route.ts
  frontend/providers/devbox/components/DatePicker.tsx
  frontend/providers/devbox/components/MonitorChart.tsx
  frontend/providers/devbox/components/RefreshButton.tsx
  frontend/providers/devbox/components/drawers/DeployDevboxDrawer.tsx
  frontend/providers/devbox/components/drawers/UpdateTemplateDrawer.tsx
  frontend/providers/devbox/stores/devbox.ts
Labels: area/frontend

fix: bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Basic.tsx
Labels: area/frontend

chore: update version
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/package.nls.zh-CN.json
Labels: none

chore: update version (#5707)
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/package.nls.zh-CN.json
Labels: none

fix(desktop): send button in change phone/email form not disabled when on timer (#5702)
  frontend/desktop/src/components/account/AccountCenter/SmsModify/SmsChange.tsx
Labels: area/frontend

fix: little style bug
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/(home)/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Runtime.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Basic.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/layout.tsx
  frontend/providers/devbox/components/RefreshButton.tsx
  frontend/providers/devbox/components/providers/MyRouteHandlerProvider.tsx
  frontend/providers/devbox/stores/global.ts
Labels: area/frontend

fix: network show bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/DevboxName.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Yaml.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
Labels: area/frontend

fix: style adjust
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Header.tsx
  frontend/providers/devbox/app/api/restartDevbox/route.ts
  frontend/providers/devbox/components/Code.tsx
  frontend/providers/devbox/components/ScriptCode.tsx
Labels: area/frontend

fix: style bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Form.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/PriceBox.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
Labels: area/frontend

fix: icon bug
  frontend/packages/ui/src/components/icons/CurrencySymbol.tsx
Labels: area/frontend

frontend
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/RechargeModal.tsx
Labels: area/frontend

pay active
  controllers/pkg/database/cockroach/accountv2.go
Labels: none

fix: handle back bug
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Header.tsx
Labels: area/frontend

fix: template bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Runtime.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PublicTemplate.tsx
Labels: area/frontend

feat(template): organize k8s api operations
  frontend/providers/template/src/services/backend/operations.ts
Labels: area/frontend

add time filtering active users
  controllers/pkg/database/cockroach/accountv2.go
Labels: none

fix: toggle tag bug
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PublicTemplate.tsx
Labels: area/frontend

chore: adjust typo
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Release.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/page.tsx
  frontend/providers/devbox/hooks/driver.tsx
  frontend/providers/devbox/stores/guide.ts
Labels: area/frontend

fix: style adjust
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/LiveMonitoring.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Release.tsx
Labels: area/frontend

feat: adjust detail style
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Release.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/page.tsx
Labels: area/frontend

update activity rules (#5708)
  controllers/pkg/database/cockroach/accountv2.go
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/RechargeModal.tsx
Labels: area/frontend

feat: add devbox daemon
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/cmd/main.go
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
  controllers/devbox/internal/controller/utils/matcher/matcher.go
  controllers/devbox/internal/daemon/devbox_daemon.go
Labels: none

fix: monitor style adjust
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Monitor.tsx
Labels: area/frontend

fix: some little bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Release.tsx
  frontend/providers/devbox/components/dialogs/ReleaseDialog.tsx
  frontend/providers/devbox/hooks/useControlDevbox.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/utils/validate.ts
Labels: area/frontend

chore: remove unused code
  frontend/providers/devbox/components/drawers/EditTemplateRepositoryDrawer.tsx
Labels: area/frontend

fix (#5678)
  service/account/api/subscription.go
Labels: none

fix: template create and update bug
  frontend/providers/devbox/components/drawers/CreateTemplateDrawer.tsx
  frontend/providers/devbox/components/drawers/EditTemplateRepositoryDrawer.tsx
  frontend/providers/devbox/components/template/TagsField.tsx
  frontend/providers/devbox/components/ui/drawer.tsx
  frontend/providers/devbox/components/ui/separator.tsx
Labels: area/frontend

fix: template version bug
  frontend/providers/devbox/components/drawers/UpdateTemplateDrawer.tsx
Labels: area/frontend

.github/labeler.yml:

# Usage in github: https://github.com/actions/labeler (v5 syntax)

area/command:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/cmd/**/*' ]

kind/documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**/*' ]

area/qa:
- changed-files:
  - any-glob-to-any-file: [ 'QA.md' ]

area/test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - 'lifecycle/test/**/*'

area/buildah:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/buildah/**/*' ]

area/imageCRIShim:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/bootstrap/**/*' ]

area/clusterfile:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/clusterfile/**/*' ]

area/config:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/config/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/env/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/template/**/*' ]

area/guest:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/guest/**/*' ]

area/env:
# Note: 'env' here refers to 'lifecycle/pkg/system/**/*' from the original file
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/system/**/*' ]

area/filesystem:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/filesystem/**/*' ]

area/apply:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/apply/**/*' ]

area/check:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/checker/**/*' ]

area/ipvs:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ipvs/**/*' ]

area/ssh:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ssh/**/*' ]

area/registry:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/registry/**/*' ]

area/runtime:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/runtime/**/*' ]

area/api:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/types/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/**/*_types.go' ]

area/cloud:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'controllers/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'service/**/*' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**' ]

area/lifecycle-management:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/staging/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]

area/frontend:
- changed-files:
  - any-glob-to-any-file: [ 'frontend/**/*' ]

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'lifecycle/scripts/**/*'
    - 'lifecycle/docker/**/*'
    - 'deploy/**/*'
    - '.golangci.yml'
    - 'lifecycle/.goreleaser.yml'
    - 'lifecycle/Makefile'

area/workflow:
- changed-files:
  - any-glob-to-any-file: [ '.github/**/*' ]
