Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/guest, area/env, area/filesystem, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/frontend, area/ci, area/workflow

fix(desktop): captcha timer starts before code was sent
  frontend/desktop/public/locales/en/v2.json
  frontend/desktop/public/locales/zh/v2.json
  frontend/desktop/src/components/v2/EmailCheck.tsx
Labels: area/frontend

feat(desktop): clear input field and error state when resending sms
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/desktop/src/components/v2/PhoneCheck.tsx
Labels: area/frontend

fix(desktop): page state not reset on account settings modal close
  frontend/desktop/src/components/account/AccountCenter/index.tsx
Labels: area/frontend

fix(desktop): incorrect title on email/phone change/binding/unbinding modal
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/account/AccountCenter/index.tsx
Labels: area/frontend

devbox state chanage handler
  controllers/devbox/cmd/main.go
  controllers/devbox/go.mod
  controllers/devbox/go.sum
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/containerd/containerd.go
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/devbox_daemon.go
  controllers/devbox/internal/controller/helper/devbox.go
  controllers/devbox/internal/controller/state_change_handler.go
  controllers/go.work.sum
Labels: none

chore(desktop): clean up filterCf
  frontend/desktop/src/pages/api/auth/email/unbind/sms.ts
  frontend/desktop/src/pages/api/auth/phone/bind/sms.ts
  frontend/desktop/src/pages/api/auth/phone/unbind/sms.ts
Labels: area/frontend

feat: basic zod openapi
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/src/api/openapi.ts
  frontend/providers/applaunchpad/src/api/schema.ts
  frontend/providers/applaunchpad/src/pages/app/reference/page.tsx
Labels: area/frontend

update api
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/src/api/openapi.ts
  frontend/providers/applaunchpad/src/api/schema.ts
  frontend/providers/applaunchpad/src/components/app/detail/logs/Header.tsx
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/createApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/delAppByName.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getAppByAppName.ts
  frontend/providers/applaunchpad/src/pages/reference.tsx
  frontend/providers/applaunchpad/src/utils/adapt.ts
Labels: area/frontend

fix swc error
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getAppByAppName.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: area/frontend

update
  frontend/providers/workorder/public/locales/zh/common.json
Labels: area/frontend

add getApps
  frontend/providers/applaunchpad/src/api/openapi.ts
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getApps.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: area/frontend

update
  frontend/providers/applaunchpad/public/openapi.json
Labels: area/frontend

update workorder
  frontend/providers/workorder/public/locales/en/common.json
  frontend/providers/workorder/public/locales/zh/common.json
  frontend/providers/workorder/src/pages/workorders/index.tsx
Labels: area/frontend

refactor: rename api to v1
  frontend/providers/applaunchpad/src/pages/api/v1/createApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/delAppByName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/getAppByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/getAppPodsByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/getApps.ts
  frontend/providers/applaunchpad/src/pages/api/v1/getPodsMetrics.ts
  frontend/providers/applaunchpad/src/pages/api/v1/updateReplica.ts
Labels: area/frontend

update lock
  frontend/pnpm-lock.yaml
Labels: area/frontend

devbox state chanage handler
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/cmd/main.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/config/rbac/role.yaml
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/state_change_handler.go
Labels: none

chore(desktop): minor i18n phrase casing fix
  frontend/desktop/public/locales/en/common.json
Labels: area/frontend

feat(costcenter): show bonus amount in topup records table
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/billing/RechargeTabPanel.tsx
  frontend/providers/costcenter/src/constants/billing.ts
Labels: area/frontend

chore: add network limit
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Network.tsx
Labels: area/frontend

feat: hide log
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Sidebar.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/page.tsx
Labels: area/frontend

fix(template): apiv1 kubeconfig parsing error not correctly handled
  frontend/providers/template/src/pages/api/v1/instance/[instanceName].ts
Labels: area/frontend

fix(desktop): email/phone binding/unbinding ux improvments (#5717)
  frontend/desktop/package.json
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/en/v2.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/public/locales/zh/v2.json
  frontend/desktop/src/components/account/AccountCenter/index.tsx
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/desktop/src/components/v2/PhoneCheck.tsx
  frontend/desktop/src/pages/api/auth/email/bind/sms.ts
  frontend/desktop/src/pages/api/auth/email/unbind/sms.ts
  frontend/desktop/src/pages/api/auth/phone/bind/sms.ts
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/pages/api/auth/phone/unbind/sms.ts
  frontend/pnpm-lock.yaml
Labels: area/frontend

update
  frontend/providers/applaunchpad/src/api/openapi.ts
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/pages/api-docs.tsx
  frontend/providers/applaunchpad/src/pages/api/v1/getAppByAppName.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
Labels: area/frontend

feat(database): database api v1 create/modify
  frontend/providers/dbprovider/src/pages/api/v1/database.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName].ts
Labels: area/frontend

fix: style bug
  frontend/pnpm-lock.yaml
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/LiveMonitoring.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
Labels: area/frontend

Update LICENSE
  LICENSE
Labels: none

Update LICENSE
  LICENSE
Labels: none

fix(main): validate kubeadm config files before pulling images (#5715)
  .github/workflows/e2e_test_core.yml
  lifecycle/pkg/runtime/kubernetes/master.go
  lifecycle/test/e2e/k8s_129_test.go
  lifecycle/test/e2e/k8s_130_test.go
  lifecycle/test/e2e/k8s_131_test.go
  lifecycle/test/e2e/k8s_132_test.go
  lifecycle/test/e2e/k8s_docker_129_test.go
  lifecycle/test/e2e/k8s_docker_130_test.go
  lifecycle/test/e2e/k8s_docker_131_test.go
  lifecycle/test/e2e/k8s_docker_132_test.go
Labels: area/test, area/runtime, area/workflow

Commit
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/go.mod
  controllers/devbox/go.sum
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/const.go
  controllers/devbox/internal/controller/state_change_handler.go
Labels: none

chore(database): configure zod and api docs related deps
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/package.json
Labels: area/frontend

feat(database): add api v1 documents
  frontend/providers/dbprovider/src/pages/api-docs.tsx
  frontend/providers/dbprovider/src/pages/api/v1/openapi.ts
  frontend/providers/dbprovider/src/types/apis/create-database.ts
  frontend/providers/dbprovider/src/types/apis/index.ts
  frontend/providers/dbprovider/src/types/apis/update-database.ts
  frontend/providers/dbprovider/src/types/schemas/backup.ts
  frontend/providers/dbprovider/src/types/schemas/db.ts
Labels: area/frontend

feat(database): api v1 create/update database
  frontend/providers/dbprovider/src/pages/api/v1/database.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName].ts
Labels: area/frontend

add pods limit, default: 20
  controllers/pkg/resources/resources.go
Labels: none

fix: yaml typo bug
  frontend/providers/devbox/deploy/manifests/deploy.yaml.tmpl
Labels: area/frontend

chore: document url not hard-coding
  frontend/providers/devbox/.env.template
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/Header.tsx
  frontend/providers/devbox/app/api/getEnv/route.ts
  frontend/providers/devbox/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/devbox/stores/env.ts
  frontend/providers/devbox/types/static.d.ts
Labels: area/frontend

chore: reference path ->api-docs
  frontend/providers/devbox/app/api-docs/layout.tsx
  frontend/providers/devbox/app/api-docs/page.tsx
Labels: area/frontend

add pods limit, default: 20 (#5724)
  controllers/pkg/resources/resources.go
Labels: none

feat(launchpad): design & ux catchup for domain verif form
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
Labels: area/frontend

support_pay_refund
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/pay/interface.go
  controllers/pkg/pay/wechat.go
  controllers/pkg/types/payment.go
  service/account/api/admin.go
  service/account/dao/interface.go
  service/account/helper/common.go
  service/account/router/router.go
Labels: none

fix(launchpad): clear button on domain verif form
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
Labels: area/frontend

.github/labeler.yml:

# Usage in github: https://github.com/actions/labeler (v5 syntax)

area/command:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/cmd/**/*' ]

kind/documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**/*' ]

area/qa:
- changed-files:
  - any-glob-to-any-file: [ 'QA.md' ]

area/test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - 'lifecycle/test/**/*'

area/buildah:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/buildah/**/*' ]

area/imageCRIShim:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/bootstrap/**/*' ]

area/clusterfile:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/clusterfile/**/*' ]

area/config:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/config/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/env/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/template/**/*' ]

area/guest:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/guest/**/*' ]

area/env:
# Note: 'env' here refers to 'lifecycle/pkg/system/**/*' from the original file
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/system/**/*' ]

area/filesystem:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/filesystem/**/*' ]

area/apply:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/apply/**/*' ]

area/check:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/checker/**/*' ]

area/ipvs:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ipvs/**/*' ]

area/ssh:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ssh/**/*' ]

area/registry:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/registry/**/*' ]

area/runtime:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/runtime/**/*' ]

area/api:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/types/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/**/*_types.go' ]

area/cloud:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'controllers/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'service/**/*' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**' ]

area/lifecycle-management:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/staging/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]

area/frontend:
- changed-files:
  - any-glob-to-any-file: [ 'frontend/**/*' ]

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'lifecycle/scripts/**/*'
    - 'lifecycle/docker/**/*'
    - 'deploy/**/*'
    - '.golangci.yml'
    - 'lifecycle/.goreleaser.yml'
    - 'lifecycle/Makefile'

area/workflow:
- changed-files:
  - any-glob-to-any-file: [ '.github/**/*' ]
