Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/guest, area/env, area/filesystem, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/frontend, area/ci, area/workflow

fix
  controllers/devbox/config/samples/test/devbox_v1alpha1_devbox.yaml
  controllers/devbox/internal/controller/devbox_controller.go
Labels: none

feat(launchpad): add a link for domain reg docs
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
Labels: area/frontend

Update LICENSE (#5719)
  LICENSE
Labels: none

feat(launchpad): new custom domain form (#5701)
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/DomainNotBoundModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: area/frontend

fix
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/cmd/main.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/state_change_handler.go
  controllers/go.work.sum
Labels: none

fix
  controllers/devbox/internal/commit/commit.go
Labels: none

update v1
  frontend/providers/applaunchpad/public/openapi.json
  frontend/providers/applaunchpad/src/pages/api-docs.tsx
  frontend/providers/applaunchpad/src/pages/api/v1/app/[appName].ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/index.ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/pauseApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/startApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/createApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/delAppByName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/getAppByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/pod/getAppPodsByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/pod/getPodsMetrics.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/delAppByName.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getAppByAppName.ts
  frontend/providers/applaunchpad/src/services/backend/appService.ts
  frontend/providers/applaunchpad/src/services/backend/index.ts
Labels: area/frontend

fix(desktop): incorrect desktop folder paging calculation
  frontend/desktop/src/components/desktop_content/apps.tsx
Labels: area/frontend

update
  frontend/providers/applaunchpad/src/api/openapi.ts
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/pages/api-docs.tsx
  frontend/providers/applaunchpad/src/pages/api/pauseApp.ts
  frontend/providers/applaunchpad/src/pages/api/startApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/[appName].ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/pauseApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/startApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/delAppByName.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getAppByAppName.ts
  frontend/providers/applaunchpad/src/services/backend/appService.ts
  frontend/providers/applaunchpad/src/services/backend/index.ts
Labels: area/frontend

fix(desktop): navbar overflows on very narrow screens
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
Labels: area/frontend

feat(database): api v1 start/pause databse
  frontend/providers/dbprovider/src/pages/api/v1/database.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName].ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/pause.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/start.ts
  frontend/providers/dbprovider/src/types/apis/index.ts
  frontend/providers/dbprovider/src/types/apis/pause-database.ts
  frontend/providers/dbprovider/src/types/apis/start-database.ts
Labels: area/frontend

fix conflict
  controllers/devbox/go.mod
  controllers/devbox/go.sum
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/controller/state_change_handler.go
Labels: none

corporate
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/cockroach/accountv2_test.go
  controllers/pkg/types/payment.go
  service/account/api/admin.go
  service/account/dao/interface.go
  service/account/helper/common.go
  service/account/router/router.go
Labels: area/test

commit container
  controllers/devbox/go.mod
  controllers/devbox/go.sum
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/const.go
Labels: none

feat(desktop): desktop design catchup (#5703)
  frontend/desktop/src/components/SecondaryLinks/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/desktop/src/components/v2/PhoneCheck.tsx
Labels: area/frontend

corporate
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/cockroach/accountv2_test.go
  controllers/pkg/pay/wechat.go
  controllers/pkg/types/payment.go
Labels: area/test

delete container
  controllers/devbox/internal/commit/commit.go
Labels: none

updated
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/store/static.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/database.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: area/frontend

chore(deps): update Go version and dependencies to latest versions
  .github/workflows/check-coverage.yml
  .github/workflows/check-license.yml
  .github/workflows/ci-patch-image.yml
  .github/workflows/ci.yml
  .github/workflows/import-patch-image.yml
  .github/workflows/release.yml
  lifecycle/go.mod
  lifecycle/go.sum
  lifecycle/go.work
  lifecycle/go.work.sum
  lifecycle/staging/src/github.com/labring/image-cri-shim/go.mod
  lifecycle/staging/src/github.com/labring/image-cri-shim/go.sum
  lifecycle/staging/src/github.com/labring/lvscare/go.mod
  lifecycle/staging/src/github.com/labring/lvscare/go.sum
  lifecycle/test/e2e/go.mod
Labels: area/test, area/imageCRIShim, area/lvscare, area/workflow

support update app
  frontend/providers/applaunchpad/.claude/settings.local.json
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/pages/api-docs.tsx
  frontend/providers/applaunchpad/src/pages/api/v1/app/[appName].ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/index.ts
  frontend/providers/applaunchpad/src/pages/api/v1/openapi.ts
  frontend/providers/applaunchpad/src/pages/api/v1/updateReplica.ts
  frontend/providers/applaunchpad/src/services/backend/appService.ts
  frontend/providers/applaunchpad/src/types/openapi.ts
Labels: area/frontend

stdout
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/const.go
Labels: none

Gc Handler
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/const.go
Labels: none

ctx
  controllers/devbox/internal/commit/commit.go
Labels: none

unit test
  controllers/devbox/go.mod
  controllers/devbox/go.sum
  controllers/devbox/internal/commit/commit_test.go
Labels: area/test

corporate
  controllers/pkg/database/cockroach/accountv2_test.go
  controllers/pkg/pay/wechat.go
  service/account/api/admin.go
Labels: area/test

corporate
  service/account/api/admin.go
Labels: none

pull i
  controllers/devbox/internal/commit/commit.go
Labels: none

unit test
  controllers/devbox/internal/commit/commit_test.go
Labels: area/test

go mod
  controllers/go.work.sum
  service/go.work.sum
Labels: none

fix err
  controllers/devbox/internal/commit/commit_test.go
Labels: area/test

gc unit test
  controllers/devbox/internal/commit/commit_test.go
Labels: area/test

feat: add frontend to acr
  .github/workflows/frontend.yml
Labels: area/workflow

delete useless
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/commit_test.go
  controllers/devbox/internal/commit/const.go
Labels: area/test

rename
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/commit_test.go
  controllers/devbox/internal/commit/const.go
Labels: area/test

corporate
  service/account/dao/interface.go
Labels: none

rename
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/commit_test.go
  controllers/devbox/internal/commit/const.go
Labels: area/test

import order
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/commit_test.go
Labels: area/test

cotainer commit (#38)
  controllers/devbox/go.mod
  controllers/devbox/go.sum
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/commit_test.go
  controllers/devbox/internal/commit/const.go
  controllers/go.work.sum
  service/go.work.sum
Labels: area/test

feat: add gh_token secret to easy push ghcr iamge
  .github/workflows/frontend.yml
Labels: area/workflow

feat: add gtm sdk
  frontend/.gitignore
  frontend/desktop/package.json
  frontend/packages/gtm/README.md
  frontend/packages/gtm/package.json
  frontend/packages/gtm/src/components/GTMScript.tsx
  frontend/packages/gtm/src/components/index.ts
  frontend/packages/gtm/src/events.ts
  frontend/packages/gtm/src/index.ts
  frontend/packages/gtm/src/inject.ts
  frontend/packages/gtm/src/track.ts
  frontend/packages/gtm/src/types.ts
  frontend/packages/gtm/tsconfig.json
  frontend/pnpm-lock.yaml
Labels: area/frontend

.github/labeler.yml:

# Usage in github: https://github.com/actions/labeler (v5 syntax)

area/command:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/cmd/**/*' ]

kind/documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**/*' ]

area/qa:
- changed-files:
  - any-glob-to-any-file: [ 'QA.md' ]

area/test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - 'lifecycle/test/**/*'

area/buildah:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/buildah/**/*' ]

area/imageCRIShim:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/bootstrap/**/*' ]

area/clusterfile:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/clusterfile/**/*' ]

area/config:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/config/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/env/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/template/**/*' ]

area/guest:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/guest/**/*' ]

area/env:
# Note: 'env' here refers to 'lifecycle/pkg/system/**/*' from the original file
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/system/**/*' ]

area/filesystem:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/filesystem/**/*' ]

area/apply:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/apply/**/*' ]

area/check:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/checker/**/*' ]

area/ipvs:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ipvs/**/*' ]

area/ssh:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ssh/**/*' ]

area/registry:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/registry/**/*' ]

area/runtime:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/runtime/**/*' ]

area/api:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/types/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/**/*_types.go' ]

area/cloud:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'controllers/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'service/**/*' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**' ]

area/lifecycle-management:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/staging/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]

area/frontend:
- changed-files:
  - any-glob-to-any-file: [ 'frontend/**/*' ]

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'lifecycle/scripts/**/*'
    - 'lifecycle/docker/**/*'
    - 'deploy/**/*'
    - '.golangci.yml'
    - 'lifecycle/.goreleaser.yml'
    - 'lifecycle/Makefile'

area/workflow:
- changed-files:
  - any-glob-to-any-file: [ '.github/**/*' ]
