Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/guest, area/env, area/filesystem, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/frontend, area/ci, area/workflow

.github/labeler.yml:

# Usage in github: https://github.com/actions/labeler (v5 syntax)

area/command:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/cmd/**/*' ]

kind/documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**/*' ]

area/qa:
- changed-files:
  - any-glob-to-any-file: [ 'QA.md' ]

area/test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - 'lifecycle/test/**/*'

area/buildah:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/buildah/**/*' ]

area/imageCRIShim:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/bootstrap/**/*' ]

area/clusterfile:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/clusterfile/**/*' ]

area/config:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/config/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/env/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/template/**/*' ]

area/guest:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/guest/**/*' ]

area/env:
# Note: 'env' here refers to 'lifecycle/pkg/system/**/*' from the original file
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/system/**/*' ]

area/filesystem:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/filesystem/**/*' ]

area/apply:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/apply/**/*' ]

area/check:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/checker/**/*' ]

area/ipvs:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ipvs/**/*' ]

area/ssh:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ssh/**/*' ]

area/registry:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/registry/**/*' ]

area/runtime:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/runtime/**/*' ]

area/api:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/types/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/**/*_types.go' ]

area/cloud:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'controllers/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'service/**/*' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**' ]

area/lifecycle-management:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/staging/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]

area/frontend:
- changed-files:
  - any-glob-to-any-file: [ 'frontend/**/*' ]

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'lifecycle/scripts/**/*'
    - 'lifecycle/docker/**/*'
    - 'deploy/**/*'
    - '.golangci.yml'
    - 'lifecycle/.goreleaser.yml'
    - 'lifecycle/Makefile'

area/workflow:
- changed-files:
  - any-glob-to-any-file: [ '.github/**/*' ]

feat(applaunchpad): update related app cr when updating custom domains
  frontend/providers/applaunchpad/src/pages/api/updateApp.ts
Labels: area/frontend

feat(applaunchpad): dynamic volume size limit calculation
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
Labels: area/frontend

fix(desktop): navbar balance card not shown in en version when using narrow screens
  frontend/desktop/src/components/SecondaryLinks/index.tsx
Labels: area/frontend

chore: fix terminal controller lint
  controllers/go.work.sum
  controllers/terminal/controllers/ingress.go
  controllers/terminal/controllers/suite_test.go
  controllers/terminal/controllers/terminal_controller.go
  controllers/terminal/main.go
Labels: area/test

fix(applaunchpad): pvc volume input can have unsafe values
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
Labels: area/frontend

chore: fix terminal controller lint
  controllers/go.work.sum
  controllers/terminal/controllers/ingress.go
  controllers/terminal/controllers/suite_test.go
  controllers/terminal/controllers/terminal_controller.go
  controllers/terminal/main.go
Labels: area/test

feat(launchpad): limit networks count to 15
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
Labels: area/frontend

feat: big commit
  controllers/pkg/types/payment.go
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/desktop/src/components/v2/PhoneCheck.tsx
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/providers/devbox/api/devbox.ts
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/(home)/page.tsx
  frontend/providers/devbox/app/api/updateDevboxRemark/route.ts
  frontend/providers/devbox/components/DatePicker.tsx
  frontend/providers/devbox/components/Polygon.tsx
  frontend/providers/devbox/components/StatusTag.tsx
  frontend/providers/devbox/components/dialogs/EditRemarkDialog.tsx
  frontend/providers/devbox/components/dialogs/EditVersionDesDialog.tsx
  frontend/providers/devbox/constants/devbox.ts
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/stores/date.ts
  frontend/providers/devbox/types/devbox.d.ts
  frontend/providers/devbox/types/k8s.d.ts
  frontend/providers/devbox/utils/adapt.ts
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/invite/src/pages/index.tsx
Labels: area/frontend

feat: empty status
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/SearchEmpty.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/public/images/search-empty.svg
Labels: area/frontend

fix: bug
  frontend/providers/devbox/app/api/templateRepository/list/route.ts
Labels: area/frontend

fix: bug
  frontend/providers/devbox/components/DatePicker.tsx
Labels: area/frontend

chore: fix terminal controller lint
  controllers/terminal/controllers/terminal_controller.go
  controllers/terminal/main.go
Labels: none

fix(frontend): custom scripts in env vars are not injected into the page (#5792)
  frontend/desktop/src/components/SecondaryLinks/index.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/_document.tsx
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/pages/_document.tsx
Labels: area/frontend

fix: status bug
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
Labels: area/frontend

fix: create time bug
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/components/DatePicker.tsx
Labels: area/frontend

fix(applaunchpad): pvc size can be different after confirmation
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
Labels: area/frontend

feat(applaunchpad): add quota limit tooltip in store edit form
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
Labels: area/frontend

chore(license): add Contributor License Agreement for contributors
  CONTRIBUTOR_LICENSE_AGREEMENT.md
Labels: none

chore(license): replace Apache License with Sealos Sustainable Use License
  LICENSE
  LICENSE.md
Labels: none

Update README.md
  README.md
Labels: none

fix: update template list route
  frontend/providers/devbox/app/api/templateRepository/list/route.ts
Labels: area/frontend

upt
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
Labels: area/frontend

fix(devbox): template show bug (#5798)
  frontend/providers/devbox/app/api/templateRepository/list/route.ts
Labels: area/frontend

feat: big commit
  frontend/providers/devbox/api/devbox.ts
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/SearchEmpty.tsx
  frontend/providers/devbox/app/[lang]/(platform)/(home)/page.tsx
  frontend/providers/devbox/app/api/templateRepository/list/route.ts
  frontend/providers/devbox/app/api/updateDevboxRemark/route.ts
  frontend/providers/devbox/components/DatePicker.tsx
  frontend/providers/devbox/components/Polygon.tsx
  frontend/providers/devbox/components/StatusTag.tsx
  frontend/providers/devbox/components/dialogs/EditRemarkDialog.tsx
  frontend/providers/devbox/components/dialogs/EditVersionDesDialog.tsx
  frontend/providers/devbox/constants/devbox.ts
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/public/images/search-empty.svg
  frontend/providers/devbox/stores/date.ts
  frontend/providers/devbox/types/devbox.d.ts
  frontend/providers/devbox/types/k8s.d.ts
  frontend/providers/devbox/utils/adapt.ts
Labels: area/frontend

feat(launchpad):openapi v1
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/public/openapi.json
  frontend/providers/applaunchpad/src/components/app/detail/logs/Header.tsx
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/pages/api-docs.tsx
  frontend/providers/applaunchpad/src/pages/api/getAppByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/startApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/[name].ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/index.ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/pauseApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/startApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/openapi.ts
  frontend/providers/applaunchpad/src/pages/api/v1/pod/getAppPodsByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/pod/getPodsMetrics.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getAppByAppName.ts
  frontend/providers/applaunchpad/src/services/backend/appService.ts
  frontend/providers/applaunchpad/src/services/backend/index.ts
  frontend/providers/applaunchpad/src/types/openapi.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
  frontend/providers/applaunchpad/src/utils/user.ts
  frontend/providers/workorder/public/locales/en/common.json
  frontend/providers/workorder/public/locales/zh/common.json
  frontend/providers/workorder/src/pages/workorders/index.tsx
Labels: area/frontend

refactor(launchpad): openapi data field naming tweaks
  frontend/providers/applaunchpad/src/constants/schema.ts
Labels: area/frontend

feat(launchpad): support replacing env vars in openapi
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/services/backend/appService.ts
Labels: area/frontend

chore(license): replace Apache License with Sealos Sustainable Use License (#5788)
  CONTRIBUTOR_LICENSE_AGREEMENT.md
  LICENSE
  LICENSE.md
Labels: none

chore(license): replace Apache License with Sealos Sustainable Use License (#5788)
  CONTRIBUTOR_LICENSE_AGREEMENT.md
  LICENSE
  LICENSE.md
Labels: none

fix(sync): update LICENSE file references to LICENSE.md in sync_code.yml
  .github/sync_code.yml
Labels: area/workflow

fix(sync): update LICENSE file references to LICENSE.md in sync_code.yml (#5802)
  .github/sync_code.yml
Labels: area/workflow

feat(ci): add automated workflow for updating tagpr configuration
  .github/workflows/new_version_dispatch.yml
Labels: area/workflow

Update README.md (#5799)
  README.md
Labels: none

fix(docs): update LICENSE file references
  frontend/packages/client-sdk/README.md
  frontend/packages/client-sdk/README_zh.md
Labels: area/frontend

fix(docs): update LICENSE file references (#5811)
  frontend/packages/client-sdk/README.md
  frontend/packages/client-sdk/README_zh.md
Labels: area/frontend

feat(ci): add automated workflow for updating tagpr configuration (#5807)
  .github/workflows/new_version_dispatch.yml
Labels: area/workflow
