Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/guest, area/env, area/filesystem, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/frontend, area/ci, area/workflow

.github/labeler.yml:

# Usage in github: https://github.com/actions/labeler (v5 syntax)

area/command:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/cmd/**/*' ]

kind/documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**/*' ]

area/qa:
- changed-files:
  - any-glob-to-any-file: [ 'QA.md' ]

area/test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - 'lifecycle/test/**/*'

area/buildah:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/buildah/**/*' ]

area/imageCRIShim:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/bootstrap/**/*' ]

area/clusterfile:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/clusterfile/**/*' ]

area/config:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/config/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/env/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/template/**/*' ]

area/guest:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/guest/**/*' ]

area/env:
# Note: 'env' here refers to 'lifecycle/pkg/system/**/*' from the original file
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/system/**/*' ]

area/filesystem:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/filesystem/**/*' ]

area/apply:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/apply/**/*' ]

area/check:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/checker/**/*' ]

area/ipvs:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ipvs/**/*' ]

area/ssh:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ssh/**/*' ]

area/registry:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/registry/**/*' ]

area/runtime:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/runtime/**/*' ]

area/api:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/types/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/**/*_types.go' ]

area/cloud:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'controllers/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'service/**/*' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**' ]

area/lifecycle-management:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/staging/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]

area/frontend:
- changed-files:
  - any-glob-to-any-file: [ 'frontend/**/*' ]

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'lifecycle/scripts/**/*'
    - 'lifecycle/docker/**/*'
    - 'deploy/**/*'
    - '.golangci.yml'
    - 'lifecycle/.goreleaser.yml'
    - 'lifecycle/Makefile'

area/workflow:
- changed-files:
  - any-glob-to-any-file: [ '.github/**/*' ]

docs: update contribution policy and guidelines in README (#5741)
  lifecycle/scripts/make-rules/license.mk
  lifecycle/staging/src/github.com/labring/image-cri-shim/.github/workflows/close-pr.yml
  lifecycle/staging/src/github.com/labring/image-cri-shim/README.md
  lifecycle/staging/src/github.com/labring/lvscare/.github/workflows/close-pr.yml
  lifecycle/staging/src/github.com/labring/lvscare/README.md
Labels: area/imageCRIShim, area/lvscare, area/ci

fix(ci): update paths to use PROJECT_PATH variable in ci-patch-image.yml (#5742)
  .github/workflows/ci-patch-image.yml
Labels: area/workflow

bug fix.
  service/hubble/cmd/main.go
  service/hubble/collector/collector.go
  service/hubble/config/config.go
  service/hubble/datastore/redis.go
Labels: none

fix: devbox launch launchpad twice not working (#5745)
  frontend/desktop/src/components/SecondaryLinks/index.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/redirect.tsx
  frontend/providers/dbprovider/src/pages/_document.tsx
  frontend/providers/template/src/pages/_document.tsx
Labels: area/frontend

Revert "Update LICENSE (#5719)"
  LICENSE
Labels: none

feat(launchpad): new custom domain form (#5701)
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/DomainNotBoundModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: area/frontend

feat(desktop): desktop design catchup (#5703)
  frontend/desktop/src/components/SecondaryLinks/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/desktop/src/components/v2/PhoneCheck.tsx
Labels: area/frontend

Corporate (#5726)
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/cockroach/accountv2_test.go
  controllers/pkg/pay/interface.go
  controllers/pkg/pay/wechat.go
  controllers/pkg/types/payment.go
  service/account/api/admin.go
  service/account/dao/interface.go
  service/account/helper/common.go
  service/account/router/router.go
Labels: area/test

fix(desktop): remove recharge entry restriction (#5732)
  frontend/desktop/src/components/SecondaryLinks/index.tsx
Labels: area/frontend

feat: add gtm sdk (#5728)
  frontend/.gitignore
  frontend/desktop/package.json
  frontend/packages/gtm/README.md
  frontend/packages/gtm/package.json
  frontend/packages/gtm/src/components/GTMScript.tsx
  frontend/packages/gtm/src/components/index.ts
  frontend/packages/gtm/src/index.ts
  frontend/packages/gtm/src/track.ts
  frontend/packages/gtm/src/types.ts
  frontend/packages/gtm/tsconfig.json
  frontend/pnpm-lock.yaml
Labels: area/frontend

feat: add gh_token secret to easy push ghcr iamge
  .github/workflows/frontend.yml
Labels: area/workflow

feat: add frontend to acr
  .github/workflows/frontend.yml
Labels: area/workflow

feat: controller and service
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
Labels: area/workflow

feat: add sha tag for controller and service
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
Labels: area/workflow

fix: sha length
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
  scripts/resolve-tag-image.sh
Labels: area/ci, area/workflow

feat: sha tag
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
  scripts/resolve-tag-image.sh
Labels: area/ci, area/workflow

fix: release permissions
  .github/workflows/release.yml
Labels: area/workflow

fix: release permissions
  .github/workflows/release.yml
Labels: area/workflow

fix: release permissions
  .github/workflows/release.yml
Labels: area/workflow

fix: release permissions
  .github/workflows/release.yml
Labels: area/workflow

fix: cloud release call
  .github/workflows/cloud-release.yml
  .github/workflows/release.yml
Labels: area/workflow

fix: pr reviewer
  .github/workflows/release.yml
Labels: area/workflow

fix: git is in a dirty state
  .github/workflows/release.yml
Labels: area/workflow

fix: license not matched
  .github/workflows/release.yml
Labels: area/workflow

fix: bug (#5736)
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Runtime.tsx
Labels: area/frontend

fix(desktop): workspace name incorrectly encoded on signup init (#5737)
  frontend/desktop/src/components/v2/Workspace.tsx
  frontend/desktop/src/pages/switchRegion.tsx
Labels: area/frontend

fix: frontend job step name
  .github/workflows/frontend.yml
Labels: area/workflow

feat(invite): new invite referral doc link (#5738)
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/invite/src/pages/index.tsx
Labels: area/frontend

fix(sync): update source paths and sync action configuration (#5740)
  .github/sync_code.yml
  .github/weekly-digest.yml
  .github/workflows/bot-auto-cherry-pick.yml
  .github/workflows/bot-cherry-pick.yml
  .github/workflows/sync_code.yml
Labels: area/workflow

feat(database): database api v1 create/modify endpoint (#5723)
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/package.json
  frontend/providers/dbprovider/src/pages/api-docs.tsx
  frontend/providers/dbprovider/src/pages/api/v1/database.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName].ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/pause.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/start.ts
  frontend/providers/dbprovider/src/pages/api/v1/openapi.ts
  frontend/providers/dbprovider/src/services/backend/apis/create-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/pause-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/start-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/update-database.ts
  frontend/providers/dbprovider/src/types/apis/create-database.ts
  frontend/providers/dbprovider/src/types/apis/index.ts
  frontend/providers/dbprovider/src/types/apis/pause-database.ts
  frontend/providers/dbprovider/src/types/apis/start-database.ts
  frontend/providers/dbprovider/src/types/apis/update-database.ts
  frontend/providers/dbprovider/src/types/schemas/backup.ts
  frontend/providers/dbprovider/src/types/schemas/db.ts
Labels: area/frontend

feat: track gtm v2 events (#5733)
  frontend/desktop/data/config.yaml
  frontend/desktop/src/components/AppDock/index.tsx
  frontend/desktop/src/components/account/GuideModal.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
  frontend/desktop/src/components/team/CreateTeam.tsx
  frontend/desktop/src/components/team/DissolveTeam.tsx
  frontend/desktop/src/components/team/InviteMember.tsx
  frontend/desktop/src/components/team/TeamCenter.tsx
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
  frontend/desktop/src/pages/WorkspaceInvite.tsx
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/types/system.ts
  frontend/desktop/src/utils/gtm.ts
  frontend/packages/gtm/src/components/GTMScript.tsx
  frontend/packages/gtm/src/track.ts
  frontend/packages/gtm/src/types.ts
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/src/api/app.ts
  frontend/providers/applaunchpad/src/components/app/detail/index/Pods.tsx
  frontend/providers/applaunchpad/src/components/apps/appList.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/logs.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/monitor.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/types/index.d.ts
Labels: area/frontend

docs: update contribution policy and guidelines in README (#5741)
  lifecycle/scripts/make-rules/license.mk
  lifecycle/staging/src/github.com/labring/image-cri-shim/.github/workflows/close-pr.yml
  lifecycle/staging/src/github.com/labring/image-cri-shim/README.md
  lifecycle/staging/src/github.com/labring/lvscare/.github/workflows/close-pr.yml
  lifecycle/staging/src/github.com/labring/lvscare/README.md
Labels: area/imageCRIShim, area/lvscare, area/ci

fix(ci): update paths to use PROJECT_PATH variable in ci-patch-image.yml (#5742)
  .github/workflows/ci-patch-image.yml
Labels: area/workflow

fix: devbox launch launchpad twice not working (#5745)
  frontend/desktop/src/components/SecondaryLinks/index.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/redirect.tsx
  frontend/providers/dbprovider/src/pages/_document.tsx
  frontend/providers/template/src/pages/_document.tsx
Labels: area/frontend

fix(sync): include LICENSE and workflow files in sync paths
  .github/workflows/sync_code.yml
Labels: area/workflow

fix(sync): include LICENSE and workflow files in sync paths (#5749)
  .github/workflows/sync_code.yml
Labels: area/workflow

bug fix.
  service/hubble/cmd/main.go
  service/hubble/pkg/constants/api.go
  service/hubble/pkg/constants/messages.go
  service/hubble/pkg/models/request.go
  service/hubble/pkg/models/response.go
  service/hubble/server/server.go
Labels: none

fix: upgrade Go version to 1.23 and update kubeadm API versions to v1beta4
  .github/workflows/check-coverage.yml
  .github/workflows/check-license.yml
  .github/workflows/check-link-error.yml
  .github/workflows/ci-patch-image.yml
  .github/workflows/ci.yml
  .github/workflows/import-patch-image.yml
  .github/workflows/release.yml
  lifecycle/cmd/sealos/cmd/cert.go
  lifecycle/go.mod
  lifecycle/go.sum
  lifecycle/go.work
  lifecycle/go.work.sum
  lifecycle/pkg/checker/registry_checker.go
  lifecycle/pkg/runtime/decode/decode.go
  lifecycle/pkg/runtime/kubernetes/certs.go
  lifecycle/pkg/runtime/kubernetes/kubeadm.go
  lifecycle/pkg/runtime/kubernetes/types/consts.go
  lifecycle/pkg/runtime/kubernetes/types/default_kubeadm_config.go
  lifecycle/pkg/runtime/kubernetes/types/kubeadm_config.go
  lifecycle/pkg/runtime/kubernetes/types/kubeadm_config_test.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/go.mod
  lifecycle/staging/src/github.com/labring/image-cri-shim/go.sum
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/server/cri_server_v1.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/server/server.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/server/utils.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/types/config.go
  lifecycle/staging/src/github.com/labring/lvscare/care/iptables.go
  lifecycle/staging/src/github.com/labring/lvscare/care/proxier.go
  lifecycle/staging/src/github.com/labring/lvscare/go.mod
  lifecycle/staging/src/github.com/labring/lvscare/go.sum
  lifecycle/test/e2e/apply_docker_test.go
  lifecycle/test/e2e/apply_test.go
  lifecycle/test/e2e/cert_test.go
  lifecycle/test/e2e/filesystem_test.go
  lifecycle/test/e2e/go.mod
  lifecycle/test/e2e/images_buildrun_feature_test.go
  lifecycle/test/e2e/images_buildrun_test.go
  lifecycle/test/e2e/k3s_125_test.go
  lifecycle/test/e2e/run_docker_test.go
  lifecycle/test/e2e/run_test.go
Labels: area/command, area/test, area/imageCRIShim, area/lvscare, area/check, area/runtime, area/workflow

Update LICENSE (#5719)
  LICENSE
Labels: none

feat: restart
  frontend/providers/devbox/hooks/useControlDevbox.tsx
Labels: area/frontend
