Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/guest, area/env, area/filesystem, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/frontend, area/ci, area/workflow

Update LICENSE (#5719)
  LICENSE
Labels: none

feat(template): organize k8s api operations
  frontend/providers/template/src/services/backend/operations.ts
Labels: area/frontend

feat(template): delete instance api v1
  frontend/providers/template/src/pages/api/v1/instance/[instance-name].ts
  frontend/providers/template/src/services/backend/operations.ts
Labels: area/frontend

chore(template): delete instance api v1 cleanup
  frontend/providers/template/src/pages/api/v1/instance/[instance-name].ts
Labels: area/frontend

refactor(template): use jsonRes for api responses
  frontend/providers/template/src/pages/api/v1/instance/[instance-name].ts
  frontend/providers/template/src/pages/api/v1/instance/[instanceName].ts
Labels: area/frontend

chore(template): add zod-openapi and scalar deps
  frontend/providers/template/package.json
Labels: area/frontend

feat(template): add openapi docs for v1 apis
  frontend/pnpm-lock.yaml
  frontend/providers/template/package.json
  frontend/providers/template/src/pages/api-docs.tsx
  frontend/providers/template/src/pages/api/v1/openapi.ts
  frontend/providers/template/src/types/apis/delete-instance.ts
  frontend/providers/template/src/types/apis/index.ts
Labels: area/frontend

feat(costcenter): show bonus amount in topup records table
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/billing/RechargeTabPanel.tsx
  frontend/providers/costcenter/src/constants/billing.ts
Labels: area/frontend

feat(template): request parameters validation and sanitizing in v1 apis
  frontend/providers/template/src/pages/api/v1/instance/[instanceName].ts
Labels: area/frontend

fix(template): apiv1 kubeconfig parsing error not correctly handled
  frontend/providers/template/src/pages/api/v1/instance/[instanceName].ts
Labels: area/frontend

chore(template): update lock file
  frontend/pnpm-lock.yaml
Labels: area/frontend

Add PodNodeNameIndex constant and refactor CPU/Memory ratio functions to use it (#46)
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/internal/controller/devbox_controller.go
Labels: none

fix(frontend): some i18n entries are missing
  frontend/desktop/public/locales/en/v2.json
  frontend/desktop/public/locales/zh/v2.json
  frontend/desktop/src/components/desktop_content/serviceButton.tsx
  frontend/desktop/src/components/v2/Sign.tsx
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/cloudserver/public/locales/en/common.json
  frontend/providers/cloudserver/public/locales/zh/common.json
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/cronjob/public/locales/en/common.json
  frontend/providers/cronjob/public/locales/zh/common.json
  frontend/providers/cronjob/src/pages/job/edit/components/Form.tsx
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/license/public/locales/en/common.json
  frontend/providers/license/public/locales/zh/common.json
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
Labels: area/frontend

fix(desktop): sms not automically sends when captcha is disabled
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/desktop/src/components/v2/PhoneCheck.tsx
Labels: area/frontend

bug fix.
  service/hubble/collector/collector.go
  service/hubble/pkg/constants/label.go
Labels: none

fix(dbprovider): missing english translate for "minute"
  frontend/providers/dbprovider/public/locales/en/common.json
Labels: area/frontend

feat(desktop): custom toast messsage when copying invitation link
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/en/v2.json
  frontend/desktop/public/locales/zh/v2.json
  frontend/desktop/src/components/team/InviteMember.tsx
  frontend/desktop/src/hooks/useCopyData.ts
Labels: area/frontend

feat: default select official picks
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PublicTemplate.tsx
Labels: area/frontend

temp
  frontend/providers/dbprovider/src/api/platform.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
Labels: area/frontend

update
  frontend/providers/dbprovider/src/pages/api/minio/upload.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
Labels: area/frontend

update
  LICENSE
Labels: none

upt
  LICENSE
Labels: none

temp
  frontend/providers/dbprovider/src/pages/api/minio/upload.ts
  frontend/providers/dbprovider/src/pages/api/test.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
Labels: area/frontend

update
  LICENSE
Labels: none

Update LICENSE (#5719)
  LICENSE
Labels: none

update
  frontend/providers/dbprovider/src/pages/api/test.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
Labels: area/frontend

upt
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
Labels: area/frontend

update
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
Labels: area/frontend

upt
  LICENSE
Labels: none

fix(launchpad): app error state not correctly shown
  frontend/providers/applaunchpad/src/store/app.ts
Labels: area/frontend

fix: template bug
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PrivateTemplate.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PublicTemplate.tsx
Labels: area/frontend

fix(frontend): some i18n entries are missing (#5751)
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/en/v2.json
  frontend/desktop/public/locales/zh/v2.json
  frontend/desktop/src/components/desktop_content/serviceButton.tsx
  frontend/desktop/src/components/team/InviteMember.tsx
  frontend/desktop/src/components/v2/Sign.tsx
  frontend/desktop/src/hooks/useCopyData.ts
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/cloudserver/public/locales/en/common.json
  frontend/providers/cloudserver/public/locales/zh/common.json
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/cronjob/public/locales/en/common.json
  frontend/providers/cronjob/public/locales/zh/common.json
  frontend/providers/cronjob/src/pages/job/edit/components/Form.tsx
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/license/public/locales/en/common.json
  frontend/providers/license/public/locales/zh/common.json
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
Labels: area/frontend

fix(desktop): hide guide modal on narrow screens
  frontend/desktop/src/components/SecondaryLinks/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
Labels: area/frontend

feat(desktop): basic layout for mobile version of the guide modal
  frontend/desktop/src/components/account/GuideModal.tsx
Labels: area/frontend

gRPC reconnect and fix container name err
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/commit_test.go
  controllers/devbox/internal/commit/const.go
Labels: area/test

gRPC reconnect and fix container name err (#49)
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/commit_test.go
  controllers/devbox/internal/commit/const.go
Labels: area/test

fix(devbox): devbox v2 some little bug (#5739)
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Form.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/PriceBox.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Runtime.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Monitor.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PrivateTemplate.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PublicTemplate.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/TemplateCard.tsx
  frontend/providers/devbox/components/DatePicker.tsx
  frontend/providers/devbox/components/MonitorChart.tsx
  frontend/providers/devbox/components/dialogs/ReleaseDialog.tsx
  frontend/providers/devbox/components/drawers/DeployDevboxDrawer.tsx
  frontend/providers/devbox/components/ui/form.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
Labels: area/frontend

update
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
Labels: area/frontend

fix: upgrade Go version to 1.23 and update kubeadm API versions to v1beta4 (#5718)
  .github/workflows/check-coverage.yml
  .github/workflows/check-license.yml
  .github/workflows/check-link-error.yml
  .github/workflows/ci-patch-image.yml
  .github/workflows/ci.yml
  .github/workflows/import-patch-image.yml
  .github/workflows/release.yml
  lifecycle/cmd/sealos/cmd/cert.go
  lifecycle/go.mod
  lifecycle/go.sum
  lifecycle/go.work
  lifecycle/go.work.sum
  lifecycle/pkg/checker/registry_checker.go
  lifecycle/pkg/runtime/decode/decode.go
  lifecycle/pkg/runtime/kubernetes/certs.go
  lifecycle/pkg/runtime/kubernetes/kubeadm.go
  lifecycle/pkg/runtime/kubernetes/types/consts.go
  lifecycle/pkg/runtime/kubernetes/types/default_kubeadm_config.go
  lifecycle/pkg/runtime/kubernetes/types/kubeadm_config.go
  lifecycle/pkg/runtime/kubernetes/types/kubeadm_config_test.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/go.mod
  lifecycle/staging/src/github.com/labring/image-cri-shim/go.sum
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/server/cri_server_v1.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/server/server.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/server/utils.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/types/config.go
  lifecycle/staging/src/github.com/labring/lvscare/care/iptables.go
  lifecycle/staging/src/github.com/labring/lvscare/care/proxier.go
  lifecycle/staging/src/github.com/labring/lvscare/go.mod
  lifecycle/staging/src/github.com/labring/lvscare/go.sum
  lifecycle/test/e2e/apply_docker_test.go
  lifecycle/test/e2e/apply_test.go
  lifecycle/test/e2e/cert_test.go
  lifecycle/test/e2e/filesystem_test.go
  lifecycle/test/e2e/go.mod
  lifecycle/test/e2e/images_buildrun_feature_test.go
  lifecycle/test/e2e/images_buildrun_test.go
  lifecycle/test/e2e/k3s_125_test.go
  lifecycle/test/e2e/run_docker_test.go
  lifecycle/test/e2e/run_test.go
Labels: area/command, area/test, area/imageCRIShim, area/lvscare, area/check, area/runtime, area/workflow

fix(check-link-error): refine workflow triggers and enhance comment handling for pull requests
  .github/workflows/check-link-error.yml
  lychee.toml
Labels: area/workflow

.github/labeler.yml:

# Usage in github: https://github.com/actions/labeler (v5 syntax)

area/command:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/cmd/**/*' ]

kind/documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**/*' ]

area/qa:
- changed-files:
  - any-glob-to-any-file: [ 'QA.md' ]

area/test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - 'lifecycle/test/**/*'

area/buildah:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/buildah/**/*' ]

area/imageCRIShim:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/bootstrap/**/*' ]

area/clusterfile:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/clusterfile/**/*' ]

area/config:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/config/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/env/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/template/**/*' ]

area/guest:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/guest/**/*' ]

area/env:
# Note: 'env' here refers to 'lifecycle/pkg/system/**/*' from the original file
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/system/**/*' ]

area/filesystem:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/filesystem/**/*' ]

area/apply:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/apply/**/*' ]

area/check:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/checker/**/*' ]

area/ipvs:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ipvs/**/*' ]

area/ssh:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ssh/**/*' ]

area/registry:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/registry/**/*' ]

area/runtime:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/runtime/**/*' ]

area/api:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/types/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/**/*_types.go' ]

area/cloud:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'controllers/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'service/**/*' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**' ]

area/lifecycle-management:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/staging/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]

area/frontend:
- changed-files:
  - any-glob-to-any-file: [ 'frontend/**/*' ]

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'lifecycle/scripts/**/*'
    - 'lifecycle/docker/**/*'
    - 'deploy/**/*'
    - '.golangci.yml'
    - 'lifecycle/.goreleaser.yml'
    - 'lifecycle/Makefile'

area/workflow:
- changed-files:
  - any-glob-to-any-file: [ '.github/**/*' ]
