Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/guest, area/env, area/filesystem, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/frontend, area/ci, area/workflow

.github/labeler.yml:

# Usage in github: https://github.com/actions/labeler (v5 syntax)

area/command:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/cmd/**/*' ]

kind/documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**/*' ]

area/qa:
- changed-files:
  - any-glob-to-any-file: [ 'QA.md' ]

area/test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - 'lifecycle/test/**/*'

area/buildah:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/buildah/**/*' ]

area/imageCRIShim:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/bootstrap/**/*' ]

area/clusterfile:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/clusterfile/**/*' ]

area/config:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/config/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/env/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/template/**/*' ]

area/guest:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/guest/**/*' ]

area/env:
# Note: 'env' here refers to 'lifecycle/pkg/system/**/*' from the original file
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/system/**/*' ]

area/filesystem:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/filesystem/**/*' ]

area/apply:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/apply/**/*' ]

area/check:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/checker/**/*' ]

area/ipvs:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ipvs/**/*' ]

area/ssh:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ssh/**/*' ]

area/registry:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/registry/**/*' ]

area/runtime:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/runtime/**/*' ]

area/api:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/types/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/**/*_types.go' ]

area/cloud:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'controllers/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'service/**/*' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**' ]

area/lifecycle-management:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/staging/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]

area/frontend:
- changed-files:
  - any-glob-to-any-file: [ 'frontend/**/*' ]

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'lifecycle/scripts/**/*'
    - 'lifecycle/docker/**/*'
    - 'deploy/**/*'
    - '.golangci.yml'
    - 'lifecycle/.goreleaser.yml'
    - 'lifecycle/Makefile'

area/workflow:
- changed-files:
  - any-glob-to-any-file: [ '.github/**/*' ]

fix: template bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Runtime.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PublicTemplate.tsx
Labels: area/frontend

fix: monitor style adjust
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Monitor.tsx
Labels: area/frontend

fix: some little bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Release.tsx
  frontend/providers/devbox/components/dialogs/ReleaseDialog.tsx
  frontend/providers/devbox/hooks/useControlDevbox.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/utils/validate.ts
Labels: area/frontend

fix: network show bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/DevboxName.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Yaml.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
Labels: area/frontend

chore: remove unused code
  frontend/providers/devbox/components/drawers/EditTemplateRepositoryDrawer.tsx
Labels: area/frontend

fix: little style bug
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/(home)/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Runtime.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Basic.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/layout.tsx
  frontend/providers/devbox/components/RefreshButton.tsx
  frontend/providers/devbox/components/providers/MyRouteHandlerProvider.tsx
  frontend/providers/devbox/stores/global.ts
Labels: area/frontend

fix: style bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Form.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/PriceBox.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
Labels: area/frontend

fix: release devbox version bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Release.tsx
  frontend/providers/devbox/stores/devbox.ts
  frontend/providers/devbox/utils/adapt.ts
Labels: area/frontend

fix: icon bug
  frontend/packages/ui/src/components/icons/CurrencySymbol.tsx
Labels: area/frontend

fix: some no little bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/DevboxName.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Form.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Monitor.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Release.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/TemplateCard.tsx
  frontend/providers/devbox/app/api/deployDevbox/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/releases/route.ts
  frontend/providers/devbox/components/DatePicker.tsx
  frontend/providers/devbox/components/MonitorChart.tsx
  frontend/providers/devbox/components/RefreshButton.tsx
  frontend/providers/devbox/components/drawers/DeployDevboxDrawer.tsx
  frontend/providers/devbox/components/drawers/UpdateTemplateDrawer.tsx
  frontend/providers/devbox/stores/devbox.ts
Labels: area/frontend

fix: style adjust
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Header.tsx
  frontend/providers/devbox/app/api/restartDevbox/route.ts
  frontend/providers/devbox/components/Code.tsx
  frontend/providers/devbox/components/ScriptCode.tsx
Labels: area/frontend

fix: handle back bug
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Header.tsx
Labels: area/frontend

devbox daemon
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/api/v1alpha1/operationrequest_types.go
  controllers/devbox/api/v1alpha1/zz_generated.deepcopy.go
  controllers/devbox/cmd/main.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/config/crd/bases/devbox.sealos.io_operationrequests.yaml
  controllers/devbox/config/crd/kustomization.yaml
  controllers/devbox/config/rbac/kustomization.yaml
  controllers/devbox/config/samples/devbox_v1alpha1_devbox.yaml
  controllers/devbox/config/samples/kustomization.yaml
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/devbox_daemon.go
Labels: none

chore(template): delete instance api v1 cleanup
  frontend/providers/template/src/pages/api/v1/instance/[instance-name].ts
Labels: area/frontend

chore(template): add zod-openapi and scalar deps
  frontend/pnpm-lock.yaml
  frontend/providers/template/package.json
Labels: area/frontend

:ci: delete stale.yml
  .github/stale.yml
Labels: area/workflow

:ci: delete stale.yml (#5713)
  .github/stale.yml
Labels: area/workflow

temp
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/services/chat2db/datasource.ts
  frontend/providers/dbprovider/src/services/chat2db/user.ts
  frontend/providers/dbprovider/src/store/static.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: area/frontend

refactor(template): use jsonRes for api responses
  frontend/providers/template/src/pages/api/v1/instance/[instance-name].ts
  frontend/providers/template/src/pages/api/v1/instance/[instanceName].ts
Labels: area/frontend

feat(template): add openapi docs for v1 apis
  frontend/pnpm-lock.yaml
  frontend/providers/template/package.json
  frontend/providers/template/src/pages/api-docs.tsx
  frontend/providers/template/src/pages/api/v1/openapi.ts
  frontend/providers/template/src/types/apis/delete-instance.ts
  frontend/providers/template/src/types/apis/index.ts
Labels: area/frontend

feat(desktop): new signin email design
  frontend/desktop/src/services/backend/sms.ts
Labels: area/frontend

chore(client-sdk): update package.json metadata
  frontend/packages/client-sdk/package.json
Labels: area/frontend

chore(desktop): use a hd logo image in email
  frontend/desktop/src/services/backend/sms.ts
Labels: area/frontend

feat(desktop): add menu for secondary links on narrow screens
  frontend/desktop/src/components/SecondaryLinks/index.tsx
  frontend/desktop/src/components/account/index.tsx
Labels: area/frontend

feat(desktop): match app grid and folder design with design
  frontend/desktop/src/components/desktop_content/apps.tsx
Labels: area/frontend

feat(desktop): make folder draw area larger
  frontend/desktop/src/components/desktop_content/apps.tsx
Labels: area/frontend

refactor(desktop): calculate app height using the height of 2 lines app name
  frontend/desktop/src/components/desktop_content/apps.tsx
Labels: area/frontend

chore(desktop): clean up
  frontend/desktop/src/components/desktop_content/apps.tsx
Labels: area/frontend

feat(desktop): tweak pin input corner radius to match the design
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/desktop/src/components/v2/PhoneCheck.tsx
Labels: area/frontend

feat(desktop): new signin email design (#5706)
  frontend/desktop/src/services/backend/sms.ts
  frontend/packages/client-sdk/package.json
Labels: area/frontend

feat(template): request parameters validation and sanitizing in v1 apis
  frontend/providers/template/src/pages/api/v1/instance/[instanceName].ts
Labels: area/frontend

fix(desktop): incorrect titlecase in mail subject
  frontend/desktop/src/services/backend/sms.ts
Labels: area/frontend

fix(desktop): incorrect titlecase in mail subject (#5714)
  frontend/desktop/src/services/backend/sms.ts
Labels: area/frontend

fix(main): validate kubeadm config files before pulling images
  lifecycle/pkg/runtime/kubernetes/master.go
Labels: area/runtime

test(e2e): add end-to-end tests for Kubernetes and Docker versions 1.29.0 to 1.32.0
  lifecycle/test/e2e/k8s_129_test.go
  lifecycle/test/e2e/k8s_130_test.go
  lifecycle/test/e2e/k8s_131_test.go
  lifecycle/test/e2e/k8s_132_test.go
  lifecycle/test/e2e/k8s_docker_129_test.go
  lifecycle/test/e2e/k8s_docker_130_test.go
  lifecycle/test/e2e/k8s_docker_131_test.go
  lifecycle/test/e2e/k8s_docker_132_test.go
Labels: area/test

fix(desktop): remove cftoken verif for email/phone binding
  frontend/desktop/src/pages/api/auth/email/bind/sms.ts
  frontend/desktop/src/pages/api/auth/phone/bind/sms.ts
  frontend/desktop/src/pages/api/auth/phone/sms.ts
Labels: area/frontend

fix(main): update image pulling logic and refactor string utilities
  .github/workflows/e2e_test_core.yml
  lifecycle/pkg/runtime/kubernetes/master.go
Labels: area/runtime, area/workflow

devbox state chanage handler
  controllers/devbox/cmd/main.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/devbox_daemon.go
Labels: none

devbox state chanage handler
  controllers/devbox/internal/controller/state_change_handler.go
Labels: none

fix(desktop): turnstile widget refresh causes unintended sms resends
  frontend/desktop/package.json
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/pnpm-lock.yaml
Labels: area/frontend
