Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/guest, area/env, area/filesystem, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/frontend, area/ci, area/workflow

feat(applaunchpad): add gtmv2 terminal open event
  frontend/packages/gtm/src/types.ts
  frontend/providers/applaunchpad/src/components/app/detail/index/Pods.tsx
Labels: area/frontend

bug fix.
  service/go.work
Labels: none

add hubble service.
  service/hubble/go.mod
Labels: none

add hubble service.
  service/hubble/config.yml
Labels: none

add hubble service.
  service/hubble/.gitignore
  service/hubble/Dockerfile
  service/hubble/Makefile
  service/hubble/README.md
  service/hubble/cmd/main.go
  service/hubble/collector/collector.go
  service/hubble/config.yml
  service/hubble/config/config.go
  service/hubble/datastore/redis.go
  service/hubble/deploy/Kubefile
  service/hubble/deploy/README.md
  service/hubble/deploy/manifests/deploy.yaml
  service/hubble/go.mod
  service/hubble/pkg/auth/auth.go
  service/hubble/pkg/auth/cache_auth.go
  service/hubble/pkg/auth/errors.go
  service/hubble/pkg/auth/interface.go
  service/hubble/pkg/cache/cache.go
  service/hubble/pkg/cache/interface.go
  service/hubble/pkg/config/config.go
  service/hubble/pkg/constants/api.go
  service/hubble/pkg/constants/header.go
  service/hubble/pkg/constants/messages.go
  service/hubble/pkg/constants/redis_keys.go
  service/hubble/pkg/models/flow.go
  service/hubble/pkg/models/request.go
  service/hubble/pkg/models/response.go
  service/hubble/server/server.go
Labels: none

bug fix.
  service/hubble/go.mod
Labels: none

bug fix.
  service/hubble/collector/collector.go
  service/hubble/datastore/redis.go
  service/hubble/pkg/constants/api.go
  service/hubble/pkg/constants/label.go
  service/hubble/pkg/constants/redis_key.go
  service/hubble/pkg/constants/redis_keys.go
  service/hubble/pkg/models/flow.go
  service/hubble/pkg/models/request.go
  service/hubble/pkg/models/response.go
  service/hubble/server/server.go
Labels: none

bug fix.
  service/hubble/server/server.go
Labels: none

add workflows.
  .github/workflows/services.yml
  service/go.work.sum
Labels: area/workflow

bug fix.
  service/hubble/datastore/redis.go
Labels: none

bug fix.
  service/hubble/pkg/auth/auth.go
  service/hubble/pkg/auth/cache_auth.go
  service/hubble/pkg/constants/messages.go
  service/hubble/server/server.go
Labels: none

ci-lint fix.
  service/hubble/cmd/main.go
  service/hubble/pkg/auth/cache_auth.go
  service/hubble/server/server.go
Labels: none

change import.
  service/hubble/cmd/main.go
  service/hubble/collector/collector.go
  service/hubble/config/config.go
  service/hubble/go.mod
  service/hubble/pkg/auth/cache_auth.go
  service/hubble/server/server.go
Labels: none

ci-lint fix.
  service/hubble/collector/collector.go
  service/hubble/config/config.go
  service/hubble/pkg/auth/auth.go
  service/hubble/pkg/constants/messages.go
Labels: none

ci-lint fix.
  service/hubble/collector/collector.go
  service/hubble/pkg/config/config.go
Labels: none

bug fix.
  service/go.work.sum
Labels: none

Increase some example values and refactor some types (#43)
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/schedule.go
  controllers/devbox/internal/stat/stat.go
Labels: none

fix
  controllers/devbox/internal/controller/devbox_controller.go
Labels: none

fix(desktop): workspace name incorrectly encoded on signup init
  frontend/desktop/src/components/v2/Workspace.tsx
  frontend/desktop/src/pages/switchRegion.tsx
Labels: area/frontend

feat(invite): remove the button and chnage the link to doc
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/invite/src/pages/index.tsx
Labels: area/frontend

fix(desktop): workspace name incorrectly encoded on signup init (#5737)
  frontend/desktop/src/components/v2/Workspace.tsx
  frontend/desktop/src/pages/switchRegion.tsx
Labels: area/frontend

chore(invite): add the missing dot
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
Labels: area/frontend

fix(sync): update source paths and sync action configuration
  .github/sync_code.yml
  .github/weekly-digest.yml
  .github/workflows/bot-auto-cherry-pick.yml
  .github/workflows/bot-cherry-pick.yml
  .github/workflows/sync_code.yml
Labels: area/workflow

fix(sync): update source paths and sync action configuration (#5740)
  .github/sync_code.yml
  .github/weekly-digest.yml
  .github/workflows/bot-auto-cherry-pick.yml
  .github/workflows/bot-cherry-pick.yml
  .github/workflows/sync_code.yml
Labels: area/workflow

feat(invite): new invite referral doc link (#5738)
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/invite/src/pages/index.tsx
Labels: area/frontend

feat(database): database api v1 create/modify
  frontend/providers/dbprovider/src/pages/api/v1/database.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName].ts
Labels: area/frontend

refactor(database): split api routes from services
  frontend/providers/dbprovider/src/pages/api/v1/database.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName].ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/pause.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/start.ts
  frontend/providers/dbprovider/src/services/backend/apis/create-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/pause-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/start-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/update-database.ts
Labels: area/frontend

feat(database): api v1 start/pause databse
  frontend/providers/dbprovider/src/pages/api/v1/database.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName].ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/pause.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/start.ts
  frontend/providers/dbprovider/src/types/apis/index.ts
  frontend/providers/dbprovider/src/types/apis/pause-database.ts
  frontend/providers/dbprovider/src/types/apis/start-database.ts
Labels: area/frontend

feat(database): api v1 create/update database
  frontend/providers/dbprovider/src/pages/api/v1/database.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName].ts
Labels: area/frontend

chore(database): configure zod and api docs related deps
  frontend/providers/dbprovider/package.json
Labels: area/frontend

feat(database): add api v1 documents
  frontend/providers/dbprovider/src/pages/api-docs.tsx
  frontend/providers/dbprovider/src/pages/api/v1/openapi.ts
  frontend/providers/dbprovider/src/types/apis/create-database.ts
  frontend/providers/dbprovider/src/types/apis/index.ts
  frontend/providers/dbprovider/src/types/apis/update-database.ts
  frontend/providers/dbprovider/src/types/schemas/backup.ts
  frontend/providers/dbprovider/src/types/schemas/db.ts
Labels: area/frontend

chore(frontend): resolve pnpm lock file
  frontend/pnpm-lock.yaml
Labels: area/frontend

Minor fixes for acceptance scoring (#44)
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
  controllers/devbox/internal/stat/stat.go
Labels: none

feat(database): database api v1 create/modify endpoint (#5723)
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/package.json
  frontend/providers/dbprovider/src/pages/api-docs.tsx
  frontend/providers/dbprovider/src/pages/api/v1/database.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName].ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/pause.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/start.ts
  frontend/providers/dbprovider/src/pages/api/v1/openapi.ts
  frontend/providers/dbprovider/src/services/backend/apis/create-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/pause-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/start-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/update-database.ts
  frontend/providers/dbprovider/src/types/apis/create-database.ts
  frontend/providers/dbprovider/src/types/apis/index.ts
  frontend/providers/dbprovider/src/types/apis/pause-database.ts
  frontend/providers/dbprovider/src/types/apis/start-database.ts
  frontend/providers/dbprovider/src/types/apis/update-database.ts
  frontend/providers/dbprovider/src/types/schemas/backup.ts
  frontend/providers/dbprovider/src/types/schemas/db.ts
Labels: area/frontend

docs: update contribution policy and guidelines in README
  lifecycle/scripts/make-rules/license.mk
  lifecycle/staging/src/github.com/labring/image-cri-shim/.github/workflows/close-pr.yml
  lifecycle/staging/src/github.com/labring/image-cri-shim/README.md
  lifecycle/staging/src/github.com/labring/lvscare/.github/workflows/close-pr.yml
  lifecycle/staging/src/github.com/labring/lvscare/README.md
Labels: area/imageCRIShim, area/lvscare, area/ci

fix(ci): update paths to use PROJECT_PATH variable in ci-patch-image.yml
  .github/workflows/ci-patch-image.yml
Labels: area/workflow

feat: track gtm v2 events (#5733)
  frontend/desktop/data/config.yaml
  frontend/desktop/src/components/AppDock/index.tsx
  frontend/desktop/src/components/account/GuideModal.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
  frontend/desktop/src/components/team/CreateTeam.tsx
  frontend/desktop/src/components/team/DissolveTeam.tsx
  frontend/desktop/src/components/team/InviteMember.tsx
  frontend/desktop/src/components/team/TeamCenter.tsx
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
  frontend/desktop/src/pages/WorkspaceInvite.tsx
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/types/system.ts
  frontend/desktop/src/utils/gtm.ts
  frontend/packages/gtm/src/components/GTMScript.tsx
  frontend/packages/gtm/src/track.ts
  frontend/packages/gtm/src/types.ts
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/src/api/app.ts
  frontend/providers/applaunchpad/src/components/app/detail/index/Pods.tsx
  frontend/providers/applaunchpad/src/components/apps/appList.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/logs.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/monitor.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/types/index.d.ts
Labels: area/frontend

update
  frontend/providers/dbprovider/src/pages/_document.tsx
  frontend/providers/template/src/pages/_document.tsx
Labels: area/frontend

update currencySymbol
  frontend/desktop/src/components/SecondaryLinks/index.tsx
Labels: area/frontend

fix: devbox launch launchpad twice not working
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/redirect.tsx
Labels: area/frontend

.github/labeler.yml:

# Usage in github: https://github.com/actions/labeler (v5 syntax)

area/command:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/cmd/**/*' ]

kind/documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**/*' ]

area/qa:
- changed-files:
  - any-glob-to-any-file: [ 'QA.md' ]

area/test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - 'lifecycle/test/**/*'

area/buildah:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/buildah/**/*' ]

area/imageCRIShim:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/bootstrap/**/*' ]

area/clusterfile:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/clusterfile/**/*' ]

area/config:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/config/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/env/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/template/**/*' ]

area/guest:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/guest/**/*' ]

area/env:
# Note: 'env' here refers to 'lifecycle/pkg/system/**/*' from the original file
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/system/**/*' ]

area/filesystem:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/filesystem/**/*' ]

area/apply:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/apply/**/*' ]

area/check:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/checker/**/*' ]

area/ipvs:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ipvs/**/*' ]

area/ssh:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ssh/**/*' ]

area/registry:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/registry/**/*' ]

area/runtime:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/runtime/**/*' ]

area/api:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/types/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/**/*_types.go' ]

area/cloud:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'controllers/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'service/**/*' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**' ]

area/lifecycle-management:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/staging/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]

area/frontend:
- changed-files:
  - any-glob-to-any-file: [ 'frontend/**/*' ]

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'lifecycle/scripts/**/*'
    - 'lifecycle/docker/**/*'
    - 'deploy/**/*'
    - '.golangci.yml'
    - 'lifecycle/.goreleaser.yml'
    - 'lifecycle/Makefile'

area/workflow:
- changed-files:
  - any-glob-to-any-file: [ '.github/**/*' ]
