Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/guest, area/env, area/filesystem, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/frontend, area/ci, area/workflow

feat: controller and service
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
Labels: area/workflow

feat: add sha tag for controller and service
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
Labels: area/workflow

update
  frontend/packages/gtm/README.md
  frontend/packages/gtm/src/index.ts
  frontend/packages/gtm/src/track.ts
Labels: area/frontend

delete events
  frontend/packages/gtm/src/events.ts
Labels: area/frontend

feat: sha tag
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
  scripts/resolve-tag-image.sh
Labels: area/ci, area/workflow

add annotation
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/const.go
Labels: none

fix: sha length
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
  scripts/resolve-tag-image.sh
Labels: area/ci, area/workflow

Corporate (#5726)
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/cockroach/accountv2_test.go
  controllers/pkg/pay/interface.go
  controllers/pkg/pay/wechat.go
  controllers/pkg/types/payment.go
  service/account/api/admin.go
  service/account/dao/interface.go
  service/account/helper/common.go
  service/account/router/router.go
Labels: area/test

update type
  frontend/packages/gtm/src/track.ts
  frontend/packages/gtm/src/types.ts
Labels: area/frontend

update
  frontend/packages/gtm/src/components/GTMScript.tsx
  frontend/packages/gtm/src/index.ts
  frontend/packages/gtm/src/inject.ts
Labels: area/frontend

fix: release permissions
  .github/workflows/release.yml
Labels: area/workflow

fix: release permissions
  .github/workflows/release.yml
Labels: area/workflow

fix: release permissions
  .github/workflows/release.yml
Labels: area/workflow

fix: release permissions
  .github/workflows/release.yml
Labels: area/workflow

fix: pr reviewer
  .github/workflows/release.yml
Labels: area/workflow

fix: cloud release call
  .github/workflows/cloud-release.yml
  .github/workflows/release.yml
Labels: area/workflow

feat: add gtm sdk (#5728)
  frontend/.gitignore
  frontend/desktop/package.json
  frontend/packages/gtm/README.md
  frontend/packages/gtm/package.json
  frontend/packages/gtm/src/components/GTMScript.tsx
  frontend/packages/gtm/src/components/index.ts
  frontend/packages/gtm/src/index.ts
  frontend/packages/gtm/src/track.ts
  frontend/packages/gtm/src/types.ts
  frontend/packages/gtm/tsconfig.json
  frontend/pnpm-lock.yaml
Labels: area/frontend

fix: license not matched
  .github/workflows/release.yml
Labels: area/workflow

fix(gtm): delay gtm script load so we can mount script after config init
  frontend/packages/gtm/src/components/GTMScript.tsx
Labels: area/frontend

feat(desktop): add gtm v2 config and script
  frontend/desktop/data/config.yaml
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/types/system.ts
Labels: area/frontend

fix committer init
  controllers/devbox/cmd/main.go
  controllers/devbox/internal/controller/devbox_controller.go
Labels: none

Add acceptance scoring for devbox scheduling (#39)
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/cmd/main.go
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/schedule.go
  controllers/devbox/internal/stat/stat.go
Labels: none

fix(gtm): incorrect literal constraint for event fields
  frontend/packages/gtm/src/track.ts
  frontend/packages/gtm/src/types.ts
Labels: area/frontend

add gtm
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/package.json
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DelModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/empty.tsx
  frontend/providers/dbprovider/src/pages/dbs/index.tsx
Labels: area/frontend

fix: git is in a dirty state
  .github/workflows/release.yml
Labels: area/workflow

fix: frontend job step name
  .github/workflows/frontend.yml
Labels: area/workflow

fix(desktop): remove recharge entry restriction
  frontend/desktop/src/components/SecondaryLinks/index.tsx
Labels: area/frontend

fix(desktop): remove recharge entry restriction (#5732)
  frontend/desktop/src/components/SecondaryLinks/index.tsx
Labels: area/frontend

add log for score
  controllers/devbox/internal/controller/devbox_controller.go
Labels: none

feat(gtm): type refining for gtm package
  frontend/packages/gtm/src/types.ts
Labels: area/frontend

feat(desktop): add gtm v2 event trackers
  frontend/desktop/src/components/AppDock/index.tsx
  frontend/desktop/src/components/account/GuideModal.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
  frontend/desktop/src/components/team/CreateTeam.tsx
  frontend/desktop/src/components/team/DissolveTeam.tsx
  frontend/desktop/src/components/team/InviteMember.tsx
  frontend/desktop/src/components/team/TeamCenter.tsx
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
  frontend/desktop/src/pages/WorkspaceInvite.tsx
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/utils/gtm.ts
Labels: area/frontend

feat(applaunchpad): add gtmv2 config and scripts
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/types/index.d.ts
Labels: area/frontend

Add NodeStatsProvider to Devbox controller and enhance error handling for container filesystem stats (#42)
  controllers/devbox/cmd/main.go
  controllers/devbox/internal/controller/devbox_controller.go
Labels: none

add node rbac
  controllers/devbox/config/rbac/role.yaml
  controllers/devbox/internal/controller/devbox_controller.go
Labels: none

feat(applaunchpad): add gtmv2 events
  frontend/packages/gtm/src/types.ts
  frontend/providers/applaunchpad/src/api/app.ts
  frontend/providers/applaunchpad/src/components/apps/appList.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/logs.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/monitor.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
Labels: area/frontend

feat(applaunchpad): add gtmv2 error and paywall event
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
Labels: area/frontend

fix(desktop): workspace toggle not closed when workspace popup is open
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
Labels: area/frontend

fix(applaunchpad): missing default config for gtm id
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
Labels: area/frontend

fix: bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Runtime.tsx
Labels: area/frontend

fix: bug (#5736)
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Runtime.tsx
Labels: area/frontend

.github/labeler.yml:

# Usage in github: https://github.com/actions/labeler (v5 syntax)

area/command:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/cmd/**/*' ]

kind/documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**/*' ]

area/qa:
- changed-files:
  - any-glob-to-any-file: [ 'QA.md' ]

area/test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - 'lifecycle/test/**/*'

area/buildah:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/buildah/**/*' ]

area/imageCRIShim:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/bootstrap/**/*' ]

area/clusterfile:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/clusterfile/**/*' ]

area/config:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/config/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/env/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/template/**/*' ]

area/guest:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/guest/**/*' ]

area/env:
# Note: 'env' here refers to 'lifecycle/pkg/system/**/*' from the original file
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/system/**/*' ]

area/filesystem:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/filesystem/**/*' ]

area/apply:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/apply/**/*' ]

area/check:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/checker/**/*' ]

area/ipvs:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ipvs/**/*' ]

area/ssh:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ssh/**/*' ]

area/registry:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/registry/**/*' ]

area/runtime:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/runtime/**/*' ]

area/api:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/types/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/**/*_types.go' ]

area/cloud:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'controllers/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'service/**/*' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**' ]

area/lifecycle-management:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/staging/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]

area/frontend:
- changed-files:
  - any-glob-to-any-file: [ 'frontend/**/*' ]

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'lifecycle/scripts/**/*'
    - 'lifecycle/docker/**/*'
    - 'deploy/**/*'
    - '.golangci.yml'
    - 'lifecycle/.goreleaser.yml'
    - 'lifecycle/Makefile'

area/workflow:
- changed-files:
  - any-glob-to-any-file: [ '.github/**/*' ]
