Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/guest, area/env, area/filesystem, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/frontend, area/ci, area/workflow

feat: gtm
  frontend/pnpm-lock.yaml
  frontend/providers/devbox/.env.template
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/components/dialogs/DeleteDevboxDialog.tsx
  frontend/providers/devbox/components/dialogs/ReleaseDialog.tsx
  frontend/providers/devbox/components/dialogs/ShutdownDialog.tsx
  frontend/providers/devbox/hooks/useControlDevbox.tsx
  frontend/providers/devbox/package.json
  frontend/providers/devbox/stores/guide.ts
Labels: area/frontend

feat: other action
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/hooks/useControlDevbox.tsx
Labels: area/frontend

fix: monitor chart bug
  frontend/providers/devbox/components/MonitorChart.tsx
Labels: area/frontend

fix: date picker bug
  frontend/providers/devbox/components/DatePicker.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
Labels: area/frontend

fix: monitor bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Monitor.tsx
  frontend/providers/devbox/components/MonitorChart.tsx
Labels: area/frontend

fix: sealos coin bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/PriceBox.tsx
Labels: area/frontend

Update LICENSE (#5719)
  LICENSE
Labels: none

fix: font size bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Form.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Runtime.tsx
  frontend/providers/devbox/components/ui/form.tsx
Labels: area/frontend

fix: deploy bug
  frontend/providers/devbox/components/drawers/DeployDevboxDrawer.tsx
Labels: area/frontend

fix: typo bug
  frontend/providers/devbox/message/zh.json
Labels: area/frontend

fix: weight bug
  frontend/providers/devbox/components/dialogs/ReleaseDialog.tsx
Labels: area/frontend

fix: template bug
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PrivateTemplate.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PublicTemplate.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/TemplateCard.tsx
Labels: area/frontend

fix: back logic perf
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Runtime.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/Header.tsx
Labels: area/frontend

fix: bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/PriceBox.tsx
Labels: area/frontend

fix: template layout bug
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PrivateTemplate.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PublicTemplate.tsx
Labels: area/frontend

fix: template bug
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PrivateTemplate.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PublicTemplate.tsx
Labels: area/frontend

fix: detail layout bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/page.tsx
Labels: area/frontend

Fix Snapshot Error (#45)
  controllers/devbox/go.mod
  controllers/devbox/go.sum
  controllers/devbox/internal/commit/commit.go
  controllers/devbox/internal/commit/commit_test.go
  controllers/devbox/internal/commit/const.go
  controllers/go.work.sum
Labels: area/test

fix: license bug
  LICENSE
Labels: none

fix: delete LICENSE
  LICENSE
Labels: none

feat: basic zod openapi
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/src/api/openapi.ts
  frontend/providers/applaunchpad/src/api/schema.ts
  frontend/providers/applaunchpad/src/pages/app/reference/page.tsx
Labels: area/frontend

add getApps
  frontend/providers/applaunchpad/src/api/openapi.ts
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getApps.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: area/frontend

update
  frontend/providers/applaunchpad/public/openapi.json
Labels: area/frontend

refactor: rename api to v1
  frontend/providers/applaunchpad/src/pages/api/v1/createApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/delAppByName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/getAppByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/getAppPodsByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/getApps.ts
  frontend/providers/applaunchpad/src/pages/api/v1/getPodsMetrics.ts
  frontend/providers/applaunchpad/src/pages/api/v1/updateReplica.ts
Labels: area/frontend

Update LICENSE (#5719)
  LICENSE
Labels: none

fix swc error
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getAppByAppName.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: area/frontend

update workorder
  frontend/providers/workorder/public/locales/en/common.json
  frontend/providers/workorder/public/locales/zh/common.json
  frontend/providers/workorder/src/pages/workorders/index.tsx
Labels: area/frontend

update api
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/src/api/openapi.ts
  frontend/providers/applaunchpad/src/api/schema.ts
  frontend/providers/applaunchpad/src/components/app/detail/logs/Header.tsx
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/createApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/delAppByName.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getAppByAppName.ts
  frontend/providers/applaunchpad/src/pages/reference.tsx
  frontend/providers/applaunchpad/src/utils/adapt.ts
Labels: area/frontend

update
  frontend/providers/workorder/public/locales/zh/common.json
Labels: area/frontend

update
  frontend/providers/applaunchpad/.claude/settings.local.json
Labels: area/frontend

update
  frontend/providers/applaunchpad/src/api/openapi.ts
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/pages/api-docs.tsx
  frontend/providers/applaunchpad/src/pages/api/v1/getAppByAppName.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
Labels: area/frontend

support update app
  frontend/providers/applaunchpad/.claude/settings.local.json
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/pages/api-docs.tsx
  frontend/providers/applaunchpad/src/pages/api/v1/app/[appName].ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/index.ts
  frontend/providers/applaunchpad/src/pages/api/v1/openapi.ts
  frontend/providers/applaunchpad/src/pages/api/v1/updateReplica.ts
  frontend/providers/applaunchpad/src/services/backend/appService.ts
  frontend/providers/applaunchpad/src/types/openapi.ts
Labels: area/frontend

update lock
  frontend/pnpm-lock.yaml
Labels: area/frontend

update v1
  frontend/providers/applaunchpad/public/openapi.json
  frontend/providers/applaunchpad/src/pages/api-docs.tsx
  frontend/providers/applaunchpad/src/pages/api/v1/app/[appName].ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/index.ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/pauseApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/startApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/createApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/delAppByName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/getAppByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/pod/getAppPodsByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/v1/pod/getPodsMetrics.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/delAppByName.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getAppByAppName.ts
  frontend/providers/applaunchpad/src/services/backend/appService.ts
  frontend/providers/applaunchpad/src/services/backend/index.ts
Labels: area/frontend

update docs
  frontend/providers/applaunchpad/src/types/openapi.ts
Labels: area/frontend

update
  frontend/providers/applaunchpad/src/api/openapi.ts
  frontend/providers/applaunchpad/src/constants/schema.ts
  frontend/providers/applaunchpad/src/pages/api-docs.tsx
  frontend/providers/applaunchpad/src/pages/api/pauseApp.ts
  frontend/providers/applaunchpad/src/pages/api/startApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/[appName].ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/pauseApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1/app/startApp.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/delAppByName.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getAppByAppName.ts
  frontend/providers/applaunchpad/src/services/backend/appService.ts
  frontend/providers/applaunchpad/src/services/backend/index.ts
Labels: area/frontend

update
  LICENSE
  frontend/pnpm-lock.yaml
Labels: area/frontend

feat(applaunchpad): update related app cr when updating custom domains
  frontend/providers/applaunchpad/src/pages/api/updateApp.ts
Labels: area/frontend

feat(applaunchpad): dynamic volume size limit calculation
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
Labels: area/frontend

fix(applaunchpad): not able to decrease volume size even when not submitted
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
Labels: area/frontend

.github/labeler.yml:

# Usage in github: https://github.com/actions/labeler (v5 syntax)

area/command:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/cmd/**/*' ]

kind/documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**/*' ]

area/qa:
- changed-files:
  - any-glob-to-any-file: [ 'QA.md' ]

area/test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - 'lifecycle/test/**/*'

area/buildah:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/buildah/**/*' ]

area/imageCRIShim:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/bootstrap/**/*' ]

area/clusterfile:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/clusterfile/**/*' ]

area/config:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/config/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/env/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/template/**/*' ]

area/guest:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/guest/**/*' ]

area/env:
# Note: 'env' here refers to 'lifecycle/pkg/system/**/*' from the original file
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/system/**/*' ]

area/filesystem:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/filesystem/**/*' ]

area/apply:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/apply/**/*' ]

area/check:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/checker/**/*' ]

area/ipvs:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ipvs/**/*' ]

area/ssh:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ssh/**/*' ]

area/registry:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/registry/**/*' ]

area/runtime:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/runtime/**/*' ]

area/api:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/types/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/**/*_types.go' ]

area/cloud:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'controllers/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'service/**/*' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**' ]

area/lifecycle-management:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/staging/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]

area/frontend:
- changed-files:
  - any-glob-to-any-file: [ 'frontend/**/*' ]

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'lifecycle/scripts/**/*'
    - 'lifecycle/docker/**/*'
    - 'deploy/**/*'
    - '.golangci.yml'
    - 'lifecycle/.goreleaser.yml'
    - 'lifecycle/Makefile'

area/workflow:
- changed-files:
  - any-glob-to-any-file: [ '.github/**/*' ]
