Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/config, area/guest, area/env, area/filesystem, area/build, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/api, area/cloud, area/lifecycle-management, area/frontend, area/ci, area/workflow

.github/labeler.yml:

#Usage in github: https://github.com/actions/labeler

area/command:
  - any: [ 'cmd/**/*' ]

kind/documentation:
  - any: [ 'docs/**/*' ]

area/qa:
  - 'QA.md'

area/test:
  - '**/*_test.go'
  - 'test/**/*'

area/buildah:
  - any: [ 'pkg/buildah/**/*' ]

area/imageCRIShim:
  - any: [ 'staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
  - any: [ 'staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
  - any: [ 'pkg/bootstrap/**/*' ]

area/clusterfile:
  - any: [ 'pkg/clusterfile/**/*' ]

area/config:
  - any: [ 'pkg/config/**/*' ]
  - any: [ 'pkg/env/**/*' ]
  - any: [ 'pkg/template/**/*' ]

area/guest:
  - any: [ 'pkg/guest/**/*' ]

area/env:
  - any: [ 'pkg/system/**/*' ]

area/filesystem:
  - any: [ 'pkg/filesystem/**/*' ]

area/build:
  - any: [ 'pkg/buildimage/**/*' ]

area/apply:
  - any: [ 'pkg/apply/**/*' ]

area/check:
  - any: [ 'pkg/checker/**/*' ]

area/ipvs:
  - any: [ 'pkg/ipvs/**/*' ]

area/ssh:
  - any: [ 'pkg/ssh/**/*' ]
  - any: [ 'pkg/remote/**/*' ]

area/registry:
  - any: [ 'pkg/registry/**/*' ]

area/runtime:
  - any: [ 'pkg/runtime/**/*' ]

area/api:
  - any: [ 'pkg/types/**/*']
  - any: [ '**/*_types.go' ]

area/cloud:
  - any: [ 'controllers/**/*' ]
  - any: [ 'service/**/*' ]
  - any: ['docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**']
  - any: ['docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**']

area/lifecycle-management:
  - any: [ 'pkg/**/*' ]
  - any: [ 'staging/**/*' ]
  - any: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - any: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]


area/frontend:
  - any: [ 'frontend/**/*' ]

area/ci:
  - 'scripts/**/*'
  - 'docker/**/*'
  - 'deploy/**/*'
  - '.golangci.yml'
  - '.goreleaser.yml'
  - 'Makefile'

area/workflow:
  - any: [ '.github/**/*' ]

refactor(main): fix ugn auto delete ns
  controllers/user/controllers/usergroupbinding_controller.go
Labels: area/cloud

refactor(main): set owner user annoation
  controllers/user/controllers/user_controller.go
Labels: area/cloud

refactor(main): using cluster-admin role for user-controller
  controllers/user/config/rbac/role.yaml
  controllers/user/controllers/user_controller.go
  controllers/user/controllers/user_expiration_controller.go
  controllers/user/controllers/usergroup_controller.go
  controllers/user/controllers/usergroupbinding_controller.go
  controllers/user/deploy/manifests/deploy.yaml
Labels: area/cloud

refactor(main): delete ns when user delete
  controllers/user/controllers/user_controller.go
Labels: area/cloud

refactor(main): using kubeconfig interface and autoload secret
  controllers/account/controllers/account_controller.go
  controllers/user/config/rbac/role.yaml
  controllers/user/controllers/cache/cache.go
  controllers/user/controllers/helper/config/pod_security.go
  controllers/user/controllers/helper/config/rbac.go
  controllers/user/controllers/helper/kubeconfig.go
  controllers/user/controllers/helper/kubeconfig/cert.go
  controllers/user/controllers/helper/kubeconfig/csr.go
  controllers/user/controllers/helper/kubeconfig/interface.go
  controllers/user/controllers/helper/kubeconfig/sa.go
  controllers/user/controllers/helper/kubeconfig/suite_test.go
  controllers/user/controllers/helper/kubeconfig/tools.go
  controllers/user/controllers/helper/kubeconfig/webhook.go
  controllers/user/controllers/helper/kubeconfig/webhook.md
  controllers/user/controllers/helper/rbac.yaml
  controllers/user/controllers/helper/sa.go
  controllers/user/controllers/namespace_controller.go
  controllers/user/controllers/suite_test.go
  controllers/user/controllers/user_controller.go
  controllers/user/controllers/usergroup_controller.go
  controllers/user/controllers/usergroupbinding_controller.go
  controllers/user/main.go
Labels: area/test, area/cloud

refactor(main): auto cherry pick
  .github/workflows/bot-auto-cherry-pick.yml
  .github/workflows/bot-cherry-pick.yml
Labels: area/workflow

refactor(main): auto cherry pick (#3412)
  .github/workflows/bot-auto-cherry-pick.yml
  .github/workflows/bot-cherry-pick.yml
Labels: area/workflow

refactor(main): auto cherry pick (#3412)
  .github/workflows/bot-auto-cherry-pick.yml
  .github/workflows/bot-cherry-pick.yml
Labels: area/workflow

feat(frontend/costcenter):configable bonus
  frontend/providers/costcenter/Dockerfile
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/lineChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/components/outerLink.tsx
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/hooks/useRecharge.tsx
  frontend/providers/costcenter/src/pages/api/price/bonus.ts
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/service/backend/kubernetes.ts
  frontend/providers/costcenter/src/stores/overview.ts
  frontend/providers/costcenter/src/types/billing.ts
  frontend/providers/costcenter/src/types/payment.ts
  frontend/providers/costcenter/src/utils/favorable.ts
Labels: area/frontend

add support for kubeblocks
  controllers/db/bytebase/config/rbac/role.yaml
  controllers/db/bytebase/controllers/bytebase/bytebase_controller.go
  controllers/db/bytebase/controllers/bytebase/instance.go
Labels: area/cloud

refactor(main): refactor user and update old user data (#3359)
  controllers/account/controllers/account_controller.go
  controllers/user/.gitignore
  controllers/user/api/v1/groupversion_info.go
  controllers/user/api/v1/usergroup_webhook.go
  controllers/user/api/v1/usergroupbinding_webhook.go
  controllers/user/api/v1/webhook_suite_test.go
  controllers/user/config/rbac/role.yaml
  controllers/user/config/webhook/manifests.yaml
  controllers/user/controllers/cache/cache.go
  controllers/user/controllers/helper/config/pod_security.go
  controllers/user/controllers/helper/config/rbac.go
  controllers/user/controllers/helper/helper.go
  controllers/user/controllers/helper/kubeconfig.go
  controllers/user/controllers/helper/kubeconfig/cert.go
  controllers/user/controllers/helper/kubeconfig/csr.go
  controllers/user/controllers/helper/kubeconfig/interface.go
  controllers/user/controllers/helper/kubeconfig/sa.go
  controllers/user/controllers/helper/kubeconfig/suite_test.go
  controllers/user/controllers/helper/kubeconfig/tools.go
  controllers/user/controllers/helper/kubeconfig/webhook.go
  controllers/user/controllers/helper/kubeconfig/webhook.md
  controllers/user/controllers/helper/rbac.yaml
  controllers/user/controllers/helper/sa.go
  controllers/user/controllers/migrate/migrate.go
  controllers/user/controllers/namespace_controller.go
  controllers/user/controllers/suite_test.go
  controllers/user/controllers/user_controller.go
  controllers/user/controllers/user_expiration_controller.go
  controllers/user/controllers/usergroup_controller.go
  controllers/user/controllers/usergroupbinding_controller.go
  controllers/user/controllers/usergroupnamespacebinding_controller.go
  controllers/user/controllers/usergroupuserbinding_controller.go
  controllers/user/deploy/Kubefile
  controllers/user/deploy/manifests/deploy.yaml
  controllers/user/main.go
  controllers/user/user.env
Labels: area/test, area/cloud

refactor(main): remove old code for convert
  controllers/user/PROJECT
  controllers/user/api/v1/usergroup_types.go
  controllers/user/api/v1/usergroupbinding_types.go
  controllers/user/api/v1/zz_generated.deepcopy.go
  controllers/user/config/crd/bases/user.sealos.io_usergroupbindings.yaml
  controllers/user/config/crd/bases/user.sealos.io_usergroups.yaml
  controllers/user/config/crd/kustomization.yaml
  controllers/user/config/crd/patches/cainjection_in_groups.yaml
  controllers/user/config/crd/patches/cainjection_in_usergroupbindings.yaml
  controllers/user/config/crd/patches/cainjection_in_usergroupnamespacebindings.yaml
  controllers/user/config/crd/patches/cainjection_in_usergroups.yaml
  controllers/user/config/crd/patches/cainjection_in_usergroupuserbindings.yaml
  controllers/user/config/crd/patches/webhook_in_usergroupbindings.yaml
  controllers/user/config/crd/patches/webhook_in_usergroupnamespacebindings.yaml
  controllers/user/config/crd/patches/webhook_in_usergroups.yaml
  controllers/user/config/crd/patches/webhook_in_usergroupuserbindings.yaml
  controllers/user/controllers/user_controller.go
  controllers/user/controllers/usergroup_controller.go
  controllers/user/controllers/usergroupbinding_controller.go
  controllers/user/deploy/Kubefile
  controllers/user/deploy/manifests/deploy.yaml
  controllers/user/main.go
Labels: area/api, area/cloud

perf: price box
  frontend/providers/applaunchpad/src/pages/_app.tsx
Labels: area/frontend

i18n
  frontend/providers/applaunchpad/src/pages/_app.tsx
Labels: area/frontend

perf: pod status
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/constants/theme.ts
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/store/app.ts
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
Labels: area/frontend

fix: volumn name
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: area/frontend

completely remove zalando pg operator support
  controllers/db/bytebase/config/rbac/role.yaml
  controllers/db/bytebase/controllers/bytebase/bytebase_controller.go
  controllers/db/bytebase/controllers/bytebase/instance.go
  controllers/db/bytebase/deploy/manifests/deploy.yaml.tmpl
  controllers/db/bytebase/main.go
Labels: area/cloud

fix: pvc name
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/LogsModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: area/frontend

fix: volumn auto name and pod status (#3418)
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/constants/theme.ts
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/LogsModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/store/app.ts
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: area/frontend

adapt refactor user controller
  controllers/account/api/v1/debt_webhook.go
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/config/manager/manager.yaml
  controllers/account/config/rbac/role.yaml
  controllers/account/config/webhook/manifests.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/deploy/manifests/deploy.yaml
  controllers/account/main.go
Labels: area/cloud

temporarily delete
  controllers/account/main.go
Labels: area/cloud

add controller rate limit
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/billing_controller.go
  controllers/account/controllers/billingrecordquery_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/payment_controller.go
  controllers/account/main.go
Labels: area/cloud

fix account cluster image
  controllers/account/README.md
  controllers/account/deploy/Kubefile
  controllers/account/deploy/manifests/deploy.yaml
  controllers/account/deploy/manifests/mongo-secret.yaml.tmpl
Labels: area/cloud

add RetryOnConflict to create role
  controllers/account/controllers/account_controller.go
Labels: area/cloud

add desktop user role && fix retry sync resourcequota
  controllers/account/controllers/account_controller.go
  controllers/account/deploy/manifests/deploy.yaml
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
Labels: area/cloud, area/frontend

feat(frontend/costcenter):configable bonus (#3420)
  frontend/providers/costcenter/Dockerfile
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/lineChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/components/outerLink.tsx
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/hooks/useRecharge.tsx
  frontend/providers/costcenter/src/pages/api/price/bonus.ts
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/service/backend/kubernetes.ts
  frontend/providers/costcenter/src/stores/overview.ts
  frontend/providers/costcenter/src/types/billing.ts
  frontend/providers/costcenter/src/types/payment.ts
  frontend/providers/costcenter/src/utils/favorable.ts
Labels: area/frontend

Adapt refactor user controller #3359 (#3394)
  controllers/account/README.md
  controllers/account/api/v1/debt_webhook.go
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/config/manager/manager.yaml
  controllers/account/config/rbac/role.yaml
  controllers/account/config/webhook/manifests.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/billing_controller.go
  controllers/account/controllers/billingrecordquery_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/payment_controller.go
  controllers/account/deploy/Kubefile
  controllers/account/deploy/manifests/deploy.yaml
  controllers/account/deploy/manifests/mongo-secret.yaml.tmpl
  controllers/account/main.go
  controllers/account/testdata/account/recharge.go
  controllers/account/testdata/api/account.go
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
Labels: area/cloud, area/frontend

change app rbac for default user.
  controllers/app/deploy/manifests/rbac.yaml
Labels: area/cloud

change app rbac for default user. (#3423)
  controllers/app/deploy/manifests/rbac.yaml
Labels: area/cloud

update cloud cluster image build process
  .github/workflows/cloud.yml
  deploy/cloud/init.sh
  deploy/cloud/scripts/init.sh
Labels: area/ci, area/workflow

Feature:sudo support for scp
  pkg/ssh/scp.go
  pkg/ssh/ssh.go
  pkg/ssh/sshcmd.go
  pkg/ssh/suftp.go
Labels: area/ssh, area/lifecycle-management

update cloud cluster image build process (#3426)
  .github/workflows/cloud.yml
  deploy/cloud/init.sh
  deploy/cloud/scripts/init.sh
Labels: area/ci, area/workflow

feat(frontend/desktop):login by password
  frontend/desktop/.env
  frontend/desktop/public/images/Vector.svg
  frontend/desktop/public/images/ic_baseline-wechat.svg
  frontend/desktop/public/images/language.svg
  frontend/desktop/public/images/lock.svg
  frontend/desktop/public/images/person.svg
  frontend/desktop/public/images/sealos-title.png
  frontend/desktop/public/images/uil_info-circle.svg
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh-Hans/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/LangSelect/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/notification/index.module.scss
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/components/user_menu/index.tsx
  frontend/desktop/src/hooks/useRecharge.tsx
  frontend/desktop/src/pages/api/auth/oauth/github/index.ts
  frontend/desktop/src/pages/api/auth/oauth/wechat/index.ts
  frontend/desktop/src/pages/api/auth/password/exist.ts
  frontend/desktop/src/pages/api/auth/password/index.ts
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/pages/api/auth/phone/verify.ts
  frontend/desktop/src/pages/api/price/bonus.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/services/backend/db/user.ts
  frontend/desktop/src/services/backend/kubernetes/admin.ts
  frontend/desktop/src/services/backend/kubernetes/user.ts
  frontend/desktop/src/services/backend/oauth.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/stores/overview.ts
  frontend/desktop/src/stores/session.ts
  frontend/desktop/src/types/payment.ts
  frontend/desktop/src/types/user.ts
  frontend/desktop/src/utils/crypto.ts
  frontend/desktop/src/utils/format.ts
  frontend/desktop/src/utils/tools.ts
Labels: area/frontend

feat(frontend/desktop):login by password (#3414)
  frontend/desktop/.env
  frontend/desktop/public/images/Vector.svg
  frontend/desktop/public/images/ic_baseline-wechat.svg
  frontend/desktop/public/images/language.svg
  frontend/desktop/public/images/lock.svg
  frontend/desktop/public/images/person.svg
  frontend/desktop/public/images/sealos-title.png
  frontend/desktop/public/images/uil_info-circle.svg
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh-Hans/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/LangSelect/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/notification/index.module.scss
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/components/user_menu/index.tsx
  frontend/desktop/src/hooks/useRecharge.tsx
  frontend/desktop/src/pages/api/auth/oauth/github/index.ts
  frontend/desktop/src/pages/api/auth/oauth/wechat/index.ts
  frontend/desktop/src/pages/api/auth/password/exist.ts
  frontend/desktop/src/pages/api/auth/password/index.ts
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/pages/api/auth/phone/verify.ts
  frontend/desktop/src/pages/api/price/bonus.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/services/backend/db/user.ts
  frontend/desktop/src/services/backend/kubernetes/admin.ts
  frontend/desktop/src/services/backend/kubernetes/user.ts
  frontend/desktop/src/services/backend/oauth.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/stores/overview.ts
  frontend/desktop/src/stores/session.ts
  frontend/desktop/src/types/payment.ts
  frontend/desktop/src/types/user.ts
  frontend/desktop/src/utils/crypto.ts
  frontend/desktop/src/utils/format.ts
  frontend/desktop/src/utils/tools.ts
Labels: area/frontend

get version by cr
  frontend/providers/dbprovider/src/api/platform.ts
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/api/platform/getVersion.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/store/static.ts
Labels: area/frontend

first-code
  docs/4.0/docs/examples/first-code/How to Run Your First Go Code on Sealos.md
  docs/4.0/docs/examples/first-code/How to Run Your First Java Code on Sealos.md
  docs/4.0/docs/examples/first-code/How to Run Your First Vue Code on Sealos.md
  docs/4.0/docs/examples/first-code/How to run your first Node.js code on Sealos.md
  docs/4.0/docs/examples/first-code/How to run your first Python code on Sealos.md
  docs/4.0/docs/examples/first-code/images/java-example-10.png
  docs/4.0/docs/examples/first-code/images/java-example-11.png
  docs/4.0/docs/examples/first-code/images/java-example-3.png
  docs/4.0/docs/examples/first-code/images/java-example-4.png
  docs/4.0/docs/examples/first-code/images/vue-example-0.png
  docs/4.0/docs/examples/first-code/images/vue-example-1.png
  docs/4.0/docs/examples/first-code/images/vue-example-2.png
  docs/4.0/docs/examples/first-code/images/vue-example-3.png
  docs/4.0/docs/examples/first-code/images/vue-example-4.png
  docs/4.0/i18n/zh-Hans/examples/first-code/images/vue-example-0.png
  docs/4.0/i18n/zh-Hans/examples/first-code/images/vue-example-1.png
  docs/4.0/i18n/zh-Hans/examples/first-code/images/vue-example-2.png
  docs/4.0/i18n/zh-Hans/examples/first-code/images/vue-example-3.png
  docs/4.0/i18n/zh-Hans/examples/first-code/images/vue-example-4.png
  docs/4.0/i18n/zh-Hans/examples/first-code/如何在 Sealos 上运行你的第一份 Go 代码.md
  docs/4.0/i18n/zh-Hans/examples/first-code/如何在 Sealos 上运行你的第一份 Java 代码.md
  docs/4.0/i18n/zh-Hans/examples/first-code/如何在 Sealos 上运行你的第一份 Nodejs 代码.md
  docs/4.0/i18n/zh-Hans/examples/first-code/如何在 Sealos 上运行你的第一份 Python 代码.md
  docs/4.0/i18n/zh-Hans/examples/first-code/如何在 Sealos 上运行你的第一份 Vue 代码.md
Labels: kind/documentation, area/cloud
