Repository labring/sealos, changes with the labels that .github/labeler.yml gives for each.
All labels: area/command, kind/documentation, area/qa, area/test, area/buildah, area/imageCRIShim, area/lvscare, area/bootstrap, area/clusterfile, area/guest, area/env, area/filesystem, area/apply, area/check, area/ipvs, area/ssh, area/registry, area/runtime, area/frontend, area/ci, area/workflow

.github/labeler.yml:

# Usage in github: https://github.com/actions/labeler (v5 syntax)

area/command:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/cmd/**/*' ]

kind/documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**/*' ]

area/qa:
- changed-files:
  - any-glob-to-any-file: [ 'QA.md' ]

area/test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - 'lifecycle/test/**/*'

area/buildah:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/buildah/**/*' ]

area/imageCRIShim:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/image-cri-shim/**/*' ]

area/lvscare:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/staging/src/github.com/labring/lvscare/**/*' ]

area/bootstrap:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/bootstrap/**/*' ]

area/clusterfile:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/clusterfile/**/*' ]

area/config:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/config/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/env/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/template/**/*' ]

area/guest:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/guest/**/*' ]

area/env:
# Note: 'env' here refers to 'lifecycle/pkg/system/**/*' from the original file
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/system/**/*' ]

area/filesystem:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/filesystem/**/*' ]

area/apply:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/apply/**/*' ]

area/check:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/checker/**/*' ]

area/ipvs:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ipvs/**/*' ]

area/ssh:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/ssh/**/*' ]

area/registry:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/registry/**/*' ]

area/runtime:
- changed-files:
  - any-glob-to-any-file: [ 'lifecycle/pkg/runtime/**/*' ]

area/api:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/types/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/**/*_types.go' ]

area/cloud:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'controllers/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'service/**/*' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/docs/**', '!docs/4.0/docs/lifecycle-management/**' ]
  - changed-files:
    - all-globs-to-any-file: [ 'docs/4.0/i18n/zh-Hans/**', '!docs/4.0/i18n/zh-Hans/lifecycle-management/**' ]

area/lifecycle-management:
- any:
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/pkg/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'lifecycle/staging/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/docs/lifecycle-management/**/*' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/4.0/i18n/zh-Hans/lifecycle-management/**/*' ]

area/frontend:
- changed-files:
  - any-glob-to-any-file: [ 'frontend/**/*' ]

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'lifecycle/scripts/**/*'
    - 'lifecycle/docker/**/*'
    - 'deploy/**/*'
    - '.golangci.yml'
    - 'lifecycle/.goreleaser.yml'
    - 'lifecycle/Makefile'

area/workflow:
- changed-files:
  - any-glob-to-any-file: [ '.github/**/*' ]

fix(check-link-error): refine workflow triggers and enhance comment handling for pull requests (#5743)
  .github/workflows/check-link-error.yml
  lychee.toml
Labels: area/workflow

fix(ci): update permissions and script path in ci-patch-image.yml
  .github/workflows/ci-patch-image.yml
Labels: area/workflow

fix(ci): update permissions and script path in ci-patch-image.yml (#5746)
  .github/workflows/ci-patch-image.yml
Labels: area/workflow

chore: bumo golangci-lint to v2.3.0
  .github/workflows/ci.yml
  .github/workflows/controllers.yml
  .github/workflows/services.yml
  .github/workflows/webhooks.yml
  .golangci.yml
Labels: area/ci, area/workflow

chore: update golangci go version to 1.23
  .golangci.yml
Labels: area/ci

fix(launchpad): app error state not correctly shown (#5754)
  frontend/providers/applaunchpad/src/store/app.ts
Labels: area/frontend

fix(desktop): hide guide modal on narrow screens
  frontend/desktop/src/components/SecondaryLinks/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
Labels: area/frontend

feat(desktop): basic layout for mobile version of the guide modal
  frontend/desktop/src/components/account/GuideModal.tsx
Labels: area/frontend

Update LICENSE (#5719)
  LICENSE
Labels: none

feat: gtm
  frontend/pnpm-lock.yaml
  frontend/providers/devbox/.env.template
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/components/dialogs/DeleteDevboxDialog.tsx
  frontend/providers/devbox/components/dialogs/ReleaseDialog.tsx
  frontend/providers/devbox/components/dialogs/ShutdownDialog.tsx
  frontend/providers/devbox/hooks/useControlDevbox.tsx
  frontend/providers/devbox/package.json
  frontend/providers/devbox/stores/guide.ts
Labels: area/frontend

feat: restart
  frontend/providers/devbox/hooks/useControlDevbox.tsx
Labels: area/frontend

fix: delete LICENSE
  LICENSE
Labels: none

feat: other action
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/hooks/useControlDevbox.tsx
Labels: area/frontend

update
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
Labels: area/frontend

update
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
Labels: area/frontend

add gtm
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/package.json
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DelModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/empty.tsx
  frontend/providers/dbprovider/src/pages/dbs/index.tsx
Labels: area/frontend

update
  frontend/providers/dbprovider/src/pages/dbs/index.tsx
Labels: area/frontend

update
  frontend/providers/dbprovider/src/pages/db/detail/components/DelModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/pages/dbs/index.tsx
Labels: area/frontend

Update LICENSE (#5719)
  LICENSE
Labels: none

fix: type bug
  frontend/providers/devbox/components/IDEButton.tsx
Labels: area/frontend

feat(dssktop): only show guide for installed apps
  frontend/desktop/src/components/account/GuideModal.tsx
Labels: area/frontend

update
  LICENSE
Labels: none

feat(database): add GTM v2 tracking for database module navigation and operations (#5730)
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/package.json
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DelModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/empty.tsx
  frontend/providers/dbprovider/src/pages/dbs/index.tsx
Labels: area/frontend

feat(devbox): devbox gtm support (#5735)
  frontend/pnpm-lock.yaml
  frontend/providers/devbox/.env.template
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/components/dialogs/DeleteDevboxDialog.tsx
  frontend/providers/devbox/components/dialogs/ReleaseDialog.tsx
  frontend/providers/devbox/components/dialogs/ShutdownDialog.tsx
  frontend/providers/devbox/hooks/useControlDevbox.tsx
  frontend/providers/devbox/package.json
  frontend/providers/devbox/stores/guide.ts
Labels: area/frontend

chore: bump cilint to 2.3.1
  .github/workflows/ci.yml
  .github/workflows/controllers.yml
  .github/workflows/services.yml
  .github/workflows/webhooks.yml
Labels: area/workflow

fix(desktop): vertically align account center labels to middle
  frontend/desktop/src/components/account/AccountCenter/ConfigItem.tsx
Labels: area/frontend

fix ci bug.
  service/hubble/cmd/main.go
  service/hubble/collector/collector.go
  service/hubble/config/config.go
  service/hubble/datastore/redis.go
  service/hubble/pkg/auth/auth.go
  service/hubble/pkg/auth/cache_auth.go
  service/hubble/pkg/auth/interface.go
  service/hubble/pkg/cache/cache.go
  service/hubble/pkg/cache/interface.go
  service/hubble/pkg/constants/label.go
  service/hubble/pkg/constants/redis_key.go
  service/hubble/pkg/models/request.go
  service/hubble/pkg/models/response.go
  service/hubble/server/server.go
Labels: none

corporate
  controllers/pkg/types/payment.go
Labels: none

feat(launchpad): create random service name to avoid conflicts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: area/frontend

fix(desktop): sms not automically sends when captcha is disabled (#5753)
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/desktop/src/components/v2/PhoneCheck.tsx
Labels: area/frontend

Corporate (#5783)
  controllers/pkg/types/payment.go
Labels: none

refactor(invite): invitation rewarding wording tweaks
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/invite/src/pages/index.tsx
Labels: area/frontend

refactor(desktop): include hidden apps in install apps listing api
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
Labels: area/frontend

refactor(invite): invitation rewarding wording tweaks (#5784)
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/invite/src/pages/index.tsx
Labels: area/frontend

feat(desktop): basic layout for mobile version of the guide modal (#5757)
  frontend/desktop/src/components/SecondaryLinks/index.tsx
  frontend/desktop/src/components/account/AccountCenter/ConfigItem.tsx
  frontend/desktop/src/components/account/GuideModal.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
Labels: area/frontend

feat(pr-lint): add workflow for linting pull request titles
  .github/workflows/pr-lint-semantic.yml
Labels: area/workflow

optimize invoice
  frontend/providers/costcenter/src/components/invoice/PaymentPanel.tsx
  frontend/providers/costcenter/src/components/table/InovicePaymentTable.tsx
  frontend/providers/costcenter/src/types/billing.ts
Labels: area/frontend

fix(frontend): custom scripts in env vars are not injected
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/_document.tsx
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/pages/_document.tsx
Labels: area/frontend

fix(applaunchpad): shared volumes accidentally rendered
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
Labels: area/frontend

fix(applaunchpad): not able to decrease volume size even when not submitted
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
Labels: area/frontend
