Repository labring/sealos, pull requests merged in 2022-07, with the labels that each got.

#1297 refactor(main): add transport param for save and load
  cmd/sealos/cmd/load.go
  cmd/sealos/cmd/save.go
  pkg/image/types/types.go
Labels: good first issue

#1291 fix system user design doc typo
  docs/design/system/user/user.md
Labels: good first issue, type: documentation

#1292 refactor(main): sealos run other server
  pkg/apply/applydrivers/apply_drivers_default.go
  pkg/apply/processor/interface.go
  pkg/apply/processor/scale.go
  pkg/constants/contants.go
  pkg/constants/data.go
  pkg/filesystem/rootfs/rootfs_default.go
  pkg/guest/guest.go
  pkg/remote/remote.go
  pkg/runtime/image_shim.go
  pkg/runtime/registry.go
  pkg/runtime/reset.go
  pkg/runtime/runtime_getter.go
  pkg/ssh/ssh.go
  pkg/utils/file/file_v2.go
  pkg/utils/iputils/iputils_v2.go
  pkg/utils/yaml/yaml.go
  staging/src/github.com/labring/lvscare/care/care.go
Labels: type: bug

#1326 upgrade IsIpv4 function use to system api
  pkg/utils/iputils/iputils.go
  staging/src/github.com/labring/lvscare/pkg/utils/iputils.go
Labels: good first issue, type: enhancement

#1340 Del applications dir
  applications/calico/Clusterfile
  applications/calico/Kubefile
  applications/calico/manifests/calico.yaml
  applications/calico/manifests/tigera-operator.yaml
  applications/openebs/Kubefile
  applications/openebs/manifests/openebs-operator.yaml
Labels: type: enhancement, priority: low

#1372 fix(main): unexpected end of file
  staging/src/github.com/labring/image-cri-shim/pkg/utils/file.go
Labels: good first issue

#1416 fix docs that have english
  docs/4.0/i18n/zh-Hans/cli/build.md
Labels: good first issue, type: documentation
