Repository labring/sealos, pull requests merged in 2023-03, with the labels that each got.

#2654 feature: single host should allow scheduling to master
  .github/workflows/test_run.yml
  cmd/sealos/cmd/run.go
  pkg/apply/args.go
  pkg/apply/run.go
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/clusterfile_test.go
  pkg/clusterfile/pre_process.go
  pkg/clusterfile/testdata/kubeadmConf.yaml
Labels: good first issue, type: enhancement

#2773 ci(main): add labels size to .github
  .github/labels.yml
Labels: size/S

#2775 ci(main): add github.event.comment.author_association
  .github/workflows/cherry-pick.yml
Labels: size/XS

#2776 ci(main): add debug.yml
  .github/workflows/cherry-pick.yml
  .github/workflows/debug.yml
Labels: size/S

#2777 ci(main): add debug.yml
  .github/workflows/debug.yml
Labels: size/S

#2778 feat: desktopSDK0.1.11
  frontend/client-sdk/build/index.d.ts
  frontend/client-sdk/build/index.js
  frontend/client-sdk/build/index.js.map
  frontend/client-sdk/build/index.mjs
  frontend/client-sdk/build/index.mjs.map
  frontend/client-sdk/package.json
  frontend/client-sdk/pnpm-lock.yaml
  frontend/client-sdk/rollup.config.js
  frontend/client-sdk/src/app.ts
  frontend/client-sdk/src/constants/api.ts
  frontend/client-sdk/src/index.ts
  frontend/client-sdk/src/master.ts
  frontend/client-sdk/src/types/app.d.ts
  frontend/client-sdk/src/types/index.d.ts
  frontend/client-sdk/src/types/master.d.ts
  frontend/client-sdk/src/types/message.d.ts
  frontend/client-sdk/tsconfig.json
  frontend/desktop/package.json
  frontend/desktop/pnpm-lock.yaml
  frontend/desktop/src/layout/index.tsx
Labels: size/XXL

#2780 ci(main): delete rebase
  .github/workflows/rebase.yml
Labels: size/S

#2785 ci(main): add ci for merge
  .github/mergeable.settings.yml
  .github/mergeable.yml
  .github/no-response.yml
  .github/stale.yml
Labels: size/L

#2756 fix(main): fix kubeadm init func
  .github/keylabeler.yml
  .github/mergeable.settings.yml
  .github/mergeable.yml
  .github/weekly-digest.yml
  .github/workflows/test_cert.yml
  cmd/sealos/cmd/cert.go
  pkg/apply/gen.go
  pkg/runtime/kubeadm.go
  pkg/runtime/runtime.go
  pkg/runtime/update_cert.go
Labels: size/L

#2751 feat Obtain desktop applications through app crd
  frontend/desktop/src/components/app_window/index.tsx
  frontend/desktop/src/components/desktop_content/iframe_app.tsx
  frontend/desktop/src/mock/installedApps.ts
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/desktop/src/stores/app.ts
  frontend/providers/imagehub/package.json
  frontend/providers/imagehub/pnpm-lock.yaml
  frontend/providers/imagehub/src/layout/index.tsx
Labels: size/M

#2787 doc(main): add CHANGELOG-4.1.7.md
  CHANGELOG/CHANGELOG-4.1.7.md
  CHANGELOG/CHANGELOG.md
Labels: size/M

#2786 feature(main): add compressed to registry/docker
  .github/keylabeler.yml
  pkg/apply/processor/install.go
  pkg/buildah/imagesaver.go
  pkg/filesystem/registry/registry.go
Labels: kind/bug, kind/feature, kind/documentation, size/M

#2789 feat: add infra concurrent opts & optimize delete instances
  controllers/infra/controllers/infra_controller.go
  controllers/infra/drivers/aliyun/delete_instance.go
  controllers/infra/go.mod
  controllers/infra/go.sum
  controllers/infra/main.go
Labels: size/M

#2792 feature(main): add system config to sealos
  cmd/sealos/cmd/config.go
  cmd/sealos/cmd/root.go
  go.mod
  pkg/buildah/common.go
  pkg/constants/data.go
  pkg/system/config.go
  pkg/system/config_cmd.go
  pkg/system/config_example.go
  pkg/system/config_example_test.go
  pkg/template/template.go
  pkg/utils/confirm/confirm.go
Labels: size/L

#2790 Fix iframe copy issue
  frontend/desktop/Makefile
  frontend/desktop/src/components/desktop_content/iframe_app.tsx
  frontend/providers/imagehub/src/interfaces/imagehub.ts
Labels: size/M

#2791 feat modify request header & delete infra
  frontend/desktop/src/applications/infra/add_page.module.scss
  frontend/desktop/src/applications/infra/add_page.tsx
  frontend/desktop/src/applications/infra/detail_page.module.scss
  frontend/desktop/src/applications/infra/detail_page.tsx
  frontend/desktop/src/applications/infra/front_page.module.scss
  frontend/desktop/src/applications/infra/front_page.tsx
  frontend/desktop/src/applications/infra/index.module.scss
  frontend/desktop/src/applications/infra/index.tsx
  frontend/desktop/src/applications/infra/infra_share.ts
  frontend/desktop/src/applications/infra/scp_status.module.scss
  frontend/desktop/src/applications/infra/scp_status.tsx
  frontend/desktop/src/applications/infra/select_node.module.scss
  frontend/desktop/src/applications/infra/select_node.tsx
  frontend/desktop/src/applications/pgsql/add_page.tsx
  frontend/desktop/src/applications/pgsql/clusterInfo.tsx
  frontend/desktop/src/applications/pgsql/components/delete_dialog.tsx
  frontend/desktop/src/applications/pgsql/components/events_dialog.tsx
  frontend/desktop/src/applications/pgsql/front_page.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/desktop/src/pages/api/infra/awsApply.ts
  frontend/desktop/src/pages/api/infra/awsApplyCluster.ts
  frontend/desktop/src/pages/api/infra/awsDelete.ts
  frontend/desktop/src/pages/api/infra/awsDeleteCluster.ts
  frontend/desktop/src/pages/api/infra/awsGet.ts
  frontend/desktop/src/pages/api/infra/awsGetAll.ts
  frontend/desktop/src/pages/api/infra/awsGetPrice.ts
  frontend/desktop/src/pages/api/infra/awsUpdate.ts
  frontend/desktop/src/pages/api/infra/getAllCluster.ts
  frontend/desktop/src/pages/api/infra/getCluster.ts
  frontend/desktop/src/pages/api/infra/getConfigMap.ts
  frontend/desktop/src/pages/api/pgsql/applyPgsql.ts
  frontend/desktop/src/pages/api/pgsql/deletePgsql.ts
  frontend/desktop/src/pages/api/pgsql/getAll.ts
  frontend/desktop/src/pages/api/pgsql/getEvents.ts
  frontend/desktop/src/pages/api/pgsql/getPgsql.ts
  frontend/desktop/src/pages/api/pgsql/getPgsqlOthers.ts
  frontend/desktop/src/services/backend/auth.ts
  frontend/desktop/src/services/request.ts
  frontend/desktop/src/stores/app.ts
Labels: size/XXL

#2799 fix `GetRootfsImage` function cause panic
  pkg/types/v1beta1/cluster_args.go
Labels: size/XS

#2793 feat: prevent refresh page from keyboard;mock app in 'dev env'
  frontend/desktop/src/components/desktop_content/iframe_app.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/mock/installedApps.ts
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
Labels: size/L

#2798 Fix println built-in function output to standard error
  cmd/sealctl/cmd/cri.go
  cmd/sealctl/cmd/kube.go
  cmd/sealctl/cmd/password.go
  cmd/sealctl/cmd/static_pod.go
  cmd/sealctl/cmd/token.go
  controllers/user/controllers/helper/webhook.md
  docs/4.0/docs/cloud/apps/postgres/postgres.md
  docs/4.0/i18n/zh-Hans/cloud/apps/postgres/postgres.md
  pkg/buildah/create.go
  pkg/utils/maps/maps_test.go
  pkg/utils/yaml/yaml.go
  staging/src/github.com/labring/image-cri-shim/pkg/cri/cri_test.go
Labels: size/M

#2795 refactor: support setting ssh field for each subset of hosts
  pkg/ssh/clusterclient.go
  pkg/ssh/connect.go
  pkg/ssh/option.go
  pkg/ssh/scp.go
  pkg/ssh/ssh.go
  pkg/ssh/sshcmd.go
  pkg/ssh/sshcmd_test.go
  pkg/types/v1beta1/cluster.go
  test/testhelper/utils.go
Labels: size/XL

#2796 feat: refactor auth, move dir.
  service/auth/README.md
  service/auth/api/api.go
  service/auth/conf/config.go
  service/auth/deploy/clusterimage/Kubefile
  service/auth/deploy/clusterimage/README.md
  service/auth/deploy/clusterimage/manifests/deploy.yaml.tmpl
  service/auth/deploy/manifests/configmap.yaml
  service/auth/deploy/manifests/deploy.yaml
  service/auth/main.go
  service/auth/pkg/auth.go
  service/auth/pkg/conf/casdoor.yaml
  service/auth/pkg/conf/config.go
  service/auth/pkg/sso/casdoor.go
  service/auth/pkg/sso/client.go
  service/auth/pkg/utils/config.go
Labels: size/L

#2774 feat: add default time to image cr.
  controllers/imagehub/api/v1/image_types.go
  controllers/imagehub/api/v1/zz_generated.deepcopy.go
  controllers/imagehub/config/crd/bases/imagehub.sealos.io_datapacks.yaml
  controllers/imagehub/config/crd/bases/imagehub.sealos.io_images.yaml
  controllers/imagehub/config/crd/bases/imagehub.sealos.io_repositories.yaml
  controllers/imagehub/controllers/repository_controller.go
  controllers/imagehub/deploy/manifests/deploy.yaml
  pkg/buildah/imagecrbuilder.go
Labels: size/M

#2804 update offline-docs
  docs/4.0/docs/getting-started/offline-install.md
Labels: size/S

#2805 feature(main): add cri cgroup-driver
  pkg/buildah/common.go
  pkg/buildah/merge.go
  staging/src/github.com/labring/image-cri-shim/pkg/cri/cri.go
Labels: size/M

#2806 feature(main): check scp md5sum to config cmd
  pkg/ssh/scp.go
  pkg/system/config.go
Labels: size/S

#2813 Update module
  service/auth/go.mod
Labels: size/XS

#2812 fix concurrent map access in clusterClient
  pkg/ssh/clusterclient.go
Labels: size/S

#2817 feature(main): delete shim images dir
  pkg/bootstrap/bootstrap.go
  pkg/bootstrap/image_shim.go
  pkg/runtime/reset.go
Labels: size/M

#2818 feature(main): delete using shim images dir
  pkg/bootstrap/bootstrap.go
  pkg/bootstrap/image_shim.go
  pkg/runtime/reset.go
  pkg/ssh/sshcmd.go
Labels: size/M

#2819 update zh readme
  README.md
  docs/4.0/i18n/zh-Hans/Intro.md
Labels: size/L

#2821 feature(main): registry list repo fix
  pkg/registry/cmd/list.go
  pkg/registry/list.go
Labels: size/S

#2794 feature(main): delete node if failed
  pkg/runtime/utils.go
Labels: size/S

#2830 fix: json tag of ssh field
  pkg/types/v1beta1/cluster.go
Labels: size/XS

#2839 Payment change 1 RMB equals 10000
  frontend/desktop/src/components/start_menu/charge_button.tsx
  frontend/desktop/src/pages/api/kubernetes/account/get_amount.ts
  frontend/desktop/src/pages/api/kubernetes/account/payment/[name].ts
  frontend/desktop/src/pages/api/kubernetes/account/payment/index.ts
  frontend/desktop/src/utils/format.ts
Labels: size/M

#2835 Request failed to switch config
  frontend/providers/imagehub/Makefile
  frontend/providers/imagehub/src/pages/detail.tsx
  frontend/providers/imagehub/src/pages/store.tsx
Labels: size/M

#2844 fix(ci): golangci-lint error
  .golangci.yml
  cmd/image-cri-shim/cmd/root.go
  cmd/sealos/cmd/run.go
  cmd/sealos/cmd/version.go
  pkg/apply/processor/create.go
  pkg/apply/processor/install.go
  pkg/bootstrap/bootstrap.go
  pkg/buildah/diff.go
  pkg/buildah/login.go
  pkg/buildah/manifest.go
  pkg/checker/cluster_checker.go
  pkg/checker/cri_shim_checker.go
  pkg/checker/crictl_checker.go
  pkg/checker/host_checker.go
  pkg/checker/initsystem_check.go
  pkg/checker/node_checker.go
  pkg/checker/pod_checker.go
  pkg/checker/registry_checker.go
  pkg/checker/svc_checker.go
  pkg/clusterfile/clusterfile.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/guest/guest.go
  pkg/registry/distributionpkg/client/blob_writer.go
  pkg/registry/filesystem.go
  pkg/runtime/master.go
  pkg/runtime/node.go
  pkg/runtime/update_cert.go
  pkg/utils/logger/logger.go
  pkg/utils/maps/maps_test.go
  pkg/utils/versionutil/version.go
  staging/src/github.com/labring/image-cri-shim/pkg/cri/cri_test.go
  staging/src/github.com/labring/lvscare/care/proxier.go
Labels: size/L

#2846 fix the request header problem
  frontend/desktop/src/services/request.ts
Labels: size/S

#2843 fix pgsql create default state
  frontend/desktop/src/applications/pgsql/components/events_dialog.tsx
  frontend/desktop/src/applications/pgsql/pgsql_status.tsx
Labels: size/S

#2847 fix(): cluster make build fail and controller ci fail
  controllers/app/controllers/app_controller.go
  controllers/cluster/Makefile
  controllers/cluster/controllers/cluster_controller.go
  controllers/imagehub/api/v1/organization_webhook.go
  controllers/imagehub/controllers/data_helper.go
  controllers/imagehub/controllers/datapack_controller.go
  controllers/imagehub/controllers/image_controller.go
  controllers/imagehub/controllers/organization_controller.go
  controllers/imagehub/controllers/repository_controller.go
  controllers/infra/controllers/infra_controller.go
  controllers/infra/drivers/aliyun/aliyun.go
  controllers/infra/drivers/aliyun/create_instance.go
  controllers/infra/drivers/aliyun/create_volume.go
  controllers/infra/drivers/aliyun/delete_volume.go
  controllers/infra/drivers/aws/aws.go
  controllers/infra/drivers/aws/aws_gc.go
  controllers/infra/drivers/aws/create_volume.go
  controllers/infra/drivers/aws/delete_volume.go
  controllers/infra/drivers/aws/get_instance.go
  controllers/infra/drivers/aws/modify_volume.go
  controllers/infra/drivers/aws/stop_instance.go
  controllers/infra/drivers/reconcile.go
  controllers/metering/controllers/metering_controller.go
  controllers/metering/controllers/podresource_controller.go
  controllers/terminal/controllers/terminal_controller.go
  controllers/user/api/v1/user_webhook.go
  controllers/user/api/v1/usergroup_webhook.go
  controllers/user/api/v1/usergroupbinding_webhook.go
  controllers/user/controllers/cache/cache.go
  controllers/user/controllers/helper/cert.go
  controllers/user/controllers/helper/sa.go
  controllers/user/controllers/helper/webhook.go
  controllers/user/controllers/user_controller.go
  controllers/user/controllers/user_expiration_controller.go
  controllers/user/controllers/usergroup_controller.go
  controllers/user/controllers/usergroupbinding_controller.go
Labels: size/L

#2852 fix: avoid rendering template repeatedly
  pkg/env/env.go
  pkg/filesystem/rootfs/rootfs_default.go
Labels: size/S

#2853 feat: register all versions of the ImageServiceServer
  fork/github.com/heroku/docker-registry-client/registry/registry.go
  pkg/checker/cri_shim_checker.go
  staging/src/github.com/labring/image-cri-shim/pkg/server/server.go
  staging/src/github.com/labring/image-cri-shim/pkg/server/utils.go
  staging/src/github.com/labring/image-cri-shim/pkg/shim/shim.go
  staging/src/github.com/labring/image-cri-shim/pkg/types/config.go
Labels: size/M

#2855 fix: ensure response body has to be read fully and close correctly; a…
  fork/github.com/heroku/docker-registry-client/registry/registry.go
  fork/github.com/heroku/docker-registry-client/registry/tokentransport.go
  pkg/utils/registry/registry.go
Labels: size/M

#2840 feat: add sudo support in ssh command
  pkg/ssh/option.go
  pkg/ssh/ssh.go
  pkg/ssh/ssh_test.go
  pkg/ssh/sshcmd.go
  pkg/utils/exec/cmd.go
  pkg/utils/strings/strings.go
Labels: size/L

#2862 fix: Password does not add single quotes will identify environment va…
  cmd/sealos/cmd/gen.go
  cmd/sealos/cmd/run.go
  docs/4.0/docs/api/sealos_gen.md
  docs/4.0/docs/api/sealos_run.md
  docs/4.0/docs/getting-started/customize-cluster-buildimage.md
  docs/4.0/docs/getting-started/customize-cluster.md
  docs/4.0/i18n/zh-Hans/api/sealos_gen.md
  docs/4.0/i18n/zh-Hans/api/sealos_run.md
  docs/4.0/i18n/zh-Hans/getting-started/customize-cluster-buildimage.md
  docs/4.0/i18n/zh-Hans/getting-started/customize-cluster.md
Labels: size/L

#2867 feature(main): using bootstrap undo
  cmd/sealctl/cmd/kube.go
  cmd/sealctl/cmd/password.go
  pkg/apply/processor/delete.go
  pkg/apply/processor/scale.go
  pkg/bootstrap/bootstrap.go
  pkg/constants/bash.go
  pkg/filesystem/rootfs/rootfs_default.go
  pkg/runtime/master.go
  pkg/runtime/node.go
  pkg/runtime/registry.go
  pkg/runtime/reset.go
  pkg/runtime/runtime_getter.go
Labels: size/L

#2857 feat. registry add pull limit.
  service/auth/conf/config.go
  service/auth/main_test.go
  service/hub/config/config.yml
  service/hub/main.go
  service/hub/server/config.go
  service/hub/server/server.go
  service/hub/utils/ip.go
  service/hub/utils/limiter.go
  service/payment/api/api.go
  service/payment/go.mod
  service/payment/go.sum
Labels: size/L

#2831 Add rateLimiter for controllers
  controllers/cluster/controllers/cluster_controller.go
  controllers/cluster/main.go
  controllers/pkg/utils/rate_limiter.go
  controllers/pkg/utils/retry_create_or_update.go
Labels: kind/enhancement, status: needs information, size/M

#2869 feature(main): add token config for token cmd
  .github/workflows/test_cert.yml
  cmd/sealctl/cmd/token.go
  docs/4.0/docs/examples/upgrade-cert.md
  pkg/constants/data.go
  pkg/remote/remote.go
  pkg/runtime/kubeadm.go
  pkg/runtime/kubeadm_cmd.go
  pkg/runtime/runtime_getter.go
  pkg/runtime/token.go
  pkg/runtime/update_cert.go
Labels: size/L

#2580 feat: add Notification CRD
  controllers/account/main.go
  controllers/app/main.go
  controllers/cluster/main.go
  controllers/common/.gitignore
  controllers/common/go.mod
  controllers/common/go.sum
  controllers/common/notification/Makefile
  controllers/common/notification/README.md
  controllers/common/notification/api/v1/groupversion_info.go
  controllers/common/notification/api/v1/notification_types.go
  controllers/common/notification/api/v1/zz_generated.deepcopy.go
  controllers/common/notification/config/crd/bases/notification.sealos.io_notifications.yaml
  controllers/common/notification/config/crd/kustomization.yaml
  controllers/common/notification/config/crd/kustomizeconfig.yaml
  controllers/common/notification/config/crd/patches/cainjection_in_notifications.yaml
  controllers/imagehub/main.go
  controllers/infra/main.go
  controllers/metering/main.go
  controllers/terminal/main.go
  go.work
  go.work.sum
  webhooks/whitelist/api/v1/whitelist_webhook.go
  webhooks/whitelist/controllers/whitelist_controller.go
  webhooks/whitelist/main.go
Labels: size/XL

#2873 fix(ci): metering e2e ci error
  .github/workflows/e2e_metering.yml
Labels: size/M

#2809 feat desktop notification system
  frontend/desktop/package.json
  frontend/desktop/pnpm-lock.yaml
  frontend/desktop/public/iconfont/iconfont.js
  frontend/desktop/src/applications/setting/index.tsx
  frontend/desktop/src/components/notification/index.module.scss
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/components/taskbar/index.tsx
  frontend/desktop/src/components/taskbar/taskbar.module.scss
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/desktop/src/pages/api/image_hub/get_detail.ts
  frontend/desktop/src/pages/api/image_hub/get_list.ts
  frontend/desktop/src/pages/api/notification/list.ts
  frontend/desktop/src/pages/api/notification/read.ts
Labels: size/XXL

#2856 feat: update RunNewImages based on image diffs
  controllers/account/testdata/account/recharge.go
  controllers/account/testdata/api/account.go
  controllers/account/testdata/e2e/debt_test.go
  controllers/metering/testdata/api/AccountBalance.go
  controllers/metering/testdata/api/podController.go
  controllers/metering/testdata/api/resource.go
  controllers/metering/testdata/e2e/metering_test.go
  fork/github.com/heroku/docker-registry-client/registry/json.go
  fork/github.com/heroku/docker-registry-client/registry/manifest.go
  go.work.sum
  pkg/apply/apply.go
  pkg/apply/utils.go
  pkg/apply/utils_test.go
Labels: size/L

#2880 docs(main): add image-cri-shim docs
  docs/4.0/docs/design/image-cri-shim.md
  docs/4.0/i18n/zh-Hans/design/image-cri-shim.md
Labels: size/L

#2882 Title: Update auto-release logic to skip deb and rpm packages for non-production releases
  .github/workflows/release.yml
  .goreleaser.yml
  scripts/release/note.sh
Labels: size/S

#2884 docs(main): Refactor Changelog generation script and update usage guide
  CHANGELOG/CHANGELOG-4.2.0-alpha1.md
  CHANGELOG/CHANGELOG-4.2.0-alpha2.md
  CHANGELOG/CHANGELOG.md
  scripts/changelog-generate-en.md
  scripts/changelog-generate.md
  scripts/generate-changelog.sh
Labels: size/L

#2886 docs(main): add debug for merge logger
  pkg/buildah/merge.go
Labels: size/XS

#2879 refactor: diff command
  .gitignore
  cmd/sealos/cmd/run.go
  go.mod
  go.sum
  go.work.sum
  pkg/buildah/build.go
  pkg/buildah/buildah.go
  pkg/buildah/common.go
  pkg/buildah/diff.go
  pkg/buildah/load.go
  pkg/buildah/merge.go
  pkg/buildah/runtime.go
  pkg/buildah/util.go
Labels: size/XXL

#2887 fix: return image name if oci archive file has names instead of id
  pkg/buildah/interface.go
  pkg/buildah/runtime.go
Labels: size/M

#2891 fix: use assertion, avoid patching external interface
  pkg/registry/save.go
Labels: size/XS

#2892 chore: bump helm to v3.11.1 and openshift/imagebuilder to latest
  go.mod
  go.sum
  go.work.sum
  pkg/registry/distributionpkg/client/repository.go
Labels: size/XL

#2895 fix notification refetch
  frontend/desktop/src/components/notification/index.module.scss
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/components/taskbar/index.tsx
Labels: size/S
