Repository labring/sealos, pull requests merged in 2023-04, with the labels that each got.

#2899 feat(debt): Debt-controller should delete user resources over 7 days in arrears
  controllers/account/README.md
  controllers/account/api/v1/account_types.go
  controllers/account/api/v1/debt_types.go
  controllers/account/api/v1/debt_webhook.go
  controllers/account/api/v1/zz_generated.deepcopy.go
  controllers/account/config/crd/bases/account.sealos.io_debts.yaml
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/config/rbac/role.yaml
  controllers/account/controllers/debt_controller.go
  controllers/account/deploy/Dockerfile
  controllers/account/deploy/manifests/deploy.yaml
  controllers/account/go.mod
  controllers/account/go.sum
  controllers/account/main.go
  controllers/account/testdata/api/debt.go
  controllers/account/testdata/api/deployment.go
  controllers/account/testdata/api/replicaset.go
  controllers/account/testdata/api/user.go
  controllers/account/testdata/e2e/debt_test.go
  controllers/common/metering/api/v1/extensionresourceprice_types.go
  controllers/common/metering/config/crd/bases/metering.common.sealos.io_extensionresourceprices.yaml
  controllers/metering/api/v1/podresource_types.go
  controllers/metering/controllers/podresource_controller.go
  controllers/metering/deploy/README.md
  go.work.sum
Labels: size/XL

#2841 add bytebase controller
  controllers/db/bytebase/.dockerignore
  controllers/db/bytebase/.gitignore
  controllers/db/bytebase/Dockerfile
  controllers/db/bytebase/Makefile
  controllers/db/bytebase/PROJECT
  controllers/db/bytebase/README.md
  controllers/db/bytebase/apis/bytebase/v1/bytebase_types.go
  controllers/db/bytebase/apis/bytebase/v1/groupversion_info.go
  controllers/db/bytebase/apis/bytebase/v1/zz_generated.deepcopy.go
  controllers/db/bytebase/apis/config/v1/bytebasecontrollerconfig_types.go
  controllers/db/bytebase/apis/config/v1/groupversion_info.go
  controllers/db/bytebase/apis/config/v1/zz_generated.deepcopy.go
  controllers/db/bytebase/client/api/auth.go
  controllers/db/bytebase/client/api/client.go
  controllers/db/bytebase/client/api/common.go
  controllers/db/bytebase/client/api/data_source.go
  controllers/db/bytebase/client/api/database_role.go
  controllers/db/bytebase/client/api/environment.go
  controllers/db/bytebase/client/api/instance.go
  controllers/db/bytebase/client/auth.go
  controllers/db/bytebase/client/client.go
  controllers/db/bytebase/client/environment.go
  controllers/db/bytebase/client/instance.go
  controllers/db/bytebase/config/crd/bases/bytebase.db.sealos.io_bytebases.yaml
  controllers/db/bytebase/config/crd/kustomization.yaml
  controllers/db/bytebase/config/crd/kustomizeconfig.yaml
  controllers/db/bytebase/config/default/kustomization.yaml
  controllers/db/bytebase/config/default/manager_auth_proxy_patch.yaml
  controllers/db/bytebase/config/default/manager_config_patch.yaml
  controllers/db/bytebase/config/manager/controller_manager_config.yaml
  controllers/db/bytebase/config/manager/kustomization.yaml
  controllers/db/bytebase/config/manager/manager.yaml
  controllers/db/bytebase/config/prometheus/kustomization.yaml
  controllers/db/bytebase/config/prometheus/monitor.yaml
  controllers/db/bytebase/config/rbac/auth_proxy_client_clusterrole.yaml
  controllers/db/bytebase/config/rbac/auth_proxy_role.yaml
  controllers/db/bytebase/config/rbac/auth_proxy_role_binding.yaml
  controllers/db/bytebase/config/rbac/auth_proxy_service.yaml
  controllers/db/bytebase/config/rbac/bytebase_editor_role.yaml
  controllers/db/bytebase/config/rbac/bytebase_viewer_role.yaml
  controllers/db/bytebase/config/rbac/kustomization.yaml
  controllers/db/bytebase/config/rbac/leader_election_role.yaml
  controllers/db/bytebase/config/rbac/leader_election_role_binding.yaml
  controllers/db/bytebase/config/rbac/role.yaml
  controllers/db/bytebase/config/rbac/role_binding.yaml
  controllers/db/bytebase/config/rbac/service_account.yaml
  controllers/db/bytebase/config/samples/bytebase_v1_bytebase.yaml
  controllers/db/bytebase/config/samples/config_v1_bytebasecontrollerconfig.yaml
  controllers/db/bytebase/controllers/bytebase/bytebase_controller.go
  controllers/db/bytebase/controllers/bytebase/ingress.go
  controllers/db/bytebase/controllers/bytebase/instance.go
  controllers/db/bytebase/controllers/bytebase/suite_test.go
  controllers/db/bytebase/controllers/bytebase/sync.go
  controllers/db/bytebase/controllers/bytebase/util.go
  controllers/db/bytebase/deploy/sealos-bytebase-controller.yaml
  controllers/db/bytebase/go.mod
  controllers/db/bytebase/go.sum
  controllers/db/bytebase/hack/boilerplate.go.txt
  controllers/db/bytebase/main.go
  go.work
Labels: size/XXL

#2904 fix: make pre-deploy error
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/config/manager/manager.yaml
  controllers/account/deploy/manifests/deploy.yaml
Labels: size/XS

#2900 docs(main): sync code user and email
  .github/workflows/sync_code.yml
  .github/workflows/sync_docs.yml
Labels: size/XS

#2915 Terminal ajustment.
  controllers/terminal/controllers/terminal_controller.go
Labels: size/XS

#2905 feat: add resource group configuration
  controllers/cluster/config/crd/bases/cluster.sealos.io_clusters.yaml
  controllers/cluster/controllers/cluster_controller.go
  controllers/cluster/go.mod
  controllers/cluster/go.sum
  controllers/infra/drivers/aliyun/aliyun.go
  controllers/infra/drivers/aliyun/create_instance.go
  controllers/infra/drivers/aliyun/create_keypair.go
  controllers/infra/drivers/aliyun/create_volume.go
  controllers/infra/drivers/aliyun/delete_instance.go
  controllers/infra/drivers/aliyun/delete_keypair.go
  controllers/infra/drivers/aliyun/delete_volume.go
  controllers/infra/drivers/aliyun/get_instance.go
  controllers/infra/drivers/aliyun/modify_instance.go
  controllers/infra/drivers/aliyun/modify_volume.go
  controllers/infra/drivers/aliyun/stop_instance.go
  controllers/infra/drivers/aws/aws.go
  controllers/infra/drivers/driver.go
  controllers/infra/go.mod
  controllers/infra/go.sum
  controllers/infra/testdata/api/cluster.go
  go.work.sum
Labels: size/XXL

#2906 refactor: add back auto build and auto save abilities in `diff` command
  pkg/buildah/diff.go
  pkg/buildah/runtime.go
Labels: size/L

#2918 fix stop kube-apiserver pod cause `DeadlineExceeded` when update cert.
  pkg/runtime/update_cert.go
Labels: size/XS

#2849 add image-cri-image test
  .github/workflows/test_image_cri_shim.yml
  go.mod
  go.sum
  test/e2e/Readme.md
  test/e2e/e2e_test.go
  test/e2e/image_cri_shim.go
  test/e2e/suites/image/image.go
  test/e2e/suites/image/imageServiceClient.go
  test/e2e/testhelper/helper.go
  test/e2e/testhelper/settings/common.go
  test/e2e/testhelper/settings/settings.go
  test/e2e/testhelper/utils.go
Labels: size/XL

#2922 docs(main): add docs for sealctl
  docs/4.0/docs/design/sealctl-usage.md
  docs/4.0/i18n/zh-Hans/design/sealctl-usage.md
Labels: size/XL

#2927 fix: fix always return the insecure registry
  pkg/registry/registry.go
Labels: size/XS

#2901 fix(ci): fix metering e2e install account error
  .github/workflows/e2e_metering.yml
Labels: size/XS

#2920 feat: grouping subcommands
  cmd/sealctl/cmd/images.go
  cmd/sealos/cmd/add.go
  cmd/sealos/cmd/apply.go
  cmd/sealos/cmd/cert.go
  cmd/sealos/cmd/config.go
  cmd/sealos/cmd/delete.go
  cmd/sealos/cmd/docs.go
  cmd/sealos/cmd/exec.go
  cmd/sealos/cmd/images.go
  cmd/sealos/cmd/reset.go
  cmd/sealos/cmd/root.go
  cmd/sealos/cmd/run.go
  cmd/sealos/cmd/scp.go
  cmd/sealos/cmd/status.go
  cmd/sealos/cmd/version.go
  go.mod
  go.sum
  go.work.sum
  pkg/buildah/buildah.go
  pkg/buildah/setup.go
  pkg/system/config_cmd.go
Labels: size/L

#2929 docs(main): add docs for user
  docs/4.0/docs/design/user.md
  docs/4.0/i18n/zh-Hans/design/user.md
Labels: size/XL

#2928 format(account): format webhook name
  controllers/account/api/v1/debt_webhook.go
  controllers/account/config/webhook/manifests.yaml
  controllers/account/deploy/manifests/deploy.yaml
  controllers/account/main.go
Labels: size/S

#2746 docs: translate metering design from CN to EN
  controllers/metering/api/v1/metering_types.go
  docs/4.0/docs/design/metering-design.md
  docs/4.0/i18n/zh-Hans/design/metering-design.md
  docs/4.0/img/metering/metering-1.png
  docs/4.0/img/metering/metering-2.png
  docs/4.0/img/metering/metering-3.png
  docs/4.0/img/metering/metering-4.png
  proposal/design/zh/metering设计.md
  proposal/img/metering-proposal-2.png
  proposal/img/metering-proposal-3.png
  proposal/img/metering-proposal-4.png
  proposal/img/metering-proposal-5.png
  proposal/img/metering-proposal-6.png
Labels: size/L

#2842 feature(main): support checking cluster's no-odd number of master node
  pkg/checker/host_checker.go
Labels: size/XS

#2938 docs(main): support v1.27 k8s
  pkg/runtime/defaults/v127/default_kubeadm_config.go
  pkg/runtime/kubeadm.go
  pkg/runtime/utils.go
Labels: size/L

#2931 feature: support pulling multiple images at the same time
  .github/workflows/test_images.yml
  pkg/buildah/pull.go
Labels: size/S

#2939 docs(main): support v1.27 docs
  docs/4.0/docs/getting-started/kuberentes-support.md
Labels: size/S

#2924 fix pgsql status null
  frontend/desktop/src/applications/pgsql/pgsql_status.tsx
Labels: size/XS

#2942 bugfix: the failure to add master after updating the certificate
  pkg/apply/applydrivers/apply_drivers_default.go
  pkg/apply/processor/create.go
  pkg/apply/processor/delete.go
  pkg/apply/processor/error.go
  pkg/apply/processor/scale.go
  pkg/checker/host_checker.go
  pkg/runtime/kubeadm.go
  pkg/runtime/master.go
  pkg/runtime/update_cert.go
Labels: size/L

#2941 docs: how to write reousrce-controller
  docs/4.0/docs/Development-Guidelines/resource-controller.md
  docs/4.0/i18n/zh-Hans/Development-Guidelines/resource-controller.md
  proposal/img/metering-proposal-3.png
Labels: size/L

#2944 ci(sync-docs): fix sync docs error
  .github/workflows/sync_docs.yml
Labels: size/XS

#2943 bugfix the failure of join master after changing the serviceCIDR
  pkg/runtime/kubeadm.go
  pkg/runtime/master.go
  pkg/runtime/node.go
  pkg/runtime/update_cert.go
Labels: size/S

#2947 optimize reset node `ip link delete` command.
  pkg/runtime/master.go
  pkg/runtime/node.go
  pkg/runtime/reset.go
  pkg/runtime/utils.go
Labels: size/M

#2936 add e2e apply test
  go.work.sum
  pkg/ssh/clusterclient.go
  pkg/ssh/scp.go
  pkg/ssh/ssh.go
  test/e2e/apply_test.go
  test/e2e/e2e_test.go
  test/e2e/image_cri_shim_test.go
  test/e2e/suites/apply/apply.go
  test/e2e/suites/cmd/cmd.go
  test/e2e/suites/cmd/sealosCmd.go
  test/e2e/suites/cmd/sealosCmdOpts.go
  test/e2e/suites/cmd/sealosCmdOpts_test.go
  test/e2e/suites/infra/infra.go
  test/e2e/suites/infra/tmpl.go
  test/e2e/suites/kube/check.go
  test/e2e/suites/kube/k8s.go
  test/e2e/suites/kube/k8s_test.go
  test/e2e/testhelper/helper.go
  test/e2e/testhelper/settings/common.go
  test/e2e/testhelper/settings/env.go
  test/e2e/testhelper/settings/settings.go
  test/e2e/testhelper/utils.go
Labels: size/XXL

#2945 add local deplopment docs.
  docs/4.0/docs/cloud/local-deploy/index.md
  docs/4.0/i18n/zh-Hans/cloud/local-deploy/index.md
Labels: size/L

#2934 fix len(deleteInstancesByOption.instanceIds) always gt 0
  controllers/infra/drivers/aliyun/aliyun.go
  controllers/infra/drivers/aliyun/delete_instance.go
  controllers/infra/drivers/driver.go
Labels: size/M

#2935 ci，docs: add account e2e test and docs
  .github/workflows/e2e.yml
  docs/4.0/docs/Development-Guidelines/e2e-example.md
  docs/4.0/i18n/zh-Hans/Development-Guidelines/e2e-example.md
Labels: size/L

#2951 Move deploy doc.
  docs/4.0/docs/cloud/deploy/local-deploy/index.md
Labels: size/XS

#2937 fix: check sg & vswitch existence
  controllers/infra/drivers/aliyun/create_instance.go
Labels: size/M

#2953 docs(main): update gorelease config for new release
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release.yml
  .goreleaser.yml
  scripts/changelog-generate-en.md
  scripts/changelog-generate.md
  scripts/changelog-generate.sh
  scripts/changelog.sh
  scripts/generate_certificate.sh
  scripts/install.sh
  scripts/release/footer.md.tmpl
  scripts/release/head.md.tmpl
  scripts/release/note.sh
Labels: size/XL

#2960 fix multi infra apply
  test/e2e/suites/apply/apply.go
Labels: size/S

#2959 docs(main): add robot for sealos
  .github/gh-bot.yml
  .github/workflows/bot.yml
  .github/workflows/debug.yml
Labels: size/M, need-e2e-apply-test

#2963 docs(main): fix changelog for sealos
  scripts/changelog.sh
Labels: size/XS

#2797 feat: add infra metering implementation with e2e test
  controllers/cluster/common/common.go
  controllers/cluster/config/samples/cluster.yaml
  controllers/cluster/controllers/cluster_controller.go
  controllers/cluster/deploy/manifests/deploy.yaml
  controllers/cluster/go.mod
  controllers/cluster/go.sum
  controllers/infra/PROJECT
  controllers/infra/api/v1/common.go
  controllers/infra/api/v1/infraresource_types.go
  controllers/infra/api/v1/zz_generated.deepcopy.go
  controllers/infra/common/common.go
  controllers/infra/config/crd/bases/infra.sealos.io_infraresources.yaml
  controllers/infra/config/crd/kustomization.yaml
  controllers/infra/config/crd/patches/cainjection_in_infraresources.yaml
  controllers/infra/config/crd/patches/webhook_in_infraresources.yaml
  controllers/infra/config/rbac/infraresource_editor_role.yaml
  controllers/infra/config/rbac/infraresource_viewer_role.yaml
  controllers/infra/config/rbac/role.yaml
  controllers/infra/config/samples/infra_aliyun.yaml
  controllers/infra/config/samples/infra_v1_infraresource.yaml
  controllers/infra/controllers/infra_controller.go
  controllers/infra/controllers/infraresource_controller.go
  controllers/infra/deploy/README.md
  controllers/infra/deploy/manifests/deploy.yaml
  controllers/infra/drivers/get_instance_test.go
  controllers/infra/go.mod
  controllers/infra/go.sum
  controllers/infra/main.go
  controllers/infra/testdata/api/extension_resource_price.go
  controllers/infra/testdata/api/resource.go
  controllers/infra/testdata/e2e/infra_metering_test.go
  controllers/infra/testdata/e2e/infra_test.go
  go.work.sum
Labels: size/XXL

#2970 docs(main): fix run workflow to test-run
  .github/workflows/patch-image.yml
  .github/workflows/test_run.yml
Labels: size/L

#2971 docs(main): fix ci patch images
  .github/workflows/ci-patch-image.yml
  .github/workflows/ci.yml
  .github/workflows/controllers.yml
  .github/workflows/e2e_test_apply.yml
  .github/workflows/import-patch-image.yml
  .github/workflows/release.yml
  .github/workflows/services.yml
  .github/workflows/test_run.yml
  .github/workflows/webhooks.yml
  docker/lvscare/Dockerfile
  docker/lvscare/Dockerfile.main
  docker/patch/manifest-cluster-images.sh
  docker/patch/save-cluster-images.sh
  docker/sealos/Dockerfile
  go.work.sum
  scripts/resolve-patch-modules.sh
  scripts/save-cluster-images.sh
Labels: size/XL

#2973 docs(main): fix change owner
  .github/workflows/ci-patch-image.yml
  .github/workflows/controllers.yml
  .github/workflows/release.yml
  .github/workflows/services.yml
  .github/workflows/webhooks.yml
Labels: size/S

#2974 docs(main): fix change owner
  .github/workflows/ci-patch-image.yml
Labels: size/XS

#2975 docs(main): delete build sealos image
  .github/workflows/controllers.yml
  .github/workflows/services.yml
Labels: size/M

#2976 docs(main): fix bot config
  .github/gh-bot.yml
  .github/workflows/bot.yml
  .github/workflows/test_inspect.yml
Labels: size/XS

#2982 docs(main): fix release comment
  .github/workflows/release.yml
Labels: size/S

#2991 Terminal controller support cors.
  controllers/terminal/controllers/ingress.go
  controllers/terminal/controllers/terminal_controller.go
Labels: size/S

#2990 docs(main): add changelog action
  .github/workflows/release.yml
  scripts/changelog.sh
Labels: size/M

#2992 docs(main): add image guide docs
  docs/4.0/docs/getting-started/kuberentes-support.md
  docs/4.0/docs/getting-started/sealos_rootfs_cluster_image_guide.md
  docs/4.0/i18n/zh-Hans/getting-started/kuberentes-support.md
  docs/4.0/i18n/zh-Hans/getting-started/sealos_rootfs_cluster_image_guide.md
Labels: size/L

#2993 feature: using promptui replace confirm
  pkg/utils/confirm/confirm.go
Labels: size/M

#2981 add auth cluster image and update workflow
  .github/workflows/services.yml
  docker/patch/manifest-cluster-images.sh
  service/auth/deploy/Kubefile
  service/auth/deploy/README.md
  service/auth/deploy/clusterimage/Kubefile
  service/auth/deploy/clusterimage/README.md
  service/auth/deploy/clusterimage/manifests/deploy.yaml.tmpl
  service/auth/deploy/images/shim/authImages
  service/auth/deploy/manifests/configmap.yaml
  service/auth/deploy/manifests/configmap.yaml.tmpl
  service/auth/deploy/manifests/deploy.yaml
  service/auth/deploy/manifests/ingress.yaml.tmpl
  service/auth/go.mod
  service/auth/go.sum
Labels: size/XL

#3006 docs(main): add default image config.yml to config patch image
  go.work.sum
  pkg/config/config.go
  pkg/constants/data.go
Labels: size/S

#2988 feat terminal modify delay time
  frontend/providers/terminal/Makefile
  frontend/providers/terminal/src/components/terminal/index.module.scss
  frontend/providers/terminal/src/components/terminal/index.tsx
  frontend/providers/terminal/src/pages/api/apply.ts
  frontend/providers/terminal/src/pages/index.tsx
Labels: size/L

#3011 feat: open other app by sdk
  frontend/client-sdk/package.json
  frontend/client-sdk/src/app.ts
  frontend/client-sdk/src/master.ts
  frontend/client-sdk/src/types/message.d.ts
  frontend/desktop/package.json
  frontend/desktop/pnpm-lock.yaml
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/layout/index.tsx
  frontend/desktop/src/mock/installedApps.ts
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/utils/format.ts
  frontend/providers/applaunchpad/.dockerignore
  frontend/providers/applaunchpad/.gitignore
  frontend/providers/applaunchpad/Dockerfile
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/pnpm-lock.yaml
  frontend/providers/applaunchpad/src/components/Icon/index.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/LogsModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/utils/user.ts
  frontend/providers/applaunchpad/yalc.lock
  frontend/providers/terminal/src/components/terminal/index.tsx
  frontend/providers/terminal/src/pages/api/apply.ts
  frontend/providers/terminal/src/pages/index.tsx
Labels: size/XXL

#3001 controllers' cluster image
  .github/workflows/controllers.yml
  .github/workflows/services.yml
  controllers/account/deploy/Dockerfile
  controllers/account/deploy/Kubefile
  controllers/app/deploy/Kubefile
  controllers/app/deploy/appexample/cr.yaml
  controllers/cluster/deploy/Dockerfile
  controllers/cluster/deploy/Kubefile
  controllers/imagehub/deploy/Dockerfile
  controllers/imagehub/deploy/Kubefile
  controllers/infra/deploy/Dockerfile
  controllers/infra/deploy/Kubefile
  controllers/infra/deploy/configmap/infra_ami_config.yaml
  controllers/metering/deploy/Dockerfile
  controllers/metering/deploy/Kubefile
  controllers/terminal/deploy/Dockerfile
  controllers/terminal/deploy/Kubefile
  controllers/terminal/deploy/manifests/deploy.yaml.tmpl
  controllers/user/deploy/Dockerfile
  controllers/user/deploy/Kubefile
  service/auth/deploy/images/shim/authImages
Labels: size/L

#3015 fix sync tag name
  .github/workflows/services.yml
Labels: size/XS

#3017 fix. cluster image controller
  .github/workflows/controllers.yml
Labels: size/XS

#3013 docs(main): add e2e test images
  .github/workflows/e2e_test_image_cri_shim.yml
  .github/workflows/e2e_test_images.yml
  .github/workflows/import-patch-image.yml
  .github/workflows/test_image_cri_shim.yml
  .github/workflows/test_images.yml
  test/e2e/images_test.go
Labels: size/L

#3020 bugfix: fix duplicate print prompts
  pkg/utils/confirm/confirm.go
Labels: size/XS

#3021 docs(main): fix bot config
  .github/gh-bot.yml
  .github/workflows/bot.yml
Labels: size/S
