Repository labring/sealos, pull requests merged in 2023-09, with the labels that each got.

#3815 adapt mongo4 not support Time Series Collections
  controllers/resources/metering/main.go
Labels: size/XS, area/cloud

#3817 fix:docs github svg
  docs/website/src/pages/components/Community/index.tsx
  docs/website/src/pages/components/Footer/index.tsx
  docs/website/src/pages/components/Header/index.tsx
  docs/website/static/icons/github-dark.svg
  docs/website/static/icons/github-light.svg
  docs/website/static/icons/github-navbar.svg
  docs/website/static/icons/github.svg
Labels: kind/documentation, size/M

#3822 change the address of terminal image
  frontend/providers/terminal/deploy/images/shim/imagelist
Labels: size/XS, area/frontend

#3823 fix e2e apply test result issue commit
  .github/workflows/e2e_test_apply.yml
Labels: size/XS, area/workflow

#3802 feat: add update operation request
  controllers/user/controllers/operationrequest_controller.go
Labels: size/XS, area/cloud

#3737 set the monitor collection retention time
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongodb.go
  controllers/pkg/database/mongodb_test.go
  controllers/resources/metering/main.go
Labels: size/L, area/cloud, area/test

#3824 add code for ingress webhook.
  controllers/admission/api/v1/ingress_webhook.go
  controllers/pkg/common/common.go
Labels: size/XS, area/cloud

#3816 refactor(main): add spec for image label v2
  pkg/apply/processor/create.go
  pkg/apply/processor/install.go
  pkg/apply/processor/interface.go
  pkg/image/merge.go
  pkg/types/v1beta1/cluster.go
  pkg/types/v1beta1/helper.go
  pkg/types/v1beta1/utils.go
  pkg/utils/maps/maps.go
Labels: size/M, area/apply, area/lifecycle-management, area/api

#3825 add rbac for desktop.
  controllers/user/deploy/manifests/rbac.yaml
  frontend/desktop/deploy/manifests/rbac.yaml
Labels: size/L, area/cloud, area/frontend

#3830 style: remove unused utils
  go.mod
  pkg/apply/applydrivers/apply_drivers_default.go
  pkg/apply/gen.go
  pkg/apply/processor/create.go
  pkg/apply/processor/delete.go
  pkg/apply/processor/install.go
  pkg/apply/processor/interface.go
  pkg/apply/processor/scale.go
  pkg/apply/reset.go
  pkg/apply/run.go
  pkg/apply/scale.go
  pkg/apply/utils.go
  pkg/bootstrap/context.go
  pkg/checker/crictl_checker.go
  pkg/clusterfile/util.go
  pkg/env/env.go
  pkg/guest/guest.go
  pkg/image/merge.go
  pkg/runtime/k3s/bootstrap.go
  pkg/runtime/k3s/k3s.go
  pkg/runtime/kubernetes/certs.go
  pkg/runtime/kubernetes/kubeadm.go
  pkg/runtime/kubernetes/master.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/runtime_getter.go
  pkg/runtime/kubernetes/types/kubeadm_config.go
  pkg/runtime/kubernetes/types/kubeadm_config_test.go
  pkg/runtime/kubernetes/upgrade.go
  pkg/types/v1beta1/helper.go
  pkg/types/v1beta1/utils.go
  pkg/utils/hosts/hosts.go
  pkg/utils/maps/maps.go
  pkg/utils/maps/maps_test.go
  pkg/utils/strings/strings.go
  pkg/utils/sync/pool.go
  pkg/utils/toml/toml.go
  pkg/utils/yaml/yaml.go
  service/auth/conf/config.go
Labels: size/XL, area/bootstrap, area/apply, area/check, area/clusterfile, area/config, area/guest, area/cloud, area/test, area/lifecycle-management, area/api, area/runtime

#3833 style: remove unused utils (#3830)
  go.mod
  go.work.sum
  pkg/apply/applydrivers/apply_drivers_default.go
  pkg/apply/gen.go
  pkg/apply/processor/create.go
  pkg/apply/processor/delete.go
  pkg/apply/processor/install.go
  pkg/apply/processor/interface.go
  pkg/apply/processor/scale.go
  pkg/apply/reset.go
  pkg/apply/run.go
  pkg/apply/scale.go
  pkg/apply/utils.go
  pkg/bootstrap/context.go
  pkg/checker/crictl_checker.go
  pkg/clusterfile/util.go
  pkg/env/env.go
  pkg/guest/guest.go
  pkg/image/merge.go
  pkg/runtime/k3s/bootstrap.go
  pkg/runtime/k3s/k3s.go
  pkg/runtime/kubernetes/certs.go
  pkg/runtime/kubernetes/kubeadm.go
  pkg/runtime/kubernetes/master.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/runtime_getter.go
  pkg/runtime/kubernetes/types/kubeadm_config.go
  pkg/runtime/kubernetes/types/kubeadm_config_test.go
  pkg/runtime/kubernetes/upgrade.go
  pkg/types/v1beta1/helper.go
  pkg/types/v1beta1/utils.go
  pkg/utils/hosts/hosts.go
  pkg/utils/maps/maps.go
  pkg/utils/maps/maps_test.go
  pkg/utils/strings/strings.go
  pkg/utils/sync/pool.go
  pkg/utils/toml/toml.go
  pkg/utils/yaml/yaml.go
  service/auth/conf/config.go
Labels: size/XXL, area/bootstrap, area/apply, area/check, area/clusterfile, area/config, area/guest, area/cloud, area/test, area/lifecycle-management, area/api, area/runtime

#3834 fix: dnsDomain does not take effect in kubelet
  pkg/runtime/kubernetes/types/default_kubeadm_config.go
Labels: size/XS, area/lifecycle-management, area/runtime

#3836 Terminal image changed
  frontend/providers/terminal/.env
  frontend/providers/terminal/deploy/images/shim/imagelist
Labels: size/XS, area/frontend

#3837 K3s runtime
  cmd/sealos/cmd/cert.go
  cmd/sealos/cmd/gen.go
  pkg/apply/gen.go
  pkg/apply/processor/create.go
  pkg/apply/processor/delete.go
  pkg/apply/processor/install.go
  pkg/apply/processor/scale.go
  pkg/apply/run.go
  pkg/runtime/factory/factory.go
  pkg/runtime/k3s/bootstrap.go
Labels: size/M, area/apply, area/command, area/lifecycle-management, area/runtime

#3839 docs: sealos logout cmd documentation error
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/commands/logout.md
Labels: kind/documentation, size/XS, area/lifecycle-management

#3831 fix webhook config name
  controllers/admission/api/v1/ingress_webhook.go
  controllers/admission/api/v1/namespace_webhook.go
  controllers/admission/config/webhook/manifests.yaml
  controllers/admission/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/cloud

#3842 fix: default config for server/agent
  pkg/runtime/k3s/bootstrap.go
  pkg/runtime/k3s/config.go
  pkg/runtime/k3s/k3s.go
Labels: size/L, area/lifecycle-management, area/runtime

#3846 fix terminal image bugs
  frontend/providers/terminal/deploy/Kubefile
Labels: size/XS, area/frontend

#3848 add database for license
  controllers/licenseissuer/.env
  controllers/licenseissuer/cmd/main.go
  controllers/licenseissuer/internal/controller/license_controller.go
  controllers/licenseissuer/internal/controller/util/const.go
  controllers/licenseissuer/internal/controller/util/license.go
Labels: size/L, area/cloud

#3847 fix: merge config order
  pkg/apply/applydrivers/apply_drivers_default.go
  pkg/apply/processor/install.go
  pkg/runtime/interface.go
  pkg/runtime/k3s/bootstrap.go
  pkg/runtime/k3s/config.go
  pkg/runtime/k3s/consts.go
  pkg/runtime/k3s/k3s.go
  pkg/runtime/k3s/types.go
  pkg/runtime/kubernetes/types/kubeadm_config.go
  pkg/utils/strings/strings.go
Labels: size/L, area/apply, area/lifecycle-management, area/runtime

#3843 helm: init cloud and applaunchpad helm charts
  helm/desktop/Chart.lock
  helm/sealos/.helmignore
  helm/sealos/Chart.yaml
  helm/sealos/README.md
  helm/sealos/charts/applaunchpad/Chart.yaml
  helm/sealos/charts/applaunchpad/templates/NOTES.txt
  helm/sealos/charts/applaunchpad/templates/_helpers.tpl
  helm/sealos/charts/applaunchpad/templates/configmap.yaml
  helm/sealos/charts/applaunchpad/templates/deployment.yaml
  helm/sealos/charts/applaunchpad/templates/ingress.yaml
  helm/sealos/charts/applaunchpad/templates/role.yaml
  helm/sealos/charts/applaunchpad/templates/rolebinding.yaml
  helm/sealos/charts/applaunchpad/templates/service-account.yaml
  helm/sealos/charts/applaunchpad/templates/service.yaml
  helm/sealos/charts/applaunchpad/templates/tls-secret.yaml
  helm/sealos/charts/applaunchpad/values.yaml
  helm/sealos/charts/common/.helmignore
  helm/sealos/charts/common/Chart.yaml
  helm/sealos/charts/common/README.md
  helm/sealos/charts/common/templates/_affinities.tpl
  helm/sealos/charts/common/templates/_capabilities.tpl
  helm/sealos/charts/common/templates/_errors.tpl
  helm/sealos/charts/common/templates/_images.tpl
  helm/sealos/charts/common/templates/_ingress.tpl
  helm/sealos/charts/common/templates/_labels.tpl
  helm/sealos/charts/common/templates/_names.tpl
  helm/sealos/charts/common/templates/_secrets.tpl
  helm/sealos/charts/common/templates/_storage.tpl
  helm/sealos/charts/common/templates/_tplvalues.tpl
  helm/sealos/charts/common/templates/_utils.tpl
  helm/sealos/charts/common/templates/_warnings.tpl
  helm/sealos/charts/common/templates/validations/_cassandra.tpl
  helm/sealos/charts/common/templates/validations/_mariadb.tpl
  helm/sealos/charts/common/templates/validations/_mongodb.tpl
  helm/sealos/charts/common/templates/validations/_mysql.tpl
  helm/sealos/charts/common/templates/validations/_postgresql.tpl
  helm/sealos/charts/common/templates/validations/_redis.tpl
  helm/sealos/charts/common/templates/validations/_validations.tpl
  helm/sealos/charts/common/values.yaml
  helm/sealos/charts/desktop/Chart.yaml
  helm/sealos/charts/desktop/templates/NOTES.txt
  helm/sealos/charts/desktop/templates/_helpers.tpl
  helm/sealos/charts/desktop/templates/configmap.yaml
  helm/sealos/charts/desktop/templates/deployment.yaml
  helm/sealos/charts/desktop/templates/ingress.yaml
  helm/sealos/charts/desktop/templates/role.yaml
  helm/sealos/charts/desktop/templates/rolebinding.yaml
  helm/sealos/charts/desktop/templates/secret.yaml
  helm/sealos/charts/desktop/templates/service-account.yaml
  helm/sealos/charts/desktop/templates/service.yaml
  helm/sealos/charts/desktop/templates/tls-secret.yaml
  helm/sealos/charts/desktop/values.yaml
  helm/sealos/templates/NOTES.txt
  helm/sealos/templates/_helpers.tpl
  helm/sealos/templates/tls-secret.yaml
  helm/sealos/values.yaml
Labels: size/XXL

#3854 fix: ignore http server close error
  pkg/filesystem/registry/sync.go
Labels: size/XS, area/filesystem, area/lifecycle-management

#3856 refactor: remove redundant nil check
  pkg/types/v1beta1/utils.go
Labels: good first issue, size/S, area/lifecycle-management, area/api

#3860 add memory record for license
  controllers/licenseissuer/cmd/main.go
  controllers/licenseissuer/internal/controller/license_controller.go
  controllers/licenseissuer/internal/controller/util/collect.go
  controllers/licenseissuer/internal/controller/util/const.go
  controllers/licenseissuer/internal/controller/util/license.go
  controllers/licenseissuer/internal/controller/util/options.go
  controllers/licenseissuer/internal/controller/util/runnable.go
Labels: size/L, area/cloud

#3841 feature(main): add initsystem cmd and so on
  cmd/sealctl/cmd/initsystem.go
  cmd/sealctl/cmd/root.go
  cmd/sealctl/cmd/static_pod.go
  cmd/sealos/cmd/cert.go
  pkg/checker/cri_shim_checker.go
  pkg/constants/consts.go
  pkg/ipvs/lvscare.go
  pkg/runtime/k3s/bootstrap.go
  pkg/runtime/k3s/config.go
  pkg/runtime/k3s/consts.go
  pkg/runtime/k3s/k3s.go
  pkg/runtime/kubernetes/kubeadm.go
  pkg/runtime/kubernetes/runtime_getter.go
  pkg/types/v1beta1/utils.go
  pkg/utils/initsystem/initsystem.go
  pkg/utils/initsystem/initsystem_unix.go
  pkg/utils/initsystem/initsystem_windows.go
  staging/src/github.com/labring/image-cri-shim/pkg/types/config.go
Labels: area/imageCRIShim, size/XXL, area/check, area/ipvs, area/command, area/lifecycle-management, area/api, area/runtime

#3851 fix:template file export
  frontend/pnpm-lock.yaml
  frontend/providers/template/src/pages/develop/components/Header.tsx
  frontend/providers/template/src/pages/develop/components/YamlList.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/utils/json-yaml.ts
Labels: size/XXL, area/frontend

#3855 user delete request
  controllers/user/Makefile
  controllers/user/PROJECT
  controllers/user/api/v1/deleterequest_types.go
  controllers/user/api/v1/zz_generated.deepcopy.go
  controllers/user/config/crd/bases/user.sealos.io_deleterequests.yaml
  controllers/user/config/crd/kustomization.yaml
  controllers/user/config/crd/patches/cainjection_in_deleterequests.yaml
  controllers/user/config/crd/patches/webhook_in_deleterequests.yaml
  controllers/user/config/rbac/deleterequest_editor_role.yaml
  controllers/user/config/rbac/deleterequest_viewer_role.yaml
  controllers/user/config/rbac/role.yaml
  controllers/user/config/samples/user_v1_deleterequest.yaml
  controllers/user/controllers/deleterequest_controller.go
  controllers/user/controllers/operationrequest_controller.go
  controllers/user/deploy/manifests/deploy.yaml.tmpl
  controllers/user/main.go
Labels: size/XL, area/cloud, area/api

#3868 chore: test command，fix: change process of create cr
  frontend/READMD.md
  frontend/desktop/inlang.config.js
  frontend/desktop/package.json
  frontend/desktop/scripts/cleanCluster.ps1
  frontend/desktop/scripts/getMongodbUri.ps1
  frontend/desktop/src/__tests__/api/e2e/namespace/abdicate.test.ts
  frontend/desktop/src/__tests__/api/e2e/namespace/create.test.ts
  frontend/desktop/src/__tests__/api/e2e/namespace/delete.test.ts
  frontend/desktop/src/__tests__/api/e2e/namespace/invite.test.ts
  frontend/desktop/src/__tests__/api/e2e/namespace/modify.test.ts
  frontend/desktop/src/__tests__/api/e2e/namespace/recive.test.ts
  frontend/desktop/src/__tests__/api/e2e/namespace/remove.test.ts
  frontend/desktop/src/__tests__/api/e2e/namespace/switch.test.ts
  frontend/desktop/src/__tests__/api/e2e/namespace/withoutSession.test.ts
  frontend/desktop/src/__tests__/jest-sequencer.cjs
  frontend/desktop/src/pages/api/auth/namespace/abdicate.ts
  frontend/desktop/src/pages/api/auth/namespace/details.ts
  frontend/desktop/src/pages/api/auth/namespace/modifyRole.ts
  frontend/desktop/src/pages/api/auth/namespace/removeUser.ts
  frontend/desktop/src/pages/api/auth/namespace/switch.ts
  frontend/desktop/src/pages/api/auth/namespace/verifyInvite.ts
  frontend/desktop/src/services/backend/db/userToNamespace.ts
  frontend/desktop/src/services/backend/team.ts
Labels: size/L, area/frontend

#3865 refactor(main): k3s runtime hosts fix
  pkg/bootstrap/bootstrap.go
  pkg/bootstrap/context.go
  pkg/bootstrap/hosts.go
  pkg/filesystem/rootfs/rootfs_default.go
  pkg/remote/remote.go
  pkg/remote/util.go
  pkg/runtime/k3s/bootstrap.go
  pkg/runtime/k3s/config.go
  pkg/runtime/k3s/consts.go
  pkg/runtime/k3s/k3s.go
  pkg/runtime/k3s/lifecycle.go
  pkg/runtime/kubernetes/master.go
  pkg/runtime/kubernetes/node.go
  pkg/runtime/kubernetes/reset.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/runtime_getter.go
  pkg/ssh/remote.go
  pkg/types/v1beta1/cluster.go
Labels: size/XL, area/bootstrap, area/filesystem, area/lifecycle-management, area/api, area/runtime, area/ssh

#3872 feat: support rendering template files on target host with sealctl
  cmd/sealctl/cmd/initsystem.go
  cmd/sealctl/cmd/render.go
  pkg/filesystem/rootfs/rootfs_default.go
  pkg/template/template.go
  pkg/utils/file/file.go
  pkg/utils/yaml/yaml.go
Labels: size/L, area/config, area/filesystem, area/command, area/lifecycle-management

#3871 feat: launchpad multiple port
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/api/params.d.ts
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/components/MyModal/index.tsx
  frontend/providers/applaunchpad/src/components/YamlCode/hljs.ts
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/constants/editApp.ts
  frontend/providers/applaunchpad/src/constants/theme.ts
  frontend/providers/applaunchpad/src/hooks/useRequest.tsx
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/api/delApp.ts
  frontend/providers/applaunchpad/src/pages/api/getAppByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/platform/authCname.ts
  frontend/providers/applaunchpad/src/pages/api/updateApp.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/styles/global.scss
  frontend/providers/applaunchpad/src/styles/reset.scss
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: size/XXL, area/frontend

#3877 build(main): target pull registry checkout code
  .github/workflows/e2e_test_apply.yml
  .github/workflows/import-patch-image.yml
Labels: size/M, area/workflow

#3882 fix: launchapd main info ui
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
Labels: size/XS, area/frontend

#3881 fix: ignore stderr output of sealctl render command
  pkg/filesystem/rootfs/rootfs_default.go
Labels: size/XS, area/filesystem, area/lifecycle-management

#3876 add default install of metrics-server
  deploy/cloud/README.md
  deploy/registry/install_base_server.md
Labels: size/XS, area/ci

#3888 Fix adminer docker image url.
  controllers/db/adminer/config/manager/manager.yaml
  controllers/db/adminer/controllers/adminer_controller.go
  controllers/db/adminer/deploy/Kubefile
Labels: size/XS, area/cloud

#3886 fix: set runmode env for each host before rendering templates
  pkg/filesystem/rootfs/rootfs_default.go
  pkg/types/v1beta1/cluster.go
  pkg/types/v1beta1/utils.go
Labels: size/S, area/filesystem, area/lifecycle-management, area/api

#3893 feat: add mongo version env for sealos aio cluster image
  deploy/cloud/Kubefile
  deploy/cloud/README.md
  deploy/cloud/manifests/mongodb.yaml.tmpl
Labels: size/XS, area/ci

#3894 fix user controller.
  controllers/user/deploy/Kubefile
  controllers/user/deploy/manifests/rbac.yaml
Labels: size/S, area/cloud

#3895 fix bugs of licenseissuer deploy
  controllers/licenseissuer/deploy/manifests/customconfig.yaml.tmpl
  controllers/licenseissuer/preset/main.go
Labels: size/XS, area/cloud

#3870 feat(costcenter): supported for network
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/lineChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/pieChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/cost.tsx
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/constants/billing.ts
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/pages/api/billing/index.ts
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/stores/billing.ts
  frontend/providers/costcenter/src/types/billing.ts
Labels: size/M, area/frontend

#3892 fix: write ip without port to hosts file
  pkg/bootstrap/applier.go
  pkg/bootstrap/bootstrap.go
  pkg/bootstrap/cri.go
  pkg/bootstrap/hosts.go
  pkg/bootstrap/registry.go
Labels: size/M, area/bootstrap, area/lifecycle-management

#3898 fix: skip same path
  pkg/utils/file/file_v2.go
Labels: size/XS, area/lifecycle-management

#3901 feat: support timeout setting for lvscare http prober
  staging/src/github.com/labring/lvscare/care/prober.go
Labels: area/lvscare, size/XS, area/lifecycle-management

#3828 Feat: adapt multi namespace account
  controllers/account/api/v1/account_types.go
  controllers/account/api/v1/accountbalance_types.go
  controllers/account/api/v1/billingrecordquery_types.go
  controllers/account/api/v1/debt_webhook.go
  controllers/account/config/crd/bases/account.sealos.io_accountbalances.yaml
  controllers/account/config/crd/bases/account.sealos.io_billingrecordqueries.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/billing_controller.go
  controllers/account/controllers/billingrecordquery_controller.go
  controllers/account/controllers/cache/cache.go
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/transfer_controller.go
  controllers/account/deploy/manifests/deploy.yaml.tmpl
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongodb.go
  controllers/pkg/database/mongodb_test.go
Labels: size/XL, area/cloud, area/test, area/api

#3852 Feat: init frontend costcenter helm chart
  controllers/account/go.mod
  controllers/account/go.sum
  helm/sealos/charts/costcenter/.helmignore
  helm/sealos/charts/costcenter/Chart.yaml
  helm/sealos/charts/costcenter/templates/NOTES.txt
  helm/sealos/charts/costcenter/templates/_helpers.tpl
  helm/sealos/charts/costcenter/templates/app.yaml
  helm/sealos/charts/costcenter/templates/config.yaml
  helm/sealos/charts/costcenter/templates/deployment.yaml
  helm/sealos/charts/costcenter/templates/hpa.yaml
  helm/sealos/charts/costcenter/templates/ingress.yaml
  helm/sealos/charts/costcenter/templates/service.yaml
  helm/sealos/charts/costcenter/templates/serviceaccount.yaml
  helm/sealos/charts/costcenter/values.yaml
Labels: size/L, area/cloud

#3906 fix: get remote kubeconfig path with $HOME variable
  pkg/runtime/k3s/bootstrap.go
  pkg/runtime/kubernetes/kubeconfig.go
  pkg/runtime/kubernetes/runtime.go
  pkg/ssh/scp.go
  pkg/utils/file/file_v3.go
Labels: size/M, area/lifecycle-management, area/runtime, area/ssh

#3911 fix(main): delete .kube dir for all nodes
  pkg/runtime/k3s/lifecycle.go
  pkg/runtime/kubernetes/reset.go
Labels: size/S, area/lifecycle-management, area/runtime

#3913 fix: disable scp checksum by default
  pkg/system/env.go
Labels: size/XS, area/env, area/lifecycle-management

#3916 fix: remove template files to avoid rendering templates repeatedly
  cmd/sealctl/cmd/render.go
  pkg/filesystem/rootfs/rootfs_default.go
Labels: size/M, area/filesystem, area/command, area/lifecycle-management

#3908 feat(cost center): support multiNs
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/pages/api/account/payment/index.ts
  frontend/providers/costcenter/src/pages/api/account/payment/stripe.ts
  frontend/providers/costcenter/src/pages/api/billing/getNamespaceList.tsx
  frontend/providers/costcenter/src/pages/api/billing/index.ts
  frontend/providers/costcenter/src/pages/api/getQuota.ts
  frontend/providers/costcenter/src/pages/api/price/bonus.ts
  frontend/providers/costcenter/src/pages/api/price/index.ts
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/service/backend/kubernetes.ts
  frontend/providers/costcenter/src/types/billing.ts
Labels: size/L, area/frontend

#3922 fix: HPA apiversion
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/XS, area/frontend

#3924 delete auth service
  .github/workflows/services.yml
  go.work
  service/auth/.gitignore
  service/auth/Dockerfile
  service/auth/Makefile
  service/auth/README.md
  service/auth/api/api.go
  service/auth/api/struct.go
  service/auth/conf/config.go
  service/auth/deploy/Kubefile
  service/auth/deploy/README.md
  service/auth/deploy/manifests/configmap.yaml.tmpl
  service/auth/deploy/manifests/deploy.yaml
  service/auth/deploy/manifests/ingress.yaml.tmpl
  service/auth/deploy/scripts/init.sh
  service/auth/go.mod
  service/auth/go.sum
  service/auth/kustomize/default/kustomization.yaml
  service/auth/kustomize/default/service_config_patch.yaml
  service/auth/kustomize/manager/auth.yaml
  service/auth/kustomize/manager/kustomization.yaml
  service/auth/kustomize/manager/manager.yaml
  service/auth/kustomize/rbac/kustomization.yaml
  service/auth/kustomize/rbac/role_binding.yaml
  service/auth/kustomize/rbac/service_account.yaml
  service/auth/kustomize/service/kustomization.yaml
  service/auth/kustomize/service/service.yaml
  service/auth/main.go
  service/auth/main_test.go
  service/auth/pkg/auth.go
  service/auth/pkg/conf/casdoor.yaml
  service/auth/pkg/conf/config.go
  service/auth/pkg/sso/casdoor.go
  service/auth/pkg/sso/client.go
  service/auth/pkg/utils/config.go
  service/auth/scripts/migrate.go
  service/auth/test/auth.http
Labels: size/XXL, area/cloud, area/test, area/workflow

#3925 Delete auth
  .github/workflows/services.yml
Labels: size/L, area/workflow

#3927 feat(applaunchpad, dbprovider, template):support multi ns
  frontend/packages/client-sdk/src/master.ts
  frontend/packages/client-sdk/src/types/user.d.ts
  frontend/packages/client-sdk/src/utils/kubernetes.ts
  frontend/providers/applaunchpad/src/services/backend/kubernetes.ts
  frontend/providers/applaunchpad/src/utils/user.ts
  frontend/providers/dbprovider/src/services/backend/kubernetes.ts
  frontend/providers/template/src/services/backend/kubernetes.ts
Labels: size/S, area/frontend

#3914 feat:cronjob detail page
  frontend/pnpm-lock.yaml
  frontend/providers/cronjob/package.json
  frontend/providers/cronjob/public/locales/en/common.json
  frontend/providers/cronjob/public/locales/zh/common.json
  frontend/providers/cronjob/src/api/app.ts
  frontend/providers/cronjob/src/api/job.ts
  frontend/providers/cronjob/src/components/Slider/index.tsx
  frontend/providers/cronjob/src/components/Table/index.tsx
  frontend/providers/cronjob/src/constants/job.ts
  frontend/providers/cronjob/src/pages/api/cronjob/getCronJobList.ts
  frontend/providers/cronjob/src/pages/api/getJobPodList.ts
  frontend/providers/cronjob/src/pages/api/getPodLogs.ts
  frontend/providers/cronjob/src/pages/api/job/event.ts
  frontend/providers/cronjob/src/pages/api/job/list.ts
  frontend/providers/cronjob/src/pages/api/launchpad/getAppByAppName.ts
  frontend/providers/cronjob/src/pages/api/launchpad/getApps.ts
  frontend/providers/cronjob/src/pages/api/launchpad/getServiceAccount.ts
  frontend/providers/cronjob/src/pages/job/detail/components/AppBaseInfo.tsx
  frontend/providers/cronjob/src/pages/job/detail/components/AppMainInfo.tsx
  frontend/providers/cronjob/src/pages/job/detail/components/DelModal.tsx
  frontend/providers/cronjob/src/pages/job/detail/components/Header.tsx
  frontend/providers/cronjob/src/pages/job/detail/index.tsx
  frontend/providers/cronjob/src/pages/job/edit/components/Cron.tsx
  frontend/providers/cronjob/src/pages/job/edit/components/Form.tsx
  frontend/providers/cronjob/src/pages/job/edit/components/Label.tsx
  frontend/providers/cronjob/src/pages/job/edit/index.tsx
  frontend/providers/cronjob/src/pages/jobs/components/jobList.tsx
  frontend/providers/cronjob/src/pages/jobs/index.tsx
  frontend/providers/cronjob/src/services/backend/kubernetes.ts
  frontend/providers/cronjob/src/store/global.ts
  frontend/providers/cronjob/src/store/job.ts
  frontend/providers/cronjob/src/types/app.d.ts
  frontend/providers/cronjob/src/types/job.d.ts
  frontend/providers/cronjob/src/utils/adapt.ts
  frontend/providers/cronjob/src/utils/json2Yaml.ts
  frontend/providers/cronjob/src/utils/tools.ts
  frontend/providers/cronjob/src/utils/user.ts
  frontend/providers/cronjob/tsconfig.json
  frontend/providers/terminal/src/pages/api/apply.ts
Labels: size/XXL, area/frontend

#3935 fix golangci-lint
  controllers/pkg/database/mongodb.go
Labels: size/XS, area/cloud

#3936 feat: template offline environment
  frontend/pnpm-lock.yaml
  frontend/providers/cronjob/public/locales/en/common.json
  frontend/providers/cronjob/public/locales/zh/common.json
  frontend/providers/cronjob/src/pages/job/edit/index.tsx
  frontend/providers/template/src/pages/api/updateRepo.ts
Labels: size/XXL, area/frontend

#3929 refactor: move local action out from pkg/ssh to pkg/exec
  cmd/sealos/cmd/exec.go
  cmd/sealos/cmd/scp.go
  pkg/apply/apply.go
  pkg/apply/processor/interface.go
  pkg/apply/reset.go
  pkg/apply/run.go
  pkg/apply/scale.go
  pkg/apply/utils.go
  pkg/bootstrap/context.go
  pkg/checker/crictl_checker.go
  pkg/checker/host_checker.go
  pkg/checker/registry_checker.go
  pkg/exec/exec.go
  pkg/filesystem/registry/sync.go
  pkg/filesystem/rootfs/rootfs_default.go
  pkg/guest/guest.go
  pkg/registry/helpers/helpers.go
  pkg/registry/password/apply.go
  pkg/registry/password/password.go
  pkg/runtime/k3s/bootstrap.go
  pkg/runtime/k3s/k3s.go
  pkg/runtime/k3s/lifecycle.go
  pkg/runtime/kubernetes/kubeconfig.go
  pkg/runtime/kubernetes/master.go
  pkg/runtime/kubernetes/node.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/runtime_getter.go
  pkg/ssh/connect.go
  pkg/ssh/exec.go
  pkg/ssh/scp.go
  pkg/ssh/ssh.go
  pkg/ssh/sshcmd.go
  pkg/utils/net/net.go
  test/e2e/apply_infra_test.go
Labels: size/XL, area/bootstrap, area/apply, area/check, area/guest, area/filesystem, area/registry, area/test, area/command, area/lifecycle-management, area/runtime, area/ssh

#3921 feature: kubefile CMD support ENV values with "${...}" and "$..." format
  fork/golang/expansion/expand.go
  pkg/guest/guest_test.go
Labels: size/L, area/guest, area/test, area/lifecycle-management

#3946 feature(main): support sealctl static_pod add options args
  cmd/sealctl/cmd/static_pod.go
  pkg/ipvs/lvscare.go
  pkg/ipvs/lvscare_test.go
Labels: size/M, area/ipvs, area/test, area/command, area/lifecycle-management

#3918 Update README.md
  README.md
  README_zh.md
Labels: size/XS

#3891 fix(main): sync cert for cert cmd
  pkg/runtime/kubernetes/certs.go
Labels: size/S, area/lifecycle-management, area/runtime

#3953 delete: delete cr build for buildah
  pkg/buildah/imagecr.go
  pkg/buildah/imagecrbuilder.go
  pkg/buildah/imagecrtypes.go
  pkg/buildah/push.go
Labels: area/buildah, size/L, area/lifecycle-management

#3955 backup buildah image cr build logic to deprecate
  deprecate/pkg/buildah/build.go
  deprecate/pkg/buildah/buildah.go
  deprecate/pkg/buildah/common.go
  deprecate/pkg/buildah/constants.go
  deprecate/pkg/buildah/containers.go
  deprecate/pkg/buildah/create.go
  deprecate/pkg/buildah/diff.go
  deprecate/pkg/buildah/doc.go
  deprecate/pkg/buildah/from.go
  deprecate/pkg/buildah/imagecr.go
  deprecate/pkg/buildah/imagecrbuilder.go
  deprecate/pkg/buildah/imagecrtypes.go
  deprecate/pkg/buildah/images.go
  deprecate/pkg/buildah/imagesaver.go
  deprecate/pkg/buildah/inspect.go
  deprecate/pkg/buildah/interface.go
  deprecate/pkg/buildah/interface_test.go
  deprecate/pkg/buildah/internal/util/util.go
  deprecate/pkg/buildah/load.go
  deprecate/pkg/buildah/login.go
  deprecate/pkg/buildah/logout.go
  deprecate/pkg/buildah/manifest.go
  deprecate/pkg/buildah/merge.go
  deprecate/pkg/buildah/mount.go
  deprecate/pkg/buildah/pull.go
  deprecate/pkg/buildah/push.go
  deprecate/pkg/buildah/rm.go
  deprecate/pkg/buildah/rmi.go
  deprecate/pkg/buildah/runtime.go
  deprecate/pkg/buildah/save.go
  deprecate/pkg/buildah/setup.go
  deprecate/pkg/buildah/tag.go
  deprecate/pkg/buildah/umount.go
  deprecate/pkg/buildah/unshare.go
  deprecate/pkg/buildah/util.go
Labels: size/XXL, area/test

#3939 docs: add install example for fireboom
  docs/4.0/docs/examples/baas/install-fireboom.md
  docs/4.0/docs/examples/images/fireboom/1-1.png
  docs/4.0/docs/examples/images/fireboom/2-1.png
  docs/4.0/docs/examples/images/fireboom/2-2.png
  docs/4.0/docs/examples/images/fireboom/2-3.png
  docs/4.0/docs/examples/images/fireboom/3-1.png
  docs/4.0/docs/examples/images/fireboom/3-2.png
  docs/4.0/docs/examples/images/fireboom/4-1.png
  docs/4.0/docs/examples/images/fireboom/5-1.png
  docs/4.0/docs/examples/images/fireboom/5-2.png
  docs/4.0/docs/examples/images/fireboom/5-3.png
  docs/4.0/docs/examples/images/fireboom/fireboom-architecture.jpeg
  docs/4.0/docs/examples/images/fireboom/fireboom-intro.jpeg
  docs/4.0/i18n/zh-Hans/examples/baas/install-fireboom.md
  docs/4.0/i18n/zh-Hans/examples/images/fireboom/2-1.png
  docs/4.0/i18n/zh-Hans/examples/images/fireboom/2-2.png
  docs/4.0/i18n/zh-Hans/examples/images/fireboom/2-3.png
  docs/4.0/i18n/zh-Hans/examples/images/fireboom/3-1.png
  docs/4.0/i18n/zh-Hans/examples/images/fireboom/3-2.png
  docs/4.0/i18n/zh-Hans/examples/images/fireboom/4-1.png
  docs/4.0/i18n/zh-Hans/examples/images/fireboom/5-1.png
  docs/4.0/i18n/zh-Hans/examples/images/fireboom/5-2.png
  docs/4.0/i18n/zh-Hans/examples/images/fireboom/5-3.png
  docs/4.0/i18n/zh-Hans/examples/images/fireboom/fireboom-architecture.jpeg
  docs/4.0/i18n/zh-Hans/examples/images/fireboom/fireboom-intro.jpeg
Labels: kind/documentation, size/L, area/cloud

#3956 docs: Add menu for fireboom example
  docs/4.0/i18n/zh-Hans/current.json
  docs/4.0/sidebar.json
Labels: kind/documentation, size/S, area/cloud

#3948 feat:cronjob timezone
  frontend/providers/cronjob/src/types/job.d.ts
  frontend/providers/cronjob/src/utils/adapt.ts
  frontend/providers/cronjob/src/utils/json2Yaml.ts
  frontend/providers/cronjob/src/utils/tools.ts
Labels: size/M, area/frontend

#3934 add database monitor
  .github/workflows/services.yml
  go.work
  service/database/Dockerfile
  service/database/Makefile
  service/database/README.md
  service/database/api/req.go
  service/database/auth/authenticate.go
  service/database/config/config.yml
  service/database/deploy/README.md
  service/database/deploy/manifests/deploy.yaml
  service/database/deploy/manifests/victoriaMetrics/cm.yaml
  service/database/deploy/manifests/victoriaMetrics/rbac.yaml
  service/database/deploy/manifests/victoriaMetrics/vmagent.yaml
  service/database/deploy/manifests/victoriaMetrics/vminsert.yaml
  service/database/deploy/manifests/victoriaMetrics/vmselect.yaml
  service/database/deploy/manifests/victoriaMetrics/vmstorage.yaml
  service/database/go.mod
  service/database/go.sum
  service/database/main.go
  service/database/request/req.go
  service/database/server/config.go
  service/database/server/server.go
Labels: size/XXL, area/cloud, area/workflow

#3958 Multi ns costcenter
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/public/logo.svg
  frontend/providers/costcenter/src/components/CurrencySymbol.tsx
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/lineChart.tsx
  frontend/providers/costcenter/src/components/icons/CpuIcon.tsx
  frontend/providers/costcenter/src/components/icons/ListIcon.tsx
  frontend/providers/costcenter/src/components/icons/MemoryIcon.tsx
  frontend/providers/costcenter/src/components/icons/NetworkIcon.tsx
  frontend/providers/costcenter/src/components/icons/StorageIcon.tsx
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/components/valuation/quota.tsx
  frontend/providers/costcenter/src/constants/billing.ts
  frontend/providers/costcenter/src/constants/valuation.ts
  frontend/providers/costcenter/src/pages/api/price/index.ts
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/types/billing.ts
Labels: size/XXL, area/frontend

#3959 feat(terminal):auto switch namespace
  frontend/desktop/scripts/getSalt.ps1
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/cronjob/tsconfig.json
  frontend/providers/license/next-i18next.config.js
  frontend/providers/license/tsconfig.json
  frontend/providers/terminal/src/components/terminal/index.tsx
  frontend/providers/terminal/src/stores/session.ts
Labels: size/M, area/frontend

#3960 Dev template
  controllers/app/api/v1/template_types.go
  controllers/app/config/crd/bases/app.sealos.io_templates.yaml
  controllers/app/config/samples/app_v1beta1_template.yaml
  controllers/app/deploy/manifests/deploy.yaml
Labels: size/M, area/cloud, area/api

#3967 clean terminal switch message cmd history
  frontend/providers/terminal/src/components/terminal/index.tsx
Labels: size/XS, area/frontend

#3965 i18n for desktop
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/icons/GroupAdd.tsx
  frontend/desktop/src/components/team/Abdication.tsx
  frontend/desktop/src/components/team/CreateTeam.tsx
  frontend/desktop/src/components/team/DissolveTeam.tsx
  frontend/desktop/src/components/team/InviteMember.tsx
  frontend/desktop/src/components/team/ModifyRole.tsx
  frontend/desktop/src/components/team/NsList.tsx
  frontend/desktop/src/components/team/ReciveMessage.tsx
  frontend/desktop/src/components/team/RemoveMember.tsx
  frontend/desktop/src/components/team/TeamCenter.tsx
  frontend/desktop/src/components/team/userTable.tsx
  frontend/desktop/src/pages/api/auth/namespace/create.ts
  frontend/providers/applaunchpad/src/pages/_app.tsx
Labels: size/L, area/frontend

#3963 feat billing with app/type/ns
  controllers/account/PROJECT
  controllers/account/api/v1/account_types.go
  controllers/account/api/v1/accountbalance_types.go
  controllers/account/api/v1/billinginfoquery_types.go
  controllers/account/api/v1/billingrecordquery_types.go
  controllers/account/api/v1/zz_generated.deepcopy.go
  controllers/account/config/crd/bases/account.sealos.io_billinginfoqueries.yaml
  controllers/account/config/crd/bases/account.sealos.io_billingrecordqueries.yaml
  controllers/account/config/crd/kustomization.yaml
  controllers/account/config/crd/patches/cainjection_in_billinginfoqueries.yaml
  controllers/account/config/crd/patches/webhook_in_billinginfoqueries.yaml
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/config/rbac/billinginfoquery_editor_role.yaml
  controllers/account/config/rbac/billinginfoquery_viewer_role.yaml
  controllers/account/config/rbac/role.yaml
  controllers/account/config/samples/account_v1_accountbalance.yaml
  controllers/account/config/samples/account_v1_billinginfoquery.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/billing_controller.go
  controllers/account/controllers/billinginfoquery_controller.go
  controllers/account/controllers/billingrecordquery_controller.go
  controllers/account/controllers/transfer_controller.go
  controllers/account/deploy/manifests/deploy.yaml.tmpl
  controllers/account/main.go
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongodb.go
  controllers/pkg/database/mongodb_test.go
  controllers/pkg/resources/named.go
  controllers/pkg/resources/resources.go
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/controllers/monitor_controller_test.go
  controllers/resources/main.go
Labels: size/XXL, area/cloud, area/test, area/api

#3971 docs: modify carousel image
  docs/website/static/icons/discord.svg
  docs/website/static/illustrations/user-by-2x.png
  docs/website/static/illustrations/user-by.png
Labels: kind/documentation, size/S

#3973 feat:template draft & default random
  README.md
  README_zh.md
  frontend/pnpm-lock.yaml
  frontend/providers/template/package.json
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/api/app.ts
  frontend/providers/template/src/pages/404.tsx
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/pages/api/applyApp.ts
  frontend/providers/template/src/pages/api/getKindTemplate.ts
  frontend/providers/template/src/pages/api/listTemplate.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/types/app.d.ts
  frontend/providers/template/src/utils/json-yaml.ts
  frontend/providers/template/src/utils/user.ts
Labels: size/L, area/frontend

#3903 feature: sync .sealos workdir
  pkg/apply/applydrivers/apply_drivers_default.go
Labels: size/M, area/apply, area/lifecycle-management

#3975 fix: sync sealos work dir
  pkg/apply/applydrivers/apply_drivers_default.go
Labels: size/S, area/apply, area/lifecycle-management

#3977 fix:template default random value
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/utils/json-yaml.ts
Labels: size/M, area/frontend

#3978 Fix/multi ns account
  controllers/account/api/v1/debt_webhook.go
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/deploy/manifests/deploy.yaml.tmpl
Labels: size/M, area/cloud

#3980 fix: add timeout for command execution
  pkg/exec/exec.go
  pkg/ssh/option.go
  pkg/ssh/ssh.go
  pkg/ssh/sshcmd.go
Labels: size/S, area/lifecycle-management, area/ssh

#3972 feat: add owner check.
  controllers/account/api/v1/debt_webhook.go
  controllers/admission/api/v1/ingress_webhook.go
  controllers/admission/cmd/main.go
  controllers/admission/config/webhook/manifests.yaml
  controllers/admission/deploy/manifests/deploy.yaml.tmpl
  controllers/pkg/code/common.go
Labels: size/L, area/cloud

#3981 Fix doc deprecated "#gh-dark-mode-*" fragment.
  README.md
  README_zh.md
  docs/4.0/docs/advanced-guide/Architecture/Architecture.md
  docs/4.0/i18n/zh-Hans/advanced-guide/Architecture/Architecture.md
Labels: kind/documentation, size/M, area/cloud

#3986 fix: using extra valid status codes when response status code greater than 400
  staging/src/github.com/labring/lvscare/care/prober.go
Labels: area/lvscare, size/XS, area/lifecycle-management

#3987 fix: sync sealos work dir
  pkg/apply/applydrivers/apply_drivers_default.go
Labels: size/XS, area/apply, area/lifecycle-management

#3944 feature(main): join nodes for k3s
  pkg/runtime/k3s/bootstrap.go
  pkg/runtime/k3s/config.go
  pkg/runtime/k3s/consts.go
  pkg/runtime/k3s/k3s.go
  pkg/runtime/k3s/lifecycle.go
  pkg/runtime/kubernetes/runtime_getter.go
  pkg/ssh/remote.go
  pkg/template/template_test.go
  test/e2e/k3s_basic_test.go
Labels: size/L, area/config, area/test, area/lifecycle-management, area/runtime, area/ssh

#3985 Dev doc
  README.md
  README_zh.md
  docs/4.0/docs/advanced-guide/Architecture/Architecture.md
  docs/4.0/i18n/zh-Hans/advanced-guide/Architecture/Architecture.md
Labels: kind/documentation, size/M, area/cloud

#3993 Rebase docusaurus doc fragment.
  docs/4.0/docs/advanced-guide/Architecture/Architecture.md
  docs/4.0/i18n/zh-Hans/advanced-guide/Architecture/Architecture.md
  docs/website/package.json
  docs/website/yarn.lock
Labels: kind/documentation, size/L, area/cloud

#3995 feature(main): add lvscare gomod
  go.mod
  go.sum
  go.work.sum
Labels: size/S

#3996 add account webhook namespaceSelector matchExpressions with user ns label
  controllers/account/api/v1/debt_webhook.go
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/config/default/webhookcainjection_patch.yaml
  controllers/account/config/manager/manager.yaml
  controllers/account/config/webhook/kustomizeconfig.yaml
  controllers/account/config/webhook/manifests.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/account/deploy/manifests/deploy.yaml.tmpl
Labels: size/M, area/cloud

#3998 styles(desktop):fix some styles
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/billing/TypeMenu.tsx
  frontend/providers/costcenter/src/components/billing/billingDetails.tsx
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/components/valuation/quota.tsx
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/pages/billing/index.tsx
Labels: size/M, area/frontend

#3997 styles(desktop):modify team center styles
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/__tests__/api/e2e/namespace/create.test.ts
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/icons/RightArrow.tsx
  frontend/desktop/src/components/team/NsList.tsx
  frontend/desktop/src/components/team/TeamCenter.tsx
  frontend/desktop/src/pages/api/auth/namespace/create.ts
  frontend/desktop/src/pages/api/auth/namespace/details.ts
  frontend/desktop/src/pages/api/auth/namespace/list.ts
  frontend/desktop/src/services/backend/kubernetes/admin.ts
  frontend/desktop/src/types/team.ts
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/index.tsx
Labels: size/L, area/frontend

#4002 feat:license deploy
  frontend/providers/license/deploy/Kubefile
  frontend/providers/license/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/license/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/license/deploy/manifests/env.yaml.tmpl
  frontend/providers/license/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/license/src/pages/api/platform/getEnv.ts
  frontend/providers/license/src/pages/index.tsx
Labels: size/M, area/frontend

#4005 fix(desktop):invite & modify role
  frontend/desktop/src/components/team/DissolveTeam.tsx
  frontend/desktop/src/components/team/InviteMember.tsx
  frontend/desktop/src/components/team/ModifyRole.tsx
  frontend/desktop/src/components/team/userTable.tsx
Labels: size/S, area/frontend

#4007 fix(costcenter): fix get price error
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/pages/api/billing/getAppList.tsx
  frontend/providers/costcenter/src/pages/api/price/index.ts
Labels: size/S, area/frontend

#4006 Fix/billing
  controllers/account/api/v1/debt_webhook.go
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/billing_controller.go
  controllers/account/controllers/billingrecordquery_controller.go
Labels: size/M, area/cloud

#4010 fix(costcenter): transfer error
  frontend/providers/costcenter/src/pages/api/account/payment/pay.ts
  frontend/providers/costcenter/src/pages/api/account/transfer.ts
  frontend/providers/costcenter/src/pages/api/billing/getAppList.tsx
  frontend/providers/costcenter/src/pages/api/billing/getNamespaceList.tsx
  frontend/providers/costcenter/src/pages/api/billing/index.ts
Labels: size/S, area/frontend

#4009 modifying license payment
  frontend/desktop/src/pages/api/license/pay.ts
  frontend/providers/template/.gitignore
Labels: size/XS, area/frontend

#4011 fix: service targetport update
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/XS, area/frontend

#4017 fix(main): delete clean_unused_func
  pkg/runtime/kubernetes/init.go
Labels: size/XS, area/lifecycle-management, area/runtime

#3991 feature(main): reset cluster not delete nodes
  pkg/runtime/k3s/k3s.go
  pkg/runtime/k3s/lifecycle.go
  pkg/runtime/kubernetes/reset.go
Labels: size/S, area/lifecycle-management, area/runtime
