Repository labring/sealos, pull requests merged in 2023-05, with the labels that each got.

#3022 docs(main): upgrade bot version
  .github/workflows/bot.yml
  README.md
Labels: size/XS

#3025 fix sha len not same
  .github/workflows/frontend-providers.yml
Labels: size/S

#3012 feat terminal add env ttyd image
  frontend/providers/terminal/.env
  frontend/providers/terminal/Makefile
  frontend/providers/terminal/src/components/terminal/index.tsx
  frontend/providers/terminal/src/interfaces/terminal.ts
  frontend/providers/terminal/src/pages/api/getEnv.ts
  frontend/providers/terminal/src/pages/index.tsx
Labels: size/M

#3018 Stream log
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/pnpm-lock.yaml
  frontend/providers/applaunchpad/src/api/app.ts
  frontend/providers/applaunchpad/src/components/Icon/icons/log.svg
  frontend/providers/applaunchpad/src/components/Icon/index.tsx
  frontend/providers/applaunchpad/src/components/PodLineChart/index.tsx
  frontend/providers/applaunchpad/src/components/YamlCode/index.module.scss
  frontend/providers/applaunchpad/src/pages/api/getPodLogs.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/LogsModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Yaml.tsx
  frontend/providers/applaunchpad/src/styles/reset.scss
  frontend/providers/applaunchpad/src/utils/adapt.ts
Labels: size/L

#3028 Cluster image desktop
  .github/workflows/frontend-desktop.yml
  frontend/desktop/deploy/Kubefile
  frontend/desktop/deploy/README.md
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/deploy/manifests/ingress.yaml.tmpl
Labels: size/L

#3026 docs(main): save sealos for controllers
  .github/workflows/ci-patch-image.yml
  .github/workflows/controllers.yml
  .github/workflows/e2e_test_image_cri_shim.yml
  .github/workflows/frontend-desktop.yml
  .github/workflows/frontend-providers.yml
  .github/workflows/import-prune-runtime.yml
  .github/workflows/import-save-sealos.yml
  .github/workflows/services.yml
  .github/workflows/test_cert.yml
  .github/workflows/test_inspect.yml
  .github/workflows/test_registry.yml
  pkg/buildah/imagecrbuilder.go
  pkg/utils/rand/rand.go
  pkg/utils/strings/strings.go
  service/hub/server/server.go
  test/testpg/pgstresstest.go
Labels: size/L

#3031 Replace all `math/rand` to safer `crypto/rand`.
  pkg/buildah/imagecrbuilder.go
  service/hub/server/server.go
  test/testpg/pgstresstest.go
Labels: size/M

#3033 change cert env
  frontend/desktop/deploy/Kubefile
  frontend/desktop/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/applaunchpad/deploy/Kubefile
  frontend/providers/applaunchpad/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/bytebase/deploy/Kubefile
  frontend/providers/bytebase/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/imagehub/deploy/Kubefile
  frontend/providers/imagehub/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/terminal/deploy/Kubefile
  frontend/providers/terminal/deploy/manifests/ingress.yaml.tmpl
  service/auth/deploy/Kubefile
  service/auth/deploy/manifests/ingress.yaml.tmpl
Labels: size/L

#3030 docs(main): e2e for core sealos
  .github/workflows/e2e_test_apply.yml
  .github/workflows/e2e_test_core.yml
  .github/workflows/e2e_test_image_cri_shim.yml
  .github/workflows/test_cert.yml
  .github/workflows/test_inspect.yml
  .github/workflows/test_registry.yml
  go.work.sum
  test/e2e/apply_test.go
  test/e2e/cert_test.go
  test/e2e/image_cri_shim_test.go
  test/e2e/images_test.go
  test/e2e/inspect_test.go
  test/e2e/run_test.go
  test/e2e/suites/apply/apply.go
  test/e2e/suites/cert/cert.go
  test/e2e/suites/image/image.go
  test/e2e/suites/inspect/inspect.go
  test/e2e/suites/run/run.go
  test/e2e/suites/run/single_default.go
  test/e2e/testhelper/cluster/cluster_config.go
  test/e2e/testhelper/cmd/cmd.go
  test/e2e/testhelper/cmd/imageOpts.go
  test/e2e/testhelper/cmd/sealosCmd.go
  test/e2e/testhelper/cmd/sealosCmdOpts.go
  test/e2e/testhelper/cmd/sealosCmdOpts_test.go
  test/e2e/testhelper/kube/check.go
  test/e2e/testhelper/kube/k8s.go
  test/e2e/testhelper/kube/k8s_test.go
  test/e2e/testhelper/settings/settings.go
  test/e2e/testhelper/utils.go
Labels: size/XXL

#3034 docs(main): e2e for image shim for sealos
  .github/workflows/e2e_test_apply.yml
  .github/workflows/e2e_test_image_cri_shim.yml
  test/e2e/image_cri_shim_test.go
  test/e2e/images_test.go
  test/e2e/run_test.go
  test/e2e/suites/apply/apply.go
  test/e2e/suites/cert/cert.go
  test/e2e/suites/cluster/cluster_config.go
  test/e2e/suites/cri/cri.go
  test/e2e/suites/image/image.go
  test/e2e/suites/image/imageServiceClient.go
  test/e2e/suites/run/single_default.go
  test/e2e/testhelper/cmd/sealosCmd.go
  test/e2e/testhelper/cmd/sealosCmdOpts.go
  test/e2e/testhelper/cmd/types.go
  test/e2e/testhelper/consts/consts.go
  test/e2e/testhelper/helper.go
  test/e2e/testhelper/settings/common.go
  test/e2e/testhelper/utils.go
Labels: size/XL

#3024 feat: Add support for single-node mode without hosts in Clusterfile
  cmd/sealos/cmd/gen.go
  controllers/account/testdata/e2e/debt_test.go
  docs/4.0/docs/api/sealos_gen.md
  docs/4.0/i18n/zh-Hans/api/sealos_gen.md
  pkg/apply/apply.go
  pkg/apply/apply_test.go
  pkg/apply/gen.go
  pkg/apply/gen_test.go
  pkg/clusterfile/testdata/clusterfile.yaml
  pkg/clusterfile/testdata/emptyHostsAndSSH.values.yaml
  pkg/utils/iputils/iputils_v2.go
Labels: size/M

#2955 add systemDB design
  proposal/design/zh/systemDB.md
Labels: size/M

#3040 Update README, add the new version UI showcase.
  README.md
Labels: size/M

#3042 fix the warning error when executing run gen CMD
  pkg/apply/run.go
Labels: size/S

#3045 add docs how-to-deploy-postgresql-with-kubeblocks-on-sealos-cloud
  docs/4.0/docs/cloud/examples/how-to-deploy-postgresql-with-kubeblocks-on-sealos-cloud.md
  docs/4.0/i18n/zh-Hans/cloud/examples/how-to-deploy-postgresql-with-kubeblocks-on-sealos-cloud.md
Labels: size/L

#3044 docs(main): changelog body support
  .github/workflows/release.yml
Labels: size/S

#3046 Fix readme md usage.
  README.md
Labels: size/XS

#3048 refactor(main): add operator interface
  test/e2e/apply_test.go
  test/e2e/cert_test.go
  test/e2e/image_cri_shim_test.go
  test/e2e/images_test.go
  test/e2e/inspect_test.go
  test/e2e/run_test.go
  test/e2e/suites/cert/cert.go
  test/e2e/suites/checkers/cluster_cert_sans.go
  test/e2e/suites/checkers/cluster_cert_sans_update.go
  test/e2e/suites/checkers/cluster_cgroup.go
  test/e2e/suites/checkers/cluster_etcd.go
  test/e2e/suites/checkers/cluster_image.go
  test/e2e/suites/checkers/cluster_pod_cidr.go
  test/e2e/suites/checkers/cluster_service_cidr.go
  test/e2e/suites/checkers/cluster_single_taints.go
  test/e2e/suites/checkers/cluster_socket.go
  test/e2e/suites/checkers/cluster_taints.go
  test/e2e/suites/checkers/fake.go
  test/e2e/suites/image/image.go
  test/e2e/suites/operators/cert.go
  test/e2e/suites/operators/cluster.go
  test/e2e/suites/operators/cri.go
  test/e2e/suites/operators/image.go
  test/e2e/suites/operators/inspect.go
  test/e2e/suites/operators/interface.go
  test/e2e/suites/operators/operators.go
Labels: size/XL

#3047 docs(main): remove registry to sealos Experimental
  cmd/sealctl/cmd/cert.go
  cmd/sealctl/cmd/cri.go
  cmd/sealctl/cmd/hostname.go
  cmd/sealctl/cmd/hosts.go
  cmd/sealctl/cmd/images.go
  cmd/sealctl/cmd/ipvs.go
  cmd/sealctl/cmd/root.go
  cmd/sealctl/cmd/static_pod.go
  cmd/sealctl/cmd/token.go
  cmd/sealos/cmd/registry.go
  cmd/sealos/cmd/root.go
  docs/4.0/docs/examples/sealos-registry.md
Labels: size/L

#3054 add app providers logo
  frontend/providers/bytebase/public/favicon.ico
  frontend/providers/bytebase/public/logo.svg
  frontend/providers/imagehub/public/favicon.ico
  frontend/providers/imagehub/public/logo.svg
  frontend/providers/terminal/public/favicon.ico
  frontend/providers/terminal/public/logo.svg
Labels: size/L

#3041 feat: logs analyses
  frontend/providers/applaunchpad/.env.template
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/pnpm-lock.yaml
  frontend/providers/applaunchpad/src/pages/api/getPodEventsAnalyses.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/PodDetailModal.tsx
  frontend/providers/applaunchpad/src/services/backend/openai.ts
  frontend/providers/applaunchpad/src/services/backend/openaiResponse.ts
  frontend/providers/applaunchpad/src/utils/user.ts
Labels: size/L

#3056 fix: running in container as user root
  pkg/buildah/buildah.go
  pkg/buildah/common.go
  pkg/buildah/create.go
  pkg/buildah/imagesaver.go
  pkg/buildah/setup.go
  pkg/buildimage/chart.go
Labels: size/L

#3058 CI: add create dev cluster image ci
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
  docker/patch/manifest-cluster-images.sh
Labels: size/M

#3061 rename CopyR to Fetch
  pkg/ssh/clusterclient.go
  pkg/ssh/scp.go
  pkg/ssh/ssh.go
  test/e2e/testhelper/cmd/cmd.go
Labels: size/M

#3062 CI: Switch build dev to release
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
Labels: size/L

#3064 fix cluster image
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml
  frontend/providers/terminal/deploy/manifests/ingress.yaml.tmpl
Labels: size/XS

#3063 refactor(main): trigger release ci
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/release.yml
  .github/workflows/services.yml
  scripts/resolve-tag-image.sh
Labels: size/L

#3065 CI: fix image build ci.
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
  scripts/resolve-tag-image.sh
Labels: size/XS

#3066 fix image name
  .github/workflows/controllers.yml
Labels: size/XS

#3067 perf: export yaml name;focus restart app;
  frontend/providers/applaunchpad/src/pages/api/restartApp.ts
  frontend/providers/applaunchpad/src/pages/api/updateApp.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/L

#3060 refactor(main): add image replace status interface
  cmd/sealctl/cmd/cri.go
  docs/4.0/docs/design/sealctl-usage.md
  docs/4.0/i18n/zh-Hans/design/sealctl-usage.md
  go.mod
  go.work.sum
  pkg/apply/processor/install.go
  pkg/cert/kube_certs_test.go
  pkg/ipvs/lvscare_test.go
  pkg/types/v1beta1/cluster.go
  pkg/utils/images/images.go
  staging/src/github.com/labring/image-cri-shim/pkg/cri/cri.go
  staging/src/github.com/labring/image-cri-shim/pkg/server/cri_server_v1.go
  staging/src/github.com/labring/image-cri-shim/pkg/server/cri_server_v1alpha2.go
  staging/src/github.com/labring/image-cri-shim/pkg/server/utils.go
  test/e2e/image_cri_shim_test.go
  test/e2e/suites/image/imageServiceClient.go
Labels: size/XL

#3070 fix: invalid reference format
  go.work.sum
  pkg/buildah/runtime.go
Labels: size/XS

#3071 fix ingress's backend error
  frontend/providers/applaunchpad/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/terminal/deploy/manifests/ingress.yaml.tmpl
  service/auth/deploy/manifests/ingress.yaml.tmpl
Labels: size/XS

#3072 Fix demo usage of side-login ingress.
  deploy/cloud/manifests/ingress-nginx/side-login.yaml
Labels: size/XS

#3077 feat: desktop pwa
  .github/workflows/frontend.yml
  frontend/desktop/next.config.js
  frontend/desktop/pnpm-lock.yaml
  frontend/desktop/public/locales/zh-CN/translation.json
  frontend/desktop/public/manifest.json
  frontend/desktop/src/pages/_document.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/styles/chakraTheme.ts
Labels: size/L

#3078 add client id and secret in auth svc
  frontend/providers/applaunchpad/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/terminal/deploy/manifests/appcr.yaml.tmpl
  service/auth/deploy/Kubefile
  service/auth/deploy/manifests/configmap.yaml.tmpl
  service/auth/deploy/manifests/ingress.yaml.tmpl
  service/auth/deploy/scripts/init.sh
Labels: size/M

#3080 fix app cr name.
  frontend/providers/applaunchpad/deploy/manifests/appcr.yaml.tmpl
Labels: size/XS

#3081 Update image
  service/auth/deploy/manifests/configmap.yaml.tmpl
Labels: size/XS

#3083 refactor(main): add bot for link check
  .github/workflows/bot-link.yml
Labels: size/S

#3082 feat. init cloud cluster image
  .github/workflows/cloud.yml
  controllers/user/deploy/manifests/rbac.yaml
  deploy/cloud-deprecated/README.md
  deploy/cloud-deprecated/manifests/apisix/1-secret.yaml
  deploy/cloud-deprecated/manifests/apisix/2-certificate.yaml
  deploy/cloud-deprecated/manifests/apisix/3-cloud.yaml
  deploy/cloud-deprecated/manifests/apisix/README.md
  deploy/cloud-deprecated/manifests/apisix/optional-storage-class.yaml
  deploy/cloud-deprecated/manifests/apisix/side-login.yaml
  deploy/cloud-deprecated/manifests/ingress-nginx/1-secret.yaml
  deploy/cloud-deprecated/manifests/ingress-nginx/2-godaddy-dns.yaml
  deploy/cloud-deprecated/manifests/ingress-nginx/3-wildcard.yaml
  deploy/cloud-deprecated/manifests/ingress-nginx/README.md
  deploy/cloud-deprecated/manifests/ingress-nginx/side-login.yaml
  deploy/cloud-deprecated/manifests/interfaces/affine/ingress-affine.yaml
  deploy/cloud-deprecated/manifests/interfaces/kubernetes-dashboard/ingress-kubernetes-dashboard.yaml
  deploy/cloud-deprecated/manifests/interfaces/kuboard/ingress-kuboard.yaml
  deploy/cloud-deprecated/manifests/interfaces/postgres/README.md
  deploy/cloud-deprecated/manifests/interfaces/postgres/ha-cluster-pv.yaml
  deploy/cloud-deprecated/manifests/interfaces/postgres/ingress-pgadmin.yaml
  deploy/cloud-deprecated/manifests/interfaces/postgres/pgadmin.yaml
  deploy/cloud-deprecated/manifests/interfaces/redis/README.md
  deploy/cloud-deprecated/manifests/interfaces/redis/ingress-redisinsight.yaml
  deploy/cloud-deprecated/manifests/interfaces/redis/redisinsight.yaml
  deploy/cloud-deprecated/manifests/sealos.yaml
  deploy/cloud-deprecated/provider/sdk-app-demo/ingress.yaml
  deploy/cloud/Kubefile
  deploy/cloud/README.md
  deploy/cloud/etc/sealos/cloud.env.tmpl
  deploy/cloud/images/shim/controller
  deploy/cloud/images/shim/frontend
  deploy/cloud/images/shim/service
  deploy/cloud/manifests/namespace.yaml
  deploy/cloud/manifests/tls-secret.yaml
  deploy/cloud/scripts/init.sh
Labels: size/L

#3088 fix role binding
  controllers/user/deploy/manifests/rbac.yaml
Labels: size/XS

#3087 feat. fix cloud cluster image
  .github/workflows/cloud.yml
  deploy/cloud/Kubefile
  deploy/cloud/images/shim/controller
  deploy/cloud/images/shim/frontend
  deploy/cloud/images/shim/service
  deploy/cloud/scripts/init.sh
Labels: size/M

#3089 feat. fix cloud cluster image (#3087)
  .github/workflows/cloud.yml
  deploy/cloud/Kubefile
  deploy/cloud/init.sh
Labels: size/M

#3085 refactor(main): add bot for link check
  .github/workflows/bot-link.yml
Labels: size/S

#3086 refactor(main): enable build flags isolation
  pkg/buildah/common.go
Labels: size/XS

#3091 fix terminal and applaunchpad deploy yaml
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/applaunchpad/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/terminal/deploy/manifests/ingress.yaml.tmpl
Labels: size/M

#3074 feat: cmd and params input way
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/M

#3092 perf: default domain
  frontend/providers/applaunchpad/src/pages/api/getApps.ts
Labels: size/XS

#3093 fix deploy file
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS

#3099 fix app launchpad env
  deploy/cloud/scripts/init.sh
  frontend/providers/applaunchpad/deploy/Kubefile
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/applaunchpad/src/pages/api/platform/getEnv.ts
  frontend/providers/applaunchpad/src/store/static.ts
Labels: size/S

#3102 fix: auto-completion of arch role and default SSH initialization in single-node mode
  pkg/apply/apply.go
  pkg/apply/utils.go
  pkg/types/v1beta1/constants.go
Labels: size/M

#3101 Refactor preprocessor
  pkg/apply/applydrivers/apply_drivers_default.go
  pkg/apply/gen.go
  pkg/apply/processor/create.go
  pkg/apply/processor/install.go
  pkg/apply/processor/interface.go
  pkg/apply/processor/scale.go
  pkg/buildah/imagesaver.go
  pkg/registry/save.go
Labels: size/L

#3104 docs(main): update latest sealos version
  README.md
  docs/4.0/docs/getting-started/installation.md
  docs/4.0/i18n/zh-Hans/getting-started/installation.md
Labels: size/S

#3097 feat: terminal add loading animation
  frontend/providers/terminal/src/pages/index.module.scss
  frontend/providers/terminal/src/pages/index.tsx
  frontend/providers/terminal/src/styles/globals.scss
Labels: size/M

#3106 docs(main): change issue token
  .github/workflows/bot-link.yml
Labels: size/XS

#3111 Fix bytebase nginx controller.
  controllers/db/bytebase/apis/bytebase/v1/bytebase_types.go
  controllers/db/bytebase/apis/bytebase/v1/zz_generated.deepcopy.go
  controllers/db/bytebase/apis/config/v1/bytebasecontrollerconfig_types.go
  controllers/db/bytebase/client/api/auth.go
  controllers/db/bytebase/client/api/client.go
  controllers/db/bytebase/client/auth.go
  controllers/db/bytebase/client/client.go
  controllers/db/bytebase/client/environment.go
  controllers/db/bytebase/client/instance.go
  controllers/db/bytebase/config/crd/bases/bytebase.db.sealos.io_bytebases.yaml
  controllers/db/bytebase/controllers/bytebase/bytebase_controller.go
  controllers/db/bytebase/controllers/bytebase/sync.go
  controllers/db/bytebase/controllers/bytebase/util.go
Labels: size/L

#3100 add cert prepare readme
  deploy/cloud/README.md
Labels: size/S

#3112 refactor: rename interface and function names
  pkg/apply/processor/create.go
  pkg/apply/processor/delete.go
  pkg/apply/processor/install.go
  pkg/apply/processor/interface.go
  pkg/apply/processor/scale.go
  pkg/filesystem/filesystem.go
  pkg/filesystem/filesystem_test.go
  pkg/filesystem/registry/ssh.go
  pkg/filesystem/rootfs/rootfs.go
  pkg/filesystem/rootfs/rootfs_default.go
Labels: size/L

#3115 Try add db/bytebase controller ci.
  .github/workflows/controllers.yml
Labels: size/M

#3116 Fix bytebase Dockerfile to support outside binary.
  controllers/db/bytebase/.dockerignore
  controllers/db/bytebase/Dockerfile
  controllers/db/bytebase/Makefile
  controllers/db/bytebase/config/manager/kustomization.yaml
  controllers/db/bytebase/deploy/Kubefile
  controllers/db/bytebase/deploy/README.md
  controllers/db/bytebase/deploy/manifests/deploy.yaml.tmpl
Labels: size/M

#3117 Dev module
  controllers/db/bytebase/Makefile
Labels: size/XS

#3118 Update pr,support auto `copilot:all`.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/XS

#3107 Init adminer controller.
  .github/workflows/controllers.yml
  controllers/db/adminer/.dockerignore
  controllers/db/adminer/.gitignore
  controllers/db/adminer/Dockerfile
  controllers/db/adminer/Makefile
  controllers/db/adminer/PROJECT
  controllers/db/adminer/README.md
  controllers/db/adminer/README_zh.md
  controllers/db/adminer/api/v1/adminer_types.go
  controllers/db/adminer/api/v1/groupversion_info.go
  controllers/db/adminer/api/v1/zz_generated.deepcopy.go
  controllers/db/adminer/config/crd/bases/adminer.db.sealos.io_adminers.yaml
  controllers/db/adminer/config/crd/kustomization.yaml
  controllers/db/adminer/config/crd/kustomizeconfig.yaml
  controllers/db/adminer/config/default/kustomization.yaml
  controllers/db/adminer/config/default/manager_auth_proxy_patch.yaml
  controllers/db/adminer/config/default/manager_config_patch.yaml
  controllers/db/adminer/config/manager/controller_manager_config.yaml
  controllers/db/adminer/config/manager/kustomization.yaml
  controllers/db/adminer/config/manager/manager.yaml
  controllers/db/adminer/config/prometheus/kustomization.yaml
  controllers/db/adminer/config/prometheus/monitor.yaml
  controllers/db/adminer/config/rbac/adminer_editor_role.yaml
  controllers/db/adminer/config/rbac/adminer_viewer_role.yaml
  controllers/db/adminer/config/rbac/auth_proxy_client_clusterrole.yaml
  controllers/db/adminer/config/rbac/auth_proxy_role.yaml
  controllers/db/adminer/config/rbac/auth_proxy_role_binding.yaml
  controllers/db/adminer/config/rbac/auth_proxy_service.yaml
  controllers/db/adminer/config/rbac/kustomization.yaml
  controllers/db/adminer/config/rbac/leader_election_role.yaml
  controllers/db/adminer/config/rbac/leader_election_role_binding.yaml
  controllers/db/adminer/config/rbac/role.yaml
  controllers/db/adminer/config/rbac/role_binding.yaml
  controllers/db/adminer/config/rbac/service_account.yaml
  controllers/db/adminer/config/samples/adminer_v1_adminer.yaml
  controllers/db/adminer/controllers/adminer_controller.go
  controllers/db/adminer/controllers/ingress.go
  controllers/db/adminer/controllers/php.go
  controllers/db/adminer/controllers/php_test.go
  controllers/db/adminer/controllers/secret.go
  controllers/db/adminer/controllers/suite_test.go
  controllers/db/adminer/deploy/Kubefile
  controllers/db/adminer/deploy/README.md
  controllers/db/adminer/deploy/manifests/deploy.yaml.tmpl
  controllers/db/adminer/go.mod
  controllers/db/adminer/go.sum
  controllers/db/adminer/hack/boilerplate.go.txt
  controllers/db/adminer/main.go
  frontend/providers/bytebase/package.json
  go.work
  go.work.sum
Labels: size/XXL

#3119 refactor(main): replace registry password config generator
  go.mod
  go.sum
  pkg/bootstrap/registry.go
  pkg/checker/crictl_checker.go
  pkg/checker/registry_checker.go
  pkg/registry/commands/password.go
  pkg/registry/commands/registry.go
  pkg/registry/helpers/helpers.go
  pkg/registry/password/apply.go
  pkg/registry/password/password.go
  pkg/utils/confirm/confirm.go
Labels: size/XL

#3120 Dev adminer
  .github/workflows/frontend.yml
  frontend/providers/adminer/.env
  frontend/providers/adminer/.eslintrc.json
  frontend/providers/adminer/.gitignore
  frontend/providers/adminer/.prettierignore
  frontend/providers/adminer/.prettierrc.js
  frontend/providers/adminer/Dockerfile
  frontend/providers/adminer/Makefile
  frontend/providers/adminer/README.md
  frontend/providers/adminer/deploy/Kubefile
  frontend/providers/adminer/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/adminer/deploy/manifests/deploy.yaml
  frontend/providers/adminer/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/adminer/next.config.js
  frontend/providers/adminer/package.json
  frontend/providers/adminer/pnpm-lock.yaml
  frontend/providers/adminer/public/favicon.ico
  frontend/providers/adminer/public/logo.svg
  frontend/providers/adminer/src/interfaces/adminer.ts
  frontend/providers/adminer/src/interfaces/api.ts
  frontend/providers/adminer/src/interfaces/kubeblock.ts
  frontend/providers/adminer/src/interfaces/session.ts
  frontend/providers/adminer/src/pages/_app.tsx
  frontend/providers/adminer/src/pages/_document.tsx
  frontend/providers/adminer/src/pages/api/apply.ts
  frontend/providers/adminer/src/pages/index.module.scss
  frontend/providers/adminer/src/pages/index.tsx
  frontend/providers/adminer/src/service/auth.ts
  frontend/providers/adminer/src/service/kubernetes.ts
  frontend/providers/adminer/src/service/request.ts
  frontend/providers/adminer/src/service/response.ts
  frontend/providers/adminer/src/stores/session.ts
  frontend/providers/adminer/src/styles/globals.scss
  frontend/providers/adminer/tsconfig.json
Labels: size/XXL

#3123 Dev adminer
  controllers/db/adminer/config/manager/manager.yaml
  controllers/db/adminer/controllers/ingress.go
Labels: size/S

#3124 refactor(main): add registry docs and fix registry save bug
  docs/4.0/docs/design/sealctl-usage.md
  docs/4.0/i18n/zh-Hans/design/sealctl-usage.md
  pkg/buildimage/images.go
  pkg/registry/commands/flags.go
  pkg/registry/commands/password.go
  pkg/registry/commands/save.go
  pkg/registry/password/apply.go
Labels: size/L

#3128 fix ci error
  .github/workflows/e2e.yml
  controllers/resources/config/manager/manager.yaml
  controllers/resources/deploy/manifests/deploy-manager.yaml
  go.mod
  go.sum
  go.work.sum
Labels: size/L

#3127 Add type status hide/show system app.
  controllers/app/api/v1/app_types.go
  controllers/app/config/crd/bases/app.sealos.io_apps.yaml
Labels: size/S

#3129 feat: add withcontext functions in ssh interface
  pkg/ssh/clusterclient.go
  pkg/ssh/ssh.go
  pkg/ssh/sshcmd.go
  pkg/utils/exec/cmd.go
Labels: size/M

#3133 Move apps.displayType to spec.
  controllers/app/api/v1/app_types.go
  controllers/app/config/crd/bases/app.sealos.io_apps.yaml
Labels: size/S

#3132 update release error
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/release.yml
  .github/workflows/services.yml
  CONTRIBUTING.md
Labels: size/L

#3126 feat: more apps and hover ball
  frontend/desktop/src/components/app_window/index.module.scss
  frontend/desktop/src/components/desktop_content/index.module.scss
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/floating_button/index.tsx
  frontend/desktop/src/components/layout/index.module.scss
  frontend/desktop/src/components/layout/index.tsx
  frontend/desktop/src/components/more_apps/index.module.scss
  frontend/desktop/src/components/more_apps/index.tsx
  frontend/desktop/src/components/more_button/index.tsx
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/types/app.ts
Labels: size/L

#3135 Update icon&fix apply
  frontend/providers/adminer/public/logo.svg
  frontend/providers/adminer/src/pages/api/apply.ts
Labels: size/M

#3139 refactor(main): fix ci error
  controllers/user/controllers/namespace_controller.go
Labels: size/XS

#3113 refactor: add sync mode impl
  .github/workflows/e2e_test_core.yml
  cmd/sealctl/cmd/cri.go
  cmd/sealctl/cmd/registry.go
  cmd/sealctl/cmd/root.go
  go.mod
  go.sum
  go.work.sum
  pkg/filesystem/registry/ssh.go
  pkg/filesystem/registry/sync.go
  pkg/registry/commands/serve.go
  pkg/registry/filesystem/filesystem.go
  pkg/registry/handler/handler.go
  pkg/registry/save.go
  pkg/system/env.go
  test/e2e/filesystem_test.go
Labels: size/XXL

#3142 Update Intro.md
  docs/4.0/i18n/zh-Hans/Intro.md
Labels: size/XS

#3145 fix: name of BUILDAH_FORMAT env key
  pkg/system/env.go
Labels: size/XS

#3146 fix: if a command requires buildah module, call SetRequireBuildahAnnotation explicitly
  cmd/sealos/cmd/add.go
  cmd/sealos/cmd/apply.go
  cmd/sealos/cmd/cert.go
  cmd/sealos/cmd/delete.go
  cmd/sealos/cmd/docs.go
  cmd/sealos/cmd/exec.go
  cmd/sealos/cmd/gen.go
  cmd/sealos/cmd/reset.go
  cmd/sealos/cmd/root.go
  cmd/sealos/cmd/run.go
  cmd/sealos/cmd/scp.go
  cmd/sealos/cmd/status.go
  cmd/sealos/cmd/version.go
  pkg/buildah/buildah.go
Labels: size/M

#3148 Adminer update.
  controllers/db/adminer/controllers/adminer_controller.go
  frontend/providers/adminer/.dockerignore
  frontend/providers/adminer/src/interfaces/kubeblock.ts
  go.work.sum
Labels: size/L

#3147 fix: window bug & notification field & modify terminal color
  frontend/desktop/src/components/app_window/index.module.scss
  frontend/desktop/src/components/app_window/index.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/more_apps/index.module.scss
  frontend/desktop/src/components/more_button/index.tsx
  frontend/desktop/src/components/notification/index.tsx
  frontend/providers/terminal/src/components/terminal/index.tsx
Labels: size/M

#3152 Update app cr displayType
  controllers/app/api/v1/app_types.go
  controllers/app/config/crd/bases/app.sealos.io_apps.yaml
  controllers/app/config/samples/app_v1_app.yaml
  controllers/app/deploy/appexample/cr.yaml
  docs/4.0/docs/cloud/examples/how-to-deploy-the-application-to-desktop.md
  docs/4.0/i18n/zh-Hans/cloud/examples/how-to-deploy-the-application-to-desktop.md
  frontend/providers/adminer/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/applaunchpad/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/terminal/deploy/manifests/appcr.yaml.tmpl
Labels: size/M

#3153 Added Hyperlink for twitter in README.md
  README.md
Labels: size/XS

#3159 feat: make manifest command visible
  cmd/sealos/cmd/root.go
  pkg/buildah/buildah.go
  pkg/buildah/manifest.go
  pkg/system/env.go
  pkg/system/env_cmd.go
Labels: size/M

#3150 fix: fix loop call which occur in throw error in onmessage callback
  frontend/client-sdk/src/master.ts
Labels: size/XS

#3158 fix: can't find variable structuredClone in safari
  frontend/desktop/src/stores/app.ts
Labels: size/S

#3157 make bytebase request less resource
  controllers/db/bytebase/config/rbac/role.yaml
  controllers/db/bytebase/controllers/bytebase/bytebase_controller.go
  controllers/db/bytebase/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS

#3162 Update adminer provider, support zalando&kb
  frontend/providers/adminer/.env
  frontend/providers/adminer/deploy/Kubefile
  frontend/providers/adminer/package.json
  frontend/providers/adminer/pnpm-lock.yaml
  frontend/providers/adminer/src/interfaces/adminer.ts
  frontend/providers/adminer/src/interfaces/kubeblock.ts
  frontend/providers/adminer/src/interfaces/zalando.ts
  frontend/providers/adminer/src/pages/api/apply.ts
  frontend/providers/adminer/src/service/kubernetes.ts
Labels: size/L

#3154 refactor(main): using registry mode build save images
  .gitignore
  .golangci.yml
  docs/4.0/docs/build-cloud-image/build-template-intro.md
  pkg/buildah/imagesaver.go
  pkg/checker/registry_checker.go
  pkg/filesystem/registry/sync.go
  pkg/registry/commands/flags.go
  pkg/registry/commands/registry.go
  pkg/registry/commands/save.go
  pkg/registry/crane/crane.go
  pkg/registry/crane/crane_test.go
  pkg/registry/crane/keychain.go
  pkg/registry/crane/registry.go
  pkg/registry/crane/registry_test.go
  pkg/registry/save/interface.go
  pkg/registry/save/lib/distributionpkg/client/auth/api_version.go
  pkg/registry/save/lib/distributionpkg/client/auth/challenge/addr.go
  pkg/registry/save/lib/distributionpkg/client/auth/challenge/authchallenge.go
  pkg/registry/save/lib/distributionpkg/client/auth/session.go
  pkg/registry/save/lib/distributionpkg/client/blob_writer.go
  pkg/registry/save/lib/distributionpkg/client/errors.go
  pkg/registry/save/lib/distributionpkg/client/repository.go
  pkg/registry/save/lib/distributionpkg/client/transport/http_reader.go
  pkg/registry/save/lib/distributionpkg/client/transport/transport.go
  pkg/registry/save/lib/distributionpkg/proxy/proxyauth.go
  pkg/registry/save/lib/distributionpkg/proxy/proxyblobstore.go
  pkg/registry/save/lib/distributionpkg/proxy/proxymanifeststore.go
  pkg/registry/save/lib/distributionpkg/proxy/proxymetrics.go
  pkg/registry/save/lib/distributionpkg/proxy/proxyregistry.go
  pkg/registry/save/lib/distributionpkg/proxy/proxytagservice.go
  pkg/registry/save/lib/distributionpkg/proxy/scheduler/scheduler.go
  pkg/registry/save/lib/imagemanifest/blobmanifest.go
  pkg/registry/save/lib/imagemanifest/imagemanifest.go
  pkg/registry/save/registry_save.go
  pkg/registry/save/save.go
  pkg/registry/save/save_test.go
  pkg/registry/save/testdata/config.json
  pkg/registry/save_test.go
  pkg/registry/sync/sync.go
  pkg/system/env.go
  staging/src/github.com/labring/image-cri-shim/pkg/server/utils.go
  staging/src/github.com/labring/image-cri-shim/pkg/types/config.go
  test/e2e/filesystem_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/images_test.go
  test/e2e/testhelper/cmd/sealosCmd.go
  test/e2e/testhelper/settings/env.go
Labels: size/XXL

#3164 fix: correct descriptions of env settings
  pkg/system/env.go
Labels: size/XS

#3166 refactor(main): remove compression registry
  pkg/buildah/imagesaver.go
  pkg/filesystem/registry/ssh.go
  test/e2e/suites/operators/image.go
  test/e2e/suites/operators/interface.go
  test/e2e/testhelper/cmd/sealosCmdOpts.go
Labels: size/M

#3169 style: return error instead of bool type
  pkg/filesystem/registry/sync.go
  pkg/registry/save/registry_save.go
  pkg/registry/sync/sync.go
Labels: size/S

#3173 feat: add registry sync command
  cmd/sealctl/cmd/registry.go
  cmd/sealos/cmd/registry.go
  pkg/filesystem/registry/sync.go
  pkg/registry/commands/sync.go
  pkg/registry/save/registry_save.go
  pkg/registry/sync/sync.go
  pkg/utils/http/url.go
Labels: size/L

#3179 Update Intro.md
  docs/4.0/i18n/zh-Hans/Intro.md
Labels: size/M

#3181 feat: add more verbose output while syncing registry
  pkg/filesystem/registry/sync.go
  pkg/registry/commands/sync.go
  pkg/registry/sync/sync.go
  pkg/utils/http/url.go
Labels: size/S

#3180 Auto translate Intro.md
  docs/4.0/docs/Intro.md
Labels: size/L

#3183 refactor(main): add lifecycle mardown for cri-image-shim docs
  docs/4.0/docs/lifecycle-management/reference/Image-cri-shim/image-cri-shim.md
  docs/4.0/docs/lifecycle-management/reference/Image-cri-shim/images/image-cri-shim.png
  docs/4.0/docs/lifecycle-management/reference/sealos/commands/rmi.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/Image-cri-shim/image-cri-shim.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/Image-cri-shim/images/image-cri-shim.png
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/commands/rmi.md
Labels: size/S

#3184 Move doc sidebar config into main repo.
  .github/sync_docs.yml
  docs/4.0/sidebar.json
Labels: size/M

#3185 Fix typo.
  .github/sync_docs.yml
Labels: size/XS

#3186 revert: remove hidden features in diff command
  pkg/buildah/diff.go
Labels: size/L

#3182 docs: Add Chinese (Simplified) quick-start documentation with new images and instructions.
  docs/4.0/i18n/zh-Hans/quick-start/Quickly-Install-Apps-with-App-Launchpad
  docs/4.0/i18n/zh-Hans/quick-start/images/SCR-20230529-sokx.png
  docs/4.0/i18n/zh-Hans/quick-start/images/SCR-20230529-tlpi.png
  docs/4.0/i18n/zh-Hans/quick-start/images/SCR-20230529-tpsc.jpg
  docs/4.0/i18n/zh-Hans/quick-start/images/SCR-20230529-ualx.jpg
  docs/4.0/i18n/zh-Hans/quick-start/images/SCR-20230529-ubqj.jpg
  docs/4.0/i18n/zh-Hans/quick-start/images/app-deployment-2.png
  docs/4.0/i18n/zh-Hans/quick-start/images/app-deployment-3.png
  docs/4.0/i18n/zh-Hans/quick-start/images/app-deployment.png
  docs/4.0/i18n/zh-Hans/quick-start/images/app-launchpad.jpg
  docs/4.0/i18n/zh-Hans/quick-start/images/app-list-2.png
  docs/4.0/i18n/zh-Hans/quick-start/images/app-list.png
  docs/4.0/i18n/zh-Hans/quick-start/images/app-nginx.png
  docs/4.0/i18n/zh-Hans/quick-start/img.png
  docs/4.0/i18n/zh-Hans/quick-start/index.md
Labels: size/M

#3178 Added documentation for quick WordPress deployment with sealos
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/2850763f-9ea2-4e1a-ac43-dc36f805adc3.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/image-20230531104215108.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/image-20230531104353880.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/image-20230531104508405.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/image-20230531104618508.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/image-20230531105327428.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/image-20230531105407612.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/image-20230531112136263.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/image-20230531112716745.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/image-20230531120810822.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/image-20230531150434216.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/images/image-20230531154121949.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/wordpress-with-sealos.md
  docs/4.0/i18n/zh-Hans/quick-start/database/database-with-sealos.md
  docs/4.0/i18n/zh-Hans/quick-start/database/images/image-20230531114648911.png
  docs/4.0/i18n/zh-Hans/quick-start/database/images/image-20230531114823455.png
  docs/4.0/i18n/zh-Hans/quick-start/database/images/image-20230531115012658.png
  docs/4.0/i18n/zh-Hans/quick-start/database/images/image-20230531115136034.png
  docs/4.0/i18n/zh-Hans/quick-start/database/images/image-20230531115334780.png
  docs/4.0/i18n/zh-Hans/quick-start/database/images/image-20230531115455933.png
  docs/4.0/i18n/zh-Hans/quick-start/database/images/image-20230531115604776.png
  docs/4.0/i18n/zh-Hans/quick-start/database/images/image-20230531115648966.png
  docs/4.0/i18n/zh-Hans/quick-start/database/images/image-20230531132611491.png
Labels: size/L

#3176 docs: add examples pageplug.md
  docs/4.0/docs/examples/appsmith/appsmith.md
  docs/4.0/docs/examples/appsmith/images/1.png
  docs/4.0/docs/examples/appsmith/images/2.png
  docs/4.0/docs/examples/appsmith/images/3.png
  docs/4.0/docs/examples/appsmith/images/4.png
  docs/4.0/docs/examples/appsmith/images/5.png
  docs/4.0/docs/examples/appsmith/images/6.png
  docs/4.0/docs/examples/appsmith/images/7.png
  docs/4.0/docs/examples/appsmith/images/8.png
  docs/4.0/docs/examples/pageplug/images/1.png
  docs/4.0/docs/examples/pageplug/images/10.png
  docs/4.0/docs/examples/pageplug/images/11.png
  docs/4.0/docs/examples/pageplug/images/2.png
  docs/4.0/docs/examples/pageplug/images/3.png
  docs/4.0/docs/examples/pageplug/images/4.png
  docs/4.0/docs/examples/pageplug/images/5.png
  docs/4.0/docs/examples/pageplug/images/6.png
  docs/4.0/docs/examples/pageplug/images/7.png
  docs/4.0/docs/examples/pageplug/images/8.png
  docs/4.0/docs/examples/pageplug/images/9.png
  docs/4.0/docs/examples/pageplug/pageplug.md
  docs/4.0/i18n/zh-Hans/examples/appsmith/appsmith.md
  docs/4.0/i18n/zh-Hans/examples/appsmith/images/1.png
  docs/4.0/i18n/zh-Hans/examples/appsmith/images/2.png
  docs/4.0/i18n/zh-Hans/examples/appsmith/images/3.png
  docs/4.0/i18n/zh-Hans/examples/appsmith/images/4.png
  docs/4.0/i18n/zh-Hans/examples/appsmith/images/5.png
  docs/4.0/i18n/zh-Hans/examples/appsmith/images/6.png
  docs/4.0/i18n/zh-Hans/examples/appsmith/images/7.png
  docs/4.0/i18n/zh-Hans/examples/appsmith/images/8.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/images/1.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/images/10.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/images/11.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/images/2.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/images/3.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/images/4.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/images/5.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/images/6.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/images/7.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/images/8.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/images/9.png
  docs/4.0/i18n/zh-Hans/examples/pageplug/pageplug.md
Labels: size/L

#3194 Added documentation of English Version
  docs/4.0/docs/examples/wordpress/images/2850763f-9ea2-4e1a-ac43-dc36f805adc3.png
  docs/4.0/docs/examples/wordpress/images/image-20230531104215108.png
  docs/4.0/docs/examples/wordpress/images/image-20230531104353880.png
  docs/4.0/docs/examples/wordpress/images/image-20230531104508405.png
  docs/4.0/docs/examples/wordpress/images/image-20230531104618508.png
  docs/4.0/docs/examples/wordpress/images/image-20230531105327428.png
  docs/4.0/docs/examples/wordpress/images/image-20230531105407612.png
  docs/4.0/docs/examples/wordpress/images/image-20230531112136263.png
  docs/4.0/docs/examples/wordpress/images/image-20230531112716745.png
  docs/4.0/docs/examples/wordpress/images/image-20230531120810822.png
  docs/4.0/docs/examples/wordpress/images/image-20230531150434216.png
  docs/4.0/docs/examples/wordpress/images/image-20230531154121949.png
  docs/4.0/docs/examples/wordpress/wordpress-with-sealos.md
  docs/4.0/docs/quick-start/database/database-with-sealos.md
  docs/4.0/docs/quick-start/database/images/image-20230531114648911.png
  docs/4.0/docs/quick-start/database/images/image-20230531114823455.png
  docs/4.0/docs/quick-start/database/images/image-20230531115012658.png
  docs/4.0/docs/quick-start/database/images/image-20230531115136034.png
  docs/4.0/docs/quick-start/database/images/image-20230531115334780.png
  docs/4.0/docs/quick-start/database/images/image-20230531115455933.png
  docs/4.0/docs/quick-start/database/images/image-20230531115604776.png
  docs/4.0/docs/quick-start/database/images/image-20230531115648966.png
  docs/4.0/docs/quick-start/database/images/image-20230531132611491.png
  docs/4.0/i18n/zh-Hans/examples/wordpress/wordpress-with-sealos.md
  docs/4.0/i18n/zh-Hans/quick-start/database/database-with-sealos.md
Labels: size/L

#3189 docs: Improve Sealos introduction
  docs/4.0/docs/Intro.md
  docs/4.0/i18n/zh-Hans/Intro.md
Labels: size/M

#3193 docs: Add new images and update file names in quick-start guide.
  docs/4.0/docs/quick-start/images/SCR-20230529-sokx.png
  docs/4.0/docs/quick-start/images/SCR-20230529-tlpi.png
  docs/4.0/docs/quick-start/images/SCR-20230529-tpsc.jpg
  docs/4.0/docs/quick-start/images/SCR-20230529-ualx.jpg
  docs/4.0/docs/quick-start/images/SCR-20230529-ubqj.jpg
  docs/4.0/docs/quick-start/images/app-deployment-2.png
  docs/4.0/docs/quick-start/images/app-deployment-3.png
  docs/4.0/docs/quick-start/images/app-deployment.png
  docs/4.0/docs/quick-start/images/app-launchpad.jpg
  docs/4.0/docs/quick-start/images/app-list-2.png
  docs/4.0/docs/quick-start/images/app-list.png
  docs/4.0/docs/quick-start/images/app-nginx.png
  docs/4.0/docs/quick-start/img.png
  docs/4.0/docs/quick-start/install-apps-with-app-launchpad.md
  docs/4.0/i18n/zh-Hans/quick-start/install-apps-with-app-launchpad.md
Labels: size/M

#3188 refactor(main): add lifecycle mardown
  docs/4.0/docs/lifecycle-management/Intro.md
  docs/4.0/docs/lifecycle-management/QA.md
  docs/4.0/docs/lifecycle-management/advanced-guide/image-build-standardized.md
  docs/4.0/docs/lifecycle-management/advanced-guide/template-function.md
  docs/4.0/docs/lifecycle-management/operations/build-image/build-image-with-kubeadm-run-cluster.md
  docs/4.0/docs/lifecycle-management/operations/build-image/build_run_application_private_registry.md
  docs/4.0/docs/lifecycle-management/operations/build-image/images/01.png
  docs/4.0/docs/lifecycle-management/operations/build-image/images/02.png
  docs/4.0/docs/lifecycle-management/operations/run-cluster/config-customize-app_images-config-rootfs_mage.md
  docs/4.0/docs/lifecycle-management/operations/run-cluster/gen-apply-cluster.md
  docs/4.0/docs/lifecycle-management/reference/Image-cri-shim/image-cri-shim.md
  docs/4.0/docs/lifecycle-management/reference/sealctl/cert.md
  docs/4.0/docs/lifecycle-management/reference/sealctl/hosts.md
  docs/4.0/docs/lifecycle-management/reference/sealctl/ipvs.md
  docs/4.0/docs/lifecycle-management/reference/sealctl/registry.md
  docs/4.0/docs/lifecycle-management/reference/sealctl/sealctl.md
  docs/4.0/docs/lifecycle-management/reference/sealctl/static-pod.md
  docs/4.0/docs/lifecycle-management/reference/sealctl/tar&&untar.md
  docs/4.0/docs/lifecycle-management/reference/sealctl/token.md
  docs/4.0/docs/lifecycle-management/reference/sealos/commands/registry.md
  docs/4.0/docs/lifecycle-management/reference/sealos/kubernetescluster-image.md
  docs/4.0/docs/lifecycle-management/reference/sealos/sealos.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/Intro.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/QA.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/image-build-standardized.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/template-function.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/build-image-with-kubeadm-run-cluster.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/build_run_application_private_registry.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/images/01.png
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/images/02.png
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/run-cluster/config-customize-app_images-config-rootfs_mage.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/run-cluster/gen-apply-cluster.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/Image-cri-shim/image-cri-shim.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealctl/cert.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealctl/hosts.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealctl/ipvs.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealctl/registry.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealctl/sealctl.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealctl/static-pod.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealctl/tar&&untar.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealctl/token.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/commands/registry.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/kubernetescluster-image.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/sealos.md
Labels: size/L

#3196 update doc.
  docs/4.0/docs/examples/how-to-depoy-bytebase-on-sealos-cloud.md
  docs/4.0/docs/examples/pull-private-image.md
  docs/4.0/docs/examples/use-cname-for-custom-host.md
  docs/4.0/docs/platform-components/bytebase/bytebase.md
  docs/4.0/docs/platform-components/terminal/go-code-terminal.png
  docs/4.0/docs/platform-components/terminal/img.png
  docs/4.0/docs/platform-components/terminal/img_1.png
  docs/4.0/docs/platform-components/terminal/terminal.md
  docs/4.0/docs/platform-components/terminal/use-sealos-cloud-hello-world.md
  docs/4.0/i18n/zh-Hans/examples/how-to-depoy-bytebase-on-sealos-cloud.md
  docs/4.0/i18n/zh-Hans/examples/pull-private-image.md
  docs/4.0/i18n/zh-Hans/examples/use-cname-for-custom-host.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/Intro.md
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/bytebase.md
  docs/4.0/i18n/zh-Hans/platform-components/terminal/img_1.png
  docs/4.0/i18n/zh-Hans/platform-components/terminal/terminal.md
  docs/4.0/sidebar.json
Labels: size/XL

#3197 docs: Remove `docs/4.0/docs/quick-start/index.md` file
  docs/4.0/docs/quick-start/index.md
Labels: size/S

#3198 docs: Add Kubernetes deployment tutorial with terminal
  docs/4.0/docs/quick-start/images/app-launchpad-1.jpg
  docs/4.0/docs/quick-start/images/nginx.png
  docs/4.0/docs/quick-start/images/terminal.png
  docs/4.0/docs/quick-start/install-apps-with-app-launchpad.md
  docs/4.0/docs/quick-start/install-apps-with-terminal.md
  docs/4.0/i18n/zh-Hans/quick-start/images/app-launchpad-1.jpg
  docs/4.0/i18n/zh-Hans/quick-start/images/nginx.png
  docs/4.0/i18n/zh-Hans/quick-start/images/terminal.png
  docs/4.0/i18n/zh-Hans/quick-start/install-apps-with-terminal.md
Labels: size/L

#3199 docs: Refactor YAML conventions and code block language specifiers
  docs/4.0/docs/quick-start/install-apps-with-terminal.md
  docs/4.0/i18n/zh-Hans/quick-start/install-apps-with-terminal.md
Labels: size/S

#3206 mv docs and pics path
  docs/4.0/docs/examples/image/appsmith-1.png
  docs/4.0/docs/examples/image/appsmith-2.png
  docs/4.0/docs/examples/image/appsmith-3.png
  docs/4.0/docs/examples/image/appsmith-4.png
  docs/4.0/docs/examples/image/appsmith-5.png
  docs/4.0/docs/examples/image/appsmith-6.png
  docs/4.0/docs/examples/image/appsmith-7.png
  docs/4.0/docs/examples/image/appsmith-8.png
  docs/4.0/docs/examples/image/pageplug-1.png
  docs/4.0/docs/examples/image/pageplug-10.png
  docs/4.0/docs/examples/image/pageplug-11.png
  docs/4.0/docs/examples/image/pageplug-2.png
  docs/4.0/docs/examples/image/pageplug-3.png
  docs/4.0/docs/examples/image/pageplug-4.png
  docs/4.0/docs/examples/image/pageplug-5.png
  docs/4.0/docs/examples/image/pageplug-6.png
  docs/4.0/docs/examples/image/pageplug-7.png
  docs/4.0/docs/examples/image/pageplug-8.png
  docs/4.0/docs/examples/image/pageplug-9.png
  docs/4.0/docs/examples/install-appsmith.md
  docs/4.0/docs/examples/install-pageplug.md
  docs/4.0/i18n/zh-Hans/examples/image/appsmith-1.png
  docs/4.0/i18n/zh-Hans/examples/image/appsmith-2.png
  docs/4.0/i18n/zh-Hans/examples/image/appsmith-3.png
  docs/4.0/i18n/zh-Hans/examples/image/appsmith-4.png
  docs/4.0/i18n/zh-Hans/examples/image/appsmith-5.png
  docs/4.0/i18n/zh-Hans/examples/image/appsmith-6.png
  docs/4.0/i18n/zh-Hans/examples/image/appsmith-7.png
  docs/4.0/i18n/zh-Hans/examples/image/appsmith-8.png
  docs/4.0/i18n/zh-Hans/examples/image/pageplug-1.png
  docs/4.0/i18n/zh-Hans/examples/image/pageplug-10.png
  docs/4.0/i18n/zh-Hans/examples/image/pageplug-11.png
  docs/4.0/i18n/zh-Hans/examples/image/pageplug-2.png
  docs/4.0/i18n/zh-Hans/examples/image/pageplug-3.png
  docs/4.0/i18n/zh-Hans/examples/image/pageplug-4.png
  docs/4.0/i18n/zh-Hans/examples/image/pageplug-5.png
  docs/4.0/i18n/zh-Hans/examples/image/pageplug-6.png
  docs/4.0/i18n/zh-Hans/examples/image/pageplug-7.png
  docs/4.0/i18n/zh-Hans/examples/image/pageplug-8.png
  docs/4.0/i18n/zh-Hans/examples/image/pageplug-9.png
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-appsmith.md
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-pageplug.md
Labels: size/M

#3207 Restructure the directory structure
  docs/4.0/docs/examples/wordpress-with-sealos.md
  docs/4.0/docs/quick-start/install-database-with-sealos.md
  docs/4.0/i18n/zh-Hans/examples/wordpress-with-sealos.md
  docs/4.0/i18n/zh-Hans/quick-start/install-database-with-sealos.md
Labels: size/S

#3209 mv pics path
  docs/4.0/docs/examples/images/appsmith-1.png
  docs/4.0/docs/examples/images/appsmith-2.png
  docs/4.0/docs/examples/images/appsmith-3.png
  docs/4.0/docs/examples/images/appsmith-4.png
  docs/4.0/docs/examples/images/appsmith-5.png
  docs/4.0/docs/examples/images/appsmith-6.png
  docs/4.0/docs/examples/images/appsmith-7.png
  docs/4.0/docs/examples/images/appsmith-8.png
  docs/4.0/docs/examples/images/pageplug-1.png
  docs/4.0/docs/examples/images/pageplug-10.png
  docs/4.0/docs/examples/images/pageplug-11.png
  docs/4.0/docs/examples/images/pageplug-2.png
  docs/4.0/docs/examples/images/pageplug-3.png
  docs/4.0/docs/examples/images/pageplug-4.png
  docs/4.0/docs/examples/images/pageplug-5.png
  docs/4.0/docs/examples/images/pageplug-6.png
  docs/4.0/docs/examples/images/pageplug-7.png
  docs/4.0/docs/examples/images/pageplug-8.png
  docs/4.0/docs/examples/images/pageplug-9.png
  docs/4.0/docs/examples/install-appsmith.md
  docs/4.0/docs/examples/install-pageplug.md
  docs/4.0/i18n/zh-Hans/examples/images/appsmith-1.png
  docs/4.0/i18n/zh-Hans/examples/images/appsmith-2.png
  docs/4.0/i18n/zh-Hans/examples/images/appsmith-3.png
  docs/4.0/i18n/zh-Hans/examples/images/appsmith-4.png
  docs/4.0/i18n/zh-Hans/examples/images/appsmith-5.png
  docs/4.0/i18n/zh-Hans/examples/images/appsmith-6.png
  docs/4.0/i18n/zh-Hans/examples/images/appsmith-7.png
  docs/4.0/i18n/zh-Hans/examples/images/appsmith-8.png
  docs/4.0/i18n/zh-Hans/examples/images/pageplug-1.png
  docs/4.0/i18n/zh-Hans/examples/images/pageplug-10.png
  docs/4.0/i18n/zh-Hans/examples/images/pageplug-11.png
  docs/4.0/i18n/zh-Hans/examples/images/pageplug-2.png
  docs/4.0/i18n/zh-Hans/examples/images/pageplug-3.png
  docs/4.0/i18n/zh-Hans/examples/images/pageplug-4.png
  docs/4.0/i18n/zh-Hans/examples/images/pageplug-5.png
  docs/4.0/i18n/zh-Hans/examples/images/pageplug-6.png
  docs/4.0/i18n/zh-Hans/examples/images/pageplug-7.png
  docs/4.0/i18n/zh-Hans/examples/images/pageplug-8.png
  docs/4.0/i18n/zh-Hans/examples/images/pageplug-9.png
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-appsmith.md
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-pageplug.md
Labels: size/M

#3210 Restructure the directory structure
  docs/4.0/i18n/zh-Hans/quick-start/install-database-with-sealos.md
Labels: size/XS

#3211 add low-code-platform
  docs/4.0/docs/examples/low-code-platform/install-appsmith.md
  docs/4.0/docs/examples/low-code-platform/install-pageplug.md
Labels: size/M

#3212 Manual change position
  docs/4.0/docs/examples/ai-applications/_category_.json
  docs/4.0/docs/examples/ai-applications/install-fastgpt-on-desktop.md
  docs/4.0/docs/examples/install-halo.md
  docs/4.0/docs/examples/install-uptime-kuma.md
  docs/4.0/docs/examples/wordpress-with-sealos.md
  docs/4.0/docs/platform-components/applaunchpad/applaunchpad.md
  docs/4.0/docs/platform-components/bytebase/bytebase.md
  docs/4.0/docs/platform-components/dbprovider/dbprovider.md
  docs/4.0/docs/quick-start/install-apps-with-app-launchpad.md
  docs/4.0/docs/quick-start/install-apps-with-terminal.md
  docs/4.0/docs/quick-start/install-database-with-sealos.md
  docs/4.0/i18n/zh-Hans/examples/ai-applications/_category_.json
  docs/4.0/i18n/zh-Hans/examples/ai-applications/install-fastgpt-on-desktop.md
  docs/4.0/i18n/zh-Hans/examples/install-halo.md
  docs/4.0/i18n/zh-Hans/examples/install-uptime-kuma.md
  docs/4.0/i18n/zh-Hans/examples/wordpress-with-sealos.md
  docs/4.0/i18n/zh-Hans/platform-components/applaunchpad/applaunchpad.md
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/bytebase.md
  docs/4.0/i18n/zh-Hans/platform-components/dbprovider/dbprovider.md
  docs/4.0/i18n/zh-Hans/quick-start/install-apps-with-app-launchpad.md
  docs/4.0/i18n/zh-Hans/quick-start/install-apps-with-terminal.md
  docs/4.0/i18n/zh-Hans/quick-start/install-database-with-sealos.md
Labels: size/M

#3213 optimize the title
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-appsmith.md
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-pageplug.md
Labels: size/XS

#3214 Optimize the title
  docs/4.0/docs/examples/low-code-platform/install-appsmith.md
  docs/4.0/docs/examples/low-code-platform/install-pageplug.md
Labels: size/XS

#3215 Update sidebar position.
  docs/4.0/docs/examples/low-code-platform/_category_.json
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/_category_.json
Labels: size/XS

#3217 correct the title
  docs/4.0/docs/examples/wordpress-with-sealos.md
  docs/4.0/docs/platform-components/bytebase/bytebase.md
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/bytebase.md
Labels: size/XS

#3218 refactor(main): Remove deprecated features and unused images from README and docs directory.
  README.md
  docs/4.0/img/app-launchpad-1.jpg
  docs/4.0/img/app-launchpad.png
  docs/4.0/img/bytebase.webp
  docs/4.0/img/postgresql-1.jpg
  docs/4.0/img/postgresql-2.jpg
  docs/4.0/img/postgresql.webp
  docs/4.0/img/sealos-desktop.png
  docs/4.0/img/sealos-desktop.webp
  docs/4.0/img/terminal.jpg
Labels: size/M
