Repository labring/sealos, pull requests merged in 2023-08, with the labels that each got.

#3602 feat(frontend/costcenter): add measure gpu && fix makefile && perf i18n
  frontend/Makefile
  frontend/providers/costcenter/.env
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/assert/bi_nvidia.svg
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/buget.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/pieChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/cost.tsx
  frontend/providers/costcenter/src/components/invoice/invoiceTable.tsx
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/constants/billing.ts
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/api/account/getAmount.ts
  frontend/providers/costcenter/src/pages/api/account/payment/pay.ts
  frontend/providers/costcenter/src/pages/api/billing/index.ts
  frontend/providers/costcenter/src/pages/api/enabled.ts
  frontend/providers/costcenter/src/pages/api/price/index.ts
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/create_invoice/InvoicdForm.tsx
  frontend/providers/costcenter/src/pages/valuation/index.module.scss
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/service/backend/kubernetes.ts
  frontend/providers/costcenter/src/service/enabled.ts
  frontend/providers/costcenter/src/stores/billing.ts
  frontend/providers/costcenter/src/stores/env.ts
  frontend/providers/costcenter/src/stores/overview.ts
  frontend/providers/costcenter/src/types/billing.ts
  frontend/providers/costcenter/src/types/env.ts
  frontend/providers/costcenter/src/types/valuation.ts
  frontend/providers/costcenter/src/utils/tools.ts
Labels: size/XL, area/frontend

#3607 Adjusted the resource configuration for community edition
  controllers/account/deploy/manifests/deploy.yaml
  controllers/licenseissuer/deploy/Kubefile
  controllers/user/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/cloud

#3608 fix: fix wrong query order length
  controllers/pkg/database/mongodb.go
Labels: size/S, area/cloud

#3601 add node-gpu controller to get GPU info from node and pod
  controllers/node/.dockerignore
  controllers/node/.gitignore
  controllers/node/Dockerfile
  controllers/node/Makefile
  controllers/node/PROJECT
  controllers/node/README.md
  controllers/node/config/default/kustomization.yaml
  controllers/node/config/default/manager_auth_proxy_patch.yaml
  controllers/node/config/default/manager_config_patch.yaml
  controllers/node/config/manager/kustomization.yaml
  controllers/node/config/manager/manager.yaml
  controllers/node/config/prometheus/kustomization.yaml
  controllers/node/config/prometheus/monitor.yaml
  controllers/node/config/rbac/auth_proxy_client_clusterrole.yaml
  controllers/node/config/rbac/auth_proxy_role.yaml
  controllers/node/config/rbac/auth_proxy_role_binding.yaml
  controllers/node/config/rbac/auth_proxy_service.yaml
  controllers/node/config/rbac/kustomization.yaml
  controllers/node/config/rbac/leader_election_role.yaml
  controllers/node/config/rbac/leader_election_role_binding.yaml
  controllers/node/config/rbac/role.yaml
  controllers/node/config/rbac/role_binding.yaml
  controllers/node/config/rbac/service_account.yaml
  controllers/node/controllers/gpu_controller.go
  controllers/node/controllers/suite_test.go
  controllers/node/deploy/manifests/deploy.yaml
  controllers/node/go.mod
  controllers/node/go.sum
  controllers/node/hack/boilerplate.go.txt
  controllers/node/main.go
  go.work
  go.work.sum
Labels: size/XXL, area/cloud, area/test

#3609 Costcenter gpu
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/pages/create_invoice/InvoicdForm.tsx
  frontend/providers/costcenter/src/pages/create_invoice/index.tsx
Labels: size/L, area/frontend

#3612 add Kubefile and update controllers.yml
  .github/workflows/controllers.yml
  controllers/node/deploy/Kubefile
Labels: size/S, area/cloud, area/workflow

#3604 feat: dbprovider add monitor
  frontend/Makefile
  frontend/package.json
  frontend/providers/dbprovider/.env.template
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/components/MonitorChart/index.tsx
  frontend/providers/dbprovider/src/components/MonitorTabs/index.tsx
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/constants/monitor.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getAbortedConnections.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getActiveConnections.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getBlockReadTime.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getBlockWriteTime.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getCPU.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getCurrentConnections.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getDataBaseSize.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getDurationTransaction.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMemory.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMongdbPerformance.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMysqlInnoDB.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMysqlSlowQueries.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMysqlTableLocks.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getRedisPerDB.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getRedisPerformance.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getRollback.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getRunningTime.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getTransactions.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/ChartTemplate.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/RunningTime.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/index.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/services/handleStream.ts
  frontend/providers/dbprovider/src/services/request.ts
  frontend/providers/dbprovider/src/types/monitor.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/tools.ts
Labels: size/XXL, area/frontend

#3615 add debt-ctr backoff version func
  controllers/account/api/v1/debt_types.go
  controllers/account/controllers/debt_controller.go
Labels: size/S, area/cloud, area/api

#3616 Fix pay
  frontend/Makefile
  frontend/READMD.md
  frontend/desktop/src/types/payment.ts
Labels: size/M, area/frontend

#3617 feat float button & add home button
  frontend/desktop/public/icons/clear-outlined.svg
  frontend/desktop/public/icons/home.svg
  frontend/desktop/src/components/floating_button/index.module.scss
  frontend/desktop/src/components/floating_button/index.tsx
  frontend/desktop/src/components/more_button/index.tsx
  frontend/desktop/src/components/notification/index.module.scss
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/stores/app.ts
  frontend/package.json
  frontend/providers/terminal/.env
  frontend/providers/terminal/src/pages/index.tsx
Labels: size/L, area/frontend

#3619 Launchpad GPU
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/.gitignore
  frontend/providers/applaunchpad/data/form_slider_config.json
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/applaunchpad/next-i18next.config.js
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/components/GPUItem/index.tsx
  frontend/providers/applaunchpad/src/components/Icon/icons/gpu/nvidia.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/plus.svg
  frontend/providers/applaunchpad/src/components/Icon/index.tsx
  frontend/providers/applaunchpad/src/components/MyTooltip/index.tsx
  frontend/providers/applaunchpad/src/components/PodLineChart/index.tsx
  frontend/providers/applaunchpad/src/components/RangeInput/index.tsx
  frontend/providers/applaunchpad/src/components/Select/index.tsx
  frontend/providers/applaunchpad/src/components/Slider/index.tsx
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/constants/editApp.ts
  frontend/providers/applaunchpad/src/constants/theme.ts
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/getPodEventsAnalyses.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/api/platform/resourcePrice.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/PodDetailModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/EditEnvs.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/PriceBox.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/index.module.scss
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/services/backend/kubernetes.ts
  frontend/providers/applaunchpad/src/store/global.ts
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/XXL, area/frontend

#3622 add a support for community edition simply
  controllers/licenseissuer/deploy/Kubefile
  controllers/licenseissuer/deploy/manifests/deploy.yaml
  controllers/licenseissuer/deploy/manifests/setup.sh
  deploy/cloud/scripts/init.sh
Labels: size/M, area/cloud, area/ci

#3624 fix(frontend/costcenter): storage
  frontend/providers/costcenter/src/pages/api/billing/index.ts
Labels: size/XS, area/frontend

#3626 feat: adapt changeable port.
  controllers/terminal/controllers/terminal_controller.go
  controllers/terminal/deploy/Kubefile
  controllers/terminal/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/cloud

#3628 bug: fix port spell.
  controllers/terminal/controllers/terminal_controller.go
Labels: size/XS, area/cloud

#3627 fix: gpu select ui and read file config
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
Labels: size/S, area/frontend

#3629 fix ingress.
  controllers/terminal/controllers/ingress.go
Labels: size/XS, area/cloud

#3630 fix termianl port
  controllers/terminal/controllers/ingress.go
  controllers/terminal/controllers/terminal_controller.go
Labels: size/S

#3631 perf: env show event analyze
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/PodDetailModal.tsx
  frontend/providers/applaunchpad/src/store/static.ts
Labels: size/S, area/frontend

#3634 gpu node cr name
  frontend/providers/applaunchpad/src/pages/api/platform/resourcePrice.ts
Labels: size/XS, area/frontend

#3635 feat: custom domain port
  frontend/providers/applaunchpad/.env.template
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/store/static.ts
Labels: size/S, area/frontend

#3623 feat:desktop get env
  frontend/desktop/.env
  frontend/desktop/src/pages/api/platform/getEnv.ts
  frontend/desktop/src/pages/index.tsx
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/components/MonitorChart/index.tsx
  frontend/providers/dbprovider/src/pages/api/monitor/getAbortedConnections.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getActiveConnections.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getBlockReadTime.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getBlockWriteTime.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getCPU.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getCurrentConnections.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getDataBaseSize.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getDurationTransaction.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMemory.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMongdbPerformance.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMonitorData.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMysqlInnoDB.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMysqlSlowQueries.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMysqlTableLocks.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getRedisPerDB.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getRedisPerformance.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getRollback.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getRunningTime.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getTransactions.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/ChartTemplate.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/index.tsx
  frontend/providers/dbprovider/src/services/handleStream.ts
  frontend/providers/dbprovider/src/types/monitor.d.ts
Labels: size/L, area/frontend

#3637 feat:dbprovider modify the monitoring disk unit
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/pages/api/monitor/getMonitorData.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/index.tsx
Labels: size/S, area/frontend

#3638 optimize docs: install latest sealos version
  docs/4.0/docs/lifecycle-management/quick-start/installation.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/quick-start/installation.md
  scripts/install.sh
Labels: kind/documentation, size/M, area/ci, area/lifecycle-management

#3639 optimize docs: install latest sealos version (#3638)
  docs/4.0/docs/lifecycle-management/quick-start/installation.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/quick-start/installation.md
  scripts/install.sh
Labels: kind/documentation, size/M, area/ci, area/lifecycle-management

#3641 fix: payment error
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/payment_controller.go
  controllers/account/deploy/Kubefile
  controllers/account/deploy/manifests/deploy.yaml.tmpl
  pkg/pay/common.go
  pkg/pay/stripe.go
Labels: size/M, area/cloud, area/lifecycle-management

#3646 fix: install latest sealos docs.
  docs/4.0/docs/lifecycle-management/lifecycle-management.md
  docs/4.0/docs/lifecycle-management/quick-start/installation.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/lifecycle-management.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/quick-start/installation.md
Labels: kind/documentation, size/S, area/lifecycle-management

#3647 cherry-pick-docs-fix: install latest sealos docs. (#3646)
  docs/4.0/docs/lifecycle-management/lifecycle-management.md
  docs/4.0/docs/lifecycle-management/quick-start/installation.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/lifecycle-management.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/quick-start/installation.md
Labels: kind/documentation, size/M, area/lifecycle-management

#3649 fix(main): fix: skip pulling app image
  pkg/apply/processor/interface.go
  pkg/apply/processor/scale.go
Labels: size/S, area/apply, area/lifecycle-management

#3655 docs: fix sealos gen Clusterfile
  docs/4.0/docs/lifecycle-management/operations/run-cluster/gen-apply-cluster.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/run-cluster/gen-apply-cluster.md
Labels: kind/documentation, size/XS, area/lifecycle-management

#3654 refactor(main): ssh interface instance func
  pkg/apply/processor/interface.go
  pkg/apply/reset.go
  pkg/apply/run.go
  pkg/bootstrap/context.go
  pkg/checker/crictl_checker.go
  pkg/checker/host_checker.go
  pkg/checker/registry_checker.go
  pkg/filesystem/rootfs/rootfs_default.go
  pkg/guest/guest.go
  pkg/registry/password/apply.go
  pkg/runtime/runtime.go
  pkg/ssh/exec.go
  pkg/ssh/ssh.go
Labels: size/M, need-e2e-apply-test, area/bootstrap, area/apply, area/check, area/guest, area/filesystem, area/registry, area/lifecycle-management, area/runtime, area/ssh

#3652 Stripe return url
  pkg/pay/stripe.go
Labels: size/S, area/lifecycle-management

#3659 refactor: use http mode as default to sync registry contents
  pkg/filesystem/registry/ssh.go
  pkg/filesystem/registry/sync.go
  pkg/system/env.go
Labels: size/L, area/env, area/filesystem, area/lifecycle-management

#3663 Increase adminer proxy-body size.
  controllers/terminal/controllers/ingress.go
Labels: size/XS, area/cloud

#3664 Fix adminer&terminal.
  controllers/db/adminer/controllers/ingress.go
  controllers/terminal/controllers/ingress.go
Labels: size/XS, area/cloud

#3645 Try update terminal safety.
  controllers/terminal/controllers/ingress.go
Labels: size/XS, area/cloud

#3666 feature(main): add cherry-pick error to new issue notify to @cuisongliu
  scripts/cherry-pick.sh
Labels: size/XS, area/ci

#3644 feat: adapt license for community edition
  controllers/licenseissuer/.env
  controllers/licenseissuer/Makefile
  controllers/licenseissuer/cmd/main.go
  controllers/licenseissuer/config/rbac/role.yaml
  controllers/licenseissuer/deploy/Kubefile
  controllers/licenseissuer/deploy/manifests/customconfig.yaml.tmpl
  controllers/licenseissuer/deploy/manifests/deploy.yaml
  controllers/licenseissuer/deploy/manifests/setup.sh
  controllers/licenseissuer/internal/controller/collector_controller.go
  controllers/licenseissuer/internal/controller/datasync_controller.go
  controllers/licenseissuer/internal/controller/launcher_controller.go
  controllers/licenseissuer/internal/controller/license_controller.go
  controllers/licenseissuer/internal/controller/notification_controller.go
  controllers/licenseissuer/internal/controller/util/collect.go
  controllers/licenseissuer/internal/controller/util/const.go
  controllers/licenseissuer/internal/controller/util/datasync.go
  controllers/licenseissuer/internal/controller/util/external.go
  controllers/licenseissuer/internal/controller/util/init.go
  controllers/licenseissuer/internal/controller/util/license.go
  controllers/licenseissuer/internal/controller/util/notice.go
  controllers/licenseissuer/internal/controller/util/options.go
  controllers/licenseissuer/internal/controller/util/reader.go
  controllers/licenseissuer/internal/controller/util/runnable.go
  controllers/licenseissuer/internal/controller/util/util.go
  controllers/licenseissuer/internal/manager/collector_mgr.go
  controllers/licenseissuer/internal/manager/comunicate_mgr.go
  controllers/licenseissuer/internal/manager/datasync_mgr.go
  controllers/licenseissuer/internal/manager/license_mgr.go
  controllers/licenseissuer/internal/manager/notification_mgr.go
  controllers/pkg/notification/build_test.go
  controllers/pkg/notification/builder.go
  controllers/pkg/notification/manager.go
  controllers/pkg/notification/pool.go
  deploy/cloud/manifests/admin-user.yaml
  deploy/cloud/scripts/init.sh
Labels: size/XXL, area/cloud, area/ci, area/test

#3672 fix skip not Running pod
  controllers/resources/controllers/monitor_controller.go
Labels: size/XS, area/cloud

#3673 change baseCount to common module for account charge
  controllers/common/account/count.go
  controllers/licenseissuer/internal/controller/util/collect.go
  controllers/licenseissuer/internal/controller/util/const.go
  controllers/licenseissuer/internal/controller/util/license.go
Labels: size/M, area/cloud

#3671 Currency
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/PriceBox.tsx
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/costcenter/.env
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/CurrencySymbol.tsx
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/buget.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/RechargeModal.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/TransferModal.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/components/invoice/invoiceTable.tsx
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/api/enabled.ts
  frontend/providers/costcenter/src/pages/cost_overview/index.module.scss
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/create_invoice/index.tsx
  frontend/providers/costcenter/src/pages/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/service/enabled.ts
  frontend/providers/costcenter/src/stores/env.ts
  frontend/providers/costcenter/src/types/env.ts
  frontend/providers/template/next-i18next.config.js
  frontend/providers/template/next.config.js
  frontend/providers/template/src/components/LangSelect/index.tsx
  frontend/providers/template/src/pages/deploy/components/Form.tsx
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/deploy/components/ReadMe.tsx
  frontend/providers/template/src/pages/deploy/components/Yaml.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/components/BreadCrumbHeader.tsx
  frontend/providers/template/src/pages/develop/components/Form.tsx
  frontend/providers/template/src/pages/develop/components/Header.tsx
  frontend/providers/template/src/pages/develop/components/YamlList.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/tsconfig.json
Labels: size/XL, area/frontend

#3680 modify the kubefile of licenseissuer
  controllers/licenseissuer/deploy/Kubefile
  controllers/licenseissuer/go.mod
  controllers/licenseissuer/go.sum
Labels: size/M, area/cloud

#3681 Fix: transfer by account
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/transfer_controller.go
  controllers/account/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/cloud

#3682 fix: remove unexpected mergo options
  pkg/config/config.go
Labels: size/XS, area/config, area/lifecycle-management

#3684 Community edition advance
  deploy/cloud/scripts/init.sh
Labels: size/XS, area/ci

#3676 feat:desktop add umami
  frontend/desktop/.gitignore
  frontend/desktop/data/config.json
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/src/pages/api/system/getSystemConfig.ts
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/types/system.ts
  frontend/providers/dbprovider/deploy/Kubefile
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/template/src/pages/deploy/index.tsx
Labels: size/M, area/frontend

#3688 fix cloud.yml
  .github/workflows/cloud.yml
Labels: size/XS, area/workflow

#3686 feat: BillingRecordQueryStatus add TotalCount
  controllers/account/api/v1/billingrecordquery_types.go
  controllers/account/config/crd/bases/account.sealos.io_billingrecordqueries.yaml
  controllers/account/config/crd/bases/account.sealos.io_payments.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/deploy/manifests/deploy.yaml.tmpl
  controllers/pkg/database/mongodb.go
Labels: size/S, area/cloud, area/api

#3690 feature(main): add test images
  test/e2e/images_buildrun_feature_test.go
  test/e2e/images_buildrun_test.go
  test/e2e/runtime_version_119_test.go
  test/e2e/runtime_version_120_test.go
  test/e2e/runtime_version_121_test.go
  test/e2e/runtime_version_122_test.go
  test/e2e/runtime_version_123_test.go
  test/e2e/runtime_version_124_test.go
  test/e2e/runtime_version_125_test.go
  test/e2e/runtime_version_126_test.go
  test/e2e/runtime_version_127_test.go
  test/e2e/runtime_version_docker_119_test.go
  test/e2e/runtime_version_docker_120_test.go
  test/e2e/runtime_version_docker_121_test.go
  test/e2e/runtime_version_docker_122_test.go
  test/e2e/runtime_version_docker_123_test.go
  test/e2e/runtime_version_docker_124_test.go
  test/e2e/runtime_version_docker_125_test.go
  test/e2e/runtime_version_docker_126_test.go
  test/e2e/runtime_version_docker_127_test.go
  test/e2e/suites/operators/cri.go
  test/e2e/suites/operators/interface.go
  test/e2e/suites/operators/types.go
  test/e2e/testhelper/cmd/sealosCmd.go
  test/e2e/utils.go
Labels: size/L, area/test

#3694 feat: docs add theme classic navbar.json
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/footer.json
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
Labels: kind/documentation, size/M

#3695 Fix poc
  frontend/Dockerfile
  frontend/Makefile
  frontend/desktop/src/components/LangSelect/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/hooks/useRecharge.tsx
  frontend/desktop/src/pages/api/account/getAmount.ts
  frontend/desktop/src/pages/api/account/payment/index.ts
  frontend/desktop/src/pages/api/account/payment/pay.ts
  frontend/desktop/src/pages/api/price/bonus.ts
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/CurrencySymbol.tsx
  frontend/providers/costcenter/src/components/billing/selectDateRange.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/RechargeModal.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/TransferModal.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/lineChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/hooks/useBillingData.tsx
  frontend/providers/costcenter/src/hooks/useNotEnough.tsx
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/create_invoice/index.tsx
  frontend/providers/costcenter/src/pages/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/stores/env.ts
  frontend/providers/costcenter/src/stores/overview.ts
Labels: size/XXL, area/frontend

#3696 Fix update
  frontend/desktop/data/config.json
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/hooks/useBillingData.tsx
  frontend/providers/costcenter/src/pages/api/billing/index.ts
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/create_invoice/index.tsx
  frontend/providers/costcenter/src/types/billing.ts
Labels: size/M, area/frontend

#3697 test(main): using registry.cn-hongkong.aliyuncs.com
  .github/workflows/e2e_test_apply.yml
  test/e2e/suites/infra/check.go
  test/e2e/testhelper/settings/common.go
Labels: size/S, area/test, area/workflow

#3678 feat: admission webhook for sealos
  .github/workflows/controllers.yml
  controllers/admission/.dockerignore
  controllers/admission/.gitignore
  controllers/admission/Dockerfile
  controllers/admission/Makefile
  controllers/admission/PROJECT
  controllers/admission/README.md
  controllers/admission/api/v1/ingress_webhook.go
  controllers/admission/api/v1/namespace_webhook.go
  controllers/admission/api/v1/validate.go
  controllers/admission/api/v1/webhook_suite_test.go
  controllers/admission/cmd/main.go
  controllers/admission/config/certmanager/certificate.yaml
  controllers/admission/config/certmanager/kustomization.yaml
  controllers/admission/config/certmanager/kustomizeconfig.yaml
  controllers/admission/config/default/kustomization.yaml
  controllers/admission/config/default/manager_auth_proxy_patch.yaml
  controllers/admission/config/default/manager_config_patch.yaml
  controllers/admission/config/default/manager_webhook_patch.yaml
  controllers/admission/config/default/webhookcainjection_patch.yaml
  controllers/admission/config/manager/kustomization.yaml
  controllers/admission/config/manager/manager.yaml
  controllers/admission/config/prometheus/kustomization.yaml
  controllers/admission/config/prometheus/monitor.yaml
  controllers/admission/config/rbac/auth_proxy_client_clusterrole.yaml
  controllers/admission/config/rbac/auth_proxy_role.yaml
  controllers/admission/config/rbac/auth_proxy_role_binding.yaml
  controllers/admission/config/rbac/auth_proxy_service.yaml
  controllers/admission/config/rbac/kustomization.yaml
  controllers/admission/config/rbac/leader_election_role.yaml
  controllers/admission/config/rbac/leader_election_role_binding.yaml
  controllers/admission/config/rbac/role.yaml
  controllers/admission/config/rbac/role_binding.yaml
  controllers/admission/config/rbac/service_account.yaml
  controllers/admission/config/webhook/kustomization.yaml
  controllers/admission/config/webhook/kustomizeconfig.yaml
  controllers/admission/config/webhook/manifests.yaml
  controllers/admission/config/webhook/service.yaml
  controllers/admission/deploy/Kubefile
  controllers/admission/deploy/manifests/deploy.yaml.tmpl
  controllers/admission/go.mod
  controllers/admission/go.sum
  controllers/admission/hack/boilerplate.go.txt
  go.mod
  go.sum
  go.work
  go.work.sum
Labels: size/XXL, area/cloud, area/test, area/workflow

#3699 fix(desktop):fix get amount
  frontend/desktop/src/pages/api/account/getAmount.ts
Labels: size/M, area/frontend

#3702 add admission controller clusterimage
  .github/workflows/controllers.yml
Labels: size/XS, area/workflow

#3703 fix: admission controller, rename secret
  controllers/admission/cmd/main.go
  controllers/admission/config/certmanager/certificate.yaml
  controllers/admission/config/default/manager_webhook_patch.yaml
  controllers/admission/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/cloud

#3677 Sweep: run guest command one by one and support run patch-type image
  .github/workflows/e2e_test_core.yml
  cmd/sealos/cmd/apply.go
  cmd/sealos/cmd/gen.go
  cmd/sealos/cmd/reset.go
  cmd/sealos/cmd/run.go
  cmd/sealos/cmd/version.go
  docker/patch/Dockerfile
  docker/patch/save-cluster-images.sh
  docker/patch/upgrade.sh
  pkg/apply/apply.go
  pkg/apply/apply_test.go
  pkg/apply/applydrivers/apply_drivers_default.go
  pkg/apply/args.go
  pkg/apply/gen.go
  pkg/apply/gen_test.go
  pkg/apply/processor/context.go
  pkg/apply/processor/create.go
  pkg/apply/processor/error.go
  pkg/apply/processor/errors.go
  pkg/apply/processor/install.go
  pkg/apply/processor/scale.go
  pkg/apply/reset.go
  pkg/apply/reset_test.go
  pkg/apply/run.go
  pkg/apply/run_test.go
  pkg/apply/scale.go
  pkg/bootstrap/context.go
  pkg/env/env.go
  pkg/env/env_shim_test.go
  pkg/env/env_test.go
  pkg/filesystem/rootfs/rootfs_default.go
  pkg/guest/guest.go
  pkg/guest/guest_test.go
  pkg/runtime/runtime_getter.go
  pkg/types/v1beta1/cluster.go
  pkg/version/utils/utils.go
  pkg/version/version.go
  test/e2e/apply_docker_test.go
  test/e2e/apply_test.go
  test/e2e/filesystem_test.go
  test/e2e/images_buildrun_feature_test.go
  test/e2e/images_buildrun_test.go
  test/e2e/run_docker_test.go
  test/e2e/run_patch_test.go
  test/e2e/run_test.go
  test/e2e/testhelper/config/patchfs.go
  test/e2e/testhelper/config/patchfs_test.go
  test/e2e/testhelper/config/rootfs.go
  test/e2e/testhelper/config/rootfs_test.go
Labels: size/XXL, need-e2e-apply-test, area/bootstrap, area/apply, area/config, area/guest, area/filesystem, area/ci, area/test, area/command, area/workflow, area/lifecycle-management, area/api, area/runtime, sweep

#3705 fix admission service selector
  controllers/admission/config/default/kustomization.yaml
  controllers/admission/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/cloud

#3710 Update deploy.yaml.tmpl
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend

#3709 fix: billing total pages and count
  controllers/pkg/database/mongodb.go
Labels: size/XS, area/cloud

#3715 feature(main): add sreg cache image
  docs/4.0/docs/lifecycle-management/QA.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/QA.md
Labels: kind/documentation, size/M, area/lifecycle-management

#3712 Community edition dev
  .github/workflows/controllers.yml
  controllers/licenseissuer/Dockerfile
  controllers/licenseissuer/Makefile
  controllers/licenseissuer/README.md
  controllers/licenseissuer/config/manager/manager.yaml
  controllers/licenseissuer/config/rbac/role.yaml
  controllers/licenseissuer/deploy/manifests/configmaps.yaml
  controllers/licenseissuer/deploy/manifests/deploy.yaml
  controllers/licenseissuer/internal/controller/license_controller.go
  controllers/licenseissuer/internal/controller/util/const.go
  controllers/licenseissuer/internal/controller/util/init.go
  controllers/licenseissuer/launcher/main.go
  controllers/licenseissuer/preset/main.go
Labels: size/XL, area/cloud, area/workflow

#3595 feat: add operationrequest for multi-namespace and update user controller.
  controllers/user/Makefile
  controllers/user/PROJECT
  controllers/user/api/v1/operationrequest_types.go
  controllers/user/api/v1/operationrequest_webhook.go
  controllers/user/api/v1/user_types.go
  controllers/user/api/v1/webhook_suite_test.go
  controllers/user/api/v1/zz_generated.deepcopy.go
  controllers/user/config/crd/bases/user.sealos.io_operationrequests.yaml
  controllers/user/config/crd/bases/user.sealos.io_users.yaml
  controllers/user/config/crd/kustomization.yaml
  controllers/user/config/crd/patches/cainjection_in_operationrequests.yaml
  controllers/user/config/crd/patches/webhook_in_operationrequests.yaml
  controllers/user/config/rbac/operationrequest_editor_role.yaml
  controllers/user/config/rbac/operationrequest_viewer_role.yaml
  controllers/user/config/rbac/role.yaml
  controllers/user/config/samples/user_v1_operationrequest.yaml
  controllers/user/config/samples/user_v1_user.yaml
  controllers/user/config/samples/user_v1_usergroup.yaml
  controllers/user/config/samples/user_v1_usergroupbinding.yaml
  controllers/user/config/webhook/manifests.yaml
  controllers/user/controllers/helper/config/rbac.go
  controllers/user/controllers/operationrequest_controller.go
  controllers/user/controllers/suite_test.go
  controllers/user/controllers/user_controller.go
  controllers/user/deploy/manifests/deploy.yaml.tmpl
  controllers/user/go.sum
  controllers/user/main.go
Labels: size/XL, area/cloud, area/test, area/api

#3723 perf currency symbol
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/pages/valuation/index.tsx
Labels: size/M, area/frontend

#3725 fix e2e apply test issue
  .github/workflows/e2e_test_apply.yml
Labels: size/XS, area/workflow

#3727 fix user sa.
  controllers/user/controllers/helper/config/rbac.go
Labels: size/XS, area/cloud

#3726 optimized the details of the community edition
  controllers/licenseissuer/config/manager/manager.yaml
  controllers/licenseissuer/deploy/Kubefile
  controllers/licenseissuer/deploy/manifests/customconfig.yaml.tmpl
  controllers/licenseissuer/deploy/manifests/deploy.yaml
  controllers/licenseissuer/internal/controller/util/options.go
  controllers/licenseissuer/launcher/main.go
  controllers/licenseissuer/preset/main.go
  deploy/cloud/scripts/init.sh
  go.mod
  go.sum
  go.work.sum
Labels: size/L, area/cloud, area/ci

#3633 feat: add initGPUInfoCM func
  controllers/node/config/configmap/configmap.yaml
  controllers/node/config/configmap/kustomization.yaml
  controllers/node/config/default/kustomization.yaml
  controllers/node/config/rbac/role.yaml
  controllers/node/config/rbac/role_binding.yaml
  controllers/node/controllers/gpu_controller.go
  controllers/node/deploy/manifests/deploy.yaml
Labels: size/L, area/cloud

#3724 add debt message code
  controllers/account/api/v1/debt_webhook.go
  controllers/common/account/count.go
  controllers/pkg/common/common.go
Labels: size/S, area/cloud

#3729 fix: avoid concurrent map writes
  pkg/env/env.go
Labels: size/XS, need-e2e-apply-test, area/config, area/lifecycle-management

#3691 refactor(main): using new runtime interface
  pkg/apply/gen.go
  pkg/apply/processor/create.go
  pkg/apply/processor/install.go
  pkg/apply/processor/scale.go
  pkg/client-go/kubernetes/expansion_test.go
  pkg/runtime/runtime.go
Labels: size/M, need-e2e-apply-test, area/apply, area/test, area/lifecycle-management, area/runtime

#3734 feat: quota for costcenter
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/MyTooltip.tsx
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/components/valuation/quota.tsx
  frontend/providers/costcenter/src/pages/api/getQuota.ts
  frontend/providers/costcenter/src/pages/valuation/index.tsx
Labels: size/L, area/frontend

#3736 modify GiB to GB
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/pages/valuation/index.tsx
Labels: size/S, area/frontend

#3742 Fix deploy doc link error.
  deploy/registry/README.md
Labels: size/XS, area/ci

#3740 update dockerfile base image to ubuntu22.04
  docker/sealos/Dockerfile.main
  docker/sealos/Dockerfile.release
Labels: size/XS, area/ci

#3748 fix: ignore signal killed when context cancelled
  pkg/filesystem/registry/sync.go
Labels: size/XS, area/filesystem, area/lifecycle-management

#3753 fix billing & valuation
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
Labels: size/M, area/frontend

#3751 Feat: gpu quota
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/pkg/common/resources.go
  controllers/pkg/utils/env.go
Labels: size/M, area/cloud

#3750 Fix: pending gpu cost
  controllers/resources/controllers/monitor_controller.go
Labels: size/M, area/cloud

#3747 Feat: add gpu prices alias
  controllers/account/config/rbac/role.yaml
  controllers/account/controllers/billingrecordquery_controller.go
  controllers/account/deploy/manifests/deploy.yaml.tmpl
  controllers/pkg/common/gpu/nvidia.go
  controllers/pkg/common/resources.go
Labels: size/M, area/cloud

#3741 refactor: separate runtime into different modules for better directory structure
  cmd/sealctl/cmd/token.go
  cmd/sealos/cmd/cert.go
  pkg/apply/gen.go
  pkg/apply/processor/create.go
  pkg/apply/processor/delete.go
  pkg/apply/processor/install.go
  pkg/apply/processor/scale.go
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/clusterfile_test.go
  pkg/clusterfile/pre_process.go
  pkg/clusterfile/util.go
  pkg/guest/guest.go
  pkg/remote/remote.go
  pkg/remote/util.go
  pkg/runtime/decode/decode.go
  pkg/runtime/interface.go
  pkg/runtime/kubeadm_cmd.go
  pkg/runtime/kubeadm_config.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/kubeadm.go
  pkg/runtime/kubernetes/kubeadm_cmd.go
  pkg/runtime/kubernetes/kubeconfig.go
  pkg/runtime/kubernetes/master.go
  pkg/runtime/kubernetes/node.go
  pkg/runtime/kubernetes/reset.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/runtime_getter.go
  pkg/runtime/kubernetes/static_files.go
  pkg/runtime/kubernetes/update_cert.go
  pkg/runtime/kubernetes/upgrade.go
  pkg/runtime/kubernetes/utils.go
  pkg/runtime/types/consts.go
  pkg/runtime/types/default_kubeadm_config.go
  pkg/runtime/types/kubeadm_config.go
  pkg/runtime/types/kubeadm_config_test.go
  pkg/runtime/types/types.go
  pkg/runtime/utils/token.go
  pkg/utils/file/fswriters.go
  pkg/utils/rand/rand.go
Labels: size/XXL, need-e2e-apply-test, area/apply, area/clusterfile, area/guest, area/test, area/command, area/lifecycle-management, area/runtime, area/ssh

#3758 style: modify gpu unit
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/template/src/pages/develop/index.tsx
Labels: size/S, area/frontend

#3759 feature(main): using 22 default port
  pkg/apply/run.go
  pkg/apply/run_test.go
  pkg/apply/utils.go
Labels: size/S, area/apply, area/test, area/lifecycle-management

#3765 feature(main): remove docker and containerd ci
  .github/workflows/ci-patch-image.yml
  .github/workflows/e2e_test_core.yml
  .github/workflows/e2e_test_image_cri_shim.yml
Labels: size/S, area/workflow

#3768 fix: imagePullPolicy
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/XS, area/frontend

#3769 feature(main): upgrade robot v2.0.0
  .github/workflows/bot.yml
Labels: size/S, area/workflow

#3771 fix:docs link not exist
  controllers/app/deploy/appexample/cr.yaml
  docs/4.0/docs/advanced-guide/how-to-deploy-the-application-to-desktop.md
  docs/4.0/i18n/zh-Hans/advanced-guide/how-to-deploy-the-application-to-desktop.md
  frontend/desktop/public/images/app_store.png
  frontend/providers/terminal/src/pages/index.tsx
  frontend/providers/terminal/src/stores/session.ts
Labels: kind/documentation, size/M, area/cloud, area/frontend

#3772 feature(main): upgrade registry addr using shanghai
  .github/workflows/e2e_test_apply.yml
  test/e2e/suites/infra/check.go
  test/e2e/testhelper/settings/common.go
Labels: size/S, area/test, area/workflow

#3764 Added a network probe to sense the network environment and adjust the license policy.
  controllers/licenseissuer/.env
  controllers/licenseissuer/config/manager/manager.yaml
  controllers/licenseissuer/deploy/Kubefile
  controllers/licenseissuer/deploy/manifests/configmaps.yaml
  controllers/licenseissuer/deploy/manifests/customconfig.yaml.tmpl
  controllers/licenseissuer/deploy/manifests/deploy.yaml
  controllers/licenseissuer/internal/controller/license_controller.go
  controllers/licenseissuer/internal/controller/util/collect.go
  controllers/licenseissuer/internal/controller/util/const.go
  controllers/licenseissuer/internal/controller/util/datasync.go
  controllers/licenseissuer/internal/controller/util/external.go
  controllers/licenseissuer/internal/controller/util/init.go
  controllers/licenseissuer/internal/controller/util/notice.go
  controllers/licenseissuer/internal/controller/util/options.go
  controllers/licenseissuer/internal/controller/util/prob.go
  controllers/licenseissuer/internal/controller/util/runnable.go
  deploy/cloud/manifests/free-license.yaml
Labels: size/XL, area/cloud, area/ci

#3777 Fix/debt webhook config
  controllers/account/config/webhook/manifests.yaml
  controllers/account/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/cloud

#3776 feat:cronjob deploy & desktop background
  .github/workflows/frontend.yml
  frontend/Makefile
  frontend/desktop/public/images/background.png
  frontend/desktop/public/images/background.svg
  frontend/desktop/src/components/background/index.module.scss
  frontend/desktop/src/components/background/index.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/layout/index.tsx
  frontend/providers/cronjob/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/cronjob/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/cronjob/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/cronjob/public/favicon.ico
  frontend/providers/cronjob/public/logo.svg
  frontend/providers/cronjob/src/components/DBStatusTag/index.tsx
  frontend/providers/cronjob/src/components/Icon/icons/logo.svg
  frontend/providers/cronjob/src/components/MonitorChart/index.tsx
  frontend/providers/cronjob/src/components/PodStatus/index.tsx
  frontend/providers/cronjob/src/components/StatusTag/index.tsx
  frontend/providers/cronjob/src/constants/job.ts
  frontend/providers/cronjob/src/mock/apps.ts
  frontend/providers/cronjob/src/pages/jobs/components/jobList.tsx
  frontend/providers/cronjob/src/types/job.d.ts
  frontend/providers/cronjob/src/utils/adapt.ts
  frontend/providers/cronjob/src/utils/tools.ts
Labels: size/XL, area/frontend, area/workflow

#3778 feat:template develop dryrun deploy
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/api/app.ts
  frontend/providers/template/src/pages/api/applyApp.ts
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/components/BreadCrumbHeader.tsx
  frontend/providers/template/src/pages/develop/components/Form.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/services/backend/kubernetes.ts
Labels: size/L, area/frontend

#3754 Count pods that not in succeeded & watch gpu changes on nodes
  controllers/node/controllers/gpu_controller.go
Labels: size/M, area/cloud

#3775 launchpad imagePullPolicy
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/XS, area/frontend

#3784 add sealos cloud arm64 cluster image
  .github/workflows/cloud.yml
  deploy/cloud/init.sh
Labels: size/M, area/ci, area/workflow

#3785 feat:desktop background layout
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/layout/index.module.scss
  frontend/desktop/src/components/layout/index.tsx
Labels: size/S, area/frontend

#3786 fix: sealos aio cluster image arm64
  .github/workflows/cloud.yml
Labels: size/XS, area/workflow

#3793 fix: setup logger after setting runtimeRootDir
  cmd/sealos/cmd/root.go
Labels: size/XS, area/command

#3789 add frontend arm64 docker image
  .github/workflows/frontend.yml
Labels: size/XS, area/workflow

#3791 feature(main): sealos run uing defualt ssh port
  pkg/apply/run.go
  pkg/apply/scale.go
  pkg/apply/utils.go
  pkg/registry/helpers/helpers.go
  pkg/ssh/sshcmd.go
  pkg/types/v1beta1/cluster.go
Labels: size/M, area/apply, area/registry, area/lifecycle-management, area/api, area/ssh

#3800 feat:desktop support theme
  frontend/READMD.md
  frontend/desktop/package.json
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/layout/index.tsx
  frontend/desktop/src/components/signin/auth/useAuthList.tsx
  frontend/desktop/src/components/signin/auth/useCustomError.tsx
  frontend/desktop/src/components/signin/auth/useLanguage.tsx
  frontend/desktop/src/components/signin/auth/usePassword.tsx
  frontend/desktop/src/components/signin/auth/useProtocol.tsx
  frontend/desktop/src/components/signin/auth/useSms.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/components/user_menu/index.tsx
  frontend/desktop/src/components/withThemeFallback/index.tsx
  frontend/desktop/src/pages/404.tsx
  frontend/desktop/src/pages/api/auth/password/exist.ts
  frontend/desktop/src/pages/api/platform/getEnv.ts
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/services/request.ts
  frontend/desktop/src/types/index.ts
  frontend/desktop/src/types/login.ts
  frontend/desktop/src/types/system.ts
  frontend/pnpm-lock.yaml
Labels: size/XXL, area/frontend

#3642 feat: init helm chart for sealos desktop
  helm/README.md
  helm/desktop/Chart.lock
  helm/desktop/Chart.yaml
  helm/desktop/charts/common/.helmignore
  helm/desktop/charts/common/Chart.yaml
  helm/desktop/charts/common/README.md
  helm/desktop/charts/common/templates/_affinities.tpl
  helm/desktop/charts/common/templates/_capabilities.tpl
  helm/desktop/charts/common/templates/_errors.tpl
  helm/desktop/charts/common/templates/_images.tpl
  helm/desktop/charts/common/templates/_ingress.tpl
  helm/desktop/charts/common/templates/_labels.tpl
  helm/desktop/charts/common/templates/_names.tpl
  helm/desktop/charts/common/templates/_secrets.tpl
  helm/desktop/charts/common/templates/_storage.tpl
  helm/desktop/charts/common/templates/_tplvalues.tpl
  helm/desktop/charts/common/templates/_utils.tpl
  helm/desktop/charts/common/templates/_warnings.tpl
  helm/desktop/charts/common/templates/validations/_cassandra.tpl
  helm/desktop/charts/common/templates/validations/_mariadb.tpl
  helm/desktop/charts/common/templates/validations/_mongodb.tpl
  helm/desktop/charts/common/templates/validations/_mysql.tpl
  helm/desktop/charts/common/templates/validations/_postgresql.tpl
  helm/desktop/charts/common/templates/validations/_redis.tpl
  helm/desktop/charts/common/templates/validations/_validations.tpl
  helm/desktop/charts/common/values.yaml
  helm/desktop/templates/NOTES.txt
  helm/desktop/templates/_helpers.tpl
  helm/desktop/templates/configmap.yaml
  helm/desktop/templates/deployment.yaml
  helm/desktop/templates/ingress.yaml
  helm/desktop/templates/role.yaml
  helm/desktop/templates/rolebinding.yaml
  helm/desktop/templates/secret.yaml
  helm/desktop/templates/service-account.yaml
  helm/desktop/templates/service.yaml
  helm/desktop/templates/tls-secret.yaml
  helm/desktop/values.yaml
Labels: size/XXL

#3808 add default nodeport count limit.
  controllers/account/controllers/account_controller.go
  controllers/pkg/common/resources.go
Labels: size/M, area/cloud

#3809 fix: remove copying kubeconfig file
  pkg/guest/guest.go
Labels: size/S, area/guest, area/lifecycle-management

#3810 feat:docs monitoring data
  docs/website/src/pages/components/Footer/index.tsx
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/components/VideoPlayer/index.scss
  docs/website/src/pages/index.tsx
  docs/website/static/illustrations/bg-header.png
  docs/website/static/illustrations/bg-header.svg
  docs/website/static/illustrations/footer-mobile.png
  docs/website/static/illustrations/footer2.png
Labels: kind/documentation, size/M

#3813 fix: remove copying kubeconfig file (#3809)
  pkg/guest/guest.go
Labels: size/S, area/guest, area/lifecycle-management
