Repository labring/sealos, pull requests merged in 2023-02, with the labels that each got.

#2493 docs: fix mistakes in the English version of cloud docs
  docs/4.0/docs/cloud/Intro.md
  docs/4.0/docs/cloud/apps/appstore/appstore.md
  docs/4.0/docs/cloud/apps/appstore/use-sealos-registry.md
  docs/4.0/docs/cloud/apps/postgres/postgres.md
  docs/4.0/docs/cloud/apps/scp/scp.md
  docs/4.0/docs/cloud/apps/terminal/terminal.md
  docs/4.0/docs/cloud/apps/terminal/use-sealos-cloud-hello-world.md
  docs/4.0/docs/cloud/examples/use-cname-for-custom-host.md
  docs/4.0/docs/cloud/getting-started/index.md
Labels: good first issue, type: documentation

#2492 remove duplicate pull image
  pkg/registry/save.go
Labels: good first issue, type: enhancement

#2673 Use lock to ensure safe build configuration under goroutine.
  pkg/runtime/kubeadm.go
  pkg/runtime/master.go
  pkg/runtime/node.go
  pkg/runtime/runtime.go
Labels: type: bug, good first issue, priority: high
