Repository labring/sealos, pull requests merged in 2023-06, with the labels that each got.

#3219 fix: command line usage output
  cmd/sealos/cmd/root.go
Labels: size/S

#3140 feat: add max limit in podline chart
  frontend/providers/applaunchpad/src/components/PodLineChart/index.tsx
Labels: size/XS

#3222 refactor(main): add registry sync docs for build
  README.md
  docs/4.0/docs/lifecycle-management/QA.md
  docs/4.0/docs/lifecycle-management/advanced-guide/build-image-using-registry-sync.md
  docs/4.0/docs/lifecycle-management/advanced-guide/image-build-standardized.md
  docs/4.0/docs/lifecycle-management/advanced-guide/images/build.png
  docs/4.0/docs/lifecycle-management/advanced-guide/images/registry-build.png
  docs/4.0/docs/lifecycle-management/advanced-guide/template-function.md
  docs/4.0/docs/lifecycle-management/operations/build-image/build-image-binary.md
  docs/4.0/docs/lifecycle-management/operations/build-image/build-image-helm_charts.md
  docs/4.0/docs/lifecycle-management/operations/build-image/images/01.png
  docs/4.0/docs/lifecycle-management/operations/build-image/images/02.png
  docs/4.0/docs/lifecycle-management/reference/sealos/commands/inspect.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/QA.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/build-image-using-registry-sync.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/image-build-standardized.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/images/build.png
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/images/registry-build.png
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/template-function.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/build-image-binary.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/build-image-helm_charts.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/commands/inspect.md
  pkg/registry/crane/registry.go
Labels: size/L

#3225 Frontend perf
  frontend/client-sdk/package.json
  frontend/desktop/package.json
  frontend/desktop/pnpm-lock.yaml
  frontend/providers/adminer/src/interfaces/zalando.ts
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/src/components/AppStatusTag/index.tsx
  frontend/providers/applaunchpad/src/components/PodLineChart/index.tsx
  frontend/providers/applaunchpad/src/constants/theme.ts
  frontend/providers/applaunchpad/src/pages/api/delApp.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/LogsModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/PodDetailModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/index.module.scss
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/EditEnvs.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/index.module.scss
  frontend/providers/applaunchpad/src/pages/app/edit/index.module.scss
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/empty.tsx
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/XL

#3230 Fix adminer connect driver name.
  frontend/providers/adminer/src/interfaces/kubeblock.ts
Labels: size/XS

#3234 dbprovider 0.3.1
  deploy/cloud/init.sh
  deploy/cloud/scripts/init.sh
  frontend/READMD.md
  frontend/providers/dbprovider/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/constants/editApp.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/services/backend/kubernetes.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/M

#3223 refactor(main): add qa for main docs
  docs/4.0/docs/lifecycle-management/QA.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/QA.md
Labels: size/L

#3233 refactor(main): add docs for lvscare
  docs/4.0/docs/lifecycle-management/reference/Image-cri-shim/_category_.json
  docs/4.0/docs/lifecycle-management/reference/lvscare/_category_.json
  docs/4.0/docs/lifecycle-management/reference/lvscare/images/01.webp
  docs/4.0/docs/lifecycle-management/reference/lvscare/lvscare.md
  docs/4.0/docs/lifecycle-management/reference/sealctl/_category_.json
  docs/4.0/docs/lifecycle-management/reference/sealos/_category_.json
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/Image-cri-shim/_category_.json
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/lvscare/_category_.json
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/lvscare/images/01.webp
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/lvscare/lvscare.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealctl/_category_.json
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/_category_.json
Labels: size/L

#3239 add doc install-db-with-database
  docs/4.0/docs/quick-start/images/database-configure.png
  docs/4.0/docs/quick-start/images/database-connect.png
  docs/4.0/docs/quick-start/images/database-creating.png
  docs/4.0/docs/quick-start/images/database-launch.png
  docs/4.0/docs/quick-start/images/database-more1.png
  docs/4.0/docs/quick-start/images/database-more2.png
  docs/4.0/docs/quick-start/images/database-select.png
  docs/4.0/docs/quick-start/install-db-with-database.md
  docs/4.0/i18n/zh-Hans/quick-start/images/database-configure.png
  docs/4.0/i18n/zh-Hans/quick-start/images/database-connect.png
  docs/4.0/i18n/zh-Hans/quick-start/images/database-creating.png
  docs/4.0/i18n/zh-Hans/quick-start/images/database-launch.png
  docs/4.0/i18n/zh-Hans/quick-start/images/database-more1.png
  docs/4.0/i18n/zh-Hans/quick-start/images/database-more2.png
  docs/4.0/i18n/zh-Hans/quick-start/images/database-select.png
  docs/4.0/i18n/zh-Hans/quick-start/install-db-with-database.md
Labels: size/M

#3241 fix: router back invalid; perf: database ux
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/store/global.ts
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/constants/editApp.ts
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Pods.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/store/global.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/L

#3242 Revoke lint version 1.53 bug.
  .golangci.yml
Labels: size/XS

#3244 Fix ass go-lint-ci version.
  .github/workflows/ci.yml
  .github/workflows/controllers.yml
  .github/workflows/services.yml
  .github/workflows/webhooks.yml
Labels: size/XS

#3236 fix: add default configs in storage.options.overlay section
  pkg/buildah/setup.go
Labels: size/S

#3246 docs: Update README
  README.md
  README_zh.md
  docs/4.0/img/app-launchpad-1-zh.webp
  docs/4.0/img/app-launchpad-zh.png
  docs/4.0/img/database-zh.webp
  docs/4.0/img/database.webp
  docs/4.0/img/laf-zh.webp
  docs/4.0/img/laf.webp
  docs/4.0/img/sealos-desktop-zh.webp
  docs/4.0/img/sealos-desktop.webp
  docs/4.0/img/sealos-qr-code-300.png
  docs/4.0/img/terminal-zh.webp
Labels: size/L

#3243 Update app cr, support i18n.
  controllers/app/api/v1/app_types.go
  controllers/app/api/v1/zz_generated.deepcopy.go
  controllers/app/config/crd/bases/app.sealos.io_apps.yaml
  controllers/app/deploy/appexample/cr.yaml
  go.work.sum
Labels: size/XL

#3248 docs: Update App Launchpad quick start guide
  docs/4.0/docs/quick-start/install-apps-with-app-launchpad.md
  docs/4.0/i18n/zh-Hans/quick-start/images/app-launchpad-zh.webp
  docs/4.0/i18n/zh-Hans/quick-start/install-apps-with-app-launchpad.md
Labels: size/S

#3221 feat: desktop i18n
  frontend/desktop/next-i18next.config.js
  frontend/desktop/next.config.js
  frontend/desktop/package.json
  frontend/desktop/pnpm-lock.yaml
  frontend/desktop/public/images/docs.svg
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/en/translation.json
  frontend/desktop/public/locales/zh-CN/translation.json
  frontend/desktop/public/locales/zh-Hans/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/public/locales/zh/translation.json
  frontend/desktop/src/components/LangSelect/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/app_window/index.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/desktop_content/time.tsx
  frontend/desktop/src/components/layout/index.tsx
  frontend/desktop/src/components/more_apps/index.tsx
  frontend/desktop/src/components/more_button/index.tsx
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/components/user_menu/index.tsx
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/types/app.ts
  frontend/desktop/src/utils/i18n.ts
Labels: size/XXL

#3251 change database-launch.png to chinese version
  docs/4.0/docs/quick-start/install-db-with-database.md
  docs/4.0/i18n/zh-Hans/quick-start/images/database-launch.png
  docs/4.0/i18n/zh-Hans/quick-start/install-db-with-database.md
Labels: size/XS

#3252 docs: Add Desktop image for Intro documentation
  docs/4.0/docs/Intro.md
  docs/4.0/docs/images/sealos-desktop.webp
  docs/4.0/i18n/zh-Hans/Intro.md
  docs/4.0/i18n/zh-Hans/images/sealos-desktop-zh.webp
Labels: size/XS

#3250 refactor(main): add qa for docs
  docs/4.0/docs/lifecycle-management/QA.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/QA.md
Labels: size/L

#3254 fix: name regx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Labels: size/XS

#3258 refactor(main): release docs
  scripts/release/footer.md.tmpl
  scripts/release/head.md.tmpl
Labels: size/M

#3259 refactor(main): add labeler for ci
  .github/labeler.yml
  .github/workflows/bot-labels.yml
Labels: size/M

#3265 docs: Add terminal documentation and images for platform components
  docs/4.0/docs/platform-components/dbprovider/dbprovider.md
  docs/4.0/docs/platform-components/terminal/images/database-terminal-1.png
  docs/4.0/docs/platform-components/terminal/images/database-terminal.png
  docs/4.0/docs/platform-components/terminal/images/nginx-terminal-1.png
  docs/4.0/docs/platform-components/terminal/images/nginx-terminal.png
  docs/4.0/docs/platform-components/terminal/images/terminal-pod.png
  docs/4.0/docs/platform-components/terminal/images/terminal.webp
  docs/4.0/docs/platform-components/terminal/terminal.md
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/bytebase.md
  docs/4.0/i18n/zh-Hans/platform-components/dbprovider/dbprovider.md
  docs/4.0/i18n/zh-Hans/platform-components/terminal/images/database-terminal-1.png
  docs/4.0/i18n/zh-Hans/platform-components/terminal/images/database-terminal.png
  docs/4.0/i18n/zh-Hans/platform-components/terminal/images/nginx-terminal-1.png
  docs/4.0/i18n/zh-Hans/platform-components/terminal/images/nginx-terminal.png
  docs/4.0/i18n/zh-Hans/platform-components/terminal/images/terminal-pod.png
  docs/4.0/i18n/zh-Hans/platform-components/terminal/images/terminal.webp
  docs/4.0/i18n/zh-Hans/platform-components/terminal/terminal.md
Labels: kind/documentation, size/L

#3264 refactor(main): add translator for ci
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/labeler.yml
  .github/workflows/bot-issues-translator.yml
  .github/workflows/bot-link.yml
  MAINTAINERS.md
  lychee.toml
Labels: size/L

#3267 docs: fix part of the link failure
  deploy/registry/README.md
  docs/4.0/i18n/zh-Hans/examples/ai-applications/athenaserving.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/build-image-with-kubeadm-run-cluster.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/run-cluster/gen-apply-cluster.md
Labels: kind/documentation, size/S

#3268 docs: modifying docs format
  docs/4.0/docs/examples/ai-applications/athenaserving.md
  docs/4.0/docs/examples/ai-applications/install-fastgpt-on-desktop.md
  docs/4.0/docs/examples/install-halo.md
  docs/4.0/docs/examples/install-uptime-kuma.md
  docs/4.0/docs/examples/wordpress-with-sealos.md
  docs/4.0/i18n/zh-Hans/examples/ai-applications/athenaserving.md
  docs/4.0/i18n/zh-Hans/examples/ai-applications/install-fastgpt-on-desktop.md
  docs/4.0/i18n/zh-Hans/examples/how-to-deploy-postgresql-with-kubeblocks-on-sealos-cloud.md
  docs/4.0/i18n/zh-Hans/examples/install-halo.md
  docs/4.0/i18n/zh-Hans/examples/install-uptime-kuma.md
  docs/4.0/i18n/zh-Hans/examples/wordpress-with-sealos.md
Labels: kind/documentation, size/M, area/cloud

#3271 docs: fix part of the link failure
  docs/4.0/docs/examples/ai-applications/athenaserving.md
  docs/4.0/docs/lifecycle-management/operations/build-image/build-image-with-kubeadm-run-cluster.md
  docs/4.0/docs/lifecycle-management/operations/run-cluster/gen-apply-cluster.md
  docs/4.0/i18n/zh-Hans/examples/ai-applications/athenaserving.md
Labels: kind/documentation, size/S, area/cloud

#3262 Add ARCH doc.
  docs/4.0/docs/Intro/Architecture.md
  docs/4.0/docs/Intro/images/application_dark.png
  docs/4.0/docs/Intro/images/application_light.png
  docs/4.0/docs/Intro/images/architecture_dark.png
  docs/4.0/docs/Intro/images/architecture_light.png
  docs/4.0/docs/platform-components/bytebase/bytebase.md
  docs/4.0/i18n/zh-Hans/Intro/Architecture.md
  docs/4.0/i18n/zh-Hans/Intro/images/application_dark.png
  docs/4.0/i18n/zh-Hans/Intro/images/application_light.png
  docs/4.0/i18n/zh-Hans/Intro/images/architecture_dark.png
  docs/4.0/i18n/zh-Hans/Intro/images/architecture_light.png
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/bytebase.md
  docs/4.0/sidebar.json
Labels: kind/documentation, size/M, area/cloud

#3253 Fix back lint
  .github/workflows/ci.yml
  .github/workflows/controllers.yml
  .github/workflows/services.yml
  .github/workflows/webhooks.yml
  .golangci.yml
Labels: size/S

#3274 feat: remove the i18n language prefix
  frontend/desktop/next-i18next.config.js
  frontend/desktop/package.json
  frontend/desktop/pnpm-lock.yaml
  frontend/desktop/src/components/LangSelect/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/pages/index.tsx
Labels: size/M, area/frontend

#3278 docs(main): add docs issue template
  .github/ISSUE_TEMPLATE/docs.yml
Labels: size/M, area/workflow

#3281 add some examples in README
  README_zh.md
Labels: size/XS

#3282 delete how-to-deploy-postgresql-with-kubeblocks-on-sealos-cloud.md
  docs/4.0/docs/examples/how-to-deploy-postgresql-with-kubeblocks-on-sealos-cloud.md
  docs/4.0/i18n/zh-Hans/examples/how-to-deploy-postgresql-with-kubeblocks-on-sealos-cloud.md
Labels: kind/documentation, size/L, area/cloud

#3284 Update doc links.
  docs/4.0/docs/advanced-guide/Architecture/Architecture.md
  docs/4.0/docs/advanced-guide/Architecture/images/application_dark.png
  docs/4.0/docs/advanced-guide/Architecture/images/application_light.png
  docs/4.0/docs/advanced-guide/Architecture/images/architecture_dark.png
  docs/4.0/docs/advanced-guide/Architecture/images/architecture_light.png
  docs/4.0/docs/advanced-guide/how-to-deploy-the-application-to-desktop.md
  docs/4.0/docs/advanced-guide/images/app-apply-command.png
  docs/4.0/docs/advanced-guide/images/app-yaml.png
  docs/4.0/docs/examples/ai-applications/_category_.json
  docs/4.0/docs/examples/blog-platform/_category_.json
  docs/4.0/docs/examples/dial-testing-system/_category_.json
  docs/4.0/docs/examples/low-code-platform/_category_.json
  docs/4.0/docs/platform-components/applaunchpad/applaunchpad.md
  docs/4.0/docs/platform-components/bytebase/bytebase.md
  docs/4.0/docs/platform-components/dbprovider/dbprovider.md
  docs/4.0/docs/platform-components/terminal/terminal.md
  docs/4.0/i18n/zh-Hans/advanced-guide/Architecture/Architecture.md
  docs/4.0/i18n/zh-Hans/advanced-guide/Architecture/images/application_dark.png
  docs/4.0/i18n/zh-Hans/advanced-guide/Architecture/images/application_light.png
  docs/4.0/i18n/zh-Hans/advanced-guide/Architecture/images/architecture_dark.png
  docs/4.0/i18n/zh-Hans/advanced-guide/Architecture/images/architecture_light.png
  docs/4.0/i18n/zh-Hans/advanced-guide/how-to-deploy-the-application-to-desktop.md
  docs/4.0/i18n/zh-Hans/advanced-guide/images/app-apply-command.png
  docs/4.0/i18n/zh-Hans/advanced-guide/images/app-yaml.png
  docs/4.0/i18n/zh-Hans/platform-components/applaunchpad/applaunchpad.md
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/bytebase.md
  docs/4.0/i18n/zh-Hans/platform-components/dbprovider/dbprovider.md
  docs/4.0/i18n/zh-Hans/platform-components/terminal/terminal.md
  docs/4.0/sidebar.json
Labels: kind/documentation, size/L, area/cloud

#3285 Remove files with no more needed.
  docs/4.0/docs/advanced-guide/Architecture/Architecture.md
  docs/4.0/i18n/zh-Hans/advanced-guide/Architecture/Architecture.md
  docs/4.0/i18n/zh-Hans/examples/ai-applications/_category_.json
  docs/4.0/i18n/zh-Hans/examples/blog-platform/_category_.json
  docs/4.0/i18n/zh-Hans/examples/dial-testing-system/_category_.json
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/_category_.json
Labels: kind/documentation, size/S, area/cloud

#3286 fix docs img link
  docs/4.0/docs/examples/dial-testing-system/install-uptime-kuma.md
Labels: kind/documentation, size/XS, area/cloud

#3238 refactor(main): add skip error for sync
  .github/labeler.yml
  cmd/sealos/cmd/registry.go
  docs/4.0/docs/lifecycle-management/reference/sealos/commands/registry.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/commands/registry.md
  pkg/filesystem/registry/sync.go
  pkg/registry/commands/copy.go
  pkg/registry/commands/init.go
  pkg/registry/commands/sync.go
  pkg/registry/save/registry_save.go
  pkg/registry/sync/sync.go
Labels: kind/documentation, size/L, area/filesystem, area/registry, area/command, area/workflow, area/lifecycle-management

#3288 fix: return fast
  pkg/buildah/imagesaver.go
Labels: size/XS, area/lifecycle-management

#3256 docs(main): fix lifecyle-management from intro
  docs/4.0/docs/lifecycle-management/Intro.md
  docs/4.0/docs/lifecycle-management/QA.md
  docs/4.0/docs/lifecycle-management/lifecycle-management.md
  docs/4.0/docs/lifecycle-management/reference/lvscare/lvscare.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/Intro.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/QA.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/lifecycle-management.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/lvscare/lvscare.md
Labels: kind/documentation, size/L, area/lifecycle-management

#3290 Fix life-circle sidebar
  docs/4.0/sidebar.json
Labels: kind/documentation, size/XS

#3276 refactor sign in
  frontend/desktop/.dockerignore
  frontend/desktop/.env
  frontend/desktop/.gitignore
  frontend/desktop/package.json
  frontend/desktop/pnpm-lock.yaml
  frontend/desktop/public/icons/close_white.svg
  frontend/desktop/public/icons/warning.svg
  frontend/desktop/public/images/ant-design_safety-outlined.svg
  frontend/desktop/public/images/github.svg
  frontend/desktop/public/images/material-symbols_update.svg
  frontend/desktop/public/images/sealos-title.png
  frontend/desktop/public/images/wechat.svg
  frontend/desktop/src/components/layout/index.tsx
  frontend/desktop/src/components/more_apps/index.tsx
  frontend/desktop/src/components/more_button/index.tsx
  frontend/desktop/src/pages/api/account/getAmount.ts
  frontend/desktop/src/pages/api/account/payment/index.ts
  frontend/desktop/src/pages/api/account/payment/pay.ts
  frontend/desktop/src/pages/api/auth/oauth/github/index.ts
  frontend/desktop/src/pages/api/auth/oauth/wechat/index.ts
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/pages/api/auth/phone/verify.ts
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/desktop/src/pages/api/notification/list.ts
  frontend/desktop/src/pages/api/notification/read.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/login/callback.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/services/backend/auth.ts
  frontend/desktop/src/services/backend/db/mongodb.ts
  frontend/desktop/src/services/backend/db/user.ts
  frontend/desktop/src/services/backend/db/verifyCode.ts
  frontend/desktop/src/services/backend/kubernetes/admin.ts
  frontend/desktop/src/services/backend/kubernetes/user.ts
  frontend/desktop/src/services/backend/oauth.ts
  frontend/desktop/src/services/backend/response.ts
  frontend/desktop/src/services/request.ts
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/stores/session.ts
  frontend/desktop/src/styles/globals.scss
  frontend/desktop/src/types/api.ts
  frontend/desktop/src/types/session.ts
  frontend/desktop/src/types/user.ts
  frontend/desktop/src/utils/format.ts
  frontend/desktop/src/utils/tools.ts
Labels: size/XXL, area/frontend

#3291 feature(main): add tips for sealos buildah rm
  docs/4.0/docs/lifecycle-management/QA.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/QA.md
Labels: kind/documentation, size/M, area/lifecycle-management

#3292 feature(main): add docs for sealos run
  docs/4.0/docs/lifecycle-management/advanced-guide/images/sealos-run.png
  docs/4.0/docs/lifecycle-management/advanced-guide/sealos-run.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/images/sealos-run.png
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/sealos-run.md
Labels: kind/documentation, size/L, area/lifecycle-management

#3293 fix: set default storage config path for root users
  pkg/buildah/setup.go
  pkg/system/env.go
Labels: size/M, area/env, area/lifecycle-management

#3295 Add adminer status Check to adminer.
  controllers/db/adminer/controllers/adminer_controller.go
Labels: size/XS, area/cloud

#3297 fix readme
  README.md
  README_zh.md
Labels: size/S

#3296 feature: recharge extra gift amount
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/account_controller_test.go
Labels: size/M, area/cloud, area/test

#3301 fix(fronted desktop): Cookies are not set by default
  frontend/desktop/next-i18next.config.js
  frontend/desktop/pnpm-lock.yaml
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
Labels: size/S, area/frontend

#3304 feat: support override platform flags for inspect command
  pkg/buildah/common.go
  pkg/buildah/inspect.go
Labels: area/buildah, size/S, area/lifecycle-management

#3303 refactor(main): add ednpoint rbac
  controllers/db/adminer/config/rbac/role.yaml
  controllers/db/adminer/controllers/adminer_controller.go
Labels: size/XS, area/cloud

#3305 refactor: registry command with exampleprefix var explicitly
  cmd/sealos/cmd/registry.go
  cmd/sealos/cmd/root.go
  pkg/registry/commands/copy.go
  pkg/registry/commands/init.go
  pkg/registry/commands/save.go
  pkg/registry/commands/sync.go
Labels: size/M, area/registry, area/command, area/lifecycle-management

#3308 fix(cert sign): not get the correct first svc ip from cidr
  pkg/cert/kube_certs.go
Labels: size/XS, area/lifecycle-management

#3307 refactor(main): add qa for storage
  cmd/sealos/cmd/root.go
  docs/4.0/docs/lifecycle-management/QA.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/QA.md
  pkg/buildah/setup.go
Labels: kind/documentation, area/buildah, size/M, area/command, area/lifecycle-management

#3306 refactor(main): add link and report
  .github/workflows/bot-link.yml
  .github/workflows/check-link-error.yml
  .gitignore
  DEVELOPGUIDE.md
  README.md
  README_zh.md
  ROADMAP.md
  deploy/cloud-deprecated/manifests/ingress-nginx/README.md
  docs/4.0/docs/lifecycle-management/QA.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/QA.md
  lychee.toml
  proposal/design/en/datapack.md
  proposal/design/zh/datapack.md
Labels: kind/documentation, size/L, area/ci, area/workflow, area/lifecycle-management

#3309 docs(main): fix link for docs
  .github/workflows/check-link-error.yml
  README.md
Labels: size/S, area/workflow

#3160 debt controller implement
  controllers/account/PROJECT
  controllers/account/api/v1/debt_types.go
  controllers/account/api/v1/debt_webhook.go
  controllers/account/api/v1/zz_generated.deepcopy.go
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/config/rbac/role.yaml
  controllers/account/config/webhook/manifests.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/billing_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/namespace_controller.go
  controllers/account/controllers/pod_controller.go
  controllers/account/controllers/suite_test.go
  controllers/account/deploy/manifests/deploy.yaml
  controllers/account/go.mod
  controllers/account/go.sum
  controllers/account/main.go
  controllers/pkg/common/resources.go
  controllers/pkg/database/mongodb.go
  controllers/pkg/utils/env.go
  service/auth/pkg/utils/config.go
Labels: size/XXL, area/cloud, area/test, area/api

#3313 bugfix: fix the wrong unit
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/account_controller_test.go
Labels: size/M, area/cloud, area/test

#3310 docs(main): fix link for docs
  .github/gh-bot.yml
  .github/workflows/bot.yml
  .github/workflows/check-link-error.yml
Labels: size/M, area/workflow

#3314 refactor(main): add pull_request_target for checkout
  .github/workflows/check-link-error.yml
  .github/workflows/check-semgrep.yml
Labels: size/XS, area/workflow

#3315 refactor(main): update link pr action
  .github/workflows/check-link-error.yml
Labels: size/M, area/workflow

#3317 Update format linter.
  pkg/registry/password/apply.go
Labels: size/XS, area/registry, area/lifecycle-management

#3311 SDK enhances communication, app supports event monitoring
  frontend/client-sdk/README_zh.md
  frontend/client-sdk/package.json
  frontend/client-sdk/pnpm-lock.yaml
  frontend/client-sdk/src/app.ts
  frontend/client-sdk/src/constants/api.ts
  frontend/client-sdk/src/constants/event.ts
  frontend/client-sdk/src/master.ts
  frontend/client-sdk/src/types/message.d.ts
  frontend/client-sdk/src/utils/cookieUtils.ts
Labels: size/XXL, area/frontend

#3320 Fix desktop login error
  frontend/desktop/src/services/backend/auth.ts
  frontend/desktop/src/services/backend/db/mongodb.ts
  frontend/desktop/src/services/backend/db/user.ts
  frontend/desktop/src/services/backend/db/verifyCode.ts
  frontend/desktop/src/services/backend/kubernetes/admin.ts
  frontend/desktop/src/services/request.ts
  frontend/desktop/src/types/index.ts
Labels: size/M, area/frontend

#3321 fix: launchapad i18n & update app way
  frontend/desktop/pnpm-lock.yaml
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/src/api/app.ts
  frontend/providers/applaunchpad/src/pages/api/updateApp.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/ConfigmapModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/pages/apps/index.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/applaunchpad/src/utils/i18n.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Labels: size/XXL, area/frontend

#3322 feat: js-cookie
  frontend/client-sdk/package.json
  frontend/client-sdk/pnpm-lock.yaml
  frontend/client-sdk/src/master.ts
  frontend/client-sdk/src/utils/cookieUtils.ts
  frontend/client-sdk/tsconfig.json
Labels: size/M, area/frontend

#3323 refactor(main): fix ci code error
  .github/workflows/check-link-error.yml
Labels: size/XS, area/workflow

#3329 fix: launchpad i18n init;fix: do not split command
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/pnpm-lock.yaml
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/updateApp.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/pages/apps/index.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/dbprovider/src/components/DBStatusTag/index.tsx
  frontend/providers/dbprovider/src/types/cluster.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
Labels: size/XL, area/frontend

#3328 fix:fix version comparison issue
  pkg/utils/versionutil/version.go
  pkg/utils/versionutil/version_test.go
Labels: size/M, area/test, area/lifecycle-management

#3330 fix(frontend/costcenter): fix i18n
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/cost_overview/components/lineChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/hooks/useNotEnough.tsx
  frontend/providers/costcenter/src/pages/_app.tsx
Labels: size/L, area/frontend

#3332 fix resource kubefile
  controllers/resources/deploy/Kubefile
  controllers/resources/metering/deploy/Kubefile
Labels: size/XS, area/cloud

#3333 fix resources controller Kubefile
  controllers/resources/config/manager/kustomization.yaml
  controllers/resources/config/manager/manager.yaml
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/deploy/Kubefile
  controllers/resources/deploy/manifests/deploy-manager.yaml
  controllers/resources/deploy/manifests/deploy.yaml
  controllers/resources/deploy/manifests/mongo-secret.yaml.tmpl
  controllers/resources/metering/deploy/Kubefile
  controllers/resources/metering/deploy/manifests/deploy.yaml
  controllers/resources/metering/deploy/manifests/mongo-secret.yaml.tmpl
Labels: size/M, area/cloud

#3335 fix(frontend/costcenter):fix i18n
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/billing/selectDateRange.tsx
  frontend/providers/costcenter/src/components/cost_overview/buget.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/lineChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/selectYear.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.module.scss
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/hooks/useNotEnough.tsx
  frontend/providers/costcenter/src/hooks/useRecharge.tsx
  frontend/providers/costcenter/src/layout/index.module.scss
  frontend/providers/costcenter/src/layout/index.tsx
  frontend/providers/costcenter/src/layout/sidebar.tsx
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/_document.tsx
  frontend/providers/costcenter/src/pages/api/account/payment/index.ts
  frontend/providers/costcenter/src/pages/api/account/payment/pay.ts
  frontend/providers/costcenter/src/pages/api/billing/index.ts
  frontend/providers/costcenter/src/pages/api/price/index.ts
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/service/backend/auth.ts
  frontend/providers/costcenter/src/stores/overview.ts
  frontend/providers/costcenter/src/stores/session.ts
  frontend/providers/costcenter/src/styles/chakraTheme.ts
  frontend/providers/costcenter/src/styles/fonts.tsx
  frontend/providers/costcenter/src/styles/globals.scss
  frontend/providers/costcenter/src/types/api.ts
  frontend/providers/costcenter/src/types/payment.ts
  frontend/providers/costcenter/src/types/session.ts
  frontend/providers/costcenter/src/types/valuation.ts
  frontend/providers/costcenter/src/utils/favorable.ts
  frontend/providers/costcenter/src/utils/format.ts
Labels: size/XXL, area/frontend

#3340 update app crd
  controllers/app/deploy/manifests/deploy.yaml
Labels: size/M, area/cloud

#3343 update issue num
  .github/workflows/ci-patch-image.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/release.yml
  .github/workflows/services.yml
Labels: size/S, area/workflow

#3341 Update README
  README.md
  docs/4.0/img/app-launchpad-1.jpg
  docs/4.0/img/app-launchpad-1.webp
  docs/4.0/img/app-launchpad.png
  docs/4.0/img/sealos-desktop.webp
  docs/4.0/img/terminal.jpg
  docs/4.0/img/terminal.webp
Labels: kind/documentation, size/XS

#3336 fix: avoid fetching local repos repeatly
  pkg/filesystem/registry/sync.go
  pkg/registry/commands/sync.go
  pkg/registry/sync/sync.go
Labels: size/L, area/filesystem, area/registry, area/lifecycle-management

#3339 improve cloud deploy
  deploy/cloud/init.sh
  deploy/cloud/scripts/init.sh
Labels: size/S, area/ci

#3345 Try using probe to check pod ready.
  controllers/db/adminer/config/rbac/role.yaml
  controllers/db/adminer/controllers/adminer_controller.go
  controllers/db/adminer/deploy/Kubefile
  go.work.sum
Labels: size/L, area/cloud

#3346 Add adminer prints.
  controllers/db/adminer/api/v1/adminer_types.go
  controllers/db/adminer/config/crd/bases/adminer.db.sealos.io_adminers.yaml
  controllers/db/adminer/controllers/adminer_controller.go
  controllers/db/adminer/controllers/ingress.go
  controllers/db/adminer/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/cloud, area/api

#3348 fix: i18n and db opsrequest
  frontend/providers/applaunchpad/src/components/AppStatusTag/index.tsx
  frontend/providers/applaunchpad/src/components/LangSelect/index.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/apps/index.tsx
  frontend/providers/applaunchpad/src/utils/cookieUtils.ts
  frontend/providers/applaunchpad/src/utils/i18n.ts
  frontend/providers/dbprovider/pnpm-lock.yaml
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/XXL, area/frontend

#3351 Update reflector namespaces.
  deploy/cloud-deprecated/manifests/ingress-nginx/2-godaddy-dns.yaml
  deploy/cloud/manifests/tls-secret.yaml
Labels: size/XS, area/ci

#3347 fix: retry when error contains internal server error message
  go.mod
  go.sum
  go.work.sum
  pkg/registry/sync/sync.go
Labels: size/XXL, area/registry, area/lifecycle-management

#3356 refactor(main): fix ci for link error
  .github/workflows/check-link-error.yml
Labels: size/XS, area/workflow

#3360 Update README_zh.md
  README_zh.md
Labels: size/XS

#3361 Update adminer frontend to support 404&503
  frontend/providers/adminer/package.json
  frontend/providers/adminer/pnpm-lock.yaml
  frontend/providers/adminer/src/pages/index.tsx
Labels: size/XXL, area/frontend

#3364 revert: rollback mergo version
  go.mod
  go.sum
  go.work.sum
  pkg/config/config.go
Labels: size/S, area/config, area/lifecycle-management

#3366 refactor(main): upgrade bot version
  .github/workflows/bot.yml
Labels: size/XS, area/workflow

#3331 perf(frontend/desktop): decrease time of sign in/ sign up
  frontend/desktop/package.json
  frontend/desktop/pnpm-lock.yaml
  frontend/desktop/src/pages/api/auth/oauth/github/index.ts
  frontend/desktop/src/services/backend/db/mongodb.ts
  frontend/desktop/src/services/backend/db/user.ts
  frontend/desktop/src/services/backend/kubernetes/admin.ts
  frontend/desktop/src/services/backend/oauth.ts
  frontend/desktop/src/types/crd.ts
  frontend/desktop/src/types/user.ts
  frontend/desktop/src/utils/tools.ts
Labels: size/L, area/frontend

#3374 Update README.md
  README.md
Labels: size/S

#3357 feat: Anticipated Price
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/components/Table/index.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/resourcePrice.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/DelModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/ConfigmapModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/PriceBox.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/store/static.ts
Labels: size/L, area/frontend

#3377 update en and zhcn version of illa installation instruction
  docs/4.0/docs/examples/images/illa1.jpg
  docs/4.0/docs/examples/images/illa2.jpg
  docs/4.0/docs/examples/images/illa3.jpg
  docs/4.0/docs/examples/images/illa_create_app.jpg
  docs/4.0/docs/examples/images/illa_deploy.jpg
  docs/4.0/docs/examples/images/illa_home.jpg
  docs/4.0/docs/examples/images/illa_log_in.jpeg
  docs/4.0/docs/examples/images/illa_run.jpg
  docs/4.0/docs/examples/low-code-platform/install-illacloud.md
  docs/4.0/i18n/zh-Hans/examples/images/illa0.png
  docs/4.0/i18n/zh-Hans/examples/images/illa1.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa2.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa3.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa4.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa5.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa6.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa_home.jpg
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-illacloud.md
Labels: kind/documentation, size/L, area/cloud

#3378 Update install-illacloud.md
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-illacloud.md
Labels: kind/documentation, size/XS, area/cloud

#3354 Update README.md
  README.md
Labels: size/XS

#3376 feat: support override platform in diff command
  pkg/buildah/diff.go
  pkg/buildah/interface.go
  pkg/buildah/runtime.go
  pkg/buildah/util.go
Labels: area/buildah, size/S, area/lifecycle-management

#3373 perf(frontend/cost center): add feature cost estimation, fix some bugs
  frontend/providers/costcenter/.prettierignore
  frontend/providers/costcenter/.prettierrc.js
  frontend/providers/costcenter/next-i18next.config.js
  frontend/providers/costcenter/next.config.js
  frontend/providers/costcenter/package.json
  frontend/providers/costcenter/pnpm-lock.yaml
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/assert/Chart7.svg
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/buget.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/lineChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/pieChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/selectYear.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/components/cost_overview/cost.tsx
  frontend/providers/costcenter/src/components/cost_overview/trend.tsx
  frontend/providers/costcenter/src/components/notFound.tsx
  frontend/providers/costcenter/src/components/outerLink.tsx
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/constants/valuation.ts
  frontend/providers/costcenter/src/hooks/useBillingData.tsx
  frontend/providers/costcenter/src/hooks/useRecharge.tsx
  frontend/providers/costcenter/src/layout/sidebar.tsx
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/api/account/getAmount.ts
  frontend/providers/costcenter/src/pages/api/account/payment/index.ts
  frontend/providers/costcenter/src/pages/api/billing/index.ts
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/service/request.ts
  frontend/providers/costcenter/src/stores/billing.ts
  frontend/providers/costcenter/src/stores/overview.ts
  frontend/providers/costcenter/src/utils/format.ts
  frontend/providers/costcenter/test.md
  frontend/providers/costcenter/tsconfig.json
Labels: size/XXL, area/frontend

#3385 fix: error while unmount container mountpoint
  go.mod
  go.sum
  go.work.sum
Labels: size/S

#3384 database i18n
  frontend/READMD.md
  frontend/providers/applaunchpad/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/PriceBox.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/empty.tsx
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
  frontend/providers/dbprovider/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/dbprovider/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/dbprovider/next-i18next.config.js
  frontend/providers/dbprovider/next.config.js
  frontend/providers/dbprovider/package.json
  frontend/providers/dbprovider/pnpm-lock.yaml
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/components/DBStatusTag/index.tsx
  frontend/providers/dbprovider/src/components/Table/index.tsx
  frontend/providers/dbprovider/src/components/Tabs/index.tsx
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/constants/editApp.ts
  frontend/providers/dbprovider/src/hooks/useConfirm.tsx
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DelModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/LogsModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/PodDetailModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Pods.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Yaml.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/empty.tsx
  frontend/providers/dbprovider/src/pages/dbs/index.tsx
  frontend/providers/dbprovider/src/utils/cookieUtils.ts
  frontend/providers/dbprovider/src/utils/i18n.ts
  frontend/providers/dbprovider/src/utils/tools.ts
Labels: size/XL, area/frontend

#3388 restore easter egg feature in diff command
  pkg/buildah/diff.go
Labels: area/buildah, size/L, area/lifecycle-management

#3338 Add an example of how to fast deloy Gitea on Sealos
  docs/4.0/docs/examples/gitea/install-gitea.md
  docs/4.0/docs/examples/images/gitea-0.png
  docs/4.0/docs/examples/images/gitea-1.png
  docs/4.0/docs/examples/images/gitea-10.png
  docs/4.0/docs/examples/images/gitea-11.png
  docs/4.0/docs/examples/images/gitea-12.png
  docs/4.0/docs/examples/images/gitea-13.png
  docs/4.0/docs/examples/images/gitea-14.png
  docs/4.0/docs/examples/images/gitea-15.png
  docs/4.0/docs/examples/images/gitea-16.png
  docs/4.0/docs/examples/images/gitea-17.png
  docs/4.0/docs/examples/images/gitea-2.png
  docs/4.0/docs/examples/images/gitea-3.png
  docs/4.0/docs/examples/images/gitea-4.png
  docs/4.0/docs/examples/images/gitea-5.png
  docs/4.0/docs/examples/images/gitea-6.png
  docs/4.0/docs/examples/images/gitea-7.png
  docs/4.0/docs/examples/images/gitea-8.png
  docs/4.0/docs/examples/images/gitea-9.png
  docs/4.0/i18n/zh-Hans/examples/gitea/install-gitea.md
  docs/4.0/i18n/zh-Hans/examples/images/gitea-0.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-1.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-10.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-11.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-12.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-13.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-14.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-15.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-16.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-17.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-2.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-3.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-4.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-5.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-6.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-7.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-8.png
  docs/4.0/i18n/zh-Hans/examples/images/gitea-9.png
Labels: kind/documentation, size/L, area/cloud

#3302 docs: add install example for tailchat
  README_zh.md
  docs/4.0/docs/examples/images/tailchat/0.png
  docs/4.0/docs/examples/images/tailchat/1.png
  docs/4.0/docs/examples/images/tailchat/10.png
  docs/4.0/docs/examples/images/tailchat/11.png
  docs/4.0/docs/examples/images/tailchat/12.png
  docs/4.0/docs/examples/images/tailchat/13.png
  docs/4.0/docs/examples/images/tailchat/14.png
  docs/4.0/docs/examples/images/tailchat/15.png
  docs/4.0/docs/examples/images/tailchat/16.png
  docs/4.0/docs/examples/images/tailchat/17.png
  docs/4.0/docs/examples/images/tailchat/2.png
  docs/4.0/docs/examples/images/tailchat/3.png
  docs/4.0/docs/examples/images/tailchat/4.png
  docs/4.0/docs/examples/images/tailchat/5.png
  docs/4.0/docs/examples/images/tailchat/6.png
  docs/4.0/docs/examples/images/tailchat/7.png
  docs/4.0/docs/examples/images/tailchat/8.png
  docs/4.0/docs/examples/images/tailchat/9.png
  docs/4.0/docs/examples/social-communication/install-tailchat.md
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/0.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/1.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/10.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/11.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/12.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/13.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/14.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/15.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/16.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/17.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/2.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/3.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/4.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/5.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/6.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/7.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/8.png
  docs/4.0/i18n/zh-Hans/examples/images/tailchat/9.png
  docs/4.0/i18n/zh-Hans/examples/social-communication/install-tailchat.md
  docs/4.0/sidebar.json
Labels: kind/documentation, size/L, area/cloud

#3395 build(main): add test docker image
  .github/workflows/e2e_test_core.yml
  test/e2e/runtime_version_docker_119_test.go
  test/e2e/runtime_version_docker_120_test.go
  test/e2e/runtime_version_docker_121_test.go
  test/e2e/runtime_version_docker_122_test.go
  test/e2e/runtime_version_docker_123_test.go
  test/e2e/runtime_version_docker_124_test.go
  test/e2e/runtime_version_docker_125_test.go
  test/e2e/runtime_version_docker_126_test.go
  test/e2e/runtime_version_docker_127_test.go
Labels: size/L, area/test, area/workflow

#3390 Update frontend deploy update strategy.
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/adminer/deploy/manifests/deploy.yaml
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/bytebase/deploy/manifests/deploy.yaml
  frontend/providers/costcenter/deploy/manifests/deploy.yaml
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/imagehub/deploy/manifests/deploy.yaml
  frontend/providers/terminal/deploy/manifests/deploy.yaml
  frontend/static-cdn/deploy/manifest.yaml
Labels: size/M, area/frontend

#3399 unify secret name
  deploy/cloud/manifests/tls-secret.yaml
  deploy/cloud/scripts/init.sh
  frontend/providers/applaunchpad/deploy/Kubefile
  frontend/providers/applaunchpad/src/pages/api/platform/getEnv.ts
  frontend/providers/applaunchpad/src/store/static.ts
Labels: size/S, area/ci, area/frontend

#3401 Update Intro
  docs/4.0/docs/Intro.md
  docs/4.0/docs/platform-components/bytebase/bytebase.md
  docs/4.0/i18n/zh-Hans/Intro.md
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/bytebase.md
Labels: kind/documentation, size/M, area/cloud

#3398 build(main): add sync patch image
  .github/workflows/release.yml
Labels: size/S, area/workflow

#3405 refactor(main): delete node for check
  pkg/apply/processor/interface.go
  pkg/apply/processor/scale.go
  pkg/runtime/runtime_getter.go
  pkg/types/v1beta1/cluster_args.go
Labels: size/S, area/apply, area/lifecycle-management, area/api, area/runtime

#3412 refactor(main): auto cherry pick
  .github/workflows/bot-auto-cherry-pick.yml
  .github/workflows/bot-cherry-pick.yml
Labels: size/M, area/workflow

#3359 refactor(main): refactor user and update old user data
  controllers/account/controllers/account_controller.go
  controllers/user/.gitignore
  controllers/user/api/v1/groupversion_info.go
  controllers/user/api/v1/usergroup_webhook.go
  controllers/user/api/v1/usergroupbinding_webhook.go
  controllers/user/api/v1/webhook_suite_test.go
  controllers/user/config/rbac/role.yaml
  controllers/user/config/webhook/manifests.yaml
  controllers/user/controllers/cache/cache.go
  controllers/user/controllers/helper/config/pod_security.go
  controllers/user/controllers/helper/config/rbac.go
  controllers/user/controllers/helper/helper.go
  controllers/user/controllers/helper/kubeconfig.go
  controllers/user/controllers/helper/kubeconfig/cert.go
  controllers/user/controllers/helper/kubeconfig/csr.go
  controllers/user/controllers/helper/kubeconfig/interface.go
  controllers/user/controllers/helper/kubeconfig/sa.go
  controllers/user/controllers/helper/kubeconfig/suite_test.go
  controllers/user/controllers/helper/kubeconfig/tools.go
  controllers/user/controllers/helper/kubeconfig/webhook.go
  controllers/user/controllers/helper/kubeconfig/webhook.md
  controllers/user/controllers/helper/rbac.yaml
  controllers/user/controllers/helper/sa.go
  controllers/user/controllers/migrate/migrate.go
  controllers/user/controllers/namespace_controller.go
  controllers/user/controllers/suite_test.go
  controllers/user/controllers/user_controller.go
  controllers/user/controllers/user_expiration_controller.go
  controllers/user/controllers/usergroup_controller.go
  controllers/user/controllers/usergroupbinding_controller.go
  controllers/user/controllers/usergroupnamespacebinding_controller.go
  controllers/user/controllers/usergroupuserbinding_controller.go
  controllers/user/deploy/Kubefile
  controllers/user/deploy/manifests/deploy.yaml
  controllers/user/main.go
  controllers/user/user.env
Labels: size/XXL, area/cloud, area/test

#3418 fix: volumn auto name and pod status
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/constants/theme.ts
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/LogsModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/store/app.ts
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: size/L, area/frontend

#3420 feat(frontend/costcenter):configable bonus
  frontend/providers/costcenter/Dockerfile
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/lineChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/components/outerLink.tsx
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/hooks/useRecharge.tsx
  frontend/providers/costcenter/src/pages/api/price/bonus.ts
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/service/backend/kubernetes.ts
  frontend/providers/costcenter/src/stores/overview.ts
  frontend/providers/costcenter/src/types/billing.ts
  frontend/providers/costcenter/src/types/payment.ts
  frontend/providers/costcenter/src/utils/favorable.ts
Labels: size/XL, area/frontend

#3394 Adapt refactor user controller #3359
  controllers/account/README.md
  controllers/account/api/v1/debt_webhook.go
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/config/manager/manager.yaml
  controllers/account/config/rbac/role.yaml
  controllers/account/config/webhook/manifests.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/billing_controller.go
  controllers/account/controllers/billingrecordquery_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/payment_controller.go
  controllers/account/deploy/Kubefile
  controllers/account/deploy/manifests/deploy.yaml
  controllers/account/deploy/manifests/mongo-secret.yaml.tmpl
  controllers/account/main.go
  controllers/account/testdata/account/recharge.go
  controllers/account/testdata/api/account.go
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
Labels: size/L, area/cloud, area/frontend

#3423 feat. change app rbac for default user.
  controllers/app/deploy/manifests/rbac.yaml
Labels: size/XS, area/cloud

#3426 feat. update cloud cluster image build process
  .github/workflows/cloud.yml
  deploy/cloud/init.sh
  deploy/cloud/scripts/init.sh
Labels: size/M, area/ci, area/workflow

#3414 feat(frontend/desktop):login by password
  frontend/desktop/.env
  frontend/desktop/public/images/Vector.svg
  frontend/desktop/public/images/ic_baseline-wechat.svg
  frontend/desktop/public/images/language.svg
  frontend/desktop/public/images/lock.svg
  frontend/desktop/public/images/person.svg
  frontend/desktop/public/images/sealos-title.png
  frontend/desktop/public/images/uil_info-circle.svg
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh-Hans/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/LangSelect/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/notification/index.module.scss
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/components/user_menu/index.tsx
  frontend/desktop/src/hooks/useRecharge.tsx
  frontend/desktop/src/pages/api/auth/oauth/github/index.ts
  frontend/desktop/src/pages/api/auth/oauth/wechat/index.ts
  frontend/desktop/src/pages/api/auth/password/exist.ts
  frontend/desktop/src/pages/api/auth/password/index.ts
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/pages/api/auth/phone/verify.ts
  frontend/desktop/src/pages/api/price/bonus.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/services/backend/db/user.ts
  frontend/desktop/src/services/backend/kubernetes/admin.ts
  frontend/desktop/src/services/backend/kubernetes/user.ts
  frontend/desktop/src/services/backend/oauth.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/stores/overview.ts
  frontend/desktop/src/stores/session.ts
  frontend/desktop/src/types/payment.ts
  frontend/desktop/src/types/user.ts
  frontend/desktop/src/utils/crypto.ts
  frontend/desktop/src/utils/format.ts
  frontend/desktop/src/utils/tools.ts
Labels: size/XXL, area/frontend

#3421 Feature:sudo support for scp
  pkg/ssh/scp.go
  pkg/ssh/ssh.go
  pkg/ssh/sshcmd.go
  pkg/ssh/suftp.go
Labels: size/L, area/lifecycle-management, area/ssh

#3432 fix(frontend/desktop&provider/cost center):fix auto update after rech…
  frontend/desktop/README.md
  frontend/desktop/src/components/account/index.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
Labels: size/M, area/frontend

#3408 feat: transfer account balance
  controllers/account/PROJECT
  controllers/account/api/v1/accountbalance_types.go
  controllers/account/api/v1/transfer_types.go
  controllers/account/api/v1/zz_generated.deepcopy.go
  controllers/account/config/crd/kustomization.yaml
  controllers/account/config/rbac/role.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/transfer_controller.go
  controllers/account/deploy/manifests/deploy.yaml
  controllers/account/go.mod
  controllers/account/go.sum
  controllers/account/main.go
Labels: size/XL, area/cloud, area/api

#3433 add Doc Directory
  docs/4.0/sidebar.json
Labels: kind/documentation, size/S

#3434 fix: upgrade k8s version failed on non default ssh port (issue #3069)
  pkg/runtime/upgrade.go
Labels: size/XS, area/lifecycle-management, area/runtime

#3436 feat. desktop cluster image
  frontend/desktop/deploy/Kubefile
  frontend/desktop/deploy/README.md
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/deploy/manifests/rbac.yaml
  frontend/desktop/deploy/manifests/secret.yaml
Labels: size/L, area/frontend

#3419 add support for kubeblocks to bytebase controller
  controllers/db/bytebase/apis/bytebase/v1/bytebase_types.go
  controllers/db/bytebase/config/crd/bases/bytebase.db.sealos.io_bytebases.yaml
  controllers/db/bytebase/config/rbac/role.yaml
  controllers/db/bytebase/controllers/bytebase/bytebase_controller.go
  controllers/db/bytebase/controllers/bytebase/instance.go
  controllers/db/bytebase/controllers/bytebase/sync.go
  controllers/db/bytebase/deploy/manifests/deploy.yaml.tmpl
  controllers/db/bytebase/main.go
Labels: size/L, area/cloud, area/api

#3431 add rbac for dbprovider
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/dbprovider/deploy/manifests/rbac.yaml
Labels: size/S, area/frontend

#3441 Fix Image Path
  docs/4.0/docs/examples/first-code/images/java-example-0.png
  docs/4.0/i18n/zh-Hans/examples/programming-languages/Quick installation of Vue Apps.md
Labels: kind/documentation, size/XS, area/cloud

#3427 fix(main): fix merge support $()
  pkg/buildimage/merge.go
  pkg/buildimage/merge_test.go
  pkg/guest/guest.go
Labels: size/M, area/guest, area/test, area/lifecycle-management, area/build

#3442 refactor: save and load subcommand support multiple images in a single tar…
  pkg/buildah/build.go
  pkg/buildah/constants.go
  pkg/buildah/imagesaver.go
  pkg/buildah/load.go
  pkg/buildah/merge.go
  pkg/buildah/save.go
  test/e2e/images_test.go
  test/e2e/run_other_test.go
  test/e2e/suites/operators/image.go
  test/e2e/suites/operators/interface.go
  test/e2e/testhelper/cmd/sealosCmd.go
Labels: area/buildah, size/L, area/test, area/lifecycle-management

#3447 support old version of kubelet-config
  pkg/client-go/kubernetes/expansion.go
Labels: size/M, area/lifecycle-management

#3448 feat: update sealos cloud cluster image
  .github/workflows/cloud.yml
  deploy/cloud/etc/sealos/desktop-config.yaml
  deploy/cloud/init.sh
  deploy/cloud/manifests/mongodb.yaml
  deploy/cloud/scripts/gen-mongodb-uri.sh
  deploy/cloud/scripts/init.sh
  frontend/desktop/deploy/Kubefile
  frontend/desktop/deploy/README.md
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/deploy/manifests/secret.yaml
  frontend/providers/terminal/deploy/Kubefile
  frontend/providers/terminal/deploy/manifests/deploy.yaml.tmpl
Labels: size/L, area/ci, area/frontend, area/workflow

#3451 feat. fix desktop deploy env
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend
