Repository labring/sealos, pull requests merged in 2023-11, with the labels that each got.

#4218 fix user avator && url
  docs/website/src/pages/pricing/plan/index.tsx
  docs/website/src/pages/pricing/product/index.tsx
  service/license/public/images/avatar.svg
  service/license/src/components/Account/index.tsx
  service/license/src/components/CodeBlock/index.tsx
  service/license/src/components/Signin/index.tsx
  service/license/src/components/account/index.tsx
  service/license/src/components/signin/index.tsx
  service/license/src/pages/api/payment/create.ts
  service/license/src/pages/cluster/components/Tutorial.tsx
  service/license/src/pages/license/components/Recharge.tsx
  service/license/src/pages/pricing/components/Product.tsx
  service/license/src/pages/pricing/components/ServicePackage.tsx
  service/license/src/pages/signin.tsx
  service/license/src/services/backend/db/license.ts
  service/license/src/utils/tools.ts
Labels: kind/documentation, size/L, area/cloud

#4220 fix oss file name && docs footer
  docs/4.0/code.json
  docs/website/docusaurus.config.js
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/footer.json
  docs/website/src/pages/components/Footer/index.tsx
  docs/website/static/img/favicon.ico
  docs/website/static/img/sealos.ico
  service/license/src/pages/cluster/components/Tutorial.tsx
  service/license/src/pages/pricing/components/Product.tsx
Labels: kind/documentation, size/L, area/cloud

#4221 feat(frontend/desktop):support modify team limit
  frontend/desktop/README.md
  frontend/desktop/src/__tests__/api/e2e/namespace/create.test.ts
  frontend/desktop/src/pages/api/auth/namespace/create.ts
  frontend/desktop/src/services/enable.ts
  frontend/plugins/monitor/postcss.config.js
  frontend/plugins/monitor/src/components/chart/pie-chart.tsx
  frontend/plugins/monitor/src/components/kube/kube-accordion.tsx
  frontend/plugins/monitor/src/components/kube/kube-drawer.tsx
  frontend/plugins/monitor/src/components/kube/kube-table.tsx
  frontend/plugins/monitor/src/components/kube/loading.tsx
  frontend/plugins/monitor/src/components/kube/local-date.tsx
  frontend/plugins/monitor/src/pages/monitor/components/config/config-map/config-map-detail.tsx
  frontend/plugins/monitor/src/pages/monitor/components/sidebar/sidebar.tsx
  frontend/plugins/monitor/src/store/k8s/configmap.store.ts
  frontend/plugins/monitor/src/utils/kube-object-info.ts
  frontend/plugins/monitor/src/utils/request-controller.ts
  frontend/plugins/monitor/src/utils/status-color.ts
  frontend/plugins/monitor/tsconfig.json
  frontend/providers/dbprovider/src/pages/dbs/index.tsx
Labels: size/L, area/frontend

#4223 add acme resolver monitoring
  controllers/pkg/resources/named.go
Labels: size/S, area/cloud

#4226 feat:docs language-differentiated domain names
  docs/4.0/code.json
  docs/website/docusaurus.config.js
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
  docs/website/src/hooks/useWindow.ts
  docs/website/src/pages/components/Banner/index.tsx
  docs/website/src/pages/components/Capability/index.tsx
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/components/Introduce/index.phone.scss
  docs/website/src/pages/components/Introduce/index.scss
  docs/website/src/pages/components/Introduce/index.tsx
  docs/website/src/pages/index.tsx
  docs/website/src/pages/pricing/header/index.tsx
  docs/website/src/pages/pricing/index.tsx
  docs/website/src/pages/pricing/plan/index.tsx
Labels: kind/documentation, size/L

#4225 feat:standard cluster purchase process
  frontend/providers/cronjob/src/utils/json2Yaml.ts
  service/license/src/hooks/useConfirm.tsx
  service/license/src/pages/pricing/components/Product.tsx
Labels: size/L, area/cloud, area/frontend

#4231 add proxy prefix
  scripts/cloud/install.sh
  scripts/install.sh
Labels: size/S, area/ci

#4224 docs: `sealos create` support for environment variable based template rendering
  docs/4.0/docs/self-hosting/lifecycle-management/reference/sealos/commands/create.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/reference/sealos/commands/create.md
Labels: kind/documentation, size/S, area/cloud

#4222 feature: `sealos create` support for environment variable based template rendering
  pkg/buildah/create.go
  pkg/constants/consts.go
  pkg/env/env.go
  pkg/filesystem/rootfs/rootfs_default.go
  pkg/utils/strings/strings.go
Labels: area/buildah, size/L, area/config, area/filesystem, area/lifecycle-management

#4235 Docs: update installation section
  docs/4.0/i18n/zh-Hans/self-hosting/images/chrome-certificate-1.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/images/chrome-certificate-2.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/images/firefox-export-certificate-1.png
  docs/4.0/i18n/zh-Hans/self-hosting/images/firefox-export-certificate-2.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/images/firefox-export-certificate-3.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/images/safari-export-certificate-1.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/images/safari-export-certificate-2.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/images/safari-export-certificate-3.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/images/windows-trust-certificate.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/installation.md
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/footer.json
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
Labels: kind/documentation, size/L, area/cloud

#4238 fix result
  controllers/pkg/database/mongodb.go
Labels: size/XS, area/cloud

#4227 Update README.md
  README.md
Labels: size/XS

#4241 docs: modify doc path
  docs/4.0/code.json
  docs/website/docusaurus.config.js
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
  docs/website/src/hooks/useWindow.ts
  docs/website/src/pages/components/Capability/index.tsx
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/self-hosting/advantage/index.tsx
  docs/website/src/pages/self-hosting/header/index.scss
  docs/website/src/pages/self-hosting/header/index.tsx
  docs/website/src/pages/self-hosting/index.scss
  docs/website/src/pages/self-hosting/index.tsx
  docs/website/src/pages/self-hosting/overview/index.scss
  docs/website/src/pages/self-hosting/overview/index.tsx
  docs/website/src/pages/self-hosting/plan/index.tsx
  docs/website/src/pages/self-hosting/product/index.tsx
  frontend/providers/template/src/pages/app/components/list.tsx
  frontend/providers/template/src/pages/deploy/components/ReadMe.tsx
Labels: kind/documentation, size/M, area/frontend

#4247 Docs: add pricing page
  docs/4.0/i18n/zh-Hans/self-hosting/installation.md
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
  docs/website/src/pages/pricing.md
  docs/website/src/pages/self-hosting/plan/index.tsx
  docs/website/src/pages/zh-Hans/pricing.md
  lychee.toml
Labels: kind/documentation, size/L, area/cloud

#4252 fix database service ci.
  .github/workflows/services.yml
Labels: size/XS, area/workflow

#4253 fix database service ci
  .github/workflows/services.yml
Labels: size/XS, area/workflow

#4254 Update services.yml
  .github/workflows/services.yml
Labels: size/XS, area/workflow

#4255 fix cloud version
  scripts/cloud/install.sh
Labels: size/S, area/ci

#4257 Update private cloud link
  README.md
Labels: size/XS

#4260 feat:docs add head meta
  docs/website/src/pages/components/Banner/index.scss
  docs/website/src/pages/index.tsx
Labels: kind/documentation, size/M

#4261 Docs: update installation
  docs/4.0/i18n/zh-Hans/self-hosting/installation.md
Labels: kind/documentation, size/M, area/cloud

#4258 feature: environment variable based template rendering in sealos create
  pkg/buildah/create.go
  pkg/constants/contants.go
  pkg/env/env.go
  pkg/filesystem/rootfs/rootfs_default.go
  pkg/utils/strings/strings.go
Labels: area/buildah, size/L, area/config, area/filesystem, area/lifecycle-management

#4262 fix:docs head meta
  docs/website/docusaurus.config.js
  docs/website/src/hooks/useUploadData.ts
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/index.tsx
  docs/website/src/pages/self-hosting/product/index.tsx
Labels: kind/documentation, size/M

#4265 CI: add cloud release ci and use ossutil to upload offline tar package.
  .github/workflows/cloud-release.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
  scripts/cloud/build-offline-tar.sh
Labels: size/L, area/ci, area/workflow

#4266 feat:docs add link proxy
  docs/website/.gitignore
  docs/website/docusaurus.config.js
  docs/website/package.json
  docs/website/src/hooks/useUploadData.ts
  docs/website/src/hooks/useWindow.ts
  docs/website/src/pages/components/Header/index.phone.scss
  docs/website/src/pages/components/Header/index.scss
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/index.tsx
  docs/website/src/pages/self-hosting/header/index.scss
  docs/website/static/global.js
  docs/website/yarn.lock
Labels: kind/documentation, size/M

#4267 Docs: add environment for building website
  .github/workflows/deploy-docs-preview.yml
  .github/workflows/deploy-docs-site.yml
  .github/workflows/docs-site-image.yml
  docs/4.0/i18n/zh-Hans/self-hosting/installation.md
  docs/website/Dockerfile
Labels: kind/documentation, size/S, area/cloud, area/workflow

#4268 Fix env for BD_TOKEN
  .github/workflows/deploy-docs-preview.yml
  .github/workflows/deploy-docs-site.yml
  .github/workflows/docs-site-image.yml
Labels: size/XS, area/workflow

#4271 Fix/cloud port
  controllers/terminal/deploy/Kubefile
  controllers/terminal/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/cronjob/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/license/deploy/manifests/appcr.yaml.tmpl
  scripts/cloud/install.sh
Labels: size/S, area/cloud, area/ci, area/frontend

#4272 fix:docs & delete db role & baidu
  docs/website/docusaurus.config.js
  docs/website/package.json
  docs/website/src/hooks/useUploadData.ts
  docs/website/src/hooks/useWindow.ts
  docs/website/src/pages/components/Banner/index.tsx
  docs/website/src/pages/components/Capability/index.tsx
  docs/website/src/pages/components/Header/index.scss
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/index.tsx
  docs/website/src/pages/self-hosting/header/index.tsx
  docs/website/src/pages/self-hosting/product/index.tsx
  docs/website/static/global.js
  docs/website/yarn.lock
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/desktop/src/pages/api/platform/uploadData.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/providers/dbprovider/src/pages/api/delDBByName.ts
  service/license/src/api/system.ts
  service/license/src/components/Signin/index.tsx
  service/license/src/components/signin/index.tsx
  service/license/src/pages/api/platform/uploadData.ts
  service/license/src/pages/callback.tsx
  service/license/src/pages/license/components/Recharge.tsx
  service/license/src/pages/pricing/components/Product.tsx
  service/license/src/pages/signin.tsx
Labels: kind/documentation, size/L, area/cloud, area/frontend

#4275 debt skip license cr.
  controllers/account/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/cloud

#4274 feat:license deploy tutorial & monorepo dependencies
  frontend/desktop/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/costcenter/package.json
  frontend/providers/cronjob/package.json
  frontend/providers/dbprovider/package.json
  frontend/providers/license/package.json
  frontend/providers/license/public/icons/license-bg.png
  frontend/providers/license/public/icons/license-bg.svg
  frontend/providers/license/src/pages/index.tsx
  frontend/providers/template/package.json
  frontend/providers/template/src/pages/api/updateRepo.ts
  service/license/package.json
  service/license/pnpm-lock.yaml
  service/license/src/components/CodeBlock/index.tsx
  service/license/src/components/Layout/index.tsx
  service/license/src/pages/_document.tsx
  service/license/src/pages/cluster/components/ReadMe.tsx
  service/license/src/pages/cluster/components/Tutorial.tsx
  service/license/src/pages/cluster/index.tsx
  service/license/src/styles/prism.css
Labels: size/XXL, area/cloud, area/frontend

#4242 fix get monitoring result
  controllers/resources/controllers/monitor_controller.go
Labels: size/XS, area/cloud

#4263 docs: upgrade sreg gomod
  go.mod
  go.sum
  go.work.sum
  test/e2e/go.mod
  test/e2e/go.sum
Labels: size/XL, area/test

#4234 Fix template deploy ingress temp.
  frontend/providers/template/deploy/manifests/ingress.yaml.tmpl
Labels: size/XS, area/frontend

#4283 docs: upgrade sreg gomod for release-v4.4
  go.mod
  go.sum
  go.work.sum
  test/e2e/go.mod
  test/e2e/go.sum
Labels: size/XL, area/test

#4281 Bump: add sub go works to support bump kubernetes api from v0.25.6 to v0.27.4 or higher.
  controllers/account/go.mod
  controllers/account/go.sum
  controllers/go.work
  controllers/go.work.sum
  go.mod
  go.sum
  go.work
  go.work.sum
  service/database/go.mod
  service/database/go.sum
  service/go.work
  service/go.work.sum
  service/pay/go.mod
  service/pay/go.sum
Labels: size/XXL, need-e2e-apply-test, area/cloud

#4286 cherry-pick #4281.
  go.mod
  go.sum
  go.work.sum
Labels: size/L

#4289 fix service go work
  service/go.work
Labels: size/XS, area/cloud

#4285 fix: launchpad rollingupdate
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/XS, area/frontend

#4288 docs:support lang env
  docs/website/Dockerfile
  docs/website/docusaurus.config.js
  docs/website/package.json
  docs/website/yarn.lock
Labels: kind/documentation, size/S

#4292 fix:docs router path
  docs/website/src/components/NavBanner/index.scss
  docs/website/src/components/NavBanner/index.tsx
  docs/website/src/components/_Banner/index.scss
  docs/website/src/components/_Banner/index.tsx
  docs/website/src/pages/components/Header/index.scss
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/index.tsx
  docs/website/src/pages/self-hosting/header/index.scss
  docs/website/src/pages/self-hosting/header/index.tsx
  docs/website/src/pages/self-hosting/index.tsx
  docs/website/static/icons/close.svg
Labels: kind/documentation, size/L

#4294 fix(costcenter: invoice):fix amount
  frontend/plugins/kubepanel/src/pages/kubepanel/components/config/config-map/config-map.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/workload/deployment/deployment.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/workload/pod/container-detail.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/workload/statefulset/statefulset.tsx
  frontend/providers/costcenter/src/components/invoice/invoiceTable.tsx
  frontend/providers/costcenter/src/pages/create_invoice/index.tsx
  frontend/providers/costcenter/src/types/billing.ts
  frontend/providers/costcenter/src/types/invoice.ts
  frontend/providers/template/src/pages/app/components/list.tsx
  frontend/providers/template/src/pages/deploy/components/ReadMe.tsx
Labels: size/M, area/frontend

#4293 feat. ingress mutate webhook support annotations flags.
  controllers/admission/api/v1/ingress_webhook.go
  controllers/admission/api/v1/namespace_webhook.go
  controllers/admission/api/v1/utils.go
  controllers/admission/cmd/main.go
  controllers/admission/config/default/manager_auth_proxy_patch.yaml
  controllers/admission/config/manager/manager.yaml
  controllers/admission/deploy/Kubefile
  controllers/admission/deploy/manifests/deploy.yaml.tmpl
  service/database/go.sum
  service/go.work.sum
Labels: size/L, area/cloud

#4296 fix(objectstorage): regex
  frontend/pnpm-lock.yaml
  frontend/providers/objectstorage/package.json
  frontend/providers/objectstorage/src/components/BucketContainer/FileManager.tsx
  frontend/providers/objectstorage/src/utils/tools.ts
Labels: size/L, area/frontend

#4299 Pref: sealos self-hosting docs.
  docs/4.0/docs/self-hosting/lifecycle-management/lifecycle-management.md
  docs/4.0/docs/self-hosting/sealos/installation.md
  docs/4.0/i18n/zh-Hans/current.json
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/lifecycle-management.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/chrome-certificate-1.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/chrome-certificate-2.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/firefox-export-certificate-1.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/firefox-export-certificate-2.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/firefox-export-certificate-3.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/safari-export-certificate-1.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/safari-export-certificate-2.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/safari-export-certificate-3.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/windows-trust-certificate.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/installation.md
  docs/4.0/sidebar.json
Labels: kind/documentation, size/M, area/cloud

#4298 feat:docs add blog
  docs/4.0/code.json
  docs/website/docusaurus.config.js
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
  docs/website/src/components/NavBanner/index.tsx
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/index.tsx
  docs/website/src/pages/self-hosting/header/index.tsx
  service/license/src/components/Signin/index.tsx
  service/license/src/components/signin/index.tsx
  service/license/src/pages/cluster/components/Tutorial.tsx
Labels: kind/documentation, size/M, area/cloud

#4303 fix:docs banner path
  docs/website/src/components/NavBanner/index.tsx
Labels: kind/documentation, size/XS

#4302 pref: sealos self-hosting qa docs.
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/QA.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/installation.md
Labels: kind/documentation, size/M, area/cloud

#4306 pref: offline tar support arm64.
  .github/workflows/cloud-release.yml
  scripts/cloud/build-offline-tar.sh
Labels: size/M, area/ci, area/workflow

#4305 Docs: update Q&A document
  docs/4.0/docs/self-hosting/sealos/QA.md
  docs/4.0/i18n/zh-Hans/current.json
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/QA.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/installation.md
  docs/4.0/sidebar.json
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
Labels: kind/documentation, size/L, area/cloud

#4309 Docs: add post
  .github/workflows/deploy-docs-preview.yml
  docs/blog/2022/06/30/sealos-is-unique.md
  docs/blog/en/2023/06/sealos-release.md
  docs/blog/en/authors.yml
  docs/blog/zh-Hans/2019/08/26/kubernetes-with-sealos.md
  docs/blog/zh-Hans/2023/06/sealos-release.md
  docs/blog/zh-Hans/2023/10/22/vm-sealos-create.md
  docs/blog/zh-Hans/2023/11/10/velero的使用.md
  docs/blog/zh-Hans/authors.yml
  docs/blog/zh-Hans/options.json
  docs/website/Dockerfile
  docs/website/docusaurus.config.js
  docs/website/package.json
Labels: kind/documentation, size/L, area/workflow

#4310 Docs: fix bug for building documentation site
  .github/workflows/deploy-docs-preview.yml
  .github/workflows/deploy-docs-site.yml
  docs/blog/zh-Hans/2023/11/10/velero的使用.md
  docs/website/Dockerfile
  docs/website/package.json
Labels: kind/documentation, size/S, area/workflow

#4313 Docs: add post "what is sealos"
  docs/blog/en/2023/sealos-release.md
  docs/blog/en/2023/what-is-sealos.md
  docs/blog/zh-Hans/2023/sealos-release.md
  docs/blog/zh-Hans/2023/velero的使用.md
  docs/blog/zh-Hans/2023/vm-sealos-create.md
  docs/blog/zh-Hans/2023/what-is-sealos.md
Labels: kind/documentation, size/XL

#4316 feat:license deployment command
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/delApp.ts
  frontend/providers/applaunchpad/src/pages/api/getApps.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getEnv.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/delAppByName.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/getApps.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/cronjob/src/pages/_app.tsx
  frontend/providers/dbprovider/src/api/platform.ts
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/template/package.json
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/api/app.ts
  frontend/providers/template/src/pages/api/v1alpha/listTemplate.ts
  frontend/providers/template/src/pages/develop/components/BreadCrumbHeader.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/instance/components/appList.tsx
  frontend/providers/template/src/pages/instance/components/cronjobList.tsx
  frontend/providers/template/src/pages/instance/components/dbList.tsx
  frontend/providers/template/src/pages/instance/components/otherList.tsx
  frontend/providers/terminal/.env
  frontend/providers/terminal/src/pages/index.tsx
  service/license/public/locales/en/common.json
  service/license/public/locales/zh/common.json
  service/license/src/components/CodeBlock/index.tsx
  service/license/src/components/Textarea/TagTextarea.tsx
  service/license/src/pages/cluster/components/CommandForm.tsx
  service/license/src/pages/cluster/components/ReadMe.tsx
  service/license/src/pages/cluster/components/Tutorial.tsx
  service/license/src/pages/cluster/index.tsx
  service/license/src/styles/chakraTheme.ts
  service/license/src/styles/prism.css
  service/license/src/types/cluster.ts
Labels: size/XXL, area/cloud, area/frontend

#4318 fix: skip vingress when delete ingress.
  controllers/admission/api/v1/ingress_webhook.go
Labels: size/XS, area/cloud

#4319 Fix vingress
  controllers/admission/api/v1/ingress_webhook.go
Labels: size/XS, area/cloud

#4315 Update git clone command for template provider.
  frontend/providers/template/src/pages/api/updateRepo.ts
Labels: size/XS, area/frontend

#4264 Update gateway usage
  controllers/db/adminer/api/v1/adminer_types.go
  controllers/db/adminer/config/crd/bases/adminer.db.sealos.io_adminers.yaml
  controllers/db/adminer/controllers/adminer_controller.go
  controllers/db/adminer/controllers/ingress.go
  controllers/db/adminer/deploy/manifests/deploy.yaml.tmpl
  controllers/db/adminer/go.mod
  controllers/db/adminer/go.sum
  controllers/db/adminer/main.go
  controllers/terminal/README.md
  controllers/terminal/api/v1/terminal_types.go
  controllers/terminal/config/crd/bases/terminal.sealos.io_terminals.yaml
  controllers/terminal/config/rbac/role.yaml
  controllers/terminal/controllers/ingress.go
  controllers/terminal/controllers/terminal_controller.go
  controllers/terminal/deploy/manifests/deploy.yaml.tmpl
  controllers/terminal/go.mod
  controllers/terminal/go.sum
  controllers/terminal/main.go
  deploy/registry/README.md
  deploy/registry/manifests/ingress.yaml
  docs/4.0/docs/quick-start/app-deployments/use-terminal.md
  docs/4.0/i18n/zh-Hans/quick-start/app-deployments/use-terminal.md
  frontend/desktop/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/adminer/.env
  frontend/providers/adminer/deploy/Kubefile
  frontend/providers/adminer/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/adminer/src/interfaces/zalando.ts
  frontend/providers/adminer/src/pages/api/apply.ts
  frontend/providers/applaunchpad/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/costcenter/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/cronjob/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/dbprovider/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/license/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/objectstorage/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/template/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/terminal/deploy/manifests/ingress.yaml.tmpl
  frontend/static-cdn/Dockerfile
  frontend/static-cdn/Makefile
  frontend/static-cdn/README.md
  frontend/static-cdn/deploy/default.conf
  frontend/static-cdn/deploy/manifest.yaml
  frontend/static-cdn/static/cert-manager-logo-icon.svg
  frontend/static-cdn/static/prometheus-icon.png
  go.work.sum
  helm/sealos/charts/applaunchpad/values.yaml
  helm/sealos/charts/costcenter/templates/ingress.yaml
  helm/sealos/charts/desktop/values.yaml
  service/license/deploy/manifests/ingress.yaml.tmpl
  staging/src/github.com/labring/controllers/db/bytebase/controllers/bytebase/bytebase_controller.go
  staging/src/github.com/labring/controllers/db/bytebase/controllers/bytebase/ingress.go
  staging/src/github.com/labring/controllers/db/bytebase/controllers/bytebase/util.go
  staging/src/github.com/labring/frontend/providers/bytebase/deploy/manifests/ingress.yaml.tmpl
  staging/src/github.com/labring/frontend/providers/imagehub/deploy/manifests/ingress.yaml.tmpl
  staging/src/github.com/labring/service/hub/deploy/manifests/ingress.yaml
Labels: kind/documentation, size/XXL, area/cloud, area/ci, area/frontend, area/lifecycle-management, area/api

#4325 update dbprovider docs
  docs/4.0/docs/platform-components/bytebase/bytebase.md
  docs/4.0/docs/platform-components/bytebase/images/01_en.png
  docs/4.0/docs/platform-components/bytebase/images/02_en.png
  docs/4.0/docs/platform-components/bytebase/images/03_en.png
  docs/4.0/docs/platform-components/bytebase/images/04_en.png
  docs/4.0/docs/platform-components/dbprovider/dbprovider.md
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/bytebase.md
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/images/01_zh.png
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/images/02_zh.png
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/images/03_zh.png
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/images/04_zh.png
  docs/4.0/i18n/zh-Hans/platform-components/dbprovider/dbprovider.md
Labels: kind/documentation, size/L, area/cloud

#4326 Fix higress annotation.
  controllers/db/adminer/controllers/ingress.go
Labels: size/XS, area/cloud

#4327 fix: admission for ingress delete
  controllers/admission/cmd/main.go
Labels: size/S, area/cloud

#4322 feat:app launchpad && template supports api calls
  frontend/providers/applaunchpad/src/pages/api/v1alpha/createApp.ts
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/QuotaBox.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/template/src/pages/api/getTemplateSource.ts
  frontend/providers/template/src/pages/api/v1alpha/applyYaml.ts
  frontend/providers/template/src/pages/api/v1alpha/createInstance.ts
  frontend/providers/template/src/pages/api/v1alpha/exportTemplate.ts
  frontend/providers/template/src/pages/api/v1alpha/getTemplate.ts
  frontend/providers/template/src/pages/deploy/index.tsx
Labels: size/L, area/frontend

#4314 feat(desktop): signup api
  frontend/desktop/package.json
  frontend/desktop/src/__tests__/api/e2e/namespace/create.test.ts
  frontend/desktop/src/__tests__/api/e2e/v1alpha/signup.test.ts
  frontend/desktop/src/__tests__/api/tools.ts
  frontend/desktop/src/pages/api/auth/password/exist.ts
  frontend/desktop/src/pages/api/v1alpha/password/signin.ts
  frontend/desktop/src/pages/api/v1alpha/password/signup.ts
  frontend/desktop/src/services/backend/kubernetes/admin.ts
  frontend/desktop/src/services/backend/oauth.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/types/session.ts
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/next.config.js
  frontend/providers/template/src/pages/develop/components/BreadCrumbHeader.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/instance/components/appList.tsx
  frontend/providers/template/src/pages/instance/components/cronjobList.tsx
  frontend/providers/template/src/pages/instance/components/dbList.tsx
  frontend/providers/template/src/pages/instance/components/otherList.tsx
Labels: size/XXL, area/frontend

#4329 ci: skip objectstorage ci.
  .github/workflows/frontend.yml
Labels: size/XS, area/workflow

#4328 styles(desktop): update desktop worksapce
  frontend/desktop/deploy/Kubefile
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/deploy/manifests/rbac.yaml
  frontend/desktop/next-i18next.config.js
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/team/CreateTeam.tsx
  frontend/desktop/src/components/team/TeamCenter.tsx
Labels: size/L, area/frontend

#4335 fix tmpl cloud port
  controllers/terminal/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/cloud

#4336 fix: cloud release ci
  .github/workflows/cloud-release.yml
Labels: size/M, area/workflow

#4333 Add Object Storage
  controllers/go.work
  controllers/go.work.sum
  controllers/objectstorage/.dockerignore
  controllers/objectstorage/.gitignore
  controllers/objectstorage/Dockerfile
  controllers/objectstorage/Makefile
  controllers/objectstorage/PROJECT
  controllers/objectstorage/README.md
  controllers/objectstorage/api/v1/groupversion_info.go
  controllers/objectstorage/api/v1/help.go
  controllers/objectstorage/api/v1/objectstoragebucket_types.go
  controllers/objectstorage/api/v1/objectstorageuser_types.go
  controllers/objectstorage/api/v1/zz_generated.deepcopy.go
  controllers/objectstorage/config/crd/bases/objectstorage.sealos.io_objectstoragebuckets.yaml
  controllers/objectstorage/config/crd/bases/objectstorage.sealos.io_objectstorageusers.yaml
  controllers/objectstorage/config/crd/kustomization.yaml
  controllers/objectstorage/config/crd/kustomizeconfig.yaml
  controllers/objectstorage/config/crd/patches/cainjection_in_objectstoragebuckets.yaml
  controllers/objectstorage/config/crd/patches/cainjection_in_objectstorageusers.yaml
  controllers/objectstorage/config/crd/patches/webhook_in_objectstoragebuckets.yaml
  controllers/objectstorage/config/crd/patches/webhook_in_objectstorageusers.yaml
  controllers/objectstorage/config/default/kustomization.yaml
  controllers/objectstorage/config/default/manager_auth_proxy_patch.yaml
  controllers/objectstorage/config/default/manager_config_patch.yaml
  controllers/objectstorage/config/manager/kustomization.yaml
  controllers/objectstorage/config/manager/manager.yaml
  controllers/objectstorage/config/prometheus/kustomization.yaml
  controllers/objectstorage/config/prometheus/monitor.yaml
  controllers/objectstorage/config/rbac/auth_proxy_client_clusterrole.yaml
  controllers/objectstorage/config/rbac/auth_proxy_role.yaml
  controllers/objectstorage/config/rbac/auth_proxy_role_binding.yaml
  controllers/objectstorage/config/rbac/auth_proxy_service.yaml
  controllers/objectstorage/config/rbac/kustomization.yaml
  controllers/objectstorage/config/rbac/leader_election_role.yaml
  controllers/objectstorage/config/rbac/leader_election_role_binding.yaml
  controllers/objectstorage/config/rbac/objectstoragebucket_editor_role.yaml
  controllers/objectstorage/config/rbac/objectstoragebucket_viewer_role.yaml
  controllers/objectstorage/config/rbac/objectstorageuser_editor_role.yaml
  controllers/objectstorage/config/rbac/objectstorageuser_viewer_role.yaml
  controllers/objectstorage/config/rbac/role.yaml
  controllers/objectstorage/config/rbac/role_binding.yaml
  controllers/objectstorage/config/rbac/service_account.yaml
  controllers/objectstorage/config/samples/objectstorage_v1_objectstoragebucket.yaml
  controllers/objectstorage/config/samples/objectstorage_v1_objectstorageuser.yaml
  controllers/objectstorage/controllers/objectstoragebucket_controller.go
  controllers/objectstorage/controllers/objectstorageuser_controller.go
  controllers/objectstorage/controllers/suite_test.go
  controllers/objectstorage/deploy/manifests/deploy.yaml
  controllers/objectstorage/go.mod
  controllers/objectstorage/go.sum
  controllers/objectstorage/hack/boilerplate.go.txt
  controllers/objectstorage/main.go
  controllers/pkg/objectstorage/interface.go
  controllers/pkg/objectstorage/objectstorage.go
  service/database/api/req.go
  service/database/request/req.go
  service/go.work.sum
Labels: size/XXL, area/cloud, area/test, area/api

#4340 Delete useless code
  .github/workflows/controllers.yml
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongodb.go
  controllers/pkg/database/mongodb_test.go
  controllers/resources/metering/Dockerfile
  controllers/resources/metering/Makefile
  controllers/resources/metering/deploy/Kubefile
  controllers/resources/metering/deploy/manifests/deploy.yaml
  controllers/resources/metering/deploy/manifests/mongo-secret.yaml.tmpl
  controllers/resources/metering/main.go
Labels: size/L, area/cloud, area/test, area/workflow

#4338 ci: fix sealos cli in cloud release ci.
  .github/workflows/cloud-release.yml
Labels: size/S, area/workflow

#4344 fix:db service labels
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/XS, area/frontend

#4345 feat:db modify deployment env
  frontend/providers/dbprovider/.env.template
  frontend/providers/dbprovider/deploy/Kubefile
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/dbprovider/src/pages/api/getEnv.ts
  frontend/providers/dbprovider/src/pages/api/minio/upload.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/M, area/frontend

#4342 fix sync error
  .github/workflows/controllers.yml
  controllers/objectstorage/config/default/manager_auth_proxy_patch.yaml
  controllers/objectstorage/controllers/objectstorageuser_controller.go
  controllers/objectstorage/deploy/Kubefile
  controllers/objectstorage/deploy/manifests/deploy.yaml
Labels: size/M, area/cloud, area/workflow

#4349 add kafka monitor
  service/database/api/req.go
  service/database/request/req.go
Labels: size/S, area/cloud

#4343 feat(costcenter): pinning table
  frontend/packages/ui/src/components/icons/PortIcon.tsx
  frontend/packages/ui/src/components/index.ts
  frontend/pnpm-lock.yaml
  frontend/providers/costcenter/next-i18next.config.js
  frontend/providers/costcenter/next.config.js
  frontend/providers/costcenter/package.json
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/buget.tsx
  frontend/providers/costcenter/src/components/cost_overview/cost.tsx
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/constants/billing.ts
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/hooks/useBillingData.tsx
  frontend/providers/costcenter/src/pages/api/billing/index.ts
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/types/billing.ts
  frontend/providers/template/src/pages/deploy/index.tsx
Labels: size/XL, area/frontend

#4339 Feat/minio cost
  controllers/account/controllers/billingrecordquery_controller.go
  controllers/go.work.sum
  controllers/pkg/go.sum
  controllers/pkg/objectstorage/objectstorage.go
  controllers/pkg/objectstorage/objectstorage_test.go
  controllers/pkg/resources/named.go
  controllers/pkg/resources/resources.go
  controllers/resources/config/manager/kustomization.yaml
  controllers/resources/config/rbac/role.yaml
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/deploy/manifests/deploy.yaml
  controllers/resources/go.mod
  controllers/resources/go.sum
  controllers/resources/main.go
Labels: size/L, area/cloud, area/test

#4352 fix monitor bug
  controllers/pkg/objectstorage/objectstorage.go
  controllers/pkg/objectstorage/objectstorage_test.go
  controllers/resources/controllers/monitor_controller.go
  service/database/api/req.go
  service/database/deploy/manifests/deploy.yaml
  service/database/request/req.go
Labels: size/M, area/cloud, area/test

#4353 typo: fix secret name in qa.
  docs/4.0/docs/self-hosting/sealos/QA.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/QA.md
Labels: kind/documentation, size/XS, area/cloud

#4356 fix: return cors anno as nil if port is 443.
  controllers/terminal/controllers/terminal_controller.go
Labels: size/XS, area/cloud

#4321 Docs: update README
  README_zh.md
  docs/4.0/img/sealos-qr-code.jpg
Labels: kind/documentation, size/S

#4354 add suspend os and resume os
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/controllers/namespace_controller.go
  controllers/account/deploy/Kubefile
Labels: size/L, area/cloud

#4357 fix os endpoint error
  controllers/objectstorage/controllers/objectstorageuser_controller.go
Labels: size/XS, area/cloud

#4358 feat: Replaced mobx with zustand
  frontend/plugins/kubepanel/package.json
  frontend/plugins/kubepanel/pnpm-lock.yaml
  frontend/plugins/kubepanel/src/components/kube/local-date.tsx
  frontend/plugins/kubepanel/src/components/kube/object/detail/kube-object-detail-info-list.tsx
  frontend/plugins/kubepanel/src/components/kube/object/kube-object-age.tsx
  frontend/plugins/kubepanel/src/components/kube/reactive-duration.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/kube-object/config/config-map/config-map.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/kube-object/storage/volume-claim/volume-claim.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/kube-object/workload/deployment/deployment.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/kube-object/workload/overview/overview.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/kube-object/workload/pod/pod.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/kube-object/workload/statefulset/statefulset.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/overview.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/index.tsx
  frontend/plugins/kubepanel/src/store/k8s/config-map.store.ts
  frontend/plugins/kubepanel/src/store/k8s/configmap.store.ts
  frontend/plugins/kubepanel/src/store/k8s/data.store.ts
  frontend/plugins/kubepanel/src/store/k8s/deployment.store.ts
  frontend/plugins/kubepanel/src/store/k8s/kube.store.ts
  frontend/plugins/kubepanel/src/store/k8s/pod.store.ts
  frontend/plugins/kubepanel/src/store/k8s/pvc.store.ts
  frontend/plugins/kubepanel/src/store/k8s/stateful-set.store.ts
  frontend/plugins/kubepanel/src/store/k8s/statefulset.store.ts
  frontend/plugins/kubepanel/src/store/k8s/volume-claim.store.ts
  frontend/plugins/kubepanel/src/store/kube.ts
  frontend/plugins/kubepanel/src/store/static.ts
  frontend/plugins/kubepanel/src/types/state.d.ts
Labels: size/XXL, area/frontend

#4359 feat:db add kafka monitor
  frontend/providers/dbprovider/src/pages/api/getSecretByName.ts
  frontend/providers/dbprovider/src/pages/api/getServiceByName.ts
  frontend/providers/dbprovider/src/pages/api/getStatefulSetByName.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMonitorData.ts
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/template/delRoleBinding.ts
  service/license/public/locales/en/common.json
  service/license/public/locales/zh/common.json
  service/license/src/components/Textarea/TagTextarea.tsx
  service/license/src/pages/cluster/components/CommandForm.tsx
  service/license/src/pages/cluster/components/Tutorial.tsx
Labels: size/L, area/cloud, area/frontend

#4362 fix monitor object storage
  controllers/resources/controllers/monitor_controller.go
Labels: size/XS, area/cloud

#4363 fix:app statefulset & template develop
  docs/website/src/pages/index.tsx
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/template/src/pages/develop/index.tsx
Labels: kind/documentation, size/XXL, area/frontend

#4364 Add post "k8s-multi-tenancy"
  docs/blog/en/2023/k8s-multi-tenancy.md
  docs/blog/zh-Hans/2023/k8s-multi-tenancy.md
Labels: kind/documentation, size/L

#4367 Docs: update documentation for deploying k8s & sealos
  README_zh.md
  docs/4.0/docs/self-hosting/lifecycle-management/lifecycle-management.md
  docs/4.0/docs/self-hosting/lifecycle-management/quick-start/deploy-kubernetes.md
  docs/4.0/docs/self-hosting/lifecycle-management/quick-start/images/registry-explorer.png
  docs/4.0/docs/self-hosting/lifecycle-management/quick-start/install-cli.md
  docs/4.0/docs/self-hosting/sealos/images/chrome-certificate-1.jpg
  docs/4.0/docs/self-hosting/sealos/images/chrome-certificate-2.jpg
  docs/4.0/docs/self-hosting/sealos/images/firefox-export-certificate-1.png
  docs/4.0/docs/self-hosting/sealos/images/firefox-export-certificate-2.jpg
  docs/4.0/docs/self-hosting/sealos/images/firefox-export-certificate-3.jpg
  docs/4.0/docs/self-hosting/sealos/images/safari-export-certificate-1.jpg
  docs/4.0/docs/self-hosting/sealos/images/safari-export-certificate-2.jpg
  docs/4.0/docs/self-hosting/sealos/images/safari-export-certificate-3.jpg
  docs/4.0/docs/self-hosting/sealos/images/windows-trust-certificate.jpg
  docs/4.0/docs/self-hosting/sealos/installation.md
  docs/4.0/i18n/zh-Hans/Community.md
  docs/4.0/i18n/zh-Hans/current.json
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/lifecycle-management.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/quick-start/deploy-kubernetes.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/quick-start/images/registry-explorer.png
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/quick-start/install-cli.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/installation.md
  docs/4.0/sidebar.json
  docs/website/package.json
Labels: kind/documentation, size/XL, area/cloud

#4369 fix notification read status
  controllers/account/controllers/debt_controller.go
Labels: size/XS, area/cloud

#4366 update rbac and fix minio user not exist error
  controllers/account/config/rbac/role.yaml
  controllers/account/controllers/namespace_controller.go
  controllers/account/deploy/manifests/deploy.yaml.tmpl
Labels: size/M, area/cloud

#4365 fix: Display of UI and functional integration in Kube Panel
  frontend/plugins/kubepanel/src/components/kube/kube-badge.tsx
  frontend/plugins/kubepanel/src/components/kube/reactive-duration.tsx
  frontend/plugins/kubepanel/src/constants/theme.ts
  frontend/plugins/kubepanel/src/pages/api/update.ts
  frontend/plugins/kubepanel/src/pages/kubepanel/components/action-button/update-editor-modal.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/drawer/drawer-collapse.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/drawer/drawer.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/layout.tsx
  frontend/plugins/kubepanel/src/utils/yaml.ts
Labels: size/L, area/frontend
