Repository labring/sealos, pull requests merged in 2023-10, with the labels that each got.

#4026 Docs: update link for questionnaire
  docs/website/docusaurus.config.js
  docs/website/src/pages/components/Header/index.tsx
Labels: kind/documentation, size/XS

#4023 feature(main): using sreg 0.1.4 build image
  docs/4.0/docs/lifecycle-management/operations/build-image/build-image-image_list.md
  docs/4.0/docs/lifecycle-management/reference/sealos/commands/build.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/build-image-image-list.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/build-image-image_list.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/commands/build.md
  go.mod
  go.sum
  go.work.sum
  pkg/buildah/imagesaver.go
Labels: kind/documentation, area/buildah, size/L, area/lifecycle-management

#4028 feature(main): using sreg 0.1.4 build image (#4023)
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/build-image-image-list.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/build-image-image_list.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/commands/build.md
  go.mod
  go.sum
  go.work.sum
  pkg/buildah/imagesaver.go
Labels: kind/documentation, area/buildah, size/L, area/lifecycle-management

#4030 feat: add cloud install script.
  deploy/cloud/scripts/init.sh
  docs/4.0/docs/quick-start/installation/online-installation.md
  docs/4.0/i18n/zh-Hans/quick-start/installation/online-installation.md
  scripts/cloud/install.sh
Labels: kind/documentation, size/L, area/cloud, area/ci

#4031 fix: sync cert failed on non default port
  pkg/runtime/kubernetes/certs.go
Labels: size/XS, area/lifecycle-management, area/runtime

#4034 fix: sync cert failed on non default port
  pkg/runtime/update_cert.go
Labels: size/XS

#4035 feat: add sealos cloud install script and docs.
  docs/4.0/docs/quick-start/installation/online-installation.md
  docs/4.0/i18n/zh-Hans/quick-start/installation/online-installation.md
  docs/4.0/sidebar.json
Labels: kind/documentation, size/S, area/cloud

#4039 feat: change name to admin
  controllers/licenseissuer/preset/main.go
Labels: size/XS, area/cloud

#4024 feature(main): add tf as infra
  test/e2e/apply_docker_test.go
  test/e2e/apply_other_test.go
  test/e2e/apply_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/terraform/infra/providers.tf
  test/e2e/terraform/infra/terraform.tf
  test/e2e/terraform/infra/vars.tf
  test/e2e/terraform/infra/vars.tf.amd64
  test/e2e/terraform/infra/vars.tf.arm64
  test/e2e/terraform/main.go
  test/e2e/terraform/terraform.go
  test/e2e/terraform/terraform.json
  test/e2e/terraform/terraform_test.go
  test/e2e/terraform/zz_generated_terraform.go
  test/e2e/testdata/kubeadm/containerd-svc-etcd.yaml
  test/e2e/testdata/kubeadm/containerd-svc-sans.yaml
  test/e2e/testdata/kubeadm/containerd-svc-taints.yaml
  test/e2e/testdata/kubeadm/custome-containerd-svc.yaml
  test/e2e/testdata/kubeadm/custome-docker-svc.yaml
  test/e2e/testdata/kubeadm/doc.go
  test/e2e/testdata/kubeadm/docker-svc-sans.yaml
  test/e2e/testdata/kubeadm/zz_generated_kubeadm.go
  test/e2e/testdata/main.go
  test/e2e/testdata/testdata.go
  test/e2e/testhelper/config/clusterfile.go
  test/e2e/testhelper/config/clusterfile_test.go
Labels: size/XXL, area/test

#4040 feat:modify the format of the exported file
  frontend/providers/applaunchpad/src/pages/app/edit/components/Header.tsx
  frontend/providers/cronjob/src/utils/user.ts
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/types/app.ts
  frontend/providers/template/src/utils/json-yaml.ts
Labels: size/M, area/frontend

#4041 fix: scp files
  pkg/ssh/scp.go
Labels: size/S, area/lifecycle-management, area/ssh

#4044 Add app template draft spec.
  controllers/app/api/v1/template_types.go
  controllers/app/config/crd/bases/app.sealos.io_instances.yaml
  controllers/app/config/crd/bases/app.sealos.io_templates.yaml
  controllers/app/deploy/manifests/deploy.yaml
Labels: size/XS, area/cloud, area/api

#4045 fix: if string addr has not colon
  pkg/exec/exec.go
Labels: size/XS, area/lifecycle-management

#4047 fix:template multiple names
  frontend/providers/template/src/api/delete.ts
  frontend/providers/template/src/api/platform.ts
  frontend/providers/template/src/pages/api/platform/getEnv.ts
  frontend/providers/template/src/pages/api/resource/delJob.ts
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/appList.tsx
  frontend/providers/template/src/pages/instance/components/cronjobList.tsx
  frontend/providers/template/src/pages/instance/components/dbList.tsx
  frontend/providers/template/src/pages/instance/components/delDodal.tsx
  frontend/providers/template/src/pages/instance/components/otherList.tsx
  frontend/providers/template/src/pages/instance/index.tsx
  frontend/providers/template/src/services/backend/response.ts
Labels: size/L, area/frontend

#4053 fix(4.3): revert cert feature
  pkg/runtime/init.go
  pkg/runtime/update_cert.go
Labels: size/S, area/lifecycle-management, area/runtime

#4052 styles(frontend): add theme package
  frontend/Dockerfile
  frontend/desktop/package.json
  frontend/desktop/src/styles/chakraTheme.ts
  frontend/package.json
  frontend/packages/ui/next-env.d.ts
  frontend/packages/ui/package.json
  frontend/packages/ui/src/colors.ts
  frontend/packages/ui/src/components/Button.ts
  frontend/packages/ui/src/components/index.ts
  frontend/packages/ui/src/fontSizes.ts
  frontend/packages/ui/src/index.ts
  frontend/packages/ui/src/theme.ts
  frontend/packages/ui/tsconfig.json
  frontend/pnpm-lock.yaml
  frontend/providers/adminer/package.json
  frontend/providers/applaunchpad/package.json
  frontend/providers/bytebase/package.json
  frontend/providers/costcenter/package.json
  frontend/providers/costcenter/src/components/billing/SwitchPage.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.module.scss
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/layout/index.module.scss
  frontend/providers/costcenter/src/layout/index.tsx
  frontend/providers/costcenter/src/layout/sidebar.tsx
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/billing/index.module.scss
  frontend/providers/costcenter/src/styles/chakraTheme.ts
  frontend/providers/cronjob/package.json
  frontend/providers/dbprovider/package.json
  frontend/providers/imagehub/package.json
  frontend/providers/license/package.json
  frontend/providers/template/package.json
  frontend/providers/terminal/package.json
  frontend/tsconfig.base.json
Labels: size/XXL, area/frontend

#4057 Docs: fix typo for sync_docs workflow
  .github/sync_docs.yml
  deploy/cloud/README.md
  docs/4.0/docs/self-hosting/lifecycle-management/lifecycle-management.md
  docs/4.0/docs/self-hosting/lifecycle-management/reference/sealos/commands/apply.md
  docs/4.0/docs/self-hosting/lifecycle-management/reference/sealos/commands/build.md
  docs/4.0/docs/self-hosting/lifecycle-management/reference/sealos/commands/commands.md
  docs/4.0/docs/self-hosting/lifecycle-management/reference/sealos/commands/gen.md
  docs/4.0/docs/self-hosting/lifecycle-management/reference/sealos/commands/manifest.md
  docs/4.0/docs/self-hosting/lifecycle-management/reference/sealos/commands/run.md
  docs/4.0/docs/self-hosting/lifecycle-management/reference/sealos/sealos.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/lifecycle-management.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/reference/sealos/commands/apply.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/reference/sealos/commands/build.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/reference/sealos/commands/commands.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/reference/sealos/commands/gen.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/reference/sealos/commands/manifest.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/reference/sealos/commands/run.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/reference/sealos/sealos.md
  docs/blog/2022/06/30/sealos-is-unique.md
Labels: kind/documentation, size/M, area/cloud, area/ci, area/workflow

#4061 Docs: fix typo
  docs/4.0/docs/self-hosting/lifecycle-management/operations/build-image/build-image-image-list.md
Labels: kind/documentation, size/XS, area/cloud

#4060 fix: make the usage of '--env' flag more precisely
  cmd/sealos/cmd/gen.go
  pkg/apply/args.go
  pkg/apply/gen.go
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/pre_process.go
Labels: size/S, area/apply, area/clusterfile, area/command, area/lifecycle-management

#4065 Fix conflicts
  cmd/sealos/cmd/gen.go
  pkg/apply/args.go
  pkg/apply/gen.go
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/pre_process.go
Labels: size/S, area/apply, area/clusterfile, area/command, area/lifecycle-management

#4068 fix: create new container mount when force override
  pkg/apply/processor/install.go
Labels: size/XS, area/apply, area/lifecycle-management

#4070 optimize cloud deploy scripts
  deploy/cloud/init.sh
  deploy/cloud/scripts/init.sh
  scripts/cloud/install.sh
Labels: size/L, area/ci

#4069 feat: add icp query for ingress.
  controllers/admission/api/v1/icp.go
  controllers/admission/api/v1/icp_test.go
  controllers/admission/api/v1/ingress_webhook.go
  controllers/admission/config/manager/manager.yaml
  controllers/admission/deploy/Kubefile
  controllers/admission/deploy/manifests/deploy.yaml.tmpl
  controllers/admission/go.mod
  controllers/admission/go.sum
  controllers/pkg/code/common.go
Labels: size/L, area/cloud, area/test

#4066 refactor env keys
  pkg/apply/applydrivers/apply_drivers_default.go
  pkg/ssh/scp.go
  pkg/system/env.go
Labels: size/M, area/apply, area/env, area/lifecycle-management, area/ssh

#4075 Docs: add "Add a domain"
  docs/4.0/docs/quick-start/app-deployments/install-db-with-database.md
  docs/4.0/docs/quick-start/app-deployments/next-steps.md
  docs/4.0/docs/quick-start/images/app-launchpad-domain.png
  docs/4.0/docs/quick-start/images/app-launchpad-domain2.png
  docs/4.0/docs/quick-start/images/app-launchpad-domain3.png
  docs/4.0/docs/quick-start/setup-domain.md
  docs/4.0/docs/self-hosting/installation.md
  docs/4.0/i18n/zh-Hans/quick-start/app-deployments/install-db-with-database.md
  docs/4.0/i18n/zh-Hans/quick-start/app-deployments/next-steps.md
  docs/4.0/i18n/zh-Hans/quick-start/images/aliyun-cname.png
  docs/4.0/i18n/zh-Hans/quick-start/images/app-launchpad-domain.png
  docs/4.0/i18n/zh-Hans/quick-start/images/app-launchpad-domain2.png
  docs/4.0/i18n/zh-Hans/quick-start/images/app-launchpad-domain3.png
  docs/4.0/i18n/zh-Hans/quick-start/setup-domain.md
  docs/4.0/i18n/zh-Hans/self-hosting/installation.md
Labels: kind/documentation, size/L, area/cloud

#4078 Docs: update sidebar
  docs/4.0/sidebar.json
Labels: kind/documentation, size/S

#4079 fix: create new container mount when force override (#4068) (#4072)
  pkg/apply/processor/install.go
Labels: size/S, area/apply, area/lifecycle-management

#4073 feat:template develop envs & links
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/rightContext/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/template/public/images/ButtonEffect.svg
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/components/icons/CopyLink.tsx
  frontend/providers/template/src/components/icons/HomePage.tsx
  frontend/providers/template/src/components/icons/HtmlIcon.tsx
  frontend/providers/template/src/components/icons/MdIcon.tsx
  frontend/providers/template/src/components/icons/Share.tsx
  frontend/providers/template/src/components/icons/index.ts
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/index.tsx
Labels: size/L, area/frontend

#4088 Docs: add "Update app"
  docs/4.0/docs/quick-start/add-domain.md
  docs/4.0/docs/quick-start/app-deployments/next-steps.md
  docs/4.0/docs/quick-start/update-app.md
  docs/4.0/i18n/zh-Hans/quick-start/add-domain.md
  docs/4.0/i18n/zh-Hans/quick-start/app-deployments/next-steps.md
  docs/4.0/i18n/zh-Hans/quick-start/update-app.md
  docs/4.0/sidebar.json
Labels: kind/documentation, size/M, area/cloud

#4089 Docs: fix typo
  docs/4.0/sidebar.json
Labels: kind/documentation, size/XS

#4087 fix: remove default vip
  pkg/runtime/kubernetes/types/default_kubeadm_config.go
Labels: size/XS, area/lifecycle-management, area/runtime

#4084 Fix/cloud init scripts
  deploy/cloud/README.md
  deploy/cloud/manifests/db-metrics.yaml
  deploy/cloud/scripts/init.sh
  frontend/providers/costcenter/deploy/manifests/appcr.yaml.tmpl
  scripts/cloud/install.sh
Labels: size/L, area/ci, area/frontend

#4096 Add the Service to automatically build a cluster-image.
  .github/workflows/services.yml
  deploy/cloud/init.sh
  deploy/cloud/manifests/db-metrics.yaml
  deploy/cloud/scripts/init.sh
  service/database/deploy/Kubefile
  service/database/deploy/manifests/deploy.yaml
  service/database/deploy/victoriaMetrics/cm.yaml
  service/database/deploy/victoriaMetrics/rbac.yaml
  service/database/deploy/victoriaMetrics/vmagent.yaml
  service/database/deploy/victoriaMetrics/vminsert.yaml
  service/database/deploy/victoriaMetrics/vmselect.yaml
  service/database/deploy/victoriaMetrics/vmstorage.yaml
Labels: size/L, area/cloud, area/ci, area/workflow

#4094 fix zh_cn document url
  README.md
Labels: size/XS

#4092 Rebase #3867
  .github/workflows/services.yml
  controllers/account/controllers/account_controller.go
  controllers/pkg/pay/common.go
  go.work
  go.work.sum
  service/pay/.gitignore
  service/pay/Dockerfile
  service/pay/Makefile
  service/pay/api/appdetail.go
  service/pay/api/bill.go
  service/pay/api/payapp.go
  service/pay/api/paymethod.go
  service/pay/api/paysession.go
  service/pay/api/paystatus.go
  service/pay/deploy/Kubefile
  service/pay/deploy/manifests/deploy.yaml
  service/pay/deploy/manifests/pay-secret.yaml.tmpl
  service/pay/go.mod
  service/pay/go.sum
  service/pay/handler/appdetail.go
  service/pay/handler/bill.go
  service/pay/handler/payapp.go
  service/pay/handler/paymethod.go
  service/pay/handler/paysession.go
  service/pay/handler/paystatus.go
  service/pay/helper/constant.go
  service/pay/helper/dto.go
  service/pay/helper/entity.go
  service/pay/helper/init.go
  service/pay/helper/logger.go
  service/pay/main.go
  service/pay/method/stripe.go
  service/pay/method/wechat.go
  service/pay/pay_test.go
  service/pay/router/router.go
Labels: size/XXL, area/cloud, area/test, area/workflow

#4097 fix `ENV must have two arguments`
  service/pay/deploy/Kubefile
Labels: size/S, area/cloud

#4059 update kb 0.6.2
  service/database/api/req.go
Labels: size/XS, area/cloud

#4099 fix link error
  docs/4.0/docs/examples/baas/install-fireboom.md
  docs/4.0/i18n/zh-Hans/examples/baas/install-fireboom.md
Labels: kind/documentation, size/XS, area/cloud

#4095 Feat/traffic proto
  controllers/pkg/database/mongodb.go
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/resources/named.go
  controllers/pkg/resources/resources.go
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/deploy/Kubefile
  controllers/resources/deploy/manifests/deploy-manager.yaml
  controllers/resources/deploy/manifests/mongo-secret.yaml.tmpl
  controllers/resources/go.mod
  controllers/resources/go.sum
  controllers/resources/main.go
Labels: size/L, area/cloud

#4098 feat: template other resource
  frontend/desktop/next-i18next.config.js
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/providers/template/src/api/delete.ts
  frontend/providers/template/src/constants/keys.ts
  frontend/providers/template/src/pages/api/app/listOtherByName.ts
  frontend/providers/template/src/pages/api/resource/delConfigMap.ts
  frontend/providers/template/src/pages/api/resource/delRole.ts
  frontend/providers/template/src/pages/api/resource/delRoleBinding.ts
  frontend/providers/template/src/pages/api/resource/delServiceAccount.ts
  frontend/providers/template/src/pages/api/resource/deleteIssuer.ts
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/types/resource.ts
Labels: size/L, area/frontend

#4103 fix semgrep ci
  .github/workflows/check-semgrep.yml
  service/pay/deploy/manifests/deploy.yaml
Labels: size/S, area/cloud, area/workflow

#4104 use default `Identity` for traffic stat request
  controllers/resources/controllers/monitor_controller.go
Labels: size/XS, area/cloud

#4100 fix: merge cluster.spec.env
  pkg/apply/processor/create.go
Labels: size/XS, area/apply, area/lifecycle-management

#4106 fix: sync registry contents via ssh
  pkg/filesystem/registry/sync.go
Labels: size/L, area/filesystem, area/lifecycle-management

#4112 Rename adminer label.
  controllers/db/adminer/controllers/adminer_controller.go
Labels: size/XS, area/cloud

#4114 feat: language automatic detection
  frontend/desktop/next-i18next.config.js
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/license/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/packages/client-sdk/src/master.ts
  frontend/providers/applaunchpad/next-i18next.config.js
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/utils/cookieUtils.ts
  frontend/providers/applaunchpad/src/utils/i18n.ts
  frontend/providers/costcenter/next-i18next.config.js
  frontend/providers/costcenter/src/stores/session.ts
  frontend/providers/cronjob/next-i18next.config.js
  frontend/providers/cronjob/src/pages/_app.tsx
  frontend/providers/cronjob/src/utils/cookieUtils.ts
  frontend/providers/cronjob/src/utils/i18n.ts
  frontend/providers/dbprovider/next-i18next.config.js
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/utils/cookieUtils.ts
  frontend/providers/dbprovider/src/utils/i18n.ts
  frontend/providers/license/next-i18next.config.js
  frontend/providers/license/src/pages/_app.tsx
  frontend/providers/license/src/utils/cookieUtils.ts
  frontend/providers/template/next-i18next.config.js
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/utils/cookieUtils.ts
  frontend/providers/template/src/utils/i18n.ts
Labels: size/M, area/frontend

#4115 Fix/cloud scripts
  .github/workflows/controllers.yml
  scripts/cloud/install.sh
Labels: size/L, area/ci, area/workflow

#4119 fix sync image
  pkg/filesystem/registry/sync.go
Labels: size/XS, area/filesystem, area/lifecycle-management

#4120 :bug: set default http sync registry
  pkg/filesystem/registry/sync.go
Labels: size/XS, area/filesystem, area/lifecycle-management

#4123 fix: ssh sync registry contents to target dir
  pkg/filesystem/registry/sync.go
Labels: size/XS, area/filesystem, area/lifecycle-management

#4121 fix: return converted component configs
  pkg/runtime/kubernetes/types/kubeadm_config.go
Labels: size/S, area/lifecycle-management, area/runtime

#4127 fix license base64 decode salt.
  controllers/job/init/deploy/manifests/deploy.yaml
  controllers/job/init/internal/util/database/password.go
  controllers/job/init/internal/util/database/user.go
  deploy/cloud/scripts/init.sh
Labels: size/S, area/cloud, area/ci

#4129 Fix license
  controllers/job/init/internal/util/database/password.go
Labels: size/XS, area/cloud, area/ci

#4133 Fix registry link.
  deploy/registry/README.md
Labels: size/XS, area/ci

#4135 :bug: support env for export
  pkg/clusterfile/pre_process.go
Labels: size/XS, area/clusterfile, area/lifecycle-management

#4130 optimize scripts
  scripts/cloud/install.sh
Labels: size/L, area/ci

#4141 refactor(main): fixed golang lint version
  .github/workflows/ci.yml
Labels: size/XS, area/workflow

#4139 fix admin user label.
  controllers/job/init/internal/util/controller/user.go
Labels: size/S, area/cloud

#4140 fix: --env not work during sealos run
  pkg/guest/guest.go
Labels: size/XS, area/guest, area/lifecycle-management

#4128 fix account user null & language
  frontend/Dockerfile
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/utils/tools.ts
Labels: size/S, area/frontend

#4147 fix: init job for user with a uuid label.
  controllers/job/init/internal/util/controller/user.go
Labels: size/S, area/cloud

#4144 :bug: fix env merge for sealos run
  pkg/clusterfile/pre_process.go
  pkg/guest/guest.go
Labels: size/S, area/clusterfile, area/guest, area/lifecycle-management

#4150 docs:sealos recharge activity
  docs/website/src/pages/components/Banner/index.scss
  docs/website/src/pages/components/Banner/index.tsx
  docs/website/src/pages/components/Header/index.scss
  docs/website/src/pages/index.scss
  docs/website/src/pages/index.tsx
  docs/website/static/icons/draw.svg
Labels: kind/documentation, size/L

#4151 fix docs jump link
  docs/website/src/pages/components/Banner/index.scss
  docs/website/src/pages/components/Banner/index.tsx
Labels: kind/documentation, size/S

#4154 fix golang ci lint version
  .github/workflows/controllers.yml
  .github/workflows/services.yml
  .github/workflows/webhooks.yml
Labels: size/XS, area/workflow

#4156 fix golang ci lint version
  .github/workflows/controllers.yml
  .github/workflows/services.yml
  .github/workflows/webhooks.yml
Labels: size/XS

#4153 add account gift support float ratios
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/account_controller_test.go
  controllers/pkg/resources/resources.go
  scripts/cloud/install.sh
Labels: size/M, area/cloud, area/ci, area/test

#4149 feat(frontend/desktop):change password, fix export kubeconfig.yaml
  frontend/Dockerfile
  frontend/desktop/Dockerfile
  frontend/desktop/next.config.js
  frontend/desktop/package.json
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/__tests__/api/e2e/auth/password.test.ts
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/components/account/PasswordModify.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/signin/auth/usePassword.tsx
  frontend/desktop/src/components/user_menu/index.tsx
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/pages/api/auth/namespace/switch.ts
  frontend/desktop/src/pages/api/auth/password/modify.ts
  frontend/desktop/src/pages/api/platform/getEnv.ts
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/services/backend/auth.ts
  frontend/desktop/src/services/backend/db/user.ts
  frontend/desktop/src/services/backend/kubernetes/user.ts
  frontend/desktop/src/services/backend/oauth.ts
  frontend/desktop/src/stores/global.ts
  frontend/desktop/src/styles/globals.scss
  frontend/desktop/src/types/system.ts
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/next-i18next.config.js
  frontend/providers/costcenter/next-i18next.config.js
  frontend/providers/cronjob/next-i18next.config.js
  frontend/providers/dbprovider/next-i18next.config.js
  frontend/providers/license/next-i18next.config.js
  frontend/providers/template/next-i18next.config.js
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/appList.tsx
  frontend/providers/template/src/pages/instance/components/cronjobList.tsx
  frontend/providers/template/src/pages/instance/components/dbList.tsx
  frontend/providers/template/src/pages/instance/components/delDodal.tsx
  frontend/providers/template/src/pages/instance/components/otherList.tsx
Labels: size/XL, area/frontend

#4157 fix i18n default changed
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/utils/tools.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
Labels: size/S, area/frontend

#4159 fix: add free license and update kb version
  deploy/cloud/manifests/free-license.yaml
  scripts/cloud/install.sh
Labels: size/S, area/ci

#4160 fix admin user time label.
  controllers/job/init/internal/util/controller/user.go
Labels: size/XS, area/cloud

#4164 Fix tlsEnabled default value.
  controllers/db/adminer/deploy/README.md
  controllers/db/adminer/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/cloud

#4165 Dev adminer
  controllers/db/adminer/config/manager/manager.yaml
  controllers/db/adminer/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/cloud

#4168 fix(frontend/desktop): fix login different account error
  frontend/desktop/src/components/account/index.tsx
Labels: size/XS, area/frontend

#4169 Optimize/cloud scripts
  deploy/cloud/init.sh
  scripts/cloud/install.sh
Labels: size/L, area/ci

#4167 Optimize BillingRecordQuery to query separate recharge and arrival (recharge + gift) amounts
  controllers/account/api/v1/billingrecordquery_types.go
  controllers/account/config/crd/bases/account.sealos.io_billingrecordqueries.yaml
  controllers/account/deploy/manifests/deploy.yaml.tmpl
  controllers/pkg/database/mongodb.go
  controllers/pkg/database/mongodb_test.go
Labels: size/L, area/cloud, area/test, area/api

#4166 Set auto hide adminer icon to more.
  frontend/providers/adminer/deploy/manifests/appcr.yaml.tmpl
Labels: size/XS, area/frontend

#4162 refactor(main): skip success exec
  pkg/apply/applydrivers/apply_drivers_default.go
  pkg/types/v1beta1/cluster.go
Labels: size/S, area/apply, area/lifecycle-management, area/api

#4176 Docs: auto copy i18n files to website folder
  docs/website/.gitignore
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/footer.json
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
  docs/website/package.json
Labels: kind/documentation, size/M

#4177 Docs: add ci workflow for building Sealos Docs Site Docker image
  .github/workflows/docs-site-image.yml
  docs/website/Dockerfile
Labels: kind/documentation, size/M, area/workflow

#4181 feat: imporve sealos cloud install script
  scripts/cloud/install.sh
Labels: size/L, area/ci

#4183 fix: change _ to -
  scripts/cloud/install.sh
Labels: size/L, area/ci

#4186 Docs: add workflow for previwing docs site
  .github/workflows/deploy-docs-preview.yml
Labels: size/L, area/workflow

#4185 fix(costcenter): fix unit & invoice amount
  frontend/providers/costcenter/package.json
  frontend/providers/costcenter/src/components/invoice/invoiceTable.tsx
  frontend/providers/costcenter/src/pages/create_invoice/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/types/invoice.ts
Labels: size/S, area/frontend

#4180 Update README.md
  README.md
Labels: size/XS

#4190 Fix typo for "Preview Sealos Docs Site" workflow
  .github/workflows/deploy-docs-preview.yml
Labels: size/XS, area/workflow

#4189 feature(main): support crun youki gvisor kata
  staging/src/github.com/labring/image-cri-shim/pkg/cri/cri.go
Labels: area/imageCRIShim, size/M, area/lifecycle-management

#4193 Docs: Update the company's information
  .github/workflows/deploy-docs-preview.yml
  docs/4.0/code.json
  docs/website/docusaurus.config.js
  docs/website/i18n/zh-Hans/docusaurus-theme-classic/footer.json
  docs/website/src/pages/company.md
Labels: kind/documentation, size/M, area/workflow

#4182 Update/pricing
  controllers/account/api/v1/billinginfoquery_types.go
  controllers/account/api/v1/pricequery_types.go
  controllers/account/api/v1/zz_generated.deepcopy.go
  controllers/account/config/crd/bases/account.sealos.io_pricequeries.yaml
  controllers/account/controllers/billingrecordquery_controller.go
  controllers/account/deploy/manifests/deploy.yaml.tmpl
  controllers/pkg/crypto/crypto.go
  controllers/pkg/database/mongodb.go
  controllers/pkg/resources/resources.go
Labels: size/M, area/cloud, area/api

#4196 feat: add license app to cloud.
  deploy/cloud/init.sh
  deploy/cloud/manifests/admin-user.yaml
  deploy/cloud/manifests/mongodb.yaml.tmpl
  deploy/cloud/scripts/init.sh
  frontend/providers/license/deploy/Kubefile
  frontend/providers/license/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/license/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/license/deploy/manifests/env.yaml.tmpl
  frontend/providers/license/deploy/manifests/ingress.yaml.tmpl
Labels: size/M, area/ci, area/frontend

#4198 feature(main): skip sealos.run rule
  lychee.toml
Labels: size/XS

#4197 Update README
  .github/workflows/deploy-docs-preview.yml
  README_zh.md
Labels: size/S, area/workflow

#4201 feat: add cronjob app to cloud.
  deploy/cloud/init.sh
  deploy/cloud/scripts/init.sh
  frontend/providers/cronjob/Makefile
  frontend/providers/cronjob/deploy/Kubefile
  frontend/providers/cronjob/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/license/deploy/manifests/ingress.yaml.tmpl
Labels: size/M, area/ci, area/frontend

#4202 fix run init job.
  deploy/cloud/scripts/init.sh
Labels: size/M

#4200 Docs: update "What is Sealos?"
  .github/workflows/deploy-docs-preview.yml
  README_zh.md
  docs/4.0/docs/Intro.md
  docs/4.0/i18n/zh-Hans/Intro.md
Labels: kind/documentation, size/M, area/cloud, area/workflow

#4203 feat:frontend license app
  frontend/providers/license/.env.template
  frontend/providers/license/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/license/public/locales/en/common.json
  frontend/providers/license/public/locales/zh/common.json
  frontend/providers/license/src/api/license.ts
  frontend/providers/license/src/components/FileSelect/index.tsx
  frontend/providers/license/src/pages/api/license/getLicense.tsx
  frontend/providers/license/src/pages/api/platform/getEnv.ts
  frontend/providers/license/src/pages/index.tsx
  frontend/providers/license/src/services/request.ts
  frontend/providers/license/src/types/license.d.ts
  frontend/providers/license/src/utils/json2Yaml.ts
  frontend/providers/license/src/utils/tools.ts
  service/license/src/components/Account/index.tsx
  service/license/src/components/CodeBlock/index.tsx
  service/license/src/components/Icon/StarIcon.tsx
  service/license/src/components/Layout/index.tsx
  service/license/src/components/Signin/auth/usePassword.tsx
  service/license/src/components/Signin/auth/useSms.tsx
  service/license/src/components/account/index.tsx
  service/license/src/components/signin/auth/usePassword.tsx
  service/license/src/components/signin/auth/useSms.tsx
  service/license/src/hooks/useBonusBox.tsx
  service/license/src/pages/cluster/components/Record.tsx
  service/license/src/pages/cluster/components/Tutorial.tsx
  service/license/src/pages/license/components/Record.tsx
  service/license/src/pages/pricing/components/Product.tsx
  service/license/src/pages/pricing/components/ServicePackage.tsx
Labels: size/L, area/cloud, area/frontend

#4208 refactor(main): unmount override container (#4161)
  pkg/apply/processor/install.go
  pkg/types/v1beta1/cluster_args.go
Labels: size/M, area/apply, area/lifecycle-management, area/api

#4211 fix license db uri
  deploy/cloud/scripts/init.sh
Labels: size/XS, area/ci

#4212 update price
  controllers/pkg/resources/resources.go
Labels: size/XS, area/cloud

#4214 add alt names.
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4209 Update the workflow to automatically update the website image after t…
  .github/workflows/deploy-docs-preview.yml
  .github/workflows/deploy-docs-site.yml
  .github/workflows/docs-site-image.yml
Labels: size/M, area/workflow

#4217 fix scripts
  scripts/cloud/install.sh
Labels: size/S, area/ci

#4216 Fix database provider i18n.
  frontend/providers/dbprovider/deploy/manifests/appcr.yaml.tmpl
Labels: size/XS, area/frontend
