Repository labring/sealos, pull requests merged in 2023-07, with the labels that each got.

#3454 fix deploy of desktop and dbprovider
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/frontend

#3449 feat: redis and dyminic dbversion
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/platform.ts
  frontend/providers/dbprovider/src/components/RangeInput/index.tsx
  frontend/providers/dbprovider/src/components/Tip/index.tsx
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/api/getSecretByName.ts
  frontend/providers/dbprovider/src/pages/api/platform/getVersion.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/PriceBox.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/services/backend/kubernetes.ts
  frontend/providers/dbprovider/src/store/static.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/L, area/frontend

#3450 feat: add host ssh and sftp client map cache for sftp
  go.work.sum
  pkg/ssh/connect.go
  pkg/ssh/scp.go
Labels: size/L, area/lifecycle-management, area/ssh

#3446 feat(frontend/desktop):auto deploy & fix some type error
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh-Hans/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/app_window/index.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/user_menu/index.tsx
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/stores/overview.ts
  frontend/desktop/src/types/app.ts
  frontend/desktop/src/types/crd.ts
  frontend/desktop/src/utils/crypto.ts
  frontend/desktop/src/utils/format.ts
  frontend/desktop/src/utils/tools.ts
Labels: size/L, area/frontend

#3458 feat: add imageshim for terminal and applaunchpad cluster image
  frontend/providers/applaunchpad/deploy/images/shim/images
  frontend/providers/terminal/.env
  frontend/providers/terminal/deploy/Kubefile
  frontend/providers/terminal/deploy/images/shim/imagelist
Labels: size/XS, area/frontend

#3455 feat(frontend/costcenter):transfer
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/pages/api/account/payment/index.ts
  frontend/desktop/src/pages/api/account/payment/pay.ts
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/services/enable.ts
  frontend/providers/costcenter/.env
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/constants/billing.ts
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/hooks/useRecharge.tsx
  frontend/providers/costcenter/src/hooks/useTransfer.tsx
  frontend/providers/costcenter/src/pages/api/account/payment/index.ts
  frontend/providers/costcenter/src/pages/api/account/payment/pay.ts
  frontend/providers/costcenter/src/pages/api/account/transfer.ts
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/service/backend/kubernetes.ts
  frontend/providers/costcenter/src/service/enabled.ts
  frontend/providers/costcenter/src/types/Transfer.ts
  frontend/providers/costcenter/src/types/billing.ts
Labels: size/XL, area/frontend

#3463 optimize transfer controller, add encryption to account and adapt
  controllers/account/api/v1/account_types.go
  controllers/account/api/v1/transfer_types.go
  controllers/account/config/crd/bases/account.sealos.io_accounts.yaml
  controllers/account/config/crd/bases/account.sealos.io_transfers.yaml
  controllers/account/config/rbac/transfer_editor_role.yaml
  controllers/account/config/rbac/transfer_viewer_role.yaml
  controllers/account/config/samples/account_v1_transfer.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/transfer_controller.go
  controllers/account/deploy/manifests/deploy.yaml
  controllers/cloud/internal/controller/license_controller.go
  controllers/pkg/crypto/crypto.go
  controllers/pkg/crypto/crypto_test.go
Labels: size/L, area/cloud, area/test, area/api

#3417 refactor(main): remove old code for convert
  controllers/user/PROJECT
  controllers/user/api/v1/usergroup_types.go
  controllers/user/api/v1/usergroupbinding_types.go
  controllers/user/api/v1/zz_generated.deepcopy.go
  controllers/user/config/crd/bases/user.sealos.io_usergroupbindings.yaml
  controllers/user/config/crd/bases/user.sealos.io_usergroups.yaml
  controllers/user/config/crd/kustomization.yaml
  controllers/user/config/crd/patches/cainjection_in_groups.yaml
  controllers/user/config/crd/patches/cainjection_in_usergroupbindings.yaml
  controllers/user/config/crd/patches/cainjection_in_usergroupnamespacebindings.yaml
  controllers/user/config/crd/patches/cainjection_in_usergroups.yaml
  controllers/user/config/crd/patches/cainjection_in_usergroupuserbindings.yaml
  controllers/user/config/crd/patches/webhook_in_usergroupbindings.yaml
  controllers/user/config/crd/patches/webhook_in_usergroupnamespacebindings.yaml
  controllers/user/config/crd/patches/webhook_in_usergroups.yaml
  controllers/user/config/crd/patches/webhook_in_usergroupuserbindings.yaml
  controllers/user/controllers/user_controller.go
  controllers/user/controllers/usergroup_controller.go
  controllers/user/controllers/usergroupbinding_controller.go
  controllers/user/deploy/Kubefile
  controllers/user/deploy/manifests/deploy.yaml
  controllers/user/main.go
Labels: size/XL, area/cloud, area/api

#3466 fix cloud deploy yaml error
  controllers/cloud/deploy/manifests/deploy.yaml.tmpl
  controllers/resources/metering/deploy/manifests/deploy.yaml
Labels: size/XS, area/cloud

#3467 fix cloud deploy yaml error
  controllers/cloud/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/cloud

#3468 add cost-center env.
  frontend/providers/costcenter/deploy/Kubefile
  frontend/providers/costcenter/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/costcenter/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend

#3465 perf: launchpad request pod and metirces
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/components/Menu/index.tsx
  frontend/providers/applaunchpad/src/components/Table/index.tsx
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/pages/api/getPodsMetrics.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/EditEnvs.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/pages/apps/index.tsx
  frontend/providers/applaunchpad/src/services/backend/kubernetes.ts
  frontend/providers/applaunchpad/src/store/app.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/L, area/frontend

#3470 add base64 for public key
  controllers/cloud/deploy/manifests/configmaps.yaml
  controllers/pkg/crypto/crypto.go
Labels: size/S, area/cloud

#3471 perf(frontend/desktop):add sign in error tips
  frontend/desktop/package.json
  frontend/desktop/pnpm-lock.yaml
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh-Hans/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/services/backend/auth.ts
  frontend/desktop/src/services/backend/db/mongodb.ts
  frontend/desktop/src/services/backend/db/verifyCode.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/utils/tools.ts
Labels: size/L, area/frontend

#3478 fix: desktop open app & add number of notifications
  frontend/desktop/src/components/background/index.module.scss
  frontend/desktop/src/components/background/index.tsx
  frontend/desktop/src/components/user_menu/index.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/stores/app.ts
Labels: size/L, area/frontend

#3482 build(main): dev to latest
  .github/workflows/ci-patch-image.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
  .github/workflows/webhooks.yml
  controllers/account/Makefile
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/deploy/manifests/deploy.yaml
  controllers/app/Makefile
  controllers/app/deploy/manifests/deploy.yaml
  controllers/cloud/deploy/manifests/deploy.yaml.tmpl
  controllers/cluster/Makefile
  controllers/cluster/deploy/manifests/deploy.yaml
  controllers/db/adminer/Makefile
  controllers/db/adminer/deploy/README.md
  controllers/db/adminer/deploy/manifests/deploy.yaml.tmpl
  controllers/db/bytebase/deploy/README.md
  controllers/db/bytebase/deploy/manifests/deploy.yaml.tmpl
  controllers/imagehub/Makefile
  controllers/imagehub/deploy/manifests/deploy.yaml
  controllers/infra/Makefile
  controllers/infra/deploy/README.md
  controllers/infra/deploy/manifests/deploy.yaml
  controllers/metering/Makefile
  controllers/metering/deploy/manifests/deploy.yaml
  controllers/resources/Makefile
  controllers/resources/config/manager/manager.yaml
  controllers/resources/deploy/README.md
  controllers/resources/deploy/manifests/deploy-manager.yaml
  controllers/resources/metering/Makefile
  controllers/resources/metering/deploy/manifests/deploy.yaml
  controllers/terminal/Makefile
  controllers/terminal/deploy/README.md
  controllers/terminal/deploy/manifests/deploy.yaml.tmpl
  controllers/user/Makefile
  controllers/user/deploy/README.md
  controllers/user/deploy/manifests/deploy.yaml.tmpl
  deploy/cloud-deprecated/README.md
  deploy/cloud/README.md
  frontend/desktop/deploy/README.md
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/adminer/deploy/manifests/deploy.yaml
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/bytebase/deploy/manifests/deploy.yaml
  frontend/providers/costcenter/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/imagehub/deploy/manifests/deploy.yaml
  frontend/providers/terminal/deploy/manifests/deploy.yaml.tmpl
  frontend/static-cdn/Makefile
  frontend/static-cdn/deploy/manifest.yaml
  service/auth/Makefile
  service/auth/deploy/README.md
  service/auth/deploy/manifests/deploy.yaml
  service/hub/Makefile
  service/hub/deploy/manifests/deploy.yaml
  service/payment/Makefile
  webhooks/whitelist/Makefile
  webhooks/whitelist/deploy/manifests/deploy.yaml
Labels: size/L, area/cloud, area/ci, area/frontend, area/workflow

#3485 fix account cause error
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/account_controller_test.go
Labels: size/M

#3484 feat: add latest cluster image and update deploy docs.
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  deploy/cloud/README.md
  deploy/cloud/scripts/init.sh
  frontend/providers/terminal/deploy/images/shim/imagelist
Labels: size/M, area/ci, area/frontend, area/workflow

#3487 feature(main): add commitor for release
  .github/workflows/release.yml
Labels: size/XS, area/workflow

#3459 opt: add hints for the order of commands in documentations
  docs/4.0/docs/lifecycle-management/operations/build-image/build_run_application_private_registry.md
  docs/4.0/docs/lifecycle-management/operations/run-cluster/gen-apply-cluster.md
  docs/4.0/docs/lifecycle-management/quick-start/quick-start.md
  docs/4.0/docs/lifecycle-management/reference/sealos/commands/gen.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/build-image/build_run_application_private_registry.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/operations/run-cluster/gen-apply-cluster.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/quick-start/quick-start.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/commands/gen.md
Labels: kind/documentation, size/S, area/lifecycle-management

#3493 fix: transfer self; feat: add GetBillingCount db Interface
  controllers/account/controllers/transfer_controller.go
  controllers/account/testdata/account/recharge.go
  controllers/account/testdata/api/account.go
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongodb.go
Labels: size/M, area/cloud

#3491 feat: database env set storageName
  frontend/READMD.md
  frontend/desktop/pnpm-lock.yaml
  frontend/providers/dbprovider/.env.template
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/store/static.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/XXL, area/frontend

#3496 docs: delete deprecated cloud deploy
  deploy/cloud-deprecated/manifests/apisix/1-secret.yaml
  deploy/cloud-deprecated/manifests/apisix/2-certificate.yaml
  deploy/cloud-deprecated/manifests/apisix/3-cloud.yaml
  deploy/cloud-deprecated/manifests/apisix/README.md
  deploy/cloud-deprecated/manifests/apisix/optional-storage-class.yaml
  deploy/cloud-deprecated/manifests/apisix/side-login.yaml
  deploy/cloud-deprecated/manifests/ingress-nginx/1-secret.yaml
  deploy/cloud-deprecated/manifests/ingress-nginx/2-godaddy-dns.yaml
  deploy/cloud-deprecated/manifests/ingress-nginx/3-wildcard.yaml
  deploy/cloud-deprecated/manifests/ingress-nginx/README.md
  deploy/cloud-deprecated/manifests/ingress-nginx/side-login.yaml
  deploy/cloud-deprecated/manifests/interfaces/affine/ingress-affine.yaml
  deploy/cloud-deprecated/manifests/interfaces/kubernetes-dashboard/ingress-kubernetes-dashboard.yaml
  deploy/cloud-deprecated/manifests/interfaces/kuboard/ingress-kuboard.yaml
  deploy/cloud-deprecated/manifests/interfaces/postgres/README.md
  deploy/cloud-deprecated/manifests/interfaces/postgres/ha-cluster-pv.yaml
  deploy/cloud-deprecated/manifests/interfaces/postgres/ingress-pgadmin.yaml
  deploy/cloud-deprecated/manifests/interfaces/postgres/pgadmin.yaml
  deploy/cloud-deprecated/manifests/interfaces/redis/README.md
  deploy/cloud-deprecated/manifests/interfaces/redis/ingress-redisinsight.yaml
  deploy/cloud-deprecated/manifests/interfaces/redis/redisinsight.yaml
  deploy/cloud-deprecated/manifests/sealos.yaml
  deploy/cloud-deprecated/provider/sdk-app-demo/ingress.yaml
Labels: size/XXL, area/ci

#3497 perf: launchpad request controller
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/components/Table/index.tsx
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/getEnv.ts
  frontend/providers/applaunchpad/src/pages/api/platform/resourcePrice.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/pages/apps/index.tsx
  frontend/providers/applaunchpad/src/store/app.ts
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: size/L, area/frontend

#3499 fix:desktop message notification field
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/components/user_menu/index.tsx
Labels: size/L, area/frontend

#3490 refactor(user): delete ns controller
  controllers/pkg/utils/rate_limiter.go
  controllers/user/controllers/namespace_controller.go
  controllers/user/controllers/user_controller.go
  controllers/user/main.go
Labels: size/L, area/cloud

#3503 refactor(user): add operator sdk for user
  controllers/user/controllers/user_controller.go
  controllers/user/go.mod
  controllers/user/main.go
  go.work.sum
  lychee.toml
Labels: size/M, area/cloud

#3504 refactor(user): delete https://codecov.io check
  controllers/cluster/go.mod
  controllers/cluster/go.sum
  controllers/imagehub/controllers/image_controller.go
  controllers/imagehub/controllers/organization_controller.go
  controllers/imagehub/controllers/repository_controller.go
  controllers/imagehub/go.mod
  controllers/imagehub/go.sum
  controllers/infra/controllers/infra_controller.go
  controllers/infra/go.mod
  controllers/infra/go.sum
  controllers/pkg/utils/rate_limiter.go
  controllers/user/controllers/user_controller.go
  controllers/user/controllers/user_expiration_controller.go
  go.work.sum
  lychee.toml
Labels: size/XXL, area/cloud

#3505 Add links for sealos
  docs/4.0/docs/examples/ai-applications/install-fastgpt-on-desktop.md
  docs/4.0/docs/examples/blog-platform/install-halo.md
  docs/4.0/docs/examples/blog-platform/install-wordpress.md
  docs/4.0/docs/examples/dial-testing-system/install-uptime-kuma.md
  docs/4.0/docs/examples/low-code-platform/install-appsmith.md
  docs/4.0/docs/examples/low-code-platform/install-illacloud.md
  docs/4.0/docs/examples/low-code-platform/install-pageplug.md
  docs/4.0/docs/platform-components/bytebase/bytebase.md
  docs/4.0/docs/platform-components/terminal/terminal.md
  docs/4.0/docs/quick-start/install-apps-with-app-launchpad.md
  docs/4.0/docs/quick-start/install-apps-with-terminal.md
  docs/4.0/docs/quick-start/install-db-with-database.md
  docs/4.0/i18n/zh-Hans/examples/ai-applications/install-fastgpt-on-desktop.md
  docs/4.0/i18n/zh-Hans/examples/blog-platform/install-halo.md
  docs/4.0/i18n/zh-Hans/examples/blog-platform/install-wordpress.md
  docs/4.0/i18n/zh-Hans/examples/dial-testing-system/install-uptime-kuma.md
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-appsmith.md
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-illacloud.md
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-pageplug.md
  docs/4.0/i18n/zh-Hans/examples/social-communication/install-tailchat.md
  docs/4.0/i18n/zh-Hans/platform-components/applaunchpad/applaunchpad.md
  docs/4.0/i18n/zh-Hans/platform-components/bytebase/bytebase.md
  docs/4.0/i18n/zh-Hans/platform-components/dbprovider/dbprovider.md
  docs/4.0/i18n/zh-Hans/platform-components/terminal/terminal.md
  docs/4.0/i18n/zh-Hans/quick-start/install-apps-with-app-launchpad.md
  docs/4.0/i18n/zh-Hans/quick-start/install-apps-with-terminal.md
  docs/4.0/i18n/zh-Hans/quick-start/install-db-with-database.md
Labels: kind/documentation, size/M, area/cloud

#3506 Add docs of installing anki
  docs/4.0/docs/examples/images/2022-04-10-10-52-H2ZWUZ.png
  docs/4.0/docs/examples/images/2022-04-10-14-31-vrNHJU.png
  docs/4.0/docs/examples/images/2022-04-10-14-32-1iudM0.png
  docs/4.0/docs/examples/images/2022-04-10-14-32-ADfk8T.png
  docs/4.0/docs/examples/images/2023-06-26-11-54-EIVahX.jpg
  docs/4.0/docs/examples/images/2023-06-26-11-55-NDkuEg.jpg
  docs/4.0/docs/examples/images/2023-06-26-11-59-FxJE12.png
  docs/4.0/docs/examples/images/2023-06-26-12-01-DKect7.png
  docs/4.0/docs/examples/images/2023-06-26-12-05-CWczxm.png
  docs/4.0/docs/examples/images/2023-06-26-12-06-lvv6ms.png
  docs/4.0/docs/examples/images/2023-06-26-12-07-s8W7iu.png
  docs/4.0/docs/examples/images/2023-06-26-12-09-RslDGj.png
  docs/4.0/docs/examples/images/2023-06-26-12-24-QHYKZt.png
  docs/4.0/docs/examples/images/2023-06-26-12-26-HYOaBJ.png
  docs/4.0/docs/examples/images/2023-06-26-12-28-ccnUOj.png
  docs/4.0/docs/examples/images/2023-06-26-12-29-z5E9gi.png
  docs/4.0/docs/examples/images/2023-06-26-12-39-1jsF0t.jpeg
  docs/4.0/docs/examples/images/2023-06-26-13-09-FwsbfW.png
  docs/4.0/docs/examples/images/2023-06-26-13-09-Vs9ccy.png
  docs/4.0/docs/examples/images/2023-06-26-13-09-YFHPYc.png
  docs/4.0/docs/examples/images/2023-06-26-13-09-hdHfxP.png
  docs/4.0/docs/examples/images/2023-06-26-13-09-nwrxrv.png
  docs/4.0/docs/examples/others/install-anki.md
  docs/4.0/i18n/zh-Hans/examples/images/2022-04-10-10-52-H2ZWUZ.png
  docs/4.0/i18n/zh-Hans/examples/images/2022-04-10-14-31-vrNHJU.png
  docs/4.0/i18n/zh-Hans/examples/images/2022-04-10-14-32-1iudM0.png
  docs/4.0/i18n/zh-Hans/examples/images/2022-04-10-14-32-ADfk8T.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-11-54-EIVahX.jpg
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-11-55-NDkuEg.jpg
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-11-59-FxJE12.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-12-01-DKect7.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-12-05-CWczxm.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-12-06-lvv6ms.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-12-07-s8W7iu.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-12-09-RslDGj.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-12-24-QHYKZt.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-12-26-HYOaBJ.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-12-28-ccnUOj.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-12-29-z5E9gi.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-12-39-1jsF0t.jpeg
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-13-09-FwsbfW.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-13-09-Vs9ccy.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-13-09-YFHPYc.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-13-09-hdHfxP.png
  docs/4.0/i18n/zh-Hans/examples/images/2023-06-26-13-09-nwrxrv.png
  docs/4.0/i18n/zh-Hans/examples/others/install-anki.md
Labels: kind/documentation, size/L, area/cloud

#3507 refactor: cri_server multiple versions of AuthConfig
  staging/src/github.com/labring/image-cri-shim/pkg/server/cri_server_v1.go
  staging/src/github.com/labring/image-cri-shim/pkg/server/cri_server_v1alpha2.go
  staging/src/github.com/labring/image-cri-shim/pkg/types/auth.go
Labels: area/imageCRIShim, size/M, area/lifecycle-management

#3509 feat: support dual-stack
  pkg/cert/kube_certs.go
  pkg/utils/iputils/iputils_v2.go
Labels: size/M, area/lifecycle-management

#3513 build(main): add ci for latest
  .github/workflows/ci-patch-image.yml
  .github/workflows/services.yml
Labels: size/M, area/workflow

#3514 build(main): add ci for latest
  .github/workflows/ci-patch-image.yml
  .github/workflows/services.yml
Labels: size/M, area/workflow

#3515 build(main): add ci for latest
  .github/workflows/services.yml
Labels: size/XS, area/workflow

#3516 build(main): add ci for latest
  .github/workflows/services.yml
Labels: size/XS, area/workflow

#3508 fix: change SyncPeriod to setable to avoid too many users need sync at one time.
  controllers/user/controllers/user_controller.go
  controllers/user/go.mod
  controllers/user/go.sum
  controllers/user/main.go
Labels: size/M, area/cloud

#3517 docs: add dual-stack docs
  docs/4.0/docs/lifecycle-management/advanced-guide/dual-stack-cluster.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/dual-stack-cluster.md
Labels: kind/documentation, size/XXL, area/lifecycle-management

#3519 Update discord link
  README.md
  README_zh.md
Labels: size/XS

#3464 docs(v4.3): fix save and load docs
  docs/4.0/docs/lifecycle-management/reference/sealos/commands/load.md
  docs/4.0/docs/lifecycle-management/reference/sealos/commands/save.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/commands/load.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/reference/sealos/commands/save.md
Labels: kind/documentation, size/S, area/lifecycle-management

#3520 Update wechat qr code
  README_zh.md
  docs/4.0/img/sealos-qr-code.jpg
Labels: kind/documentation, size/XS

#3522 Add transfer notification
  controllers/account/config/crd/bases/account.sealos.io_transfers.yaml
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/config/manager/kustomization.yaml
  controllers/account/controllers/transfer_controller.go
  controllers/account/deploy/manifests/deploy.yaml
Labels: size/M, area/cloud

#3523 fix semgrep
  .github/workflows/check-semgrep.yml
Labels: size/XS, area/workflow

#3531 fix transfer notification timestamp
  controllers/account/controllers/transfer_controller.go
Labels: size/XS, area/cloud

#3532 docs: Update App Launchpad main features and quick start guide
  docs/4.0/docs/platform-components/applaunchpad/applaunchpad.md
  docs/4.0/docs/platform-components/applaunchpad/imgs/app-launchpad.jpg
  docs/4.0/docs/platform-components/applaunchpad/imgs/app-launchpad10.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/app-launchpad11.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/app-launchpad12.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/app-launchpad3.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/app-launchpad4.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/app-launchpad6.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/app-launchpad7.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/app-launchpad8.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/app-launchpad9.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/app-list.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad10.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad11.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad12.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad13.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad14.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad2.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad3.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad4.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad5.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad6.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad7.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad8.png
  docs/4.0/docs/platform-components/applaunchpad/imgs/applaunchpad9.png
Labels: kind/documentation, size/L, area/cloud

#3534 Ignore semgrep github-actions check
  .github/workflows/check-semgrep.yml
Labels: size/XS, area/workflow

#3535 feature(v4.3): default support tmp registry build image
  .github/workflows/services.yml
  docs/4.0/docs/lifecycle-management/advanced-guide/build-image-using-registry-sync.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/build-image-using-registry-sync.md
  pkg/registry/save/interface.go
Labels: kind/documentation, size/S, area/registry, area/workflow, area/lifecycle-management

#3536 feature(v4.3): default support tmp registry build image (#3535)
  .github/workflows/services.yml
  docs/4.0/docs/lifecycle-management/advanced-guide/build-image-using-registry-sync.md
  docs/4.0/i18n/zh-Hans/lifecycle-management/advanced-guide/build-image-using-registry-sync.md
  pkg/registry/save/interface.go
Labels: kind/documentation, size/S, area/registry, area/workflow, area/lifecycle-management

#3530 perf: desktop openapp method adds the pathname parameter
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/types/app.ts
Labels: size/M, area/frontend

#3540 feat: use cert-manager to gen tls cert and secret.
  deploy/cloud/Kubefile
  deploy/cloud/README.md
  deploy/cloud/manifests/mock-cert.yaml.tmpl
  deploy/cloud/scripts/init.sh
Labels: size/M, area/ci

#3543 fix cloud kubefile
  deploy/cloud-deprecated/README.md
  deploy/cloud/Kubefile
Labels: size/M, area/ci

#3544 add anno and label for user, ns and so on.
  controllers/account/api/v1/debt_webhook.go
  controllers/account/controllers/billing_controller.go
  controllers/resources/controllers/monitor_controller.go
  controllers/user/api/v1/groupversion_info.go
  controllers/user/api/v1/user_webhook.go
  controllers/user/controllers/user_controller.go
Labels: size/M, area/cloud

#3546 update app patch and label key
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/constants/editApp.ts
  frontend/providers/applaunchpad/src/hooks/useConfirm.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/getApps.ts
  frontend/providers/applaunchpad/src/pages/api/updateApp.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/DelModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/EditEnvs.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/L, area/frontend

#3533 feat(frontend/costcenter):create invoice
  frontend/providers/costcenter/.env
  frontend/providers/costcenter/next-i18next.config.js
  frontend/providers/costcenter/package.json
  frontend/providers/costcenter/pnpm-lock.yaml
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/assert/article.svg
  frontend/providers/costcenter/src/assert/invoice-active.svg
  frontend/providers/costcenter/src/assert/invoice.svg
  frontend/providers/costcenter/src/assert/list.svg
  frontend/providers/costcenter/src/assert/material-symbols_expand-more-rounded.svg
  frontend/providers/costcenter/src/assert/mdi_email-receive-outline.svg
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/billing/selectDateRange.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/RechargeModal.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/TransferModal.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/components/invoice/invoiceTable.tsx
  frontend/providers/costcenter/src/constants/billing.ts
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/hooks/useBillingData.tsx
  frontend/providers/costcenter/src/hooks/useCustomToast.tsx
  frontend/providers/costcenter/src/hooks/useRecharge.tsx
  frontend/providers/costcenter/src/hooks/useTransfer.tsx
  frontend/providers/costcenter/src/layout/sidebar.tsx
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/api/account/transfer.ts
  frontend/providers/costcenter/src/pages/api/enabled.ts
  frontend/providers/costcenter/src/pages/api/invoice/billings.ts
  frontend/providers/costcenter/src/pages/api/invoice/sms.ts
  frontend/providers/costcenter/src/pages/api/invoice/verify.ts
  frontend/providers/costcenter/src/pages/api/price/bonus.ts
  frontend/providers/costcenter/src/pages/billing/index.module.scss
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/create_invoice/InvoicdForm.tsx
  frontend/providers/costcenter/src/pages/create_invoice/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/service/backend/db/invoice.ts
  frontend/providers/costcenter/src/service/backend/db/mongodb.ts
  frontend/providers/costcenter/src/service/backend/db/verifyCode.ts
  frontend/providers/costcenter/src/service/backend/response.ts
  frontend/providers/costcenter/src/service/enabled.ts
  frontend/providers/costcenter/src/service/sendToBot.ts
  frontend/providers/costcenter/src/stores/env.ts
  frontend/providers/costcenter/src/styles/fonts.tsx
  frontend/providers/costcenter/src/test/testbot.ps1
  frontend/providers/costcenter/src/types/billing.ts
  frontend/providers/costcenter/src/types/env.ts
  frontend/providers/costcenter/src/types/index.ts
  frontend/providers/costcenter/src/types/invoice.ts
  frontend/providers/costcenter/src/utils/tools.ts
Labels: size/XXL, area/frontend

#3549 fix the current cluster does not exist, but the creationTimestamp of the expected cluster is not zero
  pkg/apply/applydrivers/apply_drivers_default.go
Labels: size/S, area/apply, area/lifecycle-management

#3548 i18n and hpa target
  frontend/packages/client-sdk/src/index.ts
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/components/RangeSlider/index.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/getEnv.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/services/backend/response.ts
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/applaunchpad/tsconfig.json
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/api/getEnv.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupTable.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/RestoreModal.tsx
  frontend/providers/dbprovider/src/store/static.ts
  frontend/scripts/pre-commit
  frontend/tsconfig.base.json
  frontend/tsconfig.json
  frontend/tsconfig.web.json
Labels: size/XXL, area/frontend

#3553 fix(frontend/desktop): clear query after fastdeploy
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/utils/format.ts
  frontend/providers/dbprovider/src/pages/_app.tsx
Labels: size/M, area/frontend

#3552 Update README.md
  deploy/cloud/README.md
Labels: size/XS, area/ci

#3557 feature(v4.3): delete workflow auto build controllers
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/release.yml
  .github/workflows/services.yml
  .github/workflows/webhooks.yml
Labels: size/XXL, area/workflow

#3558 feature(v4.3): delete workflow link check
  .github/workflows/check-link-error.yml
Labels: size/M, area/workflow

#3541 add stripe payment
  Makefile
  go.mod
  go.sum
  go.work.sum
  pkg/pay/stripe_payment.go
  pkg/pay/test/README.md
  pkg/pay/test/img.png
  pkg/pay/test/main.go
  pkg/pay/test/templates/index.html
  test/e2e/apply_infra_test.go
  test/e2e/e2e_test.go
  test/e2e/image_cri_shim_test.go
  test/e2e/suites/apply/apply.go
  test/e2e/suites/image/imageServiceClient.go
  test/e2e/suites/infra/infra.go
  test/e2e/suites/infra/tmpl.go
  test/e2e/suites/operators/image.go
  test/e2e/testdata/containerd-svc-etcd.yaml
  test/e2e/testdata/containerd-svc-sans.yaml
  test/e2e/testdata/containerd-svc-taints.yaml
  test/e2e/testdata/custome-containerd-svc.yaml
  test/e2e/testdata/custome-docker-svc.yaml
  test/e2e/testdata/docker-svc-sans.yaml
  test/e2e/testhelper/cmd/cmd.go
  test/e2e/testhelper/cmd/imageOpts.go
  test/e2e/testhelper/cmd/sealosCmd.go
  test/e2e/testhelper/cmd/sealosCmdOpts.go
  test/e2e/testhelper/cmd/sealosCmdOpts_test.go
  test/e2e/testhelper/kube/check.go
  test/e2e/testhelper/kube/k8s.go
  test/e2e/testhelper/kube/k8s_test.go
  test/e2e/testhelper/settings/env.go
  test/testpg/pgstresstest.go
Labels: size/XXL, area/ci, area/test, area/lifecycle-management

#3555 feat(user_controller): create user -> sync three roles
  controllers/user/api/v1/user_types.go
  controllers/user/config/manager/kustomization.yaml
  controllers/user/controllers/helper/config/rbac.go
  controllers/user/controllers/user_controller.go
  controllers/user/go.mod
  controllers/user/go.sum
  go.work.sum
Labels: size/XL, area/cloud, area/api

#3560 fix e2e apply test with infra && fix wrong ssh.fetch interface method implementation
  .github/workflows/e2e_test_apply.yml
  pkg/ssh/scp.go
  test/e2e/suites/apply/apply.go
  test/e2e/suites/infra/check.go
  test/e2e/suites/operators/image.go
  test/e2e/suites/operators/operators.go
Labels: size/M, area/test, area/workflow, area/lifecycle-management, area/ssh

#3563 feature(build): add force push action
  .github/workflows/bot-cherry-pick.yml
Labels: size/XS, area/workflow

#3564 add cherry pick action
  .github/workflows/bot-cherry-pick.yml
  scripts/cherry-pick.sh
Labels: size/L, area/ci, area/workflow

#3565 Cherry pick
  .github/workflows/bot-cherry-pick.yml
Labels: size/XS, area/workflow

#3566 fixed Error cherry
  .github/workflows/bot-cherry-pick.yml
  scripts/cherry-pick.sh
Labels: size/XS, area/ci, area/workflow

#3568 feature(build): add add pr action
  .github/workflows/bot-cherry-pick.yml
Labels: size/XS, area/workflow

#3569 fix: check hostname unique in creating new cluster
  pkg/apply/processor/create.go
  pkg/checker/host_checker.go
Labels: size/S, area/apply, area/check, area/lifecycle-management

#3559 feat(desktop/frontend):add curd for multinamespaces && fix make dev-desktop in makefile
  frontend/Makefile
  frontend/desktop/src/services/backend/db/namespace.ts
  frontend/desktop/src/services/backend/db/user.ts
Labels: size/L, area/frontend

#3525 feat: add and delete master or worker nodes with different ssh settings
  cmd/sealos/cmd/add.go
  cmd/sealos/cmd/delete.go
  pkg/apply/args.go
  pkg/apply/args_test.go
  pkg/apply/processor/delete.go
  pkg/apply/processor/scale.go
  pkg/apply/scale.go
  pkg/apply/scale_test.go
  pkg/bootstrap/context.go
  pkg/filesystem/rootfs/rootfs_default.go
  pkg/runtime/runtime.go
  pkg/runtime/runtime_getter.go
  pkg/ssh/clusterclient.go
  pkg/ssh/ssh.go
Labels: size/L, area/bootstrap, area/apply, area/filesystem, area/test, area/command, area/lifecycle-management, area/runtime, area/ssh

#3572 fix cluster status
  pkg/apply/applydrivers/apply_drivers_default.go
  pkg/apply/processor/create.go
  pkg/apply/processor/errors.go
Labels: size/S, area/apply, area/lifecycle-management

#3582 fix link ci
  README.md
  deploy/cloud/README.md
Labels: size/S, area/ci

#3575 crypto prices && add default prices
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/billing_controller.go
  controllers/account/controllers/billingrecordquery_controller.go
  controllers/pkg/crypto/crypto.go
  controllers/pkg/database/mongodb.go
  controllers/pkg/database/mongodb_test.go
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/metering/main.go
Labels: size/L, area/cloud, area/test

#3579 feature: recharge gift by configmap
  controllers/account/config/rbac/role.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/account_controller_test.go
  controllers/account/deploy/manifests/deploy.yaml
Labels: size/L, area/cloud, area/test

#3583 fix: set desktop secret optional as env
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/frontend

#3586 feat: expose mongo uri.
  deploy/cloud/Kubefile
  deploy/cloud/README.md
  deploy/cloud/scripts/init.sh
Labels: size/S, area/ci

#3588 fix: upgrade cluster
  go.mod
  go.sum
  pkg/apply/processor/install.go
  pkg/runtime/runtime.go
  pkg/runtime/upgrade.go
  pkg/types/v1beta1/cluster.go
  pkg/utils/versionutil/version.go
Labels: size/L, area/apply, area/lifecycle-management, area/api, area/runtime

#3592 refactor: remove versionutils
  pkg/runtime/kubeadm.go
  pkg/runtime/kubeadm_cmd.go
  pkg/runtime/upgrade.go
  pkg/types/v1beta1/cluster_args.go
  pkg/utils/versionutil/version.go
  pkg/utils/versionutil/version_test.go
Labels: size/L, area/test, area/lifecycle-management, area/api, area/runtime

#3591 feature(build): add pr branch
  .github/workflows/bot-cherry-pick.yml
Labels: size/S, area/workflow

#3584 add licenseissuer to cluster image
  controllers/licenseissuer/deploy/Kubefile
  controllers/licenseissuer/deploy/manifests/configmaps.yaml
  controllers/licenseissuer/deploy/manifests/customconfig.yaml.tmpl
  controllers/licenseissuer/internal/controller/license_controller.go
  deploy/cloud/init.sh
  deploy/cloud/scripts/init.sh
Labels: size/M, area/cloud, area/ci

#3598 fix: if the root user is not specified,sudo should be disabled.
  pkg/ssh/ssh.go
Labels: size/XS, area/lifecycle-management, area/ssh

#3596 feat: adapt for gpu cost
  controllers/account/deploy/Kubefile
  controllers/account/deploy/manifests/deploy.yaml
  controllers/pkg/common/gpu/nvidia.go
  controllers/pkg/common/resources.go
  controllers/pkg/database/mongodb.go
  controllers/resources/config/rbac/role.yaml
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/deploy/manifests/deploy.yaml
Labels: size/L, area/cloud

#3594 feat: adapt license for poc
  .gitignore
  controllers/licenseissuer/deploy/Kubefile
  controllers/licenseissuer/deploy/manifests/customconfig.yaml.tmpl
  controllers/licenseissuer/deploy/manifests/deploy.yaml
  controllers/licenseissuer/internal/controller/license_controller.go
  controllers/pkg/crypto/crypto_test.go
  deploy/cloud/manifests/admin-user.yaml
  deploy/cloud/manifests/free-license.yaml
  deploy/cloud/scripts/init.sh
Labels: size/L, area/cloud, area/ci, area/test

#3603 feat: add default limitrange
  controllers/account/config/default/manager_auth_proxy_patch.yaml
  controllers/account/config/rbac/role.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/billing_controller.go
  controllers/account/deploy/manifests/deploy.yaml
  controllers/pkg/common/resources.go
Labels: size/L, area/cloud

#3606 fix nil point error
  controllers/account/controllers/account_controller.go
Labels: size/XS, area/cloud
