Repository labring/sealos, pull requests merged in 2023-12, with the labels that each got.

#4355 fix switch kc, perf dockerfile, fix line chart
  .github/workflows/frontend.yml
  frontend/Dockerfile
  frontend/pnpm-lock.yaml
  frontend/providers/objectstorage/next.config.js
  frontend/providers/objectstorage/package.json
  frontend/providers/objectstorage/public/locales/en/common.json
  frontend/providers/objectstorage/public/locales/zh/common.json
  frontend/providers/objectstorage/src/api/monitor.ts
  frontend/providers/objectstorage/src/components/BucketContainer/BucketHeader.tsx
  frontend/providers/objectstorage/src/components/BucketContainer/FileManager.tsx
  frontend/providers/objectstorage/src/components/BucketContainer/Monitor.tsx
  frontend/providers/objectstorage/src/components/BucketContainer/lineChart.tsx
  frontend/providers/objectstorage/src/components/SideBar/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/CreateFolderModal/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/ParamterModal/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/UploadModal/index.tsx
  frontend/providers/objectstorage/src/consts.ts
  frontend/providers/objectstorage/src/hooks/useBillingData.tsx
  frontend/providers/objectstorage/src/pages/_app.tsx
  frontend/providers/objectstorage/src/pages/api/billing.ts
  frontend/providers/objectstorage/src/pages/api/bucket/create.ts
  frontend/providers/objectstorage/src/pages/api/bucket/delete.ts
  frontend/providers/objectstorage/src/pages/api/bucket/info.ts
  frontend/providers/objectstorage/src/pages/api/bucket/list.ts
  frontend/providers/objectstorage/src/pages/api/monitor.ts
  frontend/providers/objectstorage/src/pages/api/quota.ts
  frontend/providers/objectstorage/src/pages/api/user/init.ts
  frontend/providers/objectstorage/src/services/request.ts
  frontend/providers/objectstorage/src/store/ossStore.ts
  frontend/providers/objectstorage/src/types/billing.ts
  frontend/providers/objectstorage/src/utils/json2Yaml.ts
  frontend/providers/objectstorage/src/utils/tools.ts
  frontend/providers/objectstorage/src/utils/user.ts
Labels: size/XL, area/frontend, area/workflow

#4371 feat:desktop notification
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/notification/index.tsx
  frontend/packages/ui/src/components/icons/CloseIcon.tsx
  frontend/packages/ui/src/components/icons/WarnIcon.tsx
  frontend/packages/ui/src/components/index.ts
Labels: size/L, area/frontend

#4372 fix: document seo optimization
  docs/website/docusaurus.config.js
  docs/website/src/pages/components/Capability/index.phone.scss
  docs/website/src/pages/components/Capability/index.scss
  docs/website/src/pages/components/Capability/index.tsx
  docs/website/src/pages/components/Header/index.phone.scss
  docs/website/src/pages/components/Header/index.scss
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/components/Introduce/index.phone.scss
  docs/website/src/pages/components/Introduce/index.scss
  docs/website/src/pages/components/Introduce/index.tsx
  docs/website/src/pages/components/UserBy/index.tsx
  docs/website/src/pages/self-hosting/advantage/index.tsx
  docs/website/src/pages/self-hosting/header/index.scss
  docs/website/static/global.js
Labels: kind/documentation, size/L

#4377 feat:db automatic database backup
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/backup.ts
  frontend/providers/dbprovider/src/pages/api/backup/policy.ts
  frontend/providers/dbprovider/src/pages/api/backup/updatePolicy.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupTable.tsx
  frontend/providers/dbprovider/src/types/cluster.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
Labels: size/L, area/frontend

#4379 feat:db delete some databases
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/api/delDBByName.ts
  frontend/providers/dbprovider/src/services/request.ts
  service/license/src/pages/cluster/components/CommandForm.tsx
  service/license/src/pages/cluster/components/Tutorial.tsx
Labels: size/M, area/cloud, area/frontend

#4380 feat:launchpad support multiple containers
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/components/Icon/icons/detail.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/log.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/restart.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/terminal.svg
  frontend/providers/applaunchpad/src/pages/app/detail/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/PodDetailModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
Labels: size/L, area/frontend

#4385 Docs: add blog "To run or not to run a database on Kubernetes"
  docs/blog/en/2023/k8s-multi-tenancy.md
  docs/blog/en/2023/sealos-release.md
  docs/blog/en/2023/to-run-or-not-to-run-a-database-on-kubernetes/images/feature.jpg
  docs/blog/en/2023/to-run-or-not-to-run-a-database-on-kubernetes/images/sealos-database.png
  docs/blog/en/2023/to-run-or-not-to-run-a-database-on-kubernetes/index.md
  docs/blog/zh-Hans/2023/k8s-multi-tenancy.md
  docs/blog/zh-Hans/2023/sealos-release.md
  docs/blog/zh-Hans/2023/to-run-or-not-to-run-a-database-on-kubernetes/images/feature.jpg
  docs/blog/zh-Hans/2023/to-run-or-not-to-run-a-database-on-kubernetes/images/sealos-database.png
  docs/blog/zh-Hans/2023/to-run-or-not-to-run-a-database-on-kubernetes/index.md
  docs/blog/zh-Hans/2023/what-is-sealos.md
Labels: kind/documentation, size/L

#4382 fix:frontend upload convertdata
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/pages/api/platform/uploadData.ts
  frontend/desktop/src/pages/callback.tsx
  service/license/src/api/system.ts
  service/license/src/components/CodeBlock/index.tsx
  service/license/src/pages/api/platform/uploadData.ts
  service/license/src/pages/callback.tsx
  service/license/src/pages/cluster/components/Tutorial.tsx
  service/license/src/pages/license/components/Recharge.tsx
  service/license/src/pages/pricing/components/Product.tsx
Labels: size/M, area/cloud, area/frontend

#4384 refactor(costcenter): refactor bonus
  frontend/plugins/kubepanel/src/api/delete.ts
  frontend/plugins/kubepanel/src/pages/kubepanel/components/action-button/update-editor-modal.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/drawer/drawer-item.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/drawer/drawer-title.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/components/drawer/drawer.tsx
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/RechargeModal.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/lineChart.tsx
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/hooks/useBillingData.tsx
  frontend/providers/costcenter/src/pages/api/billing/index.ts
  frontend/providers/costcenter/src/pages/api/price/bonus.ts
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/stores/overview.ts
  frontend/providers/costcenter/src/utils/favorable.ts
  frontend/providers/template/src/pages/develop/index.tsx
Labels: size/L, area/frontend

#4398 fix:adapt to desktop open template
  frontend/desktop/src/pages/index.tsx
  frontend/providers/applaunchpad/src/hooks/useDriver.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
Labels: size/M, area/frontend

#4389 feat: add heartbeat for sealos self-host cluster.
  .github/workflows/controllers.yml
  controllers/go.work
  controllers/go.work.sum
  controllers/job/heartbeat/Dockerfile
  controllers/job/heartbeat/Makefile
  controllers/job/heartbeat/api/v1alpha/resource.go
  controllers/job/heartbeat/cmd/main.go
  controllers/job/heartbeat/deploy/Kubefile
  controllers/job/heartbeat/deploy/mainfests/deploy.yaml
  controllers/job/heartbeat/go.mod
  controllers/job/heartbeat/go.sum
  controllers/job/heartbeat/internal/cluster/cluster.go
  controllers/job/heartbeat/internal/util/client.go
  service/license/src/pages/api/v1alpha/heartbeat/cluster.ts
  service/license/src/services/backend/heartbeat/cluster.ts
  service/license/src/types/heartbeat/cluster.ts
Labels: size/XL, area/cloud, area/workflow

#4361 update kafka monitor
  service/database/api/req.go
Labels: size/S, area/cloud

#4403 Fix acme service type.
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/XS, area/frontend

#4406 feat:docs robots.txt
  docs/website/docusaurus.config.js
  docs/website/static/robots.txt
Labels: kind/documentation, size/XS

#4408 Chore: upgrade and fix cloud build logic
  deploy/cloud/manifests/free-license.yaml
  deploy/cloud/scripts/init.sh
  scripts/cloud/install.sh
Labels: size/S, area/ci

#4405 fix:launchpad issuer and certificates
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/api/delApp.ts
  frontend/providers/applaunchpad/src/pages/api/updateApp.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/ConfigmapModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
  frontend/providers/dbprovider/src/api/migrate.ts
  frontend/providers/dbprovider/src/pages/api/migrate/createDump.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/L, area/frontend

#4410 chore: fix license rbac, add heartbeat to cloud.
  controllers/job/heartbeat/deploy/manifests/deploy.yaml
  controllers/license/deploy/manifests/rbac.yaml
  deploy/cloud/init.sh
  deploy/cloud/scripts/init.sh
  frontend/providers/license/deploy/manifests/deploy.yaml.tmpl
  go.work.sum
Labels: size/M, area/cloud, area/ci, area/frontend

#4412 fix license
  controllers/license/deploy/manifests/rbac.yaml
Labels: size/S, area/cloud

#4415 feat:docs banner
  docs/website/docusaurus.config.js
  docs/website/src/components/NavBanner/index.scss
  docs/website/src/components/NavBanner/index.tsx
  docs/website/src/components/_Banner/index.scss
  docs/website/src/components/_Banner/index.tsx
  docs/website/src/css/custom.scss
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/index.scss
  docs/website/src/pages/self-hosting/header/index.tsx
  docs/website/static/global.js
Labels: kind/documentation, size/XL

#4418 Dev fix
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/XS, area/workflow

#4378 fix(template):fix deps, fix styles
  frontend/pnpm-lock.yaml
  frontend/providers/template/next.config.js
  frontend/providers/template/package.json
  frontend/providers/template/src/components/YamlCode/hljs.ts
  frontend/providers/template/src/components/YamlCode/index.module.scss
  frontend/providers/template/src/components/YamlCode/index.tsx
  frontend/providers/template/src/constants/theme.ts
  frontend/providers/template/src/pages/deploy/components/Yaml.tsx
  frontend/providers/template/src/pages/develop/components/Editor.tsx
  frontend/providers/template/src/pages/develop/components/YamlList.tsx
  frontend/providers/template/src/pages/develop/index.tsx
Labels: size/XL, area/frontend

#4423 chore: fix heartbeat job rbac
  controllers/job/heartbeat/deploy/manifests/deploy.yaml
Labels: size/XS, area/cloud

#4421 feat:control file migration and template sharing link
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/providers/cronjob/src/api/platform.ts
  frontend/providers/cronjob/src/pages/_app.tsx
  frontend/providers/cronjob/src/pages/api/platform/getEnv.ts
  frontend/providers/cronjob/src/store/env.ts
  frontend/providers/dbprovider/src/api/platform.ts
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/api/getEnv.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/store/env.ts
  frontend/providers/dbprovider/src/store/static.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/develop/components/YamlList.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/dbList.tsx
  service/license/src/pages/api/cluster/activeCluster.ts
Labels: size/L, area/cloud, area/frontend

#4425 chore: fix license controller get kube-system.
  controllers/license/cmd/manager/main.go
  controllers/license/internal/util/clusterid/cluster_id.go
Labels: size/S, area/cloud

#4426 fix template readme img src
  frontend/providers/template/src/pages/api/listTemplate.ts
  frontend/providers/template/src/pages/deploy/components/ReadMe.tsx
  frontend/providers/template/src/utils/tools.ts
  service/license/src/pages/api/cluster/activeCluster.ts
  service/license/src/services/backend/db/payment.ts
Labels: size/M, area/cloud, area/frontend

#4428 fix:tempalte detail api add cdn
  frontend/providers/template/src/pages/api/getTemplateSource.ts
  frontend/providers/template/src/pages/api/listTemplate.ts
Labels: size/S, area/frontend

#4429 change nodeport default price
  controllers/pkg/resources/resources.go
Labels: size/XS, area/cloud

#4414 Add database config docs
  docs/4.0/docs/guides/dbprovider/config-docs/config-docs.md
  docs/4.0/docs/guides/dbprovider/config-docs/imgs/config_1.png
  docs/4.0/docs/guides/dbprovider/config-docs/imgs/config_2.png
  docs/4.0/docs/guides/dbprovider/config-docs/imgs/config_3.png
  docs/4.0/docs/guides/dbprovider/config-docs/imgs/config_4.png
  docs/4.0/docs/guides/dbprovider/config-docs/imgs/config_5.png
  docs/4.0/docs/guides/dbprovider/config-docs/imgs/config_6.png
  docs/4.0/docs/guides/dbprovider/config-docs/imgs/config_7.png
  docs/4.0/i18n/zh-Hans/guides/dbprovider/config-docs/config-docs.md
  docs/4.0/i18n/zh-Hans/guides/dbprovider/config-docs/imgs/config_1.png
  docs/4.0/i18n/zh-Hans/guides/dbprovider/config-docs/imgs/config_2.png
  docs/4.0/i18n/zh-Hans/guides/dbprovider/config-docs/imgs/config_3.png
  docs/4.0/i18n/zh-Hans/guides/dbprovider/config-docs/imgs/config_4.png
  docs/4.0/i18n/zh-Hans/guides/dbprovider/config-docs/imgs/config_5.png
  docs/4.0/i18n/zh-Hans/guides/dbprovider/config-docs/imgs/config_6.png
  docs/4.0/i18n/zh-Hans/guides/dbprovider/config-docs/imgs/config_7.png
Labels: kind/documentation, size/L, area/cloud

#4430 fix: activator logic.
  controllers/license/internal/controller/license_controller.go
Labels: size/XS, area/cloud

#4432 fix:desktop usedriver & tempalte yml
  frontend/desktop/src/hooks/useDriver.tsx
  frontend/providers/template/src/pages/api/updateRepo.ts
  service/license/src/pages/api/payment/create.ts
  service/license/src/pages/cluster/components/Recharge.tsx
  service/license/src/pages/pricing/components/Product.tsx
  service/license/src/types/payment.ts
Labels: size/S, area/cloud, area/frontend

#4427 bugfix: fix sudo -E bash -c '$cmd' with cmd that contains single quotations
  pkg/ssh/sshcmd.go
Labels: size/XS, area/lifecycle-management, area/ssh

#4407 Optimize/remote cmd return error
  pkg/runtime/k3s/lifecycle.go
  pkg/ssh/remote.go
Labels: size/XS, area/lifecycle-management, area/runtime, area/ssh

#4436 feat:launchpad jsonpatch & template add filename
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/app_window/index.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/authCname.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
  frontend/providers/dbprovider/src/pages/api/platform/resourcePrice.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/store/static.ts
  frontend/providers/template/src/pages/api/getKindTemplate.ts
  frontend/providers/template/src/pages/api/getTemplateSource.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/pages/deploy/components/Form.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/types/app.ts
Labels: size/L, area/frontend

#4438 chore: add monitor for database and kubernetes.
  deploy/cloud/manifests/tls-secret.yaml
  scripts/cloud/install.sh
Labels: size/L, area/ci

#4439 chore: fix pull image.
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4437 fix:deploy menuData helpDocs
  frontend/providers/adminer/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/costcenter/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/dbprovider/deploy/Kubefile
  frontend/providers/dbprovider/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/pages/api/getEnv.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/ChartTemplate.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/store/env.ts
  frontend/providers/license/src/pages/api/platform/getClusterId.ts
  frontend/providers/objectstorage/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/terminal/deploy/manifests/appcr.yaml.tmpl
Labels: size/M, area/frontend

#4440 chore: fix database monitor.
  frontend/providers/dbprovider/deploy/Kubefile
  scripts/cloud/build-offline-tar.sh
  scripts/cloud/install.sh
  service/database/deploy/manifests/deploy.yaml
Labels: size/L, area/cloud, area/ci, area/frontend

#4434 Update Quick installation of Vue Apps.md
  docs/4.0/i18n/zh-Hans/examples/programming-languages/Quick installation of Vue Apps.md
Labels: kind/documentation, size/XS, area/cloud

#4441 chore: change deploy order.
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4443 chore(costcenter):Update copywriting for Port
  frontend/packages/driver/src/utils.ts
  frontend/plugins/kubepanel/src/pages/kubepanel/components/kube-object/workload/deployment/deployment-detail.tsx
  frontend/providers/applaunchpad/next.config.js
  frontend/providers/applaunchpad/tsconfig.json
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/template/src/pages/deploy/components/Form.tsx
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/deploy/components/ReadMe.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/components/YamlList.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/dbList.tsx
Labels: size/L, area/frontend

#4291 feat(sealos create): Add command preview functionality
  pkg/buildah/create.go
  pkg/guest/guest.go
  pkg/guest/util.go
  service/go.work.sum
Labels: area/buildah, size/L, area/guest, area/cloud, area/lifecycle-management

#4445 fix:db auth & template develop
  frontend/providers/applaunchpad/src/components/Table/index.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/empty.tsx
  frontend/providers/applaunchpad/src/services/backend/response.ts
  frontend/providers/cronjob/src/pages/jobs/components/empty.tsx
  frontend/providers/dbprovider/src/components/Menu/index.tsx
  frontend/providers/dbprovider/src/components/RangeDate/index.tsx
  frontend/providers/dbprovider/src/components/Table/index.tsx
  frontend/providers/dbprovider/src/constants/theme.ts
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/empty.tsx
  frontend/providers/dbprovider/src/store/env.ts
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/services/backend/response.ts
Labels: size/L, area/frontend

#4446 fix:privoder logo svg
  frontend/providers/dbprovider/public/logo.svg
  frontend/providers/terminal/public/logo.svg
Labels: size/S, area/frontend
