Repository labring/sealos, pull requests merged in 2024-03, with the labels that each got.

#4542 fix object storage workflow error
  .github/workflows/objectstorage.yaml
Labels: size/XS, area/workflow

#4545 chore: fix desktop secret error.
  frontend/desktop/deploy/manifests/secret.yaml
  frontend/desktop/deploy/scripts/init.sh
Labels: size/S, area/frontend

#4546 style(kubepanel): adjust style
  frontend/plugins/kubepanel/src/components/chart/pie-chart.tsx
  frontend/plugins/kubepanel/src/components/common/action/action-button.tsx
  frontend/plugins/kubepanel/src/components/common/action/create-resource-modal.tsx
  frontend/plugins/kubepanel/src/components/common/section/section.tsx
  frontend/plugins/kubepanel/src/components/common/sidebar/sidebar.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/index.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/kube-object/workload/overview/overview.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/layout.tsx
  frontend/plugins/kubepanel/src/styles/globals.css
Labels: size/L, area/frontend

#4547 chore: fix desktop deployment error and update cert-manager version.
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  scripts/cloud/install.sh
Labels: size/S, area/ci, area/frontend

#4548 Fix/traffic db name
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongo/account.go
  controllers/pkg/database/mongo/account_test.go
  controllers/resources/controllers/monitor_controller.go
Labels: size/L, area/cloud, area/test

#4549 chore: fix frontend deployment error.
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend

#4550 chore: enable build kubepanel image.
  .github/workflows/frontend.yml
  frontend/plugins/kubepanel/deploy/menifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend, area/workflow

#4551 Build kubepanel
  .github/workflows/frontend.yml
Labels: size/XS

#4553 chore: change sealos cloud component resource limit.
  controllers/objectstorage/deploy/manifests/deploy.yaml.tmpl
  controllers/terminal/deploy/manifests/deploy.yaml.tmpl
  controllers/user/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/adminer/deploy/manifests/deploy.yaml
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/costcenter/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/objectstorage/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/terminal/deploy/manifests/deploy.yaml.tmpl
Labels: size/M, area/cloud, area/frontend

#4555 fix minio init error
  deploy/objectstorage/scripts/minio.sh
Labels: size/XS, area/ci

#4557 change admin to username
  deploy/objectstorage/Kubefile
Labels: size/XS, area/ci

#4559 chore: fix kubepanel and objectstorage cluster image build.
  deploy/objectstorage/Kubefile
  frontend/providers/kubepanel/deploy/Kubefile
Labels: size/XS, area/ci, area/frontend

#4560 fix: dbprovider resource already exists problem
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/kubepanel/public/logo.svg
  service/license/src/pages/cluster/components/ConfigForm.tsx
Labels: size/S, area/cloud, area/frontend

#4562 chore(kubepanel): update logo and kubefile
  frontend/providers/kubepanel/deploy/Kubefile
  frontend/providers/kubepanel/public/logo.svg
Labels: size/S, area/frontend

#4563 add pull file func
  deploy/objectstorage/init.sh
  deploy/objectstorage/scripts/minio.sh
Labels: size/S, area/ci

#4564 feat:docs sale banner
  docs/website/docusaurus.config.js
  docs/website/src/components/SaleBanner/index.scss
  docs/website/src/components/SaleBanner/index.tsx
  docs/website/src/pages/components/Header/index.scss
  docs/website/src/pages/index.tsx
Labels: kind/documentation, size/L

#4566 feat(desktop): add appToken for providers & fix ssr error
  frontend/desktop/src/__tests__/api/e2e/namespace/invite.test.ts
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/api/namespace.ts
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/signin/auth/usePassword.tsx
  frontend/desktop/src/components/signin/auth/useSms.tsx
  frontend/desktop/src/pages/api/auth/namespace/switch.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/switchRegion.tsx
  frontend/desktop/src/services/backend/auth.ts
  frontend/desktop/src/services/backend/regionAuth.ts
  frontend/desktop/src/utils/sessionConfig.ts
  frontend/packages/client-sdk/src/master.ts
  frontend/packages/client-sdk/src/types/user.d.ts
  frontend/providers/adminer/src/stores/session.ts
Labels: size/L, area/frontend

#4574 fix(costcenter):fix rerender when select date
  frontend/providers/costcenter/src/components/billing/InOutTabPanel.tsx
  frontend/providers/costcenter/src/components/billing/RechargeTabPanel.tsx
  frontend/providers/costcenter/src/components/billing/selectDateRange.tsx
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/billing/index.tsx
Labels: size/M, area/frontend

#4571 Disable desktop app draggable.
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/more_apps/index.tsx
Labels: size/XS, area/frontend

#4575 docs:offline recharge promotions
  docs/website/docusaurus.config.js
  docs/website/src/pages/components/Header/index.scss
  docs/website/src/pages/index.tsx
  docs/website/static/global.js
  service/license/src/pages/cluster/components/ConfigForm.tsx
Labels: kind/documentation, size/M, area/cloud

#4569 fix: Add "Deploy" translation key to English locale
  frontend/providers/cronjob/public/locales/en/common.json
Labels: good first issue, size/XS, area/frontend

#4577 Update doc typos and show `quick-start` tab as default.
  docs/4.0/docs/quick-start/use-database.md
  docs/4.0/docs/quick-start/use-template.md
  docs/4.0/i18n/zh-Hans/quick-start/use-database.md
  docs/4.0/i18n/zh-Hans/quick-start/use-template.md
  docs/4.0/sidebar.json
Labels: kind/documentation, size/S, area/cloud

#4579 Add Object Storage guide docs
  docs/4.0/docs/guides/objectstorage/images/1.png
  docs/4.0/docs/guides/objectstorage/images/10.png
  docs/4.0/docs/guides/objectstorage/images/11.png
  docs/4.0/docs/guides/objectstorage/images/12.png
  docs/4.0/docs/guides/objectstorage/images/13.png
  docs/4.0/docs/guides/objectstorage/images/2.png
  docs/4.0/docs/guides/objectstorage/images/3.png
  docs/4.0/docs/guides/objectstorage/images/4.png
  docs/4.0/docs/guides/objectstorage/images/5.png
  docs/4.0/docs/guides/objectstorage/images/6.png
  docs/4.0/docs/guides/objectstorage/images/7.png
  docs/4.0/docs/guides/objectstorage/images/8.png
  docs/4.0/docs/guides/objectstorage/images/9.png
  docs/4.0/docs/guides/objectstorage/objectstorage.md
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/1.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/10.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/11.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/12.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/13.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/2.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/3.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/4.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/5.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/6.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/7.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/8.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/9.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/objectstorage.md
Labels: kind/documentation, size/L, area/cloud

#4582 addEnv to deploy desktop
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/deploy/manifests/secret.yaml
Labels: size/M, area/frontend

#4583 feat:template support application marketplace category feature
  frontend/desktop/src/components/user_menu/github.tsx
  frontend/pnpm-lock.yaml
  frontend/providers/template/.env.template
  frontend/providers/template/.gitignore
  frontend/providers/template/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/template/package.json
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/api/platform.ts
  frontend/providers/template/src/components/Banner/index.tsx
  frontend/providers/template/src/components/layout/appmenu.tsx
  frontend/providers/template/src/components/layout/index.tsx
  frontend/providers/template/src/components/layout/sidebar.tsx
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/pages/api/listTemplate.ts
  frontend/providers/template/src/pages/api/platform/getSystemConfig.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/pages/app/components/list.tsx
  frontend/providers/template/src/pages/app/index.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/components/BreadCrumbHeader.tsx
  frontend/providers/template/src/pages/develop/components/Form.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/header.tsx
  frontend/providers/template/src/store/config.ts
  frontend/providers/template/src/store/search.ts
  frontend/providers/template/src/types/app.ts
  frontend/providers/template/src/utils/template.ts
Labels: size/XXL, area/frontend

#4586 chore(frontend): add prisma cli into prod image
  frontend/Dockerfile
  frontend/desktop/.dockerignore
  frontend/desktop/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: size/L, area/frontend

#4587 chore(frontend): add jwt-secret-app env
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/deploy/manifests/secret.yaml
Labels: size/M, area/frontend

#4589 Fix controller memory usage
  controllers/db/adminer/Makefile
  controllers/db/adminer/config/crd/bases/adminer.db.sealos.io_adminers.yaml
  controllers/db/adminer/controllers/adminer_controller.go
  controllers/db/adminer/go.mod
  controllers/db/adminer/go.sum
  controllers/db/adminer/main.go
  controllers/go.work.sum
  controllers/pkg/utils/label/constant.go
  controllers/pkg/utils/label/recommend.go
  controllers/terminal/Makefile
  controllers/terminal/config/crd/bases/terminal.sealos.io_terminals.yaml
  controllers/terminal/config/rbac/role.yaml
  controllers/terminal/controllers/terminal_controller.go
  controllers/terminal/go.mod
  controllers/terminal/go.sum
  controllers/terminal/main.go
Labels: size/XXL, area/cloud

#4592 fix user change ns annotations
  controllers/user/controllers/user_controller.go
Labels: size/XS, area/cloud

#4594 Transfer service
  controllers/account/controllers/accountv2_test.go
  controllers/account/controllers/debt_controller.go
  controllers/account/main.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongo/user.go
  controllers/pkg/database/mongo/user_test.go
  controllers/pkg/types/User.go
  controllers/pkg/types/dbquery.go
  controllers/pkg/types/global.go
  service/account/api/api.go
  service/account/dao/interface.go
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/helper/common.go
  service/account/helper/request.go
  service/account/router/router.go
Labels: size/XXL, area/cloud, area/test

#4595 fix(desktop):add cloudflare turnstile
  frontend/desktop/package.json
  frontend/desktop/src/components/signin/auth/useSms.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/pages/api/platform/getEnv.ts
  frontend/desktop/src/stores/global.ts
  frontend/desktop/src/types/system.ts
  frontend/pnpm-lock.yaml
Labels: size/L, area/frontend

#4597 Fix controller ingress label override.
  controllers/db/adminer/controllers/adminer_controller.go
  controllers/terminal/controllers/terminal_controller.go
Labels: size/XS, area/cloud

#4593 adapt install script for cockroachdb.
  deploy/cloud/etc/sealos/desktop-config.yaml
  deploy/cloud/manifests/cockroachdb.yaml
  deploy/cloud/manifests/mongodb.yaml.tmpl
  deploy/cloud/scripts/gen-cockroachdb-uri.sh
  deploy/cloud/scripts/init.sh
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/deploy/manifests/secret.yaml
  scripts/cloud/build-offline-tar.sh
  scripts/cloud/install.sh
Labels: size/L, area/ci, area/frontend

#4598 feat: launchpad api createApp with extra parameters
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/store/app.ts
  frontend/providers/cronjob/.env.template
  frontend/providers/dbprovider/deploy/Kubefile
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/M, area/frontend

#4607 feat:optimize app store loading
  frontend/providers/template/src/components/layout/index.tsx
  frontend/providers/template/src/components/layout/sidebar.tsx
  frontend/providers/template/src/pages/404.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/store/config.ts
Labels: size/M, area/frontend

#4608 chore: fix typo.
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4600 License with accountv2
  controllers/account/deploy/Kubefile
  controllers/account/deploy/manifests/account-manager-config.yaml.tmpl
  controllers/account/deploy/manifests/deploy.yaml.tmpl
  controllers/account/deploy/manifests/mongo-secret.yaml.tmpl
  controllers/job/init/cmd/preset/main.go
  controllers/job/init/deploy/manifests/deploy.yaml.tmpl
  controllers/job/init/internal/util/common/uuid.go
  controllers/job/init/internal/util/controller/user.go
  controllers/job/init/internal/util/database/database.go
  controllers/job/init/internal/util/database/types.go
  controllers/job/init/internal/util/database/user.go
  controllers/job/init/internal/util/errors/errors.go
  controllers/license/cmd/manager/main.go
  controllers/license/config/crd/bases/license.sealos.io_licenses.yaml
  controllers/license/config/default/kustomization.yaml
  controllers/license/config/rbac/role.yaml
  controllers/license/deploy/manifests/deploy.yaml
  controllers/license/deploy/manifests/rbac.yaml
  controllers/license/deploy/manifests/secret.yaml.tmpl
  controllers/license/internal/controller/license_activator.go
  controllers/license/internal/controller/license_controller.go
  controllers/license/internal/controller/license_recorder.go
  controllers/license/internal/util/account/account.go
  controllers/license/internal/util/account/account_test.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/pkg/types/User.go
  controllers/pkg/types/global.go
  deploy/cloud/etc/sealos/desktop-config.yaml
  deploy/cloud/init.sh
  deploy/cloud/scripts/init.sh
  frontend/desktop/deploy/manifests/secret.yaml
Labels: size/XL, area/cloud, area/ci, area/test, area/frontend

#4609 feat:Improve App Store rendering speed
  frontend/pnpm-lock.yaml
  frontend/providers/template/next.config.js
  frontend/providers/template/package.json
  frontend/providers/template/src/components/Banner/index.tsx
  frontend/providers/template/src/components/YamlCode/hljs.ts
  frontend/providers/template/src/components/YamlCode/index.module.scss
  frontend/providers/template/src/components/YamlCode/index.tsx
  frontend/providers/template/src/components/layout/sidebar.tsx
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/pages/deploy/components/Yaml.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/components/YamlList.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/services/backend/kubernetes.ts
  frontend/providers/template/src/store/session.ts
Labels: size/XL, area/frontend

#4605 Update cockroach
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4513 fix: local page auto fall into online site.
  frontend/packages/client-sdk/src/app.ts
Labels: size/XS, area/frontend

#4599 refactor:providers invite app
  frontend/providers/invite/.env.template
  frontend/providers/invite/next.config.js
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/invite/src/hooks/useScreen.ts
  frontend/providers/invite/src/pages/_app.tsx
  frontend/providers/invite/src/pages/api/account/list.ts
  frontend/providers/invite/src/pages/api/applyYamlList.ts
  frontend/providers/invite/src/pages/api/platform/getEnv.ts
  frontend/providers/invite/src/pages/index.tsx
  frontend/providers/invite/src/services/backend/auth.ts
  frontend/providers/invite/src/services/backend/kubernetes.ts
  frontend/providers/invite/src/services/error.ts
  frontend/providers/invite/src/services/request.ts
  frontend/providers/invite/src/services/response.ts
  frontend/providers/invite/src/store/global.ts
  frontend/providers/invite/src/store/session.ts
  frontend/providers/invite/src/types/session.ts
  frontend/providers/invite/src/utils/i18n.ts
  frontend/providers/invite/src/utils/user.ts
Labels: size/XL, area/frontend

#4611 fix gen region uid
  deploy/cloud/scripts/init.sh
Labels: size/S, area/ci

#4612 fix job/init env
  service/account/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/cloud

#4615 fix:db external network connection
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/XS, area/frontend

#4617 chore: add podAntiAffinity for desktop and some providers.
  controllers/account/deploy/manifests/deploy.yaml.tmpl
  controllers/admission/deploy/manifests/deploy.yaml.tmpl
  controllers/app/deploy/manifests/deploy.yaml
  controllers/db/adminer/deploy/manifests/deploy.yaml.tmpl
  controllers/objectstorage/deploy/manifests/deploy.yaml.tmpl
  controllers/terminal/deploy/manifests/deploy.yaml.tmpl
  controllers/user/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/adminer/deploy/manifests/deploy.yaml
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/costcenter/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/cronjob/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/kubepanel/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/license/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/objectstorage/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/terminal/deploy/manifests/deploy.yaml.tmpl
Labels: size/L, area/cloud, area/frontend

#4619 The init job waits for the user table to be created before execution.
  controllers/job/init/internal/util/database/user.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/types/global.go
Labels: size/M, area/cloud

#4620 create region
  controllers/pkg/types/global.go
Labels: size/XS, area/cloud

#4614 feat:invite app add deployment files
  frontend/providers/invite/deploy/Kubefile
  frontend/providers/invite/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/invite/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/invite/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/invite/public/favicon.ico
  frontend/providers/invite/public/logo.svg
Labels: size/L, area/frontend

#4613 feat:desktop supports invitations
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/signin/auth/AuthList.tsx
  frontend/desktop/src/components/signin/auth/usePassword.tsx
  frontend/desktop/src/components/signin/auth/useSms.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/hooks/useDriver.tsx
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/pages/api/account/getAmount.ts
  frontend/desktop/src/pages/api/auth/oauth/github/index.ts
  frontend/desktop/src/pages/api/auth/oauth/google/index.ts
  frontend/desktop/src/pages/api/auth/oauth/wechat/index.ts
  frontend/desktop/src/pages/api/auth/password/index.ts
  frontend/desktop/src/pages/api/auth/phone/verify.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/services/backend/globalAuth.ts
  frontend/desktop/src/services/backend/kubernetes/user.ts
  frontend/desktop/src/stores/global.ts
  frontend/desktop/src/utils/sessionConfig.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/services/backend/kubernetes.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/L, area/frontend

#4624 fix: fix env name error
  controllers/objectstorage/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/cloud

#4625 update cpu and memory config requirements for deploying sealos
  docs/4.0/docs/self-hosting/sealos/installation.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/installation.md
Labels: kind/documentation, size/S, area/cloud

#4628 Fix title typo.
  controllers/app/deploy/appexample/cr.yaml
  deploy/registry/README.md
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/src/pages/api/platform/getSystemConfig.ts
  service/license/src/components/Signin/index.tsx
  service/license/src/components/signin/index.tsx
Labels: size/S, area/cloud, area/ci, area/frontend

#4627 feat:template support base64
  frontend/pnpm-lock.yaml
  frontend/providers/template/package.json
  frontend/providers/template/src/pages/api/listTemplate.ts
  frontend/providers/template/src/utils/json-yaml.ts
Labels: size/S, area/frontend

#4629 add init job
  controllers/account/api/v1/debt_webhook.go
  controllers/account/controllers/debt_controller.go
  controllers/job/init/internal/util/database/types.go
  controllers/job/init/internal/util/database/user.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/pkg/types/global.go
Labels: size/L, area/cloud

#4630 chore: update other component version in sealos cloud.
  deploy/cloud/scripts/init.sh
  scripts/cloud/build-offline-tar.sh
  scripts/cloud/install.sh
Labels: size/M, area/ci

#4631 fix:desktop region info
  frontend/desktop/src/components/region/RegionToggle.tsx
Labels: size/S, area/frontend

#4632 fix create region description
  controllers/job/init/internal/util/database/user.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/types/global.go
Labels: size/M, area/cloud

#4635 chore: fix ingress-nginx allow-snippet-annotations.
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4636 chore: fix mongo uri gen.
  deploy/cloud/manifests/mongodb.yaml.tmpl
  deploy/cloud/scripts/gen-mongodb-uri.sh
  scripts/cloud/build-offline-tar.sh
  scripts/cloud/install.sh
Labels: size/L, area/ci

#4637 chore: run sealos desktop to init database.
  deploy/cloud/scripts/init.sh
Labels: size/S, area/ci

#4638 Fix waiting for table creation
  controllers/job/init/Makefile
  controllers/job/init/internal/util/database/user.go
  controllers/pkg/database/cockroach/accountv2.go
Labels: size/L, area/cloud

#4634 feat(frontend): static host
  frontend/packages/ui/src/components/icons/WebHostIcon.tsx
  frontend/packages/ui/src/components/index.ts
  frontend/providers/adminer/src/pages/api/apply.ts
  frontend/providers/objectstorage/public/locales/en/common.json
  frontend/providers/objectstorage/public/locales/zh/bucket.json
  frontend/providers/objectstorage/public/locales/zh/common.json
  frontend/providers/objectstorage/src/api/bucket.ts
  frontend/providers/objectstorage/src/components/BucketContainer/HostStatus.tsx
  frontend/providers/objectstorage/src/components/BucketContainer/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/UploadModal/index.tsx
  frontend/providers/objectstorage/src/consts.ts
  frontend/providers/objectstorage/src/pages/_app.tsx
  frontend/providers/objectstorage/src/pages/api/site/closeHost.ts
  frontend/providers/objectstorage/src/pages/api/site/openHost.ts
  frontend/providers/objectstorage/src/pages/api/site/status.ts
  frontend/providers/objectstorage/src/services/request.ts
Labels: size/L, area/frontend

#4623 feat: add object storage key secret
  controllers/objectstorage/controllers/objectstorageuser_controller.go
Labels: size/M, area/cloud

#4639 fix:desktop password login and static host
  frontend/desktop/src/components/region/RegionToggle.tsx
  frontend/desktop/src/pages/api/auth/password/exist.ts
  frontend/packages/client-sdk/src/utils/kubernetes.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/services/backend/kubernetes.ts
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/objectstorage/src/components/BucketContainer/HostStatus.tsx
  frontend/providers/objectstorage/src/pages/api/site/openHost.ts
  frontend/providers/objectstorage/src/pages/api/site/status.ts
Labels: size/M, area/frontend

#4640 docs: add static host doc
  docs/4.0/docs/guides/objectstorage/images/14.png
  docs/4.0/docs/guides/objectstorage/images/15.png
  docs/4.0/docs/guides/objectstorage/images/16.png
  docs/4.0/docs/guides/objectstorage/images/17.png
  docs/4.0/docs/guides/objectstorage/objectstorage.md
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/14.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/15.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/16.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/images/17.png
  docs/4.0/i18n/zh-Hans/guides/objectstorage/objectstorage.md
Labels: kind/documentation, size/S, area/cloud

#4643 Fix init admin account & kbcli addon enable snapshot-controller
  controllers/job/init/internal/util/database/user.go
  scripts/cloud/install.sh
Labels: size/XS, area/cloud, area/ci

#4647 Update README.md
  README.md
Labels: size/M
