Repository labring/sealos, pull requests merged in 2024-10, with the labels that each got.

#5118 fix invaild
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/account/AccountCenter/AuthModifyList.tsx
  frontend/desktop/src/components/account/AccountCenter/index.tsx
  frontend/desktop/src/components/signin/auth/AuthList.tsx
  frontend/desktop/src/components/signin/auth/useProtocol.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/pages/api/auth/email/bind/verify.ts
  frontend/desktop/src/pages/api/auth/email/changeBinding/newSms.ts
  frontend/desktop/src/pages/api/auth/email/changeBinding/oldSms.ts
  frontend/desktop/src/pages/api/auth/email/changeBinding/verifyNew.ts
  frontend/desktop/src/pages/api/auth/email/changeBinding/verifyOld.ts
  frontend/desktop/src/pages/api/auth/email/unbind/sms.ts
  frontend/desktop/src/pages/api/auth/email/unbind/verify.ts
  frontend/desktop/src/pages/api/auth/info.ts
  frontend/desktop/src/pages/api/auth/phone/bind/sms.ts
  frontend/desktop/src/pages/api/auth/phone/bind/verify.ts
  frontend/desktop/src/pages/api/auth/phone/changeBinding/newSms.ts
  frontend/desktop/src/pages/api/auth/phone/changeBinding/oldSms.ts
  frontend/desktop/src/pages/api/auth/phone/changeBinding/verifyNew.ts
  frontend/desktop/src/pages/api/auth/phone/changeBinding/verifyOld.ts
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/pages/api/auth/phone/unbind/sms.ts
  frontend/desktop/src/pages/api/auth/phone/unbind/verify.ts
  frontend/desktop/src/pages/api/auth/phone/verify.ts
  frontend/desktop/src/pages/api/platform/getAuthConfig.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/types/system.ts
Labels: size/XL, area/frontend

#5101 fix(desktop):fix merge user
  frontend/desktop/src/components/account/AccountCenter/mergeUser/NeedToMergeModal.tsx
  frontend/desktop/src/services/backend/cronjob/mergeUserCr.ts
Labels: size/M, area/frontend

#5122 devbox cache improve.
  controllers/devbox/cmd/main.go
Labels: size/S, area/cloud

#5125 fix build offline scripts and ci.
  .github/workflows/cloud-release.yml
  scripts/cloud/build-offline-tar.sh
Labels: size/S, area/ci, area/workflow

#5121 Feat/active task
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/account_controller_test.go
  controllers/account/controllers/payment_controller.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/pkg/types/activity.go
  controllers/pkg/types/config.go
  controllers/pkg/types/global.go
  controllers/pkg/types/task.go
  service/account/api/api.go
  service/account/dao/interface.go
  service/account/helper/common.go
  service/account/helper/jwt.go
  service/account/helper/request.go
  service/account/router/router.go
Labels: size/XL, area/cloud, area/test

#5126 v5.0.1 docs.
  docs/4.0/docs/self-hosting/sealos/installation.md
  docs/5.0/docs/developer-guide/sealos/installation.md
  scripts/cloud/install.sh
Labels: size/L

#5131 ci: cloud release add self hosted runner.
  .github/workflows/cloud-release.yml
Labels: size/M, area/workflow

#5132 fix cloud release ci.
  .github/workflows/cloud-release.yml
Labels: size/S, area/workflow

#5124 feat(desktop): add face auth and enterprise auth
  frontend/desktop/.gitignore
  frontend/desktop/.prettierrc.js
  frontend/desktop/data/config.yaml
  frontend/desktop/package.json
  frontend/desktop/prisma/global/migrations/20240928050904_add_enterprise_real_name_info_table/migration.sql
  frontend/desktop/prisma/global/schema.prisma
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/components/account/AccountCenter/index.tsx
  frontend/desktop/src/components/account/RealNameModal.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/icons/index.tsx
  frontend/desktop/src/components/signin/auth/usePassword.tsx
  frontend/desktop/src/components/signin/auth/useWechat.tsx
  frontend/desktop/src/pages/api/account/enterpriseRealNameAuth.ts
  frontend/desktop/src/pages/api/account/faceIdRealNameAuthCallback.ts
  frontend/desktop/src/pages/api/account/generateRealNameQRcodeUri.ts
  frontend/desktop/src/pages/api/account/getFaceAuthStatus.ts
  frontend/desktop/src/pages/api/account/realNameAuth.ts
  frontend/desktop/src/pages/api/auth/info.ts
  frontend/desktop/src/pages/api/platform/getAuthConfig.ts
  frontend/desktop/src/pages/api/platform/getCloudConfig.ts
  frontend/desktop/src/pages/api/platform/getCommonConfig.ts
  frontend/desktop/src/pages/api/platform/getLayoutConfig.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/types/session.ts
  frontend/desktop/src/types/system.ts
  frontend/desktop/src/utils/sessionConfig.ts
  frontend/pnpm-lock.yaml
Labels: size/XXL, area/frontend

#5135 ci: cloud release add skip releases.
  .github/workflows/cloud-release.yml
Labels: size/XS

#5136 fix: bool conv to str
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend

#5138 fix: template deploy env bool conv to str
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend

#5142 fix(frontend/desktop): fix enterprise auth translation
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
Labels: size/S, area/frontend

#5133 fix: upgrade higress to 2.0.1
  scripts/cloud/install.sh
Labels: size/S, area/ci

#5145 Unify devbox app-cr name.
  frontend/providers/devbox/deploy/manifests/appcr.yaml.tmpl
Labels: size/XS, area/frontend

#5128 docs: update links
  docs/5.0/docs/developer-guide/lifecycle-management/lifecycle-management.md
  docs/5.0/docs/developer-guide/lifecycle-management/quick-start/deploy-kubernetes.md
  docs/5.0/docs/developer-guide/lifecycle-management/reference/sealos/commands/apply.md
  docs/5.0/docs/developer-guide/lifecycle-management/reference/sealos/commands/build.md
  docs/5.0/docs/developer-guide/lifecycle-management/reference/sealos/commands/commands.md
  docs/5.0/docs/developer-guide/lifecycle-management/reference/sealos/commands/gen.md
  docs/5.0/docs/developer-guide/lifecycle-management/reference/sealos/commands/manifest.md
  docs/5.0/docs/developer-guide/lifecycle-management/reference/sealos/commands/run.md
  docs/5.0/docs/developer-guide/lifecycle-management/reference/sealos/sealos.md
  docs/5.0/docs/developer-guide/sealos/installation.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/lifecycle-management.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/quick-start/deploy-kubernetes.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/quick-start/install-cli.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/reference/sealos/commands/apply.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/reference/sealos/commands/build.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/reference/sealos/commands/commands.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/reference/sealos/commands/gen.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/reference/sealos/commands/manifest.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/reference/sealos/commands/run.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/reference/sealos/sealos.md
  docs/5.0/i18n/zh-Hans/developer-guide/sealos/installation.md
Labels: kind/documentation, size/M

#5147 fix: sealos reset panic
  pkg/bootstrap/context.go
Labels: size/XS, area/bootstrap, area/lifecycle-management

#5146 Modify the dbprovider cost estimate obtained through the account service
  frontend/providers/dbprovider/src/pages/api/platform/resourcePrice.ts
  frontend/providers/dbprovider/src/types/user.d.ts
Labels: size/M, area/frontend

#5149 feat(desktop): hidden enterprise auth
  frontend/desktop/src/components/account/RealNameModal.tsx
Labels: size/S, area/frontend

#5150 fix the payment controller start error
  controllers/account/controllers/payment_controller.go
Labels: size/XS, area/cloud

#5153 fix the init job to create user permissions
  controllers/account/config/rbac/role.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/deploy/manifests/deploy.yaml
Labels: size/XS, area/cloud

#5148 opt: remove --masters and --nodes options for reset
  cmd/sealos/cmd/reset.go
  pkg/apply/args.go
  pkg/apply/args_test.go
  pkg/apply/reset.go
  pkg/apply/reset_test.go
Labels: size/M, area/apply, area/test, area/command, area/lifecycle-management

#5157 fix minioKubeblocksPassword env error
  deploy/objectstorage/Kubefile
  deploy/objectstorage/README.md
Labels: size/S, area/ci

#5156 Update devbox controller, add support init request ephemeral storage.
  controllers/devbox/cmd/main.go
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/M, area/cloud

#5158 fix: add dbType to getDBSecret query parameters
  frontend/providers/dbprovider/src/pages/api/platform/resourcePrice.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
Labels: size/XS, area/frontend

#5159 Devbox offline deploy.
  deploy/devbox/Kubefile
  deploy/devbox/init.sh
  deploy/devbox/scripts/init.sh
  deploy/objectstorage/init.sh
  frontend/providers/devbox/deploy/Kubefile
  frontend/providers/devbox/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/devbox/deploy/manifests/rbac.yaml
  frontend/providers/devbox/deploy/scripts/update-backup-label.sh
Labels: size/L, area/ci, area/frontend

#5160 fix:workorder overflow issue
  frontend/providers/template/src/pages/api/resource/delJob.ts
  frontend/providers/workorder/public/locales/en/common.json
  frontend/providers/workorder/public/locales/zh/common.json
  frontend/providers/workorder/src/pages/workorder/detail/components/AppBaseInfo.tsx
  frontend/providers/workorder/src/pages/workorder/detail/components/AppMainInfo.tsx
  frontend/providers/workorder/src/pages/workorder/detail/components/Header.tsx
  frontend/providers/workorder/src/pages/workorder/detail/index.tsx
  frontend/providers/workorder/src/pages/workorders/index.tsx
Labels: size/M, area/frontend

#5162 fix: higress controller tolerations
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#5144 operationrequest cr change to the user-system
  controllers/user/Makefile
  controllers/user/api/v1/deleterequest_types.go
  controllers/user/api/v1/operationrequest_types.go
  controllers/user/config/crd/bases/user.sealos.io_deleterequests.yaml
  controllers/user/config/crd/bases/user.sealos.io_operationrequests.yaml
  controllers/user/config/crd/bases/user.sealos.io_users.yaml
  controllers/user/config/rbac/role.yaml
  controllers/user/config/webhook/manifests.yaml
  controllers/user/controllers/operationrequest_controller.go
  controllers/user/deploy/manifests/deploy.yaml.tmpl
  controllers/user/main.go
Labels: size/L, area/cloud, area/api

#5161 fix(desktop): fix operationRequest
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/team/DissolveTeam.tsx
  frontend/desktop/src/components/team/ModifyRole.tsx
  frontend/desktop/src/constants/account.ts
  frontend/desktop/src/pages/WorkspaceInvite.tsx
  frontend/desktop/src/pages/api/auth/namespace/abdicate.ts
  frontend/desktop/src/services/backend/svc/mergeUser.ts
  frontend/desktop/src/types/team.ts
  frontend/providers/costcenter/public/locales/en/applist.json
  frontend/providers/costcenter/public/locales/zh/applist.json
Labels: size/L, area/frontend

#5164 fix: semgrep ci.
  .github/workflows/cloud-release.yml
Labels: size/S, area/workflow

#5165 docs: add v5.0.1 zh-hans docs.
  docs/5.0/i18n/zh-Hans/developer-guide/sealos/installation.md
Labels: kind/documentation, size/S

#5169 feat: add runtime version and state.
  controllers/devbox/api/v1alpha1/runtime_types.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_runtimes.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
Labels: size/M, area/cloud, area/api

#4952 feat: reset object storage secret key
  controllers/objectstorage/api/v1/objectstorageuser_types.go
  controllers/objectstorage/config/crd/bases/objectstorage.sealos.io_objectstoragebuckets.yaml
  controllers/objectstorage/config/crd/bases/objectstorage.sealos.io_objectstorageusers.yaml
  controllers/objectstorage/config/rbac/role.yaml
  controllers/objectstorage/controllers/objectstorageuser_controller.go
Labels: response-expired, size/M, area/cloud, area/api

#5171 feat: add 1024 activity banner
  docs/website/docusaurus.config.js
  docs/website/src/components/SaleBanner/index.tsx
  docs/website/src/pages/components/Header/index.scss
  docs/website/src/pages/index.tsx
Labels: kind/documentation, size/M

#5173 fix: add license to objectstorage yaml config
  controllers/objectstorage/config/crd/bases/objectstorage.sealos.io_objectstoragebuckets.yaml
  controllers/objectstorage/config/crd/bases/objectstorage.sealos.io_objectstorageusers.yaml
  controllers/objectstorage/config/rbac/role.yaml
Labels: size/M, area/cloud

#5175 style(costcenter): fix ratio
  frontend/providers/costcenter/src/components/RechargeModal.tsx
Labels: size/M, area/frontend

#5172 fix:desktop getResource API and optimize alert icon
  docs/website/src/pages/components/Header/index.scss
  docs/website/src/pages/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/pages/api/desktop/getResource.ts
  frontend/desktop/src/types/crd.ts
  frontend/packages/ui/src/components/icons/NotificationIcon.tsx
Labels: kind/documentation, size/M, area/frontend

#5154 feat: support devbox token to fetch details API
  frontend/pnpm-lock.yaml
  frontend/providers/devbox/app/api/getSSHConnectionInfo/route.ts
  frontend/providers/devbox/app/api/platform/getRuntime/route.ts
  frontend/providers/devbox/app/api/v1/getDevboxDetail/route.ts
  frontend/providers/devbox/package.json
  frontend/providers/devbox/services/backend/auth.ts
  frontend/providers/devbox/services/backend/kubernetes.ts
  frontend/providers/devbox/types/cluster.d.ts
  frontend/providers/devbox/types/ingress.d.ts
  frontend/providers/devbox/types/k8s.d.ts
  frontend/providers/devbox/utils/adapt.ts
Labels: size/L, area/frontend

#5167 add quota monitor
  service/exceptionmonitor/api/api.go
  service/exceptionmonitor/helper/monitor/quota_monitor.go
  service/exceptionmonitor/helper/notification/feishu.go
  service/exceptionmonitor/main.go
Labels: size/L, area/cloud

#5178 fix GetRealNameInfoReq
  service/account/api/api.go
Labels: size/XS, area/cloud

#5174 feat(costcenter): add recharge limit for non real name user
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/api/account/gift-code.ts
  frontend/providers/costcenter/src/pages/api/account/payment/index.ts
  frontend/providers/costcenter/src/pages/api/account/payment/stripe.ts
  frontend/providers/costcenter/src/pages/api/platform/getAppConfig.ts
  frontend/providers/costcenter/src/service/backend/region.ts
  frontend/providers/costcenter/src/stores/env.ts
  frontend/providers/costcenter/src/types/config.ts
  frontend/providers/costcenter/src/utils/tools.ts
Labels: size/M, area/frontend

#5181 docs: Update docs scripts
  docs/website/docusaurus.config.js
  docs/website/src/pages/index.tsx
Labels: kind/documentation, size/L

#5182 feat: change devbox to stop if exceeded quota
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/S, area/cloud
