Repository labring/sealos, pull requests merged in 2024-08, with the labels that each got.

#4926 feat:dbprovider support reconfigure
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/.vscode/settings.json
  frontend/providers/dbprovider/package.json
  frontend/providers/dbprovider/public/images/qdrant.svg
  frontend/providers/dbprovider/public/images/weaviate.svg
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/components/Icon/icons/edit.svg
  frontend/providers/dbprovider/src/components/Icon/icons/search.svg
  frontend/providers/dbprovider/src/components/Icon/index.tsx
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/api/getConfigByName.ts
  frontend/providers/dbprovider/src/pages/api/getDBByName.ts
  frontend/providers/dbprovider/src/pages/api/opsrequest/list.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupTable.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Migrate/Table.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/index.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/PodDetailModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Pods.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Reconfigure/ConfigTable.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Reconfigure/History.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Reconfigure/index.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/components/Form.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/services/backend/kubernetes.ts
  frontend/providers/dbprovider/src/store/db.ts
  frontend/providers/dbprovider/src/store/user.ts
  frontend/providers/dbprovider/src/types/cluster.d.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/dbprovider/src/utils/tools.ts
Labels: size/XXL, area/frontend

#4938 update self-deployment
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license-1.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license-2.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license-3.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license-4.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license-5.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license-6.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/installation.md
Labels: kind/documentation, size/M, area/cloud

#4939 fix: desktop right-click menu issue
  docs/website/src/pages/self-hosting/index.tsx
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/AppDock/index.module.css
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/types/i18next.d.ts
  frontend/desktop/src/utils/i18n.ts
Labels: kind/documentation, size/M, area/frontend

#4940 fix(desktop) add phone number bind logic to realname auth
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/components/account/AccountCenter/index.tsx
  frontend/desktop/src/components/account/RealNameModal.tsx
  frontend/desktop/src/pages/api/account/realNameAuth.ts
Labels: size/L, area/frontend

#4943 fix: load env before fetching app details in launchpad
  frontend/providers/applaunchpad/src/utils/adapt.ts
Labels: size/S, area/frontend

#4932 CostCenter api update
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/pkg/crypto/crypto.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongo/account.go
  controllers/pkg/database/mongo/account_test.go
  controllers/pkg/resources/named.go
  controllers/pkg/resources/resources.go
  controllers/pkg/types/global.go
  controllers/resources/config/rbac/role.yaml
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/deploy/manifests/deploy.yaml
  controllers/resources/main.go
  service/account/api/api.go
  service/account/common/account.go
  service/account/dao/init.go
  service/account/dao/interface.go
  service/account/dao/interface_test.go
  service/account/deploy/Kubefile
  service/account/deploy/manifests/config.json
  service/account/deploy/manifests/deploy.yaml.tmpl
  service/account/deploy/manifests/ingress.yaml.tmpl
  service/account/deploy/scripts/init.sh
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/go.mod
  service/account/go.sum
  service/account/helper/auth.go
  service/account/helper/common.go
  service/account/helper/request.go
  service/account/router/router.go
  service/go.work.sum
  service/pkg/auth/authenticate.go
Labels: size/XXL, area/cloud, area/test

#4945 feat: add desktop tooltip for improved user experience
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/AppDock/CustomTooltip.tsx
  frontend/desktop/src/components/AppDock/index.tsx
  frontend/desktop/src/components/account/cost.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/monitor.tsx
  frontend/desktop/src/components/icons/index.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/stores/desktopConfig.ts
  frontend/providers/workorder/src/components/AppStatusTag/index.tsx
Labels: size/L, area/frontend

#4947 feat:launchpad update container status reason
  docs/website/src/pages/self-hosting/product/index.tsx
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  service/license/src/api/system.ts
  service/license/src/components/login/index.tsx
  service/license/src/pages/signin.tsx
Labels: kind/documentation, size/L, area/cloud, area/frontend

#4946 Add pausing kb cluster database in namespace controller & fix get cost api
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/namespace_controller.go
  controllers/account/go.mod
  controllers/account/go.sum
  controllers/go.work.sum
  controllers/job/init/go.mod
  controllers/job/init/go.sum
  controllers/license/go.mod
  controllers/license/go.sum
  controllers/resources/go.mod
  controllers/resources/go.sum
  service/account/api/api.go
  service/account/dao/interface.go
  service/account/dao/interface_test.go
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/helper/request.go
  service/go.work.sum
Labels: size/XXL, area/cloud, area/test

#4949 feat(desktop): add signup user sem info
  frontend/.vscode/settings.json
  frontend/desktop/prisma/global/migrations/20240807090531_add_user_sem_table/migration.sql
  frontend/desktop/prisma/global/schema.prisma
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/components/signin/auth/usePassword.tsx
  frontend/desktop/src/components/signin/auth/useSms.tsx
  frontend/desktop/src/pages/api/auth/oauth/github/index.ts
  frontend/desktop/src/pages/api/auth/oauth/google/index.ts
  frontend/desktop/src/pages/api/auth/oauth/oauth2/index.ts
  frontend/desktop/src/pages/api/auth/oauth/wechat/index.ts
  frontend/desktop/src/pages/api/auth/password/index.ts
  frontend/desktop/src/pages/api/auth/phone/verify.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/services/backend/globalAuth.ts
  frontend/desktop/src/services/backend/middleware/oauth.ts
  frontend/desktop/src/services/backend/middleware/sms.ts
  frontend/desktop/src/services/backend/svc/access.ts
  frontend/desktop/src/utils/sessionConfig.ts
Labels: size/L, area/frontend

#4948 perf(desktop): reduce network traffic overhead
  frontend/desktop/deploy/manifests/rbac.yaml
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/account/cost.tsx
  frontend/desktop/src/components/app_window/index.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/desktop_content/monitor.tsx
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/components/region/RegionToggle.tsx
  frontend/desktop/src/pages/api/desktop/getBilling.ts
  frontend/desktop/src/pages/api/desktop/getResource.ts
  frontend/desktop/src/pages/api/notification/global.ts
  frontend/desktop/src/pages/api/notification/listNotification.ts
  frontend/desktop/src/pages/api/notification/read.ts
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/types/app.ts
  frontend/desktop/src/types/crd.ts
  frontend/desktop/src/types/team.ts
  frontend/desktop/src/utils/adapt.ts
  frontend/providers/dbprovider/src/constants/monitor.ts
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/api/delete.ts
  frontend/providers/template/src/api/instance.ts
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/pages/api/app/getObjectStorage.ts
  frontend/providers/template/src/pages/api/resource/delCR.ts
  frontend/providers/template/src/pages/instance/components/appList.tsx
  frontend/providers/template/src/pages/instance/components/objStorageList.tsx
  frontend/providers/template/src/pages/instance/index.tsx
  frontend/providers/template/src/types/db.ts
  frontend/providers/template/src/types/objectStorage.ts
  frontend/providers/template/src/types/resource.ts
  frontend/providers/template/src/utils/adapt.ts
Labels: size/XL, area/frontend

#4958 feat:docs add 's' parameter for user source tracking
  docs/website/src/pages/self-hosting/header/index.tsx
  docs/website/src/pages/self-hosting/product/index.tsx
Labels: kind/documentation, size/S

#4920 Update feishu notification
  service/exceptionmonitor/api/api.go
  service/exceptionmonitor/deploy/manifests/deploy.yaml.tmpl
  service/exceptionmonitor/go.mod
  service/exceptionmonitor/go.sum
  service/exceptionmonitor/helper/monitor/database_backup_monitor.go
  service/exceptionmonitor/helper/monitor/database_monitor.go
  service/exceptionmonitor/helper/monitor/database_performance_monitor.go
  service/exceptionmonitor/helper/notification/desktop.go
  service/exceptionmonitor/helper/notification/feishu.go
  service/exceptionmonitor/main.go
Labels: size/L, area/cloud

#4961 feat(template): add translations for app content
  frontend/providers/template/.gitignore
  frontend/providers/template/.vscode/settings.json
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/pages/instance/components/appList.tsx
  frontend/providers/template/src/pages/instance/components/cronjobList.tsx
  frontend/providers/template/src/pages/instance/components/dbList.tsx
  frontend/providers/template/src/pages/instance/components/objStorageList.tsx
  frontend/providers/template/src/pages/instance/components/otherList.tsx
Labels: size/XL, area/frontend

#4963 fix(docs):header title translation
  docs/website/src/pages/self-hosting/header/index.tsx
Labels: kind/documentation, size/XS

#4950 DB backup monitoring
  controllers/account/main.go
  controllers/pkg/resources/named.go
  controllers/pkg/resources/resources.go
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/deploy/manifests/deploy.yaml
  controllers/resources/main.go
Labels: size/M, area/cloud

#4964 fix: ignore object storage metrics where the traffic is less than or equal to 0
  controllers/pkg/objectstorage/objectstorage.go
Labels: size/S, area/cloud

#4970 fix(launchpad): file upload in Kubernetes pods
  frontend/providers/applaunchpad/src/pages/api/kubeFileSystem/upload.ts
  frontend/providers/applaunchpad/src/utils/kubeFileSystem.ts
Labels: size/M, area/frontend

#4972 fix: check control plane count of master IPs in install.sh
  scripts/cloud/install.sh
Labels: size/S, area/ci

#4974 fix: add return in PROMPTS_EN/PROMPTS_CN
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4975 feat: support tagging launchpad and database application sources
  frontend/desktop/src/pages/api/desktop/getBilling.ts
  frontend/providers/applaunchpad/.vscode/settings.json
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/DelModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/UpdateModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DelModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/UpdateModal.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/types/cluster.d.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
Labels: size/XL, area/frontend

#4979 chore(desktop): adjust the style of real-name authentication
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/account/RealNameModal.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
Labels: size/L, area/frontend

#4980 feat:launchpad && database add cost tip
  frontend/desktop/src/components/AppDock/index.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
  frontend/packages/ui/src/components/Message/index.tsx
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/components/Icon/icons/help.svg
  frontend/providers/applaunchpad/src/components/Icon/index.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/PriceBox.tsx
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/components/Icon/icons/help.svg
  frontend/providers/dbprovider/src/components/Icon/index.tsx
  frontend/providers/dbprovider/src/components/PriceBox/index.tsx
Labels: size/M, area/frontend

#4981 feat(docs): add SEM keywords parameter
  docs/website/src/hooks/useWindow.ts
  docs/website/src/pages/components/Capability/index.tsx
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/index.tsx
  docs/website/src/pages/self-hosting/header/index.tsx
  docs/website/src/pages/self-hosting/index.tsx
  docs/website/src/pages/self-hosting/product/index.tsx
Labels: kind/documentation, size/M

#4983 feat(desktop): signup user sem data add keyword data
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/components/signin/auth/usePassword.tsx
  frontend/desktop/src/components/signin/auth/useSms.tsx
  frontend/desktop/src/pages/api/auth/oauth/github/index.ts
  frontend/desktop/src/pages/api/auth/oauth/google/index.ts
  frontend/desktop/src/pages/api/auth/oauth/oauth2/index.ts
  frontend/desktop/src/pages/api/auth/oauth/wechat/index.ts
  frontend/desktop/src/pages/api/auth/password/index.ts
  frontend/desktop/src/pages/api/auth/phone/verify.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/services/backend/globalAuth.ts
  frontend/desktop/src/services/backend/middleware/oauth.ts
  frontend/desktop/src/services/backend/middleware/sms.ts
  frontend/desktop/src/services/backend/svc/access.ts
  frontend/desktop/src/types/sem.ts
  frontend/desktop/src/utils/sessionConfig.ts
Labels: size/L, area/frontend

#4968 feat: get os traffic from minio
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongo/account.go
  controllers/pkg/database/mongo/account_test.go
  controllers/pkg/objectstorage/metric_parser.go
  controllers/pkg/objectstorage/objectstorage.go
  controllers/pkg/objectstorage/objectstorage_test.go
  controllers/pkg/types/traffic.go
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/main.go
Labels: size/XL, area/cloud, area/test

#4982 build: add Husky and lint-staged for code formatting
  frontend/.husky/pre-commit
  frontend/.lintstagedrc
  frontend/README.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/scripts/initFormat.ps1
  frontend/scripts/initFormat.sh
  frontend/scripts/pre-commit
Labels: size/L, area/frontend

#4976 Update db backup
  service/exceptionmonitor/helper/monitor/database_backup_monitor.go
Labels: size/S, area/cloud

#4937 feat: templates support conditional rendering
  frontend/pnpm-lock.yaml
  frontend/providers/template/deploy/Kubefile
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/template/package.json
  frontend/providers/template/src/components/Select/index.tsx
  frontend/providers/template/src/pages/api/getTemplateSource.ts
  frontend/providers/template/src/pages/api/platform/getEnv.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/pages/api/v1alpha/createInstance.ts
  frontend/providers/template/src/pages/api/v1alpha/exportTemplate.ts
  frontend/providers/template/src/pages/api/v1alpha/getTemplate.ts
  frontend/providers/template/src/pages/deploy/components/Form.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/components/Editor.tsx
  frontend/providers/template/src/pages/develop/components/Form.tsx
  frontend/providers/template/src/pages/develop/components/YamlList.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/instance/components/header.tsx
  frontend/providers/template/src/services/backend/kubernetes.ts
  frontend/providers/template/src/store/session.ts
  frontend/providers/template/src/types/app.ts
  frontend/providers/template/src/types/index.ts
  frontend/providers/template/src/types/js-interpreter.ts
  frontend/providers/template/src/utils/json-yaml.ts
  frontend/providers/template/src/utils/template.ts
  frontend/providers/template/src/utils/tools.ts
Labels: size/XXL, area/frontend

#4986 Add backrepo
  scripts/cloud/install.sh
Labels: size/S, area/ci

#4989 add backuprepo
  service/exceptionmonitor/helper/monitor/database_backup_monitor.go
Labels: size/S, area/cloud

#4987 fix: defaults and inputs maybe empty
  frontend/providers/template/src/pages/api/getTemplateSource.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/types/app.ts
  frontend/providers/template/src/utils/json-yaml.ts
Labels: size/L, area/frontend

#4984 feat: add support for launching creation page in launchpad
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/pages/api/platform/getAuthConfig.ts
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/types/system.ts
  frontend/desktop/src/utils/sessionConfig.ts
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
Labels: size/M, area/frontend

#4991 add dify installation QA
  docs/4.0/docs/self-hosting/sealos/QA.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/QA.md
Labels: kind/documentation, size/S, area/cloud

#4993 feat:desktop update sem
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/account/cost.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/account/trigger.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/signin/auth/usePassword.tsx
  frontend/desktop/src/components/signin/auth/useSms.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/pages/api/auth/oauth/github/index.ts
  frontend/desktop/src/pages/api/auth/oauth/google/index.ts
  frontend/desktop/src/pages/api/auth/oauth/oauth2/index.ts
  frontend/desktop/src/pages/api/auth/oauth/wechat/index.ts
  frontend/desktop/src/pages/api/auth/password/index.ts
  frontend/desktop/src/pages/api/auth/phone/verify.ts
  frontend/desktop/src/pages/api/platform/uploadData.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/services/backend/globalAuth.ts
  frontend/desktop/src/services/backend/middleware/oauth.ts
  frontend/desktop/src/services/backend/middleware/sms.ts
  frontend/desktop/src/services/backend/svc/access.ts
  frontend/providers/cronjob/src/services/backend/kubernetes.ts
Labels: size/L, area/frontend

#4988 Feat/invoice
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/pkg/types/global.go
  service/account/api/api.go
  service/account/dao/init.go
  service/account/dao/interface.go
  service/account/dao/interface_test.go
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/helper/common.go
  service/account/helper/request.go
  service/account/router/router.go
Labels: size/XXL, area/cloud, area/test

#4959 styles(objectstorage): fix styles
  frontend/packages/ui/src/components/Select/index.tsx
  frontend/providers/dbprovider/next-i18next.config.js
  frontend/providers/objectstorage/.vscode/settings.json
  frontend/providers/objectstorage/public/locales/en/bucket.json
  frontend/providers/objectstorage/public/locales/en/common.json
  frontend/providers/objectstorage/public/locales/zh/bucket.json
  frontend/providers/objectstorage/public/locales/zh/common.json
  frontend/providers/objectstorage/src/api/bucket.ts
  frontend/providers/objectstorage/src/components/BucketContainer/BucketHeader.tsx
  frontend/providers/objectstorage/src/components/BucketContainer/FileManager.tsx
  frontend/providers/objectstorage/src/components/Icons/EditIcon.tsx
  frontend/providers/objectstorage/src/components/Icons/ListIcon.tsx
  frontend/providers/objectstorage/src/components/Icons/WarnTriangle.tsx
  frontend/providers/objectstorage/src/components/SideBar/index.tsx
  frontend/providers/objectstorage/src/components/buckConfig/BasicConfigHookForm.tsx
  frontend/providers/objectstorage/src/components/buckConfig/ConfigFormContainer.tsx
  frontend/providers/objectstorage/src/components/buckConfig/ConfigHeader.tsx
  frontend/providers/objectstorage/src/components/buckConfig/Configmain.tsx
  frontend/providers/objectstorage/src/components/common/AuthorityTip/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/CreateBucketModal/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/CreateFolderModal/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/DeleteBucketModal/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/DeleteFileModal/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/DeleteSingleFileModal/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/ParamterModal/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/UpdateSecretKeyModal/index.tsx
  frontend/providers/objectstorage/src/components/common/modal/UploadModal/index.tsx
  frontend/providers/objectstorage/src/consts.ts
  frontend/providers/objectstorage/src/layout.tsx
  frontend/providers/objectstorage/src/pages/_app.tsx
  frontend/providers/objectstorage/src/pages/api/bucket/delete.ts
  frontend/providers/objectstorage/src/pages/api/user/init.ts
  frontend/providers/objectstorage/src/pages/api/user/updateSecretKey.ts
  frontend/providers/objectstorage/src/services/request.ts
  frontend/providers/objectstorage/src/store/ossStore.ts
  frontend/providers/objectstorage/src/styles/chakraTheme.ts
  frontend/providers/objectstorage/src/utils/json2Yaml.ts
Labels: size/XXL, area/frontend

#4900 add devbox proposal
  proposal/design/zh/create_devbox.png
  proposal/design/zh/devbox.md
  proposal/design/zh/list_devbox.png
Labels: size/M

#4992 fix: template undefined value
  frontend/providers/template/src/utils/json-yaml.ts
  frontend/providers/template/src/utils/template.ts
Labels: size/XS, area/frontend

#5001 fix: set AutomountServiceAccountToken to false
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/go.work.sum
Labels: size/XS, area/cloud

#5003 fix(desktop):fix init database error
  frontend/Dockerfile
Labels: size/XS, area/frontend

#4998 feat(desktop): Implement smart dock behavior
  frontend/desktop/src/components/AppDock/index.tsx
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/stores/desktopConfig.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Labels: size/L, area/frontend

#5002 optimize get app cost with index(owner+order_id)
  service/account/api/api.go
  service/account/dao/interface.go
Labels: size/XS, area/cloud

#5000 Optimize/payment
  controllers/account/api/v1/debt_types.go
  controllers/account/api/v1/payment_types.go
  controllers/account/config/crd/bases/account.sealos.io_debts.yaml
  controllers/account/config/crd/bases/account.sealos.io_payments.yaml
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/namespace_controller.go
  controllers/account/controllers/payment_controller.go
  controllers/account/deploy/manifests/deploy.yaml
  controllers/account/main.go
  controllers/pkg/database/cockroach/accountv2.go
Labels: size/XL, area/cloud, area/api

#5006 update cpu/mem usage
  service/launchpad/request/req.go
  service/pkg/api/req.go
Labels: size/S, area/cloud

#5004 add generate public and private key
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/M, area/cloud

#5009 Devbox rbac
  .github/workflows/controllers.yml
  controllers/devbox/Makefile
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxreleases.yaml
  controllers/devbox/config/crd/bases/devbox.sealos.io_operationrequests.yaml
  controllers/devbox/config/crd/bases/devbox.sealos.io_runtimeclasses.yaml
  controllers/devbox/config/crd/bases/devbox.sealos.io_runtimes.yaml
  controllers/devbox/config/manager/kustomization.yaml
  controllers/devbox/config/rbac/role.yaml
  controllers/devbox/deploy/Kubefile
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/go.mod
  controllers/devbox/go.sum
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/go.work.sum
Labels: size/XXL, area/cloud, area/workflow

#5008 update cpu/mem usage
  service/pkg/api/req.go
Labels: size/S, area/cloud

#5015 add devbox pod hostname set to devbox name
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/XS, area/cloud

#5010 add devbox restart pod
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/M, area/cloud

#5014 feat: cost quota and price
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/api/platform.ts
  frontend/providers/template/src/components/Icon/icons/help.svg
  frontend/providers/template/src/components/Icon/index.tsx
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/pages/api/platform/getQuota.ts
  frontend/providers/template/src/pages/api/platform/resourcePrice.ts
  frontend/providers/template/src/pages/deploy/components/PriceBox.tsx
  frontend/providers/template/src/pages/deploy/components/QuotaBox.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/services/backend/kubernetes.ts
  frontend/providers/template/src/store/user.ts
  frontend/providers/template/src/types/app.ts
  frontend/providers/template/src/types/user.ts
  frontend/providers/template/src/utils/usage.ts
Labels: size/XL, area/frontend

#5016 update launchpad cpu/mem usage
  service/launchpad/request/req.go
Labels: size/XS, area/cloud

#5013 feat(account-service): add use giftcode
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/types/global.go
  service/account/api/api.go
  service/account/dao/interface.go
  service/account/dao/interface_test.go
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/helper/common.go
  service/account/helper/request.go
  service/account/router/router.go
Labels: size/L, area/cloud, area/test

#5017 update devbox to add delete resource.
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/M, area/cloud

#5012 add default rbac rules for devbox runtime and runtime class.
  controllers/devbox/config/manager/manager.yaml
  controllers/devbox/config/rbac/role.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/M, area/cloud

#5020 add additionalPrinterColumns for devbox.
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/config/rbac/role.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/M, area/cloud, area/api
