Repository labring/sealos, pull requests merged in 2024-01, with the labels that each got.

#4450 add minio service module to workflows
  .github/workflows/services.yml
Labels: size/XS, area/workflow

#4451 chore: fix docs link.
  docs/blog/zh-Hans/2023/k8s-multi-tenancy.md
  docs/blog/zh-Hans/2023/what-is-sealos.md
Labels: kind/documentation, size/XS

#4449 fix(desktop):fix verification code restriction
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/services/backend/db/verifyCode.ts
Labels: size/S, area/frontend

#4456 adapt ephemeral storage limit range
  controllers/account/controllers/account_controller.go
  controllers/pkg/resources/resources.go
Labels: size/M, area/cloud

#4455 k3s support version doc
  docs/4.0/docs/self-hosting/lifecycle-management/quick-start/deploy-kubernetes.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/quick-start/deploy-kubernetes.md
Labels: kind/documentation, size/M, area/cloud

#4453 feat: Name modification and deployment count display
  frontend/.gitignore
  frontend/providers/template/.env.template
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/components/layout/appmenu.tsx
  frontend/providers/template/src/constants/keys.ts
  frontend/providers/template/src/pages/api/getTemplateSource.ts
  frontend/providers/template/src/pages/api/listTemplate.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/pages/app/components/list.tsx
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/components/BreadCrumbHeader.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/header.tsx
  frontend/providers/template/src/services/backend/kubernetes.ts
  frontend/providers/template/src/types/app.ts
  frontend/providers/template/src/utils/adapt.ts
  frontend/providers/template/src/utils/json-yaml.ts
  frontend/providers/template/src/utils/tools.ts
Labels: size/XL, area/frontend

#4457 feat:template deploy add template-static
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/template/src/pages/app/components/list.tsx
  frontend/providers/template/src/pages/app/index.tsx
Labels: size/M, area/frontend

#4458 docs: Add templates documentation
  docs/4.0/docs/guides/applaunchpad/applaunchpad.md
  docs/4.0/docs/guides/templates/images/templates.png
  docs/4.0/docs/guides/templates/submit-template.md
  docs/4.0/docs/guides/templates/templates.md
  docs/4.0/docs/quick-start/install-db-with-database.md
  docs/4.0/docs/quick-start/use-app-launchpad.md
  docs/4.0/docs/quick-start/use-terminal.md
  docs/4.0/i18n/zh-Hans/guides/applaunchpad/applaunchpad.md
  docs/4.0/i18n/zh-Hans/guides/templates/images/templates.png
  docs/4.0/i18n/zh-Hans/guides/templates/images/wechat-qr-code.jpg
  docs/4.0/i18n/zh-Hans/guides/templates/submit-template.md
  docs/4.0/i18n/zh-Hans/guides/templates/templates.md
  docs/4.0/i18n/zh-Hans/quick-start/install-db-with-database.md
  docs/4.0/i18n/zh-Hans/quick-start/use-app-launchpad.md
  docs/4.0/i18n/zh-Hans/quick-start/use-terminal.md
Labels: kind/documentation, size/L, area/cloud

#4459 fix:dbprovider maximum storage
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/template/src/pages/api/updateRepo.ts
Labels: size/S, area/frontend

#4461 k3s support version doc
  docs/4.0/docs/self-hosting/lifecycle-management/quick-start/deploy-kubernetes.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/quick-start/deploy-kubernetes.md
Labels: kind/documentation, size/S, area/cloud

#4465 fix install cli with proxy
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4466 chore: add extra value for cilium.
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4468 chore: add extra value for cilium.
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4471 docs: add component Highlight
  README.md
  README_zh.md
  docs/4.0/docs/Intro.md
  docs/4.0/docs/guides/templates/templates.md
  docs/4.0/i18n/zh-Hans/Intro.md
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-illacloud.md
  docs/4.0/i18n/zh-Hans/guides/templates/templates.md
  docs/website/src/components/Highlight/index.tsx
Labels: kind/documentation, size/M, area/cloud

#4472 fix:template redirection problem
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/api/minio/upload.ts
  frontend/providers/template/.dockerignore
  frontend/providers/template/.gitignore
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/template/src/pages/api/getTemplateSource.ts
  frontend/providers/template/src/pages/api/listTemplate.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/pages/api/v1alpha/listTemplate.ts
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/index.tsx
Labels: size/L, area/frontend

#4463 chore(desktop): add service protocol link
  frontend/desktop/next.config.js
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/signin/auth/useProtocol.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/hooks/useBonusBox.tsx
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/pages/api/license/createLicenseRecord.ts
  frontend/desktop/src/pages/api/license/getLicenseRecord.ts
  frontend/desktop/src/pages/api/license/pay.ts
  frontend/desktop/src/pages/api/license/result.ts
  frontend/desktop/src/pages/api/platform/getEnv.ts
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/license/components/CurrencySymbol.tsx
  frontend/desktop/src/pages/license/components/OuterLink.tsx
  frontend/desktop/src/pages/license/components/Pagination.tsx
  frontend/desktop/src/pages/license/components/Recharge.tsx
  frontend/desktop/src/pages/license/components/Record.tsx
  frontend/desktop/src/pages/license/components/WechatPayment.tsx
  frontend/desktop/src/pages/license/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/stores/global.ts
  frontend/desktop/src/types/system.ts
  frontend/pnpm-lock.yaml
Labels: size/XXL, area/frontend

#4464 feat(object-storage):add sort feature
  frontend/packages/ui/src/components/icons/SortPolygonDownIcon.tsx
  frontend/packages/ui/src/components/icons/SortPolygonUpIcon.tsx
  frontend/packages/ui/src/components/index.ts
  frontend/pnpm-lock.yaml
  frontend/providers/objectstorage/package.json
  frontend/providers/objectstorage/public/locales/en/file.json
  frontend/providers/objectstorage/public/locales/zh/file.json
  frontend/providers/objectstorage/src/components/BucketContainer/FileManager.tsx
  frontend/providers/objectstorage/src/components/BucketContainer/Monitor.tsx
  frontend/providers/objectstorage/src/components/BucketContainer/PathLink.tsx
  frontend/providers/objectstorage/src/components/common/modal/UploadModal/index.tsx
  frontend/providers/objectstorage/src/pages/_app.tsx
Labels: size/XL, area/frontend

#4473 user registration switch
  docs/4.0/docs/self-hosting/sealos/QA.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/QA.md
Labels: kind/documentation, size/M, area/cloud

#4474 add cost service swagger
  service/account/Makefile
  service/account/api/api.go
  service/account/dao/init.go
  service/account/dao/interface.go
  service/account/dao/interface_test.go
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/helper/common.go
  service/account/helper/request.go
  service/account/main.go
  service/account/router/router.go
Labels: size/XL, area/cloud, area/test

#4481 Optimize/monitor
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongo/account.go
  controllers/pkg/database/mongo/traffic.go
  controllers/pkg/database/mongo/traffic_test.go
  controllers/pkg/objectstorage/objectstorage.go
  controllers/pkg/resources/resources.go
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/controllers/monitor_controller_test.go
  controllers/resources/deploy/Kubefile
  controllers/resources/deploy/manifests/deploy-manager.yaml
  controllers/resources/main.go
Labels: size/XL, area/cloud, area/test

#4482 feat:launchpad monitor api & template ssr
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/.env.template
  frontend/providers/applaunchpad/next-i18next.config.js
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/api/app.ts
  frontend/providers/applaunchpad/src/components/PodLineChart/index.tsx
  frontend/providers/applaunchpad/src/components/Table/index.tsx
  frontend/providers/applaunchpad/src/constants/monitor.ts
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/api/guide/getAccount.ts
  frontend/providers/applaunchpad/src/pages/api/guide/getBonus.ts
  frontend/providers/applaunchpad/src/pages/api/guide/updateGuide.ts
  frontend/providers/applaunchpad/src/pages/api/monitor/getMonitorData.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/PodDetailModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/pages/apps/index.tsx
  frontend/providers/applaunchpad/src/services/monitorFetch.ts
  frontend/providers/applaunchpad/src/store/app.ts
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/types/monitor.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/ChartTemplate.tsx
  frontend/providers/template/.env.template
  frontend/providers/template/package.json
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/pages/api/listTemplate.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/delDodal.tsx
Labels: size/XXL, area/frontend

#4487 optimize default kube runtime config;
  pkg/runtime/kubernetes/types/default_kubeadm_config.go
  scripts/cloud/build-offline-tar.sh
Labels: size/XS, area/ci, area/lifecycle-management, area/runtime

#4480 fix(objectstorage):fix create bucket error
  frontend/providers/objectstorage/next.config.js
  frontend/providers/objectstorage/public/locales/en/bucket.json
  frontend/providers/objectstorage/public/locales/zh/bucket.json
  frontend/providers/objectstorage/src/api/bucket.ts
  frontend/providers/objectstorage/src/components/BucketContainer/FileManager.tsx
  frontend/providers/objectstorage/src/components/BucketContainer/Monitor.tsx
  frontend/providers/objectstorage/src/components/BucketContainer/SortButton.tsx
  frontend/providers/objectstorage/src/components/BucketContainer/index.tsx
  frontend/providers/objectstorage/src/components/SideBar/index.tsx
  frontend/providers/objectstorage/src/consts.ts
  frontend/providers/objectstorage/src/pages/_app.tsx
  frontend/providers/objectstorage/src/pages/api/bucket/create.ts
  frontend/providers/objectstorage/src/pages/api/bucket/list.ts
  frontend/providers/objectstorage/src/pages/bucketConfig.tsx
  frontend/providers/objectstorage/src/pages/index.tsx
  frontend/providers/objectstorage/src/store/ossStore.ts
  frontend/providers/template/src/components/layout/appmenu.tsx
  frontend/providers/template/src/pages/app/components/list.tsx
  frontend/providers/template/src/pages/app/index.tsx
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/components/BreadCrumbHeader.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/header.tsx
Labels: size/XL, area/frontend

#4485 feat:template carousel image
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/src/services/monitorFetch.ts
  frontend/providers/template/arrow-right.svg
  frontend/providers/template/package.json
  frontend/providers/template/src/components/Banner/index.tsx
  frontend/providers/template/src/components/icons/ArrowRight.tsx
  frontend/providers/template/src/components/icons/index.ts
  frontend/providers/template/src/components/layout/appmenu.tsx
  frontend/providers/template/src/pages/api/listTemplate.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/types/cronJob.ts
Labels: size/L, area/frontend

#4488 feat:app logo colorful & blue bg
  frontend/desktop/data/config.json
  frontend/desktop/public/images/bg-blue.svg
  frontend/desktop/public/images/bg.svg
  frontend/desktop/public/images/driver-bg.png
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/hooks/useDriver.tsx
  frontend/desktop/src/styles/globals.scss
  frontend/providers/applaunchpad/public/logo-colorful.svg
  frontend/providers/costcenter/public/logo-colorful.svg
  frontend/providers/cronjob/public/logo-colorful.svg
  frontend/providers/dbprovider/public/logo-colorful.svg
  frontend/providers/objectstorage/public/logo-colorful.svg
  frontend/providers/template/public/logo-colorful.svg
  frontend/providers/terminal/public/logo-colorful.svg
Labels: size/L, area/frontend

#4489 fix:docs wow.min.js
  docs/blog/zh-Hans/2023/what-is-sealos.md
  docs/website/docusaurus.config.js
  docs/website/static/wow.min.js
Labels: kind/documentation, size/XS

#4490 feat:db adapt mongo instance count
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/signin/auth/useProtocol.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/constants/config.ts
  frontend/providers/adminer/public/logo.svg
  frontend/providers/applaunchpad/public/logo-colorful.svg
  frontend/providers/applaunchpad/public/logo.svg
  frontend/providers/costcenter/public/logo-colorful.svg
  frontend/providers/costcenter/public/logo.svg
  frontend/providers/cronjob/public/logo-colorful.svg
  frontend/providers/cronjob/public/logo.svg
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/public/logo-colorful.svg
  frontend/providers/dbprovider/public/logo.svg
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/pages/api/adapter/mongodb.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/services/backend/response.ts
  frontend/providers/license/public/logo.svg
  frontend/providers/objectstorage/public/logo-colorful.svg
  frontend/providers/objectstorage/public/logo.svg
  frontend/providers/template/public/logo-colorful.svg
  frontend/providers/template/public/logo.svg
  frontend/providers/terminal/public/logo-colorful.svg
  frontend/providers/terminal/public/logo.svg
Labels: size/L, area/frontend

#4486 Feat/e2e test
  .github/workflows/e2e_k3s_multi_node.yml
  .github/workflows/e2e_k8s_multi_node.yml
  pkg/client-go/kubernetes/client.go
  scripts/resolve-modules.sh
  test/e2e/applier.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/k3s_125_test.go
  test/e2e/k8s_122_test.go
  test/e2e/k8s_123.go
  test/e2e/k8s_124_test.go
  test/e2e/k8s_125_test.go
  test/e2e/k8s_126_test.go
  test/e2e/k8s_127_test.go
  test/e2e/k8s_128_test.go
  test/e2e/k8s_docker_122_test.go
  test/e2e/k8s_docker_123_test.go
  test/e2e/k8s_docker_124_test.go
  test/e2e/k8s_docker_125_test.go
  test/e2e/k8s_docker_126_test.go
  test/e2e/k8s_docker_127_test.go
  test/e2e/k8s_docker_128_test.go
  test/e2e/multi_node_test.go
  test/e2e/terraform/infra/terraform.tf
  test/e2e/terraform/infra/vars.tf
  test/e2e/terraform/infra/vars.tf.amd64
  test/e2e/terraform/infra/vars.tf.arm64
  test/e2e/terraform/main.go
  test/e2e/terraform/terraform.go
  test/e2e/terraform/terraform_test.go
  test/e2e/terraform/zz_generated_terraform.go
  test/e2e/testhelper/cmd/cmd.go
  test/e2e/testhelper/kube/k8s.go
  test/e2e/testhelper/settings/env.go
Labels: size/XL, area/ci, area/test, area/workflow, area/lifecycle-management

#4492 Update self hosting and install guide
  README.md
Labels: size/XS

#4491 feat: support multi domains for ingress webhooks.
  controllers/admission/api/v1/ingress_webhook.go
  controllers/admission/api/v1/types.go
  controllers/admission/cmd/main.go
  controllers/admission/deploy/Kubefile
  controllers/admission/deploy/manifests/deploy.yaml.tmpl
Labels: size/L, area/cloud

#4495 chore: fix validator setup.
  controllers/admission/api/v1/ingress_webhook.go
  controllers/admission/cmd/main.go
Labels: size/M, area/cloud

#4496 chore: template add init container.
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/frontend

#4494 style(kubepanel): improve the overall style
  frontend/plugins/kubepanel/package.json
  frontend/plugins/kubepanel/pnpm-lock.yaml
  frontend/plugins/kubepanel/src/components/chart/pie-chart.tsx
  frontend/plugins/kubepanel/src/components/common/action/create-resource-modal.tsx
  frontend/plugins/kubepanel/src/components/common/editor/styled.tsx
  frontend/plugins/kubepanel/src/components/common/panel-table/pagination.tsx
  frontend/plugins/kubepanel/src/components/common/sidebar/sidebar.tsx
  frontend/plugins/kubepanel/src/constants/theme.ts
  frontend/plugins/kubepanel/src/hooks/useLoading.tsx
  frontend/plugins/kubepanel/src/pages/_app.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/kube-object/workload/overview/event-overview.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/kube-object/workload/overview/overview.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/kube-object/workload/overview/status-chart.tsx
  frontend/plugins/kubepanel/src/pages/kubepanel/kube-object/workload/pod/container-status.tsx
  frontend/plugins/kubepanel/src/services/request.ts
  frontend/plugins/kubepanel/src/store/global.ts
  frontend/plugins/kubepanel/src/styles/globals.css
  frontend/plugins/kubepanel/tailwind.config.js
  frontend/providers/template/src/components/layout/appmenu.tsx
Labels: size/XL, area/frontend

#4498 docs: update lychee config
  lychee.toml
Labels: size/XS

#4497 feat:template language detection & instance api
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/cronjob/src/constants/job.ts
  frontend/providers/cronjob/src/utils/json2Yaml.ts
  frontend/providers/template/.prettierrc.js
  frontend/providers/template/arrow-right.svg
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/src/components/Banner/index.tsx
  frontend/providers/template/src/components/layout/appmenu.tsx
  frontend/providers/template/src/components/layout/sidebar.tsx
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/pages/api/v1alpha/getInstanceByName.ts
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/utils/tools.ts
Labels: size/L, area/frontend

#4499 chore: support terminal using random service name.
  controllers/terminal/Makefile
  controllers/terminal/api/v1/terminal_types.go
  controllers/terminal/config/crd/bases/terminal.sealos.io_terminals.yaml
  controllers/terminal/config/manager/kustomization.yaml
  controllers/terminal/config/rbac/role.yaml
  controllers/terminal/controllers/ingress.go
  controllers/terminal/controllers/terminal_controller.go
  controllers/terminal/deploy/manifests/deploy.yaml.tmpl
Labels: size/M, area/cloud, area/api

#4501 fix(objectstorage):fix predictCard
  frontend/desktop/data/config.json
  frontend/providers/applaunchpad/next-i18next.config.js
  frontend/providers/costcenter/next.config.js
  frontend/providers/costcenter/src/components/icons/StorageIcon.tsx
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/hooks/useBillingData.tsx
  frontend/providers/costcenter/src/pages/api/billing/getNamespaceList.tsx
  frontend/providers/costcenter/src/pages/api/getQuota.ts
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/types/billing.ts
  frontend/providers/template/src/components/Banner/index.tsx
  frontend/providers/template/src/components/icons/ArrowRight.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/delDodal.tsx
Labels: size/L, area/frontend

#4502 feat:template obtains service resources
  frontend/providers/applaunchpad/src/components/Table/index.tsx
  frontend/providers/applaunchpad/src/constants/theme.ts
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/api/delete.ts
  frontend/providers/template/src/components/Banner/index.tsx
  frontend/providers/template/src/pages/api/app/listOtherByName.ts
  frontend/providers/template/src/pages/api/resource/delService.ts
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/otherList.tsx
  frontend/providers/template/src/store/resource.ts
  frontend/providers/template/src/types/resource.ts
  frontend/providers/template/src/utils/adapt.ts
Labels: size/L, area/frontend

#4503 fix:template service nodeport
  frontend/providers/template/src/pages/api/resource/delDBByName.ts
  frontend/providers/template/src/pages/instance/components/otherList.tsx
Labels: size/XS, area/frontend

#4508 feat:db provider adapted to 0.8.1
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/constants/backup.ts
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/api/backup/create.ts
  frontend/providers/dbprovider/src/pages/api/getSecretByName.ts
  frontend/providers/dbprovider/src/pages/api/getStatefulSetByName.ts
  frontend/providers/dbprovider/src/pages/api/platform/getVersion.ts
  frontend/providers/dbprovider/src/pages/api/pod/getPodsByDBName.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupTable.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/RestoreModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/dbs/index.tsx
  frontend/providers/dbprovider/src/store/static.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/dbprovider/src/utils/user.ts
Labels: size/L, area/frontend

#4507 small feat: add database tips one user select 1 replicas
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Labels: size/S, area/frontend
