Repository labring/sealos, pull requests merged in 2024-09, with the labels that each got.

#5022 change label location
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/XS, area/cloud

#5019 fix: resolve desktop monitoring issue
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/pages/api/desktop/getResource.ts
Labels: size/S, area/frontend

#5023 add extraEnv toleration affinity,ephemeral-storage limit
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/cmd/main.go
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/S, area/cloud, area/api

#5021 feat: support user external domain
  frontend/providers/template/deploy/Kubefile
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/template/src/utils/tools.ts
Labels: size/XS, area/frontend

#5024 change runtime and runtime class to namespace scope, improve devbox c…
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/api/v1alpha1/runtime_types.go
  controllers/devbox/api/v1alpha1/runtimeclass_types.go
  controllers/devbox/api/v1alpha1/zz_generated.deepcopy.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/config/crd/bases/devbox.sealos.io_runtimeclasses.yaml
  controllers/devbox/config/crd/bases/devbox.sealos.io_runtimes.yaml
  controllers/devbox/config/samples/devbox_v1alpha1_runtime.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/devbox_controller_test.go
  controllers/devbox/internal/controller/helper/devbox.go
  controllers/devbox/internal/controller/helper/devbox_test.go
Labels: size/XXL, area/cloud, area/test, area/api

#5025 refactor:Fetch Launchpad pricing from service API
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getQuota.ts
  frontend/providers/applaunchpad/src/pages/api/platform/resourcePrice.ts
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/services/backend/kubernetes.ts
  frontend/providers/applaunchpad/src/store/user.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/L, area/frontend

#5026 feat(costcenter): add gift code
  frontend/desktop/prisma/global/migrations/20240829074904_add_giftcode/migration.sql
  frontend/desktop/prisma/global/schema.prisma
  frontend/packages/ui/.eslintrc.json
  frontend/packages/ui/src/components/Message/index.tsx
  frontend/providers/costcenter/.vscode/settings.json
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/cost_overview/buget.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/GiftCode.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/components/icons/ExchangeIcon.tsx
  frontend/providers/costcenter/src/components/icons/InfoIcon.tsx
  frontend/providers/costcenter/src/pages/api/account/gift-code.ts
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/types/config.ts
Labels: size/XL, area/frontend

#5028 add devbox controller rbac.
  controllers/devbox/config/rbac/role.yaml
  controllers/devbox/deploy/manifests/rbac.yaml
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/M, area/cloud

#5030 fix devbox get runtime.
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/api/v1alpha1/devboxrelease_types.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/config/crd/bases/devbox.sealos.io_runtimes.yaml
  controllers/devbox/config/rbac/role.yaml
  controllers/devbox/config/samples/devbox_v1alpha1_runtime.yaml
  controllers/devbox/config/samples/devbox_v1alpha1_runtimeclass.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/XL, area/cloud, area/api

#5034 add devbox default runtime ref namespace to devbox-system.
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/config/samples/devbox_v1alpha1_devbox.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/S, area/cloud, area/api

#5035 add logs for CheckPodConsistency.
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/S, area/cloud

#5036 fix: signup with password donot save kc
  frontend/desktop/src/components/signin/auth/usePassword.tsx
Labels: size/XS, area/frontend

#5039 fix ssh volume bug
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/XS, area/cloud

#5040 fix: switch pod logs
  frontend/providers/applaunchpad/src/pages/app/detail/components/LogsModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
Labels: size/S, area/frontend

#5038 feat: add SEO TDK support and pricebox to template
  docs/website/scripts/sync-docs.js
  frontend/.lintstagedrc
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/components/Icon/icons/formInfo.svg
  frontend/providers/template/src/components/Icon/icons/markdown.svg
  frontend/providers/template/src/components/Icon/icons/sealosCoin.svg
  frontend/providers/template/src/components/Icon/index.tsx
  frontend/providers/template/src/components/Table/index.tsx
  frontend/providers/template/src/components/icons/Application.tsx
  frontend/providers/template/src/components/icons/HtmlIcon.tsx
  frontend/providers/template/src/components/icons/PriceIcon.tsx
  frontend/providers/template/src/components/icons/Share.tsx
  frontend/providers/template/src/components/layout/appmenu.tsx
  frontend/providers/template/src/components/layout/index.tsx
  frontend/providers/template/src/constants/theme.ts
  frontend/providers/template/src/hooks/useConfirm.tsx
  frontend/providers/template/src/pages/api/getTemplateSource.ts
  frontend/providers/template/src/pages/api/platform/resourcePrice.ts
  frontend/providers/template/src/pages/deploy/components/Form.tsx
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/deploy/components/PriceBox.tsx
  frontend/providers/template/src/pages/deploy/components/ReadMe.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/appList.tsx
  frontend/providers/template/src/pages/instance/components/cronjobList.tsx
  frontend/providers/template/src/pages/instance/components/dbList.tsx
  frontend/providers/template/src/pages/instance/components/delDodal.tsx
  frontend/providers/template/src/pages/instance/components/header.tsx
  frontend/providers/template/src/pages/instance/components/objStorageList.tsx
  frontend/providers/template/src/pages/instance/components/otherList.tsx
  frontend/providers/template/src/store/cached.ts
  frontend/providers/template/src/store/user.ts
  frontend/providers/template/src/utils/template.ts
  frontend/providers/template/src/utils/usage.ts
Labels: kind/documentation, size/XXL, area/frontend

#5042 add devbox phase and controller
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/M, area/cloud, area/api

#5045 add devbox node and containerId
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/S, area/cloud, area/api

#5041 fix: adjust GPU quota for launchpad
  frontend/providers/applaunchpad/src/pages/api/monitor/getMonitorData.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getQuota.ts
  frontend/providers/applaunchpad/src/pages/api/platform/resourcePrice.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/services/backend/kubernetes.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/template/src/components/Select/index.tsx
  frontend/providers/template/src/pages/deploy/components/Form.tsx
Labels: size/L, area/frontend

#5050 add devbox image random
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/XS, area/cloud

#5049 Monitor api adapt token
  controllers/pkg/database/cockroach/accountv2.go
  service/account/api/api.go
  service/account/common/account.go
  service/account/dao/init.go
  service/account/dao/interface.go
  service/account/dao/interface_test.go
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/go.mod
  service/account/go.sum
  service/account/helper/common.go
  service/account/helper/error.go
  service/account/helper/jwt.go
  service/account/helper/jwt_test.go
  service/account/helper/request.go
  service/account/router/router.go
  service/go.work.sum
Labels: size/XXL, area/cloud, area/test

#5044 update launchpad test
  service/launchpad/request/req.go
Labels: size/XS, area/cloud

#5048 add service port
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/M, area/cloud

#5047 feat: applaunchpad log previous
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/api/app.ts
  frontend/providers/applaunchpad/src/pages/api/getPodLogs.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/LogsModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/empty.module.scss
  frontend/providers/applaunchpad/src/pages/app/detail/components/empty.tsx
  frontend/providers/applaunchpad/src/services/streamFetch.ts
Labels: size/L, area/frontend

#5051 fix release bug
  controllers/devbox/internal/controller/utils/registry/client.go
Labels: size/XS, area/cloud

#5043 feat: user private ns invite
  controllers/user/controllers/adapt_rolebinding_controller.go
  controllers/user/controllers/helper/config/rbac.go
  controllers/user/controllers/operationrequest_controller.go
  controllers/user/controllers/user_controller.go
  controllers/user/main.go
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/api/namespace.ts
  frontend/desktop/src/components/team/RenameTeam.tsx
  frontend/desktop/src/components/team/TeamCenter.tsx
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
  frontend/desktop/src/components/team/userTable.tsx
  frontend/desktop/src/pages/api/auth/namespace/details.ts
  frontend/desktop/src/pages/api/auth/namespace/getInviteCode.ts
  frontend/desktop/src/pages/api/auth/namespace/invite.ts
  frontend/desktop/src/pages/api/auth/namespace/modifyRole.ts
  frontend/desktop/src/pages/api/auth/namespace/removeUser.ts
  frontend/desktop/src/pages/api/auth/namespace/rename.ts
  frontend/desktop/src/pages/api/auth/namespace/verifyInvite.ts
  frontend/desktop/src/services/backend/regionAuth.ts
Labels: size/XL, area/cloud, area/frontend

#5052 update launchpad single
  service/launchpad/request/req.go
Labels: size/XS, area/cloud

#5053 add release old tag
  controllers/devbox/api/v1alpha1/devboxrelease_types.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxreleases.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/internal/controller/devboxrelease_controller.go
Labels: size/M, area/cloud, area/api

#5060 remove pod finalizer
  controllers/devbox/go.mod
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/S, area/cloud

#5062 bump format go version
  .github/workflows/check-format-code.yml
Labels: size/XS, area/workflow

#5061 feat: add Kafka and Milvus connection string support
  frontend/providers/dbprovider/src/pages/api/getSecretByName.ts
  frontend/providers/dbprovider/src/pages/api/platform/resourcePrice.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/services/backend/response.ts
Labels: size/L, area/frontend

#5064 fix: log stream cannot be used with jsonRes after flushHeader
  frontend/providers/applaunchpad/src/pages/api/getPodLogs.ts
Labels: size/L, area/frontend

#5063 feat: acmedns
  deploy/cloud/Kubefile
  deploy/cloud/manifests/acme-cert.yaml.tmpl
  deploy/cloud/scripts/init.sh
  scripts/cloud/install.sh
Labels: size/L, area/ci

#5056 Add terminate ns, skip notifications for abnormal users, set default.NodePort.Limit=10, adapt new user struct.
  controllers/account/api/v1/debt_types.go
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/namespace_controller.go
  controllers/account/deploy/Kubefile
  controllers/account/deploy/manifests/account-manager-config.yaml.tmpl
  controllers/devbox/go.mod
  controllers/pkg/resources/resources.go
  controllers/pkg/types/global.go
Labels: size/M, area/cloud, area/api

#5068 fix webhook
  controllers/account/api/v1/debt_webhook.go
  controllers/account/controllers/billing_controller.go
Labels: size/S

#5067 Fix devbox podPhase logic and license in deploy.yaml.tmpl
  controllers/devbox/Makefile
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/go.mod
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
  controllers/go.work
Labels: size/M, area/cloud

#5072 fix:permission change check for launchpad
  frontend/desktop/src/pages/api/desktop/getBilling.ts
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/pages/api/platform/checkPermission.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getQuota.ts
  frontend/providers/applaunchpad/src/pages/api/platform/resourcePrice.ts
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/store/user.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
Labels: size/L, area/frontend

#5070 Region amount api
  service/account/api/api.go
  service/account/dao/interface.go
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/helper/common.go
  service/account/router/router.go
Labels: size/L, area/cloud

#5076 feat(objectstorage): web host add history router support
  frontend/providers/objectstorage/.vscode/settings.json
  frontend/providers/objectstorage/src/pages/api/site/openHost.ts
  frontend/providers/objectstorage/src/templates/nginx/site-host
Labels: size/L, area/frontend

#5011 feat(applaunchpad): Improve domain handling for legacy and new domains
  docs/website/src/hooks/useWindow.ts
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/index.tsx
  docs/website/src/pages/self-hosting/index.tsx
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/constants/editApp.ts
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getEnv.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: kind/documentation, size/L, area/frontend

#5077 fix:launchpad resource update in checkPermission API
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/pages/api/platform/checkPermission.ts
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
Labels: size/M, area/frontend

#5069 feat: db log
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/api/migrate.ts
  frontend/providers/dbprovider/src/pages/api/migrate/getLogByName.ts
  frontend/providers/dbprovider/src/pages/api/pod/getPodLogs.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/LogsModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Migrate/LogsModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Migrate/empty.module.scss
  frontend/providers/dbprovider/src/pages/db/detail/components/Migrate/empty.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Pods.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/empty.module.scss
  frontend/providers/dbprovider/src/pages/db/detail/components/empty.tsx
  frontend/providers/dbprovider/src/services/streamFetch.ts
Labels: size/XL, area/frontend

#4831 WIP: Replace `ingress-nginx` with `higress`.
  scripts/cloud/install.sh
Labels: size/L, area/ci

#5082 fix(objectstorage): Fix site hosting errors for domains
  frontend/providers/objectstorage/src/pages/api/site/openHost.ts
Labels: size/XS, area/frontend

#5081 feat: launchpad implement URL query to form data conversion
  frontend/Dockerfile
  frontend/providers/applaunchpad/src/constants/editApp.ts
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
Labels: size/L, area/frontend

#5086 add devbox monitor
  controllers/pkg/resources/named.go
  controllers/pkg/resources/resources.go
Labels: size/XS, area/cloud

#5079 fix: `etc/sealos/.env: line 1: syntax error near unexpected token `newline'`
  pkg/filesystem/rootfs/rootfs_default.go
Labels: size/XS, area/filesystem, area/lifecycle-management

#5087 fix: improve timezone handling in Kubernetes pods
  frontend/providers/applaunchpad/src/pages/app/detail/components/DelModal.tsx
  frontend/providers/applaunchpad/src/utils/kubeFileSystem.ts
Labels: size/M, area/frontend

#5075 Update objectstorage cloud image
  deploy/objectstorage/Kubefile
  deploy/objectstorage/README.md
  deploy/objectstorage/etc/minio/policy/kubeblocks.json
  deploy/objectstorage/manifests/minio/deploy.yaml.tmpl
  deploy/objectstorage/scripts/minio.sh
Labels: size/M, area/ci

#5085 Update costcenter
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/assert/clock.svg
  frontend/providers/costcenter/src/assert/gpu.svg
  frontend/providers/costcenter/src/assert/node.svg
  frontend/providers/costcenter/src/assert/nvidia.svg
  frontend/providers/costcenter/src/components/RechargeModal.tsx
  frontend/providers/costcenter/src/components/billing/TransferTabPnel.tsx
  frontend/providers/costcenter/src/components/icons/ClockIcon.tsx
  frontend/providers/costcenter/src/components/icons/GpuIcon.tsx
  frontend/providers/costcenter/src/components/icons/NodeIcon.tsx
  frontend/providers/costcenter/src/components/icons/NvidiaIcon.tsx
  frontend/providers/costcenter/src/components/invoice/PaymentPanel.tsx
  frontend/providers/costcenter/src/components/invoice/RecordPanel.tsx
  frontend/providers/costcenter/src/components/menu/BaseMenu.tsx
  frontend/providers/costcenter/src/components/table/PriceTable.tsx
  frontend/providers/costcenter/src/components/valuation/CalculatorPanel/NumberInput.tsx
  frontend/providers/costcenter/src/components/valuation/CalculatorPanel/Slider.tsx
  frontend/providers/costcenter/src/components/valuation/CalculatorPanel/index.tsx
  frontend/providers/costcenter/src/components/valuation/CycleMenu.tsx
  frontend/providers/costcenter/src/components/valuation/PriceTablePanel.tsx
  frontend/providers/costcenter/src/components/valuation/RangeInput.tsx
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/pages/api/account/getAmount.ts
  frontend/providers/costcenter/src/pages/api/account/gift-code.ts
  frontend/providers/costcenter/src/pages/api/account/payment/index.ts
  frontend/providers/costcenter/src/pages/api/account/transfer.ts
  frontend/providers/costcenter/src/pages/api/billing/appBilling.ts
  frontend/providers/costcenter/src/pages/api/billing/appOverview.ts
  frontend/providers/costcenter/src/pages/api/billing/consumption.ts
  frontend/providers/costcenter/src/pages/api/billing/costDistrube.ts
  frontend/providers/costcenter/src/pages/api/billing/costs.ts
  frontend/providers/costcenter/src/pages/api/billing/getAppList.ts
  frontend/providers/costcenter/src/pages/api/billing/getAppNameList.ts
  frontend/providers/costcenter/src/pages/api/billing/getNamespaceList.ts
  frontend/providers/costcenter/src/pages/api/billing/index.ts
  frontend/providers/costcenter/src/pages/api/billing/propertiesUsedAmount.ts
  frontend/providers/costcenter/src/pages/api/billing/recharge.ts
  frontend/providers/costcenter/src/pages/api/billing/rechargeBillingList.ts
  frontend/providers/costcenter/src/pages/api/billing/rechargeList.ts
  frontend/providers/costcenter/src/pages/api/billing/regionCost.ts
  frontend/providers/costcenter/src/pages/api/billing/transfer.ts
  frontend/providers/costcenter/src/pages/api/bot/callback.ts
  frontend/providers/costcenter/src/pages/api/invoice/list.ts
  frontend/providers/costcenter/src/pages/api/invoice/sms.ts
  frontend/providers/costcenter/src/pages/api/invoice/verify.ts
  frontend/providers/costcenter/src/pages/api/properties.ts
  frontend/providers/costcenter/src/pages/app_overview/index.tsx
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/resource_analysis/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/service/auth.ts
  frontend/providers/costcenter/src/service/backend/region.ts
  frontend/providers/costcenter/src/service/request.ts
  frontend/providers/costcenter/src/service/sendToBot.ts
  frontend/providers/costcenter/src/styles/chakraTheme.ts
  frontend/providers/costcenter/src/types/config.ts
Labels: size/XXL, area/frontend

#5088 Fix/get invoice payment
  controllers/pkg/database/cockroach/accountv2.go
  deploy/cloud/scripts/init.sh
  service/account/api/api.go
  service/account/dao/interface.go
  service/account/dao/interface_test.go
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/helper/request.go
  service/account/router/router.go
Labels: size/XL, area/cloud, area/ci, area/test

#5080 add LastTerminatedState for devbox.
  controllers/devbox/Makefile
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/api/v1alpha1/zz_generated.deepcopy.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/config/samples/test/devbox_v1alpha1_devbox.yaml
  controllers/devbox/config/samples/test/devbox_v1alpha1_runtime.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/L, area/cloud, area/api

#5089 chrome(desktop):update token
  frontend/desktop/src/pages/api/desktop/getBilling.ts
  frontend/desktop/src/services/backend/auth.ts
  frontend/desktop/src/types/system.ts
Labels: size/S, area/frontend

#5090 fix:launchpad domain for internal app call listener
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/src/constants/editApp.ts
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/api/getEnv.ts
  frontend/providers/dbprovider/src/store/env.ts
Labels: size/M, area/frontend

#5092 fix: cronjob kc and no mount sa
  frontend/providers/cronjob/src/pages/job/edit/components/Form.tsx
  frontend/providers/cronjob/src/utils/json2Yaml.ts
Labels: size/S, area/frontend

#4890 chore: add hostname for reset confirm.
  go.mod
  pkg/utils/confirm/confirm.go
Labels: response-expired, size/S, area/lifecycle-management

#4936 fix: failed to delete node by apply
  pkg/apply/applydrivers/apply_drivers_default.go
Labels: size/XS, area/apply, area/lifecycle-management

#5094 :bug: fix image sha256
  staging/src/github.com/labring/image-cri-shim/pkg/server/utils.go
Labels: area/imageCRIShim, size/XS, area/lifecycle-management

#5093 feat: cronjob implement job
  frontend/providers/cronjob/public/locales/en/common.json
  frontend/providers/cronjob/public/locales/zh/common.json
  frontend/providers/cronjob/src/api/job.ts
  frontend/providers/cronjob/src/pages/api/cronjob/implementJob.ts
  frontend/providers/cronjob/src/pages/job/detail/components/AppBaseInfo.tsx
  frontend/providers/cronjob/src/pages/job/detail/components/AppMainInfo.tsx
  frontend/providers/cronjob/src/pages/job/detail/components/Header.tsx
  frontend/providers/cronjob/src/pages/job/detail/index.tsx
  frontend/providers/cronjob/src/pages/jobs/components/jobList.tsx
  frontend/providers/cronjob/src/types/job.d.ts
  frontend/providers/cronjob/src/utils/adapt.ts
Labels: size/L, area/frontend

#5095 fix: cronjob total amount
  frontend/providers/cronjob/src/pages/job/detail/components/AppBaseInfo.tsx
Labels: size/XS, area/frontend

#5099 add devbox runtime app port.
  controllers/devbox/api/v1alpha1/runtime_types.go
  controllers/devbox/api/v1alpha1/zz_generated.deepcopy.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_runtimes.yaml
  controllers/devbox/config/manager/manager.yaml
  controllers/devbox/config/samples/devbox_v1alpha1_runtime.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/deploy/manifests/rbac.yaml
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/L, area/cloud, area/api

#5071 sealos v5.0.1-beta2
  scripts/cloud/build-offline-tar.sh
  scripts/cloud/install.sh
Labels: size/S, area/ci

#5103 fix(account-service): fix concurrency issue and add real name info api
  controllers/go.work.sum
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/types/global.go
  go.work.sum
  service/account/api/api.go
  service/account/dao/interface.go
  service/account/dao/interface_test.go
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/helper/common.go
  service/account/helper/request.go
  service/account/router/router.go
Labels: size/L, area/cloud, area/test

#5097 fix: some ui adjust and bug fix
  frontend/providers/devbox/.env.template
  frontend/providers/devbox/api/devbox.ts
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/DevboxList.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Form.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Version.tsx
  frontend/providers/devbox/app/[lang]/(platform)/layout.tsx
  frontend/providers/devbox/app/api/getDevboxList/route.ts
  frontend/providers/devbox/app/api/getDevboxVersionList/route.ts
  frontend/providers/devbox/app/api/platform/getRuntime/route.ts
  frontend/providers/devbox/app/api/releaseDevbox/route.ts
  frontend/providers/devbox/app/api/restartDevbox/route.ts
  frontend/providers/devbox/components/modals/MonitorModal.tsx
  frontend/providers/devbox/components/modals/releaseModal.tsx
  frontend/providers/devbox/constants/devbox.ts
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/stores/devbox.ts
  frontend/providers/devbox/stores/static.ts
  frontend/providers/devbox/types/devbox.d.ts
  frontend/providers/devbox/types/k8s.d.ts
  frontend/providers/devbox/utils/json2Yaml.ts
  frontend/providers/devbox/utils/tools.ts
Labels: size/XL, area/frontend

#5104 fix init user
  controllers/job/init/internal/util/database/user.go
Labels: size/XS, area/cloud

#5108 fix get default property
  service/account/common/account.go
Labels: size/XS, area/cloud

#5111 style(costcenter): recharge discount
  frontend/packages/ui/src/theme/colors.ts
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/RechargeModal.tsx
  frontend/providers/costcenter/src/components/icons/GiftIcon.tsx
  frontend/providers/costcenter/src/components/icons/HelpIcon.tsx
  frontend/providers/costcenter/src/layout/index.tsx
  frontend/providers/costcenter/src/layout/sidebar.tsx
  frontend/providers/costcenter/src/pages/api/price/bonus.ts
  frontend/providers/costcenter/src/pages/api/price/index.ts
  frontend/providers/costcenter/src/service/auth.ts
  frontend/providers/costcenter/src/service/request.ts
Labels: size/L, area/frontend

#5112 devbox pod ignore extra ports.
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/XS, area/cloud

#5114 fix desktop and costcenter configs.
  deploy/cloud/scripts/init.sh
  frontend/desktop/deploy/manifests/configmap.yaml.tmpl
  frontend/desktop/deploy/manifests/rbac.yaml
  frontend/providers/costcenter/deploy/Kubefile
  frontend/providers/costcenter/deploy/manifests/configmap.yaml.tmpl
Labels: size/S

#5113 fix: cronjob arm64 image
  frontend/providers/cronjob/src/utils/json2Yaml.ts
Labels: size/XS, area/frontend

#5102 feat: sync resourcequota objectstorage/size status used
  controllers/objectstorage/controllers/objectstorageuser_controller.go
Labels: size/S, area/cloud

#5117 fix scripts: init account jwt secret
  deploy/cloud/scripts/init.sh
Labels: size/XS, area/ci

#5119 feat: launchpad support secret userDomains
  frontend/providers/applaunchpad/.env.template
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/deploy/Kubefile
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/createApp.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/M, area/frontend

#5116 fix: node tls reject unauthorized
  frontend/providers/devbox/app/api/platform/resourcePrice/route.ts
  frontend/providers/devbox/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/template/src/pages/api/platform/resourcePrice.ts
Labels: size/S, area/frontend

#5120 fix devbox phase generate.
  controllers/devbox/.gitignore
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/M, area/cloud, area/api
