Repository labring/sealos, pull requests merged in 2024-05, with the labels that each got.

#4714 add a key for a bucket
  controllers/objectstorage/controllers/objectstoragebucket_controller.go
  controllers/objectstorage/controllers/objectstorageuser_controller.go
Labels: size/L, area/cloud

#4703 chore(kubepanel):update README.md
  frontend/providers/kubepanel/README.md
Labels: size/M, area/frontend

#4692 chore: remove repetitive words
  README.md
  deprecated/controllers/imagehub/config/samples/imagehub_v1_all.yaml
Labels: good first issue, kind/documentation, size/XS

#4725 fix objectstorage frontend deploy.yaml format error
  frontend/providers/objectstorage/deploy/manifests/deploy.yaml.tmpl
Labels: size/M, area/frontend

#4726 monitor svc multi nodePort
  controllers/account/controllers/account_controller.go
  controllers/resources/controllers/monitor_controller.go
Labels: size/S, area/cloud

#4727 Change object storage monitor service from prometheus to vm
  deploy/objectstorage/scripts/init.sh
  service/minio/deploy/manifests/deploy.yaml.tmpl
Labels: size/M, area/cloud, area/ci

#4729 Fix kubepanel typo&link.
  .github/workflows/bot-cherry-pick.yml
  frontend/providers/kubepanel/README.md
Labels: size/XS, area/frontend, area/workflow

#4730 chore: update sealos cloud cluster image to adapt desktop using config
  deploy/cloud/scripts/init.sh
  frontend/desktop/deploy/Kubefile
  frontend/desktop/deploy/manifests/configmap.yaml
  frontend/desktop/deploy/manifests/configmap.yaml.tmpl
  frontend/desktop/deploy/scripts/init.sh
Labels: size/L, area/ci, area/frontend

#4731 fix billing record query deductionAmount with app type
  controllers/account/api/v1/billingrecordquery_types.go
  controllers/account/api/v1/zz_generated.deepcopy.go
  controllers/account/config/crd/bases/account.sealos.io_billingrecordqueries.yaml
  controllers/account/deploy/manifests/deploy.yaml.tmpl
  controllers/pkg/database/mongo/account.go
Labels: size/M, area/cloud, area/api

#4732 none
  deploy/objectstorage/scripts/init.sh
Labels: size/XS, area/ci

#4735 Update app menu types.
  controllers/app/api/v1/app_types.go
  controllers/app/api/v1/zz_generated.deepcopy.go
  controllers/app/config/crd/bases/app.sealos.io_apps.yaml
  controllers/app/deploy/manifests/deploy.yaml
Labels: size/M, area/cloud, area/api

#4734 fix:cloudserver bandwidth price display
  frontend/providers/cloudserver/public/locales/en/common.json
  frontend/providers/cloudserver/public/locales/zh/common.json
  frontend/providers/cloudserver/src/components/MyTable/index.tsx
  frontend/providers/cloudserver/src/pages/_app.tsx
  frontend/providers/cloudserver/src/pages/cloudserver/create/components/Form.tsx
  frontend/providers/cloudserver/src/pages/cloudserver/create/components/Header.tsx
  frontend/providers/cloudserver/src/pages/cloudserver/create/index.tsx
  frontend/providers/cloudserver/src/pages/cloudservers/components/List.tsx
  frontend/providers/cloudserver/src/types/cloudserver.ts
Labels: size/L, area/frontend

#4736 Fix/costcente svc
  service/account/api/api.go
  service/account/dao/interface.go
  service/account/helper/request.go
  service/go.work.sum
Labels: size/L, area/cloud

#4644 Stop clusters
  controllers/account/api/v1/debt_types.go
  controllers/account/config/crd/bases/account.sealos.io_debts.yaml
  controllers/account/config/rbac/role.yaml
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/namespace_controller.go
  controllers/account/deploy/manifests/deploy.yaml.tmpl
  controllers/account/go.mod
  controllers/account/go.sum
  controllers/account/main.go
  controllers/go.work.sum
  controllers/license/go.mod
  controllers/license/go.sum
  controllers/pkg/utils/env/env.go
Labels: size/XL, area/cloud, area/api

#4737 fix(costcenter): update amount by the query
  frontend/providers/costcenter/src/components/billing/AmountDisplay.tsx
  frontend/providers/costcenter/src/components/billing/AppMenu.tsx
  frontend/providers/costcenter/src/components/billing/InOutTabPanel.tsx
  frontend/providers/costcenter/src/components/billing/NamespaceMenu.tsx
  frontend/providers/costcenter/src/components/billing/RechargeTabPanel.tsx
  frontend/providers/costcenter/src/components/billing/TransferTabPnel.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/pieChart.tsx
  frontend/providers/costcenter/src/pages/api/billing/buget.ts
  frontend/providers/costcenter/src/pages/api/billing/getAppList.ts
  frontend/providers/costcenter/src/pages/api/billing/index.ts
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/stores/billing.ts
  frontend/providers/costcenter/src/types/billing.ts
  frontend/providers/workorder/next-i18next.config.js
  frontend/providers/workorder/next.config.js
  frontend/providers/workorder/tsconfig.json
Labels: size/L, area/frontend

#4705 为kubepanel network 添加service
  frontend/providers/kubepanel/src/components/common/sidebar/sidebar.tsx
  frontend/providers/kubepanel/src/constants/kube-object.ts
  frontend/providers/kubepanel/src/pages/kubepanel/index.tsx
  frontend/providers/kubepanel/src/pages/kubepanel/kube-object/network/service/service-detail.tsx
  frontend/providers/kubepanel/src/pages/kubepanel/kube-object/network/service/service.tsx
  frontend/providers/kubepanel/src/services/backend/api.ts
  frontend/providers/kubepanel/src/store/k8s/service.store.ts
  frontend/providers/kubepanel/src/store/kube.ts
  frontend/providers/kubepanel/src/types/state.d.ts
Labels: size/L, area/frontend

#4733 Fix desktop config
  .github/workflows/cloud.yml
  frontend/Dockerfile
  frontend/desktop/deploy/manifests/configmap.yaml.tmpl
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/desktop/deploy/scripts/init.sh
  frontend/desktop/src/pages/api/auth/oauth/github/index.ts
  frontend/desktop/src/pages/api/auth/oauth/google/index.ts
  frontend/desktop/src/pages/api/auth/oauth/oauth2/index.ts
  frontend/desktop/src/pages/api/auth/oauth/wechat/index.ts
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/services/backend/auth.ts
  frontend/desktop/src/services/enable.ts
Labels: size/L, area/frontend, area/workflow

#4741 chore: update app cr.
  controllers/app/deploy/appexample/cr.yaml
  frontend/providers/adminer/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/applaunchpad/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/cloudserver/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/costcenter/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/cronjob/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/dbprovider/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/invite/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/kubepanel/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/license/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/objectstorage/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/terminal/deploy/manifests/appcr.yaml.tmpl
  frontend/providers/workorder/deploy/manifests/appcr.yaml.tmpl
  helm/sealos/charts/costcenter/templates/app.yaml
Labels: size/M, area/cloud, area/frontend

#4739 fix set account create region id
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/namespace_controller.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/resources/controllers/monitor_controller.go
Labels: size/S, area/cloud

#4742 Update appcr
  controllers/app/config/samples/app_v1_app.yaml
  controllers/app/deploy/appexample/cr.yaml
  docs/4.0/docs/advanced-guide/how-to-deploy-the-application-to-desktop.md
  docs/4.0/docs/examples/social-communication/install-tailchat.md
  docs/4.0/i18n/zh-Hans/advanced-guide/how-to-deploy-the-application-to-desktop.md
  docs/4.0/i18n/zh-Hans/examples/social-communication/install-tailchat.md
  frontend/providers/template/deploy/manifests/appcr.yaml.tmpl
  helm/sealos/charts/costcenter/templates/app.yaml
Labels: kind/documentation, size/S, area/cloud, area/frontend

#4745 Add sealos framework
  README.md
Labels: size/XS

#4740 styles: launchpad AppStatusTag & workorder appendixs
  frontend/.dockerignore
  frontend/desktop/src/services/enable.ts
  frontend/providers/applaunchpad/src/components/AppStatusTag/index.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/ConfigMapDetailModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/DelModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/LogsModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/MonitorModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/PodDetailModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/PodFileModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/ConfigmapModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/EditEnvs.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/ErrorModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/workorder/public/locales/en/common.json
  frontend/providers/workorder/public/locales/zh/common.json
  frontend/providers/workorder/src/constants/workorder.ts
  frontend/providers/workorder/src/pages/api/ai/fastgpt.ts
  frontend/providers/workorder/src/pages/api/platform/feishu.ts
  frontend/providers/workorder/src/pages/workorder/detail/components/AppBaseInfo.tsx
Labels: size/M, area/frontend

#4748 fix:add check containerd
  pkg/checker/host_checker.go
Labels: size/S, need-e2e-apply-test, area/check, area/lifecycle-management

#4753 temporary hiding kb package import
  controllers/account/controllers/namespace_controller.go
  controllers/account/go.mod
  controllers/account/go.sum
  controllers/account/main.go
  controllers/go.work.sum
Labels: size/L, area/cloud

#4754 i18n: update i18n for App Launchpad
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/app/detail/components/DelModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/empty.tsx
Labels: size/XL, area/frontend

#4757 Add clear mongo log
  deploy/cloud/manifests/clear-mongo-log.yaml
  deploy/cloud/scripts/init.sh
Labels: size/M, area/ci

#4756 feat: upgrade cost center config.
  controllers/go.work.sum
  controllers/terminal/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/costcenter/data/config.yaml.local
  frontend/providers/costcenter/deploy/manifests/configmap.yaml.tmpl
  frontend/providers/costcenter/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/api/account/getAmount.ts
  frontend/providers/costcenter/src/pages/api/account/payment/index.ts
  frontend/providers/costcenter/src/pages/api/account/payment/pay.ts
  frontend/providers/costcenter/src/pages/api/account/payment/stripe.ts
  frontend/providers/costcenter/src/pages/api/account/transfer.ts
  frontend/providers/costcenter/src/pages/api/billing/buget.ts
  frontend/providers/costcenter/src/pages/api/billing/costs.ts
  frontend/providers/costcenter/src/pages/api/billing/getNamespaceList.ts
  frontend/providers/costcenter/src/pages/api/billing/propertiesUsedAmount.ts
  frontend/providers/costcenter/src/pages/api/billing/recharge.ts
  frontend/providers/costcenter/src/pages/api/enabled.ts
  frontend/providers/costcenter/src/pages/api/invoice/sms.ts
  frontend/providers/costcenter/src/pages/api/invoice/verify.ts
  frontend/providers/costcenter/src/pages/api/platform/getAppConfig.ts
  frontend/providers/costcenter/src/pages/api/price/bonus.ts
  frontend/providers/costcenter/src/pages/api/properties.ts
  frontend/providers/costcenter/src/pages/create_invoice/index.tsx
  frontend/providers/costcenter/src/service/backend/db/mongodb.ts
  frontend/providers/costcenter/src/service/enabled.ts
  frontend/providers/costcenter/src/service/sendToBot.ts
  frontend/providers/costcenter/src/stores/env.ts
  frontend/providers/costcenter/src/types/config.ts
Labels: size/L, area/cloud, area/frontend

#4761 fix cost center frontend manifests
  frontend/providers/costcenter/deploy/manifests/configmap.yaml.tmpl
  frontend/providers/costcenter/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/frontend

#4755 doc(Frontend): Rename READMD.md to README.md
  frontend/README.md
Labels: size/XS, area/frontend

#4749 fix control-plane component status
  pkg/checker/cluster_checker.go
Labels: size/M, area/check, area/lifecycle-management

#4763 Feat/ add vms/email debt notification
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/debt_controller_test.go
  controllers/account/controllers/utils/email.go
  controllers/account/controllers/utils/vms.go
  controllers/account/controllers/utils/vms_test.go
  controllers/account/go.mod
  controllers/account/go.sum
  controllers/license/go.mod
  controllers/license/go.sum
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/pay/test/main.go
  controllers/pkg/resources/named.go
  controllers/pkg/types/global.go
  service/account/go.mod
  service/account/go.sum
  service/go.mod
  service/go.sum
  service/go.work.sum
Labels: size/XXL, area/cloud, area/test
