Repository labring/sealos, pull requests merged in 2024-02, with the labels that each got.

#4509 style: switch sealos coin
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/CurrencySymbol.tsx
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/components/cost_overview/buget.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/RechargeModal.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/pieChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/components/valuation/predictCard.tsx
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
Labels: size/L, area/frontend

#4518 chore: fix template typos.
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend

#4515 fix:dbprovider auto backup
  frontend/providers/applaunchpad/next.config.js
  frontend/providers/cronjob/next.config.js
  frontend/providers/dbprovider/deploy/manifests/rbac.yaml
  frontend/providers/dbprovider/next.config.js
  frontend/providers/dbprovider/src/pages/api/backup/updatePolicy.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupModal.tsx
  frontend/providers/dbprovider/src/services/backend/kubernetes.ts
  frontend/providers/dbprovider/src/types/backup.d.ts
  frontend/providers/dbprovider/src/types/cluster.d.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/license/next.config.js
  frontend/providers/template/next.config.js
Labels: size/L, area/frontend

#4521 feat:docs self-hosting entrance
  docs/website/src/pages/self-hosting/product/index.tsx
Labels: kind/documentation, size/M

#4519 feat:desktop support wechat public account login
  frontend/desktop/package.json
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/signin/auth/useWechat.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/pages/api/auth/publicWechat/getWechatQR.ts
  frontend/desktop/src/pages/api/auth/publicWechat/getWechatResult.ts
  frontend/desktop/src/pages/api/auth/publicWechat/handleWechat.ts
  frontend/desktop/src/services/backend/db/wechatCode.ts
  frontend/desktop/src/types/index.ts
  frontend/desktop/src/types/login.ts
  frontend/desktop/src/types/user.ts
  frontend/pnpm-lock.yaml
Labels: size/XL, area/frontend

#4523 feat: @sealos/ui useMessage component
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/components/user_menu/github.tsx
  frontend/desktop/src/components/user_menu/index.tsx
  frontend/desktop/src/hooks/useDriver.tsx
  frontend/desktop/src/pages/api/platform/getEnv.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/stores/global.ts
  frontend/desktop/src/types/system.ts
  frontend/packages/ui/src/components/Message/index.tsx
  frontend/packages/ui/src/components/icons/CloseIcon.tsx
  frontend/packages/ui/src/components/icons/SuccessIcon.tsx
  frontend/packages/ui/src/components/icons/WarningIcon.tsx
  frontend/packages/ui/src/components/index.ts
  frontend/packages/ui/src/theme/colors.ts
  frontend/providers/applaunchpad/src/pages/api/monitor/getMonitorData.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/PriceBox.tsx
  frontend/providers/applaunchpad/src/services/monitorFetch.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/dbprovider/src/pages/api/getServiceByName.ts
  frontend/providers/dbprovider/src/pages/api/getStatefulSetByName.ts
  frontend/providers/dbprovider/src/pages/api/migrate/createDump.ts
  frontend/providers/dbprovider/src/store/user.ts
Labels: size/L, area/frontend

#4529 Fix dead link
  README.md
Labels: size/XS

#4535 fix:docs reference scripts path problem
  docs/website/docusaurus.config.js
  docs/website/src/components/Highlight/index.tsx
Labels: kind/documentation, size/S

#4530 Update gen-apply-cluster.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/operations/run-cluster/gen-apply-cluster.md
Labels: kind/documentation, size/XS, area/cloud

#4510 feat: object storage cluster init.
  .github/workflows/objectstorage.yaml
  deploy/objectstorage/Kubefile
  deploy/objectstorage/README.md
  deploy/objectstorage/etc/minio/policy/kubeblocks.json
  deploy/objectstorage/etc/minio/policy/user_deny_write.json
  deploy/objectstorage/etc/minio/policy/user_normal.json
  deploy/objectstorage/images/shim/imageList
  deploy/objectstorage/init.sh
  deploy/objectstorage/manifests/minio/deploy.yaml.tmpl
  deploy/objectstorage/manifests/prometheus/deploy.yaml.tmpl
  deploy/objectstorage/scripts/init.sh
  deploy/objectstorage/scripts/minio.sh
  deploy/objectstorage/scripts/prometheus.sh
Labels: size/XL, area/ci, area/workflow

#4533 feat:template support parsing option lists
  frontend/desktop/deploy/manifests/rbac.yaml
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/pages/api/notification/global.ts
  frontend/desktop/src/types/crd.ts
  frontend/providers/template/src/components/Icon/index.tsx
  frontend/providers/template/src/components/Select/index.tsx
  frontend/providers/template/src/pages/deploy/components/Form.tsx
  frontend/providers/template/src/pages/develop/components/Form.tsx
  frontend/providers/template/src/pages/develop/index.tsx
  frontend/providers/template/src/types/app.ts
  frontend/providers/template/src/utils/json-yaml.ts
Labels: size/L, area/frontend

#4537 optimize init minio sh
  deploy/objectstorage/scripts/minio.sh
Labels: size/M, area/ci

#4539 Add category to template apps.
  controllers/app/api/v1/template_types.go
  controllers/app/api/v1/zz_generated.deepcopy.go
  controllers/app/config/crd/bases/app.sealos.io_instances.yaml
  controllers/app/config/crd/bases/app.sealos.io_templates.yaml
  controllers/app/deploy/manifests/deploy.yaml
Labels: size/S, area/cloud, area/api

#4540 fix: issue #4536
  pkg/apply/applydrivers/apply_drivers_default.go
  pkg/apply/processor/interface.go
Labels: size/S, area/apply, area/lifecycle-management

#4541 feat:template support categories & fix launchpad table
  frontend/desktop/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/applaunchpad/src/components/Table/index.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/cronjob/.env.template
  frontend/providers/cronjob/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/cronjob/src/pages/api/platform/getEnv.ts
  frontend/providers/cronjob/src/store/env.ts
  frontend/providers/cronjob/src/utils/json2Yaml.ts
  frontend/providers/template/.env.template
  frontend/providers/template/src/pages/api/listTemplate.ts
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/types/app.ts
  frontend/providers/template/src/utils/json-yaml.ts
  frontend/providers/template/src/utils/tools.ts
Labels: size/L, area/frontend

#4532 refactor:license optimized deployment command form
  service/license/package.json
  service/license/pnpm-lock.yaml
  service/license/src/components/Icon/AddIcon.tsx
  service/license/src/components/Icon/BookIcon.tsx
  service/license/src/components/Icon/CodeIcon.tsx
  service/license/src/components/Icon/InfoIcon.tsx
  service/license/src/components/Icon/OnlineComputerIcon.tsx
  service/license/src/components/Icon/ReduceIcon.tsx
  service/license/src/components/Icon/index.ts
  service/license/src/components/Tabs/index.tsx
  service/license/src/components/Textarea/TagTextarea.tsx
  service/license/src/hooks/useConfirm.tsx
  service/license/src/pages/cluster/components/ClusterPanel.tsx
  service/license/src/pages/cluster/components/CommandForm.tsx
  service/license/src/pages/cluster/components/ConfigForm.tsx
  service/license/src/pages/cluster/components/LicensePanel.tsx
  service/license/src/pages/cluster/components/List.tsx
  service/license/src/pages/cluster/components/ReadMe.tsx
  service/license/src/pages/cluster/components/Recharge.tsx
  service/license/src/pages/cluster/components/Tutorial.tsx
  service/license/src/pages/cluster/index.tsx
  service/license/src/pages/pricing/components/Product.tsx
  service/license/src/pages/pricing/components/ServicePackage.tsx
  service/license/src/styles/chakraTheme.ts
  service/license/src/styles/colors.ts
  service/license/src/types/cluster.ts
  service/license/tsconfig.json
Labels: size/XXL, area/cloud
