Repository labring/sealos, pull requests merged in 2024-06, with the labels that each got.

#4768 change cert duration.
  deploy/cloud/manifests/mock-cert.yaml.tmpl
Labels: size/XS, area/ci

#4771 fix: applaunchpad unhandledRejection promise
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/workorder/src/api/user.ts
  frontend/providers/workorder/src/pages/api/auth/findById.ts
  frontend/providers/workorder/src/pages/workorder/detail/components/AppBaseInfo.tsx
  frontend/providers/workorder/src/pages/workorders/components/List.tsx
Labels: size/M, area/frontend

#4775 fix pull cert-manager image in install.sh
  scripts/cloud/install.sh
Labels: size/S, area/ci

#4772 doc: add a doc on how to set up the certificate.
  docs/4.0/docs/guides/applaunchpad/images/set-cert1.png
  docs/4.0/docs/guides/applaunchpad/images/set-cert2.png
  docs/4.0/docs/guides/applaunchpad/images/set-cert3.png
  docs/4.0/docs/guides/applaunchpad/images/set-cert4.png
  docs/4.0/docs/guides/applaunchpad/set-cert.md
  docs/4.0/i18n/zh-Hans/guides/applaunchpad/images/11.png
  docs/4.0/i18n/zh-Hans/guides/applaunchpad/images/set-cert1.png
  docs/4.0/i18n/zh-Hans/guides/applaunchpad/images/set-cert2.png
  docs/4.0/i18n/zh-Hans/guides/applaunchpad/images/set-cert3.png
  docs/4.0/i18n/zh-Hans/guides/applaunchpad/images/set-cert4.png
  docs/4.0/i18n/zh-Hans/guides/applaunchpad/set-cert.md
Labels: kind/documentation, size/L, area/cloud

#4778 Update doc fireboom homepage link.
  docs/4.0/docs/examples/baas/install-fireboom.md
  docs/4.0/i18n/zh-Hans/examples/baas/install-fireboom.md
Labels: kind/documentation, size/XS, area/cloud

#4777 doc: add a doc for deploying Object Storage
  docs/4.0/docs/guides/objectstorage/install.md
  docs/4.0/docs/guides/objectstorage/uninstall.md
  docs/4.0/i18n/zh-Hans/guides/objectstorage/install.md
  docs/4.0/i18n/zh-Hans/guides/objectstorage/uninstall.md
Labels: kind/documentation, size/M, area/cloud

#4784 feat:docs add recharge event
  docs/website/docusaurus.config.js
  docs/website/src/components/SaleBanner/index.scss
  docs/website/src/components/SaleBanner/index.tsx
  docs/website/src/hooks/useWindow.ts
  docs/website/src/pages/components/Header/index.phone.scss
  docs/website/src/pages/components/Header/index.scss
  docs/website/src/pages/index.tsx
Labels: kind/documentation, size/M

#4781 feat: yearly/monthly billing for cloudserver
  frontend/providers/cloudserver/public/locales/en/common.json
  frontend/providers/cloudserver/public/locales/zh/common.json
  frontend/providers/cloudserver/src/components/Icon/icons/infoWarn.svg
  frontend/providers/cloudserver/src/components/Icon/index.tsx
  frontend/providers/cloudserver/src/hooks/useConfirm.tsx
  frontend/providers/cloudserver/src/pages/api/cloudserver/create.ts
  frontend/providers/cloudserver/src/pages/api/cloudserver/listType.ts
  frontend/providers/cloudserver/src/pages/api/cloudserver/price.ts
  frontend/providers/cloudserver/src/pages/cloudserver/create/components/ErrorModal.tsx
  frontend/providers/cloudserver/src/pages/cloudserver/create/components/Form.tsx
  frontend/providers/cloudserver/src/pages/cloudserver/create/components/Header.tsx
  frontend/providers/cloudserver/src/pages/cloudserver/create/index.tsx
  frontend/providers/cloudserver/src/types/cloudserver.ts
  frontend/providers/cloudserver/src/utils/tools.ts
Labels: size/L, area/frontend

#4785 chore: fix launchpad default config
  frontend/providers/applaunchpad/deploy/Kubefile
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend

#4782 feat: support workorder migrate
  frontend/providers/workorder/src/pages/api/v1/migrate.ts
  frontend/providers/workorder/src/services/backend/auth.ts
  frontend/providers/workorder/src/services/db/workorder.ts
Labels: size/M, area/frontend

#4786 refactor: improve the prompt when deleting an app
  frontend/packages/ui/src/components/Select/index.tsx
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/components/Icon/icons/target.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/upperRight.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/warning.svg
  frontend/providers/applaunchpad/src/components/Icon/index.tsx
  frontend/providers/applaunchpad/src/constants/account.ts
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/api/getAppByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/guide/getAccount.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/DelModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/components/Icon/icons/warning.svg
  frontend/providers/dbprovider/src/components/Icon/icons/warningInfo.svg
  frontend/providers/dbprovider/src/components/Icon/index.tsx
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/DelModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/template/src/components/StatusTag/index.tsx
  frontend/providers/template/src/constants/status.ts
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/utils/adapt.ts
Labels: size/XXL, area/frontend

#4787 i18n: update i18n for DBProvider
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Labels: size/XXL, area/frontend

#4788 revert: remove recharge event
  docs/website/docusaurus.config.js
  docs/website/src/pages/components/Header/index.phone.scss
  docs/website/src/pages/components/Header/index.scss
  docs/website/src/pages/index.tsx
Labels: kind/documentation, size/M

#4783 feat: implement desktop 5.0 UI design
  frontend/desktop/package.json
  frontend/desktop/public/icons/apps.svg
  frontend/desktop/public/images/bg-blue.svg
  frontend/desktop/public/images/default-user.svg
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/AppDock/index.module.css
  frontend/desktop/src/components/AppDock/index.tsx
  frontend/desktop/src/components/LangSelect/simple.tsx
  frontend/desktop/src/components/account/PasswordModify.tsx
  frontend/desktop/src/components/account/cost.tsx
  frontend/desktop/src/components/account/github.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/account/trigger.tsx
  frontend/desktop/src/components/desktop_content/ChakraIndicator.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
  frontend/desktop/src/components/desktop_content/assistant.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/desktop_content/monitor.tsx
  frontend/desktop/src/components/desktop_content/searchBox.tsx
  frontend/desktop/src/components/desktop_content/time.tsx
  frontend/desktop/src/components/desktop_content/warn.tsx
  frontend/desktop/src/components/floating_button/index.module.scss
  frontend/desktop/src/components/floating_button/index.tsx
  frontend/desktop/src/components/icons/index.tsx
  frontend/desktop/src/components/notification/index.module.scss
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/components/region/RegionToggle.tsx
  frontend/desktop/src/components/team/NsListItem.tsx
  frontend/desktop/src/components/team/TeamCenter.tsx
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
  frontend/desktop/src/components/user_menu/github.tsx
  frontend/desktop/src/components/user_menu/index.tsx
  frontend/desktop/src/pages/api/desktop/getBilling.ts
  frontend/desktop/src/pages/api/desktop/getResource.ts
  frontend/desktop/src/pages/api/notification/listNotification.ts
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/stores/desktopConfig.ts
  frontend/desktop/src/styles/chakraTheme.ts
  frontend/desktop/src/types/app.ts
  frontend/desktop/src/types/system.ts
  frontend/desktop/src/utils/tools.ts
  frontend/packages/ui/src/components/icons/DocsIcon.tsx
  frontend/packages/ui/src/components/icons/LogoutIcon.tsx
  frontend/packages/ui/src/components/icons/MonitorIcon.tsx
  frontend/packages/ui/src/components/icons/NotificationIcon.tsx
  frontend/packages/ui/src/components/icons/SettingIcon.tsx
  frontend/packages/ui/src/components/icons/WarnTriangleIcon.tsx
  frontend/packages/ui/src/components/index.ts
  frontend/pnpm-lock.yaml
Labels: size/XXL, area/frontend

#4789 fix: desktop notifications forbidden error
  frontend/desktop/src/components/notification/index.tsx
  frontend/desktop/src/pages/api/desktop/getInstalledApps.ts
  frontend/desktop/src/pages/api/desktop/getResource.ts
  frontend/desktop/src/pages/api/notification/read.ts
  frontend/desktop/src/types/app.ts
Labels: size/M, area/frontend

#4791 chore: remove kubeproxy.
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4798 update cvm interface
  controllers/account/controllers/account_controller.go
  controllers/go.work.sum
  controllers/pkg/database/mongo/cvm.go
  controllers/pkg/types/cvm.go
Labels: size/S, area/cloud

#4800 Replace 404 doc to official link.
  docs/blog/zh-Hans/2023/vm-sealos-create.md
Labels: kind/documentation, size/XS

#4799 fix:template frontend leaves zombie git processes
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/pages/deploy/components/Form.tsx
Labels: size/S, area/frontend

#4752 feat: add cluster type license
  .github/workflows/controllers.yml
  controllers/go.work
  controllers/go.work.sum
  controllers/license/Makefile
  controllers/license/api/v1/license_types.go
  controllers/license/api/v1/zz_generated.deepcopy.go
  controllers/license/cmd/manager/main.go
  controllers/license/config/crd/bases/license.sealos.io_licenses.yaml
  controllers/license/config/rbac/role.yaml
  controllers/license/deploy/manifests/deploy.yaml
  controllers/license/go.mod
  controllers/license/go.sum
  controllers/license/internal/controller/license_activator.go
  controllers/license/internal/controller/license_controller.go
  controllers/license/internal/controller/license_recorder.go
  controllers/license/internal/controller/license_validator.go
  controllers/license/internal/util/claims/claims.go
  controllers/license/internal/util/cluster/cluster.go
  controllers/license/internal/util/errors/errors.go
  controllers/license/internal/util/license/validate.go
  controllers/license/internal/util/license/validate_test.go
Labels: size/XL, area/cloud, area/test, area/workflow, area/api

#4804 fix:fix transfer
  frontend/desktop/src/services/backend/auth.ts
  frontend/providers/costcenter/.gitignore
  frontend/providers/costcenter/data/config.yaml.local
  frontend/providers/costcenter/src/pages/api/account/transfer.ts
  frontend/providers/kubepanel/src/pages/kubepanel/index.tsx
  frontend/providers/kubepanel/src/pages/kubepanel/kube-object/network/service/service-detail.tsx
  frontend/providers/kubepanel/src/pages/kubepanel/kube-object/network/service/service.tsx
  frontend/providers/kubepanel/src/store/k8s/service.store.ts
  frontend/providers/kubepanel/src/types/state.d.ts
Labels: size/L, area/frontend

#4806 Delete clear mongo log
  deploy/cloud/manifests/clear-mongo-log.yaml
  deploy/cloud/scripts/init.sh
Labels: size/M, area/ci

#4801 fix: license deploy
  controllers/license/config/manager/manager.yaml
  controllers/license/deploy/manifests/deploy.yaml
Labels: size/S, area/cloud

#4803 Fix: remove deprecated rlcp options
  .goreleaser.yml
Labels: size/XS, area/ci

#4812 Update install.sh
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4820 add email debt notification
  controllers/account/controllers/debt_controller.go
  controllers/go.work.sum
Labels: size/M, area/cloud

#4819 chore: add admin preset balance
  controllers/go.work.sum
  controllers/job/init/internal/util/database/user.go
  go.sum
Labels: size/L, area/cloud

#4822 add quotaEnabled and defaultQuota env
  controllers/objectstorage/controllers/objectstorageuser_controller.go
Labels: size/S, area/cloud

#4823 Update sealos mongo role
  deploy/cloud/manifests/mongodb.yaml.tmpl
Labels: size/M, area/ci
