Repository labring/sealos, pull requests merged in 2024-11, with the labels that each got.

#5186 fix(desktop):fix email binding
  frontend/desktop/src/pages/api/auth/email/bind/verify.ts
  frontend/desktop/src/pages/api/auth/email/changeBinding/newSms.ts
  frontend/desktop/src/pages/api/auth/email/changeBinding/oldSms.ts
  frontend/desktop/src/pages/api/auth/email/changeBinding/verifyNew.ts
  frontend/desktop/src/pages/api/auth/email/changeBinding/verifyOld.ts
  frontend/desktop/src/pages/api/auth/email/unbind/sms.ts
  frontend/desktop/src/pages/api/auth/email/unbind/verify.ts
  frontend/desktop/src/pages/api/auth/info.ts
  frontend/desktop/src/services/enable.ts
Labels: size/M, area/frontend

#5187 Optimize the unit display of resourcequota of used.objectstorage/size
  controllers/account/go.mod
  controllers/job/init/go.mod
  controllers/license/go.mod
  controllers/objectstorage/controllers/objectstorageuser_controller.go
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/resources/go.mod
  service/account/go.mod
Labels: size/M, area/cloud

#5190 Fix: hide language switch button in template
  frontend/providers/applaunchpad/src/constants/editApp.ts
  frontend/providers/template/src/components/layout/appmenu.tsx
Labels: size/S, area/frontend

#5191 refactor: optimize i18n English translations
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/monitor.tsx
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/constants/editApp.ts
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/cronjob/public/locales/en/common.json
Labels: size/L, area/frontend

#5193 docs:update home page footer
  docs/website/src/pages/components/Footer/index.scss
  docs/website/src/pages/components/Footer/index.tsx
  docs/website/static/img/beian.png
Labels: kind/documentation, size/S

#5195 Update controller, allow set different cpu/memory request rate.
  controllers/devbox/cmd/main.go
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/M, area/cloud

#5189 feat: add database log analysis
  frontend/package.json
  frontend/packages/ui/src/components/Menu/index.tsx
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/package.json
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/components/BaseTable/SwitchPage.tsx
  frontend/providers/dbprovider/src/components/BaseTable/baseTable.tsx
  frontend/providers/dbprovider/src/components/Icon/icons/backup.svg
  frontend/providers/dbprovider/src/components/Icon/icons/config.svg
  frontend/providers/dbprovider/src/components/Icon/icons/file.svg
  frontend/providers/dbprovider/src/components/Icon/icons/import.svg
  frontend/providers/dbprovider/src/components/Icon/icons/instance.svg
  frontend/providers/dbprovider/src/components/Icon/icons/monitor.svg
  frontend/providers/dbprovider/src/components/Icon/icons/time.svg
  frontend/providers/dbprovider/src/components/Icon/index.tsx
  frontend/providers/dbprovider/src/constants/log.ts
  frontend/providers/dbprovider/src/pages/api/getEnv.ts
  frontend/providers/dbprovider/src/pages/api/guide/getBonus.ts
  frontend/providers/dbprovider/src/pages/api/logs/get.ts
  frontend/providers/dbprovider/src/pages/api/logs/getFiles.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/ErrorLog/RunTimeLog.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/ErrorLog/index.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/services/backend/kubernetes.ts
  frontend/providers/dbprovider/src/types/log.ts
  frontend/providers/dbprovider/src/utils/kubeFileSystem.ts
  frontend/providers/dbprovider/src/utils/logParsers/LogParser.ts
  frontend/providers/dbprovider/src/utils/logParsers/MongoLogParser.ts
  frontend/providers/dbprovider/src/utils/logParsers/MysqlLogParser.ts
  frontend/providers/dbprovider/src/utils/logParsers/PostgresLogParser.ts
  frontend/providers/dbprovider/src/utils/logParsers/RedisLogParser.ts
Labels: size/XXL, area/frontend

#5197 feat: add two types in workorder
  frontend/desktop/src/api/platform.ts
  frontend/providers/workorder/src/constants/workorder.ts
  frontend/providers/workorder/src/types/workorder.ts
Labels: size/S, area/frontend

#5199 docs:update google script
  docs/website/docusaurus.config.js
Labels: kind/documentation, size/S

#5194 feat: delete password, add authorized_key.
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/M, area/cloud

#5203 fix: change ssh key mode, mount key by subpath.
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/S, area/cloud

#5206 feat(desktop): Add Real Name Authentication User Rewards
  frontend/desktop/prisma/global/migrations/20241113062124_change_account_transaction_structure/migration.sql
  frontend/desktop/prisma/global/schema.prisma
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/account/RealNameModal.tsx
  frontend/desktop/src/pages/api/account/faceIdRealNameAuthCallback.ts
  frontend/desktop/src/pages/api/platform/getCommonConfig.ts
  frontend/desktop/src/types/system.ts
Labels: size/L, area/frontend

#5196 feat: specify the host IP as the k8s internal IP
  pkg/runtime/kubernetes/kubeadm.go
Labels: size/S, area/lifecycle-management, area/runtime

#5208 fix(costcenter):low version can use
  frontend/providers/costcenter/src/components/RechargeModal.tsx
  frontend/providers/costcenter/src/components/billing/BillingLineChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/barChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/lineChart.tsx
  frontend/providers/costcenter/src/pages/api/billing/costs.ts
  frontend/providers/costcenter/src/pages/valuation/index.tsx
Labels: size/M, area/frontend

#5204 feat:support template i18n
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/template/src/api/platform.ts
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/pages/api/listTemplate.ts
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/deploy/components/ReadMe.tsx
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/store/config.ts
  frontend/providers/template/src/types/app.ts
  frontend/providers/template/src/utils/json-yaml.ts
Labels: size/L, area/frontend

#5207 Update app cr define.
  controllers/app/api/v1/template_types.go
  controllers/app/api/v1/zz_generated.deepcopy.go
  controllers/app/config/crd/bases/app.sealos.io_instances.yaml
  controllers/app/config/crd/bases/app.sealos.io_templates.yaml
Labels: size/M, area/cloud, area/api

#5214 feat: optimize user task and support customer service config
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/desktop_content/serviceButton.tsx
  frontend/desktop/src/components/task/useDriver.tsx
  frontend/desktop/src/pages/WorkspaceInvite.tsx
  frontend/desktop/src/stores/desktopConfig.ts
  frontend/desktop/src/types/system.ts
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/hooks/useDetailDriver.tsx
  frontend/providers/applaunchpad/src/hooks/useDriver.tsx
  frontend/providers/applaunchpad/src/pages/api/guide/getTasks.ts
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/hooks/useDetailDriver.tsx
  frontend/providers/dbprovider/src/hooks/useDriver.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/template/src/utils/json-yaml.ts
Labels: size/XL, area/frontend

#5215 filter repeat alarm
  service/exceptionmonitor/helper/monitor/database_monitor.go
Labels: size/M, area/cloud

#5218 Update README.md
  README.md
Labels: size/M

#5219 fix: aiproxy sql constraint conv to hook
  service/aiproxy/model/channel.go
  service/aiproxy/model/group.go
  service/aiproxy/model/token.go
Labels: size/S, area/cloud

#5202 Feat: llm token account service
  controllers/account/api/v1/account_types.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/cockroach/accountv2_test.go
  controllers/pkg/database/interface.go
  controllers/pkg/resources/resources.go
  controllers/pkg/types/dbquery.go
  service/account/Makefile
  service/account/api/admin.go
  service/account/dao/active.go
  service/account/dao/init.go
  service/account/dao/interface.go
  service/account/dao/interface_test.go
  service/account/deploy/manifests/deploy.yaml.tmpl
  service/account/helper/common.go
  service/account/helper/jwt.go
  service/account/helper/metrics.go
  service/account/helper/request.go
  service/account/helper/task.go
  service/account/router/router.go
  service/go.work.sum
Labels: size/XXL, area/cloud, area/test, area/api

#5223 update object storage role
  controllers/objectstorage/config/rbac/role.yaml
  controllers/objectstorage/controllers/objectstorageuser_controller.go
Labels: size/L, area/cloud

#5224 fix: aiproxy group api param id
  service/aiproxy/controller/group.go
Labels: size/M, area/cloud

#5225 update objectstorage cloud image
  deploy/objectstorage/README.md
Labels: size/XS, area/ci

#5221 feat: support configurable currency symbol
  frontend/desktop/src/components/desktop_content/searchBox.tsx
  frontend/packages/ui/src/components/icons/CurrencySymbol.tsx
  frontend/providers/applaunchpad/src/hooks/useDetailDriver.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/PriceBox.tsx
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/dbprovider/src/components/PriceBox/index.tsx
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/hooks/useDetailDriver.tsx
  frontend/providers/dbprovider/src/hooks/useDriver.tsx
  frontend/providers/dbprovider/src/pages/api/getEnv.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/index.tsx
  frontend/providers/dbprovider/src/store/env.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/types/migrate.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/devbox/app/api/getEnv/route.ts
  frontend/providers/devbox/components/PriceBox.tsx
  frontend/providers/devbox/stores/env.ts
  frontend/providers/devbox/types/static.d.ts
  frontend/providers/template/src/components/Icon/icons/sealosCoin.svg
  frontend/providers/template/src/components/Icon/index.tsx
  frontend/providers/template/src/hooks/useDetailDriver.tsx
  frontend/providers/template/src/pages/api/resource/delApplaunchpad.ts
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/pages/deploy/components/PriceBox.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/types/index.ts
  frontend/providers/template/src/utils/tools.ts
Labels: size/L, area/frontend

#5226 feat: qwen vl image
  service/aiproxy/relay/adaptor/ali/adaptor.go
  service/aiproxy/relay/adaptor/ali/main.go
  service/aiproxy/relay/adaptor/ali/model.go
Labels: size/L, area/cloud

#5227 fix: aiproxy graceful shutdown
  service/aiproxy/common/balance/sealos.go
  service/aiproxy/main.go
  service/aiproxy/relay/controller/audio.go
  service/aiproxy/relay/controller/helper.go
  service/aiproxy/relay/controller/image.go
  service/aiproxy/relay/controller/text.go
Labels: size/M, area/cloud

#5228 fix: aiproxy ali stream usage
  service/aiproxy/relay/adaptor/ali/main.go
Labels: size/XS, area/cloud

#5229 feat: aiproxy probe
  service/aiproxy/controller/misc.go
  service/aiproxy/controller/model.go
  service/aiproxy/deploy/manifests/deploy.yaml.tmpl
  service/aiproxy/relay/adaptor/ali/main.go
  service/aiproxy/router/api.go
Labels: size/M, area/cloud

#5220 fix: use container status to set commit status.
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/S, area/cloud

#5233 docs: add ai-proxy.md
  docs/5.0/docs/user-guide/ai-proxy/ai-proxy.md
  docs/5.0/docs/user-guide/ai-proxy/images/ai-proxy-billing.png
  docs/5.0/docs/user-guide/ai-proxy/images/ai-proxy-key-management.png
  docs/5.0/i18n/zh-Hans/user-guide/ai-proxy/ai-proxy.md
  docs/5.0/i18n/zh-Hans/user-guide/ai-proxy/images/ai-proxy-billing.png
  docs/5.0/i18n/zh-Hans/user-guide/ai-proxy/images/ai-proxy-key-management.png
  docs/5.0/sidebar.json
Labels: kind/documentation, size/L

#5232 feat: get channel default models and modelmapping
  service/aiproxy/controller/model.go
  service/aiproxy/router/api.go
Labels: size/M, area/cloud

#5239 monitor server check auth with `get` verb
  service/pkg/auth/authenticate.go
Labels: size/XS, area/cloud

#5240 feat: aiproxy deploy db
  service/aiproxy/README.md
  service/aiproxy/deploy/Kubefile
  service/aiproxy/deploy/manifests/pgsql-log.yaml
  service/aiproxy/deploy/manifests/pgsql.yaml
  service/aiproxy/deploy/manifests/redis.yaml
  service/aiproxy/deploy/scripts/init.sh
Labels: size/L, area/cloud

#5242 feat: optimize database pause and backup handling
  frontend/providers/applaunchpad/src/api/app.ts
  frontend/providers/applaunchpad/src/pages/api/getAppPodsByAppName.ts
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/backup.ts
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/pages/api/createDB.ts
  frontend/providers/dbprovider/src/pages/api/getStatefulSetByName.ts
  frontend/providers/dbprovider/src/pages/api/pauseDBByName.ts
  frontend/providers/dbprovider/src/pages/api/pod/getPodsByDBName.ts
  frontend/providers/dbprovider/src/pages/api/startDBByName.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/L, area/frontend

#5241 feat: aiproxy deploy support one db
  service/aiproxy/README.md
  service/aiproxy/deploy/scripts/init.sh
Labels: size/S, area/cloud

#5245 feat: update deploy modal
  frontend/providers/devbox/api/devbox.ts
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/MainBody.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Version.tsx
  frontend/providers/devbox/app/api/getAppsByDevboxId/route.ts
  frontend/providers/devbox/app/api/v1/getDBSecretList/route.ts
  frontend/providers/devbox/components/Icon/icons/rocket.svg
  frontend/providers/devbox/components/Icon/index.tsx
  frontend/providers/devbox/components/MyTable.tsx
  frontend/providers/devbox/components/modals/AppSelectModal.tsx
  frontend/providers/devbox/constants/devbox.ts
  frontend/providers/devbox/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/types/app.d.ts
  frontend/providers/devbox/utils/adapt.ts
Labels: size/L, area/frontend

#5246 feat: to add simple backup for vscode plugin
  extensions/ide/vscode/devbox/package-lock.json
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/src/commands/remoteConnector.ts
Labels: size/M

#5248 Docs: update blog url
  docs/website/docusaurus.config.js
Labels: kind/documentation, size/S

#5243 feat:optimize launchpad unify redirect handling
  frontend/desktop/next-i18next.config.js
  frontend/providers/applaunchpad/src/constants/editApp.ts
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/pages/redirect.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/L, area/frontend
