Repository labring/sealos, pull requests merged in 2024-12, with the labels that each got.

#5247 fix: a bug of creating devbox form not show runtimeVersion and network
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
Labels: size/XS, area/frontend

#5251 docs: change blog url
  docs/website/src/pages/components/Header/index.tsx
  docs/website/static/tencent9825051126872297210.txt
Labels: kind/documentation, size/XS

#5255 fix: remote-ssh remove config code
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/src/commands/remoteConnector.ts
  extensions/ide/vscode/devbox/src/utils/remoteSSHConfig.ts
Labels: size/M

#5254 fix: 文档错别字错误
  docs/5.0/i18n/zh-Hans/developer-guide/system-design/system-application.md
Labels: kind/documentation, size/XS

#5257 chore: devbox plugin version info adjust
  extensions/ide/vscode/devbox/CHANGELOG.md
  extensions/ide/vscode/devbox/package.json
Labels: size/S

#5212 ci: update `upload-artifact` and `download-artifact` actions to v4
  .github/workflows/ci-patch-image.yml
  .github/workflows/cloud-release.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/e2e_k3s_multi_node.yml
  .github/workflows/e2e_k8s_multi_node.yml
  .github/workflows/e2e_test_core.yml
  .github/workflows/e2e_test_core_k3s.yml
  .github/workflows/e2e_test_image_cri_shim.yml
  .github/workflows/frontend.yml
  .github/workflows/import-patch-image.yml
  .github/workflows/import-save-sealos.yml
  .github/workflows/objectstorage.yaml
  .github/workflows/services.yml
Labels: size/M, area/workflow

#5258 fix: actions upload artifactv4 name
  .github/workflows/ci-patch-image.yml
  .github/workflows/cloud-release.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/import-save-sealos.yml
  .github/workflows/objectstorage.yaml
  .github/workflows/services.yml
Labels: size/M, area/workflow

#5259 fix: devboxList not found “devbox_config” cause plugin activating error
  extensions/ide/vscode/devbox/CHANGELOG.md
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/src/commands/remoteConnector.ts
  extensions/ide/vscode/devbox/src/providers/DevboxListViewProvider.ts
  extensions/ide/vscode/devbox/src/utils/remoteSSHConfig.ts
Labels: size/M

#5262 fix: plugin i18n bug
  extensions/ide/vscode/devbox/l10n/bundle.l10n.zh-CN.json
  extensions/ide/vscode/devbox/src/utils/handleUri.ts
Labels: size/S

#5271 update sealos mongo version to 6.0
  scripts/cloud/install.sh
Labels: size/S, area/ci

#5268 perf: devbox ide button style and perf
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/DevboxList.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Header.tsx
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/components/Icon/icons/cursor.svg
  frontend/providers/devbox/components/Icon/icons/vscode.svg
  frontend/providers/devbox/components/Icon/icons/vscodeInsiders.svg
  frontend/providers/devbox/components/modals/DelModal.tsx
  frontend/providers/devbox/stores/global.ts
  frontend/providers/devbox/stores/ide.ts
Labels: size/L, area/frontend

#5272 fix: IDE button not show bug
  frontend/providers/devbox/stores/ide.ts
Labels: size/XS, area/frontend

#5267 Add monitor info
  service/exceptionmonitor/api/api.go
  service/exceptionmonitor/dao/init.go
  service/exceptionmonitor/go.mod
  service/exceptionmonitor/go.sum
  service/exceptionmonitor/helper/monitor/cockroachdb_monitor.go
  service/exceptionmonitor/helper/monitor/database_backup_monitor.go
  service/exceptionmonitor/helper/monitor/database_monitor.go
  service/exceptionmonitor/helper/monitor/database_performance_monitor.go
  service/exceptionmonitor/helper/monitor/performance.go
  service/exceptionmonitor/helper/monitor/quota_monitor.go
  service/exceptionmonitor/helper/notification/desktop.go
  service/exceptionmonitor/helper/notification/feishu.go
  service/exceptionmonitor/helper/notification/sms.go
  service/exceptionmonitor/main.go
  service/go.work.sum
Labels: size/XL, area/cloud

#5265 Update Quick installation of Java Apps.md（修复一个微小的 bug）
  docs/5.0/i18n/zh-Hans/quick-start/examples/programming-languages/Quick installation of Java Apps.md
Labels: kind/documentation, size/XS

#5260 support custom limitrange
  controllers/account/controllers/account_controller.go
  controllers/pkg/resources/resources.go
Labels: size/M, area/cloud

#5252 feat: support backup selection during database creation
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/dbprovider/.vscode/settings.json
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/backup.ts
  frontend/providers/dbprovider/src/components/Icon/icons/backupSettings.svg
  frontend/providers/dbprovider/src/components/Icon/index.tsx
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/constants/theme.ts
  frontend/providers/dbprovider/src/pages/api/backup/policy.ts
  frontend/providers/dbprovider/src/pages/api/backup/updatePolicy.ts
  frontend/providers/dbprovider/src/pages/api/createDB.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/index.tsx
  frontend/providers/dbprovider/src/types/backup.d.ts
  frontend/providers/dbprovider/src/types/cluster.d.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/types/migrate.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/XL, area/frontend

#5276 fix: devbox plugin refresh performance bug
  extensions/ide/vscode/devbox/l10n/bundle.l10n.zh-CN.json
  extensions/ide/vscode/devbox/src/providers/DevboxListViewProvider.ts
Labels: size/M

#5277 feat: add GPU horizontal pod autoscaling for launchpad
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/L, area/frontend

#5264 fix: install remote-ssh manually to unify windsurf and cursor
  extensions/ide/vscode/devbox/CHANGELOG.md
  extensions/ide/vscode/devbox/l10n/bundle.l10n.zh-CN.json
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/src/commands/remoteConnector.ts
Labels: size/M

#5279 feat: desktop add two beginner tasks
  frontend/desktop/prisma/global/migrations/20241210040952_update_user_tasktype/migration.sql
  frontend/desktop/prisma/global/schema.prisma
  frontend/desktop/public/images/customer-service-qr.png
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/account/RealNameModal.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/desktop_content/serviceButton.tsx
  frontend/desktop/src/components/task/taskModal.tsx
  frontend/desktop/src/components/task/useDriver.tsx
  frontend/desktop/src/pages/api/account/checkTask.ts
  frontend/desktop/src/pages/api/account/faceIdRealNameAuthCallback.ts
  frontend/desktop/src/pages/api/account/getTasks.ts
  frontend/desktop/src/services/backend/globalAuth.ts
  frontend/desktop/src/types/task.ts
Labels: size/XL, area/frontend

#5249 feat: cronjob history limit from env
  frontend/providers/cronjob/deploy/Kubefile
  frontend/providers/cronjob/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/cronjob/src/pages/api/platform/getEnv.ts
  frontend/providers/cronjob/src/store/env.ts
  frontend/providers/cronjob/src/utils/json2Yaml.ts
Labels: size/S, area/frontend

#5282 fix: reward for real name authentication
  frontend/desktop/src/pages/api/account/faceIdRealNameAuthCallback.ts
Labels: size/XS, area/frontend

#5284 fix: version refresh bug
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/DevboxList.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/BasicInfo.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Version.tsx
  frontend/providers/devbox/components/modals/DelModal.tsx
Labels: size/M, area/frontend

#5285 feat: doubao tts
  service/aiproxy/main.go
  service/aiproxy/relay/adaptor/doubaoaudio/constants.go
  service/aiproxy/relay/adaptor/doubaoaudio/main.go
  service/aiproxy/relay/adaptor/doubaoaudio/tts.go
  service/aiproxy/relay/channeltype/define.go
Labels: size/L, area/cloud

#5286 feat:support ratio 0
  frontend/providers/costcenter/src/components/CurrencySymbol.tsx
  frontend/providers/costcenter/src/components/RechargeModal.tsx
Labels: size/S, area/frontend

#5287 feat: aiproxy baidu ernie v2
  service/aiproxy/relay/adaptor/baidu/adaptor.go
  service/aiproxy/relay/adaptor/baidu/constants.go
  service/aiproxy/relay/adaptor/baidu/token.go
  service/aiproxy/relay/adaptor/baiduv2/adaptor.go
  service/aiproxy/relay/adaptor/baiduv2/constants.go
  service/aiproxy/relay/adaptor/baiduv2/token.go
  service/aiproxy/relay/channeltype/define.go
Labels: size/XL, area/cloud

#5288 feat: aiproxy ali opensource models
  service/aiproxy/controller/channel-test.go
  service/aiproxy/model/cache.go
  service/aiproxy/relay/adaptor/ali/adaptor.go
  service/aiproxy/relay/adaptor/ali/constants.go
Labels: size/XL, area/cloud

#5278 fix monitor info
  service/exceptionmonitor/api/api.go
  service/exceptionmonitor/helper/monitor/database_monitor.go
  service/exceptionmonitor/helper/monitor/database_performance_monitor.go
  service/exceptionmonitor/helper/monitor/quota_monitor.go
  service/exceptionmonitor/helper/notification/feishu.go
Labels: size/L, area/cloud

#5292 fix: update clusterrole
  controllers/objectstorage/deploy/manifests/deploy.yaml.tmpl
Labels: size/S, area/cloud

#5294 fix: update clusterrole
  deploy/objectstorage/README.md
Labels: size/XS, area/ci

#5295 fix: update cloud objectstorage workflow
  .github/workflows/objectstorage.yaml
Labels: size/XS, area/workflow

#5289 doc(devbox): add fqa in devbox doc
  docs/5.0/docs/user-guide/devbox/faq.md
  docs/5.0/i18n/zh-Hans/user-guide/devbox/faq.md
Labels: kind/documentation, size/L

#5302 fix: missing dbtype in database
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/components/BaseTable/baseTable.tsx
  frontend/providers/dbprovider/src/components/DBStatusTag/index.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/template/.env.template
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/pages/_document.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/index.tsx
Labels: size/M, area/frontend

#5275 feat: add devbox service
  .github/workflows/services.yml
  service/devbox/.gitignore
  service/devbox/Dockerfile
  service/devbox/Makefile
  service/devbox/api/api.go
  service/devbox/deploy/Kubefile
  service/devbox/deploy/manifests/deploy.yaml.tmpl
  service/devbox/deploy/manifests/devbox-config.yaml.tmpl
  service/devbox/deploy/scripts/init.sh
  service/devbox/go.mod
  service/devbox/go.sum
  service/devbox/main.go
  service/devbox/middleware/auth.go
  service/devbox/middleware/auth_test.go
  service/devbox/middleware/cors.go
  service/devbox/pkg/registry/tag.go
  service/devbox/pkg/registry/tag_test.go
  service/go.work
  service/go.work.sum
Labels: size/XL, area/cloud, area/test, area/workflow

#5304 fix(costcenter):price icon
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/CurrencySymbol.tsx
  frontend/providers/costcenter/src/components/RechargeModal.tsx
  frontend/providers/costcenter/src/components/outerLink.tsx
  frontend/providers/costcenter/src/styles/chakraTheme.ts
Labels: size/L, area/frontend

#5305 fix: some users everyone authority bug
  extensions/ide/vscode/devbox/CHANGELOG.md
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/src/utils/file.ts
Labels: size/S

#5301 fix: devbox plugin gzg http bug
  extensions/ide/vscode/devbox/CHANGELOG.md
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/src/extension.ts
  extensions/ide/vscode/devbox/src/providers/DBViewProvider.ts
Labels: size/S

#5309 fix(costcneter):fix gpu price alias
  frontend/providers/costcenter/src/components/table/PriceTable.tsx
  frontend/providers/costcenter/src/components/valuation/PriceTablePanel.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/types/valuation.ts
Labels: size/S, area/frontend

#5310 fix: devbox update samename bug
  frontend/providers/devbox/components/modals/AppSelectModal.tsx
Labels: size/XS, area/frontend

#5311 Docs: add vercel.json
  .github/workflows/deploy-docs-preview.yml
  .github/workflows/deploy-docs-site.yml
  docs/website/vercel.json
Labels: kind/documentation, size/M, area/workflow

#5312 fix: devbox deploy bug version2
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Version.tsx
  frontend/providers/devbox/components/modals/AppSelectModal.tsx
Labels: size/L, area/frontend

#5313 docs(website): Update announcement bar with dynamic content
  docs/website/docusaurus.config.js
  docs/website/package-lock.json
  docs/website/yarn.lock
Labels: kind/documentation, size/XL

#5314 refactor(docs): simplify announcement bar configuration
  docs/website/docusaurus.config.js
Labels: kind/documentation, size/M

#5316 fix(frontend):fix desktop & gpu
  frontend/desktop/src/components/account/AccountCenter/index.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/pages/api/platform/getAuthConfig.ts
  frontend/desktop/src/types/system.ts
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/RechargeModal.tsx
  frontend/providers/costcenter/src/components/billing/AmountDisplay.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/pieChart.tsx
  frontend/providers/costcenter/src/components/cost_overview/cost.tsx
  frontend/providers/costcenter/src/components/table/billingTable.tsx
  frontend/providers/costcenter/src/components/valuation/CalculatorPanel/index.tsx
  frontend/providers/costcenter/src/components/valuation/PriceTablePanel.tsx
  frontend/providers/costcenter/src/components/valuation/quota.tsx
  frontend/providers/costcenter/src/constants/billing.ts
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/pages/resource_analysis/index.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/types/billing.ts
Labels: size/L, area/frontend

#5315 fix: db miss dbtype & update operation log
  frontend/providers/applaunchpad/src/pages/app/detail/components/AppBaseInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/components/Icon/icons/restore.svg
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/api/createDB.ts
  frontend/providers/dbprovider/src/pages/api/getDBByName.ts
  frontend/providers/dbprovider/src/pages/api/opsrequest/operationlog.ts
  frontend/providers/dbprovider/src/pages/api/pauseDBByName.ts
  frontend/providers/dbprovider/src/pages/api/startDBByName.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/OperationLog.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/redirect.tsx
  frontend/providers/dbprovider/src/types/cluster.d.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/dbprovider/src/utils/tools.ts
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/pages/instance/components/dbList.tsx
  frontend/providers/workorder/.env.template
  frontend/providers/workorder/public/locales/en/common.json
  frontend/providers/workorder/public/locales/zh/common.json
  frontend/providers/workorder/src/components/Icon/icons/undo.svg
  frontend/providers/workorder/src/components/Icon/index.tsx
  frontend/providers/workorder/src/pages/api/workorder/getByID.ts
  frontend/providers/workorder/src/pages/workorder/detail/components/AppMainInfo.tsx
  frontend/providers/workorder/src/types/workorder.ts
Labels: size/XL, area/frontend

#5318 payment support custom describe
  controllers/account/controllers/payment_controller.go
Labels: size/XS, area/cloud
