Repository labring/sealos, pull requests merged in 2024-07, with the labels that each got.

#4813 Fix: switch user register
  docs/4.0/docs/self-hosting/sealos/QA.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/QA.md
Labels: kind/documentation, size/S, area/cloud

#4828 opt: costcenter get quota default use current namespace
  frontend/providers/costcenter/src/pages/api/getQuota.ts
Labels: size/XS, area/frontend

#4792 fix: db backup label encodeToHex
  frontend/packages/ui/src/components/Message/index.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/dbprovider/deploy/scripts/update-backup-label.sh
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/pages/api/opsrequest/get.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/RestoreModal.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/types/backup.d.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/dbprovider/src/utils/tools.ts
  frontend/providers/dbprovider/src/utils/user.ts
Labels: size/XXL, area/frontend

#4821 Feat: impl cronjob envs
  frontend/providers/cronjob/public/locales/en/common.json
  frontend/providers/cronjob/public/locales/zh/common.json
  frontend/providers/cronjob/src/components/Icon/icons/edit.svg
  frontend/providers/cronjob/src/components/Icon/index.tsx
  frontend/providers/cronjob/src/pages/job/edit/components/EditEnvs.tsx
  frontend/providers/cronjob/src/pages/job/edit/components/Form.tsx
Labels: size/L, area/frontend

#4815 fix: scaledown processor checker error
  pkg/apply/processor/create.go
  pkg/apply/processor/scale.go
  pkg/checker/host_checker.go
Labels: size/M, area/apply, area/check, area/lifecycle-management

#4835 doc: move objectstorage install doc
  docs/4.0/docs/guides/objectstorage/install.md
  docs/4.0/docs/self-hosting/sealos/QA.md
  docs/4.0/docs/self-hosting/sealos/install-object-storage.md
  docs/4.0/i18n/zh-Hans/guides/objectstorage/install.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/QA.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/install-object-storage.md
Labels: kind/documentation, size/L, area/cloud

#4827 feat: optimize resource monitoring logic, performance and fix nil pointer issue
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/main.go
Labels: size/L, area/cloud

#4838 Add default install desktop apps.
  deploy/cloud/manifests/default_apps.yaml
  deploy/cloud/scripts/init.sh
Labels: size/M, area/ci

#4844 Update cockroach version
  scripts/cloud/build-offline-tar.sh
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4833 feat: impl cronjob show envs
  frontend/pnpm-lock.yaml
  frontend/providers/cronjob/next.config.js
  frontend/providers/cronjob/package.json
  frontend/providers/cronjob/src/pages/job/edit/components/Form.tsx
  frontend/providers/cronjob/src/pages/job/edit/components/index.module.scss
  frontend/providers/cronjob/src/styles/global.scss
  frontend/providers/cronjob/src/styles/reset.scss
Labels: size/M, area/frontend

#4845 feat:license app adds system node information
  frontend/pnpm-lock.yaml
  frontend/providers/license/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/license/next.config.js
  frontend/providers/license/package.json
  frontend/providers/license/public/locales/en/common.json
  frontend/providers/license/public/locales/zh/common.json
  frontend/providers/license/src/api/license.ts
  frontend/providers/license/src/api/platform.ts
  frontend/providers/license/src/components/FileSelect/index.tsx
  frontend/providers/license/src/constants/theme.ts
  frontend/providers/license/src/pages/api/license/getLicense.ts
  frontend/providers/license/src/pages/api/license/getLicense.tsx
  frontend/providers/license/src/pages/api/platform/getClusterId.ts
  frontend/providers/license/src/pages/index.tsx
  frontend/providers/license/src/services/backend/kubernetes.ts
  frontend/providers/license/src/types/license.d.ts
  frontend/providers/license/src/utils/crypto.ts
Labels: size/XL, area/frontend

#4843 feat: app cost svc
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/pkg/types/dbquery.go
  controllers/pkg/types/global.go
  service/account/api/api.go
  service/account/common/account.go
  service/account/dao/interface.go
  service/account/dao/interface_test.go
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/helper/common.go
  service/account/helper/request.go
  service/account/router/router.go
  service/pkg/auth/authenticate.go
Labels: size/XXL, area/cloud, area/test

#4847 feat: improve animation smoothness for expanding and collapsing sections
  docs/website/src/pages/self-hosting/advantage/index.tsx
Labels: kind/documentation, size/S

#4842 fix: sealos 5 cannot upgrade k8s from v1.27.x to v1.28.y
  pkg/runtime/kubernetes/kubeadm.go
  pkg/runtime/kubernetes/master.go
  pkg/runtime/kubernetes/upgrade.go
Labels: size/M, area/lifecycle-management, area/runtime

#4851 Update i18n for applaunchpad
  frontend/providers/applaunchpad/public/locales/en/common.json
Labels: size/XS, area/frontend

#4854 docs: add blog "How To Deploy and Configure Meilisearch using Docker"
  docs/blog/en/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/feature.jpg
  docs/blog/en/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/meilisearch-on-sealos-desktop-2.jpg
  docs/blog/en/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/meilisearch-on-sealos-desktop.jpg
  docs/blog/en/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/meilisearch-private-address-on-sealos.jpg
  docs/blog/en/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/open-meilisearch-terminal-on-sealos.jpg
  docs/blog/en/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/star-history-of-meilisearch.png
  docs/blog/en/2024/how-to-deploy-and-configure-meilisearch-using-docker/index.md
  docs/blog/zh-Hans/2023/k8s-multi-tenancy.md
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/access-meilisearch-on-sealos.jpg
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/change-meilisearch-mem-on-sealos.jpg
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/deploy-meilisearch-on-sealos.png
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/details-of-meilisearch-on-sealos.png
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/feature.jpg
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/flarum-admin-panel.jpg
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/flarum-integrate-meilisearch.jpg
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/import-flarum-index-to-meilisearch.png
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/meilisearch-on-sealos-desktop-2.jpg
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/meilisearch-on-sealos-desktop.jpg
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/meilisearch-private-address-on-sealos.jpg
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/open-meilisearch-terminal-on-sealos.jpg
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/public-address-of-meilisearch-on-sealos.png
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/scout-extension-on-flarum.jpg
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/star-history-of-meilisearch.png
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/images/update-meilisearch-on-sealos.png
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/index.md
Labels: kind/documentation, size/XL

#4852 feat(frontend/cloudserver): Add a quantity option when creating the v…
  frontend/providers/cloudserver/public/locales/en/common.json
  frontend/providers/cloudserver/public/locales/zh/common.json
  frontend/providers/cloudserver/src/pages/api/cloudserver/create.ts
  frontend/providers/cloudserver/src/pages/api/cloudserver/price.ts
  frontend/providers/cloudserver/src/pages/cloudserver/create/components/Form.tsx
  frontend/providers/cloudserver/src/pages/cloudserver/create/index.tsx
  frontend/providers/cloudserver/src/types/cloudserver.ts
  frontend/providers/cloudserver/src/utils/tools.ts
Labels: size/M, area/frontend

#4858 docs: update landing page
  docs/4.0/code.json
  docs/blog/zh-Hans/2024/how-to-deploy-and-configure-meilisearch-using-docker/index.md
  docs/website/src/pages/components/Community/index.tsx
  docs/website/src/pages/components/Header/index.tsx
  docs/website/src/pages/components/Introduce/index.tsx
  docs/website/src/pages/components/UserBy/index.tsx
  docs/website/src/pages/components/VideoPlayer/index.tsx
  docs/website/static/illustrations/video.jpg
  docs/website/static/illustrations/video.png
Labels: kind/documentation, size/M

#4859 fix: default app
  deploy/cloud/scripts/init.sh
Labels: size/XS, area/ci

#4862 chore: fix license check.
  controllers/license/internal/controller/license_controller.go
  controllers/license/internal/util/license/validate.go
Labels: size/S, area/cloud

#4863 chore: update environment configurations for frontend
  frontend/desktop/data/config.yaml
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/types/system.ts
  frontend/providers/costcenter/public/default-user.svg
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/dbprovider/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/dbprovider/src/pages/api/getEnv.ts
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/store/env.ts
  frontend/providers/template/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/template/src/pages/_app.tsx
  frontend/providers/template/src/pages/api/getTemplateSource.ts
  frontend/providers/template/src/pages/api/platform/getEnv.ts
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/store/config.ts
  frontend/providers/template/src/types/index.ts
Labels: size/L, area/frontend

#4864 feat: desktop support configurable favicon
  frontend/desktop/src/pages/_document.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
Labels: size/S, area/frontend

#4846 feat(docs): update private pricing on website
  docs/blog/en/2023/to-run-or-not-to-run-a-database-on-kubernetes/index.md
  docs/blog/en/2024/how-to-deploy-and-configure-meilisearch-using-docker/index.md
  docs/blog/zh-Hans/2023/to-run-or-not-to-run-a-database-on-kubernetes/index.md
  docs/website/src/constants/platform.ts
  docs/website/src/pages/self-hosting/index.scss
  docs/website/src/pages/self-hosting/plan/index.tsx
  docs/website/src/pages/self-hosting/product/index.tsx
  docs/website/src/utils/tools.ts
  docs/website/static/price/cpu.svg
  docs/website/static/price/memory.svg
Labels: kind/documentation, size/XL

#4857 fix: add nodes after upgrading, the version installed on the newly ad…
  pkg/apply/processor/scale.go
Labels: size/S, area/apply, area/lifecycle-management

#4850 fix: upgrade from k8s v1.26.x to v1.27.y, kubelet restart failed
  pkg/runtime/kubernetes/upgrade.go
Labels: size/S, area/lifecycle-management, area/runtime

#4868 docs: add README for license-system-frontend
  service/license/README.md
  service/license/src/components/signin/auth/useAuthList.tsx
  service/license/src/components/signin/auth/useCustomError.tsx
  service/license/src/components/signin/auth/useLanguage.tsx
  service/license/src/components/signin/auth/usePassword.tsx
  service/license/src/components/signin/auth/useProtocol.tsx
  service/license/src/components/signin/auth/useSms.tsx
  service/license/src/components/signin/background.tsx
  service/license/src/components/signin/index.tsx
  service/license/src/pages/signin.tsx
Labels: size/M, area/cloud

#4870 refactor: rename Signin directory to Login and fix file name case issues
  service/license/src/components/login/auth/useAuthList.tsx
  service/license/src/components/login/auth/useCustomError.tsx
  service/license/src/components/login/auth/useLanguage.tsx
  service/license/src/components/login/auth/usePassword.tsx
  service/license/src/components/login/auth/useProtocol.tsx
  service/license/src/components/login/auth/useSms.tsx
  service/license/src/components/login/background.tsx
  service/license/src/components/login/index.tsx
  service/license/src/pages/signin.tsx
Labels: size/S, area/cloud

#4873 fix: ensure license issuance fields are of number type
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/constants/account.ts
  frontend/desktop/src/types/crd.ts
  service/license/src/services/backend/db/license.ts
Labels: size/M, area/cloud, area/frontend

#4837 fix:fix transfer billing
  frontend/providers/costcenter/public/locales/en/applist.json
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/applist.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/billing/AppMenu.tsx
  frontend/providers/costcenter/src/components/billing/SwitchPage.tsx
  frontend/providers/costcenter/src/components/billing/TransferTabPnel.tsx
  frontend/providers/costcenter/src/components/billing/TypeMenu.tsx
  frontend/providers/costcenter/src/components/billing/billingTable.tsx
  frontend/providers/costcenter/src/constants/billing.ts
  frontend/providers/costcenter/src/layout/index.tsx
  frontend/providers/costcenter/src/pages/api/account/transfer.ts
  frontend/providers/costcenter/src/pages/api/billing/index.ts
  frontend/providers/costcenter/src/pages/api/billing/transfer.ts
  frontend/providers/costcenter/src/pages/billing/index.tsx
  frontend/providers/costcenter/src/types/billing.ts
Labels: size/L, area/frontend

#4865 fix: db resource quota i18n
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/components/QuotaBox/index.tsx
Labels: size/XS, area/frontend

#4875 docs: update header for landing page
  docs/4.0/code.json
  docs/website/src/pages/components/Header/index.tsx
Labels: kind/documentation, size/M

#4879 docs: remove component showing product users
  docs/website/src/pages/index.tsx
Labels: kind/documentation, size/XS

#4880 fix: the certificate validity period changed from 99 years to 1 year after the cluster is upgraded
  pkg/runtime/kubernetes/upgrade.go
Labels: size/XS, area/lifecycle-management, area/runtime

#4882 release: v5.0.0 release, update sealos version in install.sh.
  scripts/cloud/build-offline-tar.sh
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4886 chore: add gh bot allowOps.
  .github/gh-bot.yml
Labels: size/XS, area/workflow

#4888 feat: Enhance cron schedule, Markdown display
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/src/constants/theme.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/workorder/.env.template
  frontend/providers/workorder/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/workorder/package.json
  frontend/providers/workorder/public/locales/en/common.json
  frontend/providers/workorder/public/locales/zh/common.json
  frontend/providers/workorder/src/components/Markdown/index.module.scss
  frontend/providers/workorder/src/pages/api/cronjob/init.ts
  frontend/providers/workorder/src/pages/api/workorder/check.ts
  frontend/providers/workorder/src/pages/workorder/detail/components/AppMainInfo.tsx
  frontend/providers/workorder/src/pages/workorder/detail/components/Header.tsx
  frontend/providers/workorder/src/pages/workorders/components/List.tsx
  frontend/providers/workorder/src/pages/workorders/index.tsx
  frontend/providers/workorder/src/services/db/workorder.ts
  frontend/providers/workorder/src/styles/reset.scss
  frontend/providers/workorder/src/types/index.ts
  frontend/providers/workorder/src/types/workorder.ts
Labels: size/L, area/frontend

#4889 update: Set default k8sVersion in license-system
  frontend/providers/workorder/src/pages/api/cronjob/init.ts
  frontend/providers/workorder/src/pages/api/workorder/check.ts
  service/license/src/pages/cluster/components/ConfigForm.tsx
Labels: size/S, area/cloud, area/frontend

#4860 feat: strip bin and trimpath
  controllers/account/Makefile
  controllers/app/Makefile
  controllers/db/adminer/Makefile
  controllers/job/heartbeat/Makefile
  controllers/job/init/Makefile
  controllers/license/Makefile
  controllers/node/Makefile
  controllers/objectstorage/Makefile
  controllers/resources/Makefile
  controllers/terminal/Makefile
  controllers/user/Makefile
  service/account/Makefile
  webhooks/admission/Makefile
Labels: size/M, area/cloud

#4893 fix: concat ldflags str
  controllers/account/Makefile
  controllers/job/init/Makefile
  controllers/license/Makefile
  controllers/objectstorage/Makefile
  controllers/resources/Makefile
  service/account/Makefile
Labels: size/S, area/cloud

#4896 Fix doc platform-components relative link.
  docs/4.0/docs/advanced-guide/Architecture/Architecture.md
  docs/4.0/i18n/zh-Hans/advanced-guide/Architecture/Architecture.md
  docs/4.0/i18n/zh-Hans/quick-start/use-database.md
  docs/blog/en/2023/to-run-or-not-to-run-a-database-on-kubernetes/index.md
  docs/blog/zh-Hans/2023/to-run-or-not-to-run-a-database-on-kubernetes/index.md
Labels: kind/documentation, size/S, area/cloud

#4895 fix: bg file ext
  frontend/desktop/src/components/desktop_content/index.tsx
Labels: size/XS, area/frontend

#4876 opt: desktop default config
  frontend/desktop/deploy/README.md
  frontend/desktop/deploy/manifests/configmap.yaml.tmpl
Labels: size/S, area/frontend

#4899 fix: update work order status to pending
  frontend/providers/workorder/src/pages/api/workorder/check.ts
  frontend/providers/workorder/src/services/db/workorder.ts
Labels: size/M, area/frontend

#4901 feat: use dumb-init as the init system for Docker container
  frontend/Dockerfile
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/template/package.json
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
  frontend/providers/template/src/pages/api/listTemplate.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/types/index.ts
  frontend/providers/workorder/public/locales/en/common.json
  frontend/providers/workorder/public/locales/zh/common.json
  frontend/providers/workorder/src/constants/workorder.ts
  frontend/providers/workorder/src/pages/api/workorder/check.ts
  frontend/providers/workorder/src/types/workorder.ts
Labels: size/M, area/frontend

#4898 dep: upgrade controllers client-go and controller-runtime
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/billingrecordquery_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/account/controllers/suite_test.go
  controllers/account/go.mod
  controllers/account/go.sum
  controllers/account/main.go
  controllers/app/cmd/main.go
  controllers/app/go.mod
  controllers/app/go.sum
  controllers/db/adminer/controllers/adminer_controller.go
  controllers/db/adminer/controllers/suite_test.go
  controllers/db/adminer/go.mod
  controllers/db/adminer/go.sum
  controllers/db/adminer/main.go
  controllers/go.work
  controllers/go.work.sum
  controllers/job/heartbeat/go.mod
  controllers/job/heartbeat/go.sum
  controllers/job/init/go.mod
  controllers/job/init/go.sum
  controllers/license/api/v1/zz_generated.deepcopy.go
  controllers/license/cmd/manager/main.go
  controllers/license/config/crd/bases/license.sealos.io_licenses.yaml
  controllers/license/config/rbac/role.yaml
  controllers/license/go.mod
  controllers/license/go.sum
  controllers/node/controllers/gpu_controller.go
  controllers/node/go.mod
  controllers/node/go.sum
  controllers/node/main.go
  controllers/objectstorage/go.mod
  controllers/objectstorage/go.sum
  controllers/objectstorage/main.go
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/resources/controllers/suite_test.go
  controllers/resources/go.mod
  controllers/resources/go.sum
  controllers/resources/main.go
  controllers/terminal/controllers/suite_test.go
  controllers/terminal/controllers/terminal_controller.go
  controllers/terminal/go.mod
  controllers/terminal/go.sum
  controllers/terminal/main.go
  controllers/user/api/v1/operationrequest_webhook.go
  controllers/user/api/v1/user_webhook.go
  controllers/user/api/v1/webhook_suite_test.go
  controllers/user/controllers/user_controller.go
  controllers/user/go.mod
  controllers/user/go.sum
  controllers/user/main.go
Labels: size/XXL, area/cloud, area/test

#4902 update:dbprovider Pause Hint message
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/src/components/notification/index.tsx
  frontend/providers/applaunchpad/src/pages/api/guide/getAccount.ts
  frontend/providers/applaunchpad/src/pages/api/guide/getBonus.ts
  frontend/providers/applaunchpad/src/pages/api/guide/updateGuide.ts
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/workorder/src/pages/api/cronjob/init.ts
  frontend/providers/workorder/src/pages/api/workorder/check.ts
Labels: size/M, area/frontend

#4906 update:docs announcementBar
  docs/website/docusaurus.config.js
  docs/website/src/pages/index.tsx
Labels: kind/documentation, size/M

#4905 fix:update copywriting & remove dev api
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/en/error.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/public/locales/zh/error.json
  frontend/desktop/src/components/account/AccountCenter/SmsModify/SmsBind.tsx
  frontend/desktop/src/components/account/AccountCenter/SmsModify/SmsChange.tsx
  frontend/desktop/src/components/account/AccountCenter/SmsModify/SmsUnbind.tsx
  frontend/desktop/src/components/account/AccountCenter/index.tsx
  frontend/desktop/src/components/account/AccountCenter/mergeUser/NeedToMergeModal.tsx
  frontend/desktop/src/components/team/RemoveMember.tsx
  frontend/desktop/src/components/team/userTable.tsx
  frontend/desktop/src/pages/api/dev/migrate.ts
  frontend/desktop/src/pages/api/dev/migrateInvoice.ts
  frontend/desktop/src/pages/api/dev/removeDuplicates.ts
  frontend/providers/applaunchpad/next-i18next.config.js
  frontend/providers/costcenter/.vscode/settings.json
  frontend/providers/license/next.config.js
  frontend/providers/objectstorage/.vscode/settings.json
Labels: size/XL, area/frontend

#4910 Remove registry with no more needed.
  deploy/registry/README.md
  deploy/registry/install_base_server.md
  deploy/registry/manifests/deploy.yaml
  deploy/registry/manifests/ingress.yaml
Labels: size/L, area/ci

#4911 feat: Update .gitignore file and i18n.md doc
  .gitignore
  frontend/.gitignore
  frontend/i18n.md
Labels: size/M, area/frontend

#4916 change svc version to 1.22
  .github/workflows/services.yml
  service/account/go.mod
  service/database/go.mod
  service/exceptionmonitor/go.mod
  service/go.mod
  service/go.work
  service/go.work.sum
  service/launchpad/go.mod
  service/pay/go.mod
Labels: size/L, area/cloud, area/workflow

#4917 i18n: update i18n for template provider
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
Labels: size/L, area/frontend

#4874 feat: resource quota add object storage size
  controllers/objectstorage/config/crd/bases/objectstorage.sealos.io_objectstoragebuckets.yaml
  controllers/objectstorage/config/crd/bases/objectstorage.sealos.io_objectstorageusers.yaml
  controllers/objectstorage/config/rbac/role.yaml
  controllers/objectstorage/controllers/objectstoragebucket_controller.go
  controllers/objectstorage/controllers/objectstorageuser_controller.go
  controllers/pkg/resources/resources.go
Labels: size/M, area/cloud

#4915 Doc: update video
  README.md
  README_zh.md
  docs/website/src/pages/components/Header/index.tsx
Labels: kind/documentation, size/S

#4919 refactor: improve i18n in dbprovider for better developer experience
  frontend/providers/dbprovider/.gitignore
  frontend/providers/dbprovider/.vscode/settings.json
  frontend/providers/dbprovider/next-i18next.config.js
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/components/DBStatusTag/index.tsx
  frontend/providers/dbprovider/src/components/FileSelect/index.tsx
  frontend/providers/dbprovider/src/components/PriceBox/index.tsx
  frontend/providers/dbprovider/src/components/QuotaBox/index.tsx
  frontend/providers/dbprovider/src/components/Textarea/TagTextarea.tsx
  frontend/providers/dbprovider/src/components/Tip/index.tsx
  frontend/providers/dbprovider/src/constants/backup.ts
  frontend/providers/dbprovider/src/constants/editApp.ts
  frontend/providers/dbprovider/src/hooks/useConfirm.tsx
  frontend/providers/dbprovider/src/mock/apps.ts
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupTable.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DelModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Migrate/Table.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/ChartTemplate.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/RunningTime.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Monitor/index.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/PodDetailModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Pods.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/RestoreModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Yaml.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/components/Prepare.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/components/Yaml.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/index.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/empty.tsx
  frontend/providers/dbprovider/src/store/user.ts
  frontend/providers/dbprovider/src/types/i18next.d.ts
  frontend/providers/dbprovider/src/types/monitor.d.ts
  frontend/providers/dbprovider/src/utils/tools.ts
Labels: size/XXL, area/frontend

#4921 Forward compatibility terminal label.
  controllers/terminal/controllers/terminal_controller.go
Labels: size/XS, area/cloud

#4867 Replace go-gomail/gomail with wneessen/go-mail in email utility
  controllers/account/controllers/utils/email.go
  controllers/account/go.mod
  controllers/account/go.sum
Labels: size/M, area/cloud

#4925 docs:update scripts
  docs/website/docusaurus.config.js
  docs/website/src/pages/index.tsx
Labels: kind/documentation, size/S

#4927 fix: db quota check
  frontend/providers/dbprovider/src/store/user.ts
Labels: size/XS, area/frontend

#4928 update:desktop add scripts & workorder closedBy
  frontend/desktop/src/pages/signin.tsx
  frontend/providers/workorder/src/pages/api/workorder/check.ts
  frontend/providers/workorder/src/pages/api/workorder/update.ts
  frontend/providers/workorder/src/types/workorder.ts
Labels: size/M, area/frontend

#4929 rollback email package
  controllers/account/controllers/utils/email.go
  controllers/account/go.mod
  controllers/account/go.sum
Labels: size/M, area/cloud

#4930 fix read notice cause panic
  controllers/account/controllers/debt_controller.go
Labels: size/XS, area/cloud

#4931 feat(desktop): add realname auth
  frontend/.vscode/settings.json
  frontend/desktop/.vscode/settings.json
  frontend/desktop/data/config.yaml
  frontend/desktop/package.json
  frontend/desktop/prisma/global/migrations/20240731100240_add_user_realname_info/migration.sql
  frontend/desktop/prisma/global/schema.prisma
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/components/account/AccountCenter/index.tsx
  frontend/desktop/src/components/account/RealNameModal.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/signin/auth/usePassword.tsx
  frontend/desktop/src/components/signin/auth/useSms.tsx
  frontend/desktop/src/components/signin/auth/useWechat.tsx
  frontend/desktop/src/pages/api/account/realNameAuth.ts
  frontend/desktop/src/pages/api/auth/info.ts
  frontend/desktop/src/pages/api/platform/getCommonConfig.ts
  frontend/desktop/src/pages/switchRegion.tsx
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/types/session.ts
  frontend/desktop/src/types/system.ts
  frontend/desktop/src/utils/sessionConfig.ts
  frontend/desktop/src/utils/tools.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: size/XXL, area/frontend

#4935 Fix: Resolve bug introduced by launchpad JSON patching
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: size/L, area/frontend
