Repository labring/sealos, pull requests merged in 2024-04, with the labels that each got.

#4646 fix:desktop keep last workspace state
  docs/website/src/pages/self-hosting/product/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/region/RegionToggle.tsx
  frontend/desktop/src/pages/switchRegion.tsx
  frontend/desktop/src/stores/session.ts
Labels: kind/documentation, size/L, area/frontend

#4645 Launchpad
  .github/workflows/services.yml
  frontend/providers/applaunchpad/deploy/Kubefile
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  scripts/cloud/install.sh
  service/go.work
  service/launchpad/Dockerfile
  service/launchpad/Makefile
  service/launchpad/README.md
  service/launchpad/config/config.yml
  service/launchpad/deploy/Kubefile
  service/launchpad/deploy/README.md
  service/launchpad/deploy/manifests/deploy.yaml
  service/launchpad/go.mod
  service/launchpad/main.go
  service/launchpad/request/req.go
  service/launchpad/server/config.go
  service/launchpad/server/server.go
  service/pkg/api/req.go
Labels: size/XL, area/cloud, area/ci, area/frontend, area/workflow

#4648 chore: fix offline build script.
  scripts/cloud/build-offline-tar.sh
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4650 chore: fix applaunchpad deploy file typo.
  frontend/providers/applaunchpad/deploy/Kubefile
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend

#4652 add limits to monitor service
  service/minio/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/cloud

#4653 chore: add launchpad monitor service.
  deploy/cloud/init.sh
  deploy/cloud/scripts/init.sh
  scripts/cloud/install.sh
Labels: size/S

#4654 fix:license add CUSTOM_BASE_PATH env
  service/license/.env
  service/license/.env.template
  service/license/src/pages/cluster/components/Tutorial.tsx
  service/license/src/pages/cluster/index.tsx
Labels: size/S, area/cloud

#4651 fix:terminal already exists
  frontend/providers/terminal/.env.template
  frontend/providers/terminal/src/components/terminal/index.tsx
  frontend/providers/terminal/src/pages/api/apply.ts
  frontend/providers/terminal/src/pages/index.tsx
  frontend/providers/terminal/src/service/kubernetes.ts
  frontend/providers/terminal/src/service/request.ts
  frontend/providers/terminal/src/store/session.ts
  frontend/providers/terminal/src/stores/session.ts
  frontend/providers/terminal/src/utils/user.ts
Labels: size/L, area/frontend

#4655 Fix service/launchpad typo.
  service/launchpad/request/req.go
Labels: size/XS

#4622 chore: remove repetitive words
  helm/sealos/charts/applaunchpad/values.yaml
  helm/sealos/charts/desktop/values.yaml
Labels: good first issue, size/XS

#4658 Optimize/debt resume speed
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/account/deploy/manifests/account-manager-config.yaml.tmpl
Labels: size/M, area/cloud

#4660 docs: Update zh docs for installing sealos
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-cost-center.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license-activate.jpg
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license-activate1.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license-activate2.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license-activate3.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license-activate4.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/images/sealos-license.png
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/installation.md
  docs/blog/zh-Hans/2023/k8s-multi-tenancy.md
  docs/blog/zh-Hans/2023/what-is-sealos.md
  lychee.toml
Labels: kind/documentation, size/M, area/cloud

#4661 docs: add blog for affine
  docs/blog/en/2024/how-to-set-up-affine/images/AFFINE-console.png
  docs/blog/en/2024/how-to-set-up-affine/images/AFFINE-console2.png
  docs/blog/en/2024/how-to-set-up-affine/images/AFFINE-details.png
  docs/blog/en/2024/how-to-set-up-affine/images/AFFINE-logs.png
  docs/blog/en/2024/how-to-set-up-affine/images/AFFINE-on-sealos.png
  docs/blog/en/2024/how-to-set-up-affine/images/AFFINE-on-sealos2.png
  docs/blog/en/2024/how-to-set-up-affine/images/AFFINE-whiteboard.png
  docs/blog/en/2024/how-to-set-up-affine/images/AFFINE-workspace.png
  docs/blog/en/2024/how-to-set-up-affine/images/AFFINE.jpg
  docs/blog/en/2024/how-to-set-up-affine/index.md
  docs/blog/en/authors.yml
  docs/blog/zh-Hans/2024/how-to-set-up-affine/images/AFFINE-console.png
  docs/blog/zh-Hans/2024/how-to-set-up-affine/images/AFFINE-console2.png
  docs/blog/zh-Hans/2024/how-to-set-up-affine/images/AFFINE-details.png
  docs/blog/zh-Hans/2024/how-to-set-up-affine/images/AFFINE-logs.png
  docs/blog/zh-Hans/2024/how-to-set-up-affine/images/AFFINE-on-sealos.png
  docs/blog/zh-Hans/2024/how-to-set-up-affine/images/AFFINE-on-sealos2.png
  docs/blog/zh-Hans/2024/how-to-set-up-affine/images/AFFINE-whiteboard.png
  docs/blog/zh-Hans/2024/how-to-set-up-affine/images/AFFINE-workspace.png
  docs/blog/zh-Hans/2024/how-to-set-up-affine/images/AFFINE.jpg
  docs/blog/zh-Hans/2024/how-to-set-up-affine/index.md
  docs/blog/zh-Hans/authors.yml
Labels: kind/documentation, size/L

#4663 chore: fix script.
  deploy/cloud/scripts/init.sh
Labels: size/XS, area/ci

#4664 fix link 404
  README_zh.md
Labels: size/XS

#4668 chore: fix script.
  deploy/cloud/scripts/init.sh
Labels: size/XS, area/ci

#4669 fix link 404 err0r
  README.md
Labels: size/XS

#4666 fix:docs link address
  docs/4.0/i18n/zh-Hans/quick-start/use-app-launchpad.md
  docs/4.0/i18n/zh-Hans/quick-start/use-database.md
  docs/4.0/i18n/zh-Hans/quick-start/use-template.md
  docs/4.0/i18n/zh-Hans/quick-start/use-terminal.md
  docs/website/src/hooks/useWindow.ts
  docs/website/src/pages/index.tsx
Labels: kind/documentation, size/S, area/cloud

#4667 fix: desktop applaunchpad costcenter styles
  frontend/desktop/src/components/team/CreateTeam.tsx
  frontend/desktop/src/components/team/DissolveTeam.tsx
  frontend/desktop/src/components/team/InviteMember.tsx
  frontend/desktop/src/components/team/RemoveMember.tsx
  frontend/package.json
  frontend/packages/client-sdk/src/app.ts
  frontend/packages/ui/src/components/Menu/index.tsx
  frontend/packages/ui/src/components/MySlider/index.tsx
  frontend/packages/ui/src/components/MyTable/index.tsx
  frontend/packages/ui/src/components/Select/index.tsx
  frontend/packages/ui/src/components/Tabs/index.tsx
  frontend/packages/ui/src/theme/components/Button.ts
  frontend/packages/ui/src/theme/components/Textarea.ts
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/src/components/Icon/icons/arrowLeft.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/formInfo.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/network.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/settings.svg
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/QuotaBox.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
  frontend/providers/costcenter/src/components/RechargeModal.tsx
  frontend/providers/costcenter/src/components/TransferModal.tsx
  frontend/providers/costcenter/src/components/billing/AppMenu.tsx
  frontend/providers/costcenter/src/components/billing/NamespaceMenu.tsx
  frontend/providers/costcenter/src/components/billing/billingDetails.tsx
  frontend/providers/costcenter/src/components/cost_overview/components/user.tsx
  frontend/providers/costcenter/src/pages/valuation/index.tsx
  frontend/providers/costcenter/src/service/backend/kubernetes.ts
Labels: size/L, area/frontend

#4671 feat:Desktop add standard OAuth2 login support
  frontend/desktop/prisma/global/schema.prisma
  frontend/desktop/src/__tests__/api/e2e/namespace/invite.test.ts
  frontend/desktop/src/components/signin/auth/AuthList.tsx
  frontend/desktop/src/pages/api/auth/namespace/invite.ts
  frontend/desktop/src/pages/api/auth/oauth/oauth2/index.ts
  frontend/desktop/src/pages/api/platform/getEnv.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/services/backend/globalAuth.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/stores/global.ts
  frontend/desktop/src/types/api.ts
  frontend/desktop/src/types/system.ts
  frontend/desktop/src/types/user.ts
  frontend/providers/applaunchpad/README.md
  frontend/providers/costcenter/src/components/billing/TypeMenu.tsx
Labels: size/L, area/frontend

#4673 chore: fix cost center BILLING_URI.
  frontend/providers/costcenter/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend

#4657 query traffic at a specified time
  controllers/pkg/objectstorage/objectstorage.go
  controllers/pkg/objectstorage/objectstorage_test.go
  controllers/resources/controllers/monitor_controller.go
Labels: size/M, area/cloud, area/test

#4677 chore: fix database monitor, use vm.
  scripts/cloud/install.sh
  service/database/deploy/manifests/deploy.yaml
Labels: size/L, area/cloud, area/ci

#4672 :bug: fix net interface sort
  pkg/utils/iputils/iputils_v2.go
Labels: size/XS, area/lifecycle-management

#4680 chore: fix link.
  lychee.toml
Labels: size/XS

#4676 fix: db role and select default backup repository
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/api/platform.ts
  frontend/providers/dbprovider/src/components/Icon/icons/docs.svg
  frontend/providers/dbprovider/src/components/Icon/icons/plus.svg
  frontend/providers/dbprovider/src/components/Icon/index.tsx
  frontend/providers/dbprovider/src/components/QuotaBox/index.tsx
  frontend/providers/dbprovider/src/constants/backup.ts
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/api/backup/updatePolicy.ts
  frontend/providers/dbprovider/src/pages/api/createDB.ts
  frontend/providers/dbprovider/src/pages/api/getSecretByName.ts
  frontend/providers/dbprovider/src/pages/api/monitor/getMonitorData.ts
  frontend/providers/dbprovider/src/pages/api/platform/getQuota.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/RestoreModal.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/QuotaBox.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/components/QuotaBox.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/services/backend/kubernetes.ts
  frontend/providers/dbprovider/src/services/handleStream.ts
  frontend/providers/dbprovider/src/store/db.ts
  frontend/providers/dbprovider/src/store/user.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/types/monitor.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/XL, area/frontend

#4678 release: update sealos version in install.sh.
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4683 docs: Update sealos version in self-hosting docs
  docs/4.0/docs/self-hosting/sealos/installation.md
  docs/4.0/i18n/zh-Hans/self-hosting/sealos/installation.md
Labels: kind/documentation, size/S, area/cloud

#4684 chore: fix cockroach db version check job oom.
  deploy/cloud/manifests/cockroachdb.yaml
Labels: size/XS, area/ci

#4688 style: launchpad displays monitoring values
  frontend/Dockerfile
  frontend/desktop/README.md
  frontend/packages/driver/package.json
  frontend/packages/ui/package.json
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/apps/components/appList.tsx
Labels: size/L, area/frontend

#4686 optimize query object storage metric
  controllers/pkg/objectstorage/objectstorage.go
  controllers/pkg/utils/env/env.go
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/main.go
Labels: size/L, area/cloud

#4689 Launchpad monitor
  service/launchpad/request/req.go
Labels: size/XS, area/cloud

#4694 refactor(costcenter): refactor invoice
  frontend/desktop/src/pages/api/dev/migrateInvoice.ts
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/billing/RechargeTabPanel.tsx
  frontend/providers/costcenter/src/components/cost_overview/buget.tsx
  frontend/providers/costcenter/src/components/invoice/invoiceTable.tsx
  frontend/providers/costcenter/src/pages/api/invoice/billings.ts
  frontend/providers/costcenter/src/pages/api/invoice/sms.ts
  frontend/providers/costcenter/src/pages/api/invoice/verify.ts
  frontend/providers/costcenter/src/pages/create_invoice/InvoicdForm.tsx
  frontend/providers/costcenter/src/pages/create_invoice/index.tsx
  frontend/providers/costcenter/src/service/backend/db/invoice.ts
  frontend/providers/costcenter/src/service/backend/db/verifyCode.ts
  frontend/providers/costcenter/src/service/sendToBot.ts
  frontend/providers/costcenter/src/types/billing.ts
  frontend/providers/costcenter/src/types/invoice.ts
  frontend/providers/costcenter/src/utils/tools.ts
Labels: size/L, area/frontend

#4700 feat: desktop support controlling the size of the evoked window
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/types/app.ts
Labels: size/XS, area/frontend

#4701 fix:db podAntiAffinity Preferred
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/XS, area/frontend

#4693 chore: optimize controllers config.
  controllers/pkg/config/global.go
  controllers/terminal/config/manager/manager.yaml
  controllers/terminal/controllers/config.go
  controllers/terminal/controllers/ingress.go
  controllers/terminal/controllers/terminal_controller.go
  controllers/terminal/deploy/manifests/deploy.yaml.tmpl
  controllers/terminal/main.go
  controllers/user/config/default/manager_auth_proxy_patch.yaml
  controllers/user/config/manager/manager.yaml
  controllers/user/controllers/config.go
  controllers/user/deploy/Kubefile
  controllers/user/deploy/manifests/deploy.yaml.tmpl
  controllers/user/main.go
Labels: size/L, area/cloud

#4699 Feat: Cloud Virtual Machine Billing
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/account_controller_test.go
  controllers/account/main.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongo/account.go
  controllers/pkg/database/mongo/cvm.go
  controllers/pkg/resources/resources.go
  controllers/pkg/types/cvm.go
  controllers/pkg/utils/env/env.go
Labels: size/L, area/cloud, area/test

#4691 fix object storage monitor
  controllers/pkg/objectstorage/metric_parser.go
  controllers/pkg/objectstorage/objectstorage.go
  controllers/pkg/objectstorage/objectstorage_test.go
  controllers/resources/controllers/monitor_controller.go
  controllers/resources/main.go
Labels: size/L, area/cloud, area/test

#4706 chore: update launchpad config to use yaml.
  frontend/providers/applaunchpad/.prettierrc.js
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/data/form_slider_config.json
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/pages/api/getPodEventsAnalyses.ts
  frontend/providers/applaunchpad/src/pages/api/guide/getAccount.ts
  frontend/providers/applaunchpad/src/pages/api/guide/getBonus.ts
  frontend/providers/applaunchpad/src/pages/api/guide/updateGuide.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getEnv.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/services/monitorFetch.ts
  frontend/providers/applaunchpad/src/store/global.ts
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
Labels: size/L, area/frontend

#4708 chore: change mongo 4.0 to 4.4
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#4710 fix: Delete unnecessary logs
  pkg/client-go/kubernetes/client.go
Labels: size/XS, area/lifecycle-management

#4715 fix:launchpad config yaml boolean
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/hooks/useDetailDriver.tsx
  frontend/providers/applaunchpad/src/hooks/useDriver.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/guide/getAccount.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getEnv.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
Labels: size/L, area/frontend

#4674 feat(applaunchpad): support file browser for pv
  frontend/.prettierrc.js
  frontend/desktop/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/deploy/Kubefile
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/applaunchpad/i18nrc.json
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/api/kubeFile.ts
  frontend/providers/applaunchpad/src/components/Icon/icons/download.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/file.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/file/csv.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/file/default.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/file/folder-line.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/file/folder.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/file/pdf.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/file/png.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/file/txt.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/file/yaml.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/hardDrive.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/home.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/pods.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/rename.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/search.svg
  frontend/providers/applaunchpad/src/components/Icon/icons/upload.svg
  frontend/providers/applaunchpad/src/components/Icon/index.tsx
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/hooks/useSelectFile.tsx
  frontend/providers/applaunchpad/src/pages/api/guide/getAccount.ts
  frontend/providers/applaunchpad/src/pages/api/kubeFileSystem/download.ts
  frontend/providers/applaunchpad/src/pages/api/kubeFileSystem/ls.ts
  frontend/providers/applaunchpad/src/pages/api/kubeFileSystem/mkdir.ts
  frontend/providers/applaunchpad/src/pages/api/kubeFileSystem/mv.ts
  frontend/providers/applaunchpad/src/pages/api/kubeFileSystem/rm.ts
  frontend/providers/applaunchpad/src/pages/api/kubeFileSystem/touch.ts
  frontend/providers/applaunchpad/src/pages/api/kubeFileSystem/upload.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getEnv.ts
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/detail/components/DelModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Header.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/LogsModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/PodDetailModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/PodFileModal.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/components/Pods.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/index.module.scss
  frontend/providers/applaunchpad/src/services/backend/kubernetes.ts
  frontend/providers/applaunchpad/src/services/request.ts
  frontend/providers/applaunchpad/src/store/global.ts
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/applaunchpad/src/utils/kubeFileSystem.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
  frontend/providers/applaunchpad/src/utils/touch.ts
Labels: size/XXL, area/frontend
