Repository labring/sealos, pull requests merged in 2025-01, with the labels that each got.

#5322 feat: add driver for devbox
  frontend/pnpm-lock.yaml
  frontend/providers/devbox/.eslintrc.json
  frontend/providers/devbox/api/platform.ts
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/DevboxList.tsx
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/DevboxListContainer.tsx
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/Empty.tsx
  frontend/providers/devbox/app/[lang]/(platform)/(home)/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/BasicConfiguration/TemplateRepositoryListNav.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/BasicConfiguration/TemplateRepositorySelector/index.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/BasicConfiguration/index.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/NetworkConfiguration/index.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/index.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/MainBody.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Version.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/page.tsx
  frontend/providers/devbox/app/[lang]/globals.css
  frontend/providers/devbox/app/[lang]/layout.tsx
  frontend/providers/devbox/app/api/guide/checkTask/route.ts
  frontend/providers/devbox/app/api/guide/getBonus/route.ts
  frontend/providers/devbox/app/api/guide/getTasks/route.ts
  frontend/providers/devbox/components/DevboxStatusTag.tsx
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/components/Icon/icons/gift.svg
  frontend/providers/devbox/components/Icon/index.tsx
  frontend/providers/devbox/components/MyTable.tsx
  frontend/providers/devbox/components/PriceBox.tsx
  frontend/providers/devbox/hooks/useDetailDriver.tsx
  frontend/providers/devbox/hooks/useDriver.tsx
  frontend/providers/devbox/hooks/useListDriver.tsx
  frontend/providers/devbox/hooks/useReleaseDriver.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/package.json
  frontend/providers/devbox/services/backend/auth.ts
  frontend/providers/devbox/services/db/init.ts
  frontend/providers/devbox/stores/guide.ts
  frontend/providers/devbox/types/user.d.ts
  frontend/providers/devbox/utils/tools.ts
  frontend/providers/devbox/utils/user.ts
  frontend/providers/workorder/src/pages/api/workorder/updateDialog.ts
Labels: size/XXL, area/frontend

#5320 fix: launchpad ingress
  frontend/providers/applaunchpad/src/pages/api/pauseApp.ts
  frontend/providers/applaunchpad/src/pages/api/startApp.ts
Labels: size/L, area/frontend

#5321 feat: start and pause will modify ingress
  frontend/providers/devbox/.env.template
  frontend/providers/devbox/app/api/pauseDevbox/route.ts
  frontend/providers/devbox/app/api/restartDevbox/route.ts
  frontend/providers/devbox/app/api/startDevbox/route.ts
Labels: size/L, area/frontend

#5324 feat: cronjob sts && template readme
  frontend/providers/cronjob/src/api/app.ts
  frontend/providers/cronjob/src/constants/job.ts
  frontend/providers/cronjob/src/pages/api/launchpad/getApps.ts
  frontend/providers/cronjob/src/pages/job/detail/components/AppMainInfo.tsx
  frontend/providers/cronjob/src/pages/job/edit/components/Form.tsx
  frontend/providers/cronjob/src/types/app.d.ts
  frontend/providers/cronjob/src/types/job.d.ts
  frontend/providers/cronjob/src/utils/adapt.ts
  frontend/providers/cronjob/src/utils/json2Yaml.ts
  frontend/providers/template/src/pages/deploy/components/ReadMe.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
Labels: size/L, area/frontend

#5326 step1: copy runtime config to devbox crd, add template id.
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/api/v1alpha1/zz_generated.deepcopy.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/XXL, area/cloud, area/api

#5325 fix(devbox):fix multi-region
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/BasicConfiguration/TemplateRepositorySelector/index.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/updateTemplate/EditTemplateModal.tsx
  frontend/providers/devbox/app/api/auth/init/route.ts
  frontend/providers/devbox/app/api/templateRepository/delete/route.ts
  frontend/providers/devbox/app/api/templateRepository/get/route.ts
  frontend/providers/devbox/app/api/templateRepository/list/route.ts
  frontend/providers/devbox/app/api/templateRepository/listOfficial/route.ts
  frontend/providers/devbox/app/api/templateRepository/template/getConfig/route.ts
  frontend/providers/devbox/app/api/templateRepository/template/list/route.ts
  frontend/providers/devbox/app/api/templateRepository/update/route.ts
  frontend/providers/devbox/app/api/templateRepository/withTemplate/create/route.ts
  frontend/providers/devbox/app/api/templateRepository/withTemplate/update/route.ts
  frontend/providers/devbox/prisma/migrations/20250103095011_region_update/migration.sql
  frontend/providers/devbox/prisma/schema.prisma
  frontend/providers/devbox/utils/env.ts
Labels: size/L, area/frontend

#5331 feat:desktop add gpu resource
  frontend/desktop/src/api/platform.ts
  frontend/desktop/src/components/desktop_content/monitor.tsx
  frontend/desktop/src/components/icons/index.tsx
  frontend/desktop/src/pages/api/desktop/getResource.ts
Labels: size/M, area/frontend

#5335 chore(twitter): update Twitter handle to @Sailos_io
  README.md
  README_zh.md
  docs/4.0/docs/Community.md
  docs/4.0/i18n/zh-Hans/Community.md
  docs/5.0/docs/community.md
  docs/5.0/i18n/zh-Hans/community.md
  lychee.toml
Labels: kind/documentation, size/S, area/cloud

#5339 fix(devbox): fix invaild devbox cr
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Version.tsx
  frontend/providers/devbox/app/api/v1/getDevboxDetail/route.ts
  frontend/providers/devbox/types/k8s.d.ts
  frontend/providers/devbox/utils/adapt.ts
Labels: size/M, area/frontend

#5340 Fix devbox name regx
  frontend/providers/devbox/services/backend/response.ts
  frontend/providers/devbox/utils/vaildate.ts
Labels: size/S, area/frontend

#5341 fix: devbox list big counts bug
  frontend/providers/devbox/.prettierrc.js
  frontend/providers/devbox/.prettierrc.json
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/DevboxList.tsx
  frontend/providers/devbox/components/AdvancedTable.tsx
  frontend/providers/devbox/stores/devbox.ts
Labels: size/L, area/frontend

#5253 feat: jetbrain modal
  frontend/providers/devbox/api/devbox.ts
  frontend/providers/devbox/api/template.ts
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/DevboxList.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Yaml.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/BasicInfo.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Version.tsx
  frontend/providers/devbox/app/[lang]/(platform)/layout.tsx
  frontend/providers/devbox/app/api/execCommandInDevboxPod/route.ts
  frontend/providers/devbox/app/api/getSSHConnectionInfo/route.ts
  frontend/providers/devbox/app/api/getSSHRuntimeInfo/route.ts
  frontend/providers/devbox/app/api/v1/getDBSecretList/route.ts
  frontend/providers/devbox/components/Code.tsx
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/components/Icon/icons/arrowDown.svg
  frontend/providers/devbox/components/Icon/icons/arrowRight.svg
  frontend/providers/devbox/components/Icon/icons/download.svg
  frontend/providers/devbox/components/Icon/icons/fileConfig.svg
  frontend/providers/devbox/components/Icon/icons/infoCircle.svg
  frontend/providers/devbox/components/Icon/icons/jetbrains.svg
  frontend/providers/devbox/components/Icon/icons/jetbrains/clion.svg
  frontend/providers/devbox/components/Icon/icons/jetbrains/goland.svg
  frontend/providers/devbox/components/Icon/icons/jetbrains/intellij.svg
  frontend/providers/devbox/components/Icon/icons/jetbrains/phpstorm.svg
  frontend/providers/devbox/components/Icon/icons/jetbrains/pycharm.svg
  frontend/providers/devbox/components/Icon/icons/jetbrains/rider.svg
  frontend/providers/devbox/components/Icon/icons/jetbrains/rubymine.svg
  frontend/providers/devbox/components/Icon/icons/jetbrains/rustover.svg
  frontend/providers/devbox/components/Icon/icons/jetbrains/webstorm.svg
  frontend/providers/devbox/components/Icon/index.tsx
  frontend/providers/devbox/components/ScriptCode.tsx
  frontend/providers/devbox/components/Tab.tsx
  frontend/providers/devbox/components/YamlCode/index.module.scss
  frontend/providers/devbox/components/YamlCode/index.tsx
  frontend/providers/devbox/components/modals/JetbrainsGuideModal.tsx
  frontend/providers/devbox/components/modals/ReleaseModal.tsx
  frontend/providers/devbox/components/modals/SshConnectModal.tsx
  frontend/providers/devbox/constants/hljs.ts
  frontend/providers/devbox/constants/scripts.ts
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/services/backend/kubernetes.ts
  frontend/providers/devbox/stores/global.ts
  frontend/providers/devbox/stores/ide.ts
  frontend/providers/devbox/types/devbox.d.ts
  frontend/providers/devbox/utils/tools.ts
Labels: size/XXL, area/frontend

#5347 feat(add enterprise real name auth)
  frontend/desktop/.gitignore
  frontend/desktop/package.json
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/components/account/AccountCenter/index.tsx
  frontend/desktop/src/components/account/RealNameModal.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/signin/auth/usePassword.tsx
  frontend/desktop/src/components/signin/auth/useWechat.tsx
  frontend/desktop/src/pages/api/account/enterpriseRealName.ts
  frontend/desktop/src/pages/api/account/enterpriseRealNameAuth.ts
  frontend/desktop/src/pages/api/account/enterpriseRealNameVerify.ts
  frontend/desktop/src/pages/api/account/faceIdRealNameAuthCallback.ts
  frontend/desktop/src/pages/api/account/generateRealNameQRcodeUri.ts
  frontend/desktop/src/pages/api/auth/info.ts
  frontend/desktop/src/pages/api/platform/getCommonConfig.ts
  frontend/desktop/src/types/response/enterpriseRealName.ts
  frontend/desktop/src/types/session.ts
  frontend/desktop/src/types/system.ts
  frontend/desktop/src/types/token.ts
  frontend/desktop/src/utils/sessionConfig.ts
  frontend/pnpm-lock.yaml
Labels: size/XXL, area/frontend

#5352 fix(devbox): restart not adjust ingress bug
  frontend/providers/devbox/app/api/restartDevbox/route.ts
Labels: size/L, area/frontend

#5354 fix(devbox): jb bug download circle
  frontend/providers/devbox/components/modals/JetbrainsGuideModal.tsx
Labels: size/XS, area/frontend

#5351 feat: frontend arm runner
  .github/workflows/bot-auto-cherry-pick.yml
  .github/workflows/bot-cherry-pick.yml
  .github/workflows/bot-issues-translator.yml
  .github/workflows/bot-labels.yml
  .github/workflows/bot.yml
  .github/workflows/check-coverage.yml
  .github/workflows/check-format-code.yml
  .github/workflows/check-license.yml
  .github/workflows/check-link-error.yml
  .github/workflows/check-semgrep.yml
  .github/workflows/ci-patch-image.yml
  .github/workflows/ci.yml
  .github/workflows/cloud-release.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/delete_workflow.yml
  .github/workflows/deploy-docs-preview.yml
  .github/workflows/deploy-docs-site.yml
  .github/workflows/docs-site-image.yml
  .github/workflows/e2e_k3s_multi_node.yml
  .github/workflows/e2e_k8s_multi_node.yml
  .github/workflows/e2e_test_core.yml
  .github/workflows/e2e_test_core_k3s.yml
  .github/workflows/e2e_test_image_cri_shim.yml
  .github/workflows/frontend.yml
  .github/workflows/frontends.yml
  .github/workflows/import-patch-image.yml
  .github/workflows/import-save-sealos.yml
  .github/workflows/objectstorage.yaml
  .github/workflows/release.yml
  .github/workflows/services.yml
  .github/workflows/sync_code.yml
  .github/workflows/sync_docs.yml
  .github/workflows/webhooks.yml
  frontend/README.md
  scripts/resolve-tag-image.sh
Labels: size/XL, area/ci, area/frontend, area/workflow

#5359 fix: ensure that the controller and gateway can be deployed to the master and the tainted node
  scripts/cloud/install.sh
Labels: size/S, area/ci

#5356 feat(devbox): support trae and windsurf
  extensions/ide/vscode/devbox/CHANGELOG.md
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/src/commands/remoteConnector.ts
  extensions/ide/vscode/devbox/src/providers/DBViewProvider.ts
  extensions/ide/vscode/devbox/src/providers/DevboxListViewProvider.ts
  extensions/ide/vscode/devbox/src/utils/handleUri.ts
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/components/Icon/icons/trae.svg
  frontend/providers/devbox/components/Icon/index.tsx
Labels: size/M, area/frontend
