Repository labring/sealos, pull requests merged in 2025-09, with the labels that each got.

#5911 fix(ci): cleanup unused scripts files
  scripts/ISSUE_RENEW.md
  scripts/cherry-pick.sh
  scripts/create_vm_sealos.sh
Labels: size/L, area/ci

#5909 feat(apply): conditionally append components based on distribution type
  lifecycle/pkg/apply/applydrivers/apply_drivers_default.go
  lifecycle/pkg/types/v1beta1/utils.go
Labels: size/S, area/apply, area/lifecycle-management, area/api

#5905 feat(dbprovider): added prompt database update process when backup is running
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/pages/db/detail/components/StopBackupModal.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
Labels: size/L, area/frontend

#5917 fix(account): fix remove account service smtp config verification
  service/account/dao/init.go
Labels: size/XS, area/cloud

#5918 feat(desktop): add username/password signin v2
  frontend/desktop/public/locales/en/v2.json
  frontend/desktop/public/locales/zh/v2.json
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/components/signin/auth/usePassword.tsx
  frontend/desktop/src/components/v2/Sign.tsx
  frontend/desktop/src/components/v2/UsernamePasswordSignin.tsx
  frontend/desktop/src/pages/api/auth/password/exist.ts
  frontend/desktop/src/pages/api/auth/password/index.ts
  frontend/desktop/src/services/backend/globalAuth.ts
Labels: size/XL, area/frontend

#5933 feat(applaunchpad): add configurable log feature toggle
  frontend/providers/applaunchpad/src/components/layouts/Sidebar.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
Labels: size/M, area/frontend

#5934 fix(devbox): remove init container and add migration job for database deployment
  frontend/providers/devbox/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/devbox/deploy/manifests/job.yaml.tmpl
Labels: size/M, area/frontend

#5947 fix(env): add loggerfile variable to environment template
  CODEOWNERS
  deploy/cloud/etc/sealos/.env.tmpl
Labels: size/XS

#5958 feat(deploy): add NODE_TLS_REJECT_UNAUTHORIZED environment variable to frontend containers
  frontend/providers/applaunchpad/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/devbox/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS, area/frontend

#5963 feat(devbox): remove job devbox to init db
  frontend/providers/devbox/deploy/manifests/job.yaml.tmpl
Labels: size/S, area/frontend

#5964 feat(launchpad): update log api
  frontend/providers/applaunchpad/src/components/DatePicker/index.tsx
  frontend/providers/applaunchpad/src/pages/api/log/queryLogs.ts
  frontend/providers/applaunchpad/src/pages/api/log/queryPodList.ts
  frontend/providers/applaunchpad/src/pages/app/detail/logs.tsx
Labels: size/L, area/frontend

#5980 fix(config): use local variable for registry domain normalization
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/types/config.go
Labels: area/imageCRIShim, size/XS, area/lifecycle-management

#5729 feat(service): add Hubble service to enhance observability
  .github/workflows/services.yml
  controllers/go.work.sum
  service/go.work
  service/go.work.sum
  service/hubble/.gitignore
  service/hubble/Dockerfile
  service/hubble/Makefile
  service/hubble/README.md
  service/hubble/cmd/main.go
  service/hubble/collector/collector.go
  service/hubble/collector/tls_config.go
  service/hubble/config.yml
  service/hubble/config/config.go
  service/hubble/datastore/redis.go
  service/hubble/deploy/Kubefile
  service/hubble/deploy/README.md
  service/hubble/deploy/manifests/configmap.yaml
  service/hubble/deploy/manifests/deploy.yaml
  service/hubble/deploy/manifests/redis.yaml
  service/hubble/deploy/scripts/init.sh
  service/hubble/go.mod
  service/hubble/pkg/auth/auth.go
  service/hubble/pkg/auth/cache_auth.go
  service/hubble/pkg/auth/errors.go
  service/hubble/pkg/auth/interface.go
  service/hubble/pkg/cache/cache.go
  service/hubble/pkg/cache/interface.go
  service/hubble/pkg/config/config.go
  service/hubble/pkg/constants/api.go
  service/hubble/pkg/constants/header.go
  service/hubble/pkg/constants/label.go
  service/hubble/pkg/constants/messages.go
  service/hubble/pkg/constants/redis_key.go
  service/hubble/pkg/models/request.go
  service/hubble/pkg/models/response.go
  service/hubble/server/server.go
Labels: size/XXL, area/cloud, area/workflow

#5985 fix(release): update CI runner to Ubuntu 22.04
  .github/workflows/release.yml
Labels: size/XS, area/workflow

#5951 fix(devbox): optimize API and fix page bugs
  frontend/desktop/src/components/account/RealNameModal.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/TemplateCard.tsx
  frontend/providers/devbox/app/api/openapi/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/delete/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/delete/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/pause/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/pause/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/ports/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/ports/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/[tag]/deploy/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/[tag]/deploy/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/[tag]/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/[tag]/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/restart/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/restart/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/shutdown/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/shutdown/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/start/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/start/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/create/route.ts
  frontend/providers/devbox/app/api/v1/devbox/create/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/delete/route.ts
  frontend/providers/devbox/app/api/v1/devbox/delete/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/get/route.ts
  frontend/providers/devbox/app/api/v1/devbox/get/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/lifecycle/route.ts
  frontend/providers/devbox/app/api/v1/devbox/lifecycle/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/list/route.ts
  frontend/providers/devbox/app/api/v1/devbox/list/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/ports/create/route.ts
  frontend/providers/devbox/app/api/v1/devbox/ports/create/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/ports/remove/route.ts
  frontend/providers/devbox/app/api/v1/devbox/ports/remove/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/release/route.ts
  frontend/providers/devbox/app/api/v1/devbox/release/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/releases/route.ts
  frontend/providers/devbox/app/api/v1/devbox/releases/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/route.ts
  frontend/providers/devbox/app/api/v1/devbox/schema.ts
Labels: size/XXL, area/frontend

#5991 fix(devbox): cn show bug
  frontend/providers/devbox/components/IDEButton.tsx
Labels: size/M, area/frontend

#6008 feat(db): add CRD config reading and parameter updates
  frontend/providers/dbprovider/.env.template
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/api/createDB.ts
  frontend/providers/dbprovider/src/pages/api/getDBByName.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/dbprovider/src/utils/user.ts
Labels: size/L, area/frontend

#6011 fix(desktop): update desktop configmap.yaml.tmpl
  frontend/desktop/deploy/manifests/configmap.yaml.tmpl
  frontend/desktop/deploy/scripts/init.sh
Labels: size/L, area/frontend

#6022 fix(costcenter): internationalize count unit and set default recharge amount to 16
  frontend/providers/costcenter/src/components/RechargeModal.tsx
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/invite/src/pages/index.tsx
Labels: size/L, area/frontend

#6020 fix(deploy): add namespace to cluster role binding in deploy manifest
  service/hubble/deploy/manifests/deploy.yaml
Labels: size/XS, area/cloud

#6023 chore(client-sdk): update README prefix
  frontend/packages/client-sdk/README.md
  frontend/packages/client-sdk/README_zh.md
Labels: size/XS, area/frontend

#6019 fix(devbox): template hover show bug
  frontend/providers/devbox/app/[lang]/(platform)/template/components/TemplateCard.tsx
Labels: size/S, area/frontend

#6012 fix(dbprovider): adjusted database api
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/backup/[backupName].ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/backup/[backupName]/delete.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/backup/[backupName]/restore.ts
  frontend/providers/dbprovider/src/types/apis/index.ts
  frontend/providers/dbprovider/src/utils/tools.ts
Labels: size/XL, area/frontend

#6027 fix(webhooks): add Aliyun registry and repository prefix to webhooks configuration
  .github/workflows/webhooks.yml
Labels: size/XS, area/workflow

#6034 feat(template): append uid to template share links
  frontend/providers/template/src/pages/deploy/components/Header.tsx
Labels: size/S, area/frontend

#6037 fix(deploy): update image to ghcr.io/labring/sealos-admission-webhook:latest
  webhooks/admission/deploy/manifests/deploy.yaml.tmpl
Labels: size/XS

#6040 feat(launchpad): add domain challenge authentication endpoints
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/api/params.d.ts
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/instrumentation.ts
  frontend/providers/applaunchpad/src/pages/api/.well-known/applaunchpad-domain-challenge/[token].ts
  frontend/providers/applaunchpad/src/pages/api/platform/authDomainChallenge.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/devbox/.env.template
  frontend/providers/devbox/api/platform.ts
  frontend/providers/devbox/app/api/.well-known/devbox-domain-challenge/[token]/route.ts
  frontend/providers/devbox/app/api/platform/authDomainChallenge/route.ts
  frontend/providers/devbox/components/drawers/CustomAccessDrawer.tsx
  frontend/providers/devbox/deploy/manifests/ingress.yaml.tmpl
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/types/params.ts
Labels: size/XL, area/frontend

#6044 fix(deploy): add permissions for addons in rbac.yaml
  frontend/providers/dbprovider/deploy/manifests/rbac.yaml
Labels: size/XS, area/frontend

#6042 feat(template): update git repo in instrumentation hook
  frontend/providers/template/next.config.js
  frontend/providers/template/src/instrumentation.ts
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/services/backend/template-repo.ts
Labels: size/L, area/frontend

#6049 fix(lifecycle): Avoid map data races for env cache when getHostEnvInCache
  lifecycle/pkg/env/env.go
Labels: size/S, area/config, area/lifecycle-management

#6053 feat(template): include resource requirements in getTemplateSource api
  frontend/providers/cronjob/src/constants/theme.ts
  frontend/providers/template/src/pages/api/getTemplateSource.ts
Labels: size/XS, area/frontend
