Repository labring/sealos, pull requests merged in 2025-02, with the labels that each got.

#5343 feat:add vlogs server.
  .github/workflows/services.yml
  service/go.work
  service/go.work.sum
  service/pkg/api/req.go
  service/vlogs/Dockerfile
  service/vlogs/Makefile
  service/vlogs/README.md
  service/vlogs/config/config.yml
  service/vlogs/deploy/Kubefile
  service/vlogs/deploy/README.md
  service/vlogs/deploy/manifests/deploy.yaml
  service/vlogs/go.mod
  service/vlogs/main.go
  service/vlogs/request/req.go
  service/vlogs/server/config.go
  service/vlogs/server/server.go
Labels: size/XL, area/cloud, area/workflow

#5256 Optimize/debt suspend cronjob
  controllers/account/config/rbac/role.yaml
  controllers/account/controllers/namespace_controller.go
  controllers/account/deploy/manifests/deploy.yaml
Labels: size/M, area/cloud

#5363 chore(account-service): add enterprise real name info inquiry
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/types/global.go
  service/account/api/api.go
  service/account/dao/init.go
  service/account/dao/interface.go
  service/account/dao/interface_test.go
Labels: size/L, area/cloud, area/test

#5362 Optimize billing efficiency
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/billing_controller.go
  controllers/account/controllers/debt_controller.go
  controllers/account/main.go
  controllers/pkg/common/account.go
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongo/account.go
  controllers/pkg/database/mongo/account_test.go
  controllers/pkg/resources/resources.go
Labels: size/XL, area/cloud, area/test

#5364 feat: update invite page and adjust cashback
  frontend/Dockerfile
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/invite/src/pages/index.tsx
Labels: size/M, area/frontend

#5365 feat: devbox controller concurrent and config qps flag.
  controllers/devbox/cmd/main.go
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/S, area/cloud

#5366 feat(desktop): Add Real Name Invitee Rewards
  frontend/desktop/src/pages/api/account/enterpriseRealName.ts
  frontend/desktop/src/pages/api/account/enterpriseRealNameVerify.ts
  frontend/desktop/src/pages/api/account/faceIdRealNameAuthCallback.ts
  frontend/desktop/src/utils/getInviteInfo.ts
Labels: size/L, area/frontend

#5368 feat(desktop): Add real-name restrictions
  frontend/desktop/src/pages/api/account/enterpriseRealName.ts
  frontend/desktop/src/pages/api/account/faceIdRealNameAuthCallback.ts
Labels: size/M, area/frontend

#5367 update frontend ci
  .github/workflows/frontend.yml
Labels: size/XS, area/workflow

#5333 fix frontend devbox ingress host
  frontend/providers/devbox/deploy/manifests/ingress.yaml.tmpl
Labels: size/XS, area/frontend

#5369 fix skip llm token
  controllers/pkg/database/mongo/account.go
Labels: size/XS, area/cloud

#5346 feat(desktop): add umami
  frontend/desktop/package.json
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
  frontend/desktop/src/constants/account.ts
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/pages/_document.tsx
  frontend/desktop/src/pages/api/platform/getAppConfig.ts
  frontend/desktop/src/pages/api/platform/getCommonConfig.ts
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/services/backend/globalAuth.ts
  frontend/desktop/src/services/backend/tracking/index.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/stores/config.ts
  frontend/desktop/src/stores/session.ts
  frontend/desktop/src/types/index.ts
  frontend/desktop/src/types/system.ts
  frontend/pnpm-lock.yaml
Labels: size/L, area/frontend

#5374 fix: devboxList monitor show bug
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/DevboxListContainer.tsx
  frontend/providers/devbox/components/PodLineChart.tsx
Labels: size/M, area/frontend

#5379 fix: devbox release tag use last predicated success commit.
  controllers/devbox/internal/controller/devboxrelease_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/S, area/cloud

#5370 chore: Update ReadMe
  README.md
Labels: size/M

#5381 fix(devbox): desktop call devbox runtime bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/BasicConfiguration/TemplateRepositorySelector/index.tsx
Labels: size/S, area/frontend

#5382 fix: database deletion policy
  frontend/providers/dbprovider/src/pages/api/delDBByName.ts
  frontend/providers/template/src/pages/index.tsx
  frontend/providers/template/src/types/index.ts
  frontend/providers/template/src/utils/tools.ts
Labels: size/S, area/frontend

#5380 fix(devbox/plugin): windsurf can not open
  extensions/ide/vscode/devbox/CHANGELOG.md
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/src/utils/remoteSSHConfig.ts
Labels: size/M

#5383 fix deploy.yaml
  controllers/objectstorage/deploy/manifests/deploy.yaml.tmpl
Labels: size/M, area/cloud

#5361 Update faq.md
  docs/5.0/i18n/zh-Hans/user-guide/devbox/faq.md
Labels: kind/documentation, size/M

#5385 Update faq.md
  docs/5.0/docs/user-guide/devbox/faq.md
Labels: kind/documentation, size/M

#5386 fix: docs select style & cronjob bug, desktop guide bug
  docs/website/src/pages/self-hosting/plan/index.tsx
  frontend/desktop/src/components/task/useDriver.tsx
  frontend/providers/cronjob/src/utils/json2Yaml.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/utils/adapt.ts
Labels: kind/documentation, size/L, area/frontend

#5244 Fix i18n
  frontend/providers/costcenter/next-i18next.config.js
  frontend/providers/costcenter/src/components/RechargeModal.tsx
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/stores/env.ts
  frontend/providers/costcenter/src/stores/session.ts
Labels: size/L, area/frontend

#5378 upgrade helm version
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#5389 feat:add captcha
  frontend/desktop/package.json
  frontend/desktop/src/components/signin/Captcha/index.tsx
  frontend/desktop/src/components/signin/auth/useSms.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/pages/api/platform/getAppConfig.ts
  frontend/desktop/src/pages/api/platform/getAuthConfig.ts
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/services/backend/middleware/sms.ts
  frontend/desktop/src/services/backend/sms.ts
  frontend/desktop/src/services/backend/svc/sms.ts
  frontend/desktop/src/stores/script.ts
  frontend/desktop/src/types/system.ts
  frontend/pnpm-lock.yaml
Labels: size/L, area/frontend

#5390 fix(devbox): JB multiple clicks will result in multiple cn
  frontend/providers/devbox/components/modals/JetbrainsGuideModal.tsx
Labels: size/S, area/frontend

#5394 chore(account-service): Add aiproxy backend real name lookup interface
  controllers/pkg/database/cockroach/accountv2.go
  service/account/api/admin.go
  service/account/api/api.go
  service/account/dao/interface.go
  service/account/docs/docs.go
  service/account/docs/swagger.json
  service/account/docs/swagger.yaml
  service/account/helper/common.go
  service/account/router/router.go
Labels: size/XL, area/cloud

#5281 feat: devbox support gpu
  frontend/providers/devbox/.env.template
  frontend/providers/devbox/.prettierignore
  frontend/providers/devbox/api/template.ts
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/BasicConfiguration/GpuSelector.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/BasicConfiguration/TemplateRepositorySelector/TemplateReposistoryItem.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/BasicConfiguration/index.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/index.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/BasicInfo.tsx
  frontend/providers/devbox/app/[lang]/globals.css
  frontend/providers/devbox/app/api/getDevboxByName/route.ts
  frontend/providers/devbox/app/api/platform/getQuota/route.ts
  frontend/providers/devbox/app/api/platform/getRuntime/route.ts
  frontend/providers/devbox/app/api/platform/resourcePrice/route.ts
  frontend/providers/devbox/app/api/templateRepository/listOfficial/route.ts
  frontend/providers/devbox/components/GPUItem.tsx
  frontend/providers/devbox/components/Icon/icons/nvidia.svg
  frontend/providers/devbox/components/Icon/index.tsx
  frontend/providers/devbox/components/PriceBox.tsx
  frontend/providers/devbox/components/QuotaBox.tsx
  frontend/providers/devbox/constants/devbox.ts
  frontend/providers/devbox/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/public/images/pytorch.svg
  frontend/providers/devbox/public/images/ubuntu-cuda.svg
  frontend/providers/devbox/services/backend/kubernetes.ts
  frontend/providers/devbox/stores/price.ts
  frontend/providers/devbox/stores/runtime.ts
  frontend/providers/devbox/stores/user.ts
  frontend/providers/devbox/types/devbox.d.ts
  frontend/providers/devbox/types/index.d.ts
  frontend/providers/devbox/types/k8s.d.ts
  frontend/providers/devbox/types/static.d.ts
  frontend/providers/devbox/types/user.d.ts
  frontend/providers/devbox/utils/adapt.ts
  frontend/providers/devbox/utils/json2Yaml.ts
Labels: size/XL, area/frontend

#5402 feat: reduce the number of stream memory copies
  service/aiproxy/common/custom-event.go
  service/aiproxy/common/render/event.go
  service/aiproxy/common/render/render.go
  service/aiproxy/relay/adaptor/aws/claude/main.go
  service/aiproxy/relay/adaptor/aws/llama3/main.go
  service/aiproxy/relay/adaptor/coze/adaptor.go
  service/aiproxy/relay/adaptor/coze/main.go
  service/aiproxy/relay/adaptor/openai/main.go
  service/aiproxy/relay/adaptor/openai/model.go
  service/aiproxy/relay/adaptor/openai/token.go
Labels: size/L, area/cloud

#5405 feat: xai
  service/aiproxy/controller/import.go
  service/aiproxy/model/owner.go
  service/aiproxy/relay/adaptor/xai/adaptor.go
  service/aiproxy/relay/adaptor/xai/constants.go
  service/aiproxy/relay/channeltype/define.go
Labels: size/L, area/cloud

#5409 feat: baidu keyhelp and doubao mega
  service/aiproxy/relay/adaptor/baidu/key.go
  service/aiproxy/relay/adaptor/baidu/token.go
  service/aiproxy/relay/adaptor/baiduv2/key.go
  service/aiproxy/relay/adaptor/baiduv2/token.go
  service/aiproxy/relay/adaptor/doubaoaudio/tts.go
Labels: size/M, area/cloud

#5411 fix: save empty key
  service/aiproxy/model/channel.go
Labels: size/XS, area/cloud

#5412 fix: empty key support
  service/aiproxy/controller/channel.go
  service/aiproxy/model/channel.go
Labels: size/XS, area/cloud

#5403 feat: support desktop invitation code input
  frontend/desktop/public/icons/inviter.svg
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/signin/auth/useSms.tsx
  frontend/providers/template/src/pages/api/getTemplateSource.ts
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/pages/index.tsx
Labels: size/L, area/frontend

#5417 fix: sealos cloud deploy script
  deploy/cloud/etc/sealos/.env.tmpl
  deploy/cloud/scripts/init.sh
  scripts/cloud/install.sh
Labels: size/S, area/ci

#5418 chore: Update ReadMe
  README.md
  README_zh.md
Labels: size/XS

#5416 feat: load status code from error code filed, and create global index
  service/aiproxy/controller/log.go
  service/aiproxy/controller/relay.go
  service/aiproxy/model/log.go
  service/aiproxy/relay/utils/error.go
  service/aiproxy/router/api.go
Labels: size/L, area/cloud

#5399 fix(desktop): twice captcha
  frontend/desktop/src/components/signin/Captcha/index.tsx
  frontend/desktop/src/components/signin/auth/useSms.tsx
  frontend/desktop/src/components/signin/index.tsx
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/services/backend/middleware/sms.ts
  frontend/desktop/src/stores/captcha.ts
Labels: size/L, area/frontend

#5421 feat: add a config when deploy sealos cloud in sealos-system
  deploy/admin/Kubefile
  deploy/admin/init.sh
  deploy/admin/scripts/init.sh
  deploy/cloud/manifests/sealos-config.yaml
  deploy/cloud/scripts/init.sh
Labels: size/L, area/ci

#5422 fix: higress deploy config
  scripts/cloud/install.sh
Labels: size/XS, area/ci

#5424 feat: make admin user id fixed
  controllers/job/init/internal/util/database/user.go
Labels: size/XS, area/cloud

#5426 fix: empty subnet
  service/aiproxy/middleware/auth.go
Labels: size/S, area/cloud

#5323 fix(frontend):perf email env
  frontend/desktop/src/components/account/AccountCenter/SmsModify/SmsBind.tsx
  frontend/desktop/src/components/account/AccountCenter/index.tsx
  frontend/desktop/src/pages/api/platform/getAuthConfig.ts
  frontend/desktop/src/services/backend/sms.ts
  frontend/desktop/src/services/enable.ts
  frontend/desktop/src/types/system.ts
Labels: size/L, area/frontend

#5428 feat: model cost rank and ali tts
  service/aiproxy/controller/dashboard.go
  service/aiproxy/model/log.go
  service/aiproxy/relay/adaptor/ali/stt-realtime.go
  service/aiproxy/router/api.go
Labels: size/L, area/cloud

#5429 fix: relay retry delay
  service/aiproxy/controller/relay.go
Labels: size/XS, area/cloud
