Repository labring/sealos, pull requests merged in 2025-04, with the labels that each got.

#5505 fix(devbox): devbox release protocol bug caused by applaunchpad
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Version.tsx
Labels: size/XS, area/frontend

#5414 feat: update launchpad nodeport
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/components/app/detail/index/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/constants/app.ts
  frontend/providers/applaunchpad/src/constants/editApp.ts
  frontend/providers/applaunchpad/src/mock/apps.ts
  frontend/providers/applaunchpad/src/pages/api/checkReady.ts
  frontend/providers/applaunchpad/src/pages/api/delApp.ts
  frontend/providers/applaunchpad/src/pages/api/getAppByAppName.ts
  frontend/providers/applaunchpad/src/pages/api/platform/resourcePrice.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/PriceBox.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/QuotaBox.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/services/backend/kubernetes.ts
  frontend/providers/applaunchpad/src/store/user.ts
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/types/user.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/devbox/app/api/checkReady/route.ts
  frontend/providers/invite/.env.template
  frontend/providers/invite/src/pages/index.tsx
  frontend/providers/objectstorage/src/pages/api/site/openHost.ts
  frontend/providers/template/src/pages/api/resource/delApplaunchpad.ts
Labels: size/L, area/frontend

#5506 Improve English UI text consistency and clarity
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/devbox/message/en.json
  frontend/providers/template/public/locales/en/common.json
Labels: size/M, area/frontend

#5510 Test update remove GH_PAT at labels bot.
  .github/workflows/bot-labels.yml
Labels: size/XS

#5512 Revert actions/labeler@v4
  .github/workflows/bot-labels.yml
Labels: size/XS

#5513 Try fix doc preview.
  .github/workflows/deploy-docs-preview.yml
Labels: size/XS, area/workflow

#5509 feat(devbox): create mcp support
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/BasicConfiguration/TemplateRepositorySelector/index.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/prisma/schema.prisma
  frontend/providers/devbox/public/images/mcp.svg
Labels: size/M, area/frontend

#5517 Try fix check-linter.
  .github/workflows/check-link-error.yml
Labels: size/XS, area/workflow

#5518 fix GITHUB_TOKEN permissions.
  .github/workflows/check-link-error.yml
Labels: size/XS, area/workflow

#5519 make workflows less permissive
  .github/workflows/bot-auto-cherry-pick.yml
  .github/workflows/bot-cherry-pick.yml
  .github/workflows/bot-issues-translator.yml
  .github/workflows/bot-labels.yml
  .github/workflows/bot.yml
  .github/workflows/check-link-error.yml
  .github/workflows/ci-patch-image.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/deploy-docs-preview.yml
  .github/workflows/docs-site-image.yml
  .github/workflows/e2e_k3s_multi_node.yml
  .github/workflows/e2e_k8s_multi_node.yml
  .github/workflows/frontend.yml
  .github/workflows/objectstorage.yaml
  .github/workflows/release.yml
  .github/workflows/services.yml
  .github/workflows/sync_code.yml
  .github/workflows/sync_docs.yml
  .github/workflows/webhooks.yml
Labels: size/M, area/workflow

#5521 Try FIx image build, and remove unused.
  .github/sync_docs.yml
  .github/workflows/bot-labels.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/services.yml
  .github/workflows/sync_docs.yml
Labels: size/M

#5492 feat: devbox cold shutdown.
  controllers/devbox/api/v1alpha1/devbox_types.go
  controllers/devbox/config/crd/bases/devbox.sealos.io_devboxes.yaml
  controllers/devbox/internal/controller/devbox_controller.go
  controllers/devbox/internal/controller/helper/devbox.go
Labels: size/L, area/cloud

#5525 fix: devbox release target image tag
  controllers/devbox/internal/controller/devboxrelease_controller.go
Labels: size/S, area/cloud

#5526 fix(devbox): release status perf
  frontend/providers/devbox/utils/adapt.ts
Labels: size/XS, area/frontend

#5530 fix(devbox&applaunchapd): network fetch bug
  frontend/providers/applaunchpad/src/pages/api/checkReady.ts
  frontend/providers/devbox/app/api/checkReady/route.ts
Labels: size/S, area/frontend

#5524 FIx doc doc.
  CONTRIBUTING.md
Labels: size/XS

#5529 fix: frontend packages permission
  .github/workflows/frontends.yml
Labels: size/XS, area/workflow

#5535 fix(devbox): transform to template bug
  frontend/providers/devbox/app/api/templateRepository/withTemplate/create/route.ts
  frontend/providers/devbox/app/api/templateRepository/withTemplate/update/route.ts
Labels: size/S, area/frontend

#5532 feat: add region switch proxy
  frontend/desktop/.eslintrc.json
  frontend/desktop/src/components/region/RegionToggle.tsx
  frontend/desktop/src/pages/api/platform/getCloudConfig.ts
  frontend/desktop/src/types/system.ts
  frontend/providers/applaunchpad/src/components/app/detail/index/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/switch-region/Dockerfile
  frontend/providers/switch-region/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/switch-region/index.html
  frontend/providers/switch-region/nginx.conf
  frontend/providers/terminal/src/components/terminal/index.tsx
Labels: size/L, area/frontend

#5533 feat: support custom scripts for aiproxy / applaunchpad / dbprovider / devbox
  frontend/providers/aiproxy/.env.template
  frontend/providers/aiproxy/.gitignore
  frontend/providers/aiproxy/app/[lng]/layout.tsx
  frontend/providers/applaunchpad/next.config.js
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/dbprovider/.env.template
  frontend/providers/dbprovider/src/pages/_app.tsx
  frontend/providers/dbprovider/src/pages/_document.tsx
  frontend/providers/devbox/.env.template
  frontend/providers/devbox/app/[lang]/layout.tsx
Labels: size/L, area/frontend

#5544 update: devbox deploy.yaml.tmpl to build latest cluster image
  controllers/devbox/deploy/manifests/deploy.yaml.tmpl
Labels: size/M, area/cloud

#5543 fix: devbox pod create logic should not retry on conflict, just return.
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/S, area/cloud

#5541 fix: frontend ci
  .github/workflows/frontend.yml
Labels: size/XS, area/workflow

#5548 feat(objectstorage) add user real name check
  frontend/pnpm-lock.yaml
  frontend/providers/objectstorage/package.json
  frontend/providers/objectstorage/public/locales/en/common.json
  frontend/providers/objectstorage/public/locales/zh/common.json
  frontend/providers/objectstorage/src/components/BucketContainer/HostStatus.tsx
  frontend/providers/objectstorage/src/pages/api/site/openHost.ts
  frontend/providers/objectstorage/src/utils/isRealName.ts
Labels: size/L, area/frontend

#5542 chore(aiproxy): adjust price display and add sline interface
  frontend/pnpm-lock.yaml
  frontend/providers/aiproxy/app/[lng]/(admin)/dashboard/components/ChannelTable.tsx
  frontend/providers/aiproxy/app/[lng]/(admin)/dashboard/components/UpdateChannelModal.tsx
  frontend/providers/aiproxy/app/[lng]/(admin)/global-configs/components/CommonConfig.tsx
  frontend/providers/aiproxy/app/[lng]/(admin)/global-configs/components/ModelConfig.tsx
  frontend/providers/aiproxy/app/[lng]/(admin)/global-configs/page.tsx
  frontend/providers/aiproxy/app/[lng]/(admin)/layout.tsx
  frontend/providers/aiproxy/app/[lng]/(admin)/ns-manager/page.tsx
  frontend/providers/aiproxy/app/[lng]/(user)/key/page.tsx
  frontend/providers/aiproxy/app/[lng]/(user)/layout.tsx
  frontend/providers/aiproxy/app/[lng]/(user)/log/components/LogDetailModal.tsx
  frontend/providers/aiproxy/app/[lng]/(user)/log/page.tsx
  frontend/providers/aiproxy/app/[lng]/(user)/price/component/ApiDoc.tsx
  frontend/providers/aiproxy/app/[lng]/(user)/price/component/CodeHight.tsx
  frontend/providers/aiproxy/app/[lng]/(user)/price/component/Model.tsx
  frontend/providers/aiproxy/app/[lng]/(user)/price/component/PriceTable.tsx
  frontend/providers/aiproxy/app/[lng]/(user)/price/page.tsx
  frontend/providers/aiproxy/app/api/keyhub/route.ts
  frontend/providers/aiproxy/app/api/user/dashboard/route.ts
  frontend/providers/aiproxy/app/api/user/log/route.ts
  frontend/providers/aiproxy/app/i18n/locales/en/common.json
  frontend/providers/aiproxy/app/i18n/locales/zh/common.json
  frontend/providers/aiproxy/components/admin/Sidebar.tsx
  frontend/providers/aiproxy/components/user/KeyList.tsx
  frontend/providers/aiproxy/components/user/Sidebar.tsx
  frontend/providers/aiproxy/package.json
  frontend/providers/aiproxy/types/app-config.d.ts
  frontend/providers/aiproxy/types/global.d.ts
  frontend/providers/aiproxy/types/models/model.ts
  frontend/providers/aiproxy/types/user/dashboard.ts
  frontend/providers/aiproxy/types/user/logs.ts
  frontend/providers/aiproxy/utils/backend/auth.ts
  frontend/providers/aiproxy/utils/backend/check-kc.ts
Labels: size/XXL, area/frontend

#5534 fix: 文档字段描述有误
  docs/4.0/docs/self-hosting/lifecycle-management/advanced-guide/image-build-standardized.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/advanced-guide/image-build-standardized.md
  docs/5.0/docs/developer-guide/lifecycle-management/advanced-guide/image-build-standardized.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/advanced-guide/image-build-standardized.md
Labels: kind/documentation, size/M, area/cloud

#5549 fix(aiproxy): fix kc auth
  frontend/providers/aiproxy/.env.template
  frontend/providers/aiproxy/utils/backend/check-kc.ts
  frontend/providers/objectstorage/src/pages/api/site/openHost.ts
  frontend/providers/objectstorage/src/services/request.ts
  frontend/providers/objectstorage/src/utils/user.ts
Labels: size/M, area/frontend

#5540 chore: optimize app deletion warning message
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/components/app/detail/index/DelModal.tsx
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/pages/db/detail/components/DelModal.tsx
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
Labels: size/M, area/frontend

#5528 feat(devbox): support Jetbrains Toolbox
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/components/Icon/icons/gateway.svg
  frontend/providers/devbox/components/Icon/icons/jetbrains.svg
  frontend/providers/devbox/components/Icon/icons/toolbox.svg
  frontend/providers/devbox/components/Icon/index.tsx
  frontend/providers/devbox/components/modals/ToolboxModal.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/stores/global.ts
  frontend/providers/devbox/stores/ide.ts
Labels: size/L, area/frontend

#5552 optimize recharge discount step
  controllers/account/Makefile
  controllers/account/controllers/account_controller.go
  controllers/account/controllers/payment_controller.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/types/activity.go
  controllers/pkg/types/config.go
  service/account/Makefile
  service/account/helper/request.go
Labels: size/L, area/cloud

#5551 feat: Add SDK whitelist and optimize database API
  frontend/desktop/data/config.yaml
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/pages/api/auth/getKubeconfig.ts
  frontend/desktop/src/pages/api/platform/getCloudConfig.ts
  frontend/desktop/src/types/system.ts
  frontend/packages/client-sdk/src/master.ts
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/_document.tsx
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/api/getDBByName.ts
  frontend/providers/dbprovider/src/pages/api/getDBList.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Labels: size/L, area/frontend

#5547 perf(devbox): some little perf
  frontend/providers/devbox/api/platform.ts
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/DevboxList.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/form/BasicConfiguration/TemplateRepositorySelector/index.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/layout.tsx
  frontend/providers/devbox/app/api/platform/getDebt/route.ts
  frontend/providers/devbox/app/api/startDevbox/route.ts
  frontend/providers/devbox/app/api/v1/getDevboxDetail/route.ts
  frontend/providers/devbox/components/modals/ErrorModal.tsx
  frontend/providers/devbox/components/modals/ReleaseModal.tsx
  frontend/providers/devbox/hooks/useConfirm.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
  frontend/providers/devbox/services/backend/kubernetes.ts
  frontend/providers/devbox/services/request.ts
  frontend/providers/devbox/stores/user.ts
  frontend/providers/devbox/types/user.d.ts
  frontend/providers/devbox/utils/adapt.ts
Labels: size/L, area/frontend

#5555 feat(desktop): change real name reward
  frontend/desktop/src/pages/api/account/enterpriseRealName.ts
  frontend/desktop/src/pages/api/account/enterpriseRealNameVerify.ts
  frontend/desktop/src/pages/api/account/faceIdRealNameAuthCallback.ts
Labels: size/XL, area/frontend

#5553 add simple health check for account svc
  service/account/deploy/manifests/deploy.yaml.tmpl
  service/account/router/router.go
Labels: size/S, area/cloud

#5557 feat: desktop add banner
  frontend/desktop/data/config.yaml
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/banner/index.tsx
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/types/system.ts
  frontend/packages/client-sdk/src/master.ts
  frontend/providers/applaunchpad/src/pages/_app.tsx
Labels: size/L, area/frontend

#5537 feat: apps delete quote check
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/index.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/template/src/pages/deploy/index.tsx
Labels: size/L, area/frontend
