Repository labring/sealos, pull requests merged in 2025-05, with the labels that each got.

#5579 fix: service nodeport modification issue
  frontend/providers/applaunchpad/src/pages/api/updateApp.ts
Labels: size/S, area/frontend

#5538 Feat/auto update quota
  controllers/account/Makefile
  controllers/resources/Makefile
  controllers/resources/controllers/quota_controller.go
  controllers/resources/deploy/manifests/deploy.yaml
  controllers/resources/main.go
Labels: size/L, area/cloud

#5576 refactor: simplify invitation app
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/package.json
  frontend/providers/invite/package.json
  frontend/providers/invite/public/locales/en/common.json
  frontend/providers/invite/public/locales/zh/common.json
  frontend/providers/invite/public/sealos.svg
  frontend/providers/invite/src/api/account.ts
  frontend/providers/invite/src/pages/api/account/list.ts
  frontend/providers/invite/src/pages/index.tsx
  frontend/providers/invite/src/styles/reset.scss
Labels: size/XL, area/frontend

#5582 fix: add database billing in template system
  frontend/providers/template/src/pages/api/updateRepo.ts
  frontend/providers/template/src/pages/deploy/index.tsx
  frontend/providers/template/src/utils/usage.ts
Labels: size/M, area/frontend

#5586 Compatible with pgsql syntax: current_timestamp() => current_timestamp
  controllers/account/api/v1/debt_types.go
  controllers/account/controllers/debt.go
  controllers/account/controllers/namespace_controller.go
  controllers/account/controllers/subscription.go
  controllers/account/deploy/manifests/deploy.yaml
  controllers/account/go.mod
  controllers/account/go.sum
  controllers/go.work.sum
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/pkg/types/credits.go
  controllers/pkg/types/debt.go
  controllers/pkg/types/global.go
  controllers/pkg/types/payment.go
  controllers/pkg/types/task.go
  service/account/api/credits.go
  service/account/api/credits_test.go
  service/account/api/subscription_process.go
  service/account/dao/interface.go
  service/account/helper/common.go
  service/account/router/router.go
  service/go.work.sum
Labels: size/XL, area/cloud, area/test

#5593 debt webhook cache user account info
  controllers/account/api/v1/debt_webhook.go
  controllers/account/main.go
  controllers/pkg/utils/maps/ttl_map.go
  controllers/pkg/utils/maps/ttl_map_test.go
Labels: size/L, area/cloud, area/test

#5598 fix debt send msg
  controllers/account/controllers/debt.go
Labels: size/S, area/cloud

#5599 Optimize/namespace controller
  controllers/account/controllers/namespace_controller.go
  controllers/account/controllers/utils/rate_limiter.go
  controllers/account/main.go
Labels: size/M, area/cloud

#5601 feat(desktop) add account updated_at field and add account banned logic
  frontend/desktop/prisma/global/migrations/20250514025456_add_account_updated_at_field/migration.sql
  frontend/desktop/prisma/global/schema.prisma
  frontend/desktop/src/pages/api/account/enterpriseRealNameVerify.ts
  frontend/desktop/src/pages/api/account/faceIdRealNameAuthCallback.ts
  frontend/desktop/src/pages/api/auth/oauth/oauth2/index.ts
  frontend/desktop/src/pages/api/auth/password/index.ts
  frontend/desktop/src/pages/api/auth/publicWechat/getWechatResult.ts
  frontend/desktop/src/pages/proxyOAuth.tsx
  frontend/desktop/src/services/backend/globalAuth.ts
  frontend/desktop/src/services/backend/svc/access.ts
  frontend/desktop/src/services/request.ts
Labels: size/M, area/frontend

#5602 Fix/debt process time range
  controllers/account/controllers/debt.go
  controllers/account/controllers/subscription.go
  controllers/pkg/database/cockroach/accountv2.go
Labels: size/L, area/cloud

#5607 Refactor mergeUserCr to handle user workspace roles
  frontend/desktop/src/services/backend/cronjob/mergeUserCr.ts
Labels: size/M, area/frontend

#5606 fix assignment user uid to UserQueryOpts
  controllers/pkg/database/cockroach/accountv2.go
Labels: size/XS, area/cloud

#5619 Cleanup some docs.
  docs/4.0/docs/examples/images/illa1.jpg
  docs/4.0/docs/examples/images/illa2.jpg
  docs/4.0/docs/examples/images/illa3.jpg
  docs/4.0/docs/examples/images/illa_create_app.jpg
  docs/4.0/docs/examples/images/illa_deploy.jpg
  docs/4.0/docs/examples/images/illa_home.jpg
  docs/4.0/docs/examples/images/illa_log_in.jpeg
  docs/4.0/docs/examples/images/illa_run.jpg
  docs/4.0/docs/examples/low-code-platform/install-illacloud.md
  docs/4.0/i18n/zh-Hans/examples/images/illa0.png
  docs/4.0/i18n/zh-Hans/examples/images/illa1.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa2.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa3.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa4.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa5.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa6.jpg
  docs/4.0/i18n/zh-Hans/examples/images/illa_home.jpg
  docs/4.0/i18n/zh-Hans/examples/low-code-platform/install-illacloud.md
  docs/5.0/docs/quick-start/examples/images/illa1.jpg
  docs/5.0/docs/quick-start/examples/images/illa2.jpg
  docs/5.0/docs/quick-start/examples/images/illa3.jpg
  docs/5.0/docs/quick-start/examples/images/illa_create_app.jpg
  docs/5.0/docs/quick-start/examples/images/illa_deploy.jpg
  docs/5.0/docs/quick-start/examples/images/illa_home.jpg
  docs/5.0/docs/quick-start/examples/images/illa_log_in.jpeg
  docs/5.0/docs/quick-start/examples/images/illa_run.jpg
  docs/5.0/docs/quick-start/examples/low-code-platform/install-illacloud.md
  docs/5.0/i18n/zh-Hans/quick-start/examples/images/illa0.png
  docs/5.0/i18n/zh-Hans/quick-start/examples/images/illa1.jpg
  docs/5.0/i18n/zh-Hans/quick-start/examples/images/illa2.jpg
  docs/5.0/i18n/zh-Hans/quick-start/examples/images/illa3.jpg
  docs/5.0/i18n/zh-Hans/quick-start/examples/images/illa4.jpg
  docs/5.0/i18n/zh-Hans/quick-start/examples/images/illa5.jpg
  docs/5.0/i18n/zh-Hans/quick-start/examples/images/illa6.jpg
  docs/5.0/i18n/zh-Hans/quick-start/examples/images/illa_home.jpg
  docs/5.0/i18n/zh-Hans/quick-start/examples/low-code-platform/install-illacloud.md
Labels: kind/documentation, size/L, area/cloud

#5623 fix skip abnormal user subscriptions
  controllers/pkg/types/subscription.go
  service/account/api/subscription_process.go
Labels: size/M, area/cloud
