Repository labring/sealos, pull requests merged in 2025-07, with the labels that each got.

#5670 fix: sealos desktop sdk
  frontend/packages/client-sdk/src/master.ts
Labels: size/S, area/frontend

#5672 fix: objectstorage openHost
  .github/workflows/frontends.yml
  frontend/providers/applaunchpad/src/pages/api/v1alpha/createApp.ts
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/objectstorage/src/pages/api/site/openHost.ts
Labels: size/XS, area/frontend, area/workflow

#5671 fix(devbox): openapi show bug
  frontend/providers/devbox/app/api/openapi/route.ts
  frontend/providers/devbox/app/reference/page.tsx
Labels: size/XS, area/frontend

#5680 fix(desktop): sem&ad click data not correctly stored sometimes
  frontend/desktop/src/hooks/useSemParams.ts
  frontend/desktop/src/services/backend/globalAuth.ts
Labels: size/XS, area/frontend

#5684 fix:launchpad internal tcp address
  frontend/providers/applaunchpad/src/components/app/detail/index/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
Labels: size/M, area/frontend

#5690 feat(desktop): better ux when chaging phone/email binding
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/src/components/account/AccountCenter/SmsModify/SmsChange.tsx
  frontend/desktop/src/components/account/AccountCenter/index.tsx
  frontend/desktop/src/services/backend/middleware/sms.ts
Labels: size/M, area/frontend

#5691 fix(desktop): ux issue on workspace creation popover in /workspace
  frontend/desktop/src/components/v2/Workspace.tsx
  frontend/desktop/src/stores/initWorkspace.ts
Labels: size/L, area/frontend

#5693 fix(desktop): add missing forced language logic
  frontend/desktop/src/components/v2/SignLayout.tsx
Labels: size/XS, area/frontend

#5679 support alipay
  controllers/account/controllers/payment_controller.go
  controllers/pkg/account/env.go
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/pay/alipay_payment.go
  controllers/pkg/pay/interface.go
  controllers/pkg/pay/stripe.go
  controllers/pkg/pay/wechat.go
  controllers/resources/controllers/quota_controller.go
  frontend/providers/costcenter/.env
  frontend/providers/costcenter/deploy/manifests/configmap.yaml.tmpl
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/assert/ic_baseline-alipay.svg
  frontend/providers/costcenter/src/components/RechargeModal.tsx
  frontend/providers/costcenter/src/constants/payment.ts
  frontend/providers/costcenter/src/pages/_app.tsx
  frontend/providers/costcenter/src/pages/api/platform/getAppConfig.ts
  frontend/providers/costcenter/src/stores/env.ts
  frontend/providers/costcenter/src/types/config.ts
  frontend/providers/costcenter/src/types/env.ts
Labels: size/L, area/cloud, area/frontend

#5683 fix: account merge issue
  frontend/desktop/src/services/backend/cronjob/mergeUserCr.ts
  frontend/desktop/src/services/backend/regionAuth.ts
Labels: size/L, area/frontend

#5700 fix(desktop): hide logo on mobile screens
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
Labels: size/S, area/frontend

#5707 chore: update version
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/package.nls.zh-CN.json
Labels: size/XS

#5702 fix(desktop): send button in change phone/email form not disabled on timer
  frontend/desktop/src/components/account/AccountCenter/SmsModify/SmsChange.tsx
Labels: size/S, area/frontend

#5678 Fix includes empty namespace
  service/account/api/subscription.go
Labels: size/XS, area/cloud

#5713 :ci: delete stale.yml
  .github/stale.yml
Labels: size/S, area/workflow

#5714 fix(desktop): incorrect titlecase in mail subject
  frontend/desktop/src/services/backend/sms.ts
Labels: size/XS, area/frontend

#5717 fix(desktop): email/phone binding/unbinding ux improvments
  frontend/desktop/package.json
  frontend/desktop/public/locales/en/common.json
  frontend/desktop/public/locales/en/v2.json
  frontend/desktop/public/locales/zh/common.json
  frontend/desktop/public/locales/zh/v2.json
  frontend/desktop/src/components/account/AccountCenter/index.tsx
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/desktop/src/components/v2/PhoneCheck.tsx
  frontend/desktop/src/pages/api/auth/email/bind/sms.ts
  frontend/desktop/src/pages/api/auth/email/unbind/sms.ts
  frontend/desktop/src/pages/api/auth/phone/bind/sms.ts
  frontend/desktop/src/pages/api/auth/phone/sms.ts
  frontend/desktop/src/pages/api/auth/phone/unbind/sms.ts
  frontend/pnpm-lock.yaml
Labels: size/L, area/frontend

#5715 fix(main): validate kubeadm config files before pulling images
  .github/workflows/e2e_test_core.yml
  lifecycle/pkg/runtime/kubernetes/master.go
  lifecycle/test/e2e/k8s_129_test.go
  lifecycle/test/e2e/k8s_130_test.go
  lifecycle/test/e2e/k8s_131_test.go
  lifecycle/test/e2e/k8s_132_test.go
  lifecycle/test/e2e/k8s_docker_129_test.go
  lifecycle/test/e2e/k8s_docker_130_test.go
  lifecycle/test/e2e/k8s_docker_131_test.go
  lifecycle/test/e2e/k8s_docker_132_test.go
Labels: size/L, area/test, area/workflow, area/lifecycle-management, area/runtime

#5724 add pods limit, default: 20
  controllers/pkg/resources/resources.go
Labels: size/XS, area/cloud

#5719 Update LICENSE
  LICENSE
Labels: size/L

#5701 feat(launchpad): new custom domain form
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/CustomAccessModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/DomainNotBoundModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/store/static.ts
  frontend/providers/applaunchpad/src/types/index.d.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: size/XXL, area/frontend

#5703 feat(desktop): desktop design catchup
  frontend/desktop/src/components/SecondaryLinks/index.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/desktop/src/components/v2/PhoneCheck.tsx
Labels: size/XL, area/frontend

#5726 Corporate
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/cockroach/accountv2_test.go
  controllers/pkg/pay/interface.go
  controllers/pkg/pay/wechat.go
  controllers/pkg/types/payment.go
  service/account/api/admin.go
  service/account/dao/interface.go
  service/account/helper/common.go
  service/account/router/router.go
Labels: size/L, area/cloud, area/test

#5732 fix(desktop): remove recharge entry restriction
  frontend/desktop/src/components/SecondaryLinks/index.tsx
Labels: size/M, area/frontend

#5731 feat: push image to acr
  .github/workflows/cloud-release.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/frontend.yml
  .github/workflows/release.yml
  .github/workflows/services.yml
  scripts/resolve-tag-image.sh
Labels: size/L, area/ci, area/workflow

#5740 fix(sync): update source paths and sync action configuration
  .github/sync_code.yml
  .github/weekly-digest.yml
  .github/workflows/bot-auto-cherry-pick.yml
  .github/workflows/bot-cherry-pick.yml
  .github/workflows/sync_code.yml
Labels: size/L, area/workflow

#5723 feat(database): database api v1 create/modify endpoint
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/package.json
  frontend/providers/dbprovider/src/pages/api-docs.tsx
  frontend/providers/dbprovider/src/pages/api/v1/database.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName].ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/pause.ts
  frontend/providers/dbprovider/src/pages/api/v1/database/[databaseName]/start.ts
  frontend/providers/dbprovider/src/pages/api/v1/openapi.ts
  frontend/providers/dbprovider/src/services/backend/apis/create-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/pause-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/start-database.ts
  frontend/providers/dbprovider/src/services/backend/apis/update-database.ts
  frontend/providers/dbprovider/src/types/apis/create-database.ts
  frontend/providers/dbprovider/src/types/apis/index.ts
  frontend/providers/dbprovider/src/types/apis/pause-database.ts
  frontend/providers/dbprovider/src/types/apis/start-database.ts
  frontend/providers/dbprovider/src/types/apis/update-database.ts
  frontend/providers/dbprovider/src/types/schemas/backup.ts
  frontend/providers/dbprovider/src/types/schemas/db.ts
Labels: size/XL, area/frontend

#5733 feat: track gtm v2 events
  frontend/desktop/data/config.yaml
  frontend/desktop/src/components/AppDock/index.tsx
  frontend/desktop/src/components/account/GuideModal.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
  frontend/desktop/src/components/team/CreateTeam.tsx
  frontend/desktop/src/components/team/DissolveTeam.tsx
  frontend/desktop/src/components/team/InviteMember.tsx
  frontend/desktop/src/components/team/TeamCenter.tsx
  frontend/desktop/src/components/team/WorkspaceToggle.tsx
  frontend/desktop/src/pages/WorkspaceInvite.tsx
  frontend/desktop/src/pages/_app.tsx
  frontend/desktop/src/stores/app.ts
  frontend/desktop/src/types/system.ts
  frontend/desktop/src/utils/gtm.ts
  frontend/packages/gtm/src/components/GTMScript.tsx
  frontend/packages/gtm/src/track.ts
  frontend/packages/gtm/src/types.ts
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/data/config.yaml
  frontend/providers/applaunchpad/package.json
  frontend/providers/applaunchpad/src/api/app.ts
  frontend/providers/applaunchpad/src/components/app/detail/index/Pods.tsx
  frontend/providers/applaunchpad/src/components/apps/appList.tsx
  frontend/providers/applaunchpad/src/pages/_app.tsx
  frontend/providers/applaunchpad/src/pages/api/platform/getInitData.ts
  frontend/providers/applaunchpad/src/pages/app/detail/index.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/logs.tsx
  frontend/providers/applaunchpad/src/pages/app/detail/monitor.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/index.tsx
  frontend/providers/applaunchpad/src/types/index.d.ts
Labels: size/XL, area/frontend

#5741 docs: update contribution policy and guidelines in README
  lifecycle/scripts/make-rules/license.mk
  lifecycle/staging/src/github.com/labring/image-cri-shim/.github/workflows/close-pr.yml
  lifecycle/staging/src/github.com/labring/image-cri-shim/README.md
  lifecycle/staging/src/github.com/labring/lvscare/.github/workflows/close-pr.yml
  lifecycle/staging/src/github.com/labring/lvscare/README.md
Labels: area/imageCRIShim, area/lvscare, size/L, area/ci, area/lifecycle-management

#5742 fix(ci): update paths to use PROJECT_PATH variable in ci-patch-image.yml
  .github/workflows/ci-patch-image.yml
Labels: size/S, area/workflow

#5748 Revert "Update LICENSE"
  LICENSE
Labels: size/L
