Repository labring/sealos, pull requests merged in 2025-08, with the labels that each got.

#5739 fix(devbox): devbox v2 some little bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Form.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/PriceBox.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Runtime.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Monitor.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/page.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/Header.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PrivateTemplate.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PublicTemplate.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/TemplateCard.tsx
  frontend/providers/devbox/components/DatePicker.tsx
  frontend/providers/devbox/components/MonitorChart.tsx
  frontend/providers/devbox/components/dialogs/ReleaseDialog.tsx
  frontend/providers/devbox/components/drawers/DeployDevboxDrawer.tsx
  frontend/providers/devbox/components/ui/form.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
Labels: size/L, area/frontend

#5718 chore(deps): update Go version and dependencies to latest versions
  .github/workflows/check-coverage.yml
  .github/workflows/check-license.yml
  .github/workflows/check-link-error.yml
  .github/workflows/ci-patch-image.yml
  .github/workflows/ci.yml
  .github/workflows/import-patch-image.yml
  .github/workflows/release.yml
  lifecycle/cmd/sealos/cmd/cert.go
  lifecycle/go.mod
  lifecycle/go.sum
  lifecycle/go.work
  lifecycle/go.work.sum
  lifecycle/pkg/checker/registry_checker.go
  lifecycle/pkg/runtime/decode/decode.go
  lifecycle/pkg/runtime/kubernetes/certs.go
  lifecycle/pkg/runtime/kubernetes/kubeadm.go
  lifecycle/pkg/runtime/kubernetes/types/consts.go
  lifecycle/pkg/runtime/kubernetes/types/default_kubeadm_config.go
  lifecycle/pkg/runtime/kubernetes/types/kubeadm_config.go
  lifecycle/pkg/runtime/kubernetes/types/kubeadm_config_test.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/go.mod
  lifecycle/staging/src/github.com/labring/image-cri-shim/go.sum
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/server/cri_server_v1.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/server/server.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/server/utils.go
  lifecycle/staging/src/github.com/labring/image-cri-shim/pkg/types/config.go
  lifecycle/staging/src/github.com/labring/lvscare/care/iptables.go
  lifecycle/staging/src/github.com/labring/lvscare/care/proxier.go
  lifecycle/staging/src/github.com/labring/lvscare/go.mod
  lifecycle/staging/src/github.com/labring/lvscare/go.sum
  lifecycle/test/e2e/apply_docker_test.go
  lifecycle/test/e2e/apply_test.go
  lifecycle/test/e2e/cert_test.go
  lifecycle/test/e2e/filesystem_test.go
  lifecycle/test/e2e/go.mod
  lifecycle/test/e2e/images_buildrun_feature_test.go
  lifecycle/test/e2e/images_buildrun_test.go
  lifecycle/test/e2e/k3s_125_test.go
  lifecycle/test/e2e/run_docker_test.go
  lifecycle/test/e2e/run_test.go
Labels: area/imageCRIShim, area/lvscare, size/XXL, area/check, area/test, area/command, area/workflow, area/lifecycle-management, area/runtime

#5743 fix(check-link-error): refine workflow triggers and enhance comment handling for pull requests
  .github/workflows/check-link-error.yml
  lychee.toml
Labels: size/M, area/workflow

#5746 fix(ci): update permissions and script path in ci-patch-image.yml
  .github/workflows/ci-patch-image.yml
Labels: size/S, area/workflow

#5754 fix(launchpad): app error state not correctly shown
  frontend/providers/applaunchpad/src/store/app.ts
Labels: size/XS, area/frontend

#5730 feat(database): add GTM v2 tracking for database module navigation and operations
  frontend/pnpm-lock.yaml
  frontend/providers/dbprovider/package.json
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/DelModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/empty.tsx
  frontend/providers/dbprovider/src/pages/dbs/index.tsx
Labels: size/L, area/frontend

#5757 feat(desktop): basic layout for mobile version of the guide modal
  frontend/desktop/src/components/SecondaryLinks/index.tsx
  frontend/desktop/src/components/account/AccountCenter/ConfigItem.tsx
  frontend/desktop/src/components/account/GuideModal.tsx
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/apps.tsx
Labels: size/L, area/frontend

#5798 fix(devbox): template show bug
  frontend/providers/devbox/app/api/templateRepository/list/route.ts
Labels: size/M, area/frontend

#5788 chore(license): replace Apache License with Sealos Sustainable Use License
  CONTRIBUTOR_LICENSE_AGREEMENT.md
  LICENSE
  LICENSE.md
Labels: size/L

#5802 fix(sync): update LICENSE file references to LICENSE.md in sync_code.yml
  .github/sync_code.yml
Labels: size/XS, area/workflow

#5811 fix(docs): update LICENSE file references
  frontend/packages/client-sdk/README.md
  frontend/packages/client-sdk/README_zh.md
Labels: size/XS, area/frontend

#5807 feat(ci): add automated workflow for updating tagpr configuration
  .github/workflows/new_version_dispatch.yml
Labels: size/M, area/workflow

#5712 feat(template): template api v1
  frontend/pnpm-lock.yaml
  frontend/providers/costcenter/public/locales/en/common.json
  frontend/providers/costcenter/public/locales/zh/common.json
  frontend/providers/costcenter/src/components/billing/RechargeTabPanel.tsx
  frontend/providers/costcenter/src/constants/billing.ts
  frontend/providers/template/package.json
  frontend/providers/template/src/pages/api-docs.tsx
  frontend/providers/template/src/pages/api/v1/instance/[instanceName].ts
  frontend/providers/template/src/pages/api/v1/openapi.ts
  frontend/providers/template/src/services/backend/operations.ts
  frontend/providers/template/src/types/apis/delete-instance.ts
  frontend/providers/template/src/types/apis/index.ts
Labels: size/XXL, area/frontend

#5814 feat(dbprovider)：add remark function & fix database creation time
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/api/remark.ts
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/tools.ts
Labels: size/L, area/frontend

#5818 fix(security): add non-root user to Dockerfile and update TLS configuration in req.go
  lifecycle/docker/patch/Dockerfile
  service/exceptionmonitor/Dockerfile
  service/vlogs/request/req.go
Labels: size/XS, area/cloud, area/ci

#5821 fix(devbox): template list show bug
  frontend/providers/devbox/app/[lang]/(platform)/template/components/PublicTemplate.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
Labels: size/XS

#5815 feat(frontend): gtmv2 guide events
  frontend/desktop/src/components/account/GuideModal.tsx
  frontend/desktop/src/components/account/driver.tsx
  frontend/pnpm-lock.yaml
  frontend/providers/applaunchpad/src/hooks/driver.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Header.tsx
  frontend/providers/applaunchpad/src/store/guide.ts
  frontend/providers/dbprovider/src/hooks/driver.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Header.tsx
  frontend/providers/dbprovider/src/store/guide.ts
  frontend/providers/devbox/app/[lang]/(platform)/devbox/create/components/Header.tsx
  frontend/providers/devbox/hooks/driver.tsx
  frontend/providers/devbox/stores/guide.ts
  frontend/providers/template/package.json
  frontend/providers/template/src/components/layout/appmenu.tsx
  frontend/providers/template/src/hooks/driver.tsx
  frontend/providers/template/src/pages/deploy/components/Header.tsx
  frontend/providers/template/src/store/guide.ts
Labels: size/L, area/frontend

#5819 feat(desktop): prompt on github email conflicts with another user
  frontend/desktop/public/locales/en/v2.json
  frontend/desktop/public/locales/zh/v2.json
  frontend/desktop/src/api/auth.ts
  frontend/desktop/src/components/v2/GitHubReauthPrompt.tsx
  frontend/desktop/src/components/v2/Sign.tsx
  frontend/desktop/src/components/v2/SignLayout.tsx
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/proxyOAuth.tsx
  frontend/desktop/src/services/backend/globalAuth.ts
  frontend/desktop/src/services/backend/svc/access.ts
  frontend/desktop/src/stores/session.ts
  frontend/desktop/src/stores/signinPageStore.ts
  frontend/desktop/src/utils/oauth2.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
Labels: size/L, area/frontend

#5832 fix(ci): update GitHub Actions token and committer information in tagpr.yml
  .github/workflows/new_version_dispatch.yml
  .github/workflows/tagpr.yml
Labels: size/S, area/workflow

#5835 fix(launchpad): extract AppCR URL update logic to prevent API response blocking
  frontend/providers/applaunchpad/src/pages/api/updateApp.ts
Labels: size/L, area/frontend

#5828 feat(launchpad): use deterministic hash for service names
  frontend/providers/applaunchpad/src/components/app/detail/logs/Header.tsx
  frontend/providers/applaunchpad/src/constants/editApp.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
Labels: size/M, area/frontend

#5831 fix(devbox): openapi show bug
  frontend/providers/devbox/app/api/openapi/route.ts
Labels: size/XL, area/frontend

#5837 fix(ci): enable fetching tags in GitHub Actions workflow for changelog generation
  .github/workflows/tagpr.yml
Labels: size/XS, area/workflow

#5826 feat(dbprovider): Chat2DB adapt
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/public/redirect.html
  frontend/providers/dbprovider/src/constants/chat2db.ts
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/api/getEnv.ts
  frontend/providers/dbprovider/src/pages/api/proxy/sync_data_source_a.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/AppBaseInfo.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Header.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/Pods.tsx
  frontend/providers/dbprovider/src/pages/db/detail/index.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/pages/db/migrate/index.tsx
  frontend/providers/dbprovider/src/pages/dbs/components/dbList.tsx
  frontend/providers/dbprovider/src/services/chat2db/datasource.ts
  frontend/providers/dbprovider/src/services/chat2db/user.ts
  frontend/providers/dbprovider/src/store/db.ts
  frontend/providers/dbprovider/src/store/env.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/database.ts
  frontend/providers/dbprovider/src/utils/encrypt.ts
Labels: size/XXL, area/frontend

#5845 chore: remove CONTRIBUTORS file references from CI configuration
  .github/workflows/check-coverage.yml
  .github/workflows/check-format-code.yml
  .github/workflows/check-license.yml
  .github/workflows/check-semgrep.yml
  .github/workflows/ci-patch-image.yml
  .github/workflows/ci.yml
  CONTRIBUTORS
  lifecycle/Makefile
Labels: size/L, area/ci, area/workflow

#5858 Update the Sealos demonstration video
  README.md
  README_zh.md
Labels: size/S

#5790 feat(pr-lint): add workflow for linting pull request titles
  .github/workflows/check-pr-title-lint-semantic.yml
  .github/workflows/new_version_dispatch.yml
  .github/workflows/tagpr.yml
Labels: size/M, area/workflow

#5860 feat(pr-lint): update workflow to validate pull request titles against semantic rules
  .github/workflows/check-pr-title-lint-semantic.yml
Labels: size/M, area/workflow

#5870 fix(desktop): do not try closing the page in app running prompt
  frontend/desktop/src/components/account/index.tsx
  frontend/desktop/src/components/desktop_content/AppsRunningPrompt.tsx
Labels: size/S, area/frontend

#5874 fix(ci): fix cloud release version
  .github/workflows/cloud-release.yml
  .github/workflows/controllers.yml
  .github/workflows/frontends.yml
  .github/workflows/release.yml
  .github/workflows/services.yml
  .github/workflows/tagpr.yml
  deploy/cloud/init.sh
Labels: size/L, area/ci, area/workflow

#5750 fix(dbprovider): resolve migration failure error display issue
  frontend/providers/dbprovider/src/api/platform.ts
  frontend/providers/dbprovider/src/pages/api/minio/upload.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/DumpImport/index.tsx
Labels: size/L, area/frontend

#5876 fix(changelog): update sorting criteria and improve title mapping in config
  .chglog/config.yml
Labels: size/XS

#5880 fix(changelog): remove outdated entries and clean up formatting for v5.1.0-beta1
  CHANGELOG/CHANGELOG-5.1.0-beta1.md
Labels: size/S

#5883 fix(changelog): update release notes path in CI configuration and copy latest changelog
  .github/workflows/release.yml
  scripts/changelog.sh
Labels: size/XS, area/ci, area/workflow

#5884 revert(desktop): disable desktop closing alert
  frontend/desktop/src/components/desktop_content/index.tsx
Labels: size/XS, area/frontend

#5882 fix(desktop): fix workspace not quitting properly
  frontend/desktop/src/pages/api/auth/namespace/removeUser.ts
Labels: size/S, area/frontend

#5889 feat(kubeadm): increase event burst and QPS limits, adjust image GC thresholds
  lifecycle/pkg/runtime/kubernetes/types/default_kubeadm_config.go
Labels: size/S, area/lifecycle-management, area/runtime
