Repository labring/sealos, pull requests merged in 2025-06, with the labels that each got.

#5624 support pods/service limit
  controllers/pkg/resources/resources.go
Labels: size/XS, area/cloud

#5629 support the suspension and resumption of export network services
  controllers/account/controllers/subscription.go
  controllers/account/controllers/subscription_test.go
  controllers/account/controllers/user_traffic_controller.go
  controllers/account/controllers/utils/subscription_cache.go
  controllers/account/main.go
  controllers/pkg/database/cockroach/accountv2.go
  controllers/pkg/database/interface.go
  controllers/pkg/database/mongo/traffic.go
  controllers/pkg/database/mongo/traffic_test.go
  controllers/pkg/types/traffic.go
  controllers/resources/controllers/network_controller.go
  controllers/resources/deploy/manifests/deploy.yaml
  controllers/resources/main.go
  service/account/api/admin.go
  service/account/api/api.go
  service/account/api/flush.go
  service/account/helper/common.go
  service/account/router/router.go
Labels: size/XXL, area/cloud, area/test

#5615 fix: Unsynchronized backup settings
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/src/pages/api/migrate/createDump.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupTable.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/utils/i18n-client.ts
Labels: size/L, area/frontend

#5645 filter normal namespaces for the metering controller and reduce inval…
  controllers/resources/controllers/monitor_controller.go
Labels: size/S, area/cloud

#5649 fix:devbox api #785b9f8
  frontend/providers/devbox/api/devbox.ts
Labels: size/M, area/frontend

#5650 refactor: launchpad configmap logic
  frontend/providers/applaunchpad/src/pages/_document.tsx
  frontend/providers/applaunchpad/src/pages/api/checkReady.ts
  frontend/providers/applaunchpad/src/pages/api/getAppByAppName.ts
  frontend/providers/applaunchpad/src/pages/app/edit/components/ConfigmapModal.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/Form.tsx
  frontend/providers/applaunchpad/src/pages/app/edit/components/StoreModal.tsx
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/applaunchpad/src/utils/deployYaml2Json.ts
  frontend/providers/applaunchpad/src/utils/tools.ts
  frontend/providers/template/src/pages/index.tsx
Labels: size/L, area/frontend

#5659 fix quota controller predicate select event devbox reason.
  controllers/resources/controllers/quota_controller.go
Labels: size/XS, area/cloud

#5660 fix: db backup status
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/backup.ts
  frontend/providers/dbprovider/src/api/db.ts
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupModal.tsx
  frontend/providers/dbprovider/src/pages/db/detail/components/BackupTable.tsx
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Labels: size/M, area/frontend

#5656 feat: launchpad support remark
  frontend/desktop/src/components/region/RegionToggle.tsx
  frontend/providers/applaunchpad/.vscode/settings.json
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/api/app.ts
  frontend/providers/applaunchpad/src/components/apps/appList.tsx
  frontend/providers/applaunchpad/src/constants/account.ts
  frontend/providers/applaunchpad/src/pages/api/getApps.ts
  frontend/providers/applaunchpad/src/pages/api/pauseApp.ts
  frontend/providers/applaunchpad/src/pages/api/platform/authCname.ts
  frontend/providers/applaunchpad/src/pages/api/remark.ts
  frontend/providers/applaunchpad/src/pages/api/v1alpha/updateReplica.ts
  frontend/providers/applaunchpad/src/types/app.d.ts
  frontend/providers/applaunchpad/src/utils/adapt.ts
  frontend/providers/template/public/locales/en/common.json
  frontend/providers/template/public/locales/zh/common.json
Labels: size/XL, area/frontend

#5626 feat：add openapi to mcp sdk.
  frontend/Dockerfile
  frontend/package.json
  frontend/packages/driver/package.json
  frontend/packages/mcp-sdk/.gitignore
  frontend/packages/mcp-sdk/package.json
  frontend/packages/mcp-sdk/rollup.config.js
  frontend/packages/mcp-sdk/src/httprequest.ts
  frontend/packages/mcp-sdk/src/index.ts
  frontend/packages/mcp-sdk/src/openapi.ts
  frontend/packages/mcp-sdk/src/sdk.ts
  frontend/packages/mcp-sdk/tsconfig.json
  frontend/packages/ui/package.json
  frontend/pnpm-lock.yaml
  frontend/providers/devbox/app/api/mcp/route.ts
  frontend/providers/devbox/package.json
  frontend/providers/devbox/public/devbox.json
  frontend/providers/devbox/tsconfig.json
Labels: size/XL, area/frontend

#5658 add: gtm
  frontend/desktop/src/components/AppDock/index.tsx
  frontend/desktop/src/components/v2/EmailCheck.tsx
  frontend/desktop/src/components/v2/Sign.tsx
  frontend/desktop/src/components/v2/SignLayout.tsx
  frontend/desktop/src/pages/_document.tsx
  frontend/desktop/src/pages/api/auth/info.ts
  frontend/desktop/src/pages/callback.tsx
  frontend/desktop/src/pages/index.tsx
  frontend/desktop/src/pages/signin.tsx
  frontend/desktop/src/types/index.ts
  frontend/desktop/src/types/system.ts
  frontend/desktop/src/utils/gtm.ts
  frontend/providers/costcenter/src/components/RechargeModal.tsx
  frontend/providers/costcenter/src/pages/_document.tsx
  frontend/providers/costcenter/src/pages/api/platform/getAppConfig.ts
  frontend/providers/costcenter/src/pages/cost_overview/index.tsx
  frontend/providers/costcenter/src/pages/index.tsx
  frontend/providers/costcenter/src/stores/recharge.ts
  frontend/providers/costcenter/src/types/config.ts
  frontend/providers/costcenter/src/types/index.ts
  frontend/providers/costcenter/src/utils/gtm.ts
Labels: size/XL, area/frontend

#5655 fix(devbox/extension): cursor 1.0 extension compatibility bug
  extensions/ide/vscode/devbox/l10n/bundle.l10n.zh-CN.json
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/src/commands/remoteConnector.ts
Labels: size/M

#5666 feat：change devbox pod delete logic,set GracePeriod 0.
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/XS, area/cloud
