Repository labring/sealos, pull requests merged in 2025-03, with the labels that each got.

#5427 Update README.md
  README.md
Labels: size/S

#5430 feat: global log index
  service/aiproxy/model/log.go
Labels: size/M, area/cloud

#5431 feat: impl disable billing
  service/aiproxy/model/main.go
  service/aiproxy/relay/adaptor/openai/token.go
  service/aiproxy/relay/controller/image.go
  service/aiproxy/relay/controller/price.go
  service/aiproxy/relay/controller/rerank.go
  service/aiproxy/relay/controller/stt.go
  service/aiproxy/relay/controller/text.go
  service/aiproxy/relay/controller/tts.go
Labels: size/M, area/cloud

#5434 feat: async clean log
  service/aiproxy/common/config/config.go
  service/aiproxy/controller/channel.go
  service/aiproxy/controller/group.go
  service/aiproxy/controller/modelconfig.go
  service/aiproxy/controller/token.go
  service/aiproxy/controller/utils.go
  service/aiproxy/main.go
  service/aiproxy/model/channel.go
  service/aiproxy/model/consumeerr.go
  service/aiproxy/model/group.go
  service/aiproxy/model/log.go
  service/aiproxy/model/modelconfig.go
  service/aiproxy/model/option.go
  service/aiproxy/model/token.go
  service/aiproxy/model/utils.go
Labels: size/L, area/cloud

#5435 feat: relay retry ignore forbidden channel
  service/aiproxy/controller/relay.go
  service/aiproxy/middleware/utils.go
  service/aiproxy/relay/meta/meta.go
Labels: size/L, area/cloud

#5436 Update README
  README.md
Labels: size/S

#5437 fix repetitive execution
  controllers/account/controllers/billing_controller.go
Labels: size/XS, area/cloud

#5440 fix: template yaml separator regex
  frontend/providers/template/src/utils/json-yaml.ts
Labels: size/XS, area/frontend

#5408 send exception email
  service/exceptionmonitor/helper/monitor/database_performance_monitor.go
  service/exceptionmonitor/helper/notification/sms.go
  service/exceptionmonitor/helper/notification/sms_email.go
Labels: size/L, area/cloud

#5441 feat: doc2x parse pdf support
  service/aiproxy/controller/relay.go
  service/aiproxy/middleware/distributor.go
  service/aiproxy/model/cache.go
  service/aiproxy/model/owner.go
  service/aiproxy/relay/adaptor/doc2x/adaptor.go
  service/aiproxy/relay/adaptor/doc2x/constants.go
  service/aiproxy/relay/adaptor/doc2x/html2md_test.go
  service/aiproxy/relay/adaptor/doc2x/pdf.go
  service/aiproxy/relay/adaptor/interface.go
  service/aiproxy/relay/channeltype/define.go
  service/aiproxy/relay/controller/dohelper.go
  service/aiproxy/relay/controller/pdf.go
  service/aiproxy/relay/model/pdf.go
  service/aiproxy/relay/relaymode/define.go
  service/aiproxy/relay/utils/testreq.go
  service/aiproxy/router/relay.go
Labels: size/XL, area/cloud, area/test

#5446 fix(devbox): ssh script bug
  frontend/providers/devbox/constants/scripts.ts
Labels: size/XS, area/frontend

#5444 feat: update launchpad network status
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/pages/api/notification/read.ts
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/components/Icon/icons/loading.svg
  frontend/providers/applaunchpad/src/components/Icon/index.tsx
  frontend/providers/applaunchpad/src/components/app/detail/index/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/hooks/useNetworkStatus.ts
  frontend/providers/applaunchpad/src/pages/api/check-ready.ts
Labels: size/L, area/frontend

#5453 Fix doc links.
  CONTRIBUTING.md
  docs/4.0/docs/self-hosting/lifecycle-management/advanced-guide/template-function.md
  docs/4.0/i18n/zh-Hans/self-hosting/lifecycle-management/advanced-guide/template-function.md
  docs/5.0/docs/developer-guide/lifecycle-management/advanced-guide/template-function.md
  docs/5.0/i18n/zh-Hans/developer-guide/lifecycle-management/advanced-guide/template-function.md
  lifecycle/USERS.md
Labels: kind/documentation, size/S, area/cloud

#5452 feat: update devbox network status
  frontend/providers/applaunchpad/src/api/platform.ts
  frontend/providers/applaunchpad/src/components/app/detail/index/AppMainInfo.tsx
  frontend/providers/applaunchpad/src/hooks/useNetworkStatus.ts
  frontend/providers/applaunchpad/src/pages/api/check-ready.ts
  frontend/providers/applaunchpad/src/pages/api/checkReady.ts
  frontend/providers/devbox/api/platform.ts
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/MainBody.tsx
  frontend/providers/devbox/app/api/checkReady/route.ts
  frontend/providers/devbox/components/Icon/icons/loadingCircle.svg
  frontend/providers/devbox/components/Icon/index.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
Labels: size/L, area/frontend

#5433 fix: user controller with event filter.
  controllers/user/controllers/user_controller.go
  controllers/user/main.go
Labels: size/S, area/cloud

#5460 fix: devbox controller with event filter.
  controllers/devbox/cmd/main.go
  controllers/devbox/internal/controller/devbox_controller.go
Labels: size/M, area/cloud

#5457 fix the workflow's paths
  .github/workflows/e2e_test_core.yml
  .github/workflows/e2e_test_core_k3s.yml
  .github/workflows/e2e_test_image_cri_shim.yml
Labels: size/M, area/workflow

#5459 feat: Allow coupons on Stripe checkout
  controllers/pkg/pay/stripe_payment.go
Labels: size/XS, area/cloud

#5454 add lifecycle readme
  lifecycle/README.md
Labels: size/M

#5461 Fix the CI labeler to correctly tag PRs
  .github/labeler.yml
Labels: size/M, area/workflow

#5464 feat(devbox): little address tootip and release info
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/MainBody.tsx
  frontend/providers/devbox/components/Icon/icons/arrowUpRight.svg
  frontend/providers/devbox/components/Icon/icons/ellipse.svg
  frontend/providers/devbox/components/Icon/icons/help.svg
  frontend/providers/devbox/components/Icon/icons/infoRounded.svg
  frontend/providers/devbox/components/Icon/index.tsx
  frontend/providers/devbox/components/modals/ReleaseModal.tsx
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
Labels: size/L, area/frontend

#5466 feat: trae cn support web&plugin
  extensions/ide/vscode/devbox/.prettierrc.json
  extensions/ide/vscode/devbox/CHANGELOG.md
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/src/commands/remoteConnector.ts
  extensions/ide/vscode/devbox/src/utils/handleUri.ts
  extensions/ide/vscode/devbox/src/utils/remoteSSHConfig.ts
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/stores/ide.ts
Labels: size/L, area/frontend

#5465 feat(applaunchpad): network tooltip
  frontend/providers/applaunchpad/public/locales/en/common.json
  frontend/providers/applaunchpad/public/locales/zh/common.json
  frontend/providers/applaunchpad/src/components/app/detail/index/AppMainInfo.tsx
Labels: size/M, area/frontend

#5468 fix(devbox): typo bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/MainBody.tsx
  frontend/providers/devbox/message/en.json
Labels: size/XS, area/frontend

#5489 chore(devbox): deploy yaml update
  frontend/providers/devbox/deploy/manifests/deploy.yaml.tmpl
  frontend/providers/devbox/deploy/manifests/ingress.yaml.tmpl
Labels: size/S, area/frontend

#5490 style&fix(devbox): ui adjust and network refetch bug
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/MainBody.tsx
  frontend/providers/devbox/app/api/checkReady/route.ts
  frontend/providers/devbox/components/IDEButton.tsx
Labels: size/L, area/frontend

#5471 chore: Update ReadMe
  README.md
Labels: size/M

#5491 Update README.md
  README.md
Labels: size/XS

#5443 Update README
  README.md
  README_zh.md
Labels: size/XS

#5493 refactor(i18n): improve release instruction wording in English messages
  frontend/providers/devbox/components/modals/ReleaseModal.tsx
  frontend/providers/devbox/message/en.json
Labels: size/XS, area/frontend

#5494 fix(devbox): ssh connnect info adjust
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/BasicInfo.tsx
  frontend/providers/devbox/components/modals/SshConnectModal.tsx
  frontend/providers/devbox/constants/scripts.ts
  frontend/providers/devbox/message/en.json
  frontend/providers/devbox/message/zh.json
Labels: size/M, area/frontend

#5495 fix(desktop): update-namespace-error
  frontend/desktop/src/pages/api/auth/namespace/details.ts
  frontend/desktop/src/services/backend/cronjob/deleteUserCr.ts
  frontend/desktop/src/services/backend/kubernetes/admin.ts
Labels: size/S, area/frontend

#5496 Improve UI text clarity and consistency in localization file
  frontend/providers/devbox/message/en.json
Labels: size/S, area/frontend

#5501 feat: add Open Graph meta tag for better social media sharing
  frontend/pnpm-lock.yaml
  frontend/providers/template/package.json
  frontend/providers/template/public/og.png
  frontend/providers/template/src/pages/index.tsx
Labels: size/M, area/frontend

#5504 fix(deskop): fix real name error when account is not exists
  frontend/desktop/src/components/desktop_content/index.tsx
  frontend/desktop/src/components/task/taskModal.tsx
Labels: size/M, area/frontend

#5502 fix: fix run-shell-injection in workflows
  .github/workflows/bot-cherry-pick.yml
  .github/workflows/check-coverage.yml
  .github/workflows/check-format-code.yml
  .github/workflows/check-license.yml
  .github/workflows/check-link-error.yml
  .github/workflows/ci-patch-image.yml
  .github/workflows/cloud.yml
  .github/workflows/controllers.yml
  .github/workflows/deploy-docs-preview.yml
  .github/workflows/deploy-docs-site.yml
  .github/workflows/e2e_k3s_multi_node.yml
  .github/workflows/e2e_k8s_multi_node.yml
  .github/workflows/e2e_test_core.yml
  .github/workflows/e2e_test_core_k3s.yml
  .github/workflows/frontend.yml
  .github/workflows/import-patch-image.yml
  .github/workflows/objectstorage.yaml
  .github/workflows/release.yml
  .github/workflows/services.yml
  .github/workflows/webhooks.yml
Labels: size/L, area/workflow
