Repository labring/sealos, changes with the owners that CODEOWNERS names for each.
All owners: @labring/sealos-general-reviewer, @labring/sealos-frontend-reviewer, @labring/sealos-backend-reviewer, @labring/sealos-ci-reviewer, @labring/sealos-lifecycle-reviewer, @labring/sealos-policy-reviewer

CODEOWNERS:

# Sealos CODEOWNERS

*       @labring/sealos-general-reviewer

/extensions/ @labring/sealos-frontend-reviewer
/frontend/ @labring/sealos-frontend-reviewer

/controllers/ @labring/sealos-backend-reviewer
/deploy/ @labring/sealos-ci-reviewer
/service/ @labring/sealos-backend-reviewer
/webhooks/ @labring/sealos-backend-reviewer

/lifecycle/ @labring/sealos-lifecycle-reviewer

/.chglog/ @labring/sealos-ci-reviewer
/.github/ @labring/sealos-ci-reviewer
.tagpr.json @labring/sealos-ci-reviewer
lychee.toml @labring/sealos-ci-reviewer
/scripts/ @labring/sealos-ci-reviewer

CONTRIBUTOR_LICENSE_AGREEMENT.md @labring/sealos-policy-reviewer
LICENSE.md @labring/sealos-policy-reviewer

chore: remove some unused code
  extensions/ide/vscode/devbox/.vscode/settings.json
Owners: @labring/sealos-frontend-reviewer

feat(devbox): add some ide support (#5940)
  extensions/ide/vscode/devbox/package.json
  extensions/ide/vscode/devbox/src/commands/remoteConnector.ts
  extensions/ide/vscode/devbox/src/utils/handleUri.ts
  extensions/ide/vscode/devbox/src/utils/remoteSSHConfig.ts
  frontend/providers/devbox/app/[lang]/(platform)/(home)/components/List.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/page.tsx
  frontend/providers/devbox/components/IDEButton.tsx
  frontend/providers/devbox/public/images/ide/codebuddy.svg
  frontend/providers/devbox/public/images/ide/codebuddyCN.svg
  frontend/providers/devbox/public/images/ide/kiro.svg
  frontend/providers/devbox/public/images/ide/lingma.svg
  frontend/providers/devbox/public/images/ide/qoder.svg
  frontend/providers/devbox/stores/ide.ts
Owners: @labring/sealos-frontend-reviewer

fc
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Owners: @labring/sealos-frontend-reviewer

upt
  frontend/providers/dbprovider/src/pages/api/platform/getVersion.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Owners: @labring/sealos-frontend-reviewer

feat:added addon api
  frontend/providers/dbprovider/src/api/platform.ts
  frontend/providers/dbprovider/src/pages/api/getAddonList.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Owners: @labring/sealos-frontend-reviewer

upt
  frontend/providers/dbprovider/src/pages/api/delDBByName.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/database.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Owners: @labring/sealos-frontend-reviewer

fix
  frontend/providers/dbprovider/src/pages/api/delDBByName.ts
Owners: @labring/sealos-frontend-reviewer

fix
  frontend/providers/dbprovider/src/pages/api/getAddonList.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Owners: @labring/sealos-frontend-reviewer

temp
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Owners: @labring/sealos-frontend-reviewer

fc
  frontend/providers/dbprovider/src/pages/api/createDB.ts
  frontend/providers/dbprovider/src/pages/api/delDBByName.ts
  frontend/providers/dbprovider/src/pages/api/platform/getVersion.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/services/backend/apis/create-database.ts
  frontend/providers/dbprovider/src/store/static.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/dbprovider/src/utils/tools.ts
Owners: @labring/sealos-frontend-reviewer

update
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Owners: @labring/sealos-frontend-reviewer

temp
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Owners: @labring/sealos-frontend-reviewer

upt
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Owners: @labring/sealos-frontend-reviewer

fc
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/components/Icon/icons/slider.svg
  frontend/providers/dbprovider/src/components/Icon/index.tsx
  frontend/providers/dbprovider/src/pages/api/createDB.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/services/backend/apis/create-database.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Owners: @labring/sealos-frontend-reviewer

upt
  frontend/providers/dbprovider/src/pages/api/getAddonList.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Owners: @labring/sealos-frontend-reviewer

fix
  frontend/providers/dbprovider/src/pages/api/getAddonList.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
Owners: @labring/sealos-frontend-reviewer

temp
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/components/Icon/icons/slider.svg
  frontend/providers/dbprovider/src/pages/api/createDB.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/services/backend/apis/create-database.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/types/schemas/db.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Owners: @labring/sealos-frontend-reviewer

fix:yaml
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
Owners: @labring/sealos-frontend-reviewer

feat(dbprovider): applied parameter configuration & added mysql-5.7.42 & added addon api (#5862)
  frontend/providers/dbprovider/public/locales/en/common.json
  frontend/providers/dbprovider/public/locales/zh/common.json
  frontend/providers/dbprovider/src/api/platform.ts
  frontend/providers/dbprovider/src/components/Icon/icons/slider.svg
  frontend/providers/dbprovider/src/components/Icon/index.tsx
  frontend/providers/dbprovider/src/constants/db.ts
  frontend/providers/dbprovider/src/pages/api/createDB.ts
  frontend/providers/dbprovider/src/pages/api/delDBByName.ts
  frontend/providers/dbprovider/src/pages/api/getAddonList.ts
  frontend/providers/dbprovider/src/pages/api/platform/getVersion.ts
  frontend/providers/dbprovider/src/pages/db/edit/components/Form.tsx
  frontend/providers/dbprovider/src/pages/db/edit/index.tsx
  frontend/providers/dbprovider/src/services/backend/apis/create-database.ts
  frontend/providers/dbprovider/src/store/static.ts
  frontend/providers/dbprovider/src/types/db.d.ts
  frontend/providers/dbprovider/src/types/schemas/db.ts
  frontend/providers/dbprovider/src/utils/adapt.ts
  frontend/providers/dbprovider/src/utils/database.ts
  frontend/providers/dbprovider/src/utils/json2Yaml.ts
  frontend/providers/dbprovider/src/utils/tools.ts
Owners: @labring/sealos-frontend-reviewer

fix(checker): update time synchronization check and add CockroachDB max offset configuration
  deploy/cloud/charts/database/templates/cockrachdb.yaml
  deploy/cloud/charts/database/values.yaml
  lifecycle/pkg/checker/host_checker.go
Owners: @labring/sealos-ci-reviewer, @labring/sealos-lifecycle-reviewer

fix(checker): update time synchronization check and add CockroachDB max offset configuration (#5981)
  deploy/cloud/charts/database/templates/cockrachdb.yaml
  deploy/cloud/charts/database/values.yaml
  lifecycle/pkg/checker/host_checker.go
Owners: @labring/sealos-ci-reviewer, @labring/sealos-lifecycle-reviewer

fix(kubepanel): fix Monaco Editor SSR and CDN issues
  frontend/pnpm-lock.yaml
  frontend/providers/kubepanel/next.config.js
  frontend/providers/kubepanel/package.json
  frontend/providers/kubepanel/src/components/common/editor/styled.tsx
  frontend/providers/kubepanel/src/pages/_app.tsx
Owners: @labring/sealos-frontend-reviewer

fix(kubepanel): fix Monaco Editor SSR and CDN issues (#5982)
  frontend/pnpm-lock.yaml
  frontend/providers/kubepanel/next.config.js
  frontend/providers/kubepanel/package.json
  frontend/providers/kubepanel/src/components/common/editor/styled.tsx
  frontend/providers/kubepanel/src/pages/_app.tsx
Owners: @labring/sealos-frontend-reviewer

fix: lint bug
  frontend/providers/devbox/app/api/v1/DevBox/release/route.ts
Owners: @labring/sealos-frontend-reviewer

fix(template): app card title line incorrectly wraps
  frontend/providers/template/src/pages/index.tsx
Owners: @labring/sealos-frontend-reviewer

fix(template): app card title line incorrectly wraps (#5984)
  frontend/providers/template/src/pages/index.tsx
Owners: @labring/sealos-frontend-reviewer

fix(release): update CI runner to Ubuntu 22.04
  .github/workflows/release.yml
Owners: @labring/sealos-ci-reviewer

fix(release): update CI runner to Ubuntu 22.04 (#5985)
  .github/workflows/release.yml
Owners: @labring/sealos-ci-reviewer

fix(devbox): optimize API and fix page bugs
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
  frontend/providers/devbox/app/api/v1/devbox/route.ts
Owners: @labring/sealos-frontend-reviewer

fix(devbox): optimize API and fix page bugs
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
  frontend/providers/devbox/app/api/v1/DevBox/route.ts
Owners: @labring/sealos-frontend-reviewer

Rename DevBox to temporary name
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/delete/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/delete/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/pause/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/pause/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/ports/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/ports/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/release/[tag]/deploy/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/release/[tag]/deploy/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/release/[tag]/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/release/[tag]/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/release/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/release/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/restart/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/restart/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/shutdown/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/shutdown/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/start/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/[name]/start/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/create/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/create/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/delete/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/delete/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/get/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/get/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/lifecycle/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/lifecycle/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/list/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/list/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/ports/create/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/ports/create/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/ports/remove/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/ports/remove/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/release/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/release/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/releases/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/releases/schema.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/route.ts
  frontend/providers/devbox/app/api/v1/devbox-temp/schema.ts
Owners: @labring/sealos-frontend-reviewer

fix(devbox): optimize API and fix page bugs
  frontend/providers/devbox/app/api/v1/DevBox/[name]/ports/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/route.ts
Owners: @labring/sealos-frontend-reviewer

fix(desktop): change bank input field to dropdown
  frontend/desktop/src/components/account/RealNameModal.tsx
Owners: @labring/sealos-frontend-reviewer

fix(devbox): optimize API and fix page bugs
  frontend/providers/devbox/app/api/v1/DevBox/[name]/route.ts
Owners: @labring/sealos-frontend-reviewer

Rename to devbox (lowercase)
  frontend/providers/devbox/app/api/v1/devbox/[name]/delete/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/delete/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/pause/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/pause/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/ports/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/ports/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/[tag]/deploy/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/[tag]/deploy/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/[tag]/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/[tag]/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/restart/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/restart/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/shutdown/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/shutdown/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/start/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/start/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/create/route.ts
  frontend/providers/devbox/app/api/v1/devbox/create/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/delete/route.ts
  frontend/providers/devbox/app/api/v1/devbox/delete/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/get/route.ts
  frontend/providers/devbox/app/api/v1/devbox/get/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/lifecycle/route.ts
  frontend/providers/devbox/app/api/v1/devbox/lifecycle/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/list/route.ts
  frontend/providers/devbox/app/api/v1/devbox/list/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/ports/create/route.ts
  frontend/providers/devbox/app/api/v1/devbox/ports/create/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/ports/remove/route.ts
  frontend/providers/devbox/app/api/v1/devbox/ports/remove/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/release/route.ts
  frontend/providers/devbox/app/api/v1/devbox/release/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/releases/route.ts
  frontend/providers/devbox/app/api/v1/devbox/releases/schema.ts
  frontend/providers/devbox/app/api/v1/devbox/route.ts
  frontend/providers/devbox/app/api/v1/devbox/schema.ts
Owners: @labring/sealos-frontend-reviewer

fix(desktop): change bank input field to dropdown
  frontend/desktop/src/components/account/RealNameModal.tsx
Owners: @labring/sealos-frontend-reviewer

fix(devbox): optimize API and fix page bugs
  frontend/providers/devbox/kubeconfig.yaml
Owners: @labring/sealos-frontend-reviewer

fix(devbox): optimize API and fix page bugs
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
  frontend/providers/devbox/app/[lang]/(platform)/template/components/TemplateCard.tsx
  frontend/providers/devbox/app/api/openapi/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/delete/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/delete/schema.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/pause/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/pause/schema.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/ports/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/ports/schema.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/release/[tag]/deploy/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/release/[tag]/deploy/schema.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/release/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/release/schema.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/restart/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/restart/schema.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/schema.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/shutdown/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/shutdown/schema.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/start/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/start/schema.ts
  frontend/providers/devbox/app/api/v1/DevBox/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/schema.ts
  frontend/providers/devbox/kubeconfig.yaml
Owners: @labring/sealos-frontend-reviewer

fix(devbox): optimize API and fix page bugs
  frontend/desktop/src/components/account/RealNameModal.tsx
  frontend/providers/devbox/app/[lang]/(platform)/devbox/detail/[name]/components/Network.tsx
  frontend/providers/devbox/app/api/v1/devbox/[name]/pause/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/release/[tag]/deploy/route.ts
  frontend/providers/devbox/app/api/v1/devbox/[name]/start/route.ts
  frontend/providers/devbox/app/api/v1/devbox/route.ts
Owners: @labring/sealos-frontend-reviewer

fix(devbox): optimize API and fix page bugs
  frontend/providers/devbox/app/api/openapi/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/release/[tag]/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/release/[tag]/schema.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/release/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/[name]/release/schema.ts
  frontend/providers/devbox/app/api/v1/DevBox/releases/route.ts
  frontend/providers/devbox/app/api/v1/DevBox/releases/schema.ts
Owners: @labring/sealos-frontend-reviewer
